<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Gestion Syndic</h1>
    <ul>
        <li><a routerLink="/syndic/groupements">Groupement Résidence</a></li>
        <li>Ajout</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations Groupement des résidence :</strong></div>
                <form [formGroup]="formBasic" (ngSubmit)="submit()" novalidate>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <label>Intitule groupement :</label>
                            <input type="text" class="form-control form-control-specialiser"  formControlName="intitule"
                                   [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )}"/>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-12 form-group mb-3">
                            <label>Résidences du groupement :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]="listeresidence"  [(ngModel)]="selected" multiple="true"   formControlName="residences"
                                       bindLabel="label"   placeholder="Choisir des résidneces"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('residences').hasError('required') && formBasic.get('residences').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.residences.errors || (formBasic.controls.residences.errors  && formBasic.get('residences').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-12 form-group mb-3">
                            <label>Président du groupement ( Propriétaire ) :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]=""  formControlName="president"
                                       bindLabel="label"   placeholder="Choisir un propriétaire" bindValue="value"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('president').hasError('required') && formBasic.get('president').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.president.errors || (formBasic.controls.president.errors  && formBasic.get('president').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Vice Président ( Propriétaire ) :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]=""  formControlName="vice"
                                       bindLabel="label"   placeholder="Choisir un propriétaire" bindValue="value"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('vice').hasError('required') && formBasic.get('vice').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.vice.errors || (formBasic.controls.vice.errors  && formBasic.get('vice').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Trésorerie ( Propriétaire ) :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]=""  formControlName="tresorerie"
                                       bindLabel="label"   placeholder="Choisir un propriétaire" bindValue="value"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('tresorerie').hasError('required') && formBasic.get('tresorerie').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.tresorerie.errors || (formBasic.controls.tresorerie.errors  && formBasic.get('tresorerie').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Caisse du groupement :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]="listecaisse" formControlName="caisse"
                                       bindLabel="label"   placeholder="Choisir une caisse" bindValue="value" (change)="onchangeCaisse($event)"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.caisse.errors || (formBasic.controls.caisse.errors  && formBasic.get('caisse').touched )}">
                            </ng-select>
                            <div class="invalid-feedback"
                                 *ngIf="(submitted &&  formBasic.controls.caisse.errors) || (formBasic.controls.caisse.errors  && formBasic.get('caisse').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Caisse siege :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]="listecaisseSiege" formControlName="caissesiege"
                                       bindLabel="label"   placeholder="Choisir une caisse siege" bindValue="value" [readonly]="formBasic.value.caisse != 0"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('caissesiege').hasError('required') && formBasic.get('caissesiege').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.caissesiege.errors || (formBasic.controls.caissesiege.errors  && formBasic.get('caissesiege').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button  type="button" routerLink="/syndic/groupements" class="btn btn-dark m-1">Annuler</button>
                            <button class="btn btn-outline-primary " type="submit" >Enregistrer</button>
                            <!--                            <btn-loading btnClass="btn-outline-primary "  >Enregistrer</btn-loading>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
