<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Administration</h1>
        <ul>
            <li><a [routerLink]="['/syndic/utilisateurs']">Utilisateurs</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 px-0 mb-4">
            <div class="card-body proprietaire">
                <div class="col-ms-12">

                     <!-- row filter-->
                    <div class="row" >
                        <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                            <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                        </div>
                        <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                            <button class="btn btn-primary mb-sm-0 mb-3 alignRight" title="Ajouter"
                                [routerLink]="['/syndic/ajouter-utilisateur']" *ngIf="can_add?.permission">
                                Ajouter
                            </button>

                        </div>
                    </div>

                </div>

                <div class="card" *ngIf="can_liste?.permission">
                    <div class="example-container mat-elevation-z8">
                        <mat-table class="table" [dataSource]="dataSource" matSort>
                            <!-- nomcomplet Column -->
                            <ng-container matColumnDef="nomcomplet">
                                <mat-header-cell *matHeaderCellDef>Nom & prenom</mat-header-cell>
                                <mat-cell *matCellDef="let row" title='Détails'
                                    [routerLink]="['/syndic/details-utilisateur-interne',row.id]">
                                    <span class="mobile-label mr-2"> Nom & prenom:</span>
                                    {{ row.nomComplet }}
                                </mat-cell>
                            </ng-container>
                            <!-- username Column -->
                            <ng-container matColumnDef="username">
                                <mat-header-cell *matHeaderCellDef>Nom d'utilisateur</mat-header-cell>
                                <mat-cell *matCellDef="let row" title='Détails'
                                    [routerLink]="['/syndic/details-utilisateur-interne',row.id]">
                                    <span class="mobile-label mr-2"> Nom d'utilisateur:</span>
                                    {{ row.username }}
                                </mat-cell>
                            </ng-container>
                            <!-- email Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef>Adresse Email</mat-header-cell>
                                <mat-cell *matCellDef="let row" title='Détails'
                                    [routerLink]="['/syndic/details-utilisateur-interne',row.id]">
                                    <span class="mobile-label mr-2"> Adresse Email:</span>
                                    {{ row.email }}
                                </mat-cell>
                            </ng-container>
                            <!-- proprietaire Column -->
                            <ng-container matColumnDef="telephone">
                                <mat-header-cell *matHeaderCellDef>Numéro Téléphone</mat-header-cell>
                                <mat-cell *matCellDef="let row" title='Détails'
                                    [routerLink]="['/syndic/details-utilisateur-interne',row.id]">
                                    <span class="mobile-label mr-2"> Numéro Téléphone:</span>
                                    {{ row.telephone1}}
                                </mat-cell>
                            </ng-container>
                            <!-- statut Column -->
                            <ng-container matColumnDef="statut">
                                <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-label mr-2"> Statut:</span>
                                    <span class=" badge badge-square badge-square-opacity-success m-1" *ngIf="row.active==true">Activé</span>
                                    <span class=" badge badge-square badge-square-opacity-danger m-1" *ngIf="row.active==false">Désactivé</span>
                                   
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-label mr-2"> Action:</span>
                                    <span class="fa fa-pencil-square-o primaryMaterial mr-1 mt-1"  *ngIf="can_edit?.permission" title="Modifier" [routerLink]="['/syndic/modifier-utilisateur',row.id]"></span>

                                    <span class="fa fa-power-off dangerMaterial   mr-1" title="Désactiver"     *ngIf="row.active==true && can_active?.permission" (click)="cancelUtilisateur(row.id)"></span>

                                    <span class="fa fa-power-off successMaterial  mr-1" title="Activer"  *ngIf="row.active!=true && can_active?.permission" (click)="activeUtilisateur(row.id)"></span>


                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">Aucune donnée trouvée                                   
                                </td>
                            </tr>
                        </mat-table>

                        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                            [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal user -->
<ng-template #modalLong let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter nouveau utilisateur</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations
                    utilisateur</strong></div>
            <div class="row">
                <div class="col-sm-12 form-group mb-3">
                    <label for="intitule">Nom & Prénom </label>
                    <input class="form-control" placeholder="Foulen ben Foulen" formControlName="nomComplet"
                        type="string"
                        [ngClass]="{ 'is-invalid': submitted &&  userForm.controls.nomComplet.errors || (userForm.controls.nomComplet.errors  && userForm.get('nomComplet').touched ) }">

                    <div class="invalid-feedback "
                        *ngIf="submitted &&  userForm.controls.nomComplet.errors || (userForm.controls.nomComplet.errors  && userForm.get('nomComplet').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 form-group mb-3">
                    <label for="identifiant">Identifiant </label>
                    <input class="form-control" placeholder="ex: Foulen ben Foulen" formControlName="identifiant"
                        type="string"
                        [ngClass]="{ 'is-invalid': submitted &&  userForm.controls.identifiant.errors || (userForm.controls.identifiant.errors  && userForm.get('identifiant').touched ) }">

                    <div class="invalid-feedback "
                        *ngIf="submitted &&  userForm.controls.identifiant.errors || (userForm.controls.identifiant.errors  && userForm.get('identifiant').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="profession">Profession </label>
                    <input class="form-control" placeholder="ex: Foulen ben Foulen" formControlName="profession"
                        type="string"
                        [ngClass]="{ 'is-invalid': submitted &&  userForm.controls.profession.errors || (userForm.controls.profession.errors  && userForm.get('profession').touched ) }">

                    <div class="invalid-feedback "
                        *ngIf="submitted &&  userForm.controls.profession.errors || (userForm.controls.profession.errors  && userForm.get('profession').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group mb-3">
                    <label for="intitule">Numéro de téléphone </label>
                    <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="true" [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                        [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Tunisia" [phoneValidation]="true"
                        [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National"
                        name="telephone1"
                        [ngClass]="{ 'is-invalid': submitted &&  userForm.controls.telephone1.errors || (userForm.controls.telephone1.errors  && userForm.get('telephone1').touched ) }"
                        formControlName="telephone1">
                    </ngx-intl-tel-input>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  userForm.controls.telephone1.errors || (userForm.controls.telephone1.errors  && userForm.get('telephone1').touched )">
                        <div *ngIf="userForm.controls.telephone1.errors.required">Veuillez remplir ce champs !</div>
                        <div *ngIf="userForm.controls.telephone1.errors.errors"> Veuillez respecter le format !</div>
                    </div>
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="intitule">Numéro de téléphone2 </label>
                    <ngx-intl-tel-input [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                        [enablePlaceholder]="true" [searchCountryFlag]="true"
                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                        [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Tunisia" [phoneValidation]="true"
                        [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National"
                        name="telephone2"
                        [ngClass]="{ 'is-invalid': submitted &&  userForm.controls.telephone2.errors || (userForm.controls.telephone2.errors  && userForm.get('telephone2').touched ) }"
                        formControlName="telephone2">
                    </ngx-intl-tel-input>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  userForm.controls.telephone2.errors || (userForm.controls.telephone2.errors  && userForm.get('telephone2').touched )">
                        <div *ngIf="userForm.controls.telephone2.errors.required">Veuillez remplir ce champs !</div>
                        <div *ngIf="userForm.controls.telephone2.errors.errors"> Veuillez respecter le format !</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group mb-3">
                    <label for="type">Type utilisateur (*)</label>
                    <ng-select [items]="typeUser" formControlName="type" [searchable]="true" [clearable]="true"
                        bindLabel="label" placeholder="Choisir un type" bindValue="value"
                        notFoundText="Aucune données trouver."
                        [ngClass]="{ 'is-invalid': submitted &&  userForm.controls.type.errors || (userForm.controls.type.errors  && userForm.get('type').touched ) }">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  userForm.controls.type.errors || (userForm.controls.type.errors  && userForm.get('type').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group mb-3">
                    <label for="adresse">Adresse </label>
                    <textarea class="form-control" placeholder="ex: Sousse - Tunisie" formControlName="adresse"
                        type="string">
                    </textarea>
                </div>
            </div>
            <div class="row" *ngIf="modeEdit">
                <div class="col-sm form-group mb-3">
                    <label>Photo</label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="form-control custom-file-input" #fileInput
                                        (change)="onFileChange($event)">
                                    <label *ngIf="!isFileChosen" class="custom-file-label"> Sèlectionner ...</label>
                                    <label *ngIf="isFileChosen" class="custom-file-label"> {{fileName}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i>Informations
                    Compte</strong></div>
            <div class="row">
                <div class="col-sm-6 form-group mb-3">
                    <label for="intitule">Nom d'utilisateur </label>
                    <input class="form-control" placeholder="User" formControlName="login" type="string"
                        [ngClass]="{ 'is-invalid': submitted &&  userForm.controls.login.errors || (userForm.controls.login.errors  && userForm.get('login').touched ) }">

                    <div class="invalid-feedback "
                        *ngIf="submitted &&  userForm.controls.login.errors || (userForm.controls.login.errors  && userForm.get('login').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-sm-6 form-group mb-3">
                    <label for="intitule">Adresse email </label>
                    <input class="form-control" placeholder="foulen@gmail.com" formControlName="email" type="email"
                        [ngClass]="{ 'is-invalid': submitted &&  userForm.controls.email.errors || (userForm.controls.email.errors  && userForm.get('email').touched ) }">

                    <div class="invalid-feedback "
                        *ngIf="submitted &&  userForm.controls.email.errors || (userForm.controls.email.errors  && userForm.get('email').touched )">
                        <div *ngIf="userForm.controls.email.errors.required">Veuillez remplir ce champs
                            !</div>
                        <div *ngIf="userForm.controls.email.errors.email">Invalid adresse email !</div>
                    </div>
                </div>

            </div>
            <div *ngIf="!modeEdit" class="row">
                <div class="col-sm-6 form-group mb-3">
                    <label for="password">Mot de passe</label>
                    <input class="form-control" formControlName="pwd" placeholder="ex: ******** " type="password"
                        minlength="8" id="pwd" [ngClass]="{'is-invalid': submitted && userForm.controls.pwd.errors }">
                    <div *ngIf="submitted && userForm.controls.pwd.errors" class="invalid-feedback">
                        <div *ngIf="userForm.controls.pwd.errors.required">Veuillez remplir ce
                            champs !
                        </div>
                        <div *ngIf="userForm.controls.pwd.errors.minlength">8 Caractères au minimum
                            !
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 form-group mb-3">
                    <label for="confirmpassword">Confirmation</label>
                    <input class="form-control" formControlName="confirmpassword" placeholder="ex: ******** "
                        type="password" minlength="8" id="confirmpassword"
                        [ngClass]="{'is-invalid': submitted && userForm.controls.confirmpassword.errors }">
                    <span (click)="myFunction()" class="p-viewer2">
                        <span class="fa fa-eye" aria-hidden="true"></span>
                    </span>
                    <div *ngIf="submitted && userForm.controls.confirmpassword.errors" class="invalid-feedback">

                        <div *ngIf="userForm.controls.confirmpassword.errors.mustMatch">Mots de passe ne
                            correspondent pas ! </div>
                        <div *ngIf="userForm.controls.confirmpassword.errors.required">Veuillez repmlir
                            ce
                            champs !
                        </div>
                        <div *ngIf="userForm.controls.confirmpassword.errors.minlength">8 caractères au
                            minimum
                            !
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 text-center">
                <button type="button" class="btn btn-dark m-1" (click)="modal.dismiss('Cross click')">Annuler</button>
                <button class="btn btn-outline-primary " type="submit">Enregistrer</button>
            </div>
        </form>
    </div>

</ng-template>
