<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a href="#">Configuration Type</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

   
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
             <!-- start tabset-->
            <ngb-tabset #tabset="ngbTabset" class="nav-fill">

                 <!-- generic type -->
                 
                    <ngb-tab  *ngFor="let tab of genericTypes;let i=index" >
                        <ng-template ngbTabTitle>
                            <span>{{tab.name}}</span>
                          </ng-template>
                        <ng-template ngbTabContent>
                            <div class="tab-pane active"  role="tabpanel">
                                <div class="modal-body" style="padding: 0px !important;padding-top: 15px !important;">                                
                                   <app-gen-types [code]="tab.code" [name]="tab.name"></app-gen-types>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                 
           

               
            </ngb-tabset>
             <!-- end of tabset-->
        </div>
    </div>

</div><!-- fin class-->
