<div class="row mx-0" *ngIf="modemobile">
    <!-- video admin mode visioconférance-->
    <div (click)="clickshow=!clickshow" class="col px-0 w-100 borderRadiusCard" id="videos-container">
        <!-- <iframe class="embed-responsive-item"  width="100%"  allowfullscreen></iframe> -->
        <video class="videomobile" id="main-video" width="100%" height="800px" controls playsinline autoplay></video>
    </div>
    <div style="bottom: 0px;border-radius: 10px 10px 0px 0px;z-index: 10000;" class="col mx-0 position-fixed bg-default">
        <div class="row justify-content-center mb-2 mx-0" (click)="clickshow=!clickshow">
            <i class="i-Arrow-Up "></i>
        </div>
        <div class="row mb-3 mx-0">
            <div class="col-3 text-center p-2" >
                <span class="fa fa-volume-up"  aria-hidden="true"></span>
            </div>
            <div class="col-3 text-center p-2 " (click)="closevideo()">
                <span class="fa fa-video-camera" aria-hidden="true"></span>
            </div>
            <div class="col-3 text-center p-2 " (click)="mutemyaudio()">
                <span class="fa fa-microphone-slash"  [ngStyle]="{'color':muteownaudio==true ? '#565555c7':'#282d3b' }" aria-hidden="true"></span>
                <!-- <i class="i-Microphone-3" ></i> -->
            </div>
            <div class="col-3 text-center p-2 " (click)="closeallroom()">
                <!-- <span class="fa fa-volume-up" aria-hidden="true"></span> -->
                <span class="rounded stylePhone"> <span class="fa fa-phone fa-rotate-90"></span></span>
            </div>
        </div>

        <div [@openClose]="clickshow ? true : false" class="row mt-3 mb-3 mx-2">
            <div class="col-6 p-1 details mb-4">
                <p class="font-weight-bold text-primary mb-1"><i class="i-Cursor-Click-2 text-16 mr-1"></i>
                    Objet</p>
                <span>{{reunion.objet}}</span>
            </div>
            <div class="col-6 p-1 details mb-4">
                <p class="font-weight-bold text-primary mb-1"><i class="i-Male text-16 mr-1"></i>
                    Présentée par</p>
                <span>{{reunion.cbcreateur?.nomComplet}}</span>
            </div>

            <div class="col-6 p-1 details mb-4">
                <p class="font-weight-bold text-primary mb-1 text-nowrap"><i class="i-Calendar text-16 mr-1"></i>
                    Commencer le
                </p>
                <span>{{reunion.dateDebut}}</span>
            </div>
            <div class="col-6 p-1 details mb-4">
                <p class="font-weight-bold text-primary mb-1 text-nowrap"><i class="i-Over-Time-2 text-16 mr-1"></i>
                    Jusqu'à</p>
                <span>{{reunion.dateFin}}</span>
            </div>
            <div class="col-12 p-1 details mb-0">
                <p class=" w-100 font-weight-bold text-primary mb-1" (click)="shownotes=!shownotes">
                    <i class="i-Align-Justify-Right text-16 mr-1"></i>
                    Notes
                </p>
            </div>

            <div class="col-12 p-1 details mb-4" [@openClose]="shownotes ? true : false">
                <ul class="px-1" *ngFor="let itemnote of reunion?.notes; let i = index">
                    <li *ngIf="itemnote?.type?.code=='E0027'" class="row mx-0">
                        <div class="col px-0">
                            <span class="fa fa-circle" style="font-size: 10px;" aria-hidden="true"></span>
                            {{itemnote.description}}
                        </div>
                        <div *ngIf="itemnote.VStatut==2" class="col d-flex px-0">
                            <div class=" px-0 mr-1 input-group border-success rounded ">
                                <span style="border:none;font-size: 10px;"
                                    class="fa fa-thumbs-o-up yes text-success border-right border-success py-2 px-2"></span>
                                <input type="number" [value]="itemnote?.v_oui"
                                    class="bg-transparent px-2 form-control border-0" readonly />
                            </div>
                            <div class=" px-0 mr-1 input-group border-danger rounded ">
                                <span style="border:none;font-size: 10px;"
                                    class="fa fa-thumbs-o-down no  text-danger border-right border-danger py-2 px-2"></span>
                                <input type="number" [value]="itemnote?.v_non"
                                    class="bg-transparent px-2 form-control border-0 " readonly />
                            </div>
                            <div class=" px-0 input-group border-warning rounded ">
                                <span style="border:none;font-size: 10px;"
                                    class="fa fa-hand-grab-o none text-warning border-right border-warning py-2 px-2"></span>
                                <input type="number" [value]="itemnote?.v_neutre"
                                    class="bg-transparent px-2 form-control border-0 " readonly />
                            </div>
                        </div>
                        <div *ngIf="itemnote.VStatut==0 " class="col d-flex px-0">
                            Non disponible
                        </div>
                    </li>
                    <li *ngIf="itemnote?.type?.code!='E0027'" class="row mx-0">
                        <div class="col px-0">
                            <span class="fa fa-arrows" style="font-size: 10px;" aria-hidden="true"></span>
                            {{itemnote.description}}
                        </div>
                        <div class=" col d-flex px-0">
                            Note Générale
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <span (click)="showlist=!showlist" *ngIf="!showlist" class="iconrightbar position-absolute fa fa-chevron-left">
    </span>
    <span (click)="openpanel()" [ngClass]="{'chat_open':btnmsg, 'chat_close':!btnmsg}" *ngIf="!btnmsg" class=" chatbox-open iconchatrightbar position-absolute fa fa-comment">
    </span>
    <div [@rightbar]="showlist" *ngIf="showlist" style="top:0px;right:0px;height: 100%;"
        class="position-fixed col-8 px-0 mb-2 ccc">
        <div class="h-100 card" [ngClass]="{darkMode : isdarkMode , lightMode: !isdarkMode}">
            <!-- Header -->
            <div class="titleheaderCard" >
                <span (click)="showlist=!showlist"> Participants </span>
                <label class="switch switch-primary" style="float: right;font-weight: 500;"><span>Dark Mode</span>
                    <input type="checkbox" checked="darkMode" (change)="onChangeMode()"><span class="slider"></span>
                </label>
            </div>
            <!-- Chats -->
            <div style="padding: 5px 0px 0px 0px;overflow-y: scroll;height:100%;">
                <a class="message-item" style="cursor: pointer;display: flex;margin-top: 4px;"
                    *ngFor="let participant of allparticipants">
                    <div class="col-auto px-1">
                        <img *ngIf="participant?.user?.photo!=null" [src]="participant?.user?.photo"
                            class="profileImage" style="padding-top: 0px !important;">
                        <img *ngIf="participant?.user?.photo==null"
                            src="../../../../../assets/images/faces/defaultAvatar.png" class="profileImage"
                            style="padding-top: 0px !important;">
                    </div>
                    <div class="col px-1" (click)="pointageparticipant(participant.idparticipantsreunion)">
                        <p *ngIf="participant?.user" class="textColor cdresidense m-0">
                            {{participant?.user?.nomComplet}} </p>
                        <p *ngIf="!participant?.user" class="textColor cdresidense m-0"> {{participant?.email}} </p>
                        <small class="text-vert">{{participant?.residence}}</small>
                    </div>
                    <!-- [ngClass]="{'text-success' : participant?.pointage!=0 , 'text-danger': participant?.pointage==0}" -->
                    <div class="col-auto px-1" style="display: flex;">
                        <span id="{{participant?.user?.id}}"
                            class="fa fa-user-circle-o part{{participant?.user?.id}} text-16 mr-2 colorIcon"></span>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <section class="chatbox-popup chatbox-popup-mobile" [@enterAnimation]="btnmsg ? !btnmsg : ''"
        [ngStyle]="{'display': btnmsg ? 'block':'none' }"
        [ngClass]="{'chatbox-panel':!maximizewindow, 'chatbox-popup':maximizewindow}">
        <header id="headwindow" class="chatbox-popup__header"
            [ngClass]="{'chatbox-panel__header':!maximizewindow, 'chatbox-popup__header':maximizewindow}">
            <aside style="flex:3">
                <span [ngClass]="{'fa-3x':!maximizewindow, 'fa-4x':maximizewindow}" *ngIf="details?.photo==null"
                    class="fa fa-user-circle fa-4x  chatbox-popup__avatar" aria-hidden="true"></span>

                <img *ngIf="details?.photo!=null"
                    [ngClass]="{'fa-3x':!maximizewindow, 'fa-4x':maximizewindow, 'bg-danger':reunion?.statut?.code!='E0040','bg-success':reunion?.statut?.code=='E0040'}"
                    [src]="details?.photo" class=" fa-4x  chatbox-popup__avatar" />
            </aside>
            <aside style="flex:8; cursor: pointer;" (click)="btnmsg=!btnmsg">
                <h2 class="text-white ml-3 mb-0">
                    <!-- <span class="pr-2 fa fa-circle participt particip text-success"
                    style="font-size: 10px;">
                </span> -->
                    {{name_current_user}}
                </h2>
            </aside>
            <aside style="flex:1" (click)="btnmsg=!btnmsg">
                <button class="chatbox-maximize"><span class="fa fa-window-restore" aria-hidden="true"></span></button>
                <!-- <button class="btn chatbox-panel-close">
                <span class="fa fa-close" aria-hidden="true"></span></button> -->
            </aside>
        </header>
        <main class="chatbox-popup__main"
            [ngClass]="{'chatbox-panel__main':!maximizewindow, 'chatbox-popup__main':maximizewindow}">
            <div class="chat-logs" id="idscrl" #targetscroll (click)="onpanelopened()"
                [ngClass]="{'chat-logspanel':!maximizewindow, 'chat-logs':maximizewindow}">
                <div id="cm-msg-1" class="chat-msg" *ngFor="let msg of datachat;"
                    [ngClass]="{'self': msg.iduser==id_current_user, 'user': msg.iduser!=id_current_user}">
                    <div class="cm-msg-text text-justify">
                        <b><span [ngStyle]="{'color':msg.iduser!=id_current_user ? '#055aa5':'white'}"
                                style="font-weight: bold;float: left;">{{msg.nom}} :</span></b>
                        <span *ngIf="today!=(msg.cbcreation.date |
                    date:'dd/MM/yyyy')" style="font-size: x-small;float: right;color: #9c9a9a;margin-left: 5px;">
                            {{msg.cbcreation.date | date:'dd/MM/yyyy HH:mm'}}
                        </span>
                        <span *ngIf="today==(msg.cbcreation.date |
                    date:'dd/MM/yyyy')" style="font-size: x-small;float: right;color: #9c9a9a;margin-left: 5px;">
                            {{msg.cbcreation.date | date:' HH:mm'}}
                        </span>
                        <br>
                        <span class="font-weight-normal"> {{msg.message}}</span>
                        <br>

                        <span class="msg-avatar" (click)="openAttachement(msg.attachement)"
                            style="font-size: x-small;float: right;color: #8bc34a;cursor:default">
                            {{msg.filename}}
                        </span>
                    </div>
                </div>
            </div>
        </main>
        <footer class="chatbox-popup__footer"
            [ngClass]="{'chatbox-panel__footer':!maximizewindow, 'chatbox-popup__footer':maximizewindow}">
            <div class="image-upload">
                <label class="labelfile" for="datafile">
                    <aside style="flex:1;color:#888;text-align:center;">
                        <span class="fa fa-paperclip" aria-hidden="true"></span>
                        <span #labelImportchat class=""></span>
                    </aside>
                </label>
                <input id="datafile" (change)="onFileChangeChat($event.target.files)" type="file"
                    accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain">
            </div>
            <aside style="flex:10">
                <textarea class="textchat" id="mytextarea" type="text" [(ngModel)]="msgtext" (click)="textfocus()"
                    placeholder="Taper votre message..."></textarea>
            </aside>
            <aside style="flex:1;color:#888;text-align:center;">
                <span id="btn-chat-message" class="fa fa-paper-plane" (click)="ecriremessage()"
                    aria-hidden="true"></span>
            </aside>
        </footer>
    </section>
</div>
<!-- vote conferance -->
<div style="visibility:hidden;" class="votemodal  col-11 card p-0" id="modalmodalvote">
    <div style="background: #213c7f;color: white;" class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold text-white" id="exampleModalLabel">
        </h4>
        <!-- <span style="font-size: 12px;font-weight: normal;" class="pt-2 fa fa-times" (click)="closeVote()"
            aria-hidden="true"></span> -->
    </div>
    <div class="modal-body d-flex justify-content-center mx-0 text-center">
        <div class="row m-2 ">
            <div class="d-flex flex-column">
                <span id="oui" style=" font-size: 70px;"
                    class="oui fa fa-thumbs-o-up text-success rounded m-1 border-success py-2 mx-2 px-2"></span>
                <span id="oui" class="  m-1 text-20 py-2 mx-2 px-2">Oui</span>
            </div>

            <div class="d-flex flex-column">
                <span id="non" style="font-size: 70px;"
                    class="non fa fa-thumbs-o-down  text-danger rounded border-danger m-1 py-2 mx-2 px-2"></span>
                <span id="non" class="text-20 m-1 py-2 mx-2 px-2">Non </span>
            </div>

            <div class="d-flex flex-column">
                <span id="neutre" style="font-size: 70px;"
                    class="neutre fa fa-hand-grab-o text-warning rounded text-warning m-1 border-warning mx-2 py-2 px-2"></span>
                <span id="neutre" class="text-20 m-1 mx-2 py-2 px-2">Neutre</span>
            </div>
        </div>

    </div>
</div>
<!--end modal vote-->
