<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Communité</h1>
        <ul>

            <li><a routerLink="/communite/documents">Documents</a></li>
            <li *ngIf="id==0">Ajout</li>
            <li *ngIf="id!=0">Edit</li>

        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12  mb-4">

            <div class="card cardTablePadding ">
                <div class="form-group" style="display: flex;align-items: stretch; margin-top: 7px;">
                    <input class="form-control w-100 mr-2" type="search" style="height: calc(1.9695rem + 4px);"
                        placeholder="Recherche" id="Mail-rearch" [(ngModel)]="searchProduit"
                        (ngModelChange)="filterProduit()">
                    <button class="btn btn-info">
                        <span class="fa fa-search" style="font-size: 20px;" aria-hidden="true"></span>
                    </button>

                </div>

                <p-tree [value]="files1" selectionMode="single" (onNodeSelect)="nodeSelect($event)">
                    <ng-template let-node pTemplate="default">
                        <span [ngStyle]="{'color': node?.label===categorieGetDocModel?.label ? '#33b5e5' : '' }">
                            {{node?.label}}
                        </span>
                    </ng-template>
                </p-tree>
            </div>

        </div>

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12  mb-4">

            <div class="col-md-12" *ngIf="!isNodeSelected && id==0">
                <div class="card mb-4">
                    <div class="card-body">
                        <img src="../../../assets/images/messagerie/pasmsg.jpg" alt=""
                            style="display: block; width: 35%; margin: auto;">
                        <p style="text-align: center;padding: 32px;font-weight: 500;">Veuillez selectionner une
                            distination pour le document</p>

                    </div>
                </div>
            </div>



            <form [formGroup]="formBasic" (ngSubmit)="submit()" *ngIf="isNodeSelected || id!=0">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="font-weight-bold text-black " *ngIf="id==0"><strong><i class="i-Pulse"></i> Ajout Document dans {{categorieGetDocModel?.label}}:</strong></h4>
                                    <h4 class="font-weight-bold text-black " *ngIf="id!=0"><strong><i class="i-Pulse"></i> Modifier Document dans {{categorieGetDocModel?.label}}:</strong></h4>
                                </div>
                                <div class="col-md-6 text-sm-right">
                                    <div class="d-sm-flex mb-2"  >
                                        <span class="m-auto"></span>
                                        <button class="btn btn-outline-secondary mr-3 mb-sm-0 mb-3"  (click)="backToList()">Retour à la liste</button>
                                        <button class="btn btn-primary mb-sm-0 mb-3"  >Enregistrer</button>
                                    </div>
                                </div>
                            </div>
                            <div class="separator-breadcrumb border-top mb-4"></div>
            
            
                                <div class="row">
                                    <div class="col-md-12 form-group mb-2">
                                        <label >Intitule *</label>
                                        <input type="text" class="form-control"  formControlName="intitule" placeholder="Intitule" [(ngModel)]="addDocumentModel.intitule"
                                        [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )}"/>

                                        <div class="invalid-feedback "
                                             *ngIf="submitted &&  formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    </div>           
                                                 
                                </div>

                                <div class="row">
                                    <div class="col-md-12 form-group mb-2">
                                        <label >Attachement *</label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                      
                                                        <input type="file" class="form-control custom-file-input"   id="importFile" formControlName="attachement" 
                                                            (change)="onFileChange($event.target.files)"  accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain" 
                                                            [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.attachement.errors || (formBasic.controls.attachement.errors  && formBasic.get('attachement').touched )}">
                                                        <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i>Sèlectionner ...</label>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="fileName && false">
                                           {{fileName}}
                                        </div>
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  formBasic.controls.attachement.errors || (formBasic.controls.attachement.errors  && formBasic.get('attachement').touched )">
                                        Veuillez remplir ce champs !
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>


            </form>


          
       
    </div>
</div>

</div>

