


<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
    Chargement en
    cours ...
</h4>
</ngx-spinner>
<div class="modal-content">
    <div class="modal-header">
        <h4 *ngIf="cbmarq==0" class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter un emplacement</h4>
        <h4 *ngIf="cbmarq!=0" class="modal-title font-weight-bold " id="exampleModalLabel">Modifier un emplacement</h4>
        <button type="button" class="close" aria-label="Close" (click)="gotoList()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="addeditForm" (ngSubmit)="onSubmit()" class="col-md-12">
        <div class="modal-body">
          
            <div class="col-md-12 form-group mb-3">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0" >
                    <label>Intitulé (*) </label>
                    <input type="text" class="form-control form-control-specialiser" formControlName="intitule" name="intitule"
                    [ngClass]="{ 'is-invalid':(submitted &&  addeditForm.controls.intitule.errors || (addeditForm.controls.intitule.errors  && addeditForm.get('intitule').touched ) )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  addeditForm.controls.intitule.errors || (addeditForm.controls.intitule.errors  && addeditForm.get('intitule').touched )">
                        Veuillez remplir ce champs !
                    </div>
                   
                </div>

               
            </div>  
             <!--produit -->
             <div class="col-12 form-group mb-3 mb-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0" >
                    <label >Produit (*)</label>

                    <ng-select  [items]="residences"   
                                ngDefaultControl		 formControlName="produit" name="produit" [multiple]="false"   bindLabel="label" bindValue="value" (change)="getEmplacementByProduit($event)"
                                placeholder="Choisir un produit"
                                [ngClass]="{'is-invalid':submitted &&  addeditForm.controls.produit.errors || (addeditForm.controls.produit.errors  && addeditForm.get('produit').touched )}">
                    </ng-select>
                    <div class="invalid-feedback col-12"
                        *ngIf="submitted &&   addeditForm.controls.produit.errors || (addeditForm.controls.produit.errors  && addeditForm.get('produit').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>   
            
             <!--parent emplacement -->
             <div class="col-12 form-group mb-3 mb-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0" >
                    <label >Parent emplacement </label>

                    <ng-select  [items]="emplacements"   
                                ngDefaultControl		 formControlName="parent" name="parent" [multiple]="false"   bindLabel="label" bindValue="value"
                                placeholder="Choisir un parent pour un emplacement"
                               >
                    </ng-select>
                   
                </div>
            </div>   
           
           
            <!--<div class="col-md-12 form-group mb-3">
                <div class="col-sm-6 pl-0" >
                    <label>Description</label>
                    <textarea class="form-control form-control-specialiser" formControlName="description">
                    </textarea>
                </div>

            </div>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary ml-2" id="Valider" type="submit">Enregistrer</button>
            <button class="btn btn-secondary" type="button" (click)="gotoList()" >Annuler</button>
        </div>
    </form>
</div>
