<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Gestion Syndic</h1>
    <ul>
        <li><a routerLink="/syndic/proprietaires">Propriétaires</a></li>
        <li>Détails</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<!-- ***************************New styling******************************************-->
<div class="row pl-0">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 card card-appartement user-profile o-hidden mb-4 px-0">
        <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg')"></div>
        <div class="user-info">
            <label class="iconpencil" for="fileInput">
                <span class="fa fa-pencil text-primary"></span>
                <input id="fileInput" type='file' accept="image/png, image/jpeg,  image/jpg"
                    (change)="onFileChange($event.target.files)">
            </label>
            <div class="profileImage" *ngIf="proprietaire?.photo==null && url==null">{{proprietaire?.nomComplet?.charAt(0)}}</div>
            <!--<img *ngIf="proprietaire.photo==null" class="profile-picture avatar-lg mb-2 rounded-circle" src="assets/images/appartement.jpg" alt="">-->
            <img *ngIf="proprietaire?.photo!=null|| imgSrc!=null" [src]="proprietaire?.photo" class="profile-picture avatar-lg mb-2 rounded-circle">

            <p class="title-info m-0">{{proprietaire?.nomComplet}}</p>
            <!--<p class="title-info m-0 text-18">{{appartement?.residence?.intitule}}</p>-->
        </div>
        <div class="card-body card-body1 my-4">
            <div class="">
                <div class="body-cover appartement-info col-md-11">
                    <div class="appartement-residence">
                        <div class="bloc">
                            <span class="badge badge-primary "
                                *ngIf="isproprietaire && !isUserInterne">Propretaire</span>


                        </div>
                        <div class="surface">
                            <span class="badge badge-primary "
                                *ngIf="!isproprietaire && !isUserInterne">Co-Propretaire</span>

                        </div>
                        <div class="surface">
                            <label>
                                <span class="badge badge-success " *ngIf="proprietaire?.active">Active</span>
                                <span class="badge badge-danger " *ngIf="!proprietaire?.active">Inactive</span>
                            </label>

                        </div>

                    </div>
                </div>

                <div class="separator-breadcrumb separt border-top"></div>
                <div class="col-md-11 px-0 details-bien">
                    <div class="col-md pl-0 spaceBetween">
                        <div class="col-md flex-column">
                            <label class="color-label text-15">Identifiant</label>
                            <label class="color-label text-15">Email</label>
                            <label class="color-label text-15">Mobile 1</label>
                            <label class="color-label py-1 text-15">Mobile 2</label>
                        </div>
                        <div class="col-md flex-column th-right">
                            <label class="text-13">
                                {{proprietaire?.username}}
                            </label>
                            <label class="text-13">{{proprietaire?.email}}</label>
                            <label *ngIf="proprietaire?.telephone1!=null || proprietaire?.telephone1!=''"
                                class="text-13">{{proprietaire?.telephone1}}</label>
                            <label *ngIf="proprietaire?.telephone1==null || proprietaire?.telephone1==''"
                                class="text-13">Non saisie</label>
                            <label *ngIf="proprietaire?.telephone2==null || proprietaire?.telephone2==''"
                                class="text-13">{{proprietaire?.telephone2}}</label>
                            <label *ngIf="proprietaire?.telephone2!=null || proprietaire?.telephone2!=''"
                                class="text-13">Non saisie</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <span>
                            <!--<label class="color-label text-15">Informations: &nbsp;</label>-->
                            <span class="text-13">
                                <!--{{appartement?.description}}-->
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <!-- <button class="btn btn-primary" (click)="">Modifer Mot de passe</button> -->
            <h5 (click)="showcardpawwsord=!showcardpawwsord" class="link_pwd">Modifier mot de passe</h5>
        </div>
    </div>
    <div class="container col-xl-9 col-lg-9 col-md-12 col-sm-12  pr-0">

        <!-- widgets -->
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="row">
                        <div class="col-4"> <img class="icon-picture m-3" src="assets/images/solde_avance.png" alt="">
                        </div>
                        <div class="col-8 margin-auto">
                            <label class="tex-14 m-0">Avance </label>
                            <h3 class="m-0 font-weight-bold">{{proprietaire?.avance | number}} {{infoPref?.devise}}
                            </h3>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="row">
                        <div class="col-4"> <img class="icon-picture m-3" src="assets/images/appartement.jpg" alt=""
                                style="border-radius: 15px;"></div>
                        <div class="col-8 margin-auto ">
                            <label class="tex-14 m-0">Nombre de biens</label>
                            <h3 class="m-0 font-weight-bold">{{proprietaire?.objects?.length}}</h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
                <div class="card">
                    <div class="row">
                        <div class="col-4"> <img class="icon-picture m-3" src="assets/images/message.png" alt=""></div>
                        <div class="col-8 margin-auto" [routerLink]="['/communite/inbox']">
                            <label class="tex-14 m-0">Messages non lu</label>
                            <h3 class="m-0 font-weight-bold">{{ficheClient.nbreMessageNonLu}} </h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="">
            <div class="px-0 mb-4">
                <app-changepwd *ngIf="showcardpawwsord"></app-changepwd>
            </div>
            <div class=" card appartement">

                <ngb-tabset [destroyOnHide]="false" class="nav-fill">
                    <!-- Bien tab -->
                    <ngb-tab title="Biens">
                        <ng-template ngbTabContent>
                            <app-details-bien-prop></app-details-bien-prop>
                        </ng-template>
                    </ngb-tab>
                    <!-- document tab -->
                    <ngb-tab title="Documents">
                        <ng-template ngbTabContent>
                            <app-details-documents-prop></app-details-documents-prop>

                        </ng-template>
                    </ngb-tab>
                    <!-- compteurs tab -->
                    <ngb-tab title="Compteurs">
                        <ng-template ngbTabContent>
                            <app-details-compteurs-prop></app-details-compteurs-prop>
                        </ng-template>
                    </ngb-tab>
                    <!-- contrats tab -->
                    <ngb-tab title="Contrats">
                        <ng-template ngbTabContent>
                            <app-details-contrats-prop></app-details-contrats-prop>
                        </ng-template>
                    </ngb-tab>
                    <!-- solvabilité tab -->
                    <ngb-tab title="Solvabilité">
                        <ng-template ngbTabContent>

                            <div class="cover2 pt-3 pb-4">
                                <div class="mr-3 flex-line">
                                    <div class="card col-md  mx-2 mb-4">
                                        <div class="card-body">
                                            <div class="card-title m-0">Frais Syndic</div>
                                            <p class="text-small text-muted">Informations des frais syndic d'utilisateur
                                                correspondant.</p>
                                            <!-- widgets-->
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-6 col-md-6 mb-2">

                                                    <div class="rounded align-items-center color-block2"
                                                        style="text-align: center;padding: 6px !important">
                                                        <i class="i-Data-Backup text-32 mr-3"></i>
                                                        <p class="text-16 mb-1 font-weight-bold color-b2 textEllipsis">
                                                            Total Frais Courant </p>
                                                        <span>
                                                            {{ficheClient?.Frais?.TotalFraisCourant.toFixed(3)}}
                                                            {{infoPref?.devise}}
                                                        </span>

                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-md-6 mb-2">

                                                    <div class="rounded align-items-center color-block1"
                                                        style="text-align: center;padding: 6px !important">
                                                        <i class="i-Big-Data text-32 mr-3"></i>

                                                        <p class="text-16 mb-1 color-b1 font-weight-bold textEllipsis">
                                                            Total Réglement Courant
                                                        </p>
                                                        <span>
                                                            {{ficheClient?.Frais?.TotalMontantReglementsCourant.toFixed(3)}}
                                                            {{infoPref?.devise}}
                                                        </span>

                                                    </div>

                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-md-6 mb-2">

                                                    <div class="color-block3 rounded align-items-center"
                                                        style="text-align: center;padding: 6px !important">
                                                        <i class="i-Data-Cloud text-32 mr-3"></i>
                                                        <p class="text-16 mb-1 font-weight-bold textEllipsis">Total
                                                            Report</p>
                                                        <span>
                                                            {{ficheClient?.Frais?.TotalReport.toFixed(3)}}
                                                            {{infoPref?.devise}}
                                                        </span>

                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-md-6 mb-2">

                                                    <div class="color-block3 rounded align-items-center"
                                                        style="text-align: center;padding: 6px !important">
                                                        <i class="i-Data-Download text-32 mr-3"></i>
                                                        <div>
                                                            <p class="text-16 mb-1 font-weight-bold textEllipsis">Solde
                                                            </p>
                                                            <span>
                                                                {{ficheClient?.Frais?.Solde.toFixed(3)}}
                                                                {{infoPref?.devise}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </ng-template>
                    </ngb-tab>
                    <!-- reclamations tab -->
                    <ngb-tab title="Reclamations">
                        <ng-template ngbTabContent>
                            <app-details-reclamations-prop></app-details-reclamations-prop>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>

        </div>
    </div>
</div>
