

.tex-14{
    font-weight: 500;
}
.card-title{
    color: black;//#6c757d;
    font-size: 18px;
    font-weight: 500;
}

.card-text{
    font-weight: 600;
}

.myHeader{
   /* position: absolute;
    right: 0;*/
    max-width: 73px;
}




//left list of produit
ul.list-style-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mailbox .chat-scroll {
    height: calc(100vh - 100px);
}
.mailbox .message-center {
    height: 492px;
    overflow: auto !important;
    position: relative;
}
.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden!important;
    -ms-overflow-style: none;
}


.mailbox .message-center .message-item:hover {
    background: #f8f9fa;
}

.mailbox .message-center .message-item {
    border-bottom: 1px solid #e9ecef;
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}

.mailbox .message-center .message-item .mail-contnet {
    display: inline-block;
    width: 75%;
    padding-left: 10px;
    vertical-align: middle;
}

.mailbox .message-center .message-item .mail-contnet .message-title {
    margin: 5px 0 0;
}
.mailbox .message-center .message-item .message-title {
    color: #212529;
    font-weight: 500;
}

    
.profileImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #1c7fe0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
  }


  //scroll design
/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; //b5b6b66e
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;//#b5b6b66e;
    border-radius: 7px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; //grey
  }

  //search icon

  .textEllipsis{
    max-width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .text-muted{
    font-size: 13px !important;
    font-weight: 500 !important;
  }
  @media (max-width: 900px) {
    .mat-column-produit {
      padding-left: 0px;
    }
}
