<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Analytics</h1>
        <ul>
            <li><a routerLink="/">Intérrogation globale</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <!-- card entete -->
    <div class="card mb-2">
        <div class="card-body">

            <!-- search toolbar -->
            <div class="row align-items-center" style="text-align: center!important;">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12  mb-3">
                    <span class="card-title m-t-10">Période de Suivi</span>
                </div>
                <div class="col-xl col-lg col-md col-sm mb-3">
                    <input type="Date" [(ngModel)]="dateDebut" id="form_suividu" name="form[suividu]"
                        class="form-control input-inline datepicker" placeholder="DU" data-provide="datepicker"
                        data-date-format="dd-mm-yyyy" autoclose="autoclose">

                </div>
                <div class="col-xl col-lg col-md col-sm mb-3">
                    <input type="Date" [(ngModel)]="dateFin" id="form_suiviau" name="form[suiviau]"
                        class="form-control input-inline datepicker" data-provide="datepicker" placeholder="AU"
                        data-date-format="dd-mm-yyyy" autoclose="autoclose">

                </div>
                <div class="col-xl col-lg col-md col-sm mb-3">
                    <button type="submit" id="interogbtn" class="btn btn-block btn-outline-primary"
                        (click)="rechercheGlobale()">
                        <span class="fa fa-database"></span> Intérroger
                    </button>
                </div>

                <!--<div class="col-lg-3 col-12 mb-3">
                    <button style="float: right;margin-bottom: 12%;" (click)="Actualiser()" class="btn btn-outline-info"><i class="fas fa-redo"></i> Actualiser</button>
                </div>-->
            </div>
            <br>
            <!--widgets-->
            <div class="row mb-2">


                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">

                    <div class="card">
                        <div class="row">
                            <div class="col-4">
                                <img class="icon-picture m-3" src="assets/images/interrogation/recette.png" alt="">
                            </div>


                            <div class="col-8 margin-auto" style="padding: 25px;">
                                <p class="tex-14 m-0">Total Recette</p>
                                <h3 class="tex-14 m-0">{{recette}} </h3>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="card">
                        <div class="row">
                            <div class="col-4">
                                <img class="icon-picture m-3" src="assets/images/interrogation/depense.png" alt="">
                            </div>


                            <div class="col-8 margin-auto" style="padding: 25px;">
                                <p class="tex-14 m-0">Total Dépense</p>
                                <h3 class="m-0 tex-14">{{depense}} </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="card">
                        <div class="row">
                            <div class="col-4"> <img class="icon-picture m-3"
                                    src="assets/images/interrogation/solde.png" alt=""></div>
                            <div class="col-8 margin-auto" style="padding: 25px;">
                                <p class="tex-14 m-0 textEllipsis" title="Historique impayé">Total Solde</p>
                                <h3 class="m-0 tex-14">{{totalSolde}} </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="card">
                        <div class="row">
                            <div class="col-4"> <img class="icon-picture m-3"
                                    src="assets/images/interrogation/chiffreAffaire.png" alt=""></div>
                            <div class="col-8 margin-auto" style="padding: 25px;">
                                <p class="tex-14 m-0 textEllipsis" title="Nbr bien en retard">Chiffre d'affaire</p>
                                <h3 class="m-0 tex-14">{{chiffreAffaire}} </h3>
                            </div>
                        </div>
                    </div>
                </div>



            </div>


            <!-- List produit  & détail produit -->
            <div class="row mb-2">
                <!-- Left Part  -->
                <div class="col-xl-auto col-lg-auto col-md-12 col-sm-12 mb-2">
                    <div class="card">
                        <h4 class="card-title" style="padding: 22px 15px;text-align: center;">Produits</h4>
                        <ul class="mailbox list-style-none">
                            <li>
                                <div class="message-center chat-scroll ps-container ps-theme-default">
                                    <!-- Residence -->
                                    <div *ngFor="let residence of listProduit ;let i=index"
                                        [style.background-color]="i%2==0 ? '#EFEFEF' : ''">
                                        <a class="message-item" (click)="detailresidence(residence)" data-user-id="1"
                                            style="cursor: pointer;"
                                            [style.background-color]="residence?.cbmarq==currentResidence?.cbmarq ? 'aliceblue' : null">


                                            <div class="profileImage" *ngIf="residence.photo==null "
                                                style="font-size: 16px;font-weight: 500;">
                                                {{residence?.intitule?.charAt(0)}}{{residence?.intitule?.charAt(1)}}
                                            </div>
                                            <img *ngIf="residence.photo!=null" [src]="residence.photo" alt="residence"
                                                class="profileImage" style="padding-top: 0px !important;">

                                            <div class="mail-contnet">
                                                <h4 class="message-title cdresidense">{{residence.intitule}}</h4>
                                                <span class="text-muted">{{residence?.ActiveBien}} /
                                                    {{residence?.nbrAppartement}} appartements actifs</span>
                                            </div>
                                        </a>
                                    </div>



                                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Right Part  -->

                <div class="col-xl col-lg col-md col-sm">
                    <div class="card">
                        <div class="card-body">
                            <!-- List produit-->
                            <div *ngIf="viewListeOrDetailResidence">

                                <div class="row mb-2">
                                    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                                        <h4 class="card-title ">Détails produits </h4>
                                    </div>
                                    <div class="col-xl col-lg col-md col-sm pl-md-0 mb-2">
                                        <input type="search" class="form-control form-control-sm"
                                            placeholder="Chercher un produit" [(ngModel)]="searchProduit"
                                            (ngModelChange)="filterProduit()">
                                    </div>
                                </div>


                                <div class="card">
                                    <div class="example-container mat-elevation-z8">
                                        <!-- affichage table -->
                                        <mat-table class="table" [dataSource]="dataSourceProduit" sortProd>
                                            <!-- Réference  Column -->
                                            <ng-container matColumnDef="produit">
                                                <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (click)="detailresidence(row)">
                                                    <span class="mobile-label mr-2"> Produit:</span>
                                                    {{row?.intitule}}
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Recette  Column -->
                                            <ng-container matColumnDef="recette">
                                                <mat-header-cell *matHeaderCellDef>Total Recette</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (click)="detailresidence(row)">
                                                    <span class="mobile-label mr-2"> Total Recette:</span>
                                                    {{row?.detail?.recettes?.toFixed(3)}}
                                                </mat-cell>
                                            </ng-container>

                                            <!-- depense  Column -->
                                            <ng-container matColumnDef="depense">
                                                <mat-header-cell *matHeaderCellDef>Total Dépense</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (click)="detailresidence(row)">
                                                    <span class="mobile-label mr-2"> Total Dépense:</span>
                                                    {{row?.detail?.depense?.toFixed(3)}}
                                                </mat-cell>
                                            </ng-container>

                                            <!-- solde  Column -->
                                            <ng-container matColumnDef="solde">
                                                <mat-header-cell *matHeaderCellDef>Total Solde</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (click)="detailresidence(row)">
                                                    <span class="mobile-label mr-2"> Total Solde:</span>
                                                    {{row?.detail?.solde.toFixed(3)}}
                                                </mat-cell>
                                            </ng-container>

                                            <!-- C.Affaire  Column -->
                                            <ng-container matColumnDef="ca">
                                                <mat-header-cell *matHeaderCellDef>Chiffre Affaire</mat-header-cell>
                                                <mat-cell *matCellDef="let row" (click)="detailresidence(row)">
                                                    <span class="mobile-label mr-2"> Chiffre Affaire:</span>
                                                    {{row?.detail?.cap.toFixed(3)}}
                                                </mat-cell>
                                            </ng-container>


                                            <mat-header-row *matHeaderRowDef="displayedColumnsProduit"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumnsProduit"></mat-row>

                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>

                                                <td class="mat-cell" style="text-align: center" colspan="3">Aucune
                                                    donnée
                                                    trouver
                                                </td>
                                            </tr>
                                            <div *ngIf="dataSourceProduit.data?.length === 0"></div>
                                        </mat-table>

                                        <mat-paginator #paginatorProd [pageSize]="pageSize" [length]="dataSourceProduit.data.length"
                                            [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true">
                                        </mat-paginator>


                                        <!-- fin wz-->
                                    </div>
                                </div>



                            </div>

                            <!--Détails  -->

                            <div id="showdetail"
                                [hidden]="viewListeOrDetailResidence || (listDepense.length==0 && dataSourceRecette.data.length==0)">
                                <div class="row">
                                    <div class="col">
                                        <p class="card-title" style="min-width: 180px;">Détails Recettes
                                            {{currentResidence?.intitule}}</p>
                                    </div>
                                    <div class="col" style="text-align: right;">
                                        <!--<span class="fa fa-times" style="cursor: pointer;" (click)="closeDetail()" ></span>-->
                                        <span class="fa fa-window-close" style="cursor: pointer;color: #df5641;"
                                            (click)="closeDetail()"></span>

                                    </div>
                                </div>


                                <!--Détails suivi recette -->


                                <div class="table-responsive m-t-10">

                                    <!-- affichage table -->
                                    <mat-table class="table table-bordered" [dataSource]="dataSourceRecette" matSort>


                                        <!-- Réference  Column -->
                                        <ng-container matColumnDef="Appartement">
                                            <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (click)="getDetailRecette(row,modalBasic)">
                                                {{ row.intitule }} </mat-cell>
                                        </ng-container>

                                        <!-- Recette  Column -->
                                        <ng-container matColumnDef="Recette">
                                            <mat-header-cell *matHeaderCellDef>Recette</mat-header-cell>
                                            <mat-cell *matCellDef="let row" (click)="getDetailRecette(row,modalBasic)">
                                                {{ row.TotalPayed?.toFixed(3) }} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="action">
                                            <mat-header-cell *matHeaderCellDef class="myHeader">Action
                                            </mat-header-cell><!--  class="myHeader" style="max-width: 90px;" -->
                                            <mat-cell *matCellDef="let row" class="myHeader">

                                                <!-- <img src="../../../../../assets/images/Icon-info.png"
                                                    class="iconInfoSize mr-1" title="Détail"
                                                    (click)="getDetailRecette(row,modalBasic)"> -->
                                                <span class="fa fa-info-circle  mx-1" title="Détail"
                                                    (click)="getDetailRecette(row,modalBasic)"></span>
                                                <!--<button class="btn btn-outline-primary border-primary  ladda-button w-auto  mr-1" (click)="getDetailRecette(row,modalBasic)" >
                                                            <span >Détails</span>
                                                        </button>-->
                                                <!--  cancel devis -->
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" style="text-align: center" colspan="3">Aucune donnée
                                                trouver
                                            </td>
                                        </tr>
                                        <div *ngIf="dataSourceRecette.data?.length === 0"></div>
                                    </mat-table>

                                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                                                   [length]="dataSourceRecette.data.length" [showFirstLastButtons]="true"></mat-paginator>


                                    <!-- fin wz-->
                                </div>
                                <br>
                                <br>
                                <h4 class="card-title" id="detaild">Détails de Dépense {{currentResidence?.intitule}}
                                </h4>
                                <!--Détails suivi dépense -->
                                <div class="table-responsive m-t-10">

                                    <!-- affichage table -->
                                    <mat-table class="table table-bordered" [dataSource]="dataSourceDepense" sortDep>


                                        <!-- Réference  Column -->
                                        <ng-container matColumnDef="Type">
                                            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row?.typpe}} </mat-cell>
                                        </ng-container>

                                        <!-- Recette  Column -->
                                        <ng-container matColumnDef="Total Dépense">
                                            <mat-header-cell *matHeaderCellDef>Total Dépense</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row?.Montant}} </mat-cell>
                                        </ng-container>



                                        <mat-header-row *matHeaderRowDef="displayedColumnsDepense"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsDepense"></mat-row>

                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                            Aucune donnée trouver

                                        </tr>
                                        <div *ngIf="dataSourceDepense.data?.length === 0"></div>
                                    </mat-table>

                                    <mat-paginator #paginatorDep [pageSize]="pageSize"  [length]="dataSourceDepense.data.length"
                                        [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true">
                                    </mat-paginator>


                                </div>

                            </div>

                            <!-- aucune donnée-->
                            <div id="showdetail"
                                *ngIf="!viewListeOrDetailResidence && listDepense.length==0 && dataSourceRecette.data.length==0">

                                <div class="alert alert-info" role="alert"
                                    style="color: #004085;background-color: #cce5ff;border-color: #b8daff;">
                                    <strong class="text-capitalize">Info !</strong> Aucune donnée trouver

                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                        (click)="closeDetail()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>

                            </div>
                        </div>

                    </div>


                    <!-- ============================================================== -->
                    <!-- End Right Part  -->
                    <!-- ============================================================== -->
                </div>
            </div>


        </div>
    </div>




    <ng-template #modalBasic let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Liste des réglements : {{detailRecetteModel.intitule}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="table-bordred m-t-10">
                    <table class="table table-bordered table-responsive-lg table-sm" id="tabled">
                        <thead class="bg-info text-white" style="text-align: center!important;">
                            <tr>
                                <th style="padding: 0.3rem;">Année</th>
                                <th style="padding: 0.3rem;">Montant à payer</th>
                                <th style="padding: 0.3rem;">Montant payer</th>

                            </tr>
                        </thead>
                        <tbody class="border border-info tb" style="text-align: center!important;">
                            <tr *ngFor="let detail of detailRecetteModel.detail; let i=index">

                                <td>
                                    {{detail?.Annee}}
                                </td>
                                <td>
                                    {{ (+detail?.FraisReelle).toFixed(3)}}
                                </td>
                                <td>
                                    {{ (+detail?.Payed).toFixed(3) }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

    </ng-template>
