<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
    Chargement en
    cours ...
</h4>
</ngx-spinner>
<div class="modal-content">
    <div class="modal-header">
        <h4 *ngIf="!defaults.default"class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter un bloc</h4>
        <h4 *ngIf="defaults.default" class="modal-title font-weight-bold " id="exampleModalLabel">Modifier un bloc</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="blocForm" (ngSubmit)="onSubmit()" class="col-md-12">
        <div class="modal-body">

            <div class="col-md-12 form-group mb-3">
                <label>Intitule de la résidence :</label>
                <ng-select [clearable]="true" [items]="residences" formControlName="residence" [readonly]="readonly"
                    bindLabel="label" placeholder="Choisir une résidence" bindValue="value"
                    [ngClass]="{ 'is-invalid': submitted &&  blocForm.controls.residence.errors || (blocForm.controls.residence.errors  && blocForm.get('residence').touched )}">
                </ng-select>
                <div class="invalid-feedback "
                    *ngIf="submitted &&  blocForm.controls.residence.errors || (blocForm.controls.residence.errors  && blocForm.get('residence').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>
            <div class="col-md-12 form-group mb-3">
                <label>Intitule du bloc :</label>
                <input type="text" class="form-control form-control-specialiser" formControlName="intitule"
                    [ngClass]="{ 'is-invalid': submitted &&  blocForm.controls.intitule.errors || (blocForm.controls.intitule.errors  && blocForm.get('intitule').touched )}" />
                <div class="invalid-feedback "
                    *ngIf="submitted &&  blocForm.controls.intitule.errors || (blocForm.controls.intitule.errors  && blocForm.get('intitule').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>
            <div class="col-md-12 form-group mb-3">
                <label>Nombre d'appartements :</label>
                <input type="number" class="form-control form-control-specialiser"  formControlName="nbrAppartement"
                    [ngClass]="{ 'is-invalid': submitted &&  blocForm.controls.nbrAppartement.errors || (blocForm.controls.nbrAppartement.errors  && blocForm.get('nbrAppartement').touched )}" />
                <div class="invalid-feedback " *ngIf="submitted &&  blocForm.controls.nbrAppartement.errors || (blocForm.controls.nbrAppartement.errors  && blocForm.get('nbrAppartement').touched )">
                    <div *ngIf="blocForm.controls.nbrAppartement.errors.required">
                        Veuillez remplir ce champs !
                    </div>
                    <div *ngIf="blocForm.controls.nbrAppartement.errors.min">
                        Nombre minimal = 0 !
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary ml-2" id="Valider" type="submit">Enregistrer</button>
            <button class="btn btn-secondary" type="button" (click)="onClose()">Annuler</button>
        </div>
    </form>
</div>
