.colDepense{
    text-align: left!important;padding-left: 25px;font-weight: 400;
    //min-width: 186px; max-width: 186px;
   // width: 186px;
   min-width: 311px; max-width: 311px;
}

.colMois{
    text-align: center!important;font-weight: 400;border-left: 0px;
    max-width: 100px;
    //width: 100px;
    min-width: 100px;

}

.colDialog{
    min-width: 150px;
}
.fa-database{
    font-size: 20px;
}
