
<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
    Chargement en
    cours ...
</h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Analytics</h1>
    <ul>
        <li><a routerLink="/">Intérrogation Maintenance</a></li>
        <li>Liste</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="card mb-3" style="background-color: aliceblue;">
    <div class="card-body">

        <form [formGroup]="formGroupSearch" (ngSubmit)="interroger()" >

            <div class="row" data-select2-id="7">

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-3" style="margin-top: auto;">  
                    <h4 class="card-title">Produit (*)</h4>                        
                    <ng-select  [clearable]="false" [items]="residences"  formControlName="produit" name="produit" (change)="onChangeResidence(true)"
                                bindLabel="label" bindValue="value" placeholder="Veuillez choisir un produit"   >
                    </ng-select>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-3" style="margin-top: auto;">
                    <h4 class="card-title">Emplacement</h4>
                    <ng-select  [clearable]="false" [items]="emplacements"    formControlName="emplacement" name="emplacement"
                    bindLabel="label" bindValue="value" placeholder="Veuillez choisir un emplacement"    >
                    </ng-select>
                </div>
                <!---->
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 mb-3" data-select2-id="6">
                    <h4 class="card-title">Année (*)</h4>
                    <ng-select  [clearable]="false" [items]="listExercice"  bindLabel="label"  formControlName="annee" name="annee" placeholder="Veuillez choisir une année"
                        bindValue="value"  (change)="onChangeYear()"  >
                    </ng-select>  
                    
                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 mb-3" data-select2-id="6">
                    <h4 class="card-title">Mois</h4>
                    <ng-select  [clearable]="false" [items]="listMois"  bindLabel="label" formControlName="mois" name="mois"  placeholder="Veuillez choisir un mois"
                        bindValue="value"  (change)="onChangeMonth()"  >
                    </ng-select>  
                    
                </div>


                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-12 mb-3" style="margin-top: auto;">
                    <button type="submit" id="interogbtn" class="btn btn-block btn-outline-primary" 
                    [disabled]="formGroupSearch.value.produit==null || formGroupSearch.value.annee==null" >
                        <span class="fa fa-database" ></span> Intérroger
                    </button>
                </div>
            </div>

        </form>


    </div>
</div>

<!-- content-->

<div class="card">
    <div class="card-body">
            
        <div class="row" style="margin-top: 12px;" >
            <div class="col-md-12">
                <!-- table solde -->
                <div class="table-responsive m-t-10"> 
                    <!-- liste data vide -->
                    
                    <!--<ngb-alert class="alert-card mb-4"  type="info" dismissible="true" *ngIf="listData.length==0 ">
                        <strong class="text-capitalize">Information !</strong> Veuillez interroger pour consulter la liste d'interrogation de maintenance
                    </ngb-alert>-->

                   
                            <img  src="../../../assets/images/icons/maintenance.png"  *ngIf="listData.length==0 "
                                style="display: block; width: 14%; margin: auto;">
                            <p style="text-align: center; padding: 32px; font-weight: 500;" *ngIf="listData.length==0 ">
                                Veuillez interroger pour consulter la liste d'interrogation de maintenance
                            </p>
                   
                   
                               
                   <!-- interrogation par mois -->
                    <table class="table table-bordered " *ngIf="formGroupSearch.value.mois!=0 && listData.length>0">
                        <thead>
                            <!-- header -->
                            <tr>
                                <th style="min-width: 60px;"></th>
                                <th style="min-width: 60px;text-align: center;">Emplacement</th>
                                <th style="min-width: 60px;text-align: center;">Equipement</th>
                                <th style="min-width: 20px;text-align: center;">Qte</th>
                                <th style="min-width: 150px;text-align: center;">checkList</th>
                                <th style="min-width: 20px;text-align: center;" *ngFor="let day of listDaysOfMonth">{{day}}</th>
                              
                            </tr>
                        </thead>
                        <tbody class="border border-info tb">
                           
                          <ng-container *ngFor="let data of listData">
                                <tr *ngFor="let row of data |keyvalue">
                                    <td *ngFor="let col of row.value" [attr.rowSpan]="col.rowspan" style="text-align: center;vertical-align: middle;"
                                    (click)="infoColumn(col,modalLong)" [ngStyle]="{'cursor':(col.text === 'X' || col.text==='2+') ? 'pointer' : '' }">{{ col.text }}</td>
                                </tr>
                          </ng-container>
                          
                        </tbody>
                    </table>
                    <!-- interrogation par annee -->
                    <table class="table table-bordered " *ngIf="formGroupSearch.value.mois==0  && listData.length>0">
                        <thead>
                            <!-- header -->
                            <tr>
                                <th style="min-width: 60px;"></th>
                                <th style="min-width: 60px;text-align: center;">Emplacement</th>
                                <th style="min-width: 60px;text-align: center;">Equipement</th>
                                <th style="min-width: 20px;text-align: center;">Qte</th>
                                <th style="min-width: 150px;text-align: center;">checkList</th>
                                <th style="min-width: 20px;text-align: center;">JANVIER</th>
                                <th style="min-width: 20px;text-align: center;">FEVRIER</th>
                                <th style="min-width: 20px;text-align: center;">MARS</th>
                                <th style="min-width: 20px;text-align: center;">AVRIL</th>
                                <th style="min-width: 20px;text-align: center;">MAI</th>
                                <th style="min-width: 20px;text-align: center;">JUIN</th>
                                <th style="min-width: 20px;text-align: center;">JUILLET</th>
                                <th style="min-width: 20px;text-align: center;">AOUT</th>
                                <th style="min-width: 20px;text-align: center;">SEPTEMBRE</th>
                                <th style="min-width: 20px;text-align: center;">OCTOBRE</th>
                                <th style="min-width: 20px;text-align: center;">NOVEMBRE</th>
                                <th style="min-width: 20px;text-align: center;">DECEMBRE</th>
                            </tr>
                        </thead>
                        <tbody class="border border-info tb">
                           
                          <ng-container *ngFor="let data of listData">
                                <tr *ngFor="let row of data | keyvalue">
                                    <td *ngFor="let col of row.value" [attr.rowSpan]="col.rowspan" style="text-align: center;vertical-align: middle;" 
                                    (click)="infoColumn(col,modalLong)" [ngStyle]="{'cursor': (col.text === 'X' || col.text==='2+' )? 'pointer' : '' }" >{{ col.text }}</td>
                                </tr>
                          </ng-container>
                          
                        </tbody>
                    </table>


                   
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalLong let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Liste des opérations : </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="table-bordred m-t-10">
            <table class="table table-bordered table-responsive-lg table-sm" id="tabled">
                <thead class="bg-info text-white" style="text-align: center!important;">
                <tr>
                    <th class="colDialog">Produit</th>
                    <th class="colDialog">Emplacement</th>
                    <th class="colDialog">Equipement</th>
                    <th class="colDialog">Gamme opératoire</th>
                    <th class="colDialog">Date exécution</th>

                </tr>
                </thead>
                <tbody class="border border-info tb" style="text-align: center!important;">
                    <tr *ngFor="let detail of operationsListClicked; let i=index" (click)="gotoOperation(detail)" style="cursor: pointer;">
                       
                        <td>
                            {{detail?.gamme?.equipement?.produit?.intitule}}
                        </td>
                        <td>
                            {{detail?.gamme?.equipement?.emplacement?.intitule}}
                        </td>
                        <td>
                            {{detail?.gamme?.equipement?.intitule}}
                        </td>
                        <td>
                            {{detail?.gamme?.intitule}}
                        </td>
                        <td>
                            {{detail?.dateExecution?.date | date: 'dd-MM-yyyy'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </form>
    </div>
   
  </ng-template>

