<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb ">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a routerLink="/syndic/compteurs" >Compteurs</a></li>
            <li *ngIf="!modeEdit">Ajouter</li>
            <li *ngIf="modeEdit">Modifier</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="col-md-12 ">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="formBasic" (ngSubmit)="onSubmit()" class=" col-md-12">
                    <ngb-tabset #tabset="ngbTabset" class="nav-fill">
                        <ngb-tab id="info" title="Informations Compteur">
                            <ng-template ngbTabContent>
                                <div class="tab-pane active" id="litaDados" role="tabpanel">
                                    <div class="modal-body">
                                        <div>
                                            <div class=" row">
                                                <div class="col form-group mb-2">
                                                    <label class=" col-form-label  mb-0">Produit (*):</label>
                                                    <ng-select [clearable]="true" [items]="residences"
                                                               (change)="OnchangeResidence($event)" formControlName="residence"
                                                               groupBy="type" [multiple]="false" [selectableGroup]="false"
                                                               bindLabel="label" placeholder="Choisir un produit"
                                                               bindValue="value"
                                                               [ngClass]="{'is-invalid':submitted &&  formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )}">
                                                        <ng-template ng-optgroup-tmp let-item="item">
                                                            {{item.type}}
                                                        </ng-template>
                                                        <ng-template ng-option-tmp let-item="item">
                                                            {{item.label}}
                                                        </ng-template>
                                                    </ng-select>
                                                    <div class="invalid-feedback col-12"
                                                         *ngIf="submitted &&   formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>

                                                <div class="col-6 form-group  mb-2" *ngIf="typeProduit=='Résidence'">
                                                    <label class="col-form-label mb-0">Bloc:</label>
                                                    <ng-select [clearable]="true" [items]="blocs" formControlName="bloc"
                                                               [readonly]="typeProduit=='Terrain'" bindLabel="label"
                                                               placeholder="Choisir un bloc" bindValue="value"
                                                               (change)="onchange($event)"
                                                               [ngClass]="{'is-invalid':submitted &&  formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )}">
                                                    </ng-select>
                                                    <label class="col-form-label font-weight-bold pt-0 mb-0">NB: Si vous basculez par un bloc, vous perdrez la liste séléctionnée !
                                                    </label>
                                                    <div class="invalid-feedback col-12"
                                                         *ngIf="submitted &&   formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" row">
                                                <div class="col-6 form-group  mb-2">
                                                    <label class="col-form-label mb-0">Type (*):</label>
                                                    <ng-select [clearable]="true" [items]="types" formControlName="type"
                                                               bindLabel="label" placeholder="Choisir un type"
                                                               bindValue="value"
                                                               [ngClass]="{'is-invalid':submitted &&  formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )}">
                                                    </ng-select>
                                                    <div class="invalid-feedback col-12"
                                                         *ngIf="submitted &&   formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                                <div class="col-md-6 form-group mb-2">
                                                    <label class=" col-form-label mb-0">Intitule (*):</label>
                                                    <input class="form-control w-100" formControlName="numero"
                                                           placeholder="ex: ST001245300" type="text"
                                                           [ngClass]="{'is-invalid':submitted &&  formBasic.controls.numero.errors  || (formBasic.controls.numero.errors  && formBasic.get('numero').touched )}">

                                                    <div class="invalid-feedback col-12 "
                                                         *ngIf="submitted &&  formBasic.controls.numero.errors || (formBasic.controls.numero.errors  && formBasic.get('numero').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 form-group mb-3">
                                                    <label class=" col-form-label mb-0">Affecter à (*):</label>
                                                    <ng-select [clearable]="true" [items]="affecters" [readonly]="usedCompteur"
                                                               formControlName="repartition"
                                                               (change)="onchangeAffectation($event)" bindLabel="label"
                                                               placeholder="Choisir une affectation" bindValue="value"
                                                               [ngClass]="{'is-invalid':submitted &&  formBasic.controls.repartition.errors || (formBasic.controls.repartition.errors  && formBasic.get('repartition').touched )}">
                                                    </ng-select>
                                                    <div class="invalid-feedback col-12"
                                                         *ngIf="submitted &&   formBasic.controls.repartition.errors || (formBasic.controls.repartition.errors  && formBasic.get('repartition').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mb-3 pr-0 footer">
                                                <button class="btn btn-outline-dark " (click)="gotoListe()"
                                                        type="button">Annuler</button>
                                                <button class="btn btn-primary ml-2"
                                                        *ngIf="formBasic.value.repartition!=1"
                                                        type="submit">Enregistrer</button>
                                                <button class="btn btn-primary ml-2"
                                                        *ngIf="formBasic.value.repartition==1"
                                                        (click)="tabset.select('details')" type="button">Suivant</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="details" title="Détails Compteur" *ngIf="hideThisDiv || this.formBasic.value.repartition==1">
                            <ng-template ngbTabContent>
                                <div class="tab-pane active" id="litaDados1" role="tabpanel">

                                    <div *ngIf="formBasic.value.repartition==1" class="col-12 px-0 mb-3">
                                        <div class="card mb-4">
                                            <div class="card-body">

                                                <div class=" row">
                                                    <div class="col-md-12"
                                                         [class.disabled-table]="formBasic.value.repartition==1 ">
                                                        <table class="table table-hover mb-3">
                                                            <thead class="bg-gray-300">
                                                            <tr>
                                                                <th scope="col" width="5%">Sélection</th>
                                                                <th scope="col" style='text-align: center;'
                                                                    width="10%">
                                                                    Nature de
                                                                    bien</th>
                                                                <th scope="col" style='text-align: center;'
                                                                    width="10%">
                                                                    Intitule
                                                                </th>
                                                                <th scope="col" style='text-align: center;'
                                                                    width="10%">
                                                                    Pourcentage
                                                                    de paiment</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody formArrayName="lignes">
                                                            <tr *ngFor="let lig of lignes().controls; let ligIndex=index"
                                                                formGroupName="{{ligIndex}}">
                                                                <td>
                                                                    <label
                                                                            class="checkbox checkbox-outline-primary">
                                                                        <input type="checkbox" [checked]="true"
                                                                               (change)="checkCheckBoxvalue($event,ligIndex)"
                                                                               value="{{lig.get('appartement')}}"
                                                                               formControlName="selected"><span
                                                                            class="checkmark"></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" type="text"
                                                                           formControlName="nature" readonly />

                                                                </td>

                                                                <td>
                                                                    <input class="form-control"
                                                                           formControlName="intitule" type="text"
                                                                           readonly />

                                                                </td>
                                                                <td>
                                                                    <div class="input-group">
                                                                        <input id="picker1" class="form-control "
                                                                               placeholder="20%"
                                                                               formControlName="pourcentage">
                                                                        <div class="input-group-append">
                                                                            <button class="btn btn-secondary "
                                                                                    type="button">
                                                                                %
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </td>

                                                            </tr>
                                                            <tr *ngIf="lignes().controls.length == 0">
                                                                <td></td>
                                                                <td>Aucune données trouver !!</td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mb-3 pr-0 footer">
                                        <button class="btn btn-outline-dark "

                                                type="button">Annuler</button><!-- (click)="tabset.select('info');formBasic.reset();hideThisDiv=false"-->
                                        <button class="btn btn-primary mx-2" type="submit">Enregistrer</button>

                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </form>
            </div>
        </div>

    </div>
</div>
