    
    <div class="row" style="margin: 0px;">
        <div class="col-md-12 mb-4">

            <label class="switch pr-5 switch-primary mr-3" style="margin-bottom: 25px;"> Afficher les reclamations <span *ngIf="!checkedReclamation" style="top: 0;font-weight: bold;">reçus </span>  <span  *ngIf="checkedReclamation" style="top: 0;font-weight: bold;">saisie </span>
                <input type="checkbox" [checked]="checkedReclamation" (change)="onChangeSwitch()"><span class="slider"></span>
               
            </label>

            <div *ngIf="(dataSource.data==null || dataSource.data?.length==0)" class="col-12 px-0">
                <ngb-alert
                    class="alert-card alert-info mb-4 alert text-primary alert-dismissible"
                    role="alert">
                    <strong class="text-capitalize">Information !</strong> 
                    Cet utilisateur ne contient pas des reclamations !
                </ngb-alert>
            </div>

            <div class="mat-elevation-z8" *ngIf="can_liste?.permission" [hidden]="dataSource.data?.length == 0">
            <div class="responsive_table table-responsive-sm"  >

                <!-- affichage table -->
                <mat-table class="table table-striped" [dataSource]="dataSource"  matSort   >
                

                    <ng-container  matColumnDef="createur">
                        <mat-header-cell   *matHeaderCellDef >Créateur</mat-header-cell>
                        <mat-cell *matCellDef="let row"  [routerLink]="['/communite/detail-reclamation/', row?.cbmarq]" > {{ row.cbcreateur.nomComplet }} </mat-cell>
                    </ng-container>

                    <!-- Réference colis Column -->
                    <ng-container  matColumnDef="objet">
                        <mat-header-cell   *matHeaderCellDef >Objet</mat-header-cell>
                        <mat-cell *matCellDef="let row" [routerLink]="['/communite/detail-reclamation/', row?.cbmarq]" >
                           <p class="textEllipsis"  placement="bottom"  popoverTitle="Description" [ngbPopover]="row.objet"> {{ row.objet }} </p> 
                        </mat-cell>
                    </ng-container>
                

                    <!-- numero compt Column -->
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef >Description</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row" [routerLink]="['/communite/detail-reclamation/', row?.cbmarq]">
                           <p class="textEllipsis"  placement="bottom"  popoverTitle="Description" [ngbPopover]="row.description"> {{ row?.description}}</p>
                        </mat-cell>
                    </ng-container>
                
                    <!--Date Column -->
                    <ng-container matColumnDef="priorite">
                        <mat-header-cell *matHeaderCellDef >Priorite</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row" [routerLink]="['/communite/detail-reclamation/', row?.cbmarq]">
                            {{ row?.priorite}}
                        </mat-cell>
                    </ng-container>

                     <!--Date Column -->
                     <ng-container matColumnDef="statut">
                        <mat-header-cell *matHeaderCellDef >Statut</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row" [routerLink]="['/communite/detail-reclamation/', row?.cbmarq]">
                            {{ row?.statut}}
                        </mat-cell>
                    </ng-container>


                

                   

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow >
                        <td class="mat-cell" style="text-align: center" colspan="7">Aucune donnée trouver
                        </td>
                    </tr>
                    <div *ngIf="dataSource.data?.length === 0"></div>
                </mat-table>

                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" ></mat-paginator>

                
                <!-- fin test-->

            </div>
            
            </div>

        </div>
    </div>
