.afficheform {
  background: #eeeff2;
  pointer-events: none;
}
.float-right{
  float: right!important;
}
.card-profile-1 .avatar {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: auto;
  border-radius: 0% !important;
}


.gallery-wrapper {
  text-align: center;
  margin-top: 50px;
  .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
    /* width: 500px;
     height: 400px;
     border-color: #4a89ff;*/
  }
}
