<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Maintenance</h1>
    <ul>
        <li><a routerLink="/communite/reclamations">Réclamations</a></li>
        <li>Détails</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
        <div class="card mb-4"  >
            <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
                <h4 class="font-weight-bold text-black "><strong><i class="i-Pulse"></i>Informations Réclamation :</strong></h4>
            </div>

            <div class="card-body  ">
                    <div class="col-12 col-md-12 mb-4" style="width: 100%;padding-left: 0px;padding-right: 0px;">
                        <div class="p-2 rounded d-flex align-items-center bg-primary text-white">
                            <i class="i-Sand-watch-2 text-32 mr-3"></i>
                            <div>
                                <h4 class="text-18 mb-1 text-white">Statut : {{reclamation?.statut?.label}}</h4>
                                <span> Modifier le: {{reclamation.cbmodification}}</span>
                            </div>
                        </div>
                    </div>
                    
                    <h4 class="text-left mt-1 text-dark " ><span class="font-weight-bold"> Emplacement : </span> <span  class="text-center text-dark float-right"  >{{reclamation?.emplacement?.intitule}}</span></h4>
                    <h4 class="text-left mt-1 text-dark " ><span class="font-weight-bold"> Priorité : </span> <span  class="text-center badge badge-pill badge-outline-danger float-right"  >{{reclamation?.priorite}}</span></h4>
                    <h4 class="text-left mt-1 text-dark " *ngIf="reclamation?.type == 1"><span class="font-weight-bold"> Type : </span><span class="badge badge-pill badge-outline-info float-right" *ngIf="reclamation?.type == 1">Depuis Propriétaire</span></h4>
                    <h4 class="text-left mt-1 text-dark " *ngIf="reclamation?.type == 2"><span class="font-weight-bold">  Type : </span><span class="badge badge-pill badge-outline-info float-right" *ngIf="reclamation?.type != 1">Depuis Syndic</span></h4>
                    <h4 class="text-left mt-1 text-dark font-weight-bold" ><span class="font-weight-bold"> Créer par : </span> <span  class="text-center text-dark float-right">{{reclamation?.cbcreateur?.nomComplet}}</span></h4>
                    <h4 class="text-left mt-1 text-dark font-weight-bold" ><span class="font-weight-bold"> Créer le : </span><span  class="text-center text-dark float-right">{{reclamation?.cbcreation}}</span></h4>
                    <h4 class="text-left mt-1 text-dark font-weight-bold" ><span class="font-weight-bold"> Objet : </span><span  class="text-center text-dark float-right">{{reclamation?.objet}}</span></h4>
                    <p class="text-left mt-1 text-dark font-weight-bold" > Appartement(s) : </p>
                    <div *ngFor="let item of reclamation?.appartement; " >
                    <p  class="text-left mt-4 text-dark">{{item?.residence?.intitule}} - {{item?.bloc?.intitule}} - {{item?.intitule}}</p>
                    </div>
                    <p class="text-left mt-1 text-dark font-weight-bold" > Description : </p>
                    <p  class="text-left mt-4 text-dark">{{reclamation?.description}}</p>
                </div>
            </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
      
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 bm-4">
                            <h4 class="font-weight-bold text-black "><strong><i class="i-Pulse"></i> Discussion Réclamation :</strong></h4>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 bm-4">
                                <button class="btn btn-outline-primary mr-3  mb-3 alignRight" type="button" *ngIf="can_statut?.permission" [hidden]="(reclamation?.statut?.code=='E0048' || reclamation?.statut?.code=='E0049') && !isAdmin"
                                    (click)="changeStatut(2)"  ><i class="i-Loading-3"></i> Mise En Cours
                                </button>
                                <button class="btn btn-outline-primary mr-3  mb-3 alignRight" type="button" *ngIf="can_statut?.permission" [hidden]="(reclamation?.statut?.code=='E0078' || reclamation?.statut?.code=='E0049') && !isAdmin"
                                (click)="changeStatut(4)"  ><i class="i-Sand-watch"></i> Mise En attente
                                </button>
                                <button class="btn btn-success mr-3 mb-3 alignRight" type="button" *ngIf="can_statut?.permission" (click)="open(modalLong)" [hidden]="(reclamation?.statut?.code=='E0049') && !isAdmin"><i class="i-Yes"></i>
                                    Cloturer cette réclamation
                                </button>

                            
                        </div>
                    </div>
                    <div class="separator-breadcrumb border-top mb-4" *ngIf="galleryImages.length >0 "></div>
                                        
                    <div class="gallery-wrapper" *ngIf="galleryImages.length >=1 " >
                        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                    </div>

                    <div class="p-1 text-left card-footer font-weight-light mb-2 d-flex " style="background-color: transparent;">
                                    <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i>
                                        {{reclamation.nbrc}} </span>
                        <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>{{reclamation.cbmodification}}</span>
                    </div>
                    <kendo-chat
                            [messages]="feed | async"
                            [user]="user"
                            (sendMessage)="sendMessage($event)">
                        <ng-template kendoChatMessageTemplate let-message>
                            <div [innerHTML]="renderMarkdown(message.text)"></div>
                        </ng-template>
                    </kendo-chat>
                </div>
            </div>

       
    </div>
</div>

<ng-template #modalLong let-modal style="top: 427px;left: 410px;">
    <!--    <div class="modal-dialog modal-lg" >-->
    <!--        <div class="modal-content ">-->
    <div class="modal-header text-center pb-1">
        <h4 class="modal-title  font-weight-bold " id="exampleModalLabel">Voulez vous cloturer cette réclamation !<br>
            <small class="text-muted">(NB: vous pouvez attacher une image  )</small>
        </h4>

    </div>
    <div class="modal-body">
        <div>
            <div class=" row">
                <div class="col-12 form-group  mb-1">
                    <label class="col-form-label ">Attachement:</label>
                    <div class="input-group mb-3" >
                        <div class="custom-file">
                            <div class="input-group col-sm-12">
                                <div class="custom-file">
                                    <input type="file" class="form-control custom-file-input"
                                           id="importFile"
                                           (change)="onFileChange($event.target.files)"
                                           accept="image/png, image/jpeg,  image/jpg">
                                    <label class="custom-file-label" id="nomfile" #labelImport for="importFile"><i
                                            class="fas fa-search"></i>Sèlectionner une image ...</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="card card-profile-1 mb-4">
                                <!--                                    <div class="card-body text-center">-->
                                <div class="avatar box-shadow-2">
                                    <div>
                                        <img [src]="imgURL" alt="">
                                    </div>
                                </div>
                                <!--                                    </div>-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" (click)="changeStatut(3)">Confirmer</button>
        <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
    </div>
    <!--        </div>-->
    <!--    </div>-->
</ng-template>
