@media screen and (min-width: 200px) and (max-width: 992px) {
  .blocVide {
    display: none !important;
  }
}
@media (max-width: 900px) {
  .mat-column-intitule {
    padding-left: 0px;
  }
  .mobile-label {
    width: auto;
  }
}
