
<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
    cours ...
</h4>
</ngx-spinner>
<div class="modal-content">
    <div class="modal-header">
        <h4 *ngIf="cbmarq==0" class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter un équipement</h4>
        <h4 *ngIf="cbmarq!=0" class="modal-title font-weight-bold " id="exampleModalLabel">Modifier un équipement</h4>
        <button type="button" class="close" aria-label="Close" (click)="gotoListEquipement()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="col-md-12">
        <div class="modal-body">

            
            <div class="row">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">

                    <!--Intitulé -->
                  <div class="col-12 mb-2">
                      <label>Intitulé (*) </label>
                      <input type="text" class="form-control form-control-specialiser" formControlName="intitule" name="intitule"
                      [ngClass]="{ 'is-invalid': submitted &&  formGroup.controls.intitule.errors || (formGroup.controls.intitule.errors  && formGroup.get('intitule').touched )}" />
                      <div class="invalid-feedback "
                          *ngIf="submitted &&  formGroup.controls.intitule.errors || (formGroup.controls.intitule.errors  && formGroup.get('intitule').touched )">
                          Veuillez remplir ce champs !
                      </div>
                  </div>
                    <!--Famille équipement-->
                  <div class="col-12 mb-2">
                      <label >Famille équipement (*)</label>
                      <ng-select [clearable]="true" [items]="familleList" bindLabel="label" bindValue="value"
                          formControlName="famille"  name="famille" placeholder="Choisir une famille"
                          [ngClass]="{'is-invalid':submitted &&  formGroup.controls.famille.errors || (formGroup.controls.famille.errors  && formGroup.get('famille').touched )}">
                      </ng-select>
                      <div class="invalid-feedback col-12"
                          *ngIf="submitted &&   formGroup.controls.famille.errors || (formGroup.controls.famille.errors  && formGroup.get('famille').touched )">
                          Veuillez remplir ce champs !
                      </div>
                  </div>

                  <div class="col-12 mb-2">
                    <label>Quantité (*)
                        &nbsp;
                        <span class="fa fa-info-circle" style="font-size: 15px;cursor: pointer;vertical-align: middle;" (click)="infoQte(modalBasic)" title="Génération auto des équipements" *ngIf="cbmarq==0"></span>
                    </label>
                    <input type="number" class="form-control form-control-specialiser" formControlName="quantite" name="quantite"  (input)="onchangeValueQte($event.target.value)"
                    [ngClass]="{ 'is-invalid': submitted &&  formGroup.controls.quantite.errors || negatifValueQte || (formGroup.controls.quantite.errors  && formGroup.get('quantite').touched )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  formGroup.controls.quantite.errors || (formGroup.controls.quantite.errors  && formGroup.get('quantite').touched )">
                        Veuillez remplir ce champs !
                    </div>
                    <div class="invalid-feedback "
                        *ngIf="negatifValueQte">
                        Cette valeur doit être supérieur à 1 !
                    </div>


                </div>


                  <!-- description -->
                  <!--<div class="col-12 mb-2">
                      <label>Description</label>
                      <textarea class="form-control form-control-specialiser" [(ngModel)]="equipementModel.description" formControlName="description" name="description" >
                      </textarea>
                  </div>-->
              </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">


                     <!--produit -->
                    <div class="col-12 mb-2">
                        <label >Produit (*)</label>

                        <ng-select  [items]="residences"
                                    ngDefaultControl		formControlName="produit" name="produit" [multiple]="false"   bindLabel="label" bindValue="value"
                                      placeholder="Choisir un produit" (change)="OnChangeResidence($event)"
                                      [ngClass]="{'is-invalid':submitted &&  formGroup.controls.produit.errors || (formGroup.controls.produit.errors  && formGroup.get('produit').touched )}">
                        </ng-select>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formGroup.controls.produit.errors || (formGroup.controls.produit.errors  && formGroup.get('produit').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                     <!--emplacement by categorie -->
                     <div class="col-12 mb-2">
                        <label >Emplacement</label>
                        <!--<ng-select  [items]="emplacements"  [multiple]="false"    bindLabel="label" bindValue="value"  groupBy="parent"
                                    ngDefaultControl		formControlName="emplacement" name="emplacement"  placeholder="Choisir un emplacement"
                                     >
                        </ng-select>-->
                        <ng-select [items]="emplacements" formControlName="emplacement" name="emplacement"
                        bindLabel="label" placeholder="Veuillez choisir un emplacement"
                        bindValue="value"   (change)="OnChangeEmplacement($event)"
                        groupBy="parent"
                        [multiple]="false"
                        [hideSelected]="false"
                        [closeOnSelect]="true"
                        [selectableGroup]="true"
                       ><!-- [compareWith]="compareParent"  [(ngModel)]="selectedEmplacementId"-->
                        <ng-template ng-optgroup-tmp let-item="item" >
                            {{item.parent || 'Unnamed group'}}
                        </ng-template>
                        </ng-select>

                    </div>


                   <!-- attachement -->
                  <div class="col-12 mb-2">
                    <label >Attachement </label>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <div class="input-group">
                                <div class="custom-file">

                                    <input type="file" class="form-control custom-file-input"   id="importFile"
                                        (change)="onFileChange($event.target.files)" accept="*"
                                        >
                                        <!--accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain"-->
                                        <!--[ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.attachement.errors || (formBasic.controls.attachement.errors  && formBasic.get('attachement').touched )}"-->
                                    <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i>Sèlectionner ...</label>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                </div>

            </div>
                     
          

            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary ml-2" id="Valider" type="submit">Enregistrer</button>
            <button class="btn btn-secondary" type="button" (click)="gotoListEquipement()" >Annuler</button>
        </div>
    </form>
</div>





<ng-template #modalBasic let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Option de génération automatique des équipements : </h4>
      <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>-->
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <label class="switch pr-5 switch-primary mr-3"><span>Générer les équipements</span>
                    <input type="checkbox" [checked]="checkedGenEquipement" (change)="onChangeSwitch()"><span class="slider"></span>
                    <p *ngIf="!checkedGenEquipement" style="color:darkgrey"> Notice : par defaut</p>
                    <p *ngIf="checkedGenEquipement" style="color:darkgrey"> Notice : génération auto</p>
                </label>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="confirmerModal()" >Confirmer</button><!--(click)="modal.dismiss('Cross click')"-->
    </div>


  </ng-template>

