.textEllipsis{
    max-width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cardStyle{
    background-color: aliceblue;
}

.btnSave{
  background-color: #2196f3 !important;
  border: aliceblue !important;
}

.btnCancel{
  background-color: white !important;
  border: white !important;
  color: grey !important;
}