

<div class="row">
    <!-- form -->
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">

                
        <div class="card cardStyle">
            <div class="modal-header">
                <h4 *ngIf="cbmarq==0" class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter {{nameComponent}}</h4>
                <h4 *ngIf="cbmarq!=0" class="modal-title font-weight-bold " id="exampleModalLabel">Modifier {{nameComponent}}</h4>
            
            </div>
            <form [formGroup]="paramForm" (ngSubmit)="onSubmit()" class="col-md-12">
                <div class="modal-body" >
                
                    <div class="col-md-12 form-group mb-3 flex-line">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                            <label>Intitulé (*) </label>
                            <input type="text" class="form-control form-control-specialiser" formControlName="label" name="label" 
                            [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.label.errors || (paramForm.controls.label.errors  && paramForm.get('label').touched ) )}" />
                            <div class="invalid-feedback "
                                *ngIf="submitted &&  paramForm.controls.label.errors || (paramForm.controls.label.errors  && paramForm.get('label').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        
                        </div>

                    
                    </div> 
                    <div class="col-md-12 form-group mb-3 flex-line">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " >
                            <label>Style</label>                  
                            <ng-select [items]="styles" [multiple]="false" formControlName="style" name="style"
                                bindLabel="label" bindValue="value" 
                                placeholder="Choisir un style">
                            </ng-select>
                        
                        
                        </div>

                    
                    </div>          
                
                
                    <div class="col-md-12 form-group mb-3">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " >
                            <label>Description</label>
                            <textarea class="form-control form-control-specialiser" rows="2" formControlName="description" name="description">
                            </textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                                <button class="btn btn-secondary btnCancel alignRight" type="button" (click)="resetForm()" >Annuler</button>
                                <button class="btn btn-primary mr-2 btnSave alignRight" id="Valider" type="submit">Enregistrer</button>
                            </div>
                           
                        </div>
                    
                   
                    

                </div>
            </form>
        </div>

    </div>
    <!-- list -->
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

       
        <div class="row mb-4">
            <div class="col-md-12 mb-4">

                <div class="row mb-2 mt-2">

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                        <input  class="form-control"  (keyup)="applyFilter($event)" placeholder="Rechercher" #input >
                   </div>
                                  
                  
                </div>

        
                           
                            
        
                <div class="mat-elevation-z8"> <!-- *ngIf="can_liste?.permission"-->
                    <div class="responsive_table table-responsive-sm">
                        <mat-table class="table table-striped"  [dataSource]="dataSource" matSort >
                            
        
                            <!-- intitule Column -->
                            <ng-container matColumnDef="intitule">
                                <mat-header-cell *matHeaderCellDef>Intitulé</mat-header-cell>
                                <mat-cell class="text-center" *matCellDef="let row"
                                    
                                    title='Détails'>{{ row?.label }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="style">
                                <mat-header-cell *matHeaderCellDef>Style</mat-header-cell>
                                <mat-cell class="text-center" *matCellDef="let row"
                                    
                                    title='Détails'>{{ row?.style }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                                <mat-cell class="text-center" *matCellDef="let row"                                   
                                    title='Détails'>
                                    <p class="textEllipsis" placement="bottom" popoverTitle="Description" [ngbPopover]="row.description">{{ row?.description }}</p> 
                                    <p class="text"> </p> 
                                </mat-cell>
                            </ng-container>
                                                        
                            
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef style="max-width: 150px;"
                                    [hidden]="can_edit?.permission!=true && can_delete?.permission!=true">Action
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row" [hidden]="can_edit?.permission!=true && can_delete?.permission!=true" style="max-width: 150px;">

                                    <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1"  *ngIf="can_edit?.permission && !row.base" title="Modifier" 
                                    (click)="edit(row)"></span>
        
                                    <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer" *ngIf="can_delete?.permission && !row.base" (click)="confirmBox(row.cbmarq)"></span>

                                    <button class="btn btn-raised btn-raised-primary  m-1 btnSave" style="color: white;" type="button" *ngIf="row.base">type de base</button>

        
                                </mat-cell>
                            </ng-container>
        
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="5">Aucune donnée trouvée
                                </td>
                            </tr>
                            <div *ngIf="dataSource?.data?.length === 0"></div>
                        </mat-table>
        
                        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            [showFirstLastButtons]="true"></mat-paginator>
                    </div>
                </div>
            </div>
        
        </div>
    
       
    </div>
</div>






