<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Maintenance</h1>
        <ul>
            <li><a routerlink="/communite/preventif">Intervention préventive</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 mb-4">
            <!-- row filter-->
            <div class="row" *ngIf="!addViewList">
                <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                    <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                    <button class="btn btn-outline-primary mb-3 alignRight" title="Recherche Avancé"
                        (click)="rechAvance=!rechAvance">
                        <span class="fa fa-database" style="font-size: 15px;"></span> Recherche avancé
                    </button>

                </div>
            </div>

            <!-- recherche plus options-->
            <form [formGroup]="formGroupSearch" (ngSubmit)="onSubmitSearch()" *ngIf="rechAvance && !addViewList">
                <div class="modal-body" style="padding-left: 0px;padding-right: 0 px;">
                    <div class="row">

                        <!-- produit -->
                        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12 mb-3" style="margin-top: auto;">
                            <ng-select [clearable]="false" [items]="residences" formControlName="produit" name="produit"
                                (change)="onchangeProduit($event)" bindLabel="label" bindValue="value"
                                placeholder="Veuillez choisir un produit">
                            </ng-select>
                        </div>

                        <!-- statut  -->
                        <div class="col-xl-5 col-lg-5 col-md-4 col-sm-12 col-12 mb-3" style="margin-top: auto;">
                            <ng-select [clearable]="false" [items]="statutList" formControlName="statut" name="statut"
                                [readonly]="formGroupSearch.value.produit==0" bindLabel="label" bindValue="value"
                                placeholder="Veuillez choisir un statut">
                            </ng-select>

                        </div>



                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12  pr-md-0 mb-3"
                            style="margin-top: auto;">
                            <button type="submit" id="interogbtn" class="btn btn-block btn-outline-primary"
                                [disabled]="formGroupSearch.invalid">
                                Recherche
                            </button>
                        </div>




                    </div>
                </div>
            </form>



            <div class="card" *ngIf="can_liste?.permission && !addViewList">
                <div class="example-container mat-elevation-z8">

                    <!-- tableau preventif -->
                    <mat-table class="table" [dataSource]="dataSource" matSort>
                        <!-- Numéro Column -->
                        <ng-container matColumnDef="intitule">
                            <mat-header-cell [ngClass]="'th-left'" *matHeaderCellDef style="min-width: 200px;">
                                Intitulé
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" style="min-width: 200px;">
                                <span class="mobile-label mr-2"> Intitulé:</span>
                                <p class="textEllipsis" placement="bottom" popoverTitle="Intitule"
                                    [ngbPopover]="row?.gamme?.intitule"> {{row?.gamme?.intitule}} </p>

                            </mat-cell>

                        </ng-container>
                        <!-- Data Column -->
                        <ng-container matColumnDef="statut">
                            <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Statut:</span>
                                <span class=" badge badge-square badge-square-opacity-{{ row?.statut?.style }} m-1">{{
                                    row?.statut?.label }}</span>

                            </mat-cell>
                        </ng-container>

                        <!-- equipement -->
                        <ng-container matColumnDef="equipement">
                            <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef>
                                Equipement
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Equipement:</span>
                                {{ row?.gamme?.equipement?.intitule }}
                            </mat-cell>

                        </ng-container>

                        <ng-container matColumnDef="qte">
                            <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef>
                                Qte
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Quantité:</span>
                                {{ row?.gamme?.equipement?.quantite }}
                            </mat-cell>

                        </ng-container>

                        <!-- produit -->
                        <ng-container matColumnDef="produit">
                            <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef>
                                Produit
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Produit:</span>
                                {{ row?.gamme?.equipement?.produit?.intitule }}
                            </mat-cell>

                        </ng-container>
                        <!-- emplacement -->
                        <ng-container matColumnDef="emplacement">
                            <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef>
                                Emplacement
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Emplacement:</span>
                                {{ row?.gamme?.equipement?.emplacement?.intitule }}
                            </mat-cell>

                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="dateexecution">
                            <mat-header-cell *matHeaderCellDef>Date d'éxecution</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Date d'éxecution:</span>
                                {{ row?.dateExecution.date | date : 'dd-MM-yyyy' }}
                            </mat-cell>
                        </ng-container>


                        <!-- etat Column -->
                        <ng-container matColumnDef="etat">
                            <mat-header-cell *matHeaderCellDef>Etat</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Etat:</span>
                                <li class="list-group-item border-0" *ngIf="row?.etat==0"
                                    style="padding: 0px;background-color: transparent;">
                                    <span class="fa fa-circle iconCircleSize warningMaterial" aria-hidden="true"></span>
                                    En instance
                                </li>
                                <li class="list-group-item border-0" *ngIf="row?.etat==1"
                                    style="padding: 0px;background-color: transparent;">
                                    <span class="fa fa-circle iconCircleSize successMaterial" aria-hidden="true"></span>
                                    Valide
                                </li>
                                <li class="list-group-item border-0" *ngIf="row?.etat==2"
                                    style="padding: 0px;background-color: transparent;">
                                    <span class="fa fa-circle iconCircleSize dangerMaterial" aria-hidden="true"></span>
                                    Non valide
                                </li>


                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Action:</span>
                                <!-- OPERATION : 0:En Instance ; 1:Valide ; 2 : Echouer -->
                                <!-- <img src="../../../../../assets/images/Icon-info.png" class="iconInfoSize mr-1" title="Détail" *ngIf="can_detail?.permission" [routerLink]="[ '/communite/info-preventif/', row?.cbmarq  ]"> -->
                                <span class="fa fa-check-circle   mr-1"
                                    [ngClass]="{'secondaryMaterial': row?.etat==1, 'successMaterial':row?.etat!=1 }"
                                    *ngIf="can_edit?.permission" title="Valider"
                                    (click)="confirmBoxVerififer(row,'1')"></span>
                                <!-- wrench -->
                                <span class="fa fa-cog mr-1"
                                    [ngClass]="{'secondaryMaterial': row?.etat!=0, 'dangerMaterial':row?.etat==0 }"
                                    title="Corriger" *ngIf="can_edit?.permission"
                                    (click)="confirmBoxCorriger(row)"></span>
                                <span class="fa fa-info-circle mx-1" title="Détail" *ngIf="can_detail?.permission"
                                    [routerLink]="[ '/communite/info-preventif/', row?.cbmarq  ]"></span>
                                <!------------------------------->
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" style="text-align: center" colspan="8">Aucune donnée trouver
                            </td>
                        </tr>
                        <div *ngIf="dataSource.data?.length === 0"></div>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                </div>
            </div>

            <!-- ajout tâche corrective -->
            <div class="modal-content" *ngIf="addViewList">
                <div class="modal-header">
                    <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter une tâche corrective</h4>
                    <button type="button" class="close" aria-label="Close" (click)="gotoListPreventif()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="formBasic" (ngSubmit)="onSubmit()" class="col-md-12">
                    <div class="modal-body">

                        <!--responsable -->
                        <div class="col-md-12 form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">
                                <label>Responsable (*) </label>
                                <input type="text" class="form-control form-control-specialiser"
                                    formControlName="responsable" name="responsable"
                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.responsable.errors || (formBasic.controls.responsable.errors  && formBasic.get('responsable').touched )}" />
                                <div class="invalid-feedback "
                                    *ngIf="submitted &&  formBasic.controls.responsable.errors || (formBasic.controls.responsable.errors  && formBasic.get('responsable').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>

                        </div>

                        <!-- mobile -->
                        <div class="col-md-12 form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">

                                <label>Téléphone</label>
                                <input type="text" class="form-control form-control-specialiser"
                                    formControlName="telephone" name="telephone" />

                            </div>

                        </div>

                        <!-- date debut / date fin-->
                        <div class="col-md-12 form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">

                                <mat-form-field appearance="fill" style=" width: 100% !important;">
                                    <mat-label>Période du tâche</mat-label>
                                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                        <input matStartDate formControlName="datedebut"
                                            (dateChange)="startChange($event)" placeholder="Date Début">
                                        <input matEndDate formControlName="datefin" placeholder="Date Fin"
                                            (dateChange)="endChange($event)">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                    </mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                    <mat-error *ngIf="range.controls.datedebut.hasError('matStartDateInvalid')">
                                        Invalid start
                                        date</mat-error>
                                    <mat-error *ngIf="range.controls.datefin.hasError('matEndDateInvalid')">
                                        Invalid
                                        end date
                                    </mat-error>
                                </mat-form-field>
                                <div class="invalid-feedback col-12 calendrr"
                                    *ngIf="submitted &&   range.controls.datedebut.errors || (range.controls.datedebut.errors && range.get('datedebut').touched)">
                                    Veuillez remplir date debut !
                                </div>
                                <div class="invalid-feedback col-12 calendrr"
                                    *ngIf="submitted &&   range.controls.datefin.errors || (range.controls.datefin.errors && range.get('datefin').touched)">
                                    Veuillez remplir date fin !
                                </div>

                            </div>

                        </div>

                        <!-- description -->
                        <div class="col-md-12 form-group mb-3">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">
                                <label>Description (*)</label>
                                <textarea class="form-control form-control-specialiser" formControlName="description"
                                    name="description"
                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )}">
                                </textarea>

                                <div class="invalid-feedback "
                                    *ngIf="submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>

                        </div>



                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" (click)="gotoListPreventif()">Annuler</button>
                        <button class="btn btn-primary ml-2" id="Valider" type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>
            <!-- fin add operation-->
        </div>
    </div>

</div>
