.radio {
  display: inline-block !important;
  //padding-left: 50px;
}

.enInstanceEtat {
  background-color: #ff9800 !important;
}
.fa-database{
  font-size: 18px;
}
.textEllipsis {
  max-width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (max-width: 576px) {
  .textEllipsis{
    white-space: normal;
    word-wrap: break-word;
  }
}
@media (max-width: 1200px) {
  .mat-column-intitule {
    padding-left: 0px;
  }
  .mobile-label {
    width: 120px;
    display: inline-block;
    font-weight: bold;
  }
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .mat-header-row {
    display: none;
  }
  .mat-cell {
    padding-left: 0px;
  }
}
