<div class="node" cdkDrag (cdkDragMoved)="handleDragMoved($event)" [cdkDragFreeDragPosition]="{x:node.initialPosition.x - 2 ,y:node.initialPosition.y - 5}">
	<app-input-socket *ngIf="node.inputSocket"></app-input-socket>
	<div (mouseover)="mouseOver(node)" (mouseout)="mouseOut(node)">
		<div class="circle" *ngIf="node.icon!=''">
			{{node.icon}}
		</div>
<!--		[ngStyle]="{'background-color':alert.statut ===false ? '#eaf3fb' : 'white' }">-->
		<div class="circle" *ngIf="node.icon==''" [ngStyle]="{'background': ( transfert?.userSource?.id === node?.detail?.userDestination?.id && node?.id != 1 ) ||  (transfert?.userSource?.id === node?.detail?.userSource?.id && transfert?.userDestination?.id === node?.detail?.userDestination?.id) ? '#213c7f' : '#282d3b' } ">
<!--			💰-->
			<span *ngIf="node?.id == 1">
				{{node?.detail?.userSource?.nomComplet.charAt(0) | uppercase}}{{node?.detail?.userSource?.nomComplet.charAt(1)}}
			</span>
			<span *ngIf="node?.id == 2 && node?.detail?.userIntermediere">
				{{node?.detail?.userIntermediere?.nomComplet.charAt(0) | uppercase}}{{node?.detail?.userIntermediere?.nomComplet.charAt(1)}}
			</span>
			<span *ngIf="node?.id == 3 && node?.detail?.userIntermediere ">
				{{node?.detail?.userDestination?.nomComplet.charAt(0) | uppercase}}{{node?.detail?.userDestination?.nomComplet.charAt(1)}}
			</span>
			<span *ngIf="node?.id != 1 && !node?.detail?.userIntermediere ">
				{{node?.detail?.userDestination?.nomComplet.charAt(0) | uppercase}}{{node?.detail?.userDestination?.nomComplet.charAt(1)}}
			</span>
		</div>
		<div class="title">
			<span *ngIf="node?.id == 1">
				{{node?.detail?.userSource?.nomComplet}}
			</span>
			<span *ngIf="node?.id == 2 && node?.detail?.userIntermediere">
				{{node?.detail?.userIntermediere?.nomComplet}}
			</span>
			<span *ngIf="node?.id != 1 && !node?.detail?.userIntermediere ">
				{{node?.detail?.userDestination?.nomComplet}}
			</span>
			<span *ngIf="node?.id == 3 && node?.detail?.userIntermediere ">
				{{node?.detail?.userDestination?.nomComplet}}
			</span>
		</div>
	</div>
	<div>
		<div class="card popoverCard" *ngIf="changeText">	<!--*ngIf="changeText"-->
			<div class="row" style="display: initial;margin: 0px;">
				<span *ngIf="node?.id == 1" class="card-title" style="float: left;color: black;font-weight: bold;">{{currentNode?.detail?.userSource?.nomComplet}}</span>
				<span *ngIf="node?.id != 1 && !node?.detail?.userIntermediere" class="card-title" style="float: left;color: black;font-weight: bold;">{{currentNode?.detail?.userDestination?.nomComplet}}</span>
				<span *ngIf="node?.id == 2 && node?.detail?.userIntermediere" class="card-title" style="float: left;color: black;font-weight: bold;">{{currentNode?.detail?.userIntermediere?.nomComplet}}</span>
				<span *ngIf="node?.id == 3 && node?.detail?.userIntermediere" class="card-title" style="float: left;color: black;font-weight: bold;">{{currentNode?.detail?.userDestination?.nomComplet}}</span>
<!--				<p style="float: right;"><strong>Réf: </strong> <span style="color: rgb(8, 25, 104);font-weight: bold;"># {{currentNode?.detail?.reference}}</span> </p>-->
			</div>
<!--			<p>-->
<!--				<strong>Réf: </strong>-->
<!--				{{currentNode?.detail?.caisseSource?.intitule}}-->
<!--			</p>-->
			<p *ngIf="node?.id == 1">
				<strong>Caisse : </strong>
				{{currentNode?.detail?.caisseSource?.intitule}}
			</p>
			<p *ngIf="node?.id != 1 && !node?.detail?.userIntermediere">
				<strong>Caisse : </strong>
				{{currentNode?.detail?.caisseDestination?.intitule}}
			</p>
			<p *ngIf="node?.id == 3 && node?.detail?.userIntermediere">
				<strong>Caisse : </strong>
				{{currentNode?.detail?.caisseDestination?.intitule}}
			</p>
			<p *ngIf="node?.id == 2 && node?.detail?.userIntermediere">
				<strong>Transporteur</strong>
<!--				{{currentNode?.detail?.caisseDestination?.intitule}}-->
			</p>
			<p>
				<strong>Date: </strong>
				{{currentNode?.detail?.date}}
			</p>
			<p>
				<strong>Montant : </strong>
				<span style="font-weight: bold;color: black;">{{currentNode?.detail?.montant}}</span>
			</p>
	</div>
	</div>
	<app-output-socket *ngIf="node.outputSocket"></app-output-socket>
</div>

<ng-template #modalBasic let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Détail Transfert</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="form-group">
				<div class="card-title">{{currentNode?.detail?.userSource?.nomComplet}}</div>
				<p>
					<strong>Réference: </strong>
					{{currentNode?.detail?.reference}}
				</p>
				<p>
					<strong>Caisse Source: </strong>
					{{currentNode?.detail?.caisseSource?.intitule}}
				</p>
				<p>
					<strong>Caisse Destinataire: </strong>
					{{currentNode?.detail?.caisseDestination?.intitule}}
				</p>
				<p>
					<strong>Montant : </strong>
					{{currentNode?.detail?.montant}}
				</p>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('Save click')">Ok</button>
	</div>
</ng-template>



<!--<div class="node p-0" cdkDrag (cdkDragMoved)="handleDragMoved($event)" [cdkDragFreeDragPosition]="{x:node.initialPosition.x - 2 ,y:node.initialPosition.y -30}">-->
<!--	<app-input-socket *ngIf="node.inputSocket"></app-input-socket>-->
<!--	<div class="circle">-->
<!--		{{node.icon}}-->
<!--	</div>-->
<!--	<div class="title">{{node.title}}</div>-->
<!--	<app-output-socket *ngIf="node.outputSocket"></app-output-socket>>-->
<!--</div>-->
