.node {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    .circle {
      position: relative;
      display: flex;
      width: 90px;
      height: 90px;
      font-size: 34px;
      justify-content: center;
      align-items: center;
      color:white;
      border-radius: 50%;
      background: #282d3b;
      //background: #213c7f;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    .title {
      position: absolute;
      min-width: max-content;
      top: 108px;
      padding: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
      //color: rgba(255, 255, 255, 0.84);
      color: rgb(40, 45, 59);
      border-radius: 1rem;
      font-weight: bold;
    }

    .popoverCard{
      position: absolute;
      min-width: max-content;
      width: 100%;
      text-align: left;
      padding: 10px;
      top: 143px;
      left: -40px;
    }
  }
