<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Trésorerie</h1>
        <ul>
            <li><a routerLink="/syndic/caisses">Caisses</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <!-- end of row-->
            <div class="card-body caisse">
                <ngb-tabset class="nav-fill">
                    <!-- Caisse -->
                    <ngb-tab *ngIf="can_liste?.permission">
                        <ng-template ngbTabTitle>
                            <div (click)="updatetableC()">Caisse</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="card p-4">

                                <!-- row filter-->
                                <div class="row">
                                    <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                                        <input class="form-control" (keyup)="applyFilter($event)"
                                            placeholder="Rechercher" #input>
                                    </div>
                                    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                                        <button class="btn btn-primary mb-sm-0 mb-3 alignRight" title="Recherche Avancé"
                                            (click)="addCaisse(modalBasic)" *ngIf="can_add?.permission">
                                            Ajouter
                                        </button>

                                    </div>
                                </div>


                                <div class="card" *ngIf="can_liste?.permission">
                                    <div class="example-container mat-elevation-z8">
                                        <mat-table class="table" [dataSource]="dataSource" matSort>
                                            <!-- intitule Column -->
                                            <ng-container matColumnDef="intitule">
                                                <mat-header-cell *matHeaderCellDef>Caisse</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="can_detail?.permission ? ['/syndic/details-caisse',row.cbmarq] : []">
                                                    <span class="mobile-label mr-2"> Caisse:</span>
                                                    {{ row?.intitule }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- solde Column -->
                                            <ng-container matColumnDef="solde">
                                                <mat-header-cell *matHeaderCellDef>Solde</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="can_detail?.permission ? ['/syndic/details-caisse',row.cbmarq] : []">
                                                    <span class="mobile-label mr-2"> Solde:</span>
                                                    {{ row?.solde.toFixed(3) }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- bloc Column -->
                                            <ng-container matColumnDef="transfert">
                                                <mat-header-cell *matHeaderCellDef>Transfert</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="can_detail?.permission ? ['/syndic/details-caisse',row.cbmarq] : []">
                                                    <span class="mobile-label mr-2"> Transfert:</span>
                                                    {{
                                                    row?.encoursTransfert.toFixed(3)}}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- proprietaire Column -->
                                            <ng-container matColumnDef="caisseSiege">
                                                <mat-header-cell *matHeaderCellDef>Caisse Siege</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="can_detail?.permission ? ['/syndic/details-caisse',row.cbmarq] : []">
                                                    <span class="mobile-label mr-2"> Caisse Siege:</span>
                                                    <span>{{ row?.caisseSiege?.intitule}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="action">
                                                <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <span class="mobile-label mr-2"> Action:</span>
                                                    <span class="fa fa-pencil-square-o primaryMaterial mr-1 mt-1"
                                                        *ngIf="can_edit?.permission" title="Modifier"
                                                        (click)="editCaisse(modalBasic,row)"></span>

                                                    <i class="i-Add-User font-weight-bold successMaterial mr-1"
                                                        (click)="modalResponsables(modalBasic3,row.cbmarq,1)"></i>

                                                    <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                                        *ngIf="can_delete?.permission"
                                                        (click)="confirmBox(row.cbmarq)"></span>



                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell">Aucune donnée trouvée

                                                </td>
                                            </tr>
                                        </mat-table>

                                        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [length]="dataSource.data.length"
                                            [showFirstLastButtons]="true">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!-- Caisse Siège -->
                    <ngb-tab *ngIf="this.can_listeS?.permission">
                        <ng-template ngbTabTitle>
                            <div (click)="updatetableS()">Caisse Siège</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="card p-4">

                                <!-- row filter-->
                                <div class="row">
                                    <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                                        <input class="form-control" (keyup)="applyFilter($event)"
                                            placeholder="Rechercher" #input>
                                    </div>
                                    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                                        <button class="btn btn-primary mb-sm-0 mb-3 alignRight" title="Recherche Avancé"
                                            (click)="addCaisseSiege(modalBasic1)" *ngIf="can_addS?.permission">
                                            Ajouter
                                        </button>

                                    </div>
                                </div>

                                <div class="card" *ngIf="can_liste?.permission">
                                    <div class="example-container mat-elevation-z8">
                                        <mat-table class="table" [dataSource]="dataSource1" matSort>
                                            <!-- intitule Column -->
                                            <ng-container matColumnDef="intitule">
                                                <mat-header-cell *matHeaderCellDef>Caisse</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="can_detailS?.permission ? ['/syndic/details-caisseSiege',row.cbmarq] : []">
                                                    <span class="mobile-label mr-2"> Caisse:</span>
                                                    {{ row?.intitule }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- solde Column -->
                                            <ng-container matColumnDef="solde">
                                                <mat-header-cell *matHeaderCellDef>Solde</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="can_detailS?.permission ? ['/syndic/details-caisseSiege',row.cbmarq] : []">
                                                    <span class="mobile-label mr-2"> Solde:</span>
                                                    {{ row?.solde.toFixed(3) }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- Transfert Column -->
                                            <ng-container matColumnDef="transfert">
                                                <mat-header-cell *matHeaderCellDef>Transfert</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="can_detailS?.permission ? ['/syndic/details-caisseSiege',row.cbmarq] : []">
                                                    <span class="mobile-label mr-2"> Transfert:</span>
                                                    {{row?.encoursTransfert.toFixed(3)}}
                                                </mat-cell>
                                            </ng-container>

                                            <!-- (click)="getDetails(row.cbmarq)" -->
                                            <ng-container matColumnDef="action">
                                                <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <span class="mobile-label mr-2"> Action:</span>
                                                    <span class="fa fa-pencil-square-o primaryMaterial mr-1 mt-1"
                                                        *ngIf="can_editS?.permission" title="Modifier"
                                                        (click)="editCaisseSiege(modalBasic1,row.cbmarq)"></span>

                                                    <i class="i-Add-User font-weight-bold successMaterial mr-1"
                                                        (click)="modalResponsables(modalBasic3,row.cbmarq,2)"></i>

                                                    <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                                        *ngIf="can_deleteS?.permission"
                                                        (click)="confirmBoxSiege(row.cbmarq)"></span>



                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumnsSiege"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumnsSiege"></mat-row>

                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell">Aucune donnée trouvée

                                                </td>
                                            </tr>
                                        </mat-table>

                                        <mat-paginator #paginator1 [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                                            [length]="dataSource1.data.length" [showFirstLastButtons]="true">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>

        </div>
    </div>
</div>
<!-- Modal Caisse -->
<ng-template #modalBasic let-modal>
    <div class="modal-header">
        <h4 *ngIf="!modeEdit" class="modal-title font-weight-bold " id="modal-basic-title1">Ajouter une nouvelle caisse
        </h4>
        <h4 *ngIf="modeEdit" class="modal-title font-weight-bold " id="modal-basic-title1">Modifier une caisse</h4>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="formCaisse" class=" col-md-12">
        <div class="modal-body px-0">
            <div class="col-sm form-group px-0">
                <label class=" col-form-label ">Intitule </label>
                <div class="col-sm-12 px-0">
                    <input class="form-control w-100" formControlName="intitule" placeholder="ex: Caisse 1" type="text"
                        [ngClass]="{'is-invalid':submitted &&  formCaisse.controls.intitule.errors  || (formCaisse.controls.intitule.errors  && formCaisse.get('intitule').touched )}">

                </div>
                <div class="invalid-feedback col-12 "
                    *ngIf="submitted &&  formCaisse.controls.intitule.errors || (formCaisse.controls.intitule.errors  && formCaisse.get('intitule').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>
            <div class="col-sm form-group px-0">
                <label class=" col-form-label">Caisse Siège</label>
                <div class="col-sm-12 px-0">
                    <ng-select [clearable]="true" [items]="listecaissesiege" formControlName="caisseSiege"
                        bindLabel="intitule" (change)="onchangeCaisse($event)" placeholder="Choisir une caisse siège"
                        bindValue="cbmarq"
                        [ngClass]="{ 'is-invalid': submitted &&  formCaisse?.controls?.caisseSiege?.errors || (formCaisse?.controls?.caisseSiege?.errors  && formCaisse.get('caisseSiege').touched )}">
                    </ng-select>
                </div>
                <div class="invalid-feedback col-12 "
                    *ngIf="submitted &&  formCaisse?.controls?.caisseSiege?.errors || (formCaisse?.controls?.caisseSiege?.errors  && formCaisse.get('caisseSiege').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>
        </div>
        <div class="modal-footer pr-0">
            <button class="btn btn-outline-dark " type="reset" (click)="modal.close()">Annuler</button>
            <button class="btn btn-primary" type="submit">Enregistrer </button>
        </div>
    </form>
</ng-template>

<!-- Modal Caisse Siège -->
<ng-template #modalBasic1 let-modal>
    <div class="modal-header">
        <h4 *ngIf="!modeEdit" class="modal-title font-weight-bold " id="modal-basic-title2">Ajouter une nouvelle caisse
            Siège
        </h4>
        <h4 *ngIf="modeEdit" class="modal-title font-weight-bold " id="modal-basic-title2">Modifier une caisse Siège
        </h4>
    </div>
    <form (ngSubmit)="onSubmitSiege()" [formGroup]="formCaisse" class=" col-md-12">
        <div class="modal-body px-0">
            <div class="form-group ">
                <label class=" col-form-label ">Intitule </label>
                <div class="col-sm-12 px-0">
                    <input class="form-control w-100" formControlName="intitule" placeholder="ex: Caisse 1" type="text"
                        [ngClass]="{'is-invalid':submitted &&  formCaisse.controls.intitule.errors  || (formCaisse.controls.intitule.errors  && formCaisse.get('intitule').touched )}">

                </div>
                <div class="invalid-feedback col-12 "
                    *ngIf="submitted &&  formCaisse.controls.intitule.errors || (formCaisse.controls.intitule.errors  && formCaisse.get('intitule').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>

        </div>
        <div class="modal-footer pr-0">
            <button class="btn btn-outline-dark " type="reset" (click)="modal.close()">Annuler</button>
            <button class="btn btn-primary" type="submit">Enregistrer </button>
        </div>
    </form>
</ng-template>

<!-- Modal Add Responsables -->
<ng-template #modalBasic3 let-modal>
    <div class="modal-header">
        <h4 *ngIf="!modeEdit" class="modal-title font-weight-bold " id="modal-basic-title3">Ajouter responsable(s) de la
            caisse
        </h4>
        <h4 *ngIf="modeEdit" class="modal-title font-weight-bold " id="modal-basic-title3">Modifier une caisse Siège
        </h4>
    </div>
    <form (ngSubmit)="submitResponsable()" [formGroup]="formResponsable" class=" col-md-12">
        <div class="modal-body px-0">
            <div class="form-group ">
                <label class=" col-form-label ">Responsables </label>
                <div class="col-sm-12 px-0">
                    <ng-select [clearable]="true" [items]="listResponsables" formControlName="responsabels"
                        [multiple]="true" bindLabel="nomComplet" placeholder="Choisir un/des responsable(s) "
                        bindValue="id"
                        [ngClass]="{'is-invalid':submitted &&  formResponsable.controls.responsabels.errors  || (formResponsable.controls.responsabels.errors  && formResponsable.get('responsabels').touched )}">
                    </ng-select>
                </div>
                <div class="invalid-feedback col-12 "
                    *ngIf="submitted &&  formResponsable.controls.responsabels.errors || (formResponsable.controls.responsabels.errors  && formResponsable.get('responsabels').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>

        </div>
        <div class="modal-footer pr-0">
            <button class="btn btn-outline-dark " type="button" (click)="modal.close()">Annuler</button>
            <button class="btn btn-primary" type="submit">Enregistrer </button>
            </div>
    </form>
</ng-template>
<!-- end Modal  Add Responsables -->
