<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Maintenance</h1>
        <ul>
            <li><a routerlink="/communite/reclamations">Réclamations</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 mb-4">

            <div class="row mb-2 mt-2">

                <div class="col-xl col-lg col-md col-sm mb-2 ">
                    <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto  pl-lg-0 mb-2">
                    <button class="btn btn-primary mb-sm-0 mb-3 alignRight" *ngIf="can_add?.permission"
                        (click)="open(modalLong)">
                        Ajouter
                    </button>
                </div>


            </div>



            <div class="card" *ngIf="can_liste?.permission">
                <div class="example-container mat-elevation-z8">
                    <mat-table class="table" [dataSource]="dataSource" matSort>

                        <!-- Numéro Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell  *matHeaderCellDef>
                                Type
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Type:</span>
                                <span *ngIf="row.type == 1" class="badge badge-pill badge-outline-secondary p-2 ">
                                    Proprietaire</span>
                                <span *ngIf="row.type == 2" class="badge badge-pill badge-outline-light p-2 ">
                                    Responsable</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="emplacement">
                            <mat-header-cell *matHeaderCellDef>Emplacement</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Emplacement:</span>
                                {{ row?.emplacement?.intitule }}
                            </mat-cell>
                        </ng-container>

                        <!-- Data Column -->
                        <ng-container matColumnDef="objet">
                            <mat-header-cell *matHeaderCellDef>Objet</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Objet:</span>
                                {{ row?.objet }}
                            </mat-cell>


                        </ng-container>

                        <!-- Data Column -->
                        <ng-container matColumnDef="description">

                            <mat-header-cell [ngClass]="'wt-100 th-left'" *matHeaderCellDef>Description
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Description:</span>
                                <p style="cursor: pointer" class="m-0 textEllipsis" placement="right"
                                    ngbPopover="{{row?.description}}" popoverTitle="Description Réclamation:"> {{row?.description }}</p>
                            </mat-cell>
                        </ng-container>

                        <!-- Data Column -->
                        <ng-container matColumnDef="cbcreateur">
                            <mat-header-cell *matHeaderCellDef>Initiateur</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Initiateur:</span>
                                {{ row?.cbcreateur?.nomComplet }}
                            </mat-cell>
                        </ng-container>

                        <!-- Data Column -->
                        <ng-container matColumnDef="cbcreation">
                            <mat-header-cell *matHeaderCellDef>Date de création</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Date de création:</span>
                                {{ row?.cbcreation }}
                            </mat-cell>
                        </ng-container>

                        <!-- Data Column -->
                        <ng-container matColumnDef="statut">
                            <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Statut:</span>
                                <span class=" badge badge-square badge-square-opacity-{{ row?.statut?.style }} m-1">{{
                                    row?.statut?.label }}</span>

                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Action:</span>
                                <!-- <img src="../../../../../assets/images/Icon-info.png" class="iconInfoSize mr-1"
                                    title="Détail" *ngIf="can_detail?.permission"
                                    [routerLink]="[ '/communite/detail-reclamation/', row?.cbmarq  ]"> -->

                                <span class="fa fa-share-square-o   mr-1" *ngIf="can_edit?.permission"
                                    title="Transformer" [disabled]="row?.type != 1" (click)="transformer(row,modalLong)"
                                    [ngClass]="{'secondaryMaterial': row?.type != 1, 'primaryMaterial':row?.type == 1 }"></span>

                                <span class="fa fa-trash-o   mr-1" title="Supprimer" [disabled]="row?.type != 2"
                                    *ngIf="can_delete?.permission" (click)="confirmBox(row)"
                                    [ngClass]="{'secondaryMaterial': row?.type != 2, 'dangerMaterial':row?.type == 2 }"></span>
                                    <span class="fa fa-info-circle mx-1" title="Détail" *ngIf="can_detail?.permission"
                                    [routerLink]="[ '/communite/detail-reclamation/', row?.cbmarq  ]"></span>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" style="text-align: center" colspan="8">Aucune donnée trouvée
                            </td>
                        </tr>
                        <div *ngIf="dataSource.data?.length === 0"></div>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        [showFirstLastButtons]="true"></mat-paginator>

                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #modalLong let-modal>
    <!--    <div class="modal-dialog modal-lg" >-->
    <!--        <div class="modal-content ">-->

    <div class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Déclarer une réclamation <br>
            <small class="text-muted">(NB: Cliquer deux fois pour supprimer une image sélectionnée )</small>
        </h4>

    </div>

    <div class="modal-body">
        <form [formGroup]="formBasic" (ngSubmit)="submit()">
            <div class="modal-body">
                <div>

                    <!-- bien && emplacement & destiné à-->
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  mb-1">

                            <!-- destiné à -->
                            <div *ngIf="isInterne">
                                <div class="col-12 form-group mb-0">
                                    <label class="col-form-label mb-0">Destiné à *:</label>

                                </div>
                                <div class="col-sm-12 ">
                                    <ng-select [items]="appartements" [multiple]="true" formControlName="appartements"
                                        name="appartements" bindLabel="label" bindValue="cbmarq"
                                        (change)="changeempDest($event)" placeholder="Choisir un appartement"
                                        [ngClass]="{'is-invalid':submitted &&  (formBasic.controls.appartements.errors || (formBasic.controls.appartements.errors  && formBasic.get('appartements').touched ))}">
                                    </ng-select>
                                </div>
                                <div class="invalid-feedback col-12"
                                    *ngIf="submitted &&   (formBasic.controls.appartements.errors || (formBasic.controls.appartements.errors  && formBasic.get('appartements').touched ))">
                                    Veuillez remplir ce champs !
                                </div>
                                <div class="invalid-feedback col-12" *ngIf="isTerrain && isAppartement">
                                    Veuillez choisir un type de bien unique!
                                </div>
                            </div>

                            <!-- bien -->
                            <div *ngIf="!isInterne">
                                <div class="col-12 form-group mb-0">
                                    <label class="col-form-label mb-0">Vos biens <span
                                            *ngIf="formBasic.controls?.bien?.errors?.required">*</span>:</label>
                                </div>
                                <div class="col-sm-12 ">
                                    <ng-select (change)="changeemp($event)" [items]="appartementsProp"
                                        formControlName="bien" name="bien" bindLabel="label" bindValue="cbmarq"
                                        placeholder="Choisir un bien"
                                        [ngClass]="{'is-invalid':submitted &&  (formBasic.controls.bien.errors || (formBasic.controls.bien.errors  && formBasic.get('bien').touched ))}">
                                    </ng-select>
                                </div>
                                <div class="invalid-feedback col-12"
                                    *ngIf="submitted &&   (formBasic.controls.bien.errors || (formBasic.controls.bien.errors  && formBasic.get('bien').touched ))">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group mb-1">

                            <!-- Emplacement(blocs) *ngIf="isInterne"-->
                            <div>
                                <div class="col-12 form-group mb-0">
                                    <label class=" col-form-label mb-0">Emplacement <span *ngIf="!isTerrain">*</span>
                                        :</label>
                                </div>
                                <div class="col-sm-12 ">
                                    <ng-select [clearable]="true" [items]="blocs" formControlName="emplacement"
                                        name="emplacement" bindLabel="label" placeholder="Choisir un emplacement"
                                        bindValue="value"
                                        [ngClass]="{'is-invalid':submitted &&  (formBasic.controls.emplacement.errors || (formBasic.controls.emplacement.errors  && formBasic.get('emplacement').touched ))}">
                                    </ng-select>

                                </div>
                                <div class="invalid-feedback col-12"
                                    *ngIf="!isTerrain && submitted &&   (formBasic.controls.emplacement.errors || (formBasic.controls.emplacement.errors  && formBasic.get('emplacement').touched ))">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                                </div>
                            </div>
                            <!-- categorie & objet -->
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-1">
                                        <div class="col-12 form-group mb-0">
                                            <label class=" col-form-label mb-0">Catégorie *:</label>
                                        </div>
                                        <div class="col-sm-12 ">
                                            <ng-select [clearable]="true" [items]="categories"
                                                       formControlName="categorie" name="categorie" bindLabel="label" placeholder="Choisir une catégorie"
                                                       bindValue="cbmarq"
                                                       [ngClass]="{'is-invalid':submitted &&  (formBasic.controls.categorie.errors || (formBasic.controls.categorie.errors  && formBasic.get('categorie').touched ))}">
                                            </ng-select>
                                        </div>
                                        <div class="invalid-feedback col-12"
                                             *ngIf="submitted &&   (formBasic.controls.categorie.errors || (formBasic.controls.categorie.errors  && formBasic.get('categorie').touched ))">
                                            Veuillez remplir ce champs !
                                        </div>

                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-1">
                                        <div class="col-12 form-group  mb-0">
                                            <label class="col-form-label mb-0">Objet *:</label>
                                        </div>
                                        <div class="col-sm-12  ">
                                            <input class="form-control" type="text"  formControlName="objet" name="objet"  placeholder="Objet du réclamation  "
                                            [ngClass]="{'is-invalid':submitted &&  (formBasic.controls.objet.errors || (formBasic.controls.objet.errors  && formBasic.get('objet').touched ))}" />
                                        </div>
                                        <div class="invalid-feedback col-12"
                                             *ngIf="submitted &&   (formBasic.controls.objet.errors || (formBasic.controls.objet.errors  && formBasic.get('objet').touched ))">
                                            Veuillez remplir ce champs !
                                        </div>

                                </div>
                            </div>
                            <!-- priorite -->
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                                        <div class="col-12 form-group mb-0">
                                            <label class=" col-form-label mb-0">Priorité :</label>

                                        </div>
                                        <div class="col-sm-12 ">
                                            <label class="radio mr-4 radio-outline-success">
                                                <input type="radio" checked name="priorite" [value]="'Basse'" formControlName="priorite">
                                                <span>Basse</span>
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio mr-4 radio-outline-warning">
                                                <input type="radio" name="priorite" [value]="'Moyenne'" formControlName="priorite">
                                                <span>Moyenne</span>
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="radio mr-4 radio-outline-danger">
                                                <input type="radio" name="priorite" [value]="'Haute'" formControlName="priorite">
                                                <span>Haute</span>
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>

                                </div>

                            </div>
                            <!-- description -->
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                                        <div class="col-12 form-group mb-0">
                                            <label class="col-form-label mb-0">Description *:</label>
                                        </div>
                                        <div class="col-sm-12 ">
                                            <textarea class="form-control" rows="3" formControlName="description" name="description" placeholder="Description du réclamation ...  "
                                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )}"></textarea>
                                        </div>
                                        <div class="invalid-feedback col-12"
                                             *ngIf="submitted &&   (formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched ))">
                                            Veuillez remplir ce champs !
                                        </div>

                                </div>

                    </div>
                    <!-- attachement-->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                            <div class="col-12 form-group mb-0 ">
                                <label class="col-form-label mb-0">Attachements:</label>
                            </div>
                            <div class="input-group mb-3" *ngIf="transforme == false" style="margin: 0px;">
                                <div class="custom-file">
                                    <div class="input-group col-sm-12">
                                        <div class="custom-file">
                                            <input [multiple]="true" type="file" class="form-control custom-file-input"
                                                id="importFile" (change)="onFileChange($event.target.files)"
                                                accept="image/png, image/jpeg,  image/jpg">
                                            <label class="custom-file-label" #labelImport for="importFile"><i
                                                    class="fas fa-search"></i>Sèlectionner une image ...</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="transforme == false" style="margin: 0px;">
                                <div class="col-md-3" *ngFor="let item of imgURL; let i = index">
                                    <div class="card card-profile-1 mb-4">
                                        <div class="avatar box-shadow-2">
                                            <img (dblclick)="removeImage(item)" height="100%" width="100%" [src]="item"
                                                alt="">
                                        </div>

                                                </div>

                                        </div>
                                    </div>
                                    <div class="row" *ngIf="transforme == true" style="margin: 0px;">
                                        <div class="col-md-3" *ngFor="let item of formBasic.value.attachements; let i = index">
                                            <div class="card card-profile-1 mb-4">
                                                <!--                                    <div class="card-body text-center">-->
                                                <div class="avatar box-shadow-2">
                                                    <div >
                                                        <img  [src]="item?.attachement" alt="">
                                                    </div>
                                                </div>
                                                <!--                                    </div>-->
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
                <button class="btn btn-primary" type="submit">Envoyer</button>

            </div>
        </form>
    </div>

    <!--        </div>-->
    <!--    </div>-->
</ng-template>
