.radio {
  display: inline-block !important;
  //padding-left: 50px;
}

::ng-deep .my-classModal .modal-dialog {
  min-width: 700px;
}

.textEllipsis {
  max-width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-column-type {
  min-width: 140px;
}
.mat-column-type {
  min-width: 175px;
}
@media (max-width: 900px) {
  .mat-column-type {
    padding-left: 0px;
  }
}
