.card-header:first-child {
    border-radius: calc(1.25rem - 8px) calc(1.25rem - 8px) 0 0;
}

.card-header {   

    background-color: #e8ebf2;
    height: 53px;
    border-radius: 8px;
    color: black;
    font-weight: 500;

}
.card-access {
    //padding: 0;
    //max-width: 22%;
    //margin: 10px 20px;
    height: auto !important;
}
.card-body {
    height: auto !important;
}

.collapseIconRight{
    display: block;
    right: 0;
    position: absolute;
    margin-right: 5px;
}

.title {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 4px 6px;
    font-size: 16px;
    margin-bottom: 13px;
    clear: both;
  }
  .title .iconArrowHeader {
    float: right;
    cursor: pointer;color: #213c7f;
  }
  .title .nameHeader {
    float: left;
  }
