<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Administration</h1>
    <ul>
        <li><a routerLink="/syndic/droit-acces">Droits d'accès</a></li>
        <li>Ajout/modifier</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <ngb-tabset class="nav-fill">
                    <ngb-tab title="Par rôle" *ngIf="can_listett?.permission">
                        <ng-template ngbTabContent>
                            <div class="list-fonction" >
                                <div class=" mainheader">
                                    <div class="col-md-12 d-flex align-items-center ">
                                        <div class="col-md-11 card-body ">
                                            <div class="select-search">
                                                <ng-select class="custom" [searchable]="true" [clearable]="false"
                                                    (change)="onChangeRole($event)" [items]="listRoles"
                                                    notFoundText="Aucune données trouver." bindLabel="label"
                                                    placeholder="Veuillez choisir un rôle * " bindValue="value">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="row-btn">
                                            <button class="btn btn-primary  " type="button" *ngIf="can_editR?.permission"
                                                (click)="onSubmit()">Enregistrer</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" *ngIf="can_listett?.permission" style="margin: 0px;">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4" *ngFor="let fonction of listRole;let i=index">

                                        <div class="card-access" [ngClass]="{'card' : !fonction.close}"  >
                                             <!-- header-->
                                            <div class="card-header" >

                                                <div class="title">

                                                    <label class="checkbox checkbox-outline-primary nameHeader">
                                                        <input type="checkbox" id="{{fonction.cbmarq}}"
                                                            (change)="checkBoxvalueRole($event,fonction.cbmarq)"
                                                            [value]="fonction.cbmarq"
                                                            [checked]="fonction.checked"
                                                            /><span>{{fonction?.intitule}}
                                                        </span><span class="checkmark mt-1"></span>
                                                    </label>

                                                    <span class="fa fa-window-maximize iconArrowHeader"  *ngIf="fonction.close" title="Ouvrir" (click)="fonction.close=false"></span>
                                                    <span class="fa fa-window-minimize iconArrowHeader"  *ngIf="!fonction.close" title="Fermer" (click)="fonction.close=true"></span>
                                                </div>

                                            </div>
                                            <div class="card-body pl-2" *ngIf="!fonction.close">
                                                <div class="for-padding" *ngFor="let fct of fonction.fonctionnalites">
                                                    <label class="checkbox checkbox-outline-primary">
                                                        <input type="checkbox" #mycheckbox [value]="fct.cbmarq"
                                                            [checked]="fct.statut" [(ngModel)]="fct.statut"
                                                            (change)="checkCheckBoxRole($event,fct,fonction)" /><span>{{fct.intitule}}</span><span
                                                            class="checkmark"></span>
                                                    </label>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Par utilisateur" *ngIf="can_liste?.permission">
                        <ng-template ngbTabContent>
                            <div class="list-fonction" >
                                <div class=" mainheader">
                                    <div class="col-md-12 d-flex align-items-center ">
                                        <div class="col-md-11 card-body">
                                            <div class="select-search">
                                                <ng-select class="custom" [searchable]="true" [clearable]="false"
                                                    (change)="onChange($event)" [items]="listCollaborateurs"
                                                    notFoundText="Aucune données trouver." bindLabel="label"
                                                    placeholder="Veuillez choisir un collaborateur * "
                                                    bindValue="value">
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="row-btn">
                                            <button class="btn btn-primary m-1" type="button" *ngIf="can_editU?.permission"
                                                (click)="onSubmit1()">Modifier</button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row" *ngIf="can_liste?.permission" style="margin: 0px;">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4" *ngFor="let fonction of listUser">
                                        <div class="card-access "  [ngClass]="{'card' : !fonction.close}"   >
                                            <!-- header-->
                                            <div class="card-header " >
                                                <div class="title">

                                                    <label class="checkbox checkbox-outline-primary nameHeader">
                                                        <input type="checkbox" id="{{fonction.cbmarq}}"
                                                            (change)="checkBoxvalue($event,fonction.cbmarq)"
                                                            [value]="fonction.cbmarq"
                                                            [checked]="fonction.checked" /><span>{{fonction?.intitule}} </span><span
                                                            class="checkmark mt-1"></span>
                                                    </label>

                                                    
                                                    <span class="fa fa-window-maximize iconArrowHeader"  *ngIf="fonction.close" title="Ouvrir" (click)="fonction.close=false"></span>
                                                    <span class="fa fa-window-minimize iconArrowHeader"  *ngIf="!fonction.close" title="Fermer" (click)="fonction.close=true"></span>
                                                </div>


                                            </div>
                                            <br>
                                            <!-- body-->
                                            <div class="card-body pl-2" *ngIf="!fonction.close">
                                                <div class="for-padding" *ngFor="let fct of fonction.fonctionnalites">
                                                    <label class="checkbox checkbox-outline-primary">
                                                        <input type="checkbox" #mycheckbox name="sendemail"
                                                            [value]="fct.cbmarq" [checked]="fct.statut"
                                                            [(ngModel)]="fct.statut"
                                                            (change)="checkCheckBoxvalue($event,fct,fonction)" /><span>{{fct.intitule}}</span><span
                                                            class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
