.icon-picture {
    height: 70px;
    width: 70px;
}

@media (max-width: 900px) {
    .mat-column-reference {
      padding-left: 0px;
    }
  }
/* Galaxy */
@media screen and (max-width: 700px) {
    .container-page,
    .container-card,
    .card {
        padding: 0px;
    }
    .titre-card {
        font-size: 17px;
    }
    .steper-verti {
        padding-top: 4.5rem !important;
    }
    .cover1 {
        display: block;
    }
    .cover2 {
        display: none;
    }
}


.cardWidget{
    border: 1px solid white;
    width: 70px;
    height: 70px;
    border-radius: 14px;
    background-color: #e9f0ff;
    padding-top: 20px;
}
.pWidget{
    text-align: center;padding-top: 15px;
}

.textEllipsis{
    max-width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
