<div class="">
    <div class="col-md-12 mb-4">
        <ngx-spinner bdColor="rgba(255,255,255,0.7)"
            template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
            [fullScreen]="true">

            <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
                Chargement en
                cours ...
            </h4>
        </ngx-spinner>
        <div class="breadcrumb list-reglement">
            <h1>Trésorerie</h1>
            <ul>
                <li><a routerLink="/syndic/transferts">Transferts</a></li>
                <li>Liste</li>
            </ul>
        </div>

    <div class="separator-breadcrumb border-top"></div>


    <!-- widgets -->

    <div class="row">


      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
          <div class="card">
              <div class="row">
                  <div class="col-4" >
                    <img class="icon-picture m-3" src="assets/images/calender.png" alt="">
                    </div>
                  <div class="col-8 margin-auto " style="padding: 25px;">
                      <p class="tex-14 m-0 textEllipsis" title="Dernier transfert">Dernier transfert</p>
                      <h3 class="m-0 font-weight-bold">{{listtransfert?.detail?.DernierTranfert?.date | date : 'dd-MM-yyyy'}}</h3>
                  </div>
                </div>
          </div>

      </div>

      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
        <div class="card">
            <div class="row">
                <div class="col-4">                   
                    <img class="icon-picture m-3" src="assets/images/transfertRecus.png" alt="">


                </div>


                <div class="col-8 margin-auto" style="padding: 25px;">
                    <p class="tex-14 m-0" title="Reçus">Reçus</p>
                    <h3 class="m-0 font-weight-bold">{{listtransfert?.detail?.NbrRecu}} </h3>
                </div>
              </div>
        </div>
     </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
        <div class="card">
            <div class="row">
                <div class="col-4"> <img class="icon-picture m-3" src="assets/images/solde_avance.png" alt=""></div>
                <div class="col-8 margin-auto" style="padding: 25px;">
                    <p class="tex-14 m-0 textEllipsis" title="Montant en cours de Transfert">Montant en cours de Transfert</p>
                    <h3 class="m-0 font-weight-bold">{{listtransfert?.detail?.MontantEncoursT?.toFixed(3)}} </h3>
                </div>
              </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
        <div class="card">
            <div class="row">
                <div class="col-4"> <img class="icon-picture m-3" src="assets/images/solde_avance.png" alt=""></div>
                <div class="col-8 margin-auto" style="padding: 25px;">
                    <p class="tex-14 m-0 textEllipsis" title="Montant Total">Montant Total</p>
                    <h3 class="m-0 font-weight-bold">{{listtransfert?.detail?.MontantTT?.toFixed(3)}} </h3>
                </div>
              </div>
        </div>
    </div>



    </div>
    <br>
    <!-- tabs -->
    <div class="row" >

        <!--wz-->
        <div class="col-12">
            <div class=" card appartement">

                <ngb-tabset [destroyOnHide]="false" class="nav-fill">
                    <!-- Envoyé tab -->
                    <ngb-tab title="Envoyé">
                        <ng-template ngbTabContent>
                          <app-list-transfert-envoye></app-list-transfert-envoye>
                        </ng-template>
                    </ngb-tab>
                    <!-- Reçus tab -->
                    <ngb-tab title="Reçus">
                      <ng-template ngbTabContent>
                          <app-list-transfert-recus></app-list-transfert-recus>

                      </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>

        <!-- wz-->

    </div>
</div>
