<div class="card col-md p-2 mb-4">
                           
     
      <!-- documents list -->

      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12  mb-4" >

            <div class="form-group" style="display: flex;align-items: stretch;">
                <input class="form-control w-100" type="search" style="height: calc(1.9695rem + 4px);" placeholder="Recherche" id="Mail-rearch" [(ngModel)]="searchProduit" (ngModelChange)="filterBien()">
                <button class="btn btn-info ml-2">
                    <span style="font-size: 15px;" class="fa fa-search" aria-hidden="true"></span>
                </button>
    
            </div>
            <div class="card">
                <h4 class="card-title" style="padding: 22px 15px;">Liste des Biens</h4>
                <hr style="padding: 5px; margin: 0px;">
                <ul class="mailbox list-style-none" >
                    <li>
                        <div class="message-center chat-scroll ps-container ps-theme-default" >
                            <!-- bien -->
                            <div *ngFor="let bien of listAppartements ;let i=index" >
                                <a class="message-item"  (click)="detailbien(bien)" data-user-id="1" style="cursor: pointer;" [style.background-color]="bien?.cbmarq==currentbien?.cbmarq ? 'aliceblue' : null">
                            
                                    <span class="profileImage" [ngStyle]="{'background': bien.color}">
                                        <h5 class="text-white"> {{bien?.intitule?.charAt(0)}}{{bien?.intitule?.charAt(1)}} </h5>
                                    </span>
                                    <div class="mail-contnet">
                                        <h5 class="message-title cdresidense" >{{bien.intitule}}</h5>
                                        <!--<h5 class="message-title cdresidense" >{{bien.residence?.intitule}}</h5>-->
                                        <p class="m-0">
                                            <span class="fa fa-building-o" aria-hidden="true" style="font-size: 15px;"></span>
                                            {{bien.residence?.intitule}}</p>     
                                        
                                            <!-- date remise clé -->
                                        <!--<p *ngIf="app.dateremisebien!=null" class="m-0">
                                             <span class="fa fa-key" aria-hidden="true" style="font-size: 15px;"></span>
                                             {{app.dateremisebien.date | date :'dd-MM-yyyy'}}</p>-->
                                        
                                        <!--<p *ngIf="app.dateremisebien==null" class="m-0">
                                        <span class="fa fa-key" aria-hidden="true" style="font-size: 15px;"></span>
                                        -- / -- / ----</p>-->
                                        <!-- nature-->
                                        <!--<p class="m-0" style="font-size: 12px;color: darkgrey !important;">
                                        Nature : {{bien.nature?.label}}</p>
                    
                                        <p class="m-0 color-label" style="font-size: 12px;color: darkgrey !important">
                                           Type :  {{bien.type?.label}}</p>-->
                                    </div>
                                </a>
                            </div>
                            
                                    
                                
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                    </li>
                </ul>
            </div>
    
    
    
        </div>

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12  mb-4">
            <div class="col-md-12 mb-4">

                <div *ngIf="listAppartements!=null && currentbien?.cbmarq!=undefined && (dataSource.data==null || dataSource.data?.length==0)" class="col-12 px-0">
                    <ngb-alert
                        class="alert-card alert-info mb-4 alert text-primary alert-dismissible"
                        role="alert">
                        <strong class="text-capitalize">Information !</strong> 
                        Ce bien ne contient pas des documents !
                    </ngb-alert>
                </div>

                <div *ngIf="listAppartements!=null && (currentbien?.cbmarq==undefined || currentbien?.cbmarq==null)" class="col-12 px-0">
                    <ngb-alert
                        class="alert-card alert-info mb-4 alert text-primary alert-dismissible"
                        role="alert">
                        <strong class="text-capitalize">Information !</strong> 
                        Veuillez consulter vos documents par bien  !
                    </ngb-alert>
                </div>
                <div *ngIf="listAppartements==null" class="col-12 px-0">
                    <ngb-alert
                        class="alert-card alert-info mb-4 alert text-primary alert-dismissible"
                        role="alert">
                        <strong class="text-capitalize">Information !</strong> 
                        Cet utilisateur ne contient pas ni des documents ni des biens à consulter  !
                    </ngb-alert>
                </div>

                <div class="mat-elevation-z8" *ngIf="can_liste?.permission" [hidden]="dataSource.data?.length == 0">
                <div class="responsive_table table-responsive-sm"  >

                    <!-- affichage table -->
                    <mat-table class="table table-striped" [dataSource]="dataSource"  matSort   >
                    

                        <!-- Réference colis Column -->
                        <ng-container  matColumnDef="Intitule">
                            <mat-header-cell   *matHeaderCellDef >Intitule</mat-header-cell>
                            <mat-cell *matCellDef="let row" > {{ row.intitule }} </mat-cell>
                        </ng-container>
                    

                        <!-- Date Column -->
                        <ng-container matColumnDef="Date création">
                            <mat-header-cell *matHeaderCellDef >Date création</mat-header-cell>
                            <mat-cell class="text-center" *matCellDef="let row">
                                {{ row?.cbcreation.date | date : 'dd-MM-yyyy H:m' }}
                            </mat-cell>
                        </ng-container>
                    
                        <!--Date Column -->
                        <ng-container matColumnDef="Date modification">
                            <mat-header-cell *matHeaderCellDef >Date modification</mat-header-cell>
                            <mat-cell class="text-center" *matCellDef="let row">
                                {{ row?.cbmodification.date | date : 'dd-MM-yyyy H:m' }}
                            </mat-cell>
                        </ng-container>


                    

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef >Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button class="btn btn-outline-primary border-primary btn-rounded ladda-button w-auto  btn-download mr-1" *ngIf="can_detail?.permission" style="height: 32px;" ><!-- *ngIf="can_detail?.permission" [routerLink]="[ '/communite/detail-reunion/', row?.cbmarq  ]"-->
                                    <a [href]="row?.attachement" target="_blanc"> <span style="font-size: 16px;" class="fa fa-download"></span></a></button>

                                <!--<button class="btn btn-primary border-primary btn-rounded ladda-button w-auto  mr-1" [routerLink]="[ '/communite/info-document/', row?.cbmarq  ]" *ngIf="can_edit?.permission"> <i class="nav-icon i-Pen-4 font-weight-bold"></i></button>
                                <button class="btn btn-danger border-danger btn-rounded ladda-button w-auto "  (click)="confirmBox(row?.cbmarq)" *ngIf="can_delete?.permission" ><i class="i-Close font-weight-bold"></i></button>-->
                               
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow >
                            <td class="mat-cell" style="text-align: center" colspan="7">Aucune donnée trouver
                            </td>
                        </tr>
                        <div *ngIf="dataSource.data?.length === 0"></div>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" ></mat-paginator>

                    
                    <!-- fin test-->

                </div>
                <div *ngIf="pagedList?.length == 0">
                    <img src="../../../assets/images/icons/noDocumentFound.png" alt=""  class="rounded-circle" style="display: block; width: 35%; margin: auto;" >
                    <p style="text-align: center;padding: 32px;font-weight: 500;">Aucune donnée trouver</p>

                </div>
                </div>
            </div>
        </div>
      </div>
       
      <!---->
    
   
     
  

     
  </div>
