.form-control-specialiser {
  background: #ffffff;
}
ng-select.required.ng-invalid.ng-touched {
  .ng-select-container{
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
  }
}
ng-select.required.ng-invalid.ng-untouched {
  .ng-select-container{
    border-color: #dc3545;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
  }
}
.step-button{
  text-align: right;
}
.fa-angle-double-right{
  font-size: 16px;
}
