<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Gestion Syndic</h1>
    <ul>
        <li><a routerLink="/syndic/residences">Produits</a></li>
        <li *ngIf="!modeEdit">Ajout</li>
        <li *ngIf="modeEdit">Edit</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">

    <div class="col-md-12">

        <div class="card mb-4">
            <div class="card-body">
                <!--    bar progress-->
                <ngb-progressbar class="mb-4" type="success" [value]="(etape-1)*25">{{ (etape - 1) * 25 }}%
                </ngb-progressbar>
                <br>
                <!-- linear bar  linear-->
                <mat-horizontal-stepper linear #stepper >
                    <!-- ---------------------********************************** Step 1 ********************---------------->
                    <mat-step [stepControl]="formstep" [completed]="completed0" label="1">
                        <h4 class="header-title-step mb-4"><strong>Étape 1 : Informations Générale</strong> <br>
                            <!--                            <small>Vous avez réalisé <strong>0%</strong> de la gestion de biens, veuillez remplir  les champs !</small>-->
                        </h4>
                        <form [formGroup]="formstep" (ngSubmit)="submit()" novalidate>
                            <div style="padding-top: 1%;">
                                <!--                                <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations Générale:</strong>-->
                                <!--                                </div>-->
                                <div class="row">

                                    <div class="col-md-12 form-group mb-3">
                                        <div class="text-center">
                                            <mat-radio-group aria-label="Select an option" formControlName="type"
                                                             [disabled]="etape>=3" (change)="changerType($event)">
                                                <mat-radio-button [checked]='true'
                                                                  class="radio radio-outline-primary text-primary py-sm-2"
                                                                  value="E0062">Produit
                                                </mat-radio-button>
                                                <mat-radio-button class="radio radio-outline-primary text-primary"
                                                                  value="E0063">Terrain
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <label>Intitule (*):</label>
                                        <input type="text" class="form-control form-control-specialiser" required
                                               formControlName="intitule"
                                               [ngClass]="{ 'is-invalid': submitted &&  formstep.controls.intitule.errors || (formstep.controls.intitule.errors  && formstep.get('intitule').touched )}"/>
                                        <div class="invalid-feedback "
                                             *ngIf="submitted &&  formstep.controls.intitule.errors || (formstep.controls.intitule.errors  && formstep.get('intitule').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Adresse (*):</label>
                                        <input type="text" class="form-control form-control-specialiser" required
                                               formControlName="adresse"
                                               [ngClass]="{ 'is-invalid': submitted &&  formstep.controls.adresse.errors || (formstep.controls.adresse.errors  && formstep.get('adresse').touched )}"/>
                                        <div class="invalid-feedback "
                                             *ngIf="submitted &&  formstep.controls.adresse.errors || (formstep.controls.adresse.errors  && formstep.get('adresse').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Photo :</label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="form-control custom-file-input"
                                                               required id="importFile"
                                                               (change)="onFileChange($event.target.files)"
                                                               accept="image/png, image/jpeg,  image/jpg">
                                                        <label class="custom-file-label" #labelImport for="importFile">
                                                            <i class="fa fa-search"></i><span>Sèlectionner...</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group mb-3" *ngIf="formstep.value.type == 'E0062'">
                                        <label>Nombre des Blocs (*):</label>
                                        <input type="number" class="form-control form-control-specialiser" required
                                               formControlName="nbrBloc"
                                               [ngClass]="{ 'is-invalid': submitted &&  formstep.controls.nbrBloc.errors || (formstep.controls.nbrBloc.errors  && formstep.get('nbrBloc').touched )}"/>
                                        <div class="invalid-feedback "
                                             *ngIf="submitted &&  formstep.controls.nbrBloc.errors || (formstep.controls.nbrBloc.errors  && formstep.get('nbrBloc').touched )">
                                            <div *ngIf="formstep.controls.nbrBloc.errors.required">
                                                Veuillez remplir ce champs !
                                            </div>
                                            <div *ngIf="formstep.controls.nbrBloc.errors.min">
                                                Nombre minimal = 1 !
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 form-group mb-3"
                                         [ngClass]="{'col-md-12': formstep.value.type == 'E0063'}">
                                        <label *ngIf="formstep.value.type == 'E0062'">Nombre des Appartements
                                            (*):</label>
                                        <label *ngIf="formstep.value.type == 'E0063'">Nombre des Lots (*):</label>
                                        <input type="number" class="form-control form-control-specialiser" required
                                               formControlName="nbrAppartement"
                                               [ngClass]="{ 'is-invalid': submitted &&  formstep.controls.nbrAppartement.errors || (formstep.controls.nbrAppartement.errors  && formstep.get('nbrAppartement').touched )}"/>
                                        <div class="invalid-feedback "
                                             *ngIf="submitted &&  formstep.controls.nbrAppartement.errors || (formstep.controls.nbrAppartement.errors  && formstep.get('nbrAppartement').touched )">
                                            <div *ngIf="formstep.controls.nbrAppartement.errors.required">
                                                Veuillez remplir ce champs !
                                            </div>
                                            <div *ngIf="formstep.controls.nbrAppartement.errors.min">
                                                Nombre minimal = 1 !
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12 form-group mb-3">
                                        <label>Description</label>
                                        <textarea class="form-control form-control-specialiser"
                                                  formControlName="description"
                                                  [ngClass]="{ 'is-invalid': submitted &&  formstep.controls.description.errors || (formstep.controls.description.errors  && formstep.get('description').touched )}">
                                        </textarea>
                                        <div class="invalid-feedback "
                                             *ngIf="submitted &&  formstep.controls.description.errors || (formstep.controls.description.errors  && formstep.get('description').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    </div>

                                    <br/>
                                    <div class="col-md-12 text-sm-right">
                                        <div class="d-sm-flex mb-2">
                                            <span class="m-auto"></span>
                                            <div *ngIf="etape>=3" class=" step-button mr-2">
                                                <button mat-button class="btn btn-outline-success " (click)="submit1()"
                                                        type="button" matStepperNext>
                                                    Enregistrer modification
                                                </button>
                                            </div>
                                            <div *ngIf="etape==1" class=" step-button">
                                                <button mat-button class="btn btn-primary " type="submit"
                                                        [disabled]="formstep.invalid">
                                                    <span class="fa fa-angle-double-right"></span>
                                                </button>
                                            </div>
                                            <div *ngIf="etape!=1" id="edit" class=" step-button">
                                                <button mat-button class="btn btn-primary " type="button"
                                                        matStepperNext>
                                                    <span class="fa fa-angle-double-right"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                    <!-- ---------------------********************************** Step 2  ********************---------------->
                    <mat-step [completed]="completed1" label="2" [stepControl]="formBasic">
                        <h4 class="header-title-step mb-4"><strong>Étape 2 : Informations Syndic</strong> <br>
                            <!--                            <small>Vous avez réalisé <strong>25%</strong> de la gestion de résidence, vous pouvez compléter la saisie !</small>-->
                        </h4>
                        <form [formGroup]="formBasic" (ngSubmit)="submit1()" novalidate>
                            <div style="padding-top: 1%;">
                                <div class="col-md-12 px-0 flex-line">
                                    <div class="col-md-12 form-group mb-3">
                                        <label>Frais Syndic annuel *:</label>
                                        <input type="number" class="form-control form-control-specialiser" required
                                               formControlName="fraisSyndic"
                                               [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.fraisSyndic.errors || (formBasic.controls.fraisSyndic.errors  && formBasic.get('fraisSyndic').touched )}"/>
                                        <div class="invalid-feedback "
                                             *ngIf="submitted &&  formBasic.controls.fraisSyndic.errors || (formBasic.controls.fraisSyndic.errors  && formBasic.get('fraisSyndic').touched )">
                                            <div *ngIf="formBasic.controls.fraisSyndic.errors.required">
                                                Veuillez remplir ce champs !
                                            </div>
                                            <div *ngIf="formBasic.controls.fraisSyndic.errors.min">
                                                Nombre minimal = 1 !
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 px-0 flex-line">
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Caisse du produit *:</label>
                                        <ng-select [clearable]="true" [searchable]="true" [items]="listecaisse" required
                                                   formControlName="caisse" bindLabel="label"
                                                   placeholder="Choisir une caisse"
                                                   bindValue="value" notFoundText="Aucune données trouver."
                                                   (change)="onchangeCaisse($event)"
                                                   [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.caisse.errors || (formBasic.controls.caisse.errors  && formBasic.get('caisse').touched )}">
                                        </ng-select>
                                        <div class="invalid-feedback"
                                             *ngIf="(submitted &&  formBasic.controls.caisse.errors) || (formBasic.controls.caisse.errors  && formBasic.get('caisse').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group mb-3">
                                        <label>Caisse siege *:</label>
                                        <ng-select [clearable]="false" [searchable]="true" [items]="listecaisseSiege"
                                                   formControlName="caisseSiege" bindLabel="label"
                                                   [readonly]="formBasic.value.caisse != 0"
                                                   placeholder="Choisir une caisse siege" bindValue="value"
                                                   notFoundText="Aucune données trouver."
                                                   [ngClass]="{ 'is-invalid': formBasic.get('caisseSiege').hasError('required') && formBasic.get('caisseSiege').touched}">
                                        </ng-select>
                                        <div class="invalid-feedback "
                                             *ngIf="submitted &&  formBasic.controls.caisseSiege.errors || (formBasic.controls.caisseSiege.errors  && formBasic.get('caisseSiege').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 text-sm-right">
                                    <div class="d-sm-flex mb-2">
                                        <span class="m-auto"></span>
                                        <div *ngIf="etape>=3" class=" step-button mr-2">
                                            <button mat-button class="btn btn-outline-success " (click)="submit1()"
                                                    type="button" matStepperNext>
                                                Enregistrer modification
                                            </button>
                                        </div>
                                        <div *ngIf="etape==2" class=" step-button">
                                            <button mat-button class="btn btn-primary " type="submit" matStepperNext>
                                                <span class="fa fa-angle-double-right"></span>
                                            </button>
                                        </div>
                                        <div *ngIf="etape>=3" id="edit" class=" step-button">
                                            <button mat-button class="btn btn-primary " type="button" matStepperNext>
                                                <span class="fa fa-angle-double-right"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--                                *ngIf="etape==2"-->
                                <!--                                <div *ngIf="etape<=4" class="col-sm step-button">-->
                                <!--                                    <button mat-raised-button class="btn btn-primary " type="submit"-->
                                <!--                                         matStepperNext>-->
                                <!--                                        <span class="fa fa-angle-double-right"></span>-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                                <!--                                <div *ngIf="etape>3" class="col-sm step-button">-->
                                <!--                                    <button mat-raised-button class="btn btn-primary " type="button" matStepperNext>-->
                                <!--                                        <span class="fa fa-angle-double-right"></span>-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                            </div>
                        </form>
                    </mat-step>
                    <!-- ---------------------********************************** Step 3 ********************---------------->
                    <mat-step [completed]="completed2"
                              *ngIf="formBasic.value.type === 'E0062' || formstep.value.type === 'E0062'" label="3">
                        <h4 class="header-title-step mb-4"><strong>Étape 3 : Informations Bloc</strong> <br>
                        </h4>
                        <div class="card-body">
                            <app-bloc [id]="formBasic.value.cbmarq"></app-bloc>

                            <div class="col-sm step-button">
                                <button mat-raised-button class="btn btn-primary " type="button" matStepperNext>
                                    <span class="fa fa-angle-double-right"></span>
                                </button>
                            </div>

                        </div>
                    </mat-step>
                    <!-- ---------------------**********************************[editable]="editable" Step 4 ********************---------------->
                    <mat-step [completed]="completed3"
                              *ngIf="(formstep.value.type === 'E0062') || (formBasic.value.type === null && formstep.value.type === 'E0062')"
                              label="4">
                        <h4 class="header-title-step mb-4"><strong>Étape 4 : Informations Appartement</strong> <br>
                            <!--                            <small>Vous avez réalisé <strong>75%</strong> de la gestion de résidence, veuillez ajouter des appartements !</small>-->
                        </h4>
                        <div class="card-body">
                            <app-list-appartement [id]="formBasic.value.cbmarq"></app-list-appartement>

                        </div>
                    </mat-step>
                    <mat-step [completed]="completed3"
                              *ngIf="(formBasic.value.type === 'E0063' && formstep.value.type === 'E0063') || (formBasic.value.type === null && formstep.value.type === 'E0063')"
                              label="3">
                        <h4 class="header-title-step mb-4"><strong>Étape 3 : Informations Lots</strong> <br>
                            <!--                                <small>Vous avez réalisé <strong>50%</strong> de la gestion de résidence, veuillez ajouter des lots !</small>-->
                        </h4>
                        <div class="card-body">
                            <app-list-appartement [id]="formBasic.value.cbmarq"></app-list-appartement>

                        </div>
                    </mat-step>
                    <!-- ---------------------********************************** Step 5 ********************---------------->
                    <!-- 
                    <mat-step label="5/5">
                        <h4 class="header-title-step">Vous avez réalisé 100% de la gestion de résidence !</h4>
                    </mat-step> -->
                </mat-horizontal-stepper>

            </div>
        </div>
    </div>

</div>
