


<app-dashboard-admin *ngIf="(isroot|| isAdmin) && !isinterne && !isprop"></app-dashboard-admin>
<app-dashboard-interne *ngIf="isinterne && !isAdmin && !isprop"></app-dashboard-interne>
<app-dashboard-proprietaire *ngIf="isprop && !isAdmin && !isinterne"></app-dashboard-proprietaire>
