@media screen and (min-width: 800px) {
  .container div:first-child {
    max-width: 50%;
    float: left;
  }
  .container div:nth-child(2) {
    max-width: 50%;
    float: left;
  }
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 10px;
  cursor: pointer;
}
.ql-snow.ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 20px;
  padding: 0px 5px;
  width: 28px;
  margin-top: -10px;
}
.ql-snow .ql-picker.ql-header {
  width: 75px;
  margin-top: -10px;
}
.ql-italic {
  padding-top: 5px;
}
.fa-bullhorn::after {
  color: #773906;
}
.fa-bullhorn {
  font-size: 18px;
}
.spanpublicite {
  font-style: italic;
  font-size: 11px;
}
#modal-alert {
  display: none;
}
.modal-transaction-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: transparent;
}
#modal-transaction-div {
  background: #f1eeee;
  font-size: 10px;
  box-shadow: 0 0 6px #000010a1;
  box-sizing: border-box;
  margin: auto;
  border-radius: 2px;
  margin-top: 15%;
}
.modal-transaction-text,
.modal-transaction-title {
  margin-top: 3%;
  line-height: 1.6;
  text-align: center;
  padding: 0px 15px;
  font-size: 15px;
  margin-bottom: 1%;
  color: #000000;
}
.accept-transaction-button {
  display: flex;
  justify-content: center;
  padding: 15px;
}
::ng-deep .ql-editor {
  //height: auto !important;//250px
  max-height: 377px;
}
.fadocument {
  font-size: 20px;
  //margin-top: 7px;
}
::ng-deep.textarea-emoji-control {
  height: 25px;
  right: 16px;
  top: 10px;
  width: 25px;
}
::ng-deep .modalperiodecss .modal-dialog {
top: 250px;
}
::ng-deep .modalContactpub .modal-dialog {
  min-width: 50%;
}
.uljaime {
  cursor: pointer;
  // position: absolute;
}
.jaimecommente {
  height: 45px;
}
.listjaime {
  position: relative;
  // top: 30px;
  // left: 20px;

  width: fit-content;
  font-size: 12px;
  background-color: #282d3be6;
  padding: 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: white;

  ul {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
  }
  li {
    font-size: 12px;
  }
}

.listjaime,
.listContact {
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  // min-width: 600px;
}
.listContact {
  position: relative;
  // top: 60px;
  // left: 88px;
  background-color: #282d3be6;
  padding: 5px 5px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  ul {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: none;
  }
  li {
    font-size: 12px;
  }
}
.margleft {
  margin-left: 17%;
}
.card-title2 {
  font-size: 1.1rem;
  margin-bottom: 0;
}
.text-55 {
  font-size: 65px;
}
.text-primary-2 {
  color: #102758;
}
.table .thead-light th {
  color: #414a5f;
  background-color: #e9ecef;
  border-color: transparent;
}
.progress {
  display: flex;
  height: 0.5rem;
  overflow: hidden;
  font-size: 0.60975rem;
  background-color: #eee;
  border-radius: 0.25rem;
}
.green-500 {
  background-color: #4caf50;
}
.cyan-500 {
  background-color: #9c27b0;
}
.teal-500 {
  background-color: #20c997;
}
.purple-500 {
  background-color: #663399;
}
.degrade-card {
  background: linear-gradient(45deg, #213c7f, transparent) #799bed;
}
.degrade-card2 {
  background: linear-gradient(45deg, #e4e5e7, transparent) #799bed;
}
.white-icons {
  font-weight: 600;
  font-family: initial;
  font-size: 32px;
}
.size-titre {
  font-size: 21px;
}
.card-icon-bg .card-body .content1 {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //max-width: 70px;
}

/**** scroll ***/

/*button {
    background: #213C7F;
    color: white;
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }*/

.gallery-wrapper {
  text-align: center;
  .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
  }
}

::ng-deep .ngx-gallery-image {
  border-radius: 15px !important;
}

::ng-deep .ngx-gallery-thumbnails .ngx-gallery-thumbnail {
  border-radius: 9px !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  //background-color: white;
  border-radius: 21px;
}

.show-scroll {
  opacity: 0.8;
}
/*******/

::ng-deep.ql-toolbar {
  margin-left: 20px;
  margin-right: 20px;
}

::ng-deep.ql-toolbar.ql-snow {
  padding: 2px !important;
}

::ng-deep .p-galleria-item .simpleGalleria {
  display: none !important;
}

::ng-deep .p-galleria-container .simpleGalleria {
  min-width: 400px;
  min-height: 300px;
  height: 300px !important;
  width: 400px !important;
}

.borderRadiusCard {
  border-radius: 15px !important;
}

.mr-7 {
  margin-right: 7rem;
}
.ml-7 {
  margin-left: 7rem;
}
// .modalcontactpublication {
//   width: 800px;
// }
.iconContact {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #063577;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 0px 8px 10px 0px;
  padding-top: 10px;
}
.profileImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #063577;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 8px 0;
  padding-top: 7px;
}

/**** style liste copprop **/

.profileImagecoProp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #1c7fe0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 7px;
  display: inline-block;
}

//left list of produit
ul.list-style-none {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mailbox .chat-scroll {
  height: calc(100vh - 100px);
}
.mailbox .message-center {
  height: 250px;
  overflow: auto !important;
  position: relative;
}
.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

.mailbox .message-center .message-item:hover {
  background: #f8f9fa;
}

.mailbox .message-center .message-item {
  //border-bottom: 1px solid #e9ecef;
  display: block;
  text-decoration: none;
  padding: 7px 0px; //9px 15px;
}

.mailbox .message-center .message-item .mail-contnet {
  display: inline-block;
  width: 75%;
  padding-left: 10px;
  vertical-align: middle;
}

.mailbox .message-center .message-item .mail-contnet .message-title {
  margin: 5px 0 0;
}
.mailbox .message-center .message-item .message-title {
  color: #212529;
  font-weight: 500;
}

/*******/

.profileImageCommentaire {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #063577;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 0px 4px;
  padding-top: 7px;
}
.Publicite {
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #ff5722;
  position: relative;
  // overflow: hidden;
  width: 100%;
}
.imgPublicite {
  border-radius: 10px 10px 10px 10px;
}
#slider .carousel-item {
  height: 300px;
}
.radiusimg {
  border-radius: 10px 10px 10px 10px !important;
}
.carousel-indicators li,
.carousel-indicators :active {
  background-color: #102758 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: #102758 no-repeat center center !important;
}
.carousel-caption {
  font-size: 18px;
}

.carousel-item > img {
  width: 100%;
}
carousel-control.left,
.carousel-control.right {
  left: 0;
  z-index: 1;
}
.removepub {
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 100;
  color: white;
  font-size: 15px;
  display: none;
}
.pub {
  background-color: #ff5722;
  color: #fff;
  font-family: cursive;
  display: block;
  position: absolute;
  font-weight: 700;
  transform: rotate(45deg);
  padding: 25px 30px 0px 14px;
  top: 0px;
  right: -80px;
  height: 50px;
  width: 185px;
  text-align: center;
  font-size: 13px;
}

.attachement {
  border: 1px solid #dee2e6;
  background-color: aliceblue;
  padding: 3px;
  border-radius: 5px;
  margin-right: 6px;
  text-align: center;
}

.deleteComment {
  color: #2196f3;
  float: right;
  margin-right: 11px;
}

///====== image ===//

.imgGallerie {
  max-width: 100%;
  max-height: auto;
  position: relative;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%);
  height: 300px;
  width: auto; //400px
  object-fit: cover;
}

.divGallerie {
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  //margin-top: 10px;
}

//(comment and like) position
@media only screen and (max-width: 1450px) {
  .mr-7 {
    margin-right: 2rem;
  }
  .ml-7 {
    margin-left: 2rem;
  }
}

//
.file-input {
  display: none;
}

//scroll design
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; //b5b6b66e
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white; //#b5b6b66e;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; //grey
}

.viewComment {
  border-radius: 10px;
  text-align: left;
  background-color: lightskyblue;
  height: fit-content;
  border: 0px;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important ;
}

.btnComment {
  //margin: auto;display: block;margin-right: 15px;padding: 6px;

  margin: auto;
  display: block;
  margin-right: 15px;
  padding: 6px;
  position: absolute;
  right: 0;
  color: #063577;
}

.input-wrapper {
  position: relative;
  width: 88%;
  //height: 25px;
}

.textare{
  position: relative;
}
.iconCommentaire{
  position: absolute;
  right: -10px;
  top: 7px;
  font-size: 20px;
  color: #063577;
}

//.input-wrapper:before {
//  content: "\f1d8"; //"\f1d9";//"\f064";//"\f04b";
//  font-family: FontAwesome;
//  font-style: normal;
//  font-weight: normal;
//  text-decoration: inherit;
//  color: #063577;
//  font-size: 18px;
//  //padding-right: 0.4em;
//  position: absolute;
//  top: 7px;
//  right: 0;
//}

.containerFeeds {
  height: 964px;
  overflow-y: scroll;
}

/*
  *
  * ===========================================================
  *     HERO SECTION
  * ===========================================================
  *
  */
.hero {
  padding: 2.25rem 0px !important;
  margin: 0px !important;
}
.cardbox {
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 0px !important;
}

/* ------------------------------- */
/* Cardbox Heading
  ---------------------------------- */
.cardbox .cardbox-heading {
  padding: 16px;
  margin: 0;
}
.cardbox .btn-flat.btn-flat-icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: #fff !important;
  background: #b5b6b6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardbox .float-right .dropdown-menu {
  position: relative;
  left: 13px !important;
}
.cardbox .float-right a:hover {
  background: #f4f4f4 !important;
}
.cardbox .float-right a.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 0px 4px 10px;
  clear: both;
  font-weight: 400;
  font-family: "Abhaya Libre", serif;
  font-size: 14px !important;
  color: #848484;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

/* ------------------------------- */
/* Media Section
  ---------------------------------- */
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.media .mr-3 {
  margin-right: 1rem !important;
}
.media img {
  width: 48px !important;
  height: 48px !important;
  padding: 2px;
  border: 2px solid #f4f4f4;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
  padding: 0.4rem !important;
}
.media-body p {
  font-family: "Rokkitt", serif;

  font-weight: 500 !important;
  font-size: 14px;
  color: #88898a;
}
.media-body small span {
  font-family: "Rokkitt", serif;
  font-size: 12px;
  color: #aaa;
  margin-right: 10px;
}

/* ------------------------------- */
/* Cardbox Item
  ---------------------------------- */
.cardbox .cardbox-item {
  position: inherit; //relative
  display: block;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.fw {
  width: 100% !important;
  height: auto;
}

/* ------------------------------- */
/* Cardbox Base
  ---------------------------------- */
.cardbox-base {
  border-bottom: 2px solid #f4f4f4;
}
.cardbox-base ul {
  margin: 0px 0px 0px 15px !important;
  padding: 7px !important;
  font-size: 0px;
  display: inline-block;
}
.cardbox-base li {
  list-style: none;
  margin: 0px 0px 0px -8px !important;
  padding: 0px 0px 0px 0px !important;
  display: inline-block;
}

.cardbox-base li a {
  margin: 0px !important;
  padding: 0px !important;
}
.cardbox-base li a i {
  position: relative;
  top: 4px;
  font-size: 16px;
  color: #8d8d8d;
  margin-right: 15px;
}
.cardbox-base li a span {
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  margin-left: 20px;
  position: relative;
  top: 5px;
}
.cardbox-base li a em {
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  position: relative;
  top: 3px;
}
.cardbox-base li a img {
  width: 25px;
  height: 25px;
  margin: 0px !important;
  border: 2px solid #fff;
}

/* ------------------------------- */
/* Cardbox Comments
  ---------------------------------- */
.cardbox-comments {
  padding: 10px 5px 2px 10px !important;
  font-size: 0px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.cardbox-comments .comment-avatar img {
  margin-top: 1px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
}
.cardbox-comments .comment-body {
  overflow: auto;
}
.search {
  position: relative;
  right: -60px;
  top: -40px;
  margin-bottom: -40px;
  border: 2px solid #f4f4f4;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.search input[type="text"] {
  background-color: #fff;
  line-height: 10px;
  padding: 15px 60px 20px 10px;
  border: none;
  border-radius: 4px;
  width: 350px; //33rem
  font-family: "Rokkitt", serif;
  font-size: 14px;
  color: #8d8d8d;
  height: inherit;
  font-weight: 700;
}
.search button {
  position: absolute;
  right: 0;
  top: 0px;
  border: none;
  background-color: transparent;
  color: #bbbbbb;
  padding: 15px 25px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search button i {
  font-size: 20px;
  line-height: 30px;
  display: block;
}

/* ------------------------------- */
/* Author
  ---------------------------------- */
.author a {
  font-family: "Rokkitt", serif;
  font-size: 16px;
  color: #00c4cf;
}
.author p {
  font-family: "Rokkitt", serif;
  font-size: 16px;
  color: #8d8d8d;
}

/* ---------------------------------- */
/* gallery
  -------------------------------------*/
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.commentJaime {
  color: lightslategrey;
  cursor: pointer;
  font-size: 16px;
}

/********* card stat ***********/
.card_red,
.card_red .title .fa {
  background: linear-gradient(-45deg, #ffec61, #f321d7);
}
.card_violet,
.card_violet .title .fa {
  background: linear-gradient(-45deg, #f403d1, #64b5f6);
}
.card_three,
.card_three .title .fa {
  background: linear-gradient(-45deg, #24ff72, #9a4eff);
}

.card_four,
.card_four .title .fa {
  background: linear-gradient(-45deg, #43c6ac, #191654);
}

.card_five,
.card_five .title .fa {
  background: linear-gradient(-45deg, #ffafbd, #ffc3a0);
}

.text-white {
  color: white;
}

.faInCard {
  color: #fff;
  font-size: 50px;
  width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 25%;
  text-align: center;
  line-height: 100px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

//@media only screen and (max-width: 1200px) and (min-width: 992px){
@media only screen and (min-width: 992px) {
  .textCardMd {
    font-size: 15px;
    font-weight: 500;
  }

  .faInCard {
    width: 50px !important;
    min-width: 50px !important;
    height: 50px !important;
    font-size: 25px !important;
    line-height: 63px !important;
  }
}

/************  timeline **********/
.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
}

.vertical-timeline {
  width: 100%;
  position: relative;
  //padding: 1.5rem 0 1rem
}

.vertical-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 67px;
  height: 100%;
  width: 2px;
  background: #e9ecef;
  border-radius: 0.25rem;
}

.vertical-timeline-element {
  position: relative;
  margin: 0 0 1rem;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.8s;
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 60px;
}

.vertical-timeline-element-icon .badge-dot-xl {
  box-shadow: 0 0 0 5px #fff;
}

.badge-dot-xl {
  width: 18px;
  height: 18px;
  position: relative;
}

.badge:empty {
  display: none;
}

.badge-dot-xl::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 0.25rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  background: #fff;
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 90px;
  font-size: 0.8rem;
}

.vertical-timeline-element-content .timeline-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  //margin: 0 0 .5rem;
  //padding: 2px 0 0;
  font-weight: bold;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  display: block;
  position: absolute;
  left: -94px;
  top: 0;
  padding-right: 10px;
  text-align: right;
  color: grey;
  font-size: 0.7619rem;
  white-space: nowrap;
  font-weight: 500;
}

.vertical-timeline-element-content .timeActualite {
  display: block;
  position: absolute;
  left: -83px !important;
  top: 0 !important;
  padding-right: 10px;
  text-align: right;
  color: #adb5bd;
  font-size: 0.7619rem;
  white-space: nowrap;
  font-weight: 500;
}

/**** table districution recette ***/

//p.ul-widget6__dot {
//  height: 8px;
//  width: 8px;
//  margin: 0;
//  position: relative;
//  z-index: 1;
//}
//.badge-dot-danger {
//  height: 4px;
//  width: 4px;
//  background-color: #f44336;
//  border-radius: 50%;
//  display: inline-block;
//  vertical-align: middle;
//}
//
//.badge-dot-primary {
//  height: 4px;
//  width: 4px;
//  background-color: #663399;
//  border-radius: 50%;
//  display: inline-block;
//  vertical-align: middle;
//}
//
//.badge-dot-info {
//  height: 4px;
//  width: 4px;
//  background-color: #003473;
//  border-radius: 50%;
//  display: inline-block;
//  vertical-align: middle;
//}
//
//.badge-dot-success {
//  height: 4px;
//  width: 4px;
//  background-color: #4caf50;
//  border-radius: 50%;
//  display: inline-block;
//  vertical-align: middle;
//}


.tableFixHead {
  overflow: auto;
  height: 177px;
  width: 100%;
}
.tableFixHead thead th {
  position: sticky;
  top: -5px;
  z-index: 1;
}
.tableFixHead tbody th {
  position: sticky;
  left: 0;
}




//.ul-widget-s6__item {
//  display: flex;
//  justify-content: space-between;
//  margin: 1rem 0;
//}
//
///***** fin timeline2 ******/
//
///**** table districution recette ***/
//
//.tableFixHead          { overflow: auto; height: 177px; width: 100%; }
//.tableFixHead thead th { position: sticky; top: -5px; z-index: 1; }
//.tableFixHead tbody th { position: sticky; left: 0; }

th:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

th:nth-last-child(1) {
  border-radius: 0px 5px 0px 0px;
}
/*** table co-prop****/
.tableFixHeadCoProp {
  overflow: auto;
  height: 300px;
  width: 100%;
}
.tableFixHeadCoProp thead th {
  position: sticky;
  top: -5px;
  z-index: 1;
}
.tableFixHeadCoProp tbody th {
  position: sticky;
  left: 0;
}

/********/

.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
}

.circleTimeLine {
  font-size: 13px;
  margin-left: 3px;
}

.textEllipsisCard {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/********  Respensive View *******/

/***** Large Screen *****/
@media (min-width: 1200px) {
  .shortCutbreadcrumbSmall {
    display: none !important;
  }

  .shortCutbreadcrumbLarge {
    display: initial !important;
  }

  .breadcrumb ul li:after {
    position: initial !important;
  }
  .cardbox-comments .comment-avatar img {
    width: 35px;
    height: 35px;
  }
}

/****** SMALL Screen *****/
@media (max-width: 1200px) {
  .shortCutbreadcrumbSmall {
    display: initial !important;
  }

  .shortCutbreadcrumbLarge {
    display: none !important;
  }

  .breadcrumb ul li:after {
    position: initial !important;
  }
}

/******************/

.iconPostFeeds {
  font-size: 15px;
  color: #2196f3;
  margin-right: 3px;
}

.icon-picture {
  width: 50px;
  padding: 10px 0px 0px 0px; //15px 0px 15px 15px;
}

.font-weight-500 {
  font-weight: 500;
}

/**** design calendar ****/
::ng-deep .fc {
  border-bottom: 1px solid lightgray !important;
}
::ng-deep .fc td {
  border: 0px !important;
}

::ng-deep .fc th {
  border: 0px !important;
  text-align: center !important;
}

::ng-deep .fc .fc-daygrid-day-top {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

::ng-deep .fc-theme-standard .fc-scrollgrid {
  border: 0px !important;
}

::ng-deep .fc-day-today .fc-daygrid-day-number {
  background-color: #063577 !important;
  border-radius: 30px !important;
  padding: 5px 11px 5px 11px !important;
  color: white !important;
}

::ng-deep .fc-daygrid-day .fc-day .fc-day-future {
  padding: 5px 11px 5px 11px !important;
}

::ng-deep .fc-daygrid-day .fc-day .fc-day-past {
  padding: 5px 11px 5px 11px !important;
}

::ng-deep .fc .fc-daygrid-day.fc-day-today {
  background-color: white !important;
}

::ng-deep .fc .fc-daygrid-day-number {
  font-weight: bold !important;
}

::ng-deep .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 2px !important;
  margin-top: 0px !important;
}

::ng-deep .fc .fc-view-harness {
  height: 345px !important;
}

::ng-deep .fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 2.5em !important;
}

::ng-deep .fc .fc-toolbar .fc-button {
  color: black !important;
  background: white !important;
  border: 1px solid white !important;
}

::ng-deep .fc .fc-scroller-liquid-absolute {
  overflow: hidden !important;
}

/**** css widgets ****/

.stats {
  margin: -15px -10px 0px -18px;
}
.stats .col {
  //border: 1px solid red;
  margin: 0;
  padding: 3;
}
.statContainer {
  margin: 5px;
  width: 100%;
  font-size: 13px;
  border-radius: 3px;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
}
.statContainer .title {
  padding: 5px 10px;
  color: #fff;
}
.statContainer.blue .title {
  background-color: #2d72c0;
}
.statContainer.blue .status {
  color: #2d72c0;
}

.statContainer.yellow .title {
  background-color: #f3a254;
}
.statContainer.yellow .status {
  color: #f3a254;
}

.statContainer.fountainBlue .title {
  background-color: #6abebf;
}
.statContainer.fountainBlue .status {
  color: #6abebf;
}

.statContainer.lightBlue .title {
  background-color: #52a1e5;
}
.statContainer.lightBlue .status {
  color: #52a1e5;
}

.statContainer.purple .title {
  background-color: #916df6;
}
.statContainer.purple .status {
  color: #916df6;
}

.statContainer.pink .title {
  background-color: #ef6e85;
}
.statContainer.pink .status {
  color: #ef6e85;
}

.statContainer.orange .title {
  background-color: #ff7043;
}
.statContainer.orange .status {
  color: #ff7043;
}
@media (max-width: 1200px) {
  .stats .col {
    min-width: 20% !important;
  }
  .cardbox-comments .comment-avatar img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 887px) {
  .stats .col {
    min-width: 25% !important;
  }
}
@media (max-width: 768px) {
  .stats .col {
    min-width: 50% !important;
  }
  .cardbox-comments .comment-avatar img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  .modalContactpub .modal-dialog {
    min-width: 50%;
    margin: 1.75rem auto;
  }

}
@media (max-width: 525px) {
  .stats .col {
    min-width: 100% !important;
  }
  .cardbox-comments .comment-avatar img {
    width: 30px;
    height: 30px;
  }
}

.iconFlexDiv {
  flex: 0.2 1 auto !important;
}

.text-left {
  text-align: left !important;
}
.fontSizeNbrWidget {
  font-size: 28px !important;
}

/****** fin css widgets ***/

.picCopropStat {
  width: 45px;
}

::ng-deep .carousel-item {
  display: block !important;
  position: absolute;
  transition: opacity 3s;
  opacity: 0;
  // transition: all 3s;
  //transform: rotate(0turn);
}

::ng-deep .carousel-control-next,
::ng-deep .carousel-control-prev {
  margin-top: 25px !important;
}
::ng-deep .carousel-indicators {
  li {
    background-color: #102758;
  }
}
::ng-deep .carousel-item.active {
  position: relative;
  transition: opacity 3s;
  opacity: 1;
  top: 0;
}
.textpub {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 5px;
  text-align: justify;
  background-color: #e4e4e4d1;
  border-radius: 5px 5px 5px 5px;
}
.textpublicite {
  position: absolute;
  bottom: 10px;
  padding-left: 5px;
  padding-left: 5px;
}
.rightIcon {
  text-align: right;
  position: absolute;
  right: 30px;
  padding-top: 15px;
}
.btn-publish {
  color: #2196f3 !important;
  cursor: pointer;
  padding-right: 5px;
}
.container-carou {
  --d: 6px; /* folded part */
  --c: #ff5722; /* color */
  --f: 16px; /* ribbon font-size */
  padding: 0px 0px;
  position: relative;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #ff5722;
  // margin: 20px;
  // background: lightblue;
}
.container-carou:hover {
  .removepub {
    display: block;
  }
}
.container-carou::before {
  content: attr(data-ribbon);
  position: absolute;
  font-size: var(--f);
  top: 0;
  right: 0;
  z-index: 1000;
  transform: translate(29.29%, -100%) rotate(45deg);
  color: #fff;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: 0;
  transform-origin: bottom left;
  padding: 5px 35px calc(var(--d) + 5px);
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% var(--d) no-repeat var(--c);
  background-clip: padding-box;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(100% - var(--d)) calc(100% - var(--d)),
    var(--d) calc(100% - var(--d)),
    0 100%
  );
  -webkit-mask: linear-gradient(135deg, transparent calc(50% - var(--d) * 0.707), #fff 0) bottom left,
    linear-gradient(-135deg, transparent calc(50% - var(--d) * 0.707), #fff 0) bottom right;
  -webkit-mask-size: 300vmax 300vmax;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}
.left::before {
  left: 0;
  right: auto;
  transform: translate(-29.29%, -100%) rotate(-45deg);
  transform-origin: bottom right;
}
