    
    <div class="row" style="margin: 0px;">
        <div class="col-md-12 mb-4">

            <div *ngIf="(dataSource.data==null || dataSource.data?.length==0)" class="col-12 px-0">
                <ngb-alert
                    class="alert-card alert-info mb-4 alert text-primary alert-dismissible"
                    role="alert">
                    <strong class="text-capitalize">Information !</strong> 
                    Cet utilisateur ne contient pas des compteurs !
                </ngb-alert>
            </div>

            <div class="mat-elevation-z8" *ngIf="can_liste?.permission" [hidden]="dataSource.data?.length == 0">
            <div class="responsive_table table-responsive-sm"  >

                <!-- affichage table -->
                <mat-table class="table table-striped" [dataSource]="dataSource"  matSort   >
                

                    <!-- Réference colis Column -->
                    <ng-container  matColumnDef="type">
                        <mat-header-cell   *matHeaderCellDef >Type</mat-header-cell>
                        <mat-cell *matCellDef="let row" > {{ row.type?.label }} </mat-cell>
                    </ng-container>
                

                    <!-- numero compt Column -->
                    <ng-container matColumnDef="numero">
                        <mat-header-cell *matHeaderCellDef >Intitulé</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row">
                            {{ row?.intitule}}
                        </mat-cell>
                    </ng-container>
                
                    <!--Date Column -->
                    <ng-container matColumnDef="repartition">
                        <mat-header-cell *matHeaderCellDef >Répartition</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row">                           
                            <p *ngIf="row?.repartition==1">Répartition par bien</p>
                            <p *ngIf="row?.repartition==2">Charger syndic</p>
                        </mat-cell>
                    </ng-container>

                     <!--Date Column -->
                     <ng-container matColumnDef="pourcentage">
                        <mat-header-cell *matHeaderCellDef >Pourcentage</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row">                           
                            <p *ngIf="row?.lignes[0]?.pourcentage">{{row?.lignes[0]?.pourcentage}} %</p>
                        </mat-cell>
                    </ng-container>

                      <!--Date Column -->
                      <ng-container matColumnDef="periodicite">
                        <mat-header-cell *matHeaderCellDef >Périodicite</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row">                           
                            <p >{{row?.priodicite?.label}}</p>
                        </mat-cell>
                    </ng-container>

                      <!--Date Column -->
                      <ng-container matColumnDef="montant">
                        <mat-header-cell *matHeaderCellDef >Montant</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row">                           
                            <p >{{row?.montant}}</p>
                        </mat-cell>
                    </ng-container>


                

                    <!--<ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef >Action </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                           
                        </mat-cell>
                    </ng-container>-->

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow >
                        <td class="mat-cell" style="text-align: center" colspan="7">Aucune donnée trouver
                        </td>
                    </tr>
                    <div *ngIf="dataSource.data?.length === 0"></div>
                </mat-table>

                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" ></mat-paginator>

                
                <!-- fin test-->

            </div>
            
            </div>

        </div>
    </div>