<div class="">
    <div class="breadcrumb">
        <h1>Version 1</h1>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li>Version 1</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <!-- ICON BG -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Add-User"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">New Leads</p>
                        <p class="text-primary text-24 line-height-1 mb-2">205</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Financial"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Sales</p>
                        <p class="text-primary text-24 line-height-1 mb-2">4021</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Checkout-Basket"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Orders</p>
                        <p class="text-primary text-24 line-height-1 mb-2">80</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Money-2"></i>
                    <div class="content">
                        <p class="text-muted mt-2 mb-0">Expense</p>
                        <p class="text-primary text-24 line-height-1 mb-2">120</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">This Year Sales</div>
                    <div echarts [options]="salesChartBar" [autoResize]="true" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Sales by Countries</div>
                    <div echarts [options]="salesChartPie" [autoResize]="true" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card card-chart-bottom o-hidden mb-4">
                        <div class="card-body">
                            <div class="text-muted">Last Month Sales</div>
                            <p class="mb-4 text-primary text-24">$40250</p>
                        </div>
                        <div echarts [options]="chartLineOption1" [autoResize]="true" style="height: 260px;"></div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="card card-chart-bottom o-hidden mb-4">
                        <div class="card-body">
                            <div class="text-muted">Last Week Sales</div>
                            <p class="mb-4 text-warning text-24">$10250</p>
                        </div>
                        <div echarts [options]="chartLineOption2" [autoResize]="true" style="height: 260px;"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h6 class="mb-2 text-muted">iPhone x Stock</h6>
                            <p class="mb-1 text-24 font-weight-light text-title">50%</p>
                            <p class="mb-1">
                                <ngb-progressbar type="success" [value]="50" height="4px"></ngb-progressbar>
                            </p>
                            <small class="text-muted">Most sold in last 3 days</small>
                        </div>
                    </div>

                    <div class="card mb-4">Top Selling Products
                        <div class="card-body">
                            <h6 class="mb-2 text-muted">iPhone 6 Stock</h6>
                            <p class="mb-1 text-24 font-weight-light text-title">90%</p>
                            <p class="mb-1">
                                <ngb-progressbar type="danger" [value]="90" height="4px"></ngb-progressbar>
                            </p>
                            <small class="text-muted">Most sold in last 7 days</small>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="col-lg-6 col-md-12">

            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">Top Selling Products</div>
                    <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
                        <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="./assets/images/products/headphone-4.jpg" alt="">
                        <div class="flex-grow-1">
                            <h5 class=""><a href="">Wireless Headphone E23</a></h5>
                            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <p class="text-small text-danger m-0">$450 <del class="text-muted">$500</del></p>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-rounded btn-sm">View details</button>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
                        <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="./assets/images/products/headphone-2.jpg" alt="">
                        <div class="flex-grow-1">
                            <h5 class=""><a href="">Wireless Headphone Y902</a></h5>
                            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <p class="text-small text-danger m-0">$550 <del class="text-muted">$600</del></p>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-sm btn-rounded">View details</button>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
                        <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="./assets/images/products/headphone-3.jpg" alt="">
                        <div class="flex-grow-1">
                            <h5 class=""><a href="">Wireless Headphone E09</a></h5>
                            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <p class="text-small text-danger m-0">$250 <del class="text-muted">$300</del></p>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-sm btn-rounded">View details</button>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3">
                        <img class="avatar-lg mb-3 mb-sm-0 rounded mr-sm-3" src="./assets/images/products/headphone-4.jpg" alt="">
                        <div class="flex-grow-1">
                            <h5 class=""><a href="">Wireless Headphone X89</a></h5>
                            <p class="m-0 text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <p class="text-small text-danger m-0">$450 <del class="text-muted">$500</del></p>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary mt-3 mb-3 m-sm-0 btn-sm btn-rounded">View details</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body p-0">
                    <div class="card-title border-bottom d-flex align-items-center m-0 p-3">
                        <span>User activity</span>
                        <span class="flex-grow-1"></span>
                        <span class="badge badge-pill badge-warning">Updated daily</span>
                    </div>
                    <div class="d-flex border-bottom justify-content-between p-3">
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">Pages / Visit</span>
                            <h5 class="m-0">2065</h5>
                        </div>
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">New user</span>
                            <h5 class="m-0">465</h5>
                        </div>
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">Last week</span>
                            <h5 class="m-0">23456</h5>
                        </div>
                    </div>
                    <div class="d-flex border-bottom justify-content-between p-3">
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">Pages / Visit</span>
                            <h5 class="m-0">1829</h5>
                        </div>
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">New user</span>
                            <h5 class="m-0">735</h5>
                        </div>
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">Last week</span>
                            <h5 class="m-0">92565</h5>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between p-3">
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">Pages / Visit</span>
                            <h5 class="m-0">3165</h5>
                        </div>
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">New user</span>
                            <h5 class="m-0">165</h5>
                        </div>
                        <div class="flex-grow-1">
                            <span class="text-small text-muted">Last week</span>
                            <h5 class="m-0">32165</h5>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body p-0">
                    <h5 class="card-title m-0 p-3">Last 20 Days Sales</h5>
                    <div echarts [options]="chartLineOption3"></div>
                </div>
            </div>
        </div>

    </div>
</div>
