<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
    Chargement en
    cours ...
</h4>
</ngx-spinner>

<div class="row mb-4">
   
    <!-- GRID AND LIST BUTTONS -->
    <div class="col-xl-6 col-lg-6 col-md-12 sol-sm col-12">
        <button class="btn btn-sm btn-outline-light btn-svg mr-2 mt-2"
            [ngClass]="{active: viewMode === 'grid'}" (click)="viewMode = 'grid'">
            <svg version="1.1" width="16px" id="grid" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 369.946 369.946"
                style="enable-background:new 0 0 369.946 369.946;" xml:space="preserve">
                <path d="M250.609,0h-11.934H131.271h-11.934H0v119.337v11.934v107.404v11.934v119.337h119.337h11.934
            h107.404h11.934h119.337V250.609v-11.934V131.271v-11.934V0H250.609z M238.675,11.934v107.404H131.271V11.934H238.675z
             M238.675,131.271v107.404H131.271V131.271H238.675z M11.934,11.934h107.404v107.404H11.934V11.934z M11.934,131.271h107.404
            v107.404H11.934V131.271z M11.934,358.012V250.609h107.404v107.404H11.934z M131.271,358.012V250.609h107.404v107.404H131.271z
             M358.012,358.012H250.609V250.609h107.404V358.012z M358.012,238.675H250.609V131.271h107.404V238.675z M250.609,119.337V11.934
            h107.404v107.404H250.609z" />
            </svg>
        </button>
        <button class="btn btn-sm btn-outline-light btn-svg mt-2" [ngClass]="{active: viewMode === 'list'}"
            (click)="viewMode = 'list'">
            <svg version="1.1" id="list" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="16px" height="16px" viewBox="0 0 612 612"
                style="enable-background:new 0 0 612 612;" xml:space="preserve">
                <path d="M0,97.92v24.48h612V97.92H0z M0,318.24h612v-24.48H0V318.24z M0,514.08h612V489.6H0V514.08z" />
            </svg>
        </button>
    </div>
    <!-- SELECT CEHECKBOX -->
    <div class="col-xl-6 col-lg-6 col-md-12 sol-sm col-12">
        <div class="btn-group float-right">
            <button type="button" (click)="addBloc()" class="btn btn-outline-primary m-1" *ngIf="router.url=='syndic/details-residence/' && can_add?.permission">Ajouter un nouveau</button>
            <button type="button" id='residence-bloc' (click)="addBloc1()" *ngIf="router.url!='syndic/details-residence/' && can_add?.permission" class="btn btn-outline-primary m-1">Ajouter un nouveau</button>
            <button type="button" *ngIf="can_generate?.permission" (click)="open(modalBasic)" class="btn btn-primary m-1">Générer un nouveau</button>
        </div>
    </div>
   
</div>

<div class="text-center" *ngIf="!blocs?.length">
    <!--    <i class="i-Cloud text-75 text-primary mb-3"></i>-->
    <img src="../../assets/images/syndic/noData.png" class="w-25">
    <h5 class="text-primary">Aucun bloc trouvé à cette résidence !</h5>
    <p>Veuillez ajouter des blocs pour profiter de nos services</p>

</div>
<!-- DATA LIST -->

<div class="row" *ngIf="can_liste?.permission" [ngClass]="{'list-horizontal': viewMode === 'list', 'list-grid': viewMode === 'grid'}">
    <!-- SINGLE LIST ITEM -->
    <div *ngFor="let item of blocs | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index"
        class="list-item" [ngClass]="{'col-md-12': viewMode === 'list', 'col-md-3': viewMode === 'grid'}"
        [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
        <div class="card o-hidden mb-4 d-flex"
            [ngClass]="{'flex-row': viewMode === 'list', 'flex-column': viewMode === 'grid'}">
            <div class="list-thumb d-flex">
                <!-- TUMBNAIL -->
                <img *ngIf="item.photo" [src]="item?.photo" alt="">
                <img *ngIf="!item.photo" [src]="'./assets/images/products/speaker-1.jpg'" alt="">
            </div>

            <div class="flex-grow-1" [ngClass]="{'pl-2 d-flex': viewMode === 'list', 'd-bock': viewMode === 'grid'}">
                <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center"
                    [ngClass]="{'flex-lg-row': viewMode === 'list'}">
                    <!-- OTHER DATA -->
                    <a class="w-10 w-sm-100">
                        <div class="item-title">{{item.intitule}}</div>
                    </a>
                   
                    
                    <p class="m-0 text-muted text-center text-small w-5 w-sm-100">
                        {{item?.nbrAppartement}} Appartements
                    </p>
                   
                    <p class="m-0 text-muted text-center text-small w-15 w-sm-100 d-none d-lg-block item-actions">
                      
                        <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1"  *ngIf="can_edit?.permission" title="Modifier" 
                        (click)="editBloc(item)"></span>

                        <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer" *ngIf="can_delete?.permission" (click)="confirmBox(item.cbmarq)"></span>

                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3" *ngIf="blocs?.length">
        <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>

<!--  Modal générer bloc-->
<ng-template #modalBasic class="generer" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title1">Générer Bloc</h5>
    </div>
    <form [formGroup]="blocForm" novalidate (ngSubmit)="onSubmit()" class=" col-md-12">
        <div class="modal-body">
            <div class="col-md-12 form-group mb-3 ">
                <div class="col-sm px-0">
                    <label>Intitulé résidence :</label>
                    <ng-select [clearable]="true" [items]="residences" formControlName="residence" [readonly]="idd"
                         bindLabel="label" placeholder="Choisir une résidence"
                        bindValue="value"
                        [ngClass]="{ 'is-invalid': submitted &&  blocForm.controls.residence.errors || (blocForm.controls.residence.errors  && blocForm.get('residence').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  blocForm.controls.residence.errors || (blocForm.controls.residence.errors  && blocForm.get('residence').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label>Nombre de bloc :</label>
                    <input type="text" class="form-control form-control-specialiser" formControlName="nbrBloc" 
                        [ngClass]="{ 'is-invalid': submitted &&  blocForm.controls.nbrBloc.errors || (blocForm.controls.nbrBloc.errors  && blocForm.get('nbrBloc').touched )}" />
                    <div class="invalid-feedback " *ngIf="submitted &&  blocForm.controls.nbrBloc.errors || (blocForm.controls.nbrBloc.errors  && blocForm.get('nbrBloc').touched )">
                        <div *ngIf="blocForm.controls.nbrBloc.errors.required">
                            Veuillez remplir ce champs !
                        </div>
                        <div *ngIf="blocForm.controls.nbrBloc.errors.min">
                            Nombre minimal = 1 !
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <label>Nombre d'appartements par bloc :</label>
                    <input type="text" class="form-control form-control-specialiser" formControlName="nbrAppartementParBloc"
                        [ngClass]="{ 'is-invalid': submitted &&  blocForm.controls.nbrAppartementParBloc.errors || (blocForm.controls.nbrAppartementParBloc.errors  && blocForm.get('nbrAppartementParBloc').touched )}" />
                    <div class="invalid-feedback " *ngIf="submitted &&  blocForm.controls.nbrAppartementParBloc.errors || (blocForm.controls.nbrAppartementParBloc.errors  && blocForm.get('nbrAppartementParBloc').touched )">
                        <div *ngIf="blocForm.controls.nbrAppartementParBloc.errors.required">
                            Veuillez remplir ce champs !
                        </div>
                        <div *ngIf="blocForm.controls.nbrAppartementParBloc.errors.min">
                            Nombre minimal = 0 !
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label>Prefix :</label>
                    <input type="text" class="form-control form-control-specialiser" formControlName="prefix" placeholder="Ex: Bloc"
                        [ngClass]="{ 'is-invalid': submitted &&  blocForm.controls.prefix.errors || (blocForm.controls.prefix.errors  && blocForm.get('prefix').touched )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  blocForm.controls.prefix.errors || (blocForm.controls.prefix.errors  && blocForm.get('prefix').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <label>Suffix :</label>
                    <input type="tel" class="form-control form-control-specialiser" formControlName="suffix" placeholder="Ex: A"
                        [ngClass]="{ 'is-invalid': submitted &&  blocForm.controls.suffix.errors || (blocForm.controls.suffix.errors  && blocForm.get('suffix').touched )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  blocForm.controls.suffix.errors || (blocForm.controls.suffix.errors  && blocForm.get('suffix').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
         
            <button class="btn btn-primary" type="submit">Générer </button>
            <button class="btn btn-outline-dark " type="button" (click)="modal.close()">Annuler</button>
        </div>
    </form>
  </ng-template>
<!-- end modal générer appartement-->
