.sous_titre{
    background: transparent;
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin: 0 0 !important;
    // padding: 10px 0px;
    // margin: 15px;
}
.card-body-password{
    padding:15px 15px;
}
.fa-eye {
    color: #000;
}

.text-left {
    //justify-content: center;
    //padding: 40px 0px;
    //background-color: rgba(204, 199, 241, 0.267);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.p-viewer2 {
    float: right;
    top: -30px;
    right: 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}