<div id="card-password" class="row mx-0">

    <div class="col card card-info px-0 text-left">
        <div class="card-header">
            <h5 class="py-2 sous_titre">Modifier mot de passe</h5>
        </div>
        <div class="card-body card-body-password">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class=" col-md-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="password">Ancien mot
                        de passe</label>
                    <div class="col-sm-8"><input class="form-control" formControlName="password" required
                            placeholder="ex: *******" type="password" minlength="8" id="password"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Veuillez repmlir ce champs !
                            </div>
                            <div *ngIf="f.password.errors.minlength">8 caractères au minimum !
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row"><label class="col-sm-4 col-form-label" for="newPassword">Nouveau mot de
                        passe</label>
                    <div class="col-sm-8"><input class="form-control" formControlName="newPassword" required
                            placeholder="ex: *******" type="password" minlength="8" id="newPassword"
                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">

                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required">Veuillez repmlir ce champs !
                            </div>
                            <div *ngIf="f.newPassword.errors.minlength">8 caractères au minimum !
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row"><label class="col-sm-4 col-form-label" for="oldpassword">Confirmer
                        mot de passe</label>
                    <div class="col-sm-8">
                        <input class="form-control" formControlName="confirmpassword" placeholder="ex: *******"
                            type="password" minlength="8" id="confirmpassword"
                            [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
                        <span class="p-viewer2">
                            <span *ngIf="change" (click)="myFunction()" class="fa fa-eye" aria-hidden="true"></span>
                            <span *ngIf="!change" (click)="myFunction()" class="fa fa-eye-slash"
                                aria-hidden="true"></span>
                        </span>
                        <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">

                            <div *ngIf="f.confirmpassword.errors.mustMatch">Mots de passe ne
                                correspondent pas ! </div>
                            <div *ngIf="f.confirmpassword.errors.required">Veuillez repmlir ce
                                champs !
                            </div>
                            <div *ngIf="f.confirmpassword.errors.minlength">8 caractères au minimum
                                !
                            </div>
                        </div>
                    </div>
                </div>

                <div class="foooter float-right">
                    <button class="btn btn-secondary" id="annuler" type="button"
                        (click)="passwordForm.reset()">Annuler</button>
                    <button class="ml-2 btn btn-primary" type="submit" id="Valider">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>