<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Communité</h1>
        <ul>
            <li><a routerlink="/communite/documents">Documents</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <div class="row">

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12  mb-4">

            <div class="card cardTablePadding ">
                <div class="form-group" style="display: flex;align-items: stretch; margin-top: 7px;">
                    <input class="form-control w-100" type="search" style="height: calc(1.9695rem + 4px);"
                        placeholder="Recherche" id="Mail-rearch" [(ngModel)]="searchProduit"
                        (ngModelChange)="filterProduit()">
                    <button class="ml-2 btn btn-info">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>

                </div>

                <p-tree [value]="files1" selectionMode="single" (onNodeSelect)="nodeSelect($event)">
                    <ng-template let-node pTemplate="default">
                        <span [ngStyle]="{'color': node?.label===categorieGetDocModel.label ? '#33b5e5' : '' }">
                            {{node?.label}}
                        </span>
                    </ng-template>
                </p-tree>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12  mb-4">
            <div class="card cardTablePadding   col-md-12 mb-4">

                <div class="row mb-2 mt-2">

                    <div class="col-xl col-lg col-md col-sm pr-md-2 mb-2">
                        <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                    </div>
                    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto  mb-2">
                        <button class="btn btn-primary mb-sm-0 mb-3 alignRight " (click)="changeView()"
                            title="Basculer l'affichage">
                            <span class="fa fa-list-ul" style="font-size: 15px;"></span>
                        </button>

                        <button class="btn btn-primary mb-sm-0 mb-3 alignRight mr-md-2" *ngIf="can_add?.permission"
                            (click)="addDocument()">
                            Ajouter
                        </button>
                    </div>

                </div>



                <div class="card" [hidden]="!can_liste?.permission">
                    <div class="example-container mat-elevation-z8">
                        <!-- affichage table -->
                        <mat-table class="table" [dataSource]="dataSource" matSort
                            [hidden]="isViewChanged || dataSource.data.length==0">


                            <!-- Réference colis Column -->
                            <ng-container matColumnDef="Intitule">
                                <mat-header-cell *matHeaderCellDef>Intitule</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-label mr-2"> Intitule:</span>
                                    {{ row.intitule }}
                                </mat-cell>
                            </ng-container>


                            <!-- Date Column -->
                            <ng-container matColumnDef="Date création">
                                <mat-header-cell *matHeaderCellDef>Date création</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-label mr-2"> Date création:</span>
                                    {{ row?.cbcreation.date | date : 'dd-MM-yyyy H:m' }}
                                </mat-cell>
                            </ng-container>

                            <!--Date Column -->
                            <ng-container matColumnDef="Date modification">
                                <mat-header-cell *matHeaderCellDef>Date modification</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-label mr-2"> Date modification:</span>
                                    {{ row?.cbmodification.date | date : 'dd-MM-yyyy H:m' }}
                                </mat-cell>
                            </ng-container>




                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-label mr-2"> Action:</span>

                                    <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1" title="Modifier"
                                        (click)="editDocument(row?.cbmarq)" *ngIf="can_edit?.permission"></span>
                                    <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                        *ngIf="can_delete?.permission" (click)="confirmBox(row?.cbmarq)"></span>
                                    <a [href]="row?.attachement" target="_blanc" title="Télécharger" class="mr-1 mt-2">
                                        <span class="fa fa-download successMaterial"></span></a>
                                    <!--  cancel devis -->
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" style="text-align: center" colspan="7">Aucune donnée trouvée
                                </td>
                            </tr>
                            <div *ngIf="dataSource.data?.length === 0"></div>
                        </mat-table>

                        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                            [showFirstLastButtons]="true" [hidden]="isViewChanged || dataSource.data.length==0">
                        </mat-paginator>


                    </div>
                    <!-- affichage card -->
                    <mat-grid-list [cols]="breakpoint" rowHeight="4:5" (window:resize)="onResize($event)"
                        *ngIf="isViewChanged && pagedList?.length > 0">


                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 cardStyle"
                                *ngFor="let data of pagedList">

                                <div class="card card-profile-1 mb-4">
                                    <div class="card-body text-center">

                                        <span class="fa fa-file-text" aria-hidden="true" style="font-size:50px"
                                            *ngIf="data.attachementExt=='xlsx' || data.attachementExt=='xls' || data.attachementExt=='csv' || data.attachementExt=='csv' || data.attachementExt=='docx' || data.attachementExt=='doc'"></span>
                                        <span class="fa fa-file-pdf-o" aria-hidden="true" style="font-size:50px"
                                            *ngIf="data.attachementExt=='pdf'"></span>
                                        <span class="fa fa-file-image-o" aria-hidden="true" style="font-size:50px"
                                            *ngIf="data.attachementExt=='png' || data.attachementExt=='jpg' || data.attachementExt=='jpeg'  || data.attachementExt=='bmp'"></span>
                                        <br>
                                        <p class="textCard" [title]="data.intitule">{{data.intitule}}</p>

                                        <div class="card-socials-simple">


                                            <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1"
                                                title="Modifier" (click)="editDocument(data?.cbmarq)"
                                                *ngIf="can_edit?.permission"></span>
                                            <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                                *ngIf="can_delete?.permission"
                                                (click)="confirmBox(data?.cbmarq)"></span>
                                            <a [href]="data?.attachement" target="_blanc" title="Télécharger"
                                                class="mr-1 mt-2" *ngIf="can_detail?.permission"> <span
                                                    class="fa fa-download successMaterial"></span></a>


                                            <!---->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </mat-grid-list>

                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = OnPageChange($event)" *ngIf="isViewChanged && pagedList?.length > 0">
                    </mat-paginator>

                    <!-- fin -->


                    <div *ngIf="pagedList?.length == 0">
                        <img src="../../../assets/images/messagerie/pasmsg.jpg" alt="" class="rounded-circle"
                            style="display: block; width: 23%; margin: auto;background-color: #67abed;">
                        <!--<p style="text-align: center;padding: 32px;font-weight: 500;">Veuillez selectionner un produit</p>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
