.cardStyle{
    padding-top: 32px;
    padding-left: 35px;
    padding-right: 35px;
}

.textCard{
    max-width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fa-search{
    font-size: 19px;
}
@media (max-width: 900px) {
    .mat-column-Intitule {
        padding-left: 0px;
    }
  }
