<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb list-reglement">
    <h1>Analytics</h1>
    <ul>
        <li><a routerLink="/">Intérrogation par produit</a></li>
        <li>Liste</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="card mb-2" style="background-color: aliceblue;">
    <div class="card-body">
        <div class="row" >
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 mb-2" >
                <h4 class="card-title">Produit</h4>
                <ng-select [clearable]="false" [items]="listResidence" bindLabel="intitule"
                    placeholder="Veuillez Choisir un produit" bindValue="cbmarq"
                    [(ngModel)]="interrogationModel.produit" (change)="onChangeProduit(true)">
                </ng-select>


            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 mb-2" >
                <h4 class="card-title">Exercice</h4>
                <ng-select  [clearable]="false" [items]="listExercice"  
                               bindLabel="interrogationModel.exercice" placeholder="Veuillez choisir une année" bindValue="interrogationModel.exercice" [(ngModel)]="interrogationModel.exercice"  (change)="onChangeExercice()"  >
                </ng-select>                   
                
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2" style="margin: auto;">
                <button type="submit" id="interogbtn" class="btn btn-block btn-outline-primary" (click)="interroger()"
                    [disabled]="(interrogationModel.exercice==null || interrogationModel.produit==null)">
                    <span class="fa fa-database" ></span> Intérroger
                </button>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-body">
            
        <h4 class="card-title generalTitle"> SYNDIC DE PRODUIT  " {{residenceSelected?.intitule}} "  {{excerciceSelected}}</h4>

            <ngb-tabset class="nav-fill">
                <!-- solde -->
                <ngb-tab  >
                    <ng-template ngbTabTitle>
                        <div > 
                            <i class="nav-icon icon-size i-Coins"></i>
                            Solde</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row" style="margin-top: 12px;" >
                           <div class="col-md-12">
                                <!-- table solde -->
                            <div class="table-responsive m-t-10">
                                <table class="table table-bordered  table-sm" id="tabled">
                                    <thead class="bg-info text-white" >
                                    <tr>
                                        <th style="text-align: left!important;padding-left: 25px;font-weight: 400;"></th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JANVIER </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">FEVRIER </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">MARS </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">AVRIL </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">MAI </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JUIN </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JUILLET </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">AOUT </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">SEPTEMBRE </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">OCTOBRE </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">NOVEMBRE </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">DECEMBRE </th>



                                    </tr>
                                    </thead>
                                    <tbody class="border border-info tb" >
                                        <!-- solde initial-->
                                        <tr >
                                            
                                            <td class="titreLine">  
                                                Solde Initial                                         
                                            </td>
                                            <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of soldeInitial"
                                            [ngClass]="[ +(solde?.toFixed(3))> 0 ? 'soldePositif' : '',  +(solde?.toFixed(3)) < 0 ? 'soldeNegatif' : '']"                                             
                                            >
                                               {{solde?.toFixed(3)}}
                                            </td>
                                         
                                        </tr>
                                        <!--recette -->
                                        <tr >
                                            <td  class="titreLine">  
                                                Recette                                        
                                            </td>
                                            <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of soldeRecette"
                                            [ngClass]="[ +(solde?.toFixed(3))> 0 ? 'soldePositif' : '',  +(solde?.toFixed(3)) < 0 ? 'soldeNegatif' : '']">
                                                {{solde?.toFixed(3)}}
                                             </td>
                                          
                                        </tr>
                                        <!-- depense -->
                                        <tr >
                                            <td  class="titreLine">  
                                                Depence                                         
                                            </td>
                                            <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of soldeDepense"
                                            [ngClass]="[ +(solde?.toFixed(3))> 0 ? 'soldePositif' : '',  +(solde?.toFixed(3)) < 0 ? 'soldeNegatif' : '']">
                                                {{solde?.toFixed(3)}}
                                             </td>
                                        </tr>
                                        <!-- solde final-->
                                        <tr >
                                            <td class="titreLine">  
                                                Solde Final                                         
                                            </td>
                                            <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of soldeFinal"
                                            [ngClass]="[ +(solde?.toFixed(3))> 0 ? 'soldePositif' : '',  +(solde?.toFixed(3)) < 0 ? 'soldeNegatif' : '']">
                                                {{solde?.toFixed(3)}}
                                             </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                           </div>
                        </div>

                        <div class="row" style="margin-top: 12px;" >
                            <div class="col-md-12">
                                    <div style="border: 1px solid lightgrey;padding: 20px;">                                       
                                        <div echarts [options]="dounghoutChart" [autoResize]="true"  class="demo-chart"></div>

                                    </div>
                            </div>
                        </div>

                       
                           
            
                    </ng-template>
                </ngb-tab>
                <!--recette-->
                <ngb-tab  >
                    <ng-template ngbTabTitle>
                        <div >
                            <i class="nav-icon icon-size i-Money-Bag"></i>
                            
                            Recette</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <!-- toolbar -->
                        <div  class="row d-flex align-items-center" >
                              <!-- input Search-->
                            <div  class="col-lg-3 col-12 ">
                                <div id="tbr1_filter" class="dataTables_filter" *ngIf="viewDetail">
                                    <label style="display: inline-flex;">
                                        <span style="padding-top: 3px;padding-right: 3px;"> Chercher: </span>
                                    <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="tbr1"  [(ngModel)]="searchProduit" (ngModelChange)="filterProduit()" >
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12 " >
                            </div>
                            <!-- afficher plus de détails-->
                            <div  class="col-lg-3 col-12 ">
                                <button  class="btn btn-outline-info" style="float: right;" (click)="afficherDetails()">
                                 <span *ngIf="!viewDetail"> Afficher plus de détails</span>
                                 <span *ngIf="viewDetail"> Retour</span>
                                </button>
                            </div>
                         </div>
                        <!-- solde prévisionnel et réel annuel-->
                        <div class="row" style="margin-top: 12px;" >
                            <div class="col-md-12" [hidden]="viewDetail">
                                <div class="table-responsive m-t-10" >
                                    <table class="table table-bordered  table-sm" id="tabled">
                                        <thead class="bg-info text-white" >
                                        <tr>
                                            <th style="text-align: left!important;padding-left: 25px;font-weight: 400;"></th>
                                            <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JANVIER </th>
                                            <th style="text-align: center!important;font-weight: 400;border-left: 0px;">FEVRIER </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">MARS </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">AVRIL </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">MAI </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JUIN </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JUILLET </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">AOUT </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">SEPTEMBRE </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">OCTOBRE </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">NOVEMBRE </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">DECEMBRE </th>
                                        </tr>
                                        </thead>
                                        <tbody class="border border-info tb" >
                                            <!-- Total Prévu -->
                                            <tr >
                                                <td class="titreLine">  
                                                    Total Prévu                                       
                                                </td>
                                                <td style="text-align: center!important;border-left: 0px;" *ngFor="let solde of listRecette"
                                                [ngClass]="[ +(solde?.Prevu?.toFixed(3))> 0 ? 'colPrevu' : '']">
                                                
                                                {{solde?.Prevu?.toFixed(3)}} 
                                                </td>
                                            </tr>
                                            <!-- Total Réel -->
                                            <tr >
                                                <td class="titreLine">  
                                                    Total Réel                                        
                                                </td>
                                                <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of listRecette"
                                                [ngClass]="[ +(solde?.Reel?.toFixed(3))> 0 ? 'colReel' : '']">
                                                    {{solde?.Reel?.toFixed(3)}}
                                                </td>
                                            
                                            </tr>

                                             <!-- Commul Prévu -->
                                             <tr >
                                                <td class="titreLine">
                                                    Commul Prévu
                                                </td>
                                                <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of listRecette"
                                                [ngClass]="[ +(solde?.CumulPrevu?.toFixed(3))> 0 ? 'colPrevu' : '']">
                                                    {{solde?.CumulPrevu?.toFixed(3)}}
                                                </td>

                                            </tr>

                                             <!-- Commul Reel -->
                                             <tr >
                                                <td class="titreLine">
                                                    Commul Réel
                                                </td>
                                                <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of listRecette"
                                                [ngClass]="[ +(solde?.CumulReel?.toFixed(3))> 0 ? 'colReel' : '']">
                                                    {{solde?.CumulReel?.toFixed(3)}}
                                                </td>

                                            </tr>
                                             <!-- Différence -->
                                             <tr >
                                                <td class="titreLine">
                                                    Différence
                                                </td>
                                                <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of listRecette"
                                                [ngClass]="[ +(solde?.Difference?.toFixed(3))> 0 ? 'colReel' : '']">
                                                    {{solde?.Difference?.toFixed(3)}}
                                                </td>

                                            </tr>

                                             <!-- Rentabilité -->
                                             <tr >
                                                <td class="titreLine">
                                                    Rentabilité
                                                </td>
                                                <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of listRecette"
                                                [ngClass]="[ +(solde?.Rentabilite?.toFixed(3))> 0 ? 'colReel' : '']">
                                                    {{solde?.Rentabilite?.toFixed(3)}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- detail recette-->
                            <div class="col-md-12"  [hidden]="!viewDetail">
                                <div class="table-responsive m-t-10" >

                                    <!-- affichage table -->
                                    <mat-table class="table table-striped" [dataSource]="dataSourceDetailRecette"  matSort >
                                    
                
                                                                      
                                        <!-- Recette  Column -->
                                        <ng-container  matColumnDef="CODE">
                                            <mat-header-cell   *matHeaderCellDef >CODE</mat-header-cell>
                                            <mat-cell *matCellDef="let row; let i=index" style="font-weight: 600; color: #213c7e;"> {{row?.code}}</mat-cell>
                                        </ng-container>

                                        <!-- Réference  Column -->
                                        <ng-container  matColumnDef="JAN">
                                            <mat-header-cell   *matHeaderCellDef >JAN</mat-header-cell><!--[hidden]="row[1].Reel!=0"--> <!--[hidden]="row[1].Reel==0"-->
                                            <mat-cell *matCellDef="let row" > 
                                                <span class="soldeReelColor" *ngIf="row[1].Reel!=0 && row[1].Prevu!=0">{{row[1].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[1].Reel==0 && row[1].Prevu!=0">{{ row[1].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[1].Reel==0 &&  row[1].Prevu==0">{{row[1].Reel?.toFixed(3)}}</span> 
                                            </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Recette  Column -->
                                        <ng-container  matColumnDef="FEV">
                                            <mat-header-cell   *matHeaderCellDef >FEV</mat-header-cell>
                                            <mat-cell *matCellDef="let row" > 
                                                <!--<span class="soldePevuColor" [hidden]="row[2].Reel!=0">{{ row[2].Prevu?.toFixed(3) }} </span>
                                                 <span class="soldeReelColor"  [hidden]="row[2].Reel==0"> {{row[2].Reel?.toFixed(3)}} </span>-->
                                                 <span class="soldeReelColor" *ngIf="row[2].Reel!=0 && row[2].Prevu!=0">{{row[2].Reel?.toFixed(3)}}</span> 
                                                 <span class="soldePevuColor" *ngIf="row[2].Reel==0 && row[2].Prevu!=0">{{ row[2].Prevu?.toFixed(3) }}</span>                                               
                                                 <span class="soldeInitColor" *ngIf="row[2].Reel==0 &&  row[2].Prevu==0">{{row[2].Reel?.toFixed(3)}}</span> 
                                            </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Réference  Column -->
                                        <ng-container  matColumnDef="MARS">
                                            <mat-header-cell   *matHeaderCellDef >MARS</mat-header-cell>
                                            <mat-cell *matCellDef="let row" >  
                                                <span class="soldeReelColor" *ngIf="row[3].Reel!=0 && row[3].Prevu!=0">{{row[3].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[3].Reel==0 && row[3].Prevu!=0">{{ row[3].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[3].Reel==0 &&  row[3].Prevu==0">{{row[3].Reel?.toFixed(3)}}</span> 
                                             </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Recette  Column -->
                                        <ng-container  matColumnDef="AVR">
                                            <mat-header-cell   *matHeaderCellDef >AVR</mat-header-cell>
                                            <mat-cell *matCellDef="let row" >
                                                <span class="soldeReelColor" *ngIf="row[4].Reel!=0 && row[4].Prevu!=0">{{row[4].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[4].Reel==0 && row[4].Prevu!=0">{{ row[4].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[4].Reel==0 &&  row[4].Prevu==0">{{row[4].Reel?.toFixed(3)}}</span> 
                                            </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Réference  Column -->
                                        <ng-container  matColumnDef="MAI">
                                            <mat-header-cell   *matHeaderCellDef >MAI</mat-header-cell>
                                            <mat-cell *matCellDef="let row" > 
                                                <span class="soldeReelColor" *ngIf="row[5].Reel!=0 && row[5].Prevu!=0">{{row[5].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[5].Reel==0 && row[5].Prevu!=0">{{ row[5].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[5].Reel==0 &&  row[5].Prevu==0">{{row[5].Reel?.toFixed(3)}}</span> 
                                             </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Recette  Column -->
                                        <ng-container  matColumnDef="JUIN">
                                            <mat-header-cell   *matHeaderCellDef >JUIN</mat-header-cell>
                                            <mat-cell *matCellDef="let row" > 
                                                <span class="soldeReelColor" *ngIf="row[6].Reel!=0 && row[6].Prevu!=0">{{row[6].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[6].Reel==0 && row[6].Prevu!=0">{{ row[6].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[6].Reel==0 &&  row[6].Prevu==0">{{row[6].Reel?.toFixed(3)}}</span> 
                                            </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Réference  Column -->
                                        <ng-container  matColumnDef="JUIL">
                                            <mat-header-cell   *matHeaderCellDef >JUIL</mat-header-cell>
                                            <mat-cell *matCellDef="let row" > 
                                                <span class="soldeReelColor" *ngIf="row[7].Reel!=0 && row[7].Prevu!=0">{{row[7].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[7].Reel==0 && row[7].Prevu!=0">{{ row[7].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[7].Reel==0 &&  row[7].Prevu==0">{{row[7].Reel?.toFixed(3)}}</span> 
                                            </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Recette  Column -->
                                        <ng-container  matColumnDef="AOUT">
                                            <mat-header-cell   *matHeaderCellDef >AOUT</mat-header-cell>
                                            <mat-cell *matCellDef="let row" > 
                                                <span class="soldeReelColor" *ngIf="row[8].Reel!=0 && row[8].Prevu!=0">{{row[8].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[8].Reel==0 && row[8].Prevu!=0">{{ row[8].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[8].Reel==0 &&  row[8].Prevu==0">{{row[8].Reel?.toFixed(3)}}</span>  
                                             </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Réference  Column -->
                                        <ng-container  matColumnDef="SEP">
                                            <mat-header-cell   *matHeaderCellDef >SEP</mat-header-cell>
                                            <mat-cell *matCellDef="let row" > 
                                                <span class="soldeReelColor" *ngIf="row[9].Reel!=0 && row[9].Prevu!=0">{{row[9].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[9].Reel==0 && row[9].Prevu!=0">{{ row[9].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[9].Reel==0 &&  row[9].Prevu==0">{{row[9].Reel?.toFixed(3)}}</span> 
                                             </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Recette  Column -->
                                        <ng-container  matColumnDef="OCT">
                                            <mat-header-cell   *matHeaderCellDef >OCT</mat-header-cell>
                                            <mat-cell *matCellDef="let row" > 
                                                <span class="soldeReelColor" *ngIf="row[10].Reel!=0 && row[10].Prevu!=0">{{row[10].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[10].Reel==0 && row[10].Prevu!=0">{{ row[10].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[10].Reel==0 &&  row[10].Prevu==0">{{row[10].Reel?.toFixed(3)}}</span>  
                                            </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Réference  Column -->
                                        <ng-container  matColumnDef="NOV">
                                            <mat-header-cell   *matHeaderCellDef >NOV</mat-header-cell>
                                            <mat-cell *matCellDef="let row" > 
                                                <span class="soldeReelColor" *ngIf="row[11].Reel!=0 && row[11].Prevu!=0">{{row[11].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[11].Reel==0 && row[11].Prevu!=0">{{ row[11].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[11].Reel==0 &&  row[11].Prevu==0">{{row[11].Reel?.toFixed(3)}}</span>  
                                             </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Recette  Column -->
                                        <ng-container  matColumnDef="DEC">
                                            <mat-header-cell   *matHeaderCellDef >DEC</mat-header-cell>
                                            <mat-cell *matCellDef="let row" >
                                                <span class="soldeReelColor" *ngIf="row[12].Reel!=0 && row[12].Prevu!=0">{{row[12].Reel?.toFixed(3)}}</span> 
                                                <span class="soldePevuColor" *ngIf="row[12].Reel==0 && row[12].Prevu!=0">{{ row[12].Prevu?.toFixed(3) }}</span>                                               
                                                <span class="soldeInitColor" *ngIf="row[12].Reel==0 &&  row[12].Prevu==0">{{row[12].Reel?.toFixed(3)}}</span>   
                                            </mat-cell>
                                        </ng-container>
                                    
                                        <!-- Réference  Column -->
                                        <ng-container  matColumnDef="TOTAL">
                                            <mat-header-cell   *matHeaderCellDef >TOTAL</mat-header-cell>
                                            <mat-cell *matCellDef="let row" style="font-weight: 600;" class="soldeReelColor"> {{ row?.Recette?.toFixed(3) }} </mat-cell>
                                        </ng-container>
                                        <!-- Réference  Column -->
                                        <ng-container  matColumnDef="RESTE">
                                            <mat-header-cell   *matHeaderCellDef >RESTE</mat-header-cell>
                                            <mat-cell *matCellDef="let row" style="font-weight: 600;" class="soldePevuColor"> {{ row?.Reste?.toFixed(3) }} </mat-cell>
                                        </ng-container>
                                    
                                    
                
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                
                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow >
                                            <td class="mat-cell" style="text-align: center" colspan="3">Aucune donnée trouver
                                            </td>
                                        </tr>
                                        <div *ngIf="dataSourceDetailRecette.data?.length === 0"></div>
                                    </mat-table>
                
                                    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" ></mat-paginator>
                                <!-- fin-->
                                </div>
                            </div>
                        </div>

                        <!-- charts -->
                        <div class="row" style="margin-top: 12px;" *ngIf="!viewDetail">
                                                
                            <div class="col-md-12">

                                    <div style="border: 1px solid lightgrey;padding: 20px;overflow-x: scroll;">      
                                        <h4 class="titleChartRecette">Solde prévisionnel et réel annuel</h4>
                                 
                                        <div echarts [options]="chartBar"   class="demo-chart"></div><!--[autoResize]="true"-->

                                    </div>
                            </div>
                        </div>
            
                    </ng-template>
                </ngb-tab>
                <!-- depense-->
                <ngb-tab  >
                    <ng-template ngbTabTitle>
                        <div >
                            <i class="nav-icon icon-size i-Financial"></i>
                            Dépense</div>
                    </ng-template>
                    <ng-template ngbTabContent>
            
                        <div class="row" style="margin-top: 12px; margin-left: -30px;  margin-right: -30px;" >
                            <div class="col-md-12">
                                 <!-- table solde -->
                             <div class="table-responsive m-t-10">

                                <!-- table header-->
                                <table class="table table-bordered  table-sm" id="tabled" style="margin: 0px;">
                                    <thead class="bg-info text-white" >
                                       <tr>
                                           <th class="colDepense" colspan="3">DEPENSE</th>
                                           <th  class="colMois" >JAN </th>
                                           <th  class="colMois" >FEV </th>
                                           <th  class="colMois">MARS </th>
                                           <th  class="colMois">AVR </th>
                                           <th  class="colMois">MAI </th>
                                           <th  class="colMois">JUIN </th>
                                           <th  class="colMois">JUIL </th>
                                           <th  class="colMois">AOUT </th>
                                           <th  class="colMois">SEP </th>
                                           <th  class="colMois">OCT </th>
                                           <th  class="colMois">NOV </th>
                                           <th  class="colMois">DEC </th>
   
   
   
                                       </tr>
                                    </thead>
                                </table>
                              

                                 <!-- Contrat-->
                                 <table class="table table-bordered  table-sm" id="tabled" style="margin: 0px;">                                    
                                     <tbody class="border border-info tb" >
 
                                                                            
                                       
                                        <tr *ngFor="let libelle of libelleContratDepense ; let i=index">
                                            <th [attr.rowspan]="libelleContratDepense.length+1" *ngIf="i==0" class="colTitleDepense">  
                                                  <span > Contrat  </span> 
                                            </th>
                                            <td class="colsubTitleDepense"  [ngClass]="{'colTotalSubRubrique': libelle.toLowerCase()== 'total' }">{{libelle}}</td>

                                             <td *ngFor="let solde of contratDepense[i] | keyvalue: originalOrder" class="colMois" 
                                             [ngClass]="[(+(solde?.value?.toFixed(3))!= 0 && !libelle.toLowerCase().includes('total')) ? 'colTotalNotEmpty' : '',  (+(solde?.value?.toFixed(3))!= 0 && libelle.toLowerCase().includes('total')) ? 'colTotalSubRubrique' : '']" 
                                             > 
                                             {{solde?.value?.toFixed(3)}}                                             
                                                                                  
                                             </td>

                                           
                                        </tr>
                                        
                                     </tbody>
                                 </table>

                                 <!-- Compteurs -->
                              
                                <table class="table table-bordered  table-sm" id="tabled" style="margin: 0px;">                                    
                                    <tbody class="border border-info tb" >                                                                           
                                     
                                                                           
                                        <tr>
                                            <th [attr.rowspan]="lengthDepenseList+1" class="colTitleDepense"> <span >Compteurs</span></th>   <!-- augmenter la taille totale des lignes-->                                             
                                        </tr>

                                       <!-- ligne steg -->
                                        <tr *ngFor="let compt of compteurSteg;let l=index">
                                            <td   [attr.rowspan]="compteurSteg?.length" *ngIf="l==0" class="colSubTitleCMPT">STEG</td> 
                                            <td [ngClass]="{'colTotalSubRubrique': compt.rubriqueName.toLowerCase()== 'total' }"  class="colSub2TitleCMPT">{{compt.rubriqueName}}</td> 
                                            <td *ngFor="let solde of compt.total | keyvalue: originalOrder " class="colMois" 
                                            [ngClass]="[(+(solde?.value?.toFixed(3))!= 0 && !compt.rubriqueName.toLowerCase().includes('total')) ? 'colTotalNotEmpty' : '',  (+(solde?.value?.toFixed(3))!= 0 && compt.rubriqueName.toLowerCase().includes('total')) ? 'colTotalSubRubrique' : '']" 
                                            > 

                                                {{solde?.value?.toFixed(3)}}                                      
                                            </td>

                                        </tr>
                                        <!-- ligne total Steg-->
                                        <tr >
                                           
                                            <td    class="colSubTitleCMPT colTotalSubRubrique" colspan="2">TOTAL STEG</td>                                             
                                           
                                            <td *ngFor="let solde of totalCompteurSteg;let l=index"  class="colMois"   [ngClass]="[+(solde?.toFixed(3))!= 0 ? 'colTotalSubRubrique' : '']"> {{solde?.toFixed(3)}}   
                                   
                                            </td>

                                        </tr>

                                         <!-- ligne sonede -->
                                         <tr *ngFor="let compt of compteurSonede;let l=index">
                                             
                                            <td   [attr.rowspan]="compteurSonede?.length" *ngIf="l==0" class="colSubTitleCMPT">SONEDE</td> 
                                            <td [ngClass]="{'colTotalSubRubrique': compt.rubriqueName.toLowerCase()== 'total' }" class="colSub2TitleCMPT">{{compt.rubriqueName}}</td> 
                                            <td *ngFor="let solde of compt.total | keyvalue: originalOrder " class="colMois"
                                            [ngClass]="[(+(solde?.value?.toFixed(3))!= 0 && !compt.rubriqueName.toLowerCase().includes('total')) ? 'colTotalNotEmpty' : '',  (+(solde?.value?.toFixed(3))!= 0 && compt.rubriqueName.toLowerCase().includes('total')) ? 'colTotalSubRubrique' : '']" 
                                            >
                                                 {{solde?.value?.toFixed(3)}}                                      
                                            </td>

                                        </tr>
                                         <!-- ligne total SONEDE-->
                                         <tr >
                                           
                                            <td    class="colSubTitleCMPT colTotalSubRubrique" colspan="2">TOTAL SONEDE</td>                                             
                                           
                                            <td *ngFor="let solde of totalCompteurSonede;let l=index"  class="colMois " [ngClass]="[+(solde?.toFixed(3))!= 0 ? 'colTotalSubRubrique' : '']"> {{solde?.toFixed(3)}}                                      
                                            </td>

                                        </tr>
                                         <!-- ligne total COMPTEUR-->
                                         <tr >
                                           
                                            <td    class="colSubTitleCMPT colTotalSubRubrique" colspan="2">TOTAL</td>                                             
                                           
                                            <td *ngFor="let solde of totalCompteur;let l=index"  class="colMois " [ngClass]="[+(solde?.toFixed(3))!= 0 ? 'colTotalSubRubrique' : '']"> {{solde?.toFixed(3)}}                                      
                                            </td>

                                        </tr>



                                    </tbody>
                                </table>

                                <!-- Autres-->
                                 <table class="table table-bordered  table-sm" id="tabled" style="margin: 0px;">                                    
                                    <tbody class="border border-info tb" >                                                                           
                                     
                                       
                                       <tr *ngFor="let libelle of libelleAutresDepense ; let j=index">
                                           <th [attr.rowspan]="libelleAutresDepense.length+1" *ngIf="j==0" class="colTitleDepense">  
                                                 <span > Autres  </span> 
                                           </th>
                                           <td class="colsubTitleDepense" [ngClass]="{'colTotalSubRubrique': libelle.toLowerCase()== 'total' }">{{libelle}}</td>

                                            <td *ngFor="let solde of autresDepense[j] | keyvalue: originalOrder" class="colMois"
                                            [ngClass]="[(+(solde?.value?.toFixed(3))!= 0 && !libelle.toLowerCase().includes('total')) ? 'colTotalNotEmpty' : '',  (+(solde?.value?.toFixed(3))!= 0 && libelle.toLowerCase().includes('total')) ? 'colTotalSubRubrique' : '']" 
                                            > 
                                            {{solde?.value?.toFixed(3)}}                                       
                                            </td>
                                          
                                       </tr>
                                    </tbody>
                                </table>

                                <!-- Total-->
                                <table class="table table-bordered  table-sm" id="tabled" style="margin: 0px;">                                    
                                    <tbody class="border border-info tb" >
                                   
                                         
                                            <tr >
                                                <th class="colDepense colTotal" colspan="2" >  
                                                    <span > Total  </span> 
                                                </th>

                                                <td *ngFor="let solde of totalDepenseList" class="colMois colTotal"> {{solde?.toFixed(3)}}                                      
                                                </td>
                                            
                                            </tr>
                                        
                                       
                                    </tbody>
                                </table>



                             </div>
                            </div>
                         </div>
            
                    </ng-template>
                </ngb-tab>
                 <!-- cheque /traite  -->
                 <ngb-tab  >
                    <ng-template ngbTabTitle>
                        <div > 
                            <i class="nav-icon icon-size i-Dollar"></i>
                            <!--<span class="nav-icon icon-size fa fa-usd"></span>-->
                            Chéque / traite</div>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row" style="margin-top: 12px;" >
                           <div class="col-md-12">
                                <!-- table solde -->
                            <div class="table-responsive m-t-10">
                                <table class="table table-bordered  table-sm" id="tabled">
                                    <thead class="bg-info text-white" >
                                    <tr>
                                        <th style="text-align: left!important;padding-left: 25px;font-weight: 400;"></th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JANVIER </th>
                                        <th style="text-align: center!important;font-weight: 400;border-left: 0px;">FEVRIER </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">MARS </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">AVRIL </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">MAI </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JUIN </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">JUILLET </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">AOUT </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">SEPTEMBRE </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">OCTOBRE </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">NOVEMBRE </th>
                                    <th style="text-align: center!important;font-weight: 400;border-left: 0px;">DECEMBRE </th>



                                    </tr>
                                    </thead>
                                    <tbody class="border border-info tb" >

                                        <!-- cheque initial-->
                                        <tr >
                                            
                                            <td  class="titreLine">  
                                                Chèque                                        
                                            </td>
                                            <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of listCheque" (click)="infoSolde(solde,modalBasic)"
                                            [ngClass]="[ +(solde?.Prevu?.toFixed(3))> 0 ? 'colPrevu' : '']">
                                               {{solde?.Prevu.toFixed(3)}} &nbsp;
                                               <span class="fa fa-info-circle" style="font-size: 15px;cursor: pointer;" title="Details Solde" *ngIf="solde?.Prevu!=0"></span>
                                            </td>
                                         
                                        </tr>
                                        <!--Traite -->
                                        <tr >
                                            <td  class="titreLine">  
                                                Traite                                        
                                            </td>
                                            <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of listTraite" (click)="infoSolde(solde,modalBasic)"
                                              [ngClass]="[ +(solde?.Prevu?.toFixed(3))> 0 ? 'colReel' : '']">
                                                {{solde?.Prevu.toFixed(3)}} &nbsp;
                                                <span class="fa fa-info-circle" style="font-size: 15px;cursor: pointer;" title="Details Solde" *ngIf="solde?.Prevu!=0"></span>
                                             </td>

                                        </tr>

                                        <!--Total -->
                                        <tr >
                                            <td  class="titreLine">
                                                Total
                                            </td>
                                            <td style="text-align: center!important;;border-left: 0px;" *ngFor="let solde of listTotalChequetraite | keyvalue : originalOrder"
                                            [ngClass]="[ +(solde?.value?.toFixed(3))> 0 ? 'colTotalNotEmpty' : '']"><!--(click)="infoSolde(solde,modalBasic)"-->
                                                {{solde?.value.toFixed(3)}} &nbsp;
                                                <!--<span class="fa fa-info-circle" style="font-size: 15px;cursor: pointer;" title="Details Solde"></span>-->
                                             </td>
                                          
                                        </tr>
                                      
                                       

                                    </tbody>
                                </table>
                            </div>
                           </div>
                        </div>

                        <div class="row" style="margin-top: 12px;" >
                            <div class="col-md-12">
                                    <div style="border: 1px solid lightgrey;padding: 20px;"> 

                                        <div echarts [options]="chartLine" [autoResize]="true"  class="demo-chart"></div>

                                    </div>
                            </div>
                        </div>

                       
                           
            
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

      
    </div>
</div>


<!-- dailog info solde (cheque / traite)-->
  
<ng-template #modalBasic let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Details Solde : </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="table-bordred m-t-10">
            <table class="table table-bordered table-responsive-lg table-sm" id="tabled">
                <thead class="bg-info text-white" style="text-align: center!important;">
                <tr>
                    <th class="colDialog">Date</th>
                    <th class="colDialog">Donneur du chèque</th>
                    <th class="colDialog">Type</th>
                    <th class="colDialog">Référence</th>
                    <th class="colDialog">Montant</th>

                </tr>
                </thead>
                <tbody class="border border-info tb" style="text-align: center!important;">
                    <tr *ngFor="let detail of currentSolde.Reel; let i=index">
                       
                        <td>
                            {{detail?.date}}
                        </td>
                        <td>
                            {{detail?.prop}}
                        </td>
                        <td>
                            {{detail?.type}}
                        </td>
                        <td>
                            {{ detail?.ref }}
                        </td>
                        <td>
                            {{ (+detail?.montant).toFixed(3) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </form>
    </div>
   
  </ng-template>

