
.card-title{
    color: rgb(33, 60, 126);
    font-size: 18px;
    font-weight: bold;
}

.generalTitle{
    text-align: center;
    font-size: 24px;
    margin-top: 13px;
    margin-bottom: 30px;
}

.card-text{
    font-weight: 600;
}

.demo-chart {
    height: 400px;
  }

  .mat-header-cell {
    color: white;
    font-weight: normal;
    font-size: 15px;
    background-color: rgb(33, 60, 126);
}

.mat-header-row {
    min-height: 30px;
}

.titleChartRecette{
    text-align: center;
    color: #333333;
    font-size: 21px;
    font-weight: 500;
}

.soldePevuColor{
    color: #ff7043;
}
.soldeReelColor{
    color: #26a69a;
}
.soldeInitColor{
    color: #333333;
}


.colDepense{
    text-align: left!important;padding-left: 25px;font-weight: 400;
    //min-width: 186px; max-width: 186px;
   // width: 186px;
   min-width: 311px; max-width: 311px;
}

.colTitleDepense{
    min-width: 80px;
    max-width: 80px;
    //width: 80px;
    vertical-align: middle;
    text-align: center;
    color: #213c7f;
}
.colsubTitleDepense{
    min-width: 231px;
    max-width: 231px;
    //width: 106px;
}

.colSubTitleCMPT{
    min-width: 65px;
    max-width: 65px;
    //width: 65px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;

}
.colSub2TitleCMPT{
    min-width: 167px;
    max-width: 167px;
    //width: 71px;
}

.colMois{
    text-align: center!important;font-weight: 400;border-left: 0px;
    max-width: 100px;
    //width: 100px;
    min-width: 100px;

}

.colTotal{
    font-weight: bold !important;color: #4db6ac;text-align: center !important;
}

.colTotalSubRubrique{
    font-weight: bold !important;color: #213c7f;//; #4db6ac;
}
.colTotalNotEmpty{
    font-weight: bold !important;
}

.colTotalEmpty{
    font-weight: 400 !important;
}

.soldeNegatif{
    color: #ef5350;
    font-weight: bold;
}
.soldePositif{
    color: #4db6ac;
    font-weight: bold;
}

.colReel{
    color: #26a69a;
    font-weight: bold;
}
.colPrevu{
    color: #0d47a1;
    font-weight: bold;
}

.colDialog{
    padding: 0.3rem;font-weight: 400;
}

.titreLine{
    text-align: left!important;padding-left: 25px;font-weight: 500;
}

.bg-info{
    background-color: #5378D4 !important;
}

