
                             
    <div class="d-flex flex-md-row flex-sm-column flex-wrap m-3">
      <div *ngIf="ficheClient.appartements==null || ficheClient.appartements.length==0" class="col-12 px-0">
          <ngb-alert
              class="alert-card alert-warning mb-4 alert text-primary alert-dismissible"
              role="alert">
              <strong class="text-capitalize">Information !</strong>
               Cet utilisateur ne contient  pas des biens !
          </ngb-alert>
      </div>
      <!-- bien list-->
      <div *ngFor="let app of ficheClient.appartements" class="pl-0 col-md-5 mr-2 pt-3">
        <div class="card card-profile-1 p-2 mb-4">
            <i class="cursor-close i-Close-Window at-right m-0"
                *ngIf="can_retireP?.permission"
                ></i>
            <div class="user-profile flex-line">
                <div class="user-info m-0 pb-3 px-2 ">
                    <img *ngIf="app.residence?.photo==null"
                        class="profile-picture box-shadow-1  avatar-lg mb-1"
                        src="assets/images/faces/16.jpg" alt="">
                    <img *ngIf="app.residence?.photo!=null"
                        class="profile-picture box-shadow-2 avatar-lg mb-1"
                        [src]="app.residence?.photo" alt="">
                </div>
                <div class="p-1">
                    <h5 class="font-weight-bold m-0">{{app.intitule}}</h5>
                    <p class="m-0">
                        <span class="fa fa-building-o" aria-hidden="true" style="font-size: 15px;"></span>
                        {{app.residence?.intitule}}</p>     
                    
                        <!-- date remise clé -->
                    <p *ngIf="app.dateremisebien!=null" class="m-0">
                         <span class="fa fa-key" aria-hidden="true" style="font-size: 15px;"></span>
                         {{app.dateremisebien.date | date :'dd-MM-yyyy'}}</p>
                    
                    <p *ngIf="app.dateremisebien==null" class="m-0">
                    <span class="fa fa-key" aria-hidden="true" style="font-size: 15px;"></span>
                    -- / -- / ----</p>
                    <!-- nature-->
                    <p class="m-0" style="font-size: 12px;color: darkgrey !important;">
                    Nature : {{app.nature?.label}}</p>

                    <p class="m-0 color-label" style="font-size: 12px;color: darkgrey !important">
                       Type :  {{app.type?.label}}</p>

                    <button class="btn badge badge-primary px-2"
                        [routerLink]="['/syndic/details-appartement/',app.cbmarq]">Détail
                    </button>
                </div>

            </div>
        </div>
    </div>
      <!---->
     
  </div>
