<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Trésorerie</h1>
    <ul>
        <li><a routerLink="/syndic/depenses">Dépense</a></li>
        <li *ngIf="!modeEdit">Ajout</li>
        <li *ngIf="modeEdit">Modifier</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="depenseForm" (ngSubmit)="onSubmit()" novalidate>
                    <ngb-tabset #tabset="ngbTabset" class="nav-fill">
                        <ngb-tab id="info" title="Informations Dépense">
                            <ng-template ngbTabContent>
                                <div class="tab-pane active" id="litaDados" role="tabpanel">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-6 form-group mb-3">
                                                <label for="picker1">Date (*)</label>
                                                <div class="input-group">
                                                    <!-- (change)="datereglement($event)" -->
                                                    <input id="picker1" class="form-control" placeholder="yyyy-mm-dd"
                                                        name="dp" formControlName="date" type="date"
                                                        [ngModel]="currentDate | date:'yyyy-MM-dd'"
                                                        [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.date.errors || (depenseForm.controls.date.errors  && depenseForm.get('date').touched ) }">

                                                    <div class="invalid-feedback "
                                                        *ngIf="submitted &&  depenseForm.controls.date.errors || (depenseForm.controls.date.errors  && depenseForm.get('date').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group mb-3">
                                                <label for="intitule">Intitule (*)</label>
                                                <input class="form-control" placeholder="dépense 1"
                                                    formControlName="intitule" type="string"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.intitule.errors || (depenseForm.controls.intitule.errors  && depenseForm.get('intitule').touched ) }">

                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  depenseForm.controls.intitule.errors || (depenseForm.controls.intitule.errors  && depenseForm.get('intitule').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group mb-3">
                                                <label>Description</label>
                                                <textarea class="form-control form-control-specialiser"
                                                    formControlName="description" placeholder="Description"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.description.errors || (depenseForm.controls.description.errors  && depenseForm.get('description').touched )}">
                                                 </textarea>

                                            </div>
                                        </div>
                                        <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i>
                                                Détails Dépense:</strong>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group mb-3">
                                                <label>Type Produit (*)</label>
                                                <ng-select [items]="modedepense" formControlName="select"
                                                    bindLabel="label" placeholder="Choisir type produit"
                                                    bindValue="value" (change)="onchangecategorie($event)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.select.errors || (depenseForm.controls.select.errors  && depenseForm.get('select').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  depenseForm.controls.select.errors || (depenseForm.controls.select.errors  && depenseForm.get('select').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group mb-3">
                                                <label>Liste Produit </label>
                                                <ng-select [clearable]="false" [items]="" [readonly]="selected==''"
                                                    (change)="changeListeProduit($event)" *ngIf="selected==''"
                                                    bindLabel="label" placeholder="Choisir produit" bindValue="value">
                                                </ng-select>

                                                <ng-select [clearable]="false" [items]="listTerrains"
                                                    formControlName="residence" *ngIf="selected=='Terrain'"
                                                    bindLabel="intitule" bindValue="cbmarq"
                                                    placeholder="Choisir un terrain"
                                                    (change)="changeListeProduit($event)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.residence.errors || (depenseForm.controls.residence.errors  && depenseForm.get('residence').touched )}">
                                                </ng-select>
                                                <ng-select [clearable]="true" [items]="listResidence"
                                                    formControlName="residence" *ngIf="selected=='Résidence'"
                                                    bindLabel="intitule" placeholder="Choisir une résidence"
                                                    bindValue="cbmarq" (change)="changeListeProduit($event)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.residence.errors || (depenseForm.controls.residence.errors  && depenseForm.get('residence').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  depenseForm.controls.residence.errors || (depenseForm.controls.residence.errors  && depenseForm.get('residence').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                                <ng-select [clearable]="true" [items]="listgroupes"
                                                    formControlName="groupement" (change)="changeListeProduit($event)"
                                                    *ngIf="selected=='Groupement'" bindLabel="intitule"
                                                    placeholder="Choisir un groupement" bindValue="cbmarq"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.groupement.errors || (depenseForm.controls.groupement.errors  && depenseForm.get('groupement').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  depenseForm.controls.groupement.errors || (depenseForm.controls.groupement.errors  && depenseForm.get('groupement').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group  mb-3">
                                                <label>Type Dépense (*)</label>

                                                <ng-select [clearable]="true" [items]="typeDepList"
                                                    formControlName="type" bindLabel="label"
                                                    placeholder="Choisir type dépense" bindValue="cbmarq"
                                                    (change)="onchangeType($event)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.type.errors || (depenseForm.controls.type.errors  && depenseForm.get('type').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  depenseForm.controls.type.errors || (depenseForm.controls.type.errors  && depenseForm.get('type').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group mb-3">
                                                <label>Liste {{labelSelect}} (*)</label>
                                                <ng-select [clearable]="true" [items]="listes" [readonly]="listes==null"
                                                    *ngIf="listes==null" bindLabel="intitule"
                                                    placeholder="rien à choisir" bindValue="cbmarq">
                                                </ng-select>
                                                <ng-select [clearable]="true" [items]="listes"
                                                    formControlName="compteur" *ngIf="compteur && listes!=null"
                                                    bindLabel="numero" placeholder="Choisir un compteur"
                                                    bindValue="cbmarq" (change)="changeCompteur($event)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.compteur.errors || (depenseForm.controls.compteur.errors  && depenseForm.get('compteur').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  depenseForm.controls.compteur.errors || (depenseForm.controls.compteur.errors  && depenseForm.get('compteur').touched && listes!=null)">
                                                    Veuillez remplir ce champs !
                                                </div><!--type-->
                                                <ng-select [clearable]="true" [items]="listes" formControlName="contrat"
                                                    *ngIf="contrat && listes!=null" bindLabel="intitule"
                                                    placeholder="Choisir un contrat" bindValue="cbmarq"
                                                    (change)="changeContrat($event)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.contrat.errors || (depenseForm.controls.contrat.errors  && depenseForm.get('contrat').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  depenseForm.controls.contrat.errors || (depenseForm.controls.contrat.errors  && depenseForm.get('contrat').touched && listes!=null)">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 form-group  mb-4">
                                                <label>Montant (*)</label>
                                                <input class="form-control" formControlName="montant"
                                                    placeholder="ex: 500" type="number" step="0.01"
                                                    (blur)="changeMontant($event.target.value)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.montant.errors || (depenseForm.controls.montant.errors  && depenseForm.get('montant').touched )}">
                                                <div class="invalid-feedback col-12"
                                                    *ngIf="submitted &&  depenseForm.controls.montant.errors || (depenseForm.controls.montant.errors  && depenseForm.get('montant').touched )">
                                                    <div *ngIf="depenseForm.controls.montant.errors.required">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                    <div *ngIf="submitted && depenseForm.controls.montant.errors.min ">
                                                        Montant de réglement doit étre positive.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 form-group  pt-4 flex-line ">
                                                <label class="col-sm-5 checkbox checkbox-outline-primary pr-1">
                                                    <span>Prélèvement caisse</span>
                                                    <input type="checkbox" [(ngModel)]="prelevementCaisse"
                                                        formControlName="prelevementCaisse">
                                                    <span class="checkmark"></span>
                                                    <label style="font-weight: bold;" *ngIf="prelevementCaisse"
                                                        for="caisse">( {{labelCaisse}} )</label>
                                                </label>
                                                <!-- normal checkbox cas de modif (!compteur && !contrat)-->
                                                <label class="col-sm-5 checkbox checkbox-outline-primary" [ngClass]="{'myclassDisabledCheckMark': repartitionAppartement}"  *ngIf="!compteur && !contrat">
                                                    <span>Répartition par appartement</span>
                                                    <input type="checkbox" id="Checkbox0" name="cCheckbox0"  [(ngModel)]="repartiSelected" (change)="changeLignes($event.target)" #repartitionAppartementElm id="repartitionAppartementElm"

                                                        formControlName="repartitionAppartement" >
                                                    <span class="checkmark"></span>

                                                </label>

                                                 <!-- disabled checkbox if(compteur || contrat)-->
                                                 <label class="col-sm-5 checkbox checkbox-outline-primary" [ngClass]="{'myclassDisabledCheckMark': repartitionAppartement}"  *ngIf="compteur || contrat">
                                                    <span>Répartition par appartement</span>
                                                    <input type="checkbox" [ngModelOptions]="{standalone: true}"  [(ngModel)]="repartiSelected" [disabled]="true"

                                                        >
                                                    <span class="checkmark"></span>

                                                </label>
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mb-3 footer">
                                        <button class="btn btn-outline-dark " (click)="gotoDepenseList()"
                                            type="button">Annuler</button>
                                        <button class="btn btn-primary ml-2"
                                            *ngIf="repartiSelected!=true"
                                            type="submit">Enregistrer</button>
                                        <button class="btn btn-primary ml-2"
                                            *ngIf="repartiSelected==true"
                                            (click)="tabset.select('details')" type="button">Suivant</button>

                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="details" title="Détails Répartition" *ngIf="repartiSelected">
                            <ng-template ngbTabContent>
                                <div class="tab-pane active" id="litaDados1" role="tabpanel">
                                    <div class="col-12 px-0 mb-3">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class=" row">
                                                    <div class="col-md-12"
                                                        [class.disabled-table]="!depenseForm.value.residence || !depenseForm.value.groupement ">
                                                        <table class="table table-hover mb-3">
                                                            <thead class="bg-gray-300">
                                                                <tr>
                                                                    <th scope="col" width="5%">Sélection</th>

                                                                    <th scope="col" style='text-align: center;'>Intitule
                                                                    </th>
                                                                    <th scope="col" style='text-align: center;'>
                                                                        Pourcentage de payement
                                                                    </th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="30%">Montant
                                                                    </th>


                                                                </tr>
                                                            </thead>
                                                            <tbody formArrayName="lignes">
                                                                <tr *ngFor="let lig of lignes().controls; let ligIndex=index"
                                                                    formGroupName="{{ligIndex}}">
                                                                    <td>
                                                                        <label
                                                                            class="checkbox checkbox-outline-primary">
                                                                            <input type="checkbox" [checked]="true"
                                                                                (change)="checkCheckBoxvalue($event,ligIndex)"
                                                                                value="{{lig.get('appartement')}}"
                                                                                formControlName="selected"><span
                                                                                class="checkmark"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <input class="form-control" type="string"
                                                                            disabled formControlName="intitule" />

                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input id="picker1" class="form-control "
                                                                                (blur)="changePourcentage($event,ligIndex)"
                                                                                [readonly]="typedep=='E0043' || typedep=='E0044'"
                                                                                placeholder="20%"
                                                                                formControlName="pourcentage">
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-secondary "
                                                                                    type="button">
                                                                                    %
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="input-group">
                                                                            <input id="picker1" class="form-control "
                                                                                type="number" placeholder="0" disabled
                                                                                formControlName="montant">
                                                                            <div class="input-group-append">
                                                                                <button class="btn" type="button">
                                                                                    TND
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                                <tr *ngIf="lignes().controls.length == 0">
                                                                    <td></td>
                                                                    <td>Aucune données trouver !!</td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3 footer">
                                                <button type="button" class="btn btn-outline-dark m-1"
                                                    (click)="tabset.select('info')">Annuler</button><!--repartitionAppartement=false"-->

                                                <button class="btn btn-primary " type="submit">Enregistrer</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </form>
            </div>
        </div>
    </div>
</div>
