.iconnbrMsg{
    font-size: 25px;    
}

.titleConfigNotif{
    font-size: 18px;
    font-weight: 500;
    padding: 18px;
}

.hrRubrique {
    border:none;
    border-top:1px dashed darkgrey;
    color:#fff;
    background-color:#fff;
    height:1px;
    width: 87%;
    margin-left: 2em;
  }

  .paddingHeader0{
      padding: 0px;
  }


  /*** switch **/
  .switch .slider1 {    
    background-color: #337ab7 !important;
  }
 
  .switch .slider2{
    background-color: #58c7b7 !important;
  }
  .switch .slider3{
    background-color: #64b5f6 !important;
  }
  .switch .slider4{
    background-color: #7986cb !important;
  }
  .switch .slider5{
    background-color: #9575cd !important;
  }
  .switch .slider6{
    background-color: #ba68c8 !important;
  }
  .switch .slider7{
    background-color: #f06292 !important;
  }