<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb list-reglement">
    <h1>Gestion Syndic</h1>
    <ul>
        <li><a href="#">Configuration Notifications</a></li>
        <li>Liste</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>


<div class="row mb-4">
    <div class="col-md-12 mb-4 card">
        <!-- entete title-->
        <div class="row mt-2">
            <p class="titleConfigNotif">Paramétrer les notifications email, sms et messagerie</p>
        </div>
        <hr style="margin-top: 2px;">
      
        <!-- 1 ligne notif identifiant-->
        <div class="row mb-2">
            <div class="col-4">
                <p style="font-weight: bold;">1. Notification Identifiant</p> 
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                 
            </div>
        </div>
          <!-- header -->
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">SMS</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Email</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Messagerie</p>                 
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Compteur SMS</p>               
            </div>
        </div>
        <!-- contenu 1 ligne notif identifiant-->
        <div class="row " *ngFor="let notif of listConfigNotif">
            <div class="row mb-2" style="width: 100%;" *ngIf="notif.ordre==1 || notif.ordre==2">
                    <div class="col-4">
                    <p style="padding-left: 30px;">{{notif.titre}}</p> 
                    </div>
                    <div class="col-2">
                        <label class="switch pr-5 switch-primary mr-3 "><span></span>
                            <input type="checkbox" checked="notif.sms" [(ngModel)]="notif.sms"  ><span class="slider slider1"></span>
                        </label>
                    </div>
                    <div class="col-2">
                        <label class="switch pr-5 switch-primary mr-3"><span></span>
                            <input type="checkbox" checked="notif.email" [(ngModel)]="notif.email"><span class="slider slider1"></span>
                        </label>
                    </div>
                    <div class="col-2">
                        <label class="switch pr-5 switch-primary mr-3"><span></span>
                            <input type="checkbox" checked="notif.messagerie" [(ngModel)]="notif.messagerie"><span class="slider slider1"></span>
                        </label>
                    </div>
                    <div class="col-2">
                        <div style="display: inline-flex;"> <i class="i-Mail-Send iconnbrMsg" style="color: #0d60a8;"> </i>&nbsp; <span style="font-size: 15px;">{{notif.compteur}}</span></div>
        
                    </div>
            </div>
           
        </div>

        <hr class="hrRubrique">
        <!------------------------------->
        <!-- 2 ligne notif identifiant--->
         <div class="row mb-2">
             
            <div class="col-4">
                <p style="font-weight: bold;">2. Notification Reclamation</p> 
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                 
            </div>
        </div>
          <!-- header -->
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">SMS</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Email</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Messagerie</p>                 
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Compteur SMS</p>               
            </div>
        </div>
        <!-- contenu  ligne notif -->
        <div class="row " *ngFor="let notif of listConfigNotif">
            <div class="row mb-2" style="width: 100%;" *ngIf="notif.ordre==3 || notif.ordre==4">
                <div class="col-4">
                <p style="padding-left: 30px;">{{notif.titre}}</p> 
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-secondary mr-3"><span></span>
                        <input type="checkbox" checked="notif.sms" [(ngModel)]="notif.sms"><span class="slider slider2"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-secondary mr-3"><span></span>
                        <input type="checkbox" checked="notif.email" [(ngModel)]="notif.email"><span class="slider slider2"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-secondary mr-3"><span></span>
                        <input type="checkbox" checked="notif.messagerie" [(ngModel)]="notif.messagerie"><span class="slider slider2"></span>
                    </label>
                </div>
                <div class="col-2">
                    <div style="display: inline-flex;"> <i class="i-Mail-Send iconnbrMsg" style="color: #58c7b7;"> </i>&nbsp; <span style="font-size: 15px;">{{notif.compteur}}</span></div>

                </div>
            </div>
        </div>

        <hr class="hrRubrique">
         <!------------------------------->
        <!-- 3 ligne notif publication--->
        <div class="row mb-2">
            <div class="col-4">
                <p style="font-weight: bold;">3. Notification Publication</p> 
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                 
            </div>
        </div>
          <!-- header -->
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">SMS</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Email</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Messagerie</p>                 
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Compteur SMS</p>               
            </div>
        </div>
        <!-- contenu   -->
        <div class="row " *ngFor="let notif of listConfigNotif">
            <div class="row mb-2" style="width: 100%;" *ngIf="notif.ordre==5 || notif.ordre==6">
                <div class="col-4">
                <p style="padding-left: 30px;">{{notif.titre}}</p> 
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-secondary mr-3"><span></span>
                        <input type="checkbox" checked="notif.sms" [(ngModel)]="notif.sms"><span class="slider slider3"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-secondary mr-3"><span></span>
                        <input type="checkbox" checked="notif.email" [(ngModel)]="notif.email"><span class="slider slider3"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-secondary mr-3"><span></span>
                        <input type="checkbox" checked="notif.messagerie" [(ngModel)]="notif.messagerie"><span class="slider slider3"></span>
                    </label>
                </div>
                <div class="col-2">
                    <div style="display: inline-flex;"> <i class="i-Mail-Send iconnbrMsg" style="color: #64b5f6;"> </i>&nbsp; <span style="font-size: 15px;">{{notif.compteur}}</span></div>

                </div>
            </div>
        </div>

        <hr class="hrRubrique">
        <!------------------------------->
        <!-- 4 ligne notif reunion--->
        <div class="row mb-2">
            <div class="col-4">
                <p style="font-weight: bold;">4. Notification Réunion</p> 
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                 
            </div>
        </div>
          <!-- header -->
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">SMS</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Email</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Messagerie</p>                 
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Compteur SMS</p>               
            </div>
        </div>
        <!-- contenu   -->
        <div class="row " *ngFor="let notif of listConfigNotif">
            <div class="row mb-2" style="width: 100%;" *ngIf="notif.ordre==7 || notif.ordre==8">

                <div class="col-4">
                <p style="padding-left: 30px;">{{notif.titre}}</p> 
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.sms" [(ngModel)]="notif.sms"><span class="slider slider4"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.email" [(ngModel)]="notif.email"><span class="slider slider4"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.messagerie" [(ngModel)]="notif.messagerie"><span class="slider slider4"></span>
                    </label>
                </div>
                <div class="col-2">
                    <div style="display: inline-flex;"> <i class="i-Mail-Send iconnbrMsg" style="color: #7986cb;"> </i>&nbsp; <span style="font-size: 15px;">{{notif.compteur}}</span></div>

                </div>
            </div>
        </div>

        <hr class="hrRubrique">

        <!------------------------------->
        <!-- 5 ligne notif intervention--->
        <div class="row mb-2">
            <div class="col-4">
                <p style="font-weight: bold;">5. Notification Intervention</p> 
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                 
            </div>
        </div>
          <!-- header -->
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">SMS</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Email</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Messagerie</p>                 
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Compteur SMS</p>               
            </div>
        </div>
        <!-- contenu   -->
        <div class="row " *ngFor="let notif of listConfigNotif">
            <div class="row mb-2" style="width: 100%;" *ngIf="notif.ordre==9">

                <div class="col-4">
                <p style="padding-left: 30px;">{{notif.titre}}</p> 
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.sms" [(ngModel)]="notif.sms"><span class="slider slider5"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.email" [(ngModel)]="notif.email"><span class="slider slider5"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.messagerie" [(ngModel)]="notif.messagerie"><span class="slider slider5"></span>
                    </label>
                </div>
                <div class="col-2">
                    <div style="display: inline-flex;"> <i class="i-Mail-Send iconnbrMsg" style="color: #9575cd;"> </i>&nbsp; <span style="font-size: 15px;">{{notif.compteur}}</span></div>

                </div>
            </div>
        </div>

        <hr class="hrRubrique">

        <!------------------------------->
        <!-- 6 ligne notif paiement--->
        <div class="row mb-2">
            <div class="col-4">
                <p style="font-weight: bold;">6. Notification Paiement</p> 
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                 
            </div>
        </div>
          <!-- header -->
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">SMS</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Email</p>  
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Messagerie</p>                 
            </div>
            <div class="col-2 paddingHeader0">
                <p style="font-weight: bold;">Compteur SMS</p>               
            </div>
        </div>
        <!-- contenu   -->
        <div class="row " *ngFor="let notif of listConfigNotif">
            <div class="row mb-2" style="width: 100%;" *ngIf="notif.ordre==10">

                <div class="col-4">
                <p style="padding-left: 30px;">{{notif.titre}}</p> 
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.sms" [(ngModel)]="notif.sms"><span class="slider slider6"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.email" [(ngModel)]="notif.email"><span class="slider slider6"></span>
                    </label>
                </div>
                <div class="col-2">
                    <label class="switch pr-5 switch-primary mr-3"><span></span>
                        <input type="checkbox" checked="notif.messagerie" [(ngModel)]="notif.messagerie"><span class="slider slider6"></span>
                    </label>
                </div>
                <div class="col-2">
                    <div style="display: inline-flex;"> <i class="i-Mail-Send iconnbrMsg" style="color: #ba68c8;"> </i>&nbsp; <span style="font-size: 15px;">{{notif.compteur}}</span></div>

                </div>
            </div>
        </div>

        <hr class="hrRubrique">


        <div class="modal-footer">
            <div class="row" style="width: 100%;">
               
                <div class="col-2 offset-10">
                    <button class="btn btn-primary ml-2" id="Valider" type="submit" (click)="submitConfigNotif()">Enregistrer</button>
                </div>
            </div>
        </div>

        


       
    </div>
</div>
