<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Administration</h1>
        <ul>
            <li><a [routerLink]="['/syndic/utilisateur-mobile']">Utilisateurs Mobiles</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card-body proprietaire pl-0">
                <div class="col-ms-12">
                     <!-- row filter-->
                    <div class="row" >
                        <div class="col-xl col-lg col-md col-sm mb-2 pr-0">
                            <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                        </div>
                    </div>
                </div> <!--*ngIf="can_liste?.permission"-->
                <div class="row ml-0 card" >
                    <div class="example-container mat-elevation-z8">
                        <mat-table class="table" [dataSource]="dataSource" matSort>
                            <!-- nomcomplet Column -->
                            <ng-container matColumnDef="nomcomplet">
                                <mat-header-cell *matHeaderCellDef>Nom & prenom</mat-header-cell>
                                <mat-cell *matCellDef="let row" title='Détails'
                                    [routerLink]="['/syndic/details-utilisateur-interne',row.id]">
                                    <span class="mobile-label mr-2"> Nom & prenom:</span>
                                    {{ row.nomComplet }}
                                </mat-cell>
                            </ng-container>
                            <!-- username Column -->
                            <ng-container matColumnDef="username">
                                <mat-header-cell *matHeaderCellDef>Nom d'utilisateur</mat-header-cell>
                                <mat-cell *matCellDef="let row" title='Détails'
                                    [routerLink]="['/syndic/details-utilisateur-interne',row.id]">
                                    <span class="mobile-label mr-2"> Nom d'utilisateur:</span>
                                    {{ row.username }}
                                </mat-cell>
                            </ng-container>
                            <!-- email Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef>Adresse Email</mat-header-cell>
                                <mat-cell *matCellDef="let row" title='Détails'
                                    [routerLink]="['/syndic/details-utilisateur-interne',row.id]">
                                    <span class="mobile-label mr-2"> Adresse Email:</span>
                                    {{ row.email }}
                                </mat-cell>
                            </ng-container>
                            <!-- proprietaire Column -->
                            <ng-container matColumnDef="telephone">
                                <mat-header-cell *matHeaderCellDef>Numéro Téléphone</mat-header-cell>
                                <mat-cell *matCellDef="let row" title='Détails'
                                    [routerLink]="['/syndic/details-utilisateur-interne',row.id]">
                                    <span class="mobile-label mr-2"> Numéro Téléphone:</span>
                                    {{ row.telephone1}}
                                </mat-cell>
                            </ng-container>
                            <!-- statut Column -->
                            <ng-container matColumnDef="statut">
                                <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-label mr-2"> Statut:</span>
                                    <span class=" badge badge-square badge-square-opacity-success m-1" *ngIf="row.active==true">Activé</span>
                                    <span class=" badge badge-square badge-square-opacity-danger m-1" *ngIf="row.active==false">Désactivé</span>
                                   
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">Aucune donnée trouvée                                   
                                </td>
                            </tr>
                        </mat-table>

                        <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                            [showFirstLastButtons]="true">
                        </mat-paginator>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
