<div (window:resize)="onResize($event)" class="row mb-4">
    <div class="col-md-12 mb-4">
        <ngx-spinner bdColor="rgba(255,255,255,0.7)"
            template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
            [fullScreen]="true">

            <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
                Chargement en
                cours ...
            </h4>
        </ngx-spinner>
        <!-- ============ Body content start ============= -->
        <div class="main-content">
            <div class="row">
                <!-- affichage Nouveau Frais Syndic-->
                <div class="col-md-12 container-page">
                    <div *ngIf="!steps?.length">
                        <form [formGroup]="echeanceForm" novalidate (ngSubmit)="onSubmit()" class="col-md-12">
                            <h3 class="py-2">Paramétrage Syndic Appartement </h3>
                            <div class="col-md-12 form-group mb-3 flex-line">
                                <div class="col-sm-6 pl-0">
                                    <label for="picker1">Date Remise Clé </label>
                                    <div class="input-group">
                                        <input id="picker1" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                            formControlName="dateRemiseCle" type="date"
                                            [ngModel]="currentDate | date:'yyyy-MM-dd'"
                                            (blur)='onchangeDate($event.target.value)'
                                            [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.dateRemiseCle.errors || (echeanceForm.controls.dateRemiseCle.errors  && echeanceForm.get('dateRemiseCle').touched ) }">

                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  echeanceForm.controls.dateRemiseCle.errors || (echeanceForm.controls.dateRemiseCle.errors  && echeanceForm.get('dateRemiseCle').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 pr-0">
                                    <label> Frais Syndic Annuel </label>
                                    <input type="number" class="form-control form-control-specialiser" step="0.01"
                                        formControlName="fraisAnnuelle" (blur)='onChangeValue($event.target.value)'
                                        [readonly]="!jour || !mois || !annee"
                                        [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.fraisAnnuelle.errors || (echeanceForm.controls.fraisAnnuelle.errors  && echeanceForm.get('fraisAnnuelle').touched )}" />
                                    <div class="invalid-feedback "
                                        *ngIf="submitted &&  echeanceForm.controls.fraisAnnuelle.errors ">
                                        Veuillez remplir ce champs !
                                    </div>
                                    <div class="invalid-feedback "
                                        *ngIf="submitted &&  echeanceForm.controls.dateRemiseCle.errors || (echeanceForm.controls.fraisAnnuelle.errors  && echeanceForm.get('fraisAnnuelle').touched ) ">
                                        Veuillez remplir date remise de clé au premier !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group mb-3  flex-line">
                                <div class="col-sm-6 pl-0">
                                    <label for="picker1">Année </label>
                                    <input type="number" class="form-control form-control-specialiser"
                                        formControlName="annee" readonly
                                        [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.annee.errors || (echeanceForm.controls.annee.errors  && echeanceForm.get('annee').touched )}" />
                                    <div class="invalid-feedback "
                                        *ngIf="submitted &&  echeanceForm.controls.annee.errors || (echeanceForm.controls.annee.errors  && echeanceForm.get('annee').touched )">
                                        Veuillez remplir ce champs !
                                    </div>

                                </div>
                                <div class="col-sm-6 pr-0">
                                    <label> Frais Syndic de cette année </label>
                                    <input type="number" class="form-control form-control-specialiser" step="0.001"
                                        formControlName="fraisCetteAnnee"
                                        (blur)='onChangeCetteAnnee($event.target.value)'
                                        [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.fraisCetteAnnee.errors || (echeanceForm.controls.fraisCetteAnnee.errors  && echeanceForm.get('fraisCetteAnnee').touched )}" />
                                    <div class="invalid-feedback "
                                        *ngIf="submitted &&  echeanceForm.controls.fraisCetteAnnee.errors || (echeanceForm.controls.fraisCetteAnnee.errors  && echeanceForm.get('fraisCetteAnnee').touched )">
                                        Veuillez remplir ce champs !
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <label for="remise">Remise mensuel </label>
                                <div class="flex-line pl-0">
                                    <div class="col-md-6 pl-0">
                                        <ng-select [items]="months" formControlName="remise" bindLabel="label"
                                            bindValue="value" [readonly]="!check" placeholder="Choisir nombre de mois"
                                            [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.remise.errors || (echeanceForm.controls.remise.errors  && echeanceForm.get('remise').touched )}">
                                        </ng-select>
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  echeanceForm.controls.remise.errors || (echeanceForm.controls.remise.errors  && echeanceForm.get('remise').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-0">
                                        <label class="mt-2 switch switch-primary mr-3">
                                            <span>Affecter un remise</span>
                                            <input type="checkbox" (change)="checkChecked($event.target.checked)">
                                            <span class="slider"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group mb-3">
                                <label> Frais par mois </label>
                                <div class="container ">
                                    <div class="d-flex flex-md-row flex-sm-column ">
                                        <div class="">
                                            <div class="colonne px-1 py-3">Janvier</div>
                                            <div class="ligne px-1 py-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M01"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M01.errors || (echeanceForm.controls.M01.errors  && echeanceForm.get('M01').touched ) }" />
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne px-1 py-3">Février</div>
                                            <div class="ligne px-1 py-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M02"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M02.errors || (echeanceForm.controls.M02.errors  && echeanceForm.get('M02').touched ) }" />
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne px-1 py-3">Mars</div>
                                            <div class="ligne px-1 py-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M03"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M03.errors || (echeanceForm.controls.M03.errors  && echeanceForm.get('M03').touched ) }" />
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne px-1 py-3">Avril</div>
                                            <div class="ligne px-1 py-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M04"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M04.errors || (echeanceForm.controls.M04.errors  && echeanceForm.get('M04').touched ) }" />

                                            </div>

                                        </div>
                                        <div class="">
                                            <div class="colonne px-1 py-3">Mai</div>
                                            <div class="ligne px-1 py-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M05"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M05.errors || (echeanceForm.controls.M05.errors  && echeanceForm.get('M05').touched ) }" />

                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne p-3">Juin</div>
                                            <div class="ligne p-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M06"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M06.errors || (echeanceForm.controls.M06.errors  && echeanceForm.get('M06').touched ) }" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-md-row flex-sm-column">
                                        <div class="">
                                            <div class="colonne p-3">Juillet</div>
                                            <div class="ligne p-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M07"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M07.errors || (echeanceForm.controls.M07.errors  && echeanceForm.get('M07').touched ) }" />

                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne p-3">Août</div>
                                            <div class="ligne p-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M08"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M08.errors || (echeanceForm.controls.M08.errors  && echeanceForm.get('M08').touched ) }" />

                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne p-3">Septembre</div>
                                            <div class="ligne p-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M09"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M09.errors || (echeanceForm.controls.M09.errors  && echeanceForm.get('M09').touched ) }" />

                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne p-3">Octobre</div>
                                            <div class="ligne p-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M10"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M10.errors || (echeanceForm.controls.M10.errors  && echeanceForm.get('M10').touched ) }" />
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne p-3">Novembre</div>
                                            <div class="ligne p-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M11"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M11.errors || (echeanceForm.controls.M11.errors  && echeanceForm.get('M11').touched ) }" />

                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="colonne p-3">Décembre</div>
                                            <div class="ligne p-3">
                                                <input type="number" step="0.01" class="col-md col-sm frais"
                                                    formControlName="M12"
                                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M12.errors || (echeanceForm.controls.M12.errors  && echeanceForm.get('M12').touched ) }" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 my-3 text-center">
                                <button class="btn btn-primary " type="submit">Enregistrer</button>
                                <button type="button" class="btn btn-outline-dark m-1"
                                    (click)="cancel()">Annuler</button>
                            </div>

                        </form>
                    </div>

                </div>
                <!-- Affichage get Frais Sydinc Existant -->
                <div class="col-md-12 container-card">
                    <div class="p-3 " *ngIf="steps?.length">
                        <div class="row enteteInfo">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <h3 class="mb-0 titre-card" style="font-weight: bold;">Informations Frais Syndic</h3>                               
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                
                                <button class="btn btn-outline-primary ml-2" *ngIf="can_editFrais?.permission" style="float: right;"
                                (click)="openEdit(modalBasic)">
                                Modifier frais
                                </button>
<!--                                (click)="openModal(modalBasic)"-->
                                <button class="btn btn-outline-primary" *ngIf="can_addFrais?.permission" style="float: right;" (click)="_openDialog()">
                                Nouveau frais
                                </button>
                                
                            </div>
                        </div>
                        <div class="row enteteInfo">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <h4 style="font-weight: 500;color: black !important;">Frais annuel : <span class="px-1"> {{selectedFraisAnnuel}}
                                    {{infoPref?.devise}} </span>
                                </h4>                            
                            </div>
                        </div>
                       
                        <div class="row steper-verti" style="display: unset;">

                            <!-- Small Screen -->
                            <ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen" (selectionChange)="selectionChange($event)">
                                <mat-vertical-stepper class="py-2" #stepper >
                                    <mat-step *ngFor="let dd of datasteps;">

                                      
                                        <ng-template matStepLabel >
                                            <div>
                                                {{dd.annee}}
                                            </div>
                                        </ng-template>                                        

                                         <!-- info globale-->
                                         <div class="flex-line-prop my-2" style="margin-left: 30px;margin-right: 30px;">                                          

                                            <!-- frais de cette anne (condition anneRemiseCle= anneeSelectionne)-->
                                            <h4 *ngIf="anneeRemiseCle==selectedYearStepper">Frais de cette année :<span class="px-1 datecle">
                                                {{dd.fraisCetteAnnee}} {{infoPref?.devise}} </span>
                                            </h4> 
                                            <!-- remise -->
                                            <p *ngIf="dd?.remise!=null" class="remise" title="Remise">
                                                 
                                                <span class="px-1 datecle" style="color: red;">-{{dd?.remise}}Mois</span><span style="font-size: 20px;color: red;">%</span>
                                            </p>                                          


                                        </div>
                                        
                                        <!-- legende-->
                                        <div class="row" style="margin-left: 15px;">

                                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-12">
                                               <b>Info :</b> 
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 col-12" style="display: flex;overflow: scroll;">
                                                
                                                <div class="mr-2" style="display: inline-flex;">
                                                    <div style="background-color: rgb(76 175 80 / 36%) ;" class="bc">
                                                    </div>
                                                    <span class="px-1">Payé</span>
                                                </div>
                                                <div class="mr-2"  style="display: inline-flex;">
                                                    <div style="background-color: rgb(244 67 54 / 24%) ;" class="bc">
                                                    </div>
                                                    <span class="px-1">Non payé</span>
                                                </div>
                                                <div  style="display: inline-flex;">
                                                    <div style="background-color: #ff99007a" class="bc">
                                                    </div>
                                                    <span class="px-1">Partiel</span>
                                                </div>
                                            </div>  
                                                                                     
                                              
                                        </div><!-- fin legende-->

                                        <!-- tableau de 6 mois small screen -->
                                        <div class="col-sm">
                                            <div class="">
                                                <div class="colonne py-3">Janvier</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M01.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M01.statut.style}}"
                                                        value="{{dd.mois.M01.montant}}" />
                                                    <input *ngIf="dd.mois.M01.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M01.statut.style}}"
                                                        value="{{dd.mois.M01.payed}} / {{dd.mois.M01.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Février</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M02.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M02.statut.style}}"
                                                        value="{{dd.mois.M02.montant}}" />
                                                    <input *ngIf="dd.mois.M02.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M02.statut.style}}"
                                                        value="{{dd.mois.M02.payed}} / {{dd.mois.M02.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Mars</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M03.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M03.statut.style}}"
                                                        value="{{dd.mois.M03.montant}}" />
                                                    <input *ngIf="dd.mois.M03.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M03.statut.style}}"
                                                        value="{{dd.mois.M03.payed}} / {{dd.mois.M03.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Avril</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M04.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M04.statut.style}}"
                                                        value="{{dd.mois.M04.montant}}" />
                                                    <input *ngIf="dd.mois.M04.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M04.statut.style}}"
                                                        value="{{dd.mois.M04.payed}} / {{dd.mois.M04.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Mai</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M05.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M05.statut.style}}"
                                                        value="{{dd.mois.M05.montant}}" />
                                                    <input *ngIf="dd.mois.M05.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M05.statut.style}}"
                                                        value="{{dd.mois.M05.payed}} / {{dd.mois.M05.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Juin</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M06.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M06.statut.style}}"
                                                        value="{{dd.mois.M06.montant}}" />
                                                    <input *ngIf="dd.mois.M06.statut.code=='E0029'" type="text"
                                                        step="0.01" disabled
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M06.statut.style}}"
                                                        value="{{dd.mois.M06.payed}} / {{dd.mois.M06.montant}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- tableau de 6 mois small screen -->
                                        <div class="col-sm">
                                            <div class="">
                                                <div class="colonne py-3">Juillet</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M07.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M07.statut.style}}"
                                                        value="{{dd.mois.M07.montant}}" />
                                                    <input *ngIf="dd.mois.M07.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M07.statut.style}}"
                                                        value="{{dd.mois.M07.payed}} / {{dd.mois.M07.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Août</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M08.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M08.statut.style}}"
                                                        value="{{dd.mois.M08.montant}}" />
                                                    <input *ngIf="dd.mois.M08.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M08.statut.style}}"
                                                        value="{{dd.mois.M08.payed}} / {{dd.mois.M08.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Septembre</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M09.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M09.statut.style}}"
                                                        value="{{dd.mois.M09.montant}}" />
                                                    <input *ngIf="dd.mois.M09.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M09.statut.style}}"
                                                        value="{{dd.mois.M09.payed}} / {{dd.mois.M09.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Octobre</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M10.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M10.statut.style}}"
                                                        value="{{dd.mois.M10.montant}}" />
                                                    <input *ngIf="dd.mois.M10.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M10.statut.style}}"
                                                        value="{{dd.mois.M10.payed}} / {{dd.mois.M10.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Novembre</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M11.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M11.statut.style}}"
                                                        value="{{dd.mois.M11.montant}}" />
                                                    <input *ngIf="dd.mois.M11.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M11.statut.style}}"
                                                        value="{{dd.mois.M11.payed}} / {{dd.mois.M11.montant}}" />
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="colonne py-3">Décembre</div>
                                                <div class="ligne p-3">
                                                    <input *ngIf="dd.mois.M12.statut.code!='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M12.statut.style}}"
                                                        value="{{dd.mois.M12.montant}}" />
                                                    <input *ngIf="dd.mois.M12.statut.code=='E0029'" type="text"
                                                        step="0.01"
                                                        class="col-sm frais form-control bg-month-{{dd.mois.M12.statut.style}}"
                                                        value="{{dd.mois.M12.payed}} / {{dd.mois.M12.montant}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </mat-step>
                                </mat-vertical-stepper>
                            </ng-template>

                            <!-- big Screen -->
                            <ng-template #bigScreen>


                                <mat-horizontal-stepper class="p-3" #stepper linear (selectionChange)="selectionChange($event)">
                                    <mat-step *ngFor="let dd of datasteps; let i=index" [label]="dd" >                                                                                          
                                       

                                        <ng-template matStepLabel>
                                            <div >
                                                {{dd.annee}}
                                            </div> <!--*ngIf="dd.annee!=selectedYearStepper"-->
                                               
                                        </ng-template>
                                        <!-- tableau mois-->
                                        <div class="container">
                                            <div class="d-flex flex-md-row flex-sm-column ">
                                                <div class="">
                                                    <div class="colonne py-3">Janvier</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M01.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M01.statut.style}}"
                                                            value="{{dd.mois.M01.montant}}" />
                                                        <input *ngIf="dd.mois.M01.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M01.statut.style}}"
                                                            value="{{dd.mois.M01.payed}} / {{dd.mois.M01.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Février</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M02.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M02.statut.style}}"
                                                            value="{{dd.mois.M02.montant}}" />
                                                        <input *ngIf="dd.mois.M02.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M02.statut.style}}"
                                                            value="{{dd.mois.M02.payed}} / {{dd.mois.M02.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Mars</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M03.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M03.statut.style}}"
                                                            value="{{dd.mois.M03.montant}}" />
                                                        <input *ngIf="dd.mois.M03.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M03.statut.style}}"
                                                            value="{{dd.mois.M03.payed}} / {{dd.mois.M03.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Avril</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M04.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M04.statut.style}}"
                                                            value="{{dd.mois.M04.montant}}" />
                                                        <input *ngIf="dd.mois.M04.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M04.statut.style}}"
                                                            value="{{dd.mois.M04.payed}} / {{dd.mois.M04.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Mai</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M05.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M05.statut.style}}"
                                                            value="{{dd.mois.M05.montant}}" />
                                                        <input *ngIf="dd.mois.M05.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M05.statut.style}}"
                                                            value="{{dd.mois.M05.payed}} / {{dd.mois.M05.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Juin</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M06.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M06.statut.style}}"
                                                            value="{{dd.mois.M06.montant}}" />
                                                        <input *ngIf="dd.mois.M06.statut.code=='E0029'" type="text"
                                                            step="0.01" disabled
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M06.statut.style}}"
                                                            value="{{dd.mois.M06.payed}} / {{dd.mois.M06.montant}}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-md-row flex-sm-column ">
                                                <div class="">
                                                    <div class="colonne py-3">Juillet</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M07.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M07.statut.style}}"
                                                            value="{{dd.mois.M07.montant}}" />
                                                        <input *ngIf="dd.mois.M07.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M07.statut.style}}"
                                                            value="{{dd.mois.M07.payed}} / {{dd.mois.M07.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Août</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M08.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M08.statut.style}}"
                                                            value="{{dd.mois.M08.montant}}" />
                                                        <input *ngIf="dd.mois.M08.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M08.statut.style}}"
                                                            value="{{dd.mois.M08.payed}} / {{dd.mois.M08.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Septembre</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M09.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M09.statut.style}}"
                                                            value="{{dd.mois.M09.montant}}" />
                                                        <input *ngIf="dd.mois.M09.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M09.statut.style}}"
                                                            value="{{dd.mois.M09.payed}} / {{dd.mois.M09.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Octobre</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M10.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M10.statut.style}}"
                                                            value="{{dd.mois.M10.montant}}" />
                                                        <input *ngIf="dd.mois.M10.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M10.statut.style}}"
                                                            value="{{dd.mois.M10.payed}} / {{dd.mois.M10.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Novembre</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M11.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M11.statut.style}}"
                                                            value="{{dd.mois.M11.montant}}" />
                                                        <input *ngIf="dd.mois.M11.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M11.statut.style}}"
                                                            value="{{dd.mois.M11.payed}} / {{dd.mois.M11.montant}}" />
                                                    </div>
                                                </div>
                                                <div class="">
                                                    <div class="colonne py-3">Décembre</div>
                                                    <div class="ligne p-3">
                                                        <input *ngIf="dd.mois.M12.statut.code!='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M12.statut.style}}"
                                                            value="{{dd.mois.M12.montant}}" />
                                                        <input *ngIf="dd.mois.M12.statut.code=='E0029'" type="text"
                                                            step="0.01"
                                                            class="col-sm frais form-control bg-month-{{dd.mois.M12.statut.style}}"
                                                            value="{{dd.mois.M12.payed}} / {{dd.mois.M12.montant}}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- info globale-->
                                        <div class="flex-line-prop my-2" style="margin-left: 30px;margin-right: 30px;">                                          

                                            <!-- frais de cette anne (condition anneRemiseCle= anneeSelectionne)-->
                                            <h4 *ngIf="anneeRemiseCle==selectedYearStepper">Frais de cette année :<span class="px-1 datecle">
                                                {{dd.fraisCetteAnnee}} {{infoPref?.devise}} </span>
                                            </h4> 
                                            <!-- remise -->
                                            <p *ngIf="dd?.remise!=null" class="remise" title="Remise">
                                                 
                                                <span class="px-1 datecle" style="color: red;">-{{dd?.remise}}Mois</span><span style="font-size: 20px;color: red;">%</span>
                                            </p>                                          


                                        </div>
                                        
                                        <!-- legende-->
                                        <div class="row" style="margin-left: 15px;">

                                            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-12">
                                               <b>Info :</b> 
                                            </div>
                                            <div class="col-xl-6 col-lg-7 col-md-6 col-sm-12 col-12" style="display: flex;">
                                                
                                                <div class="mr-2" style="display: inline-flex;">
                                                    <div style="background-color: rgb(76 175 80 / 36%) ;" class="bc">
                                                    </div>
                                                    <span class="px-1">Payé</span>
                                                </div>
                                                <div class="mr-2"  style="display: inline-flex;">
                                                    <div style="background-color: rgb(244 67 54 / 24%) ;" class="bc">
                                                    </div>
                                                    <span class="px-1">Non payé</span>
                                                </div>
                                                <div  style="display: inline-flex;">
                                                    <div style="background-color: #ff99007a" class="bc">
                                                    </div>
                                                    <span class="px-1">Partiel</span>
                                                </div>
                                            </div>  
                                                                                     
                                              
                                        </div><!-- fin legende-->

                                    </mat-step>
                                </mat-horizontal-stepper>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ajout nouveau frais syndic -->
<ng-template #modalBasic class="fraisSyndic" let-modal>
    <div class="modal-header">
        <h4 *ngIf="!mode" class="modal-title" id="modal-basic-title">Frais syndic pour autre année</h4>
        <h4 *ngIf="mode" class="modal-title" id="modal-basic-title">Modifier frais syndic pour l'année {{echeanceForm.value.annee}}</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                    aria-hidden="true">&times;</span></button> -->
    </div>
    <div class="modal-body">
        <form [formGroup]="echeanceForm" (ngSubmit)="onSubmit2()" class="px-0 col-md-12">
            <div *ngIf="mode && checkYear" class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label for="picker1">Date Remise Clé </label>
                    <div class="input-group">
                        <input id="picker11" class="form-control" placeholder="yyyy-mm-dd" name="dp" [readonly]="dataYear?.statut?.code=='E0029'"
                            formControlName="dateRemiseCle" type="date" (blur)='onchangeDate($event.target.value)'
                            [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.dateRemiseCle.errors || (echeanceForm.controls.dateRemiseCle.errors  && echeanceForm.get('dateRemiseCle').touched ) }">

                        <div class="invalid-feedback " *ngIf="submitted &&  echeanceForm.controls.dateRemiseCle.errors || (echeanceForm.controls.dateRemiseCle.errors  && echeanceForm.get('dateRemiseCle').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pr-0">
                    <label> Frais Syndic Annuel </label>
                    <input type="number" class="form-control form-control-specialiser" step="0.01"
                        formControlName="fraisAnnuelle" (blur)='onChangeValue($event.target.value)'
                        [readonly]="!jour || !mois || !annee"
                        [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.fraisAnnuelle.errors || (echeanceForm.controls.fraisAnnuelle.errors  && echeanceForm.get('fraisAnnuelle').touched )}" />
                    <div class="invalid-feedback " *ngIf="submitted &&  echeanceForm.controls.fraisAnnuelle.errors ">
                        Veuillez remplir ce champs !
                    </div>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  echeanceForm.controls.dateRemiseCle.errors || (echeanceForm.controls.fraisAnnuelle.errors  && echeanceForm.get('fraisAnnuelle').touched ) ">
                        Veuillez remplir date remise de clé au premier !
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-2  flex-line">
                <div *ngIf="mode && !checkYear" class="col-sm px-0">
                    <label> Frais Syndic de cette année </label>
                    <div class="input-group mb-3">
                        <input type="number" step="0.01" class="form-control " formControlName="fraisCetteAnnee"
                            (blur)='onchange($event.target.value)'
                            [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.fraisCetteAnnee.errors || (echeanceForm.controls.fraisCetteAnnee.errors  && echeanceForm.get('fraisCetteAnnee').touched )}" />

                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">{{infoPref?.devise}} </span>
                        </div>
                        <div class="invalid-feedback "
                            *ngIf="submitted &&  echeanceForm.controls.fraisCetteAnnee.errors || (echeanceForm.controls.fraisCetteAnnee.errors  && echeanceForm.get('fraisCetteAnnee').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
                <div *ngIf="!mode" class="col-sm-6 pl-0">
<!--                    <label for="picker1"> Année Frais </label>-->
<!--                    <input type="number" class="form-control " formControlName="annee"-->
<!--                        [ngClass]="{ 'is-invalid': submitted &&  (echeanceForm.controls.annee.errors || (echeanceForm.controls.annee.errors  && echeanceForm.get('annee').touched ))}" />-->
                    <div class="col-xl col-lg col-md col-sm pr-md-0" style="margin-top: auto;">
                        <label>Année Frais</label>
<!--                        <mat-form-field appearance="fill" class="col px-0">-->
                            <mat-label></mat-label>
                            <input  class="form-control"
                                   [matDatepicker]="dp"
                                   [formControl]="date" formControlName="annee"
                                   (click)="_openDatepickerOnClick(dp)"
                                   (keydown.arrowdown)="_openDatepickerOnClick(dp)"
                                   (keydown.enter)="_openDatepickerOnClick(dp)">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp
                                            startView="multi-year"
                                            (yearSelected)="chosenYearHandler($event, dp)"
                                            (monthSelected)="chosenMonthHandler($event, dp)"
                                            panelClass="example-month-picker">
                            </mat-datepicker>
<!--                        </mat-form-field>-->
                        <div class="invalid-feedback "
                             *ngIf="submitted &&  (echeanceForm.controls.annee.errors || (echeanceForm.controls.annee.errors  && echeanceForm.get('annee').touched ))">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
                <div *ngIf="!mode" class="col-sm-6 pr-0">
                    <label> Frais Syndic </label>
                    <div class="input-group mb-3">
                        <input type="number" step="0.01" class="form-control " formControlName="fraisCetteAnnee"
                            (blur)='onchange($event.target.value)'
                            [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.fraisCetteAnnee.errors || (echeanceForm.controls.fraisCetteAnnee.errors  && echeanceForm.get('fraisCetteAnnee').touched )}" />

                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">{{infoPref?.devise}} </span>
                        </div>
                        <div class="invalid-feedback "
                            *ngIf="submitted &&  echeanceForm.controls.fraisCetteAnnee.errors || (echeanceForm.controls.fraisCetteAnnee.errors  && echeanceForm.get('fraisCetteAnnee').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3">
                <label>Remise mensuel </label>
                <div class="flex-line pl-0">
                    <div class="col-md-9 pl-0">
                        <ng-select [items]="months" formControlName="remise" bindLabel="label" bindValue="value"
                            [readonly]="!check" placeholder="Choisir nombre de mois"
                            [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.remise.errors || (echeanceForm.controls.remise.errors  && echeanceForm.get('remise').touched )}">
                        </ng-select>
                        <div class="invalid-feedback "
                            *ngIf="submitted &&  echeanceForm.controls.remise.errors || (echeanceForm.controls.remise.errors  && echeanceForm.get('remise').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-md-3 pr-0">
                        <label class="mt-2 switch switch-success mr-3">
                            <span>Activer Remise</span>
                            <input type="checkbox" [checked]="check" (change)="checkChecked($event.target.checked)">
                            <span class="slider"></span>
                        </label>
                    </div>

                </div>
            </div>

            <div class="col-md-12 form-group mb-3  ">
                <label> Frais par mois </label>
                <div class="col-sm">
                    <div [ngClass]="{'flex-line': smallwidth > 1000}">
                        <div>
                            <div class="colonne p-3">Janvier</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M01?.statut?.style}}" formControlName="M01"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M01.errors || (echeanceForm.controls.M01.errors  && echeanceForm.get('M01').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Février</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M02?.statut?.style}}" formControlName="M02"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M02.errors || (echeanceForm.controls.M02.errors  && echeanceForm.get('M02').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Mars</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M03?.statut?.style}}" formControlName="M03"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M03.errors || (echeanceForm.controls.M03.errors  && echeanceForm.get('M03').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Avril</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M04?.statut?.style}}" formControlName="M04"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M04.errors || (echeanceForm.controls.M04.errors  && echeanceForm.get('M04').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Mai</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M05?.statut?.style}}" formControlName="M05"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M05.errors || (echeanceForm.controls.M05.errors  && echeanceForm.get('M05').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Juin</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M06?.statut?.style}}" formControlName="M06"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M06.errors || (echeanceForm.controls.M06.errors  && echeanceForm.get('M06').touched ) }" />
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="{'flex-line': smallwidth > 1000}">
                        <div>
                            <div class="colonne p-3">Juillet</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M07?.statut?.style}}" formControlName="M07"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M07.errors || (echeanceForm.controls.M07.errors  && echeanceForm.get('M07').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Août</div>
                            <div class="ligne p-3">
                                <input type="number" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M08?.statut?.style}}" formControlName="M08"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M08.errors || (echeanceForm.controls.M08.errors  && echeanceForm.get('M08').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Septembre</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M09?.statut?.style}}" formControlName="M09"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M09.errors || (echeanceForm.controls.M09.errors  && echeanceForm.get('M09').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Octobre</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M10?.statut?.style}}" formControlName="M10"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M10.errors || (echeanceForm.controls.M10.errors  && echeanceForm.get('M10').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Novembre</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M11?.statut?.style}}" formControlName="M11"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M11.errors || (echeanceForm.controls.M11.errors  && echeanceForm.get('M11').touched ) }" />
                            </div>
                        </div>
                        <div>
                            <div class="colonne p-3">Décembre</div>
                            <div class="ligne p-3">
                                <input type="number" step="0.01" class="col-sm frais form-control bg-month-{{dataYear?.mois?.M12?.statut?.style}}" formControlName="M12"
                                    [ngClass]="{ 'is-invalid': submitted &&  echeanceForm.controls.M12.errors || (echeanceForm.controls.M12.errors  && echeanceForm.get('M12').touched ) }" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Enregistrer </button>
                <button class="btn btn-outline-dark " type="button"  (click)="cancel()">Annuler</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- end Modal ajout nouveau frais syndic -->

