<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px"> Chargement en cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Communité</h1>
    <ul>
        <li><a routerLink="/communite/reunions">Réunions</a></li>
        <li>Info ( Ajout / Edit )</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-12" *ngIf="invitation === 1">
        <ngb-alert class="alert-card mb-4" *ngIf="!closed" type="warning" dismissible="true" (close)="closed=true">
            <strong class="text-capitalize">Information !</strong> Invitations envoyer
        </ngb-alert>
    </div>
    <div class="col-md-3 pr-0">
        <form [formGroup]="formBiens" (ngSubmit)="submitBiens()">

            <!--        <mat-card class="demo-inline-calendar-card">-->
            <!--            <mat-calendar (selectedChange)="selectedd = $event"></mat-calendar>-->
            <!--        </mat-card>-->
            <!--        <ngx-mat-timepicker-->
            <!--                [(ngModel)]="date" [disabled]="false"-->
            <!--                [showSpinners]="true"-->
            <!--                [stepHour]="1" [stepMinute]="5"-->
            <!--                [stepSecond]="5"-->
            <!--                [showSeconds]="false">-->
            <!--        </ngx-mat-timepicker>-->
            <!--        <p>Selected date: {{selectedd}}</p>-->
            <!--    <div class="col-md-3">-->
            <div class="card mb-4" [class.disabled-Card]="invitation === 1">
                <div class="card-body">
                    <div class="row">
                        <button type="submit" class="btn btn-outline-pistach btn-block m-1 mb-4">Enregistrer
                            participants</button>
                        <!--                    <div class="col-md-12  border-bottom mb-4">-->

                        <!--                    </div>-->
                    </div>
                    <h4 class="font-weight-bold border-bottom text-black  mb-3"><strong><i class="i-Pulse"></i>
                            Affecter des biens :</strong></h4>
                    <div class="col-sm-12 mb-2">
                        <ng-select [items]="groupements" [multiple]="true" (remove)="removegroupe($event)"
                            formControlName="groupement" (clear)="cleargroupement($event)" bindLabel="label"
                            placeholder="Choisir un groupement" (change)="OnChangeGroupement($event)">
                        </ng-select>
                    </div>
                    <!--                <label class="col-form-label ">Résidence:</label>-->
                    <div class="col-sm-12 mb-2">
                        <ng-select [items]="residences" [readonly]="readonly" (remove)="removeresidence($event)"
                            (clear)="clearresidence($event)" formControlName="residence" [multiple]="true"
                            [ngModel]="selected" bindLabel="label" placeholder="Choisir un résidence"
                            (change)="OnChangeResidence($event)">
                        </ng-select>
                    </div>
                    <!--                <label class="col-form-label ">Bloc:</label>-->
                    <div class="col-sm-12 mb-2">
                        <ng-select [items]="blocs" [readonly]="readonly" bindLabel="label" [multiple]="true"
                            (remove)="removebloc($event)" (clear)="clearbloc($event)" formControlName="bloc"
                            placeholder="Choisir un bloc" (change)="OnChangeBloc($event)">
                        </ng-select>
                    </div>
                    <!--                <label class="col-form-label ">Appartement:</label>-->
                    <div class="col-sm-12 mb-4">
                        <ng-select [items]="appartements" [readonly]="readonly" [multiple]="true"
                            formControlName="appartement" bindLabel="label" placeholder="Choisir un appartement">
                        </ng-select>
                    </div>
                    <!--                <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i>Inviter des syndic :</strong></div>-->
                    <h4 class="font-weight-bold text-black  border-bottom mb-3"><strong><i class="i-Pulse"></i> Inviter
                            des syndic :</strong></h4>
                    <div class="col-sm-12 mb-4">
                        <ng-select [items]="internes" bindLabel="nomComplet" [multiple]="true" formControlName="interne"
                            placeholder="Choisir un utilisateur">
                        </ng-select>
                    </div>

                    <h4 class="font-weight-bold text-black  border-bottom mb-3"><strong><i class="i-Pulse"></i> Inviter
                            des externe :</strong></h4>
                    <div class="col-sm-12 mb-4">
                        <div formArrayName="externe">
                            <div *ngFor="let email of emails().controls; let ligIndex2=index"
                                formGroupName="{{ligIndex2}}">
                                <div class="row mb-2">
                                    <div class="col-md-10" align="center">
                                        <input class="form-control" type="email" min="1" formControlName="adresse"
                                            placeholder="Ex: adresse@email.com " />
                                        <div class="invalid-feedback "
                                            *ngIf="(submitted &&  email.get('adresse').errors )|| (email.get('adresse').errors  && email.get('adresse').errors.touched )">
                                            <div *ngIf="email.get('adresse').errors.required">
                                                Veuillez remplir ce champs !
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <button (click)="removeEmail(ligIndex2)"
                                            class="btn btn-outline-secondary float-right"
                                            [disabled]="emails().length<2"><i class="i-Remove"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="button"
                                    class="btn btn-outline-primary w-auto btn-spesific  float-right mb-4 "
                                    (click)="addEmail()">
                                    <i class="i-Add"></i> Nouveau @Email </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--    </div>-->

        </form>
    </div>
    <div class="col-md-9 px-0">
        <form [formGroup]="formBasic" (ngSubmit)="submit()">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="font-weight-bold text-black "><strong><i class="i-Pulse"></i> Informations
                                        Réunion :</strong></h4>
                            </div>
                            <div class="col-md-6 text-sm-right">
                                <div class="d-sm-flex mb-2">
                                    <span class="m-auto"></span>
                                    <!--<button class="btn btn-outline-secondary mr-3 mb-sm-0 mb-3" routerLink="/communite/reunions">Retour à la liste</button>-->
                                    <button class="btn btn-outline-secondary mr-3 mb-sm-0 mb-3"
                                        routerLink="/communite/reunions">Annuler</button>
                                    <button class="btn btn-primary mb-sm-0 mb-3">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                        <div class="separator-breadcrumb border-top mb-4"></div>

                        <!--                <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations Réunion :</strong> <button style="float: right" class="btn btn-primary "  >Submit</button></div>-->

                        <div class="row">
                            <div class="col-md-6 form-group mb-2">
                                <label>Type *</label>
                                <ng-select [items]="types" bindLabel="label" formControlName="type"
                                    placeholder="Choisir un type" bindValue="value"
                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )}">
                                </ng-select>
                                <div class="invalid-feedback "
                                    *ngIf="submitted &&  formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-2">
                                <label>Mode *</label>
                                <ng-select bindLabel="label" formControlName="mode" placeholder="Choisir un mode"
                                    bindValue="value" (change)="onchangeMode($event)"
                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.mode.errors || (formBasic.controls.mode.errors  && formBasic.get('mode').touched )}">
                                    <ng-option [value]=1>Manuel</ng-option>
                                    <ng-option [value]=2>Automatique</ng-option>
                                </ng-select>
                                <div class="invalid-feedback "
                                    *ngIf="submitted &&  formBasic.controls.mode.errors || (formBasic.controls.mode.errors  && formBasic.get('mode').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-2">
                                <label>Objet *</label>
                                <input type="text" class="form-control" formControlName="objet"
                                    placeholder="Ex: Objet du réunion"
                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.objet.errors || (formBasic.controls.objet.errors  && formBasic.get('objet').touched )}" />
                                <div class="invalid-feedback "
                                    *ngIf="submitted &&  formBasic.controls.objet.errors || (formBasic.controls.objet.errors  && formBasic.get('objet').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                            <div class="col-md-6 form-group mb-2">
                                <label>Réunion à distance (Visioconférence) *</label>
                                <div class="mt-1">
                                    <label class="switch switch-primary mr-3">
                                        <span></span>
                                        <input formControlName="enligne" type="checkbox"
                                        [attr.disabled]="isDisabled ? true : null">
                                        <span class="slider"></span></label>
                                </div>

                            </div>
                            <div class="col-md-6 form-group mb-2">
                                <label>Date *</label>
                                <mat-form-field class="form-control col px-0">
                                    <!-- [min]="date_now" placeholder="Jour du réunion & heure de debut" -->
                                    <input matInput [ngxMatDatetimePicker]="picker" formControlName="dateDebut"
                                        [disabled]="false" [placeholder]="'Ex: '+datedujour">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                        [stepHour]="1" [stepMinute]="1" [stepSecond]="10" [touchUi]="false"
                                        [color]="color" [enableMeridian]="false" [disableMinute]="false">
                                        <ng-template>
                                            <span>OK</span>
                                        </ng-template>
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                            </div>



                            <div class="col-md-6 form-group mb-2">
                                <label>Durée *</label>
                                <div class="input-group">
                                    <input type="number" step="0.05" class="form-control" formControlName="duree"
                                        placeholder="Ex: 1"
                                        [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.duree.errors || (formBasic.controls.duree.errors  && formBasic.get('duree').touched )}" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">Heures</span>
                                    </div>
                                </div>
                                <div class="invalid-feedback "
                                    *ngIf="submitted &&  formBasic.controls.duree.errors || (formBasic.controls.duree.errors  && formBasic.get('duree').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                            <div class="col-md-12 form-group mb-2">
                                <label>Emplacement *</label>
                                <input type="text" class="form-control" formControlName="emplacement"
                                    placeholder="Ex: Sousse"
                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.emplacement.errors || (formBasic.controls.emplacement.errors  && formBasic.get('emplacement').touched )}" />
                                <div class="invalid-feedback "
                                    *ngIf="submitted &&  formBasic.controls.emplacement.errors || (formBasic.controls.emplacement.errors  && formBasic.get('emplacement').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                            <div class="col-md-12 form-group mb-2">
                                <label>Description *</label>
                                <textarea rows="3" formControlName="description" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )}"></textarea>
                                <div class="invalid-feedback "
                                    *ngIf="submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <ngb-tabset class="nav-fill">
                            <ngb-tab title="Point à discuter">
                                <ng-template ngbTabContent>
                                    <!--                            <div class="card-title mb-3">Ordre du jours :</div> nav-fill -->
                                    <div formArrayName="notes">
                                        <div *ngFor="let note of lignes().controls; let ligIndex=index"
                                            formGroupName="{{ligIndex}}">
                                            <div class="row mb-2">
                                                <div class="col-md-3 mb-2">
                                                    <ng-select [clearable]="false" id="{{ligIndex}}"
                                                        [items]="types_note" formControlName="type" bindLabel="label"
                                                        placeholder="Choisir un type (*)" bindValue="value"
                                                        notFoundText="Aucune données trouver."
                                                        [ngClass]="{ 'is-invalid': submitted &&  note.get('type').errors || (note.get('type').errors  && note.get('type').errors.touched )}">
                                                    </ng-select>
                                                    <div class="invalid-feedback "
                                                        *ngIf="(submitted &&  note.get('type').errors )|| (note.get('type').errors  && note.get('type').errors.touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                                <div class="col-md-8 mb-2" align="center">
                                                    <input class="form-control" type="text" min="1"
                                                        formControlName="contenu" placeholder="Ex: ordre du jour (*)"
                                                        [ngClass]="{ 'is-invalid': (submitted &&  note.get('contenu').errors )|| (note.get('contenu').errors  && note.get('contenu').errors.touched )}" />
                                                    <div class="invalid-feedback "
                                                        *ngIf="(submitted &&  note.get('contenu').errors )|| (note.get('contenu').errors  && note.get('contenu').errors.touched )">
                                                        <div *ngIf="note.get('contenu').errors.required">
                                                            Veuillez remplir ce champs !
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 mb-2">

                                                    <!--                                            <button (click)="removeLigne(ligIndex)" class="btn btn-outline-secondary float-right" [disabled]="lignes().length<2"><i class="i-Remove"></i></button>-->
                                                    <div
                                                        *ngIf="lignes().at(ligIndex).get('cbmarq').value != null; then thenBlock else elseBlock">
                                                    </div>
                                                    <ng-template #thenBlock>
                                                        <button type="button"
                                                            (click)="supprimerLigneDB(lignes().at(ligIndex).get('cbmarq').value,ligIndex)"
                                                            class="btn btn-outline-secondary float-right"
                                                            [disabled]="lignes().length<2"><i class="i-Remove"></i>
                                                        </button>
                                                    </ng-template>
                                                    <ng-template #elseBlock>
                                                        <button type="button" (click)="removeLigne(ligIndex)"
                                                            class="btn btn-outline-secondary float-right"
                                                            [disabled]="lignes().length<2"><i class="i-Remove"></i>
                                                        </button>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <button type="button" (click)="addLigne()"
                                                class="btn btn-primary float-right mb-4"><i class="i-Add"></i></button>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab title="Attachement" *ngIf="this.id!=0">
                                <ng-template ngbTabContent>
                                    <mat-card-content>
                                        <div class="row">
                                            <div class="col-md-12 form-group mb-3">
                                                <label>Documents partagé du réunion :</label>
                                                <input type="text" #namedoc placeholder="Nom attachement"
                                                    class="form-control mb-2" (blur)="blurEvent($event)">
                                                <div class="input-group mb-3">
                                                    <div class="custom-file">
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                <input type="file"
                                                                    class="form-control custom-file-input"
                                                                    id="importFile"
                                                                    (change)="onFileChange($event.target.files)"
                                                                    accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain">
                                                                <label class="custom-file-label" #labelImport
                                                                    for="importFile"><i
                                                                        class="fas fa-search"></i>Sèlectionner
                                                                    ...</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" title="Enregistrer attachement"
                                                        class="btn btn-primary float-right ml-2 mb-4"
                                                        (click)="AddAttachement()"><i class="i-Add"></i></button>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3" *ngFor="let item of attachements; let i = index">
                                                <div class="card card-profile-1 mb-4">
                                                    <div class="card-body text-center">
                                                        <div class="avatar box-shadow-2 mb-3">
                                                            <div
                                                                *ngIf="(getExstendsion(item?.attachement) === 'jpg') || getExstendsion(item?.attachement) === 'png'; else elseBlock">
                                                                <img *ngIf="(getExstendsion(item?.attachement) === 'jpg') || getExstendsion(item?.attachement) === 'png'"
                                                                    [src]="item?.attachement" alt="">
                                                            </div>
                                                            <ng-template #elseBlock>
                                                                <img *ngIf="(getExstendsion(item?.attachement) !== 'jpg') || getExstendsion(item?.attachement) !== 'png'"
                                                                    [src]="'./assets/images/doc3.jpg'" alt="">
                                                            </ng-template>
                                                        </div>
                                                        <h5 class="m-0">{{item.intitule}}</h5>

                                                        <span class="fa fa-trash-o dangerMaterial  mr-1"
                                                            title="Supprimer" *ngIf="can_delete?.permission"
                                                            (click)="confirmerDeleteAttachement(item.cbmarq)"></span>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
