#choicesDisplay {
  padding: 10px;
  background: rgb(227, 250, 227);
  border: 1px solid rgb(171, 239, 171);
  color: rgb(9, 56, 9);
}
.remove{
  background: #C76868;
  color: #FFF;
  font-weight: bold;
  font-size: 21px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 4px 9px;
  vertical-align: top;
  line-height: 100%;
}
.form-control-specialiser {
  background: #ffffff;
}
.disabled-Card {
  pointer-events: none;
  opacity: 0.9;
}
::ng-deep .mat-form-field-infix{
  padding-top: 0px !important;
  border-top-width: 0px;
  top: -5px;
  // left: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px !important;
  height: 25px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90px !important;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px !important;
  left: 4px;
  bottom: 3px;
  border-radius: 34px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
// input:checked + .slider {
//   background-color: #2196F3;
// }
// input:focus + .slider {
//   box-shadow: 0 0 1px #2196F3;
// }

input:checked + .slider:before {
  -webkit-transform: translateX(60px);
  -ms-transform: translateX(60px);
  -moz-transform: translateX(60px);
  -o-transform: translateX(60px);
  transform: translateX(60px);
}
