<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Administration</h1>
        <ul>
            <li><a [routerLink]="['/syndic/log-admin']">Mouchard d'utilisation</a></li>

        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 pl-0 mb-4">
            <div class="card-body proprietaire">
                <div class="col-ms-12">
                    <!-- row filter-->
                    <div class="row">
                        <form class="col-xl col-lg col-md col-sm mb-2">
                            <input class="form-control" placeholder="Rechercher" [formControl]="searchInput" #input>
                        </form>
                        <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto px-0 mb-2">
                            <button class="btn btn-primary mb-sm-0 mb-3 alignRight" title="Exporter"
                                (click)="exportdata()">
                                <!--*ngIf="can_add?.permission" [disabled]="dataSource.data.length==0"-->
                                Exporter
                            </button>

                        </div>
                    </div>
                </div>
                <!--*ngIf="can_liste?.permission"-->
                <div class="row ml-0 card">
                    <div class="example-container mat-elevation-z8" #TABLE>
                        <table #table class="col mat-table cdk-table mat-sort table mb-0 ">
                            <div class="row mx-0">
                                <tr class="col mat-header-row" *ngFor="let col of displayedColumns">
                                    <th class="col mat-header-cell cdk-column-title mat-column-title">{{col}}
                                    </th>

                                </tr>
                            </div>

                            <tr class="mat-row  row px-2 mx-0" *ngFor="let item of logList">
                                <td class="col mat-cell cdk-cell  mat-column-title">
                                    <span class="mobile-label mr-2">Action:</span>
                                    {{item.action}}
                                </td>
                                <td class="col mat-cell cdk-cell  mat-column-title">
                                    <span class="mobile-label mr-2">Actionneur:</span>
                                    {{item.actionneur}}
                                </td>
                                <td class="col mat-cell cdk-cell  mat-column-title">
                                    <span class="mobile-label mr-2">Date:</span>
                                    {{ item.date.date | date : 'dd-MM-yyyy'}}
                                </td>
                                <td class="col mat-cell cdk-cell  mat-column-title">
                                    <span class="mobile-label mr-2">Description:</span>
                                    {{ item.description}}
                                </td>
                            </tr>
                        </table>
                        <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                            [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"
                            (page)="changePage($event)">
                        </mat-paginator>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- <mat-list>
    <mat-list-item *ngFor="let article of logList">
      <a  target="_blank">{{article.cbmarq}}</a>
    </mat-list-item>
  </mat-list> -->
