.flex-row {
    display: flex;
    flex-direction: row;
}
.disabled-table {
  pointer-events: none;
  opacity: 0.8;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.title-info {
    color: #213c7f;
    font-weight: bold;
}
.deligue {
    justify-content: space-between;
}
.dispo .fa-circle {
    color: green;
    font-size: 9px;
}
.deligue{
    z-index: 1000;
}
.fa-circle {
    color: red;
}
.cover {
    background-color: #e8ebf28a;
}
.nav-icon {
    font-size: 35px;
    padding-right: 5px;
}
ng-select.required.ng-invalid.ng-touched {
    .ng-select-container{
      border-color: #dc3545;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
    }
  }
  ng-select.required.ng-invalid.ng-untouched {
    .ng-select-container{
      border-color: #dc3545;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
    }
  }

  @media (max-width: 900px) {
    .mat-column-Ann-e {
      padding-left: 0px;
    }
  }
