<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Gestion Sydic</h1>
    <ul>
        <li><a routerLink="/syndic/residences">Résidences</a></li>
        <li>Détails</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="card user-profile o-hidden mb-4">
    <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg')"></div>
    <div class="user-info">
        <img class="profile-picture avatar-lg mb-2" src="assets/images/faces/1.jpg" alt="">
        <p class="m-0 text-24">{{residence.intitule}}</p>
        <p class="title-info m-0">{{residence.adresse}}</p>
        <!--        <button class="btn btn-outline-danger border-danger btn-rounded ladda-button btn-sm"-->
        <!--            *ngIf="can_delete?.permission" (click)="confirmBox(residence.cbmarq)" title="Supprimer">-->
        <!--            Supprimer <i class="i-Close font-weight-bold"></i>-->
        <!--        </button>-->
        <div class="btn-group ml-0  col-sm-3" style="text-align: center;display: block;">
            <button type="button" *ngIf="this.can_active?.permission"
                (click)="confirmBoxAct(residence?.cbmarq, !residence?.active)"
                class="btn btn-sm btn-outline-primary btn-rounded m-1">
                <span *ngIf="residence?.active == true">Désactiver</span>
                <span *ngIf="residence?.active == false">Activer</span>
            </button>
            <button *ngIf="can_delete?.permission" type="button" class="btn btn-sm btn-outline-danger btn-rounded m-1"
                (click)="confirmBox(residence.cbmarq)" title="Supprimer">Supprimer</button>
        </div>
    </div>
    <div class="card-body residence">
        <ngb-tabset class="nav-fill" (tabChange)="onTabChange($event)">
            <ngb-tab title="Informations">
                <ng-template ngbTabContent>
                    <div class="cover cover2 pt-3 pb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row">
                                    <i class="nav-icon i-Building"></i>
                                    <div class="item-info">
                                        <label class="mb-0">Blocs</label>
                                        <h5 class="title-info">{{residence.nbrBloc}}</h5>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row">
                                    <i class="nav-icon i-Two-Windows"></i>
                                    <div class="item-info">
                                        <label class="mb-0">Appartements</label>
                                        <h5 class="title-info">{{residence.nbrAppartement}}</h5>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row">
                                    <i class="nav-icon i-Cash-register-2"></i>
                                    <div class="item-info">
                                        <label class="mb-0">Caisse </label>
                                        <h5 class="title-info" *ngIf="residence?.caisse">{{residence?.caisse?.intitule}}
                                        </h5>
                                        <h5 class="title-info" *ngIf="!residence?.caisse">Aucune information</h5>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row">
                                    <i class="nav-icon i-Cash-register-2"></i>
                                    <div class="item-info">
                                        <label class="mb-0">Caisse Siège</label>
                                        <h5 class="title-info" *ngIf="residence?.caisse">
                                            {{residence?.caisse?.caisseSiege?.intitule}}
                                        </h5>
                                        <h5 class="title-info" *ngIf="!residence?.caisse">Aucune information</h5>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row">
                                    <i class="nav-icon i-Check"></i>
                                    <div class="item-info">
                                        <label class="mb-0">Etat</label>
                                        <h5 *ngIf="residence?.active == false" class="title-info">Désactive</h5>
                                        <h5 *ngIf="residence?.active == true" class="title-info">Active</h5>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row">
                                    <i class="nav-icon i-Letter-Open"></i>
                                    <div class="item-info">
                                        <label class="mb-0">Informations</label>
                                        <h5 class="paragraphe title-info">{{residence.description}}</h5>
                                    </div>
                                </div>

                            </div>


                        </div>


                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Blocs" *ngIf="residence?.nbrBloc!=0">
                <ng-template ngbTabContent>
                    <app-bloc [class.disabled-table]="residence?.active == false" [id]="residence.cbmarq"></app-bloc>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Biens">
                <ng-template ngbTabContent>
                    <app-list-appartement [class.disabled-table]="residence?.active == false" [id]="residence.cbmarq">
                    </app-list-appartement>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Délégués" id="idTabDélégués">
                <ng-template ngbTabContent>
                    <div class="card p-4 mb-4" [class.disabled-table]="residence?.active == false">

                        <form [formGroup]="delegateForm" (ngSubmit)="submitdelegate()">

                            <div class="row mb-2">

                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                                    <ng-select [clearable]="false" [searchable]="true" [items]="listFutureDeligues"
                                        formControlName="delegate" bindLabel="nomComplet"
                                        placeholder="Choisir un délégué" bindValue="id" (change)="change($event)"
                                        notFoundText="Aucune données trouvée." class="select-delegue"
                                        [ngClass]="{ 'is-invalid': submitted &&  delegateForm.controls.delegate.errors || (delegateForm.controls.delegate.errors  && delegateForm.get('delegate').touched )}">
                                    </ng-select>
                                    <div class="invalid-feedback "
                                        *ngIf="submitted &&  delegateForm.controls.delegate.errors || (delegateForm.controls.delegate.errors  && delegateForm.get('delegate').touched )">
                                        Veuillez remplir ce champs !
                                    </div>
                                </div>

                                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 mb-2">
                                    <button mat-button class="btn btn-primary " type="submit" style="width: inherit;">
                                        Ajouter nouveau
                                    </button>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 mb-2">
                                    <button mat-button class="btn btn-outline-primary" style="width: inherit;"
                                        (click)="synchroneDeligue(idd)">
                                        Synchroniser ancien
                                    </button>
                                </div>

                                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 mb-2">

                                    <button *ngIf="!logDeligues" class="btn btn-outline-success" style="width: inherit;"
                                        (click)="historiqueDeligue()">
                                        Voir Historique
                                    </button>
                                    <button *ngIf="logDeligues" class="btn btn-outline-success" style="width: 100%;"
                                        (click)="getlisteDeligues()">
                                        Liste Délégués
                                    </button>
                                </div>
                            </div>
                        </form>

                        <h4 [hidden]="logDeligues" class="font-weight-bold">Liste des délégués</h4>

                        <div class="card">

                            <!-- new list Delégues -->
                            <div class="example-container mat-elevation-z8" [hidden]="logDeligues">
                                <mat-table class="table" [dataSource]="dataSourceListeDeligue">

                                    <!-- Column -->
                                    <ng-container matColumnDef="Année">
                                        <mat-header-cell *matHeaderCellDef>Année</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Année:</span>
                                            <span>{{row.exercice}}</span>


                                        </mat-cell>
                                    </ng-container>
                                    <!-- Column -->
                                    <ng-container matColumnDef="nomPrenom">
                                        <mat-header-cell *matHeaderCellDef>Nom et prénom</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Nom et prénom:</span>
                                            <span class="font-weight-500 text-center">{{row?.user?.nomComplet}}</span>


                                        </mat-cell>
                                    </ng-container>

                                    <!--  Column -->
                                    <ng-container matColumnDef="username">
                                        <mat-header-cell *matHeaderCellDef>Nom Utilisateur</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Nom Utilisateur:</span>
                                             <span>{{row?.user?.username}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <!--  Column -->
                                    <ng-container matColumnDef="tel">
                                        <mat-header-cell *matHeaderCellDef>Téléphone</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Téléphone:</span>
                                             <span>{{row?.user?.tel}} </span>

                                        </mat-cell>
                                    </ng-container>
                                    <!--  Column -->
                                    <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Email:</span>
                                             <span>{{row?.user?.email}}</span>

                                        </mat-cell>
                                    </ng-container>



                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="5">Aucune donnée trouvée
                                        </td>
                                    </tr>
                                    <div *ngIf="dataSourceListeDeligue?.data?.length === 0"></div>
                                </mat-table>
                                <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>

                        </div>

                        <h4 [hidden]="!logDeligues" class="font-weight-bold">Historique des délégués</h4>

                        <!-- new log -->
                        <div class="card">
                            <div class="example-container mat-elevation-z8" [hidden]="!logDeligues">
                                <mat-table class="table" [dataSource]="dataSourceListeLogDeligue">

                                    <!-- Column -->
                                    <ng-container matColumnDef="Année">
                                        <mat-header-cell *matHeaderCellDef>Année</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Année:</span>
                                             <span>{{row.exercice}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- Column -->
                                    <ng-container matColumnDef="nomPrenom">
                                        <mat-header-cell *matHeaderCellDef>Nom et prénom</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Nom et prénom:</span>
                                            <span class="font-weight-500 text-center">{{row?.user?.nomComplet}}</span>
                                        </mat-cell>
                                    </ng-container>

                                    <!--  Column -->
                                    <ng-container matColumnDef="username">
                                        <mat-header-cell *matHeaderCellDef>Nom Utilisateur</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Nom Utilisateur:</span>
                                            <span>{{row?.user?.username}}</span>
                                        </mat-cell>
                                    </ng-container>
                                    <!--  Column -->
                                    <ng-container matColumnDef="tel">
                                        <mat-header-cell *matHeaderCellDef>Téléphone</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Téléphone:</span>
                                             <span>{{row?.user?.tel}} </span>

                                        </mat-cell>
                                    </ng-container>
                                    <!--  Column -->
                                    <ng-container matColumnDef="email">
                                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                                        <mat-cell *matCellDef="let row"
                                            [routerLink]="['/syndic/details-proprietaire',row?.user.id]">
                                            <span class="mobile-label mr-2"> Email:</span>
                                             <span>{{row?.user?.email}}</span>

                                        </mat-cell>
                                    </ng-container>



                                    <mat-header-row *matHeaderRowDef="displayedColumnsLog"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsLog"></mat-row>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="5">Aucune donnée trouvée
                                        </td>
                                    </tr>
                                    <div *ngIf="dataSourceListeDeligue?.data?.length === 0"></div>
                                </mat-table>

                                <mat-paginator #paginatorLog [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>
                        </div>


                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
