<!-- <div class="breadcrumb" style="display: contents;">

  <div class="row">
    <div class="col-xl-3 col-lg-5 col-md-6 col-sm-6 col-12" style="display: flex;">
      <h1>Gestion Syndic</h1>
      <ul>
        <li><a routerLink="/syndic/reglements">Règlements</a></li>
        <li>Détails</li>

      </ul>
    </div>
    <div class="col-xl-9 col-lg-7 col-md-6 col-sm-6 col-12" style="float: right;">
      <div class="row mb-2 text-sm-right">
        <div class="col-md-12">
          <button class="btn btn-outline-primary mb-3 m-1" (click)="checkDuplicate()"
            *ngIf="reglement?.statut?.code=='E0036'">
            <span class="fa fa-print" aria-hidden="false"></span> Imprimer
          </button>

          <button class="btn btn-outline-success  mb-3 w-2 ml-2 m-1" type="button"
            *ngIf="reglement?.statut?.code=='E0035' && can_confirm?.permission"
            (click)="confirmerreglement(reglement.cbmarq)"><span class="fa fa-check" aria-hidden="true"></span>
            Confirmer

          </button>

          <button class="btn btn-outline-danger mb-3 ml-2 m-1"
            *ngIf="reglement?.statut?.code=='E0035' && can_confirm?.permission" type="button"
            (click)="Annulerreglement(reglement.cbmarq)"><i class="i-Close font-weight-bold" aria-hidden="true"></i>
            Annuler
          </button>
        </div>
      </div>
    </div>
  </div>

</div> -->
<ngx-spinner bdColor="rgba(255,255,255,0.7)"
  template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
  [fullScreen]="true">

  <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
    cours ...
  </h4>
</ngx-spinner>
<div class="breadcrumb mb-1">
  <div class="col">
    <div class="row">
      <h1>Trésorerie</h1>
      <ul>
        <li><a routerLink="/syndic/reglements">Règlements</a></li>
        <li>Détails</li>
      </ul>
    </div>
  </div>

  <div>
    <button class="btn btn-outline-primary mb-3 m-1" (click)="checkDuplicate()"
      *ngIf="reglement?.statut?.code=='E0036' && check_role">
      <span class="fa fa-print" aria-hidden="false"></span> Imprimer
    </button>
    <button class="btn btn-outline-dark mb-3 ml-2 m-1"
      *ngIf="reglement?.statut?.code=='E0035' && can_confirm?.permission" type="button"
      (click)="Annulerreglement(reglement.cbmarq)">

      Annuler
    </button>
    <button class="btn btn-primary  mb-3 w-2 ml-2 m-1" type="button"
      *ngIf="reglement?.statut?.code=='E0035' && can_confirm?.permission"
      (click)="confirmerreglement(reglement.cbmarq)">
      <!-- <span class="fa fa-check" aria-hidden="true"></span> -->
      Confirmer

    </button>


  </div>

</div>
<div class="separator-breadcrumb border-top"></div>
<div class="alert alert-info" role="alert" style="color: #004085;background-color: #cce5ff;border-color: #b8daff;"
  *ngIf="noCopieToPrint">
  <strong class="text-capitalize">{{alertModel.type}}!</strong> {{alertModel.message}}

  <span class="fa fa-times" style="display: block;top: 0; right: 0;float: right;cursor: pointer;"
    (click)="closeAlert()"></span>
</div>
<div>
  <!-- end of row boxShadow-->
  <div class="row card mb-4 ">
    <div class="content-regl col-md-12">
      <div>
        <div class="clearfix" style="margin-top: 10px;">
          <div id="logo">
            <!--<img src="../../../../../assets/images/logo.png">-->
          </div>

        </div>
        <div>
          <div id="details" class="clearfix">
            <div id="client">
              <div class="to">Info Client:</div>
              <h2 class="name">{{ reglement.prop?.nomComplet }}</h2>
              <div class="address" *ngIf="reglement?.prop?.adresse!='null'">{{ reglement?.prop?.adresse }}</div>
              <div class="address" *ngIf="reglement?.prop?.telephone1!='null'">Tel : {{ reglement?.prop?.telephone1 }}
              </div>
              <div class="email"><a>Email : {{ reglement.prop?.email }}</a></div>
            </div>
            <div id="invoice">
              <h1>Réglement N° {{reglement?.reference}} {{nameDuplicatedCopie}}</h1>
              <div class="date">Date de création: {{reglement?.date}}</div>
              <div class="date">Mode de paiement: {{reglement?.typePayement?.label}}</div>
              <div class="date">Ref / Echance: {{reglement?.typePayement?.label}}</div>
              <p><strong>Statut: </strong>
                <span *ngIf="reglement?.statut?.code=='E0035'" class="font-weight-600 text-danger"
                  style="font-size: 13px;">{{reglement?.statut?.label}}</span>
                <span *ngIf="reglement?.statut?.code=='E0037'" class="font-weight-600 text-danger"
                  style="font-size: 13px;">{{reglement?.statut?.label}}</span>
                <span *ngIf="reglement?.statut?.code=='E0036'" class="font-weight-600 text-success"
                  style="font-size: 13px;">{{reglement?.statut?.label}}</span>
              </p>
            </div>
          </div>

          <!-- ============================================== Statut Nouveau ========-->
          <!-- table ligne -->
          <div id="regl" class="col-md-12 table-responsive"
            *ngIf="lignes?.length>0 && reglement?.statut?.code=='E0035'">
            <h5 class="font-weight-bold">Échéance</h5>
            <table class="table table-hover mb-4" border="0" cellspacing="0" cellpadding="0">
              <thead class="bg-gray-300">
                <tr>
                  <th class="col-1">#</th>
                  <th class="col-3" style='text-align: center;'>Bien</th>
                  <th class="col-4" style='text-align: center;'>Description</th>
                  <th class="col-3" style='text-align: center;'>Montant Payer</th>
                  <th class="col-1" style='text-align: center;'>Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lig of lignes ; let i=index">
                  <td scope="row no" style="cursor: pointer;text-align: center">{{i+1}}</td>
                  <td style='text-align: center;'>{{lig?.appartement?.produit }} / {{lig?.appartement?.intitule }}</td>
                  <td style='text-align: center;'>
                    <span *ngIf="lig?.type?.label">{{lig?.type?.label}}</span>
                    <!--{{lig?.sourceFrais?.intitule}}-->
                    <span *ngIf="!lig?.type?.label">-</span>
                  </td>
                  <td style='text-align: center;'>
                    <span *ngIf="lig?.montant"> {{lig?.montant}} </span>
                    <span *ngIf="!lig?.montant">-</span>
                  </td>
                  <td style='text-align: center;'>

                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0028'"
                      class="badge badge-outline-success p-1">{{lig?.sourceFrais?.statut?.label}}</span>
                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0030'"
                      class="badge badge-outline-danger p-1 ">{{lig?.sourceFrais?.statut?.label}}</span>
                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0029'"
                      class="badge badge-outline-warning p-1 ">{{lig?.sourceFrais?.statut?.label}}</span>
                  </td>
                </tr>
                <tr *ngIf="lignes.length == 0">
                  <td></td>
                  <td></td>
                  <td>Aucune ligne trouvé</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <!--<tr>
                      <td colspan="1"></td>
                      <td colspan="2">RESTE</td>
                      <td>{{ (reglement?.rest)?.toFixed(3) }} {{refreObj?.devise}}</td>
                    </tr>-->
                <tr>
                  <td colspan="1"></td>
                  <td colspan="2" style="color: black !important;">Montant Règlement</td>
                  <td style="color: black !important;">{{ (reglement?.montant) }} {{refreObj?.devise}}</td>
                </tr>
              </tfoot>
            </table>
          </div>


          <!-- table depense -->
          <div id="regl2" class="col-md-12 table-responsive"
            *ngIf="depenses?.length>0 && reglement?.statut?.code=='E0035'">
            <h5 class="font-weight-bold">Dépense</h5>
            <table class="table table-hover mb-4" border="0" cellspacing="0" cellpadding="0">
              <thead class="bg-gray-300">
                <tr>
                  <th class="col-1">#</th>
                  <th class="col-3" style='text-align: center;'>Bien</th>
                  <th class="col-4" style='text-align: center;'>Description</th>
                  <th class="col-3" style='text-align: center;'>Montant Payer</th>
                  <th class="col-1" style='text-align: center;'>Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lig of depenses; let i=index">
                  <td scope="row no" style="cursor: pointer;text-align: center">{{i+1}}</td>
                  <td style='text-align: center;'>{{lig?.appartement?.produit }} / {{lig.appartement.intitule }}</td>
                  <td style='text-align: center;'>
                    <span *ngIf="lig?.type?.label"> {{lig?.type?.label}}
                      <!--{{lig?.sourceFrais?.intitule}} : {{lig?.sourceFrais?.reference}}-->
                    </span>
                    <span *ngIf="!lig?.type?.label">-</span>
                  </td>
                  <td style='text-align: center;'>
                    <span *ngIf="lig?.montant"> {{lig?.montant}} </span>
                    <span *ngIf="!lig?.montant">-</span>
                  </td>

                  <td style='text-align: center;'>

                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0028'"
                      class="badge badge-outline-success p-1">{{lig?.sourceFrais?.statut?.label}}</span>
                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0030'"
                      class="badge badge-outline-danger p-1 ">{{lig?.sourceFrais?.statut?.label}}</span>
                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0029'"
                      class="badge badge-outline-warning p-1 ">{{lig?.sourceFrais?.statut?.label}}</span>
                  </td>
                </tr>
                <tr *ngIf="depenses.length == 0">
                  <td></td>
                  <td></td>
                  <td>Aucune ligne trouvé</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <!--<tr>
                      <td colspan="1"></td>
                      <td colspan="2">RESTE</td>
                      <td>{{ (reglement?.rest)?.toFixed(3) }} {{refreObj?.devise}}</td>
                    </tr>-->
                <tr>
                  <td colspan="1"></td>
                  <td colspan="2" style="color: black !important;">Montant Règlement</td>
                  <td style="color: black !important;">{{ (reglement?.montant) }} {{refreObj?.devise}}</td>
                </tr>
              </tfoot>
            </table>
          </div>


          <!---=================== Statut n'est aps nouveau =========================-->
          <!-- table ligne -->
          <div id="regl" class="col-md-12 table-responsive"
            *ngIf="lignes?.length>0 && reglement?.statut?.code!='E0035'">
            <h5 class="font-weight-bold">Échéance</h5>
            <table class="table table-hover mb-4" border="0" cellspacing="0" cellpadding="0">
              <thead class="bg-gray-300">
                <tr>
                  <th class="col-1">#</th>
                  <th class="col-3" style='text-align: center;'>Bien</th>
                  <th class="col-3" style='text-align: center;'>Description</th>
                  <th class="col-2" style='text-align: center;' *ngIf="reglement?.statut?.code!='E0035'">Montant Non
                    Payé</th>
                  <th class="col-2 " style='text-align: center;' *ngIf="reglement?.statut?.code!='E0035'">Montant Payer
                  </th>
                  <th class="col-1" style='text-align: center;'>Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lig of lignes ; let i=index">
                  <td scope="row no" style="cursor: pointer;text-align: center">{{i+1}}</td>
                  <td style='text-align: center;'>{{lig?.appartement?.produit }} / {{lig?.appartement?.intitule }}</td>
                  <td style='text-align: center;'>
                    <span *ngIf="lig?.sourceFrais?.intitule">{{lig?.sourceFrais?.intitule}}</span>
                    <span *ngIf="!lig?.sourceFrais?.intitule">-</span>
                  </td>
                  <td style='text-align: center;' class="font-weight-500 text-primary"
                    *ngIf="reglement?.statut?.code!='E0035'">
                    <span *ngIf="lig?.sourceFrais?.montant"> {{ lig?.sourceFrais?.montant }}</span>
                    <span *ngIf="!lig?.sourceFrais?.montant">-</span>

                  </td>
                  <td style='text-align: center;' class="font-weight-500 text-primary"
                    *ngIf="reglement?.statut?.code!='E0035'">
                    <span *ngIf="lig?.sourceFrais?.payed">{{ lig?.sourceFrais?.payed }} </span>
                    <span *ngIf="!lig?.sourceFrais?.payed">{{ lig?.montant }} </span>
                  </td>
                  <td style='text-align: center;'>

                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0028'"
                      class="badge badge-outline-success p-1">{{lig?.sourceFrais?.statut?.label}}</span>
                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0030'"
                      class="badge badge-outline-danger p-1 ">{{lig?.sourceFrais?.statut?.label}}</span>
                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0029'"
                      class="badge badge-outline-warning p-1 ">{{lig?.sourceFrais?.statut?.label}}</span>
                  </td>
                </tr>
                <tr *ngIf="lignes.length == 0">
                  <td></td>
                  <td></td>
                  <td>Aucune ligne trouvé</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <!--<tr>
                      <td colspan="2"></td>
                      <td colspan="3">RESTE</td>
                      <td>{{ (reglement?.rest)?.toFixed(3) }} {{refreObj?.devise}}</td>
                    </tr>-->
                <tr>
                  <td colspan="2"></td>
                  <td colspan="3" style="color: black !important;">Montant Règlement</td>
                  <td style="color: black !important;">{{ (reglement?.montant) }} {{refreObj?.devise}}</td>
                </tr>
              </tfoot>
            </table>
          </div>


          <!-- table depense -->
          <div id="regl2" class="col-md-12 table-responsive"
            *ngIf="depenses?.length>0 && reglement?.statut?.code!='E0035'">
            <h5 class="font-weight-bold">Dépense</h5>
            <table class="table table-hover mb-4" border="0" cellspacing="0" cellpadding="0">
              <thead class="bg-gray-300">
                <tr>
                  <th class="col-1">#</th>
                  <th class="col-3" style='text-align: center;'>Bien</th>
                  <th class="col-3" style='text-align: center;'>Description</th>
                  <th class="col-2" style='text-align: center;'>Montant Non Payé</th>
                  <th class="col-2" style='text-align: center;'>Montant Payer</th>
                  <th class="col-1" style='text-align: center;'>Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lig of depenses; let i=index">
                  <td scope="row no" style="cursor: pointer;text-align: center">{{i+1}}</td>
                  <td style='text-align: center;'>{{lig?.appartement?.produit }} / {{lig.appartement.intitule }}</td>
                  <td style='text-align: center;'>
                    <span *ngIf="lig?.sourceFrais?.intitule">{{lig?.sourceFrais?.intitule}} :
                      {{lig?.sourceFrais?.reference}}</span>
                    <span *ngIf="!lig?.sourceFrais?.intitule">-</span>
                  </td>

                  <td style='text-align: center;' class="font-weight-500 text-primary">
                    <span *ngIf="lig?.sourceFrais?.montant"> {{ lig?.sourceFrais?.montant }}</span>
                    <span *ngIf="!lig?.sourceFrais?.montant">-</span>

                  </td>
                  <td style='text-align: center;' class="font-weight-500 text-primary">
                    <span *ngIf="lig?.sourceFrais?.payed">{{ lig?.sourceFrais?.payed }} </span>
                    <span *ngIf="!lig?.sourceFrais?.payed">{{ lig?.montant }} </span>
                  </td>
                  <td style='text-align: center;'>

                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0028'"
                      class="badge badge-outline-success p-1">{{lig?.sourceFrais?.statut?.label}}</span>
                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0030'"
                      class="badge badge-outline-danger p-1 ">{{lig?.sourceFrais?.statut?.label}}</span>
                    <span *ngIf="lig?.sourceFrais?.statut?.code==='E0029'"
                      class="badge badge-outline-warning p-1 ">{{lig?.sourceFrais?.statut?.label}}</span>
                  </td>
                </tr>
                <tr *ngIf="depenses.length == 0">
                  <td></td>
                  <td></td>
                  <td>Aucune ligne trouvé</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tfoot>
                <!--<tr>
                      <td colspan="2"></td>
                      <td colspan="3">RESTE</td>
                      <td>{{ (reglement?.rest)?.toFixed(3) }} {{refreObj?.devise}}</td>
                    </tr>-->
                <tr>
                  <td colspan="2"></td>
                  <td colspan="3" style="color: black !important;">Montant Règlement</td>
                  <td style="color: black !important;">{{ (reglement?.montant) }} {{refreObj?.devise}}</td>
                </tr>
              </tfoot>
            </table>
          </div>


        </div>

      </div>



    </div>
  </div>
</div>
