<!--<ng-template #modalLong let-modal>-->
<!--<div class="modal-dialog modal-lg" >-->
   <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Modifier un compteur</h4>
    </div>
    <form (ngSubmit)="submit()" [formGroup]="formBasic" class=" col-md-12">
        <div class="modal-body">
            <div>
                <p class=" border-bottom text-primary "> Informations Bien <small class="text-muted">(Veuillez choisir
                        une résidence ou un bloc )</small></p>
                <div class=" row">
                    <div class="col-6 form-group mb-4">
                        <label class=" col-form-label ">Résidence *:</label>
                        <div class="col-sm-12 pl-0">
                            <ng-select [clearable]="true" [items]="residences" (change)="OnchangeResidence($event)"
                                formControlName="residence" bindLabel="label" placeholder="Choisir une résidence"
                                bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>

                    <div class="col-6 form-group  mb-4">
                        <label class="col-form-label ">Bloc:</label>
                        <div class="col-sm-12 pl-0">
                            <ng-select [clearable]="true" [items]="blocs" formControlName="bloc" bindLabel="label" 
                                placeholder="Choisir un bloc" bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
                <p class=" border-bottom text-primary "> Informations Compteur <small class="text-muted">(Veuillez
                        choisir le type et saisir le numèro )</small></p>
                <div class=" row">
                    <div class="col-6 form-group  mb-4">
                        <label class="col-form-label ">Type *:</label>
                        <div class="col-sm-12 pl-0">
                            <ng-select [clearable]="true" [items]="types" formControlName="type" bindLabel="label"
                                placeholder="Choisir un type" bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-md-6 form-group mb-4">
                        <label class=" col-form-label">Numéro *:</label>
                        <div class="col-sm-12 pl-0">
                            <input class="form-control w-100" formControlName="numero" placeholder="ex: ST001245300"
                                type="text"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.numero.errors  || (formBasic.controls.numero.errors  && formBasic.get('numero').touched )}">

                        </div>
                        <div class="invalid-feedback col-12 "
                            *ngIf="submitted &&  formBasic.controls.numero.errors || (formBasic.controls.numero.errors  && formBasic.get('numero').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-sm-12 form-group mb-4 radio-cast">
                        <label class="col-sm-3">Type payement *: </label>
                        <div class="col-sm-9 pr-0 radio-cast" >
                            <div class="col-sm-5" >
                                <label class="radio radio-outline-primary">
                                    <input type="radio" [value]="1" formControlName="typePayement" >
                                    <span>Charger syndic</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <label class="radio radio-outline-primary">
                                    <input type="radio" [value]="2" formControlName="typePayement">
                                    <span>Répartition par propriétaire</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary"  type="submit" >Enregistrer </button>
            <button class="btn btn-outline-dark " type="button" (click)="onClose()"  >Annuler</button>
        </div>
    </form>
   </div>
<!--</div>-->
<!--</ng-template>-->
