<ngx-spinner bdColor="rgba(255,255,255,0.7)"
	template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
	[fullScreen]="true">

	<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px"> Chargement en cours ...
	</h4>
</ngx-spinner>
<div class="breadcrumb">
	<h1>Actualités</h1>
	<ul (click)="onClickCrumb($event)">
		<li class="shortCutbreadcrumbLarge">Dashboard & Statistique</li>
		<li class="shortCutbreadcrumbSmall" style="cursor: pointer;">Dashboard</li>
		<li class="shortCutbreadcrumbSmall" style="cursor: pointer;">Statistique</li>
	</ul>
</div>
<div class="separator-breadcrumb border-top"></div>


<!-- widget first row -->

<div class="row stats mb-3">

	<div class="col">
		<div class="statContainer blue shadow-sm">
			<div class="title text-center">REUNION</div>
			<div class="d-flex">
				<div class="flex-fill text-center iconFlexDiv mb-2" style="min-width: 51px;">
					<img class="icon-picture" src="assets/images/dash_retard.png" alt="">
				</div>
				<div class="p-2 flex-fill text-left status">MINUTEUR <br>
					<div class="timer mb-1" style="font-weight: 500;">
						<span id="days"> {{daysToDday}} </span>J
						<span id="hours"> {{hoursToDday}} </span>Hrs
						<span id="minutes"> {{minutesToDday}} </span>Min

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="statContainer yellow shadow-sm">
			<div class="title text-center">MESSAGES</div>
			<div class="d-flex" routerLink="/communite/inbox" style="cursor: pointer">
				<div class="flex-fill text-center iconFlexDiv">
					<img class="icon-picture" src="assets/images/dash_messagerie.png" alt="">
				</div>
				<div class="p-2 flex-fill text-left status">NOUVEAUX <br>
					<h5 class="font-weight-bold status fontSizeNbrWidget">{{statistiqueAdminModel.NbrMessageNnLus}}
					</h5>
				</div>
			</div>
		</div>
	</div>


	<div class="col">
		<div class="statContainer pink shadow-sm">
			<div class="title text-center">RECLAMATIONS</div>
			<div class="d-flex" routerLink="/communite/reclamations" style="cursor: pointer">
				<div class="flex-fill text-center iconFlexDiv">
					<img class="icon-picture" src="assets/images/dash_reclamation.png" alt="">

				</div>
				<div class="p-2 flex-fill text-left status">REACTIONS <br>
					<h5 class="font-weight-bold status fontSizeNbrWidget">{{statistiqueAdminModel.ReactionReclamation}}
					</h5>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="statContainer fountainBlue shadow-sm">
			<div class="title text-center">FRAIS </div>
			<div class="d-flex" routerLink="/syndic/appartements" style="cursor: pointer">
				<div class="flex-fill text-center iconFlexDiv">
					<img class="icon-picture" src="assets/images/dash_solde.png" alt="">
				</div>
				<div class="p-2 flex-fill text-left status"> SYNDIC<br>
					<h5 class="font-weight-bold status fontSizeNbrWidget">{{statistiqueAdminModel.PayfraisSyndic}}  <small style="font-size: medium!important;font-weight: 500;">{{infoPref?.devise}}</small> </h5>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="statContainer purple shadow-sm">
			<div class="title text-center">FRAIS</div>
			<div class="d-flex"  routerLink="/syndic/appartements" style="cursor: pointer">
				<div class="flex-fill text-center iconFlexDiv">
					<img class="icon-picture" src="assets/images/totale_impayé.png" alt="">

				</div>
				<div class="p-2 flex-fill text-left status">AUTRES <br>
					<h5 class="font-weight-bold status fontSizeNbrWidget">{{statistiqueAdminModel.TotalAutreFrais}}  <small style="font-size: medium!important;font-weight: 500;">{{infoPref?.devise}}</small> </h5>
				</div>
			</div>
		</div>
	</div>




</div>


<!--  row -->
<div class="row">
	<!-- left side -->
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12" id="leftSide" #leftSide
		[hidden]="(!viewDashboardStat && viewMobile)">
		<div class="row">

			<!--Calendrier-->
			<div class="col-lg-12 col-md-12 mb-4">
				<div class="card">
					<div class="card-body" style="padding: 5px;">
						<full-calendar class="mt-2" [options]="calendarOptions"></full-calendar>
						<div class="mt-4 mb-4">
							<p class="ml-2">
								<span class="fa fa-circle" style="color: #4caf50;font-size: 12px;">
								</span>
								&nbsp; Réunions
							</p>


						</div>

					</div>
				</div>
			</div>


			<!-- liste des co-prop-->
			<div class="col-lg-12 col-md-12 mb-4">
				<div class="card  mb-4">
					<div class="card-body">
						<div class="card-title2 mb-4">Liste des co-proprietaires </div>
						<h4 *ngIf="statistiqueAdminModel?.CoopropToActive.length==0">Aucune donnée disponible !</h4>
						<ul class="mailbox list-style-none">
							<li>
								<div class="message-center chat-scroll ps-container ps-theme-default">
									<!-- coorop -->
									<div *ngFor="let coorop of statistiqueAdminModel?.CoopropToActive ;let i=index"
										[style.background-color]="i%2==0 ? '#EFEFEF' : ''"
										style="border-radius: 8px;padding-left: 5px;">
										<a class="message-item">


											<div class="profileImagecoProp" *ngIf="coorop.photo==null "
												style="font-size: 16px;font-weight: 500;">
												{{coorop?.nomComplet?.charAt(0)}}{{coorop?.nomComplet?.charAt(1)}}</div>
											<img *ngIf="coorop.photo!=null" [src]="coorop.photo" alt="coorop"
												class="profileImagecoProp" style="padding-top: 0px !important;">

											<div class="mail-contnet">
												<h4>{{coorop?.nomComplet}}</h4>
												<span class="text-muted" style="font-size: 12px;">Affecté à :
													{{coorop?.parent?.nomComplet}}</span>
											</div>

											<span class="fa fa-power-off successMaterial mr-1" title="Activer"
												(click)="confirmerActiveCoProp(coorop,modalBasicCoprop)"></span>

										</a>
									</div>

									<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
										<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
									</div>
									<div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
										<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>


				</div>
			</div>

		</div>
	</div>

	<!-- actualite middle -->
	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 " id="middleSide" #middleSide
		*ngIf="(!viewDashboardStat && viewMobile) || !viewMobile">

		<!-- feeds -->
		<div class="row px-2" #containerFeeds>
			<!--******************************************************** publicité not for root ***************************************************-->
			<div class="col-12  mb-4  container-carou right" data-ribbon="Publicité" (mouseover)="removeicon==true"
			 id="carouselpub" *ngIf="!root && publiciteList.length>0">
				<span class="nav-icon fa fa-remove removepub" (click)="hiddenPub()"></span>
				<ngb-carousel #carousel1 [interval]="4000"  [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus">
					<ng-template ngbSlide *ngFor="let pub of publiciteList">
						<div class="card">
							<!-- <span class="pub">Publicité</span> -->

							<div *ngIf="pub.srcList.length>0">
								<div class="col-12 px-2 textpublicite">
									<p *ngIf="pub?.text" class="textpub" [innerHtml]="pub?.text"></p>
								</div>
								<img [src]="pub.srcList[0].small" class="radiusimg" height="300px" width="100%">
							</div>
							<div *ngIf="pub.srcList.length==0">
								<iframe width="100%" height="300px" class="radiusimg"
									[href]="sanitizer.bypassSecurityTrustResourceUrl(pub.video)"
									[src]="sanitizer.bypassSecurityTrustResourceUrl(pub.video)"
									frameborder="0"></iframe>
							</div>
						</div>

					</ng-template>
				</ngb-carousel>
			</div>
			<!--******************************************************** end publicité not for root ***************************************************-->

			<!--actualité-->
			<div class="col-lg-12 px-0" *ngFor="let actualite of actualitesList;let j=index">
				<div class="cardbox shadow-lg bg-white borderRadiusCard">
					<div class="cardbox-heading">
						<!--/ dropdown -->
						<div class="media m-0">
							<div class="d-flex mr-3">
								<a>
									<div class="profileImage" *ngIf="actualite.cbcreateur.photo==null">
										{{actualite.logoText}}</div>
									<img *ngIf="actualite.cbcreateur.photo!=null" class="img-fluid rounded-circle"
										[src]=actualite.cbcreateur.photo alt="User">
								</a>
							</div>
							<div class="media-body">
								<p class="m-0" style="color:#3F4254 !important;font-weight: 600 !important;">
									{{actualite.cbcreateur.nomComplet}}</p>
								<span class="fa fa-globe" style="font-size: 15px;color: #2196f3;" title="public"
									*ngIf="actualite.tous==1"></span>
								<span class="fa fa-lock" id="icon{{j}}" (mouseover)="showContact[j]=true"
									(mouseout)="showContact[j]=false" style="font-size: 15px;color: #2196f3;"
									*ngIf="actualite.tous==2"
									(click)="openModalpublication(actualite.affecterA,modalBasicContact)"></span>
								<span class="fa fa-users" style="font-size: 13px;color: #2196f3;" title="Interne"
									*ngIf="actualite.tous==3"></span>
								<small><span><i class="icon ion-md-time"></i> Le
										{{actualite.cbmodification}}</span></small>
							</div>



						</div>

						<!--/ media -->
					</div>
					<!--/ cardbox-heading -->

					<!-- affichage actualite-->
					<div class="cardbox-item mx-3">
						<p style="margin-left: 5px; margin-right: 5px;" [innerHtml]="actualite?.text"
							*ngIf="actualite?.text!='undefined'"></p>

						<!--ngx-gallery TRUE-->
						<div class="gallery-wrapper"
							*ngIf="actualite?.srcList?.length>0 && actualite.publicite==false ">
							<ngx-gallery [options]="galleryOptions" [images]="actualite?.srcList" class="ngx-gallery">
							</ngx-gallery>
						</div>
						<div class="video">
							<video style="border-radius: 10px 10px 10px 10px ;" [src]="actualite?.video"
								id="videoeditor" *ngIf="actualite?.video" height="300" width="100%" controls></video>
						</div>
						<!-- Attachement -->
						<div class="row" style="margin-left: 0px;margin-right: 0px;"
							*ngIf="actualite.attachement!='' && actualite.attachement!=undefined">
							<div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 attachement">
								<a style="cursor: pointer;text-align: center;" [href]="actualite.attachement"
									target="_blank">
									<span class="fa fa-file-text" aria-hidden="true"
										style="font-size: 25px;vertical-align: middle;"
										*ngIf="actualite.extensionAttachement=='xlsx' || actualite.extensionAttachement=='xls' || actualite.extensionAttachement=='csv' || actualite.extensionAttachement=='csv' || actualite.extensionAttachement=='docx' || actualite.extensionAttachement=='doc'"></span>
									<span class="fa fa-file-pdf-o" aria-hidden="true"
										style="font-size: 25px;vertical-align: middle;"
										*ngIf="actualite.extensionAttachement=='pdf'"></span>
									<span class="fa fa-file-image-o" aria-hidden="true"
										style="font-size: 25px;vertical-align: middle;"
										*ngIf="actualite.extensionAttachement=='png' || actualite.extensionAttachement=='jpg' || actualite.extensionAttachement=='jpeg'  || actualite.extensionAttachement=='bmp'"></span>

									&nbsp;Attachement
								</a>

							</div>
						</div>
						<!-- pop Qui fait j'aime -->
						<ng-template #modalBasicLike let-modal>
							<div class="modal-header">
								<h4 class="modal-title" id="modal-basic-title-like" style="font-weight: 500;">
									Personnes ayant réagi</h4>
							</div>
							<div>
								<div class="modal-body">
									<div class="row mx-0">
										<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
											*ngFor="let like of likePublication">
											<div class="row mx-0">
												<div class="iconContact">
													<i class="nav-icon icon-size i-Boy"></i>

												</div>
												<div class="mt-2">
													<h4>
														{{like?.NomComplet}}
													</h4>

												</div>
											</div>

										</div>
									</div>

								</div>
								<div class="modal-footer">
									<button class="btn btn-outline-dark " type="button"
										(click)="oncloseDialogPrivacy()">Fermer</button>
								</div>

							</div>

						</ng-template>

					</div>
					<!--/ cardbox-item -->
					<div class="cardbox-base jaimecommente mr-3">
						<ul *ngIf="actualite?.commenter==true" class="float-right"
							(click)="openComment(actualite.cbmarq)" style="cursor: pointer;">
							<li><a><em style="margin-right: 1rem;">{{actualite.NBcomment}}</em></a></li>
							<li><a><em>Commentaires</em></a></li>
						</ul>
						<ul class="float-right" *ngIf="actualite?.commenter==false">
							<li><a><em>Commentaire désactivé</em></a></li>
						</ul>
						<ul class="uljaime" (mouseover)="showlistjaime[j]=true" (mouseout)="showlistjaime[j]=false"
							(click)="openModalLike(actualite.reactions,modalBasicLike)">
							<li>
								<img style="border: 0px;height: 20px;" src="../../../assets/images/icons/nbrFbLike.png"
									alt="Like">
							</li>
							<li><a><em class="ml-3">{{actualite.NBaime}}</em></a></li>
							<div class="listjaime" *ngIf="showlistjaime[j] && actualite?.reactions?.length>0">
								<div *ngFor="let liked of actualite.reactions.slice(0,10);let k=index">
									<span>{{liked?.NomComplet}}<span *ngIf="k!=actualite.reactions.length-1"> ,&nbsp;
											<span
												*ngIf="actualite.reactions.length>10 && k==actualite.reactions?.slice(0, 10).length-1">
												et {{actualite.reactions.length-10}} autres...
											</span>
										</span>
									</span>
								</div>

							</div>
						</ul>
						<!--  -->


					</div>

					<!--/ cardbox-base -->
					<div class="cardbox-base">

						<ul class="float-right">
							<li *ngIf="actualite?.commenter==true"><span
									class="fa fa-comment-o mr-7 commentJaime">&nbsp;Commenter</span></li>
						</ul>
						<ul>
							<li>
								<span *ngIf="actualite.aime=='2' " class="fa fa-thumbs-up ml-7 commentJaime"
									style="color: #5890ff !important" (click)="likePost(actualite)">&nbsp;J'aime</span>
								<span *ngIf="actualite.aime=='3'" class="fa fa-thumbs-o-up ml-7 commentJaime"
									(click)="likePost(actualite)">&nbsp;J'aime</span>
							</li>
						</ul>
					</div>
					<!-- action commentaire -->
					<div class="cardbox-comments" *ngIf="actualite?.commenter==true">
						<div class="row">
							<div class="col-12">
								<div class="input-group mb-3 ">
									<span class="comment-avatar float-left">
										<a>
											<div class="profileImageCommentaire" *ngIf="proprietaire.photo==null">
												{{proprietaire.logoText}}</div>
											<img *ngIf="proprietaire.photo!=null" [src]="imgSrc" alt="proprietaire"
												 class="rounded-circle">
										</a>
									</span>
									<div class="input-wrapper ml-lg-3 ml-md-1 ml-sm-0 ml-lg-xs-0">
										<textarea name="" placeholder="Votre commentaire" class="form-control textare"
												  [(ngModel)]="currentCommentPost[j]" style="border-radius: 10px;margin: 3px 10px 0px 21px;" rows="1">
										</textarea>
										<span class="fa fa-paper-plane iconCommentaire"
											[class.disabled]="currentCommentPost[j] =='' || currentCommentPost[j] == undefined"
											(click)="postComment(actualite,j,currentCommentPost[j])"></span>
									</div>

								</div>
								<hr style="margin: 11px;padding:0px;width:98%;">
							</div>
						</div>
					</div>
					<!-- affichage commentaires -->
					<div class="cardbox-comments" *ngIf="isCommentOpened && actualite.cbmarq == actualiteIdCourant">
						<div class="row" *ngFor="let comm of commentairesList ; let test = index">
							<div class="col-12">
								<div class="media m-0">
									<div class="d-flex mr-3">
										<a *ngIf="comm.cbcreateur.photo!=null"><img class="img-fluid rounded-circle"
																					[src]=comm.cbcreateur.photo alt="User"></a>
										<div class="profileImageCommentaire" *ngIf="comm.cbcreateur.photo==null">
											{{comm.logoText}}</div>
									</div>
									<div class="media-body" style="text-align: left;">
										<span *ngIf="comm.cbcreateur.id==id_current_user || Admin"
											  class="fa fa-trash-o deleteComment" style="cursor: pointer;"
											  title="Supprimer commentaire" aria-hidden="true"
											  (click)="confirmDeleteComment(actualite,comm)"></span>
										<p class="m-0">{{comm.cbcreateur.name}}</p>
										<small><span><i class="icon ion-md-time"></i> Le
												{{comm.cbcreation}}</span></small>
										<p class="form-control"
											style="padding: 0px;border:0px;color: #495057;display: inline-block;">
											{{comm.commentaire}}</p>
										<hr style="padding: 0px;margin: 0px;width: 98%;">
									</div>

								</div>
								<!--/ media -->
							</div>
						</div>
					</div>

				</div>
				<!--/ cardbox -->
				<!--publicite  cardbox-heading -->

				<!--/ row -->
			</div>
			<!--********************************************************publicité root*******************************************************************************************************************-->
			<div class="col-lg-12 " *ngFor="let actualite of publiciteList;let m=index">
				<div class="cardbox shadow-lg bg-white borderRadiusCard">
					<div class="cardbox-heading">
						<!-- DELETE POST-->
						<div class="dropdown float-right" *ngIf="actualite.cbcreateur.id==id_current_user || root">

							<span class="fa fa-trash-o" style="color: #2196f3;cursor: pointer;"
								*ngIf="actualite.publier" title="Supprimer"
								(click)="confirmUpdateStatutActualite(actualite,true)"></span>&nbsp;
							<span class="fa fa-undo" style="color: #2196f3;cursor: pointer;" *ngIf="!actualite.publier"
								title="Restaurer" (click)="confirmUpdateStatutActualite(actualite,false)"></span>&nbsp;
							<span class="fa fa-trash-o" style="color: rgb(240, 56, 56);cursor: pointer;"
								*ngIf="!actualite.publier" title="Supprimer définitivement"
								(click)="confirmDeleteDefinetlyPost(actualite)"></span>&nbsp;
						</div>
						<!--/ dropdown -->
						<div class="media m-0">
							<div class="d-flex mr-3">
								<a>
									<div class="profileImage" *ngIf="actualite.cbcreateur.photo==null">
										{{actualite.logoText}}</div>
									<img *ngIf="actualite.cbcreateur.photo!=null" class="img-fluid rounded-circle"
										[src]=actualite.cbcreateur.photo alt="User">
								</a>
							</div>
							<div class="media-body">
								<p class="m-0" style="color:#3F4254 !important;font-weight: 600 !important;">
									{{actualite.cbcreateur.nomComplet}}</p>
								<span class="fa fa-globe" style="font-size: 15px;color: #2196f3;" title="public"></span>

								<small><span><i class="icon ion-md-time"></i> Le
										{{actualite.cbmodification}}</span></small>
							</div>
						</div>

						<!--/ media -->
					</div>
					<!--/ cardbox-heading -->

					<!-- affichage actualite-->
					<div class="cardbox-item mx-3 pb-3">
						<p style="margin-left: 5px; margin-right: 5px;" [innerHtml]="actualite?.text"
							*ngIf="actualite?.text!='undefined'"></p>
						<!--ngx-gallery TRUE-->
						<div class="gallery-wrapper"
							*ngIf="actualite?.srcList?.length>0 && actualite?.srcList?.length>1 ">
							<ngx-gallery [options]="galleryOptions" [images]="actualite?.srcList" class="ngx-gallery">
							</ngx-gallery>
						</div>
						<div *ngIf="actualite?.srcList?.length==1 ">
							<!-- <img class="imgPublicite" [src]="actualite.srcList[0].small" height="300" width="100%" /> -->
						</div>
						<div class="video">
							<video style="border-radius: 10px 10px 10px 10px ;" [src]="actualite?.video"
								id="videoeditor" *ngIf="actualite?.video" height="300" width="100%" controls></video>
						</div>

					</div>

				</div>
				<!--/ cardbox -->
				<!--publicite  cardbox-heading -->

				<!--/ row -->
			</div>
			<!--********************************************************publicité root*******************************************************************************************************************-->
			<!-- btn naviagte scroll -->
			<div class="col-lg-12">
				<span class="fa fa-chevron-circle-up scroll-to-top" [ngClass]="{'show-scroll': showScroll}"
					(click)="scrollToTop()" id="myBtn" style="cursor: pointer;font-size: 40px;float: right;"></span>
			</div>
		</div>
	</div>

	<!-- right side -->
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mobileScreenView" id="rightSide" #rightSide
		[hidden]="(!viewDashboardStat && viewMobile)">
		<div class="row">

			<!-- Distribution recettes par produit -->
			<div class="col-lg-12 col-md-12">

				<div class="card mb-4">
					<div class="card-body">
						<div class="card-title2 mb-4">
							<span style="font-size: 11px;color: grey;float: right;">{{currentDate | date : 'MMM , y'
								}}</span>
							Recettes par bien
						</div>


						<!-- liste produit -->
						<div class="row mb-4">
							<div class="col-md-12">
								<ng-select [items]="listProduitRecette" [clearable]="false" ngDefaultControl
									[multiple]="false" [(ngModel)]="selectedProduit" bindLabel="label" bindValue="value"
									placeholder="Choisir un produit" (change)="onChangeProduit($event)">
								</ng-select>
							</div>
						</div>

						<!-- liste recette par produit-->
						<div id="mainRecetteStat" style="height:300px; width: 100%;"></div>
					</div>
				</div>
			</div>

			<!-- TimeLine -->
			<div class="col-lg-12 col-md-12 mb-4">
				<div class="card">
					<div class="card-body" style="height: 422px;overflow-y: scroll;">

						<div class="card-title2 mb-4">
							<span style="font-size: 11px;color: grey;float: right;"></span>
							<!--{{currentDate | date : 'dd MMM , y' }}-->
							Documents reçus
						</div>


						<!-- debut timeline -->
						<div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column"
							*ngIf="statistiqueAdminModel?.listeDocuments!=null && statistiqueAdminModel?.listeDocuments?.length>0">
							<div class="vertical-timeline-item vertical-timeline-element"
								*ngFor="let doc of statistiqueAdminModel?.listeDocuments">
								<div> <span class="vertical-timeline-element-icon bounce-in">
										<span class="fa fa-circle primaryMaterial circleTimeLine"
											aria-hidden="true"></span>

									</span>
									<div class="vertical-timeline-element-content bounce-in">
										<h4 class="timeline-title" style="cursor: pointer;"
											(click)="actualiteNavigateLink(doc)">


											<span>Document pour</span>


											{{doc?.bien.intitule}}
										</h4>
										<p>{{doc?.intitule}}</p>
										<span class="timeActualite">{{doc?.cbcreation.date | date : 'h:mm a'}}</span>
									</div>
								</div>
							</div>

						</div>

						<div
							*ngIf="statistiqueAdminModel?.listeDocuments==null || statistiqueAdminModel?.listeDocuments?.length==0">
							<p style="text-align: center;color: grey;">
								<span class="fa fa-exclamation-circle" aria-hidden="true">
								</span>
								Aucune donnée diponible
							</p>
						</div>



						<!-- fin timeline-->

					</div>
				</div>
			</div>





		</div>

	</div>


	<div class="col-lg-12">
		<span class="fa fa-chevron-circle-up scroll-to-top" [ngClass]="{'show-scroll': showScroll}"
			(click)="scrollToTop()" id="myBtn" style="cursor: pointer;font-size: 40px;float: right;"></span>
	</div>

</div>



<ng-template #modalBasicCoprop let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title" style="font-weight: 500;">Affectation bien(s) à co-propreietaire
		</h4>
		<!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>-->
	</div>
	<div class="col-md-12">

		<div class="modal-body">
			<div class="row">
				<div class="col-sm-12 mb-4">

					<p>Veuillez affecté un/des bien(s) à <span
							style="font-weight: 500;">{{selectedCoprop?.nomComplet}}</span> </p>

				</div>
				<!--  Appartement: -->
				<div class="col-sm-12 mb-4">
					<ng-select [items]="listBienProp" [multiple]="true" name="appartement"
						[(ngModel)]="selectedBienProp" bindLabel="label" ngDefaultControl placeholder="Choisir un bien">
					</ng-select>
				</div>
			</div>


		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" (click)="activerCoprop()">Enregistrer</button>
			<button class="btn btn-outline-dark " type="button" (click)="oncloseDialogCoprop()">Annuler</button>
		</div>


	</div>
</ng-template>
