<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px"> Chargement en cours ...
    </h4>
</ngx-spinner>
<div class="row mb-4">
    <div class="col-md-12 mb-4">


        <div class="row mb-2 mt-2">

            <div class="col-lg col-md col-sm col-xs pr-lg-0 pr-md-0 pr-sm-2 mb-2">
                <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto ">

                <button class="btn  btn-outline-primary  mb-3 alignRight" title="Recherche Avancé"
                    style="float: right;margin-left: 10px;" (click)="rechAvance=!rechAvance">
                    <span class="fa fa-database" style="font-size: 15px;"></span>
                </button>

                <button class="btn btn-primary mb-sm-0  mb-2 alignRight" *ngIf="can_add?.permission"
                    (click)="ajouterGammeOperatoire()">
                    Ajouter
                </button>
            </div>

        </div>


        <!-- recherche plus options-->
        <form [formGroup]="formGroupSearch" (ngSubmit)="onSubmitSearch()" *ngIf="rechAvance">
            <div class="modal-body" style="padding-left: 0px;padding-right: 0 px;">
                <div class="row">


                    <!-- produit -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 mb-3" style="margin-top: auto;">
                        <label for="">Produit</label>
                        <ng-select [clearable]="false" [items]="residences" (change)="OnChangeResidence($event)"
                            formControlName="produit" name="produit" bindLabel="label" bindValue="value"
                            placeholder="Veuillez choisir un produit">
                        </ng-select>
                    </div>

                    <!-- emplacement -->
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12 mb-3" style="margin-top: auto;">
                        <label for="">Emplacement</label>
                        <ng-select [items]="emplacements" formControlName="emplacement" name="emplacement"
                            bindLabel="label" placeholder="Veuillez choisir un emplacement" bindValue="value"
                            (change)="OnChangeEmplacement($event)" (clear)="onRemoveEmplacement($event)"
                            groupBy="parent" [multiple]="false" [hideSelected]="false" [closeOnSelect]="true"
                            [selectableGroup]="true">
                            <!-- [compareWith]="compareParent"  [(ngModel)]="selectedEmplacementId"-->
                            <ng-template ng-optgroup-tmp let-item="item">
                                {{item.parent || 'Unnamed group'}}
                            </ng-template>
                        </ng-select>



                    </div>

                    <!-- equipement -->
                    <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-12 mb-3" style="margin-top: auto;">
                        <label for="">Equipement</label>
                        <ng-select [clearable]="false" [items]="equipementList" formControlName="equipement"
                            name="equipement" bindLabel="label" bindValue="value"
                            placeholder="Veuillez choisir un équipement">
                        </ng-select>
                    </div>


                    <div class="col-xl-2 col-lg-3 col-md-2 col-sm-6 col-12 mb-3" style="margin-top: auto;">
                        <button type="submit" id="interogbtn" class="btn btn-block btn-outline-primary"
                            [disabled]="formGroupSearch.invalid">
                            <span class="fa fa-database"></span> Recherche
                        </button>
                    </div>




                </div>
            </div>
        </form>


        <div class="mat-elevation-z8" > <!--*ngIf="can_liste?.permission"-->
            <div class="table-responsive">
                <mat-table class="table table-striped"  [dataSource]="dataSource" matSort >
                   

                    <!-- intitule Column -->
                    <ng-container matColumnDef="intitule">
                        <mat-header-cell *matHeaderCellDef>Intitulé</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Intitulé:</span>
                            {{ row?.intitule }}
                        </mat-cell>
                    </ng-container>
                    <!-- equipement Column -->
                    <ng-container matColumnDef="equipement">
                        <mat-header-cell *matHeaderCellDef>Equipement</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Equipement:</span>
                            {{ row?.equipement?.intitule}}
                        </mat-cell>
                    </ng-container>
                    <!-- produit -->
                    <ng-container matColumnDef="produit">
                        <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Produit:</span>
                            {{row.equipement?.produit?.intitule}}
                        </mat-cell>
                    </ng-container>
                    <!-- emplacement parent -->
                    <ng-container matColumnDef="parent">
                        <mat-header-cell *matHeaderCellDef>Emplacement parent</mat-header-cell>
                        <mat-cell  *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Emplacement parent:</span>
                            <span *ngIf="row.equipement?.emplacement?.intitule">
                                {{ row.equipement?.emplacement?.parent?.intitule}}</span>
                        </mat-cell>
                    </ng-container>
                    <!-- emplacement Column -->
                    <ng-container matColumnDef="emplacement">
                        <mat-header-cell *matHeaderCellDef>Emplacement</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Emplacement:</span>
                            <span *ngIf="row.equipement?.emplacement?.intitule">{{
                                row.equipement?.emplacement?.intitule}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef style="max-width: 150px;"
                            [hidden]="can_edit?.permission!=true && can_delete?.permission!=true">Action
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                            [hidden]="can_edit?.permission!=true && can_delete?.permission!=true"
                            style="max-width: 150px;">
                            <span class="mobile-label mr-2"> Action:</span>
                            <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1" *ngIf="can_edit?.permission"
                                title="Modifier" (click)="editLine(row.cbmarq)"></span>

                            <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>


                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">Aucune donnée trouvée
                        </td>
                    </tr>
                    <div *ngIf="dataSource?.data?.length === 0"></div>
                </mat-table>

                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
    </div>

</div>
