<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>

<div class="breadcrumb">
    <h1>Trésorerie</h1>
    <ul>
        <li><a routerLink="/syndic/reglements">Règlements</a></li>
        <li *ngIf="!modeEdit">Ajout</li>
        <li *ngIf="modeEdit">Modifier</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="alert alert-info" role="alert" style="color: #004085;background-color: #cce5ff;border-color: #b8daff;" *ngIf="isAlertVisible">
    <strong class="text-capitalize">{{alertModel.type}}!</strong>  {{alertModel.message}}

    <span class="fa fa-times" style="display: block;top: 0; right: 0;float: right;cursor: pointer;" (click)="closeAlert()"></span>
  </div>
<div class="row">

    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12 ">
        <div class="card mb-4">
            <div class="card-body">
                 <h3 class="facultatifStyle">
                     <span >Actions Facultatifs</span>
                 </h3>
                <hr style="margin-top: 2px;margin-bottom: 15px;">
                <div class="col-sm-12 form-group" *ngIf="avanceClient!=null">
                    <img _ngcontent-kpa-c407="" src="assets/images/solde.png" alt="" class="icon-picture m-3" style="margin: auto !important;display: block;">
                    <span style="text-align: center;text-align: center; display: block; font-weight: 600" *ngIf="avanceClient!=null">Avance : {{avanceClient}}</span>
                </div>


                <div class="row form-group mb-3" >


                   <div class="col-xl-8 col-lg-12 col-md-12 col-sm-11 col-11">
                        <!--<input type="checkbox"   (change)="onSelectAutrePerson()" [(ngModel)]="isCooproprietaire" checked data-toggle="toggle" style="float: right;margin-top: 3px;">-->
                        <!--&nbsp;-->
                        <label *ngIf="isCooproprietaire">Liste Proprietaires</label>
                        <label *ngIf="!isCooproprietaire">Liste Coopropriétaires</label>
                   </div>
                   <div class="col-xl-4 col-lg-12 col-md-12 col-sm-1 col-1">
                    <label class="toggle-switch">
                        <input type="checkbox" [(ngModel)]="isCooproprietaire" (change)="onSelectAutrePerson()">
                        <div class="slider"></div>
                    </label>
                </div>


                </div>


                <div class="row form-group mb-3" >
                    <!--<input type="checkbox"   (change)="onUseAdvance()" [(ngModel)]="useAdvance" checked data-toggle="toggle" style="float: right;margin-top: 3px;">-->

                   <div class="col-xl-8 col-lg-12 col-md-12 col-sm-11 col-11">
                    <label >Exploiter Avance</label>
                   </div>
                   <div class="col-xl-4 col-lg-12 col-md-12 col-sm-1 col-1">
                        <label class="toggle-switch">
                            <input type="checkbox" [(ngModel)]="useAdvance" (change)="onUseAdvance()">
                            <div class="slider"></div>
                        </label>
                    </div>



                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
        <div class="card mb-4">
            <div class="card-body">





                <form [formGroup]="formReglement" (ngSubmit)="onSubmit()" novalidate>
                    <ngb-tabset #tabset="ngbTabset" class="nav-fill">
                        <ngb-tab id="info" title="Informations Règlement">
                            <ng-template ngbTabContent>
                                <div class="tab-pane active" id="litaDados" role="tabpanel">
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-sm-6 form-group  mb-3">
                                                <label for="picker1">Date règlement </label>
                                                <div class="input-group">
                                                    <!-- (change)="datereglement($event)" -->
                                                    <input id="picker1" class="form-control" placeholder="yyyy-mm-dd"
                                                        name="dp" formControlName="date" type="date"
                                                        [ngModel]="currentDate | date:'yyyy-MM-dd'"
                                                        [ngClass]="{ 'is-invalid': submitted &&  formReglement.controls.date.errors || (formReglement.controls.date.errors  && formReglement.get('date').touched ) }">

                                                    <div class="invalid-feedback "
                                                        *ngIf="submitted &&  formReglement.controls.date.errors || (formReglement.controls.date.errors  && formReglement.get('date').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 form-group mb-3" *ngIf="isCooproprietaire">
                                                <label>Coopropriétaire</label>

                                                <ng-select [clearable]="true" [items]="listProp"
                                                    formControlName="proprietaire" bindLabel="nomComplet"
                                                    placeholder="Choisir un Coopropriétaire" bindValue="id"
                                                    (change)="onchangeProprietaire($event)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  formReglement.controls.proprietaire.errors || (formReglement.controls.proprietaire.errors  && formReglement.get('proprietaire').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  formReglement.controls.proprietaire.errors || (formReglement.controls.proprietaire.errors  && formReglement.get('proprietaire').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>

                                            <div class="col-sm-6 form-group  mb-3" *ngIf="!isCooproprietaire">
                                                <label>Proprietaire</label>

                                                <ng-select [clearable]="true" [items]="listProp"
                                                    formControlName="proprietaire" bindLabel="nomComplet"
                                                    placeholder="Choisir un proprietaire" bindValue="id"
                                                    (change)="onchangeProprietaire($event)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  formReglement.controls.proprietaire.errors || (formReglement.controls.proprietaire.errors  && formReglement.get('proprietaire').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  formReglement.controls.proprietaire.errors || (formReglement.controls.proprietaire.errors  && formReglement.get('proprietaire').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group  mb-4">
                                                <label>Montant Réglement </label>
                                                <input class="form-control" formControlName="montant"
                                                    placeholder="ex: 500" type="number" step="0.01"
                                                    (blur)="changeMontant($event.target.value)"
                                                    [ngClass]="{ 'is-invalid': submitted &&  formReglement.controls.montant.errors || (formReglement.controls.montant.errors  && formReglement.get('montant').touched )}">
                                                <div class="invalid-feedback col-12"
                                                    *ngIf="submitted &&  formReglement.controls.montant.errors || (formReglement.controls.montant.errors  && formReglement.get('montant').touched )">
                                                    <div *ngIf="formReglement.controls.montant.errors.required">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                    <div
                                                        *ngIf="submitted && formReglement.controls.montant.errors.min ">
                                                        Montant de réglement doit étre positive.
                                                    </div>
                                                    <div
                                                        *ngIf="contrainteMinAvance">
                                                        Le montant entrée doit être supérieur ou égale à l'avance.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 form-group  mb-4">
                                                <label>Mode Payement</label>
                                                <ng-select [items]="typesPayment" [clearable]="true"
                                                    formControlName="typePayement" (change)="changemodeRegl($event)"
                                                    placeholder="Choisir un mode de paiment" bindLabel="label"
                                                    bindValue="cbmarq"
                                                    [ngClass]="{ 'is-invalid': formReglement.get('typePayement').hasError('required') && formReglement.get('typePayement').touched}">

                                                </ng-select>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  formReglement.controls.typePayement.errors || (formReglement.controls.typePayement.errors  && formReglement.get('typePayement').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>


                                        </div>


                                        <div class="row mb-3"
                                            *ngIf="selection == 'E0034' || selection == 'E0033' || selection == 'E0071'">
                                            <div class="col-sm-6 form-group   ">
                                                <label class="">N° Réference </label>
                                                <input class="form-control w-100" formControlName="referenceCheque"
                                                    placeholder="ex: A098877" type="text"
                                                    [ngClass]="{'is-invalid':submitted &&  formReglement.controls.referenceCheque.errors || (formReglement.controls.referenceCheque.errors   && formReglement.get('referenceCheque').touched )}">
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  formReglement.controls.referenceCheque.errors || (formReglement.controls.referenceCheque.errors  && formReglement.get('referenceCheque').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>

                                            </div>
                                            <div class=" col-sm-6 form-group mb-3">
                                                <label for="picker1">Date écheance </label>
                                                <div class="input-group">
                                                    <input id="picker2" class="form-control" placeholder="yyyy-mm-dd"
                                                        name="dp" formControlName="dateCheque" type="date"
                                                        [ngClass]="{'is-invalid':submitted &&  formReglement.controls.dateCheque.errors || (formReglement.controls.dateCheque.errors   && formReglement.get('dateCheque').touched )}">
                                                </div>
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  formReglement.controls.dateCheque.errors  || (formReglement.controls.dateCheque.errors  && formReglement.get('dateCheque').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 mb-3 footer">
                                        <button class="btn btn-outline-dark " (click)="gotoListReglement()"  type="button">Annuler</button><!--(click)="formReglement.reset()"-->
                                        <button class="btn btn-primary ml-2" [disabled]="formReglement.value.proprietaire==null" (click)="tabset.select('details')" type="button">Suivant</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="details" title="Détails Règlement" >
                            <ng-template ngbTabContent>
                                <div class="tab-pane active" id="litaDados1" role="tabpanel">
                                    <div class="col-12 px-0 mb-3">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class=" row">
                                                    <div class="col-md-12 table-responsive"
                                                        [class.disabled-table]="!formReglement.value.proprietaire ">
                                                        <table class="table table-hover mb-3">
                                                            <thead class="bg-gray-300">
                                                                <tr>
                                                                    <th scope="col" width="5%">Sélection</th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="10%">Type de
                                                                        Payement</th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="10%">Type de Bien
                                                                    </th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="10%">Intitule
                                                                    </th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="10%">Montant non
                                                                        payé</th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="10%">Montant à
                                                                        payer</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody formArrayName="lignes">
                                                                <tr *ngFor="let lig of lignes().controls; let ligIndex=index"
                                                                    formGroupName="{{ligIndex}}">
                                                                    <td>
                                                                        <label
                                                                            class="checkbox checkbox-outline-primary">
                                                                            <input type="checkbox" [checked]="true"
                                                                                (change)="checkCheckBoxvalue($event,ligIndex)"
                                                                                value="{{lig.get('idBien')}}"
                                                                                formControlName="selected"><span
                                                                                class="checkmark"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <!-- <input class="form-control" formControlName="typeReglement"
                                                            readonly /> -->
                                                                        <ng-select [items]="listtypeFrais"
                                                                            [clearable]="true"
                                                                            formControlName="typeReglement"
                                                                            placeholder="Choisir un type de payement"
                                                                            bindLabel="label" bindValue="cbmarq"
                                                                            [readonly]="true">
                                                                        </ng-select>
                                                                    </td>

                                                                    <td>
                                                                        <!-- <input class="form-control" formControlName="typeBien"
                                                            type="number" readonly /> -->
                                                                        <ng-select [items]="typesBien"
                                                                            [clearable]="true"
                                                                            formControlName="typeBien"
                                                                            placeholder="Choisir un type de bien"
                                                                            bindLabel="label" bindValue="value"
                                                                            [readonly]="true">
                                                                        </ng-select>
                                                                    </td>
                                                                    <td>
                                                                        <input class="form-control"
                                                                            formControlName="intitule" type="text"
                                                                            readonly />
                                                                    </td>
                                                                    <td>
                                                                        <input class="form-control" type="number"
                                                                            step="0.001" formControlName="solde"
                                                                            readonly />
                                                                    </td>
                                                                    <td>
                                                                        <input class="form-control" type="number"
                                                                            formControlName="montant" />
                                                                    </td>

                                                                </tr>
                                                                <tr *ngIf="lignes()?.controls?.length == 0">
                                                                  
                                                                    
                                                                    <td colspan="5">Aucune données trouver !!</td>
                                                                    
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3 text-right">
                                                <button type="button" class="btn btn-outline-dark m-1"  (click)="tabset.select('info');"
                                                    >Annuler</button><!--depenseForm.reset(); [routerLink]="['/syndic/reglements']"-->
                                                <button class="btn btn-primary "
                                                    type="submit">Enregistrer</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </form>
            </div>

        </div>
    </div>


</div>
