.footer {
    display: flex;
    justify-content: flex-end;
}

.facultatifStyle {
  text-align: center;
  font-weight: 500;
  //border-bottom: 2px solid #213C7F;
  border-radius: 5px;
  background: rgba(33, 60, 127, 0.1);
  //height: 54px;
  padding: 10px
}

.textFacultatif {
  padding-top: 16px;
  position: fixed;
  margin-left: -60px;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.toggle-switch {
    height: 36px;
    width: 62px;
    display: inline-block;
    position: relative;
    input {
      display: none;
      &:checked + .slider {
        background-color: #008000d1;
      }
      &:checked + .slider::after {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }
    .slider {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #ced4da;
      transition: 2s;
      border-radius: 100px;
      width: 53px;
      height: 25px;
      &::after {
        position: absolute;
        content: '';
        height: 20px;
        width: 20px;
        background-color: white;
        left: 4px;
        bottom: 2px;
        transition: 0.5s;
        border-radius: 100px;
      }
    }
  }
