<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">
        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important; "> Chargement en cours
            ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Communité</h1>
        <ul>
            <li><a routerlink="/communite/reunions">Réunions</a></li>
            <li>Liste</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <!-- end of row-->
    <div class="card cardTablePadding row mb-4 ">
        <div class="col-md-12">

            <div class="row mb-2 mt-2">

                <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                    <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                    <button class="btn btn-primary mb-sm-0 mb-3 alignRight" *ngIf="can_add?.permission"
                        routerLink="/communite/info-reunion/0">
                        Ajouter
                    </button>
                </div>


            </div>


            <div class="card" *ngIf="can_liste?.permission">
                <div class="example-container mat-elevation-z8">
                    <mat-table class="table" [dataSource]="dataSource" matSort>

                        <!-- Numéro Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef>
                                Type
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Type:</span>
                                <span *ngIf="row.type=='ExtarOrdinaire'" class="badge badge-outline-primary"> {{ row.type }} </span>
                                <span *ngIf="row.type=='Ordinaire'" class="badge badge-primary"> {{ row.type }} </span>
                                <span *ngIf="row.type=='Délégué'" class="badge badge-success"> {{ row.type }} </span>
                                <!-- <span class="fa fa-circle" style="font-size: 10px;"
                                    [ngStyle]="{'color': row.type=='ExtarOrdinaire' ? '#ff4444' : (row.type=='Ordinaire' ? '#00c851' : '') }"></span>
                                &nbsp; {{ row.type }} -->
                            </mat-cell>
                        </ng-container>

                        <!-- Réference colis Column -->
                        <ng-container matColumnDef="objet">
                            <mat-header-cell *matHeaderCellDef>Objet</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Objet:</span>
                                {{ row.objet }}
                            </mat-cell>
                        </ng-container>
                        <!-- Date Column -->
                        <ng-container matColumnDef="emplacement">
                            <mat-header-cell *matHeaderCellDef>Emplacement</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Emplacement:</span>
                                {{ row.emplacement }}
                            </mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="dateDebut">
                            <mat-header-cell *matHeaderCellDef>Date Debut</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Date Debut:</span>
                                {{ row?.dateDebut | date : 'dd-MM-yyyy H:m' }}
                            </mat-cell>
                        </ng-container>
                        <!-- montant Column -->

                        <!-- Date Column -->
                        <ng-container matColumnDef="dateFin">
                            <mat-header-cell *matHeaderCellDef>Date Fin</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Date Fin:</span>
                                {{ row?.dateFin | date : 'dd-MM-yyyy H:m' }}
                            </mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="statut">
                            <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Statut:</span>
                                <span class=" badge badge-square badge-square-opacity-{{ row?.statut?.style }} m-1">{{
                                    row?.statut?.label }}</span>

                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Action:</span>
                                <!-- <img src="../../../../../assets/images/Icon-info.png" class="iconInfoSize mr-1" title="Détail" *ngIf="can_detail?.permission" [routerLink]="[ '/communite/detail-reunion/', row?.cbmarq  ]"> -->

                                <span class="fa fa-pencil-square-o primaryMaterial  mr-1" *ngIf="can_edit?.permission"
                                    title="Modifier" [disabled]="row?.statut?.code == 'E0041'"
                                    [routerLink]="[ '/communite/info-reunion/', row?.cbmarq  ]"></span>

                                <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                    *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>

                                <span class="fa fa-info-circle" title="Détails" *ngIf="can_detail?.permission"
                                    [routerLink]="[ '/communite/detail-reunion/', row?.cbmarq  ]"></span>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" style="text-align: center" colspan="7">Aucune donnée trouver
                            </td>
                        </tr>
                        <div *ngIf="dataSource.data?.length === 0"></div>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>

                </div>
            </div>
        </div>
    </div>

</div>
