<!-- component update gen operation-->

<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
    cours ...
</h4>
</ngx-spinner>
<app-info-operation *ngIf="viewListGenOperation"></app-info-operation>

<div class="row mb-4" *ngIf="!viewListGenOperation">

    <div class="col-md-12 mb-4">

        <div class="row mb-2 mt-2">

            <div class="col-xl col-lg col-md col-sm pr-md-0 mb-2">
                <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
            </div>
            <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">

                <button class="btn  btn-outline-primary  mb-3 alignRight" title="Recherche Avancé"
                    style="float: right;margin-left: 10px;" (click)="rechAvance=!rechAvance;genererBtn=false">
                    <span class="fa fa-database" style="font-size: 15px;"></span>
                </button>

                <button class="btn btn-primary mb-sm-0  mb-2 alignRight" *ngIf="can_add?.permission"
                    (click)="genererBtn=!genererBtn;rechAvance=false">
                    Générer Opération
                </button>
            </div>

        </div>
        <div class="card mb-2 backgroundToolSearch">
            <!-- form generer operation -->
            <form [formGroup]="formGroupGenerer" (ngSubmit)="submitGenererOperation()" *ngIf="genererBtn">
                <div class="modal-body">
                    <div class="row">
                        <!-- produit -->
                        <div class="col-xl col-lg col-md col-sm mb-3 pr-md-0" style="margin-top: auto;">
                            <label for="">Produit</label>
                            <ng-select [clearable]="false" bindLabel="label" bindValue="value"
                                placeholder="Tout les produits" [readonly]="true">
                            </ng-select>
                        </div>
                        <!-- exercice -->
                        <div class="col-xl col-lg col-md col-sm pr-md-0" style="margin-top: auto;">
                            <label for="">Excercice</label>
                            <mat-form-field appearance="fill" class="col px-0">
                                <mat-label>Année</mat-label>
                                <input matInput
                                      [matDatepicker]="dp"
                                      [formControl]="date" formControlName="exercice"
                                       (click)="_openDatepickerOnClick(dp)" 
                                       (keydown.arrowdown)="_openDatepickerOnClick(dp)"
                                       (keydown.enter)="_openDatepickerOnClick(dp)"
                                >
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp 
                                                startView="multi-year" 
                                                (yearSelected)="chosenYearHandler($event, dp)"
                                                (monthSelected)="chosenMonthHandler($event, dp)"
                                                panelClass="example-month-picker">
                                </mat-datepicker>
                              </mat-form-field>
                            <!-- <ng-select [clearable]="false" [items]="listExercice" bindLabel="label"
                                placeholder="Veuillez choisir une année" bindValue="value" formControlName="exercice"
                                name="exercice" [(ngModel)]="currentYear.value" [ngModelOptions]="{standalone: true}">
                            </ng-select> -->
                        </div>
                        <div class="col-xl-auto col-lg-auto col-md-auto col-sm mb-3" style="margin-top: auto;">
                            <button type="submit" id="interogbtn" class="btn btn-block btn-outline-primary"
                                [disabled]="formGroupGenerer.invalid">
                                <span class="fa fa-play-circle-o"></span> Commencer
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- recherche plus options-->
            <form [formGroup]="formGroupSearch" (ngSubmit)="onSubmitSearch()" *ngIf="rechAvance && !genererBtn">
                <div class="modal-body">
                    <div class="row">
                        <!-- produit -->
                        <div class="col-xl col-lg col-md col-sm pr-md-0 mb-3" style="margin-top: auto;">
                            <label for="">Produit</label>
                            <ng-select [clearable]="false" [items]="residences" (change)="OnChangeResidence($event)"
                                formControlName="produit" name="produit" bindLabel="label" bindValue="value"
                                placeholder="Veuillez choisir un produit (*)">
                            </ng-select>
                        </div>
                        <!-- exercice -->
                        <div class="col-xl col-lg col-md col-sm pr-md-0" style="margin-top: auto;">
                            <label for="">Excercice</label>
                            <mat-form-field appearance="fill" class="col px-0">
                                <mat-label>Année</mat-label>
                                <input matInput
                                      [matDatepicker]="dp"
                                      [formControl]="date"  formControlName="exercice"
                                       (click)="_openDatepickerOnClick(dp)" 
                                       (keydown.arrowdown)="_openDatepickerOnClick(dp)"
                                       (keydown.enter)="_openDatepickerOnClick(dp)">
                                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                                <mat-datepicker #dp 
                                                startView="multi-year" 
                                                (yearSelected)="chosenYearHandler($event, dp)"
                                                (monthSelected)="chosenMonthHandler($event, dp)"
                                                panelClass="example-month-picker">
                                </mat-datepicker>
                              </mat-form-field>
                            <!--<input type="date" class="form-control" #datepicker formControlName="exercice" name="exercice"> -->
                            <!--<input type="text" class="form-control" ng-model="dt" 
                                    datepicker-popup="{{format}}" datepicker-options="{{datepickerOptions}}"
                                    is-open="opened" ng-focus="open($event)"
                                    date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">-->
                            <!-- <ng-select [clearable]="false" [items]="listExercice" bindLabel="label"
                                placeholder="Veuillez choisir une année" bindValue="value" formControlName="exercice"
                                name="exercice" [(ngModel)]="currentYear.value" [ngModelOptions]="{standalone: true}">
                            </ng-select> -->
                        </div>
                        <div class="col-xl-auto col-lg-auto col-md-auto col-sm mb-3" style="margin-top: auto;">
                            <button type="submit" id="interogbtn" class="btn btn-block btn-outline-primary w-100"
                                [disabled]="formGroupSearch.invalid">
                                <span class="fa fa-database"></span> Recherche
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="card " [hidden]="dataSource?.data?.length==0">
            <div class="example-container mat-elevation-z8">
                <mat-table class="table" [dataSource]="dataSource" matSort>


                    <!-- produit -->
                    <ng-container matColumnDef="produit">
                        <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Produit:</span>
                            {{ row?.gamme?.equipement?.produit?.intitule}}
                        </mat-cell>
                    </ng-container>
                    <!-- emplacement -->
                    <ng-container matColumnDef="emplacement">
                        <mat-header-cell *matHeaderCellDef>Emplacement</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Emplacement:</span>
                            <span *ngIf="!row?.gamme?.equipement?.emplacement?.intitule">-</span> {{
                            row?.gamme?.equipement?.emplacement?.intitule }}
                        </mat-cell>
                    </ng-container>
                    <!-- gamme operatoire Column -->
                    <ng-container matColumnDef="gamme">
                        <mat-header-cell *matHeaderCellDef>Gamme Opératoire</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Gamme Opératoire:</span>
                            {{ row?.gamme?.intitule }}
                        </mat-cell>
                    </ng-container>
                    <!-- equipement column -->
                    <ng-container matColumnDef="equipement">
                        <mat-header-cell *matHeaderCellDef>Equipement</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Equipement:</span>
                            {{ row?.gamme?.equipement?.intitule }}
                        </mat-cell>
                    </ng-container>

                    <!-- Column -->
                    <ng-container matColumnDef="notifieravant">
                        <mat-header-cell *matHeaderCellDef>Notifier avant </mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Notifier avant:</span>
                            {{row?.notifavant}} J
                        </mat-cell>
                    </ng-container>

                    <!-- Column -->
                    <ng-container matColumnDef="dateexecution">
                        <mat-header-cell *matHeaderCellDef>Date exécution</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Date exécution:</span>
                            {{ row?.dateExecution?.date | date :'dd-MM-yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef style="max-width: 150px;"
                            [hidden]="can_edit?.permission!=true && can_delete?.permission!=true">Action
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                            [hidden]="can_edit?.permission!=true && can_delete?.permission!=true"
                            style="max-width: 150px;">
                            <span class="mobile-label mr-2"> Action:</span>

                            <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1" title="Modifier"
                                (click)="editLine(row.cbmarq)" *ngIf="can_edit?.permission"></span>
                            <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>


                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">Aucune donnée trouvée
                        </td>
                    </tr>
                    <div *ngIf="dataSource?.data?.length === 0"></div>
                </mat-table>

                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>

        <div *ngIf="dataSource?.data?.length==0">


            <div class="card mb-4">
                <div class="card-body">
                    <img src="../../../assets/images/icons/maintenance.png" alt=""
                        style="display: block; width: 14%; margin: auto;">
                    <p style="text-align: center;padding: 32px;font-weight: 500;">Veuillez consulter vos opérations par
                        exercice</p>

                </div>
            </div>

        </div>
    </div>

</div>
