// mat-cell:nth-child(2),
// mat-header-cell:nth-child(2) {
//   flex: 0 0 30%;
// }
.radio-cast{
  display: flex;
}
.radio-cast .radio-cast{
 justify-content: flex-end;
}

@media (max-width: 900px) {
  .mat-column-numero {
      padding-left: 0px;
  }
}
