<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
    <div class="breadcrumb">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a routerLink="/syndic/compteurs">Compteurs</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 mb-4">

            <div class="row mb-2 mt-2">

                <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                <input  class="form-control"  (keyup)="applyFilter($event)" placeholder="Rechercher" #input >
               </div>
               <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                    <button class="btn btn-primary mb-sm-0 mb-3 alignRight" *ngIf="can_add?.permission" [routerLink]="['/syndic/ajouter-compteur']" >
                        Ajouter
                    </button>
                </div>
            </div>
            <div class="card" *ngIf="can_liste?.permission">
                <div class="example-container mat-elevation-z8">
                    <mat-table class="table" [dataSource]="dataSource" matSort>

                        <!-- Numéro Column -->
                        <ng-container matColumnDef="numero">
                            <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef>
                                Numéro
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Numéro:</span>
                                <span class="badge badge-pill badge-outline-secondary p-2 ">{{ row.numero }}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Réference colis Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Type:</span>
                                {{ row.type.label }} </mat-cell>
                        </ng-container>
                        <!-- Date Column -->
                        <ng-container matColumnDef="cbcreation">
                            <mat-header-cell *matHeaderCellDef>Date création</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Date création:</span>
                                {{ row.cbcreation }}</mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="residence">
                            <mat-header-cell *matHeaderCellDef>Résidence</mat-header-cell>
                            <mat-cell class="" *matCellDef="let row">
                                <span class="mobile-label mr-2"> Résidence:</span>
                                <span *ngIf=" row.residence ">{{
                                    row.residence.intitule }}</span>
                                <span *ngIf="row.residence == ''">-----</span>
                            </mat-cell>
                        </ng-container>
                        <!-- montant Column -->

                        <!-- Date Column -->
                        <ng-container matColumnDef="bloc">
                            <mat-header-cell *matHeaderCellDef>Bloc</mat-header-cell>
                            <mat-cell class="" *matCellDef="let row">
                                <span class="mobile-label mr-2"> Bloc:</span>
                                <span *ngIf=" row.bloc ">{{ row.bloc.intitule }}</span>
                                <span *ngIf="row.bloc == ''">-----</span>

                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Action:</span>
                                <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1"  *ngIf="can_edit?.permission" title="Modifier"  [routerLink]="['/syndic/modifier-compteur',row.cbmarq]"></span>

                                <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer" *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>


                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Aucune donnée trouvée
                            </td>
                        </tr>
                        <div *ngIf="dataSource?.data?.length === 0"></div>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>

</div>
<!--  Modal add reglement -->
<!--<div  class="modal fade" id="exModal" tabindex="-1" role="dialog" >-->
<ng-template #modalLong let-modal>
    <!--    <div class="modal-dialog modal-lg" >-->
    <!--        <div class="modal-content ">-->
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter un compteur</h4>
    </div>
    <form (ngSubmit)="submit()" [formGroup]="formBasic" class=" col-md-12">
        <div class="modal-body">
            <div>
                <p class=" border-bottom text-primary "> Informations Bien <small class="text-muted">(Veuillez choisir
                        une résidence ou un bloc )</small></p>
                <div class=" row">
                    <div class="col-6 form-group mb-4">
                        <label class=" col-form-label ">Résidence *:</label>
                        <div class="col-sm-12 pl-0">
                            <ng-select [clearable]="true" [items]="residences" (change)="OnchangeResidence($event)"
                                formControlName="residence" bindLabel="label" placeholder="Choisir une résidence"
                                bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>

                    <div class="col-6 form-group  mb-4">
                        <label class="col-form-label ">Bloc:</label>
                        <div class="col-sm-12 pl-0">
                            <ng-select [clearable]="true" [items]="blocs" formControlName="bloc" bindLabel="label"
                                placeholder="Choisir un bloc" bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
                <p class=" border-bottom text-primary "> Informations Compteur <small class="text-muted">(Veuillez
                        choisir le type et saisir le numèro )</small></p>
                <div class=" row">
                    <div class="col-6 form-group  mb-4">
                        <label class="col-form-label ">Type *:</label>
                        <div class="col-sm-12 pl-0">
                            <ng-select [clearable]="true" [items]="types" formControlName="type" bindLabel="label"
                                placeholder="Choisir un type" bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-md-6 form-group mb-4">
                        <label class=" col-form-label">Numéro *:</label>
                        <div class="col-sm-12 pl-0">
                            <input class="form-control w-100" formControlName="numero" placeholder="ex: ST001245300"
                                type="text"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.numero.errors  || (formBasic.controls.numero.errors  && formBasic.get('numero').touched )}">

                        </div>
                        <div class="invalid-feedback col-12 "
                            *ngIf="submitted &&  formBasic.controls.numero.errors || (formBasic.controls.numero.errors  && formBasic.get('numero').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-sm-12 form-group mb-4 radio-cast">
                        <label class="col-sm-3">Type payement *: </label>
                        <div class="col-sm-9 pr-0 radio-cast" >
                            <div class="col-sm-5" >
                                <label class="radio radio-outline-primary">
                                    <input type="radio" [value]="1" formControlName="typePayement" [(ngModel)]="checked">
                                    <span>Charger syndic</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-sm-5">
                                <label class="radio radio-outline-primary">
                                    <input type="radio" [value]="2" formControlName="typePayement">
                                    <span>Répartition par propriétaire</span>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Transformer </button>
            <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
        </div>
    </form>
    <!--        </div>-->
    <!--    </div>-->
</ng-template>
<!--</div>-->
<!-- end modal add reglement -->
<!-- end of row-->
