<ngx-spinner bdColor="rgba(255,255,255,0.7)"
	template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
	[fullScreen]="true">

	<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px"> Chargement en cours ...
	</h4>
</ngx-spinner>
<div class="breadcrumb">
	<h1>Actualités</h1>
	<ul (click)="onClickCrumb($event)">
		<li class="shortCutbreadcrumbLarge"><a>Dashboard & Statistique</a></li>
		<li class="shortCutbreadcrumbSmall" style="cursor: pointer;">Dashboard</li>
		<li class="shortCutbreadcrumbSmall" >|</li>
		<li class="shortCutbreadcrumbSmall" style="cursor: pointer;" >Statistique</li>
	</ul>
</div>
<div class="separator-breadcrumb border-top"></div>

<!-- widgets-->
<div class="row stats mb-3">

	<div class="col">
	  <div class="statContainer blue shadow-sm">
		<div class="title text-center">PAIEMENT</div>
		<div class="d-flex" routerLink="/interrogation/interrogation-payement" style="cursor: pointer">
		  <div class="flex-fill text-center iconFlexDiv">
			<img class="icon-picture" src="assets/images/dash_retard.png" alt="">
		</div>
		  <div class="p-2 flex-fill text-left status">RETARD <br>
			<h5 class="font-weight-bold status fontSizeNbrWidget">{{statistiqueAdminModel.NbrRetardPay}}</h5>
		  </div>
		</div>
	  </div>
	</div>
  
	<div class="col">
	  <div class="statContainer yellow shadow-sm">
		<div class="title text-center">MESSAGES</div>
		<div class="d-flex" routerLink="/communite/inbox" style="cursor: pointer">
		  <div class="flex-fill text-center iconFlexDiv"> 
			<img class="icon-picture" src="assets/images/dash_messagerie.png" alt="">  
		
		  </div>
		  <div class="p-2 flex-fill text-left status">NOUVEAUX <br>
			<h5 class="font-weight-bold status fontSizeNbrWidget">{{statistiqueAdminModel.NbrMessageNnLus}} </h5>
		  </div>
		</div>
	  </div>
	</div>
  
	  
	<div class="col">
	  <div class="statContainer pink shadow-sm">
		<div class="title text-center">RECLAMATIONS</div>
		<div class="d-flex" routerLink="/communite/reclamations" style="cursor: pointer">
		  <div class="flex-fill text-center iconFlexDiv"> 
			  <img class="icon-picture" src="assets/images/dash_reclamation.png" alt="">
		</div>
		  <div class="p-2 flex-fill text-left status">NOUVEAUX <br>
			<h5 class="font-weight-bold status fontSizeNbrWidget">{{statistiqueAdminModel.NbrReclamations}}</h5>
		  </div>
		</div>
	  </div>
	</div>
  
	<div class="col">
	  <div class="statContainer purple shadow-sm">
		<div class="title text-center">OPERATIONS</div>
		<div class="d-flex" routerLink="/communite/preventif" style="cursor: pointer">
		  <div class="flex-fill text-center iconFlexDiv">			
			<img class="icon-picture" src="assets/images/historique_impayé.png" alt="">

		  </div>
		  <div class="p-2 flex-fill text-left status">ENCOURS <br>
			<h5 class="font-weight-bold status fontSizeNbrWidget">{{statistiqueAdminModel.NbrOperation}}</h5>
		  </div>
		</div>
	  </div>
	</div>  
	
  
  </div>


<!--  row -->
<div class="row">
<!-- left side -->
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 " id="leftSide" #leftSide [hidden]="(!viewDashboardStat && viewMobile)">
    <div class="row">

            <!--Calendrier-->
			<div class="col-lg-12 col-md-12 mb-4">
				<div class="card">
					<div class="card-body" style="padding: 5px;">
						<full-calendar class="mt-2" [options]="calendarOptions" ></full-calendar>
						<div class="mt-4 mb-4" >
							<p class="ml-2">
								<span class="fa fa-circle" style="color: #4caf50;font-size: 12px;">
								</span>
								&nbsp; Réunions
							</p> 
						
							
						</div>

					</div>
				</div>
			</div>
			
            <!--Liste Transferts -->
			<div class="col-lg-12 col-md-12 mb-4" >
				<div class="card  mb-4">
					<div class="card-body">
						<div class="card-title2 mb-4">Liste des transferts <span style="font-size: 11px;color: grey;float: right;">{{currentDate | date : 'MMM , y' }}</span></div>


						<ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover"  (slide)="onSlide($event)" [showNavigationArrows]="false" [showNavigationIndicators]="false">
							<ng-template ngbSlide *ngFor="let transf of statistiqueAdminModel.TransfertRecu; index as i">
							 
							  <div class="card" id="cardTransfert" [ngStyle]="{'background-color': transf.backgroundColor}"> 
								<div class="mt-4" style="text-align: center;">
										<img src="../../../../../assets/images/money-transfer.png" style="width: 150px;">
								</div>
								<div class="card-body mb-2 ml-4">
								  <p style="font-size: 16px;font-weight: 500;cursor: pointer;" (click)="navigateToDetailTransfert(transf.cbmarq)">Reference #{{transf.reference}}</p>
								  <p ><span style="font-weight: 500;">Source:</span>  {{transf.caisseSource?.intitule}}</p>
								  <p ><span style="font-weight: 500;">Destinataire:</span>  {{transf.caisseDestination?.intitule}}</p>
								  <p ><span style="font-weight: 500;">Montant:</span>  {{transf.montant}} TND</p>
								</div>
							  </div>
							 
							</ng-template>
						  </ngb-carousel>


					</div>

					



					<div [hidden]="statistiqueAdminModel.TransfertRecu!=undefined || statistiqueAdminModel?.TransfertRecu?.length>0">
						<p style="text-align: center;color: grey;">
							<span class="fa fa-exclamation-circle" aria-hidden="true">								
							</span>
							Aucune donnée diponible</p>
					</div>
				
				</div>
			</div>

			<!-- liste des co-prop-->
			<div class="col-lg-12 col-md-12 mb-4">
				<div class="card  mb-4">
					<div class="card-body">
						<div class="card-title2 mb-4">Liste des co-proprietaires </div>

						<ul class="mailbox list-style-none" >
                            <li>
                                <div class="message-center chat-scroll ps-container ps-theme-default" >
                                    <!-- coorop -->
                                    <div *ngFor="let coorop of statistiqueAdminModel?.CoopropToActive ;let i=index" [style.background-color]="i%2==0 ? '#EFEFEF' : ''" style="border-radius: 8px;padding-left: 5px;">
                                        <a class="message-item">
                                    
                                               
                                                <div class="profileImagecoProp" *ngIf="coorop.photo==null " style="font-size: 16px;font-weight: 500;">{{coorop?.nomComplet?.charAt(0)}}{{coorop?.nomComplet?.charAt(1)}}</div>
                                                <img *ngIf="coorop.photo!=null" [src]="coorop.photo" alt="coorop" class="profileImagecoProp" style="padding-top: 0px !important;">                     
                                               
                                            <div class="mail-contnet">
                                                <h4  >{{coorop?.nomComplet}}</h4>
                                                <span class="text-muted" style="font-size: 12px;">Affecté à : {{coorop?.parent?.nomComplet}}</span>
                                            </div>

											<span class="fa fa-power-off successMaterial mr-1" title="Activer"  (click)="confirmerActiveCoProp(coorop,modalBasicCoprop)"></span>

                                        </a>
                                    </div>
                                    
                                            
                                        
                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                            </li>
                        </ul>


					
						
					</div>
					
					
				</div>
			</div>

             
    </div>
</div>

	<!-- actualite middle -->

	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 " id="middleSide" #middleSide
		*ngIf="( (!viewDashboardStat && viewMobile) || !viewMobile)">
		<!-- post -->
		<div class="row" >
			<div class="col-lg-12">
				<div class="cardbox shadow-lg bg-white borderRadiusCard">
					<div class="cardbox-heading">
						<div class="media m-0">
							<div class="d-flex mr-3">
								<a>
									<div class="profileImage" *ngIf="imgSrc==null || imgSrc==undefined">
										{{proprietaire.logoText}}</div>
									<img *ngIf="imgSrc!=undefined && imgSrc!=null" [src]="imgSrc" alt="proprietaire"
										class="rounded-circle">
								</a>
							</div>
							<div class="media-body" *ngIf="root">
								<p class="m-0">{{proprietaire.nomComplet!=undefined?proprietaire.nomComplet:''}}</p>
								<span class="fa fa-globe iconPostFeeds" title="public"></span>
								<small>Public</small>
							</div>
							<div class="media-body" *ngIf="!root">
								<p class="m-0">{{proprietaire.nomComplet!=undefined?proprietaire.nomComplet:''}}</p>
								<span class="fa fa-globe iconPostFeeds" title="public"
									*ngIf="valueModelPrivacy==1"></span>
								<span class="fa fa-lock iconPostFeeds" title="Privé"
									*ngIf="valueModelPrivacy==2 && !root"></span>
								<span class="fa fa-users iconPostFeeds" title="Interne"
									*ngIf="valueModelPrivacy==3 && !root"></span>
								<small *ngIf="!root">
									<select style="font-weight: 500;border-radius:5px" #mySelect class="form-select"
										id="floatingSelect" (change)="openModalPrivacy(mySelect.value,modalBasic)"
										[(ngModel)]="valueModelPrivacy">
										<option selected [value]=3>Interne</option>
										<option [value]=1>Public</option>
										<option [value]=2>Privé</option>

									</select>
								</small>
							</div>

							<div class="iconcommentaire" style="text-align: right;">
								<!---->
								<span title="Désactiver commentaire" id="iconcomment"
									[ngStyle]="{'color':comment==false ? '#cbced1': '#2196f3' }" class="fa fa-comment"
									(click)="changeTitle()"></span>
							</div>
						</div>
						<!--/ media -->
					</div>
					<!--/ cardbox-heading bottom-->
					<div class="cardbox-item">
						<quill-editor id="quill-editor-1" [styles]="editorStyle" customToolbarPosition="top"
							[(ngModel)]="htmlStringModel" name="htmlStringModel" format="object" #quill
							(onContentChanged)="onContentChanged($event)" [modules]="modules1"
							placeholder="Que voulez vous annoncer? ...">
							<div quill-editor-toolbar>

								<span class="ql-formats">
									<button type="button" class="ql-bold"><svg viewBox="0 0 18 18">
											<path class="ql-stroke"
												d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z">
											</path>
											<path class="ql-stroke"
												d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z">
											</path>
										</svg></button>
								</span>
								<span class="ql-formats">
									<button class="ql-underline" [title]="'Underline'"></button>
								</span>
								<span class="ql-formats">
									<button class="ql-italic" [title]="'Italic'"></button>
								</span>


								<span class="ql-formats">
									<select class="ql-header">
										<option value="1"></option>
										<option value="2"></option>
										<option value="3"></option>
										<option selected></option>
									</select>
								</span>
								<select class="ql-align" [title]="'Aligment'">
									<option selected></option>
									<option value="center"></option>
									<option value="right"></option>
									<option value="justify"></option>
								</select>
								<select class="ql-align" [title]="'Aligment2'">
									<option selected></option>
									<option value="center"></option>
									<option value="right"></option>
									<option value="justify"></option>
								</select>

								<select class="ql-color" [title]="'Color'">
								</select>

								<select class="ql-background" [title]="'BackgroundColor'">
								</select>
								<span class="ql-formats">
									<button class="ql-link" [title]="'Link'"></button>
								</span>
								<span class="ql-formats">
									<button class="ql-image" [title]="'Image'" [disabled]="disabledButton"></button>
								</span>
								<!--video-->
								<span class="ql-formats">
									<input type='file' id="filevideo" class="file-input" accept="video/*" #fileUpload2
										(change)="onSelectFile($event)" />

									<div class="file-upload">
										<button color="primary" title="Video" class="upload-btn"
											(click)="fileUpload2.click()">
											<i class="nav-icon i-Film-Video"></i>
										</button>
									</div>
								</span>
								<!--attachement doc-->
								<span class="ql-formats qldocument">
									<button color="primary" class="upload-btn" [disabled]="disabledButton"
										(click)="fileUpload.click()">
										<span class="fa fa-paperclip fadocument"></span>
									</button>
									<input type="file" class="file-input" (change)="onFileSelected($event)"
										[disabled]="false" accept=".xlsx, .xls, .csv,.pdf,.doc,.docx,.dot,.docm,.txt"
										#fileUpload>
								</span>

								<span class="ql-formats">
									<div class="file-upload">
										<input type="file" class="file-input" (change)="onFileSelected($event)"
											accept=".xlsx, .xls, .csv,.pdf,.doc,.docx,.dot,.docm,.txt" #fileUpload>

										<br />{{fileName || ""}}
										<button color="primary" class="upload-btn" (click)="deleteFileUpload()"
											*ngIf="fileName!=null && fileName!='' " style="float: revert;">
											<span class="fa fa-trash"></span>
										</button>

									</div>
									<br />
								</span>
								<span class="ql-formats">
									<br />{{fileNameVideo || ""}}
									<button color="primary" class="upload-btn" (click)="deleteVideoUpload()"
										*ngIf="urlVideo!=null && urlVideo!='' && fileNameVideo!='' "
										style="float: revert;">
										<span class="fa fa-trash"></span>
									</button><br />
									<video [src]="url" id="videoeditor" *ngIf="format==='video' && url" height="200"
										controls></video>
								</span>
								<!-- [class.disabled]="showbtnpub? null: true" -->
								<span class="ql-formats" style="float: right;">
									<a *ngIf="root" type="submit" class="btn-publish"
										(click)="openModalperiode(modalperiode)">
										<!-- <button ></button>  -->
										Publier
									</a>
									<a *ngIf="!root" type="submit" class="btn-publish" (click)="submitPost()">
										<!-- <button ></button>  -->
										Publier
									</a>
									<div id="counter"></div>
								</span>
							</div>

						</quill-editor>
						<br>
					</div>

				</div>
				<!--/ cardbox -->

			</div>
		</div>
		<!-- feeds -->
		<div class="row px-2" #containerFeeds>
				<!--******************************************************** publicité not for root ***************************************************-->
				<div class="col-12  mb-4  container-carou right" data-ribbon="Publicité" (mouseover)="removeicon==true"
				id="carouselpub" *ngIf="!root && publiciteList.length>0">
				   <span class="nav-icon fa fa-remove removepub" (click)="hiddenPub()"></span>
				   <ngb-carousel #carousel1 [interval]="4000"  [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus">
					   <ng-template ngbSlide *ngFor="let pub of publiciteList">
						   <div class="card">
							   <!-- <span class="pub">Publicité</span> -->

							   <div *ngIf="pub.srcList.length>0">
								   <div class="col-12 px-2 textpublicite">
									   <p *ngIf="pub?.text" class="textpub" [innerHtml]="pub?.text"></p>
								   </div>
								   <img [src]="pub.srcList[0].small" class="radiusimg" height="300px" width="100%">
							   </div>
							   <div *ngIf="pub.srcList.length==0">
								   <iframe width="100%" height="300px" class="radiusimg"
									   [href]="sanitizer.bypassSecurityTrustResourceUrl(pub.video)"
									   [src]="sanitizer.bypassSecurityTrustResourceUrl(pub.video)"
									   frameborder="0"></iframe>
							   </div>
						   </div>

					   </ng-template>
				   </ngb-carousel>
			   </div>
			   <!--******************************************************** end publicité not for root ***************************************************-->

			<!--actualité-->
			<div class="col-lg-12 px-0" *ngFor="let actualite of actualitesList;let j=index">
				<div class="cardbox shadow-lg bg-white borderRadiusCard">
					<div class="cardbox-heading">
						<!-- DELETE POST-->
						<div class="dropdown float-right" *ngIf="actualite.cbcreateur.id==id_current_user ">

							<span class="fa fa-trash-o" style="color: #2196f3;cursor: pointer;"
								*ngIf="actualite.publier" title="Supprimer"
								(click)="confirmUpdateStatutActualite(actualite,true)"></span>&nbsp;
							<span class="fa fa-undo" style="color: #2196f3;cursor: pointer;" *ngIf="!actualite.publier"
								title="Restaurer" (click)="confirmUpdateStatutActualite(actualite,false)"></span>&nbsp;
							<span class="fa fa-trash-o" style="color: rgb(240, 56, 56);cursor: pointer;"
								*ngIf="!actualite.publier" title="Supprimer définitivement"
								(click)="confirmDeleteDefinetlyPost(actualite)"></span>&nbsp;
						</div>
						<!--/ dropdown -->
						<div class="media m-0">
							<div class="d-flex mr-3">
								<a>
									<div class="profileImage" *ngIf="actualite.cbcreateur.photo==null">
										{{actualite.logoText}}</div>
									<img *ngIf="actualite.cbcreateur.photo!=null" class="img-fluid rounded-circle"
										[src]=actualite.cbcreateur.photo alt="User">
								</a>
							</div>
							<div class="media-body">
								<p class="m-0" style="color:#3F4254 !important;font-weight: 600 !important;">
									{{actualite.cbcreateur.nomComplet}}</p>
								<div class="position-absolute">
									<span class="fa fa-globe" style="font-size: 15px;color: #2196f3;" title="public"
										*ngIf="actualite.tous==1"></span>
									<span class="fa fa-lock" id="icon{{j}}" (mouseover)="showContact[j]=true"
										(mouseout)="showContact[j]=false" style="font-size: 15px;color: #2196f3;"
										*ngIf="actualite.tous==2"
										(click)="openModalpublication(actualite.affecterA,modalBasicContact)"></span>
									<span class="fa fa-users" style="font-size: 13px;color: #2196f3;" title="Interne"
										*ngIf="actualite.tous==3"></span>
									<small><span><i class="icon ion-md-time"></i> Le
											{{actualite.cbmodification}}</span></small>
									<div *ngIf="actualite.affecterA!=[] && showContact[j]" class="listContact mr-2">
										<!---->
										<div *ngFor="let contact of actualite?.affecterA?.slice(0, 10) ; let i=index">
											<span *ngIf="contact?.bloc==null">{{contact?.residence?.label}}<span
													*ngIf="i!=actualite.affecterA.length-1">,&nbsp;</span> </span>
											<span *ngIf="contact?.bloc!=null && contact?.appartement==null">
												{{contact?.bloc?.label}}({{contact?.residence?.label}}) <span
													*ngIf="i!=actualite.affecterA.length-1">,&nbsp;</span> </span>
											<span *ngIf="contact?.appartement!=null">
												{{contact?.appartement.label}}({{contact?.residence?.label}} |
												{{contact?.bloc?.label}})
												<span *ngIf="i!=actualite.affecterA.length-1">,&nbsp;</span><span
													*ngIf="actualite.affecterA.length>10 && i==actualite.affecterA?.slice(0, 10).length-1">et
													{{actualite?.affecterA.length-10}} autres...</span></span>
										</div>

									</div>
								</div>
							</div>

							<!-- pop Qui peut voir votre publication -->
							<ng-template #modalBasicContact let-modal>
								<div class="modal-header">
									<h4 class="modal-title" id="modal-basic-title" style="font-weight: 500;">Qui
										peut
										voir votre publication</h4>
								</div>
								<div>
									<div class="modal-body">
										<div class="row mx-0">
											<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
												*ngFor="let contactPub of contactPublication">
												<div class="row mx-0">
													<!--i-University1 residence//i-Building bloc /// i-Door appartement -->
													<div class="iconContact">
														<i *ngIf="contactPub?.bloc==null"
															class="nav-icon icon-size i-University1"></i>
														<i *ngIf="contactPub?.bloc!=null && contactPub?.appartement==null"
															class="nav-icon icon-size i-Building"></i>
														<i *ngIf="contactPub?.appartement!=null"
															class="nav-icon icon-size i-Home-4"></i>
													</div>
													<div class="mt-2">
														<h4 *ngIf="contactPub?.bloc==null">
															{{contactPub?.residence?.label}}
														</h4>
														<h4
															*ngIf="contactPub?.bloc!=null && contactPub?.appartement==null">
															{{contactPub?.bloc?.label}}({{contactPub?.residence?.label}})
														</h4>
														<h4 *ngIf="contactPub?.appartement!=null">
															{{contactPub?.appartement.label}}({{contactPub?.residence?.label}}
															|
															{{contactPub?.bloc?.label}})
														</h4>
													</div>
												</div>

										</div>
									</div>

								</div>
								<div class="modal-footer">
									<button class="btn btn-outline-dark " type="button"
										(click)="oncloseDialogPrivacy()">Fermer</button>
								</div>

							</div>

						</ng-template>

					</div>

					<!--/ media -->
				</div>
				<!--/ cardbox-heading -->

				<!-- affichage actualite-->
				<div class="cardbox-item mx-3">
					<p style="margin-left: 5px; margin-right: 5px;" [innerHtml]="actualite?.text"
						*ngIf="actualite?.text!='undefined'"></p>

						<!--ngx-gallery TRUE-->
						<div class="gallery-wrapper"
							*ngIf="actualite?.srcList?.length>0 && actualite.publicite==false ">
							<ngx-gallery [options]="galleryOptions" [images]="actualite?.srcList" class="ngx-gallery">
							</ngx-gallery>
						</div>
						<div class="video">
							<video style="border-radius: 10px 10px 10px 10px ;" [src]="actualite?.video"
								id="videoeditor" *ngIf="actualite?.video" height="300" width="100%" controls></video>
						</div>
						<!-- Attachement -->
						<div class="row" style="margin-left: 0px;margin-right: 0px;"
							*ngIf="actualite.attachement!='' && actualite.attachement!=undefined">
							<div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-6 attachement">
								<a style="cursor: pointer;text-align: center;" [href]="actualite.attachement"
									target="_blank">
									<span class="fa fa-file-text" aria-hidden="true"
										style="font-size: 25px;vertical-align: middle;"
										*ngIf="actualite.extensionAttachement=='xlsx' || actualite.extensionAttachement=='xls' || actualite.extensionAttachement=='csv' || actualite.extensionAttachement=='csv' || actualite.extensionAttachement=='docx' || actualite.extensionAttachement=='doc'"></span>
									<span class="fa fa-file-pdf-o" aria-hidden="true"
										style="font-size: 25px;vertical-align: middle;"
										*ngIf="actualite.extensionAttachement=='pdf'"></span>
									<span class="fa fa-file-image-o" aria-hidden="true"
										style="font-size: 25px;vertical-align: middle;"
										*ngIf="actualite.extensionAttachement=='png' || actualite.extensionAttachement=='jpg' || actualite.extensionAttachement=='jpeg'  || actualite.extensionAttachement=='bmp'"></span>

								&nbsp;Attachement
							</a>

						</div>
					</div>
					<!-- pop Qui fait j'aime -->
					<ng-template #modalBasicLike let-modal>
						<div class="modal-header">
							<h4 class="modal-title" id="modal-basic-title-like" style="font-weight: 500;">
								Personnes ayant réagi</h4>
						</div>
						<div>
							<div class="modal-body">
								<div class="row mx-0">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
										*ngFor="let like of likePublication">
										<div class="row mx-0">
											<div class="iconContact">
												<i class="nav-icon icon-size i-Boy"></i>

											</div>
											<div class="mt-2">
												<h4>
													{{like?.NomComplet}}
												</h4>

											</div>
										</div>

									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button class="btn btn-outline-dark " type="button"
									(click)="oncloseDialogPrivacy()">Fermer</button>
							</div>

						</div>

					</ng-template>

					</div>
					<!--/ cardbox-item -->
					<div class="cardbox-base jaimecommente pr-2">
						<ul *ngIf="actualite?.commenter==true" class="float-right"
							(click)="openComment(actualite.cbmarq)" style="cursor: pointer;">
							<li><a><em style="margin-right: 1rem;">{{actualite.NBcomment}}</em></a></li>
							<li><a><em>Commentaires</em></a></li>
						</ul>
						<ul class="float-right" *ngIf="actualite?.commenter==false">
							<li><a><em>Commentaire désactivé</em></a></li>
						</ul>
						<ul class="uljaime" (mouseover)="showlistjaime[j]=true" (mouseout)="showlistjaime[j]=false"
							(click)="openModalLike(actualite.reactions,modalBasicLike)">
							<li>
								<img style="border: 0px;height: 20px;" src="../../../assets/images/icons/nbrFbLike.png"
									alt="Like">
							</li>
							<li><a><em class="ml-3">{{actualite.NBaime}}</em></a></li>
						<div class="listjaime" *ngIf="showlistjaime[j] && actualite?.reactions?.length>0">
							<div *ngFor="let liked of actualite.reactions.slice(0,10);let k=index">
								<span>{{liked?.NomComplet}}<span *ngIf="k!=actualite.reactions.length-1"> ,&nbsp;
										<span
											*ngIf="actualite.reactions.length>10 && k==actualite.reactions?.slice(0, 10).length-1">
											et {{actualite.reactions.length-10}} autres...
										</span>
									</span>
								</span>
							</div>

						</div>
					</ul>
						<!-- -->


				</div>

				<!--/ cardbox-base -->
                <div class="cardbox-base" >

						<ul class="float-right">
							<li *ngIf="actualite?.commenter==true"><span
									class="fa fa-comment-o mr-7 commentJaime">&nbsp;Commenter</span></li>
						</ul>
						<ul>
							<li>
								<span *ngIf="actualite.aime=='2' " class="fa fa-thumbs-up ml-7 commentJaime"
									style="color: #5890ff !important" (click)="likePost(actualite)">&nbsp;J'aime</span>
								<span *ngIf="actualite.aime=='3'" class="fa fa-thumbs-o-up ml-7 commentJaime"
									(click)="likePost(actualite)">&nbsp;J'aime</span>
							</li>
						</ul>
					</div>
					<!-- action commentaire -->
					<div class="cardbox-comments" *ngIf="actualite?.commenter==true">
						<div class="row">
							<div class="col-12">
								<div class="input-group mb-3 ">
									<span class="comment-avatar float-left">
										<a>
											<div class="profileImageCommentaire" *ngIf="proprietaire.photo==null">
												{{proprietaire.logoText}}</div>
											<img *ngIf="proprietaire.photo!=null" [src]="imgSrc" alt="proprietaire"
												 class="rounded-circle">
										</a>
									</span>
									<div class="input-wrapper">
										<textarea name="" placeholder="Votre commentaire" class="form-control textare"
												  [(ngModel)]="currentCommentPost[j]" style="border-radius: 10px;margin: 3px 10px 0px 21px;" rows="1">
										</textarea>
										<span class="fa fa-paper-plane iconCommentaire" [class.disabled]="currentCommentPost[j] =='' || currentCommentPost[j] == undefined"
											  (click)="postComment(actualite,j,currentCommentPost[j])"></span>
									</div>

								</div>
								<hr style="margin: 11px;padding:0px;width:98%;">
							</div>
						</div>
					</div>
					<!-- affichage commentaires -->
					<div class="cardbox-comments" *ngIf="isCommentOpened && actualite.cbmarq == actualiteIdCourant">
						<div class="row" *ngFor="let comm of commentairesList ; let test = index">
							<div class="col-12">
								<div class="media m-0">
									<div class="d-flex mr-3">
										<a *ngIf="comm.cbcreateur.photo!=null"><img class="img-fluid rounded-circle"
																					[src]=comm.cbcreateur.photo alt="User"></a>
										<div class="profileImageCommentaire" *ngIf="comm.cbcreateur.photo==null">
											{{comm.logoText}}</div>
									</div>
									<div class="media-body" style="text-align: left;">
										<span *ngIf="comm.cbcreateur.id==id_current_user || Admin"
											  class="fa fa-trash-o deleteComment" style="cursor: pointer;"
											  title="Supprimer commentaire" aria-hidden="true"
											  (click)="confirmDeleteComment(actualite,comm)"></span>
										<p class="m-0">{{comm.cbcreateur.name}}</p>
										<small><span><i class="icon ion-md-time"></i> Le {{comm.cbcreation}}</span></small>
										<p class="form-control" style="padding: 0px;border:0px;color: #495057;display: inline-block;">{{comm.commentaire}}</p>
										<hr style="padding: 0px;margin: 0px;width: 98%;">
									</div>

								</div>
								<!--/ media -->
							</div>
						</div>
					</div>

				</div>
				<!--/ cardbox -->
				<!--publicite  cardbox-heading -->

				<!--/ row -->
			</div>
			<!--********************************************************publicité root*******************************************************************************************************************-->
			<div class="col-lg-12 " *ngFor="let actualite of publiciteList;let m=index">
				<div class="cardbox shadow-lg bg-white borderRadiusCard">
					<div class="cardbox-heading">
						<!-- DELETE POST-->
						<div class="dropdown float-right" *ngIf="actualite.cbcreateur.id==id_current_user || root">

							<span class="fa fa-trash-o" style="color: #2196f3;cursor: pointer;"
								*ngIf="actualite.publier" title="Supprimer"
								(click)="confirmUpdateStatutActualite(actualite,true)"></span>&nbsp;
							<span class="fa fa-undo" style="color: #2196f3;cursor: pointer;" *ngIf="!actualite.publier"
								title="Restaurer" (click)="confirmUpdateStatutActualite(actualite,false)"></span>&nbsp;
							<span class="fa fa-trash-o" style="color: rgb(240, 56, 56);cursor: pointer;"
								*ngIf="!actualite.publier" title="Supprimer définitivement"
								(click)="confirmDeleteDefinetlyPost(actualite)"></span>&nbsp;
						</div>
						<!--/ dropdown -->
						<div class="media m-0">
							<div class="d-flex mr-3">
								<a>
									<div class="profileImage" *ngIf="actualite.cbcreateur.photo==null">
										{{actualite.logoText}}</div>
									<img *ngIf="actualite.cbcreateur.photo!=null" class="img-fluid rounded-circle"
										[src]=actualite.cbcreateur.photo alt="User">
								</a>
							</div>
							<div class="media-body">
								<p class="m-0" style="color:#3F4254 !important;font-weight: 600 !important;">
									{{actualite.cbcreateur.nomComplet}}</p>
								<span class="fa fa-globe" style="font-size: 15px;color: #2196f3;" title="public"></span>

								<small><span><i class="icon ion-md-time"></i> Le
										{{actualite.cbmodification}}</span></small>
							</div>
						</div>

						<!--/ media -->
					</div>
					<!--/ cardbox-heading -->

					<!-- affichage actualite-->
					<div class="cardbox-item mx-3 pb-3">
						<p style="margin-left: 5px; margin-right: 5px;" [innerHtml]="actualite?.text"
							*ngIf="actualite?.text!='undefined'"></p>
						<!--ngx-gallery TRUE-->
						<div class="gallery-wrapper"
							*ngIf="actualite?.srcList?.length>0 && actualite?.srcList?.length>1 ">
							<ngx-gallery [options]="galleryOptions" [images]="actualite?.srcList" class="ngx-gallery">
							</ngx-gallery>
						</div>
						<div *ngIf="actualite?.srcList?.length==1 ">
							<!-- <img class="imgPublicite" [src]="actualite.srcList[0].small" height="300" width="100%" /> -->
						</div>
						<div class="video">
							<video style="border-radius: 10px 10px 10px 10px ;" [src]="actualite?.video"
								id="videoeditor" *ngIf="actualite?.video" height="300" width="100%" controls></video>
						</div>

					</div>

				</div>
				<!--/ cardbox -->
				<!--publicite  cardbox-heading -->

				<!--/ row -->
			</div>
			<!--********************************************************end publicité root*******************************************************************************************************************-->
			<!-- btn naviagte scroll -->
			<div class="col-lg-12">
				<span class="fa fa-chevron-circle-up scroll-to-top" [ngClass]="{'show-scroll': showScroll}"
					(click)="scrollToTop()" id="myBtn" style="cursor: pointer;font-size: 40px;float: right;"></span>
			</div>
		</div>
	</div>

	<!-- right side -->
	<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 " id="rightSide" #rightSide
		[hidden]="(!viewDashboardStat && viewMobile)">
		<div class="row">

       	    <!-- Distribution recettes par produit -->
			<div class="col-lg-12 col-md-12">
			
				<div class="card mb-4">
					<div class="card-body">
						<div class="card-title2 mb-4" >
							<span style="font-size: 11px;color: grey;float: right;">{{currentDate | date : 'MMM , y' }}</span>
							Recettes par produit
						</div>

						<div [hidden]="statistiqueAdminModel.recettes.length>0">
							<p style="text-align: center;color: grey;">
								<span class="fa fa-exclamation-circle" aria-hidden="true">								
								</span>
								Aucune donnée diponible</p>
						</div>
						<!--[hidden]="statistiqueAdminModel.recettes.length==0"-->
						<div class="row" >
							<div class="col-md-12">
								<div id="mainRecetteStat" style="height:300px;"></div>
							</div>

							<div class="tableFixHead"><!--col-md-12 table-responsive -->
								<table class="table" ><!--style="border-collapse: collapse;border-radius: 1em;overflow: hidden;"-->
									<thead class="thead-light">
									<tr>
										<th scope="col">Produit</th>
										<th scope="col">Prévu</th>
										<th scope="col">Recette</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let recette of statistiqueAdminModel.recettes">
										<td>{{recette.Produit}}</td>
										<td class="font-weight-bold  ">{{recette.Prevu.toFixed(3)}}</td>
										<td class="font-weight-bold  ">{{recette.Reel.toFixed(3)}} </td>
									</tr>
								

									</tbody>
								</table>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- TimeLine interventions -->
			<div class="col-lg-12 col-md-12 mb-4">
				<div class="card">
					<div class="card-body" style="height: 422px;overflow-y: scroll;">

						<div class="card-title2 mb-4" >
							<span style="font-size: 11px;color: orange;float: right;">, Bientôt)</span>
							<span style="font-size: 11px;color: green;float: right;">, En cours</span>							
							<span style="font-size: 11px;color: red;float: right;">(En retard</span>

							Interventions
						</div>


						<!-- debut timeline -->
						<!--type 1 : reclamation, type 2 : intervention , type 3 : reunions , type 4 : documenets , type  5  : transferts-->
						<div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column"
							*ngIf="statistiqueAdminModel?.listeOperation!=null && statistiqueAdminModel?.listeOperation?.length>0">
							<div class="vertical-timeline-item vertical-timeline-element"
								*ngFor="let timeline of statistiqueAdminModel?.listeOperation">
								<div> <span class="vertical-timeline-element-icon bounce-in">
										<span class="fa fa-circle {{timeline?.statut?.style}}Material circleTimeLine"
											aria-hidden="true"></span>

									</span>
									<div class="vertical-timeline-element-content bounce-in">
										<h4 class="timeline-title" style="cursor: pointer;"
											(click)="actualiteNavigateLink(timeline)">
											<span>Operation </span>
										</h4>
										<p>{{timeline?.gamme?.intitule}}</p>
										<span class="vertical-timeline-element-date"
											style="left: -98px;">{{timeline?.dateExecution.date | date :
											'dd/MM/yyyy'}}</span>

									</div>
								</div>
							</div>

						</div>

						<div
							*ngIf="statistiqueAdminModel?.listeOperation==null || statistiqueAdminModel?.listeOperation?.length==0">
							<p style="text-align: center;color: grey;">
								<span class="fa fa-exclamation-circle" aria-hidden="true">
								</span>
								Aucune donnée diponible
							</p>
						</div>



						<!-- fin timeline-->

					</div>
				</div>
			</div>





		</div>

	</div>


	<div class="col-lg-12">
		<span class="fa fa-chevron-circle-up scroll-to-top" [ngClass]="{'show-scroll': showScroll}"
			(click)="scrollToTop()" id="myBtn" style="cursor: pointer;font-size: 40px;float: right;"></span>
	</div>

</div>



<ng-template #modalBasicCoprop let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title" style="font-weight: 500;">Affectation bien(s) à co-propreietaire
		</h4>
		<!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>-->
	</div>
	<div class="col-md-12">

		<div class="modal-body">
			<div class="row">
				<div class="col-sm-12 mb-4">

					<p>Veuillez affecté un/des bien(s) à <span
							style="font-weight: 500;">{{selectedCoprop?.nomComplet}}</span> </p>

				</div>
				<!--  Appartement: -->
				<div class="col-sm-12 mb-4">
					<ng-select [items]="listBienProp" [multiple]="true" name="appartement"
						[(ngModel)]="selectedBienProp" bindLabel="label" ngDefaultControl placeholder="Choisir un bien">
					</ng-select>
				</div>
			</div>


		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit" (click)="activerCoprop()">Enregistrer</button>
			<button class="btn btn-outline-dark " type="button" (click)="oncloseDialogCoprop()">Annuler</button>
		</div>


	</div>
</ng-template>
<ng-template #modalBasic let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title" style="font-weight: 500;">Paramétres de confidentialités
		</h4>

	</div>
	<div class="col-md-12">
		<form [formGroup]="formBasicPrivacy" (ngSubmit)="submitPrivacy()">

			<div class="modal-body">
				<div class="row">
					<!--  Residence   -->
					<div class="col-sm-12 mb-2">
						<ng-select [items]="residences" (remove)="removeresidence($event)" ngDefaultControl
							(clear)="clearresidence($event)" formControlName="residence" name="residence"
							[multiple]="true" [(ngModel)]="selected" bindLabel="label" placeholder="Choisir un produit"
							[ngClass]="{ 'is-invalid': submitted &&  formBasicPrivacy.controls.residence.errors || (formBasicPrivacy.controls.residence.errors  && formBasicPrivacy.get('residence').touched )}"
							(change)="OnChangeResidence($event)">
						</ng-select>
						<div class="invalid-feedback "
							*ngIf="submitted &&  formBasicPrivacy.controls.residence.errors || (formBasicPrivacy.controls.residence.errors  && formBasicPrivacy.get('residence').touched )">
							Veuillez remplir ce champs !
						</div>
					</div>
					<!--  Bloc   -->
					<div class="col-sm-12 mb-2">
						<ng-select [items]="blocs" bindLabel="label" [multiple]="true" (remove)="removebloc($event)"
							ngDefaultControl (clear)="clearbloc($event)" formControlName="bloc" name="bloc"
							[(ngModel)]="blocsModel" placeholder="Choisir un bloc" (change)="OnChangeBloc($event)">
						</ng-select>
					</div>
					<!--  Appartement: -->
					<div class="col-sm-12 mb-4">
						<ng-select [items]="appartements" [multiple]="true" formControlName="appartement"
							name="appartement" [(ngModel)]="appartementsModel" bindLabel="label" ngDefaultControl
							placeholder="Choisir un bien">
						</ng-select>
					</div>
				</div>


			</div>
			<div class="modal-footer">

				<button class="btn btn-outline-dark " type="button" (click)="oncloseDialogPrivacy()">Annuler</button>
				<button class="btn btn-primary" type="submit">Enregistrer</button>
			</div>

		</form>
	</div>
</ng-template>
