<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
    cours ...
</h4>
</ngx-spinner>
<div class="modal-content ">
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Modifier un contrat</h4>
    </div>
    <form [formGroup]="formBasic" (ngSubmit)="onSubmit()" class=" col-md-12">
        <div class="modal-body">
            <div>
                <div class=" row">
                    <div class="col-sm-6 form-group mb-1">
                        <label class="col-form-label ">Résidence *:</label>
                        <ng-select [clearable]="true" [items]="residences" formControlName="residence" bindLabel="label"
                            placeholder="Choisir une résidence" bindValue="value"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )}">
                        </ng-select>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-sm-6 form-group  mb-1">
                        <label class="col-form-label ">Intitule du Contrat :</label>
                        <input class="form-control w-100" formControlName="intitule" placeholder="ex: Contrat ménage"
                            type="text"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.intitule.errors  || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )}">

                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group mb-1">
                        <label class=" col-form-label ">Type du contrat *:</label>
                        <ng-select [clearable]="true" [items]="types" formControlName="type" bindLabel="label"
                            placeholder="Choisir un type" bindValue="value"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )}">
                        </ng-select>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-6 form-group mb-1">
                        <label class=" col-form-label ml-3">Fournisseur *:</label>
                        <input class="form-control w-100" formControlName="fournisseur" placeholder="ex: ST001245300"
                            type="text"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.fournisseur.errors  || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )}">

                        <div class="invalid-feedback col-12 "
                            *ngIf="submitted &&  formBasic.controls.fournisseur.errors || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>

            </div>
            <div class=" row">
                <div class="col-6 form-group  mb-1">
                    <label class="col-form-label">Périodicité du payement *:</label>
                    <ng-select [clearable]="true" [items]="periodes" formControlName="periode" bindLabel="label"
                        placeholder="Choisir un type" bindValue="cbmarq"
                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.periode.errors || (formBasic.controls.periode.errors  && formBasic.get('periode').touched )}">
                    </ng-select>
                    <div class="invalid-feedback col-12"
                        *ngIf="submitted &&   formBasic.controls.periode.errors || (formBasic.controls.periode.errors  && formBasic.get('periode').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-6 form-group mb-1">
                    <label class=" col-form-label ">Montant par périodicité *:</label>
                    <input class="form-control w-100" formControlName="montant" placeholder="ex: ST001245300"
                        type="text"
                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.montant.errors  || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )}">

                    <div class="invalid-feedback col-12 "
                        *ngIf="submitted &&  formBasic.controls.montant.errors || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>

            </div>
            <!-- <div class=" row">
                    <div class="col-6 form-group  mb-1">
                        <label class="col-form-label  ml-3">Montant du contrat *:</label>
                        <div class="col-sm-12">
                            <input  class="form-control w-100" formControlName="montant" placeholder="ex: Contrat ménage" type="number" step="0.001"
                                    [ngClass]="{'is-invalid':submitted &&  formBasic.controls.montant.errors  || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )}">

                        </div>
                        <div class="invalid-feedback col-12"
                             *ngIf="submitted &&   formBasic.controls.montant.errors || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )">
                            <div *ngIf="formBasic.controls.montant.errors.min">
                                Nombre minimal = 0 !
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group mb-1">
                        <label class=" col-form-label ml-3"  >Fournisseur *:</label>
                        <div class="col-sm-12">
                            <input  class="form-control w-100" formControlName="fournisseur" placeholder="ex: ST001245300" type="text"
                                    [ngClass]="{'is-invalid':submitted &&  formBasic.controls.fournisseur.errors  || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )}">

                        </div>
                        <div class="invalid-feedback col-12 "
                             *ngIf="submitted &&  formBasic.controls.fournisseur.errors || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div> -->
            <div class=" row">
                <div class="col-sm-6 form-group calender mb-1">
                    <label class="col-form-label">Date début du contrat *:</label>
                    <mat-form-field appearance="fill">
                        <mat-label>Période du contrat</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start
                            date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date
                        </mat-error>
                    </mat-form-field>
                    <div class="invalid-feedback col-12 calendrr"
                        *ngIf="submitted &&   range.controls.start.errors || (range.controls.start.errors && range.get('start').touched)">
                        Veuillez remplir date debut !
                    </div>
                    <div class="invalid-feedback col-12 calendrr"
                        *ngIf="submitted &&   range.controls.end.errors || (range.controls.end.errors && range.get('end').touched)">
                        Veuillez remplir date fin !
                    </div>
                </div>
                <div class="col-md-6 form-group mb-1">
                    <label class=" col-form-label">Alert avant *:</label>
                    <div class="col-sm-12 pl-0">
                        <input class="form-control w-100" formControlName="dateAlert" type="number"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.dateAlert.errors  || (formBasic.controls.dateAlert.errors  && formBasic.get('dateAlert').touched )}">

                    </div>
                    <div class="invalid-feedback col-12 "
                        *ngIf="submitted &&  formBasic.controls.dateAlert.errors || (formBasic.controls.dateAlert.errors  && formBasic.get('dateAlert').touched )">
                        <div *ngIf="formBasic.controls.nbrBloc.errors.required">
                            Veuillez remplir ce champs !
                        </div>
                        <div *ngIf="formBasic.controls.nbrBloc.errors.min">
                            Nombre minimal = 0 !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
            <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
        </div>
    </form>
</div>
