<div class="breadcrumb">
  <h1>Trésorerie</h1>
  <ul>
    <li><a routerLink="/syndic/transferts">Transferts</a></li>
    <li>Détails</li>
  </ul>
</div>

  
  <div class="separator-breadcrumb border-top"></div>

  <!-- end of row-->


  <!-- new code of details -->

  <ngb-tabset class="nav-fill">
    <!-- Details -->
    <ngb-tab  >
        <ng-template ngbTabTitle>
            <div >Details Transfert</div>
        </ng-template>
        <ng-template ngbTabContent>

          <div>
            <!-- row toolbar-->
            <div class="row" >
              <div class="col-xl-3 col-lg-5 col-md-6 col-sm-6 col-12" style="display: flex;">
              </div>
              <div class="col-xl-9 col-lg-7 col-md-6 col-sm-6 col-12" style="float: right;">
                    <!-- bouton action Accepter/confirmer/annuler-->
                    <div class="row mb-2 text-sm-right" >
                      <div class="col-md-12">
                        <button class="btn btn-outline-dark mb-3 m-1" *ngIf="transfert?.statut?.code=='E0056'"
                        type="button" (click)="AnnulerTransfert(transfert.cbmarq)"> Annuler
                        </button>
                        <!-- sender-->
                        <button class="btn btn-primary mb-3 m-1 print-invoice"
                          *ngIf="transfert?.statut?.code=='E0056'" type="button"
                          (click)="confirmerTransfert(transfert.cbmarq)">
                          Confirmer
                        </button>
                       <!-- code :E0057 = confirmer / code:E0084 = Accepter / code: E0085: Transferer / code: E0059 :Confirmer DF-->

                        <!-- Btn destinataire final-->
                        <!-- accepter sans intermédiare -->
                        <button class="btn py-2 btn-outline-success mb-3 m-1" type="button"  title="Accepter (DF)"
                          *ngIf="can_edit?.permission && !admin  && (transfert?.userDestination?.id==id_current_user && transfert?.userIntermediere?.id==null) && (transfert.statut.code=='E0057')"
                           (click)="acceptTransfert(transfert.cbmarq)">
                            Accepter
                        </button>
                         <!-- accepter avec intermédiare -->
                          <button class="btn py-2 btn-outline-success mb-3 m-1" type="button" title="Accepter (DFI)"
                            *ngIf="can_edit?.permission && !admin  && (transfert?.userDestination?.id==id_current_user && transfert?.userIntermediere?.id!=null) && (transfert.statut.code=='E0085')"
                            (click)="acceptTransfert(transfert.cbmarq)">
                             Accepter
                          </button>
                        <!-- btn user intermidiare -->
                        <!-- accepter-->

                        <button class="btn py-2 btn-outline-success mb-3 m-1" type="button" title="Accepter (Intermédiare)"
                        *ngIf="can_edit?.permission && !admin  && (transfert?.userIntermediere?.id==id_current_user) && (transfert.statut.code=='E0057')" 
                        (click)="acceptSendTransfertIntermidiare(transfert.cbmarq,'Accepter')">
                          Accepter
                        </button>
                                            
                        <!-- transferer-->
                        <button class="btn py-2 btn-outline-primary mb-3 m-1" type="button" title="Tranferer (Intermédiare)"
                          *ngIf="can_edit?.permission && !admin  && (transfert?.userIntermediere?.id==id_current_user) && transfert.statut.code=='E0084'" 
                          (click)="acceptSendTransfertIntermidiare(transfert.cbmarq,'Envoyer')">
                           Envoyer
                        </button>                         

                      </div>
                    </div>
              </div>
            </div>
            <!-- row content -->
            <div class="row card mb-4 ">
              <div class="content-regl col-md-12">
                <div>
                  <div class="clearfix" style="margin-top: 10px;">
                    <div id="logo">
                      <h1>Transfert Ref° #{{transfert?.reference}}</h1>
                      <div > <strong>Date création:</strong> {{ transfert?.date}}</div>
                    </div>
                    <div id="invoice">

                      <div ><strong>Montant transféré : </strong> <span style="font-weight: bold; color: #213c94;">{{ transfert?.montant }}  {{infoPref?.devise}}</span></div>


                      <p><strong>Statut:  </strong>
                        <span  class="font-weight-600 text-{{transfert?.statut?.style}}"
                        style="font-size: 13px;">{{transfert?.statut?.label}}</span>
                      </p>

                    </div>

                  </div>
                  <hr style="margin-top: 10px;margin-bottom: 10px;">
                  <div>

                    <div class="row" id="details" style="margin: 0px;padding: 0px;">
                      <div id="client" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-2">
                        <p class="to">Infos Caisse Source:</p>
                        <p class="address"> <strong>Type :</strong>{{transfert?.typeCaisseSource?.label}}</p>
                        <p class="address" *ngIf="transfert?.caisseSource!=[]"> <strong>Intitule :</strong>  {{ transfert?.caisseSource?.intitule }}</p>
                        <p class="address" *ngIf="transfert?.caisseSource==[]"><strong>Intitule :</strong>  ---- </p>
                        <p class="email"><a ><strong>Responsable :</strong> {{ transfert?.userSource?.nomComplet }}</a></p>
                      </div>

                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-2" style="text-align: center;">
                        <!--<div class="to" style="color:#213c7f;"><strong>Infos Transporteur</strong></div>-->
                        <img src="assets/images/transfert_info.png"  alt="" *ngIf="transfert?.statut?.style!='success'">
                        <img src="assets/images/transfert_success.png"  alt="" *ngIf="transfert?.statut?.style=='success'">
                        <p class="address"> <strong>{{transfert?.userIntermediere?.nomComplet}}</strong> </p>

                      </div>
                      <div id="destinataire" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-2" style="display: grid;">
                        <p class="toDest textRight">Infos Caisse Destinataire:</p>
                        <p class="address textRight"><strong>Type :</strong>{{transfert?.typeCaisseDestination?.label}}</p>
                        <p class="address textRight" *ngIf="transfert?.caisseDestination?.intitule"><strong>Intitule :</strong> {{ transfert?.caisseDestination?.intitule }}</p>
                        <p class="address textRight" *ngIf="!transfert?.caisseDestination?.intitule"><strong>Intitule :</strong>  ---- </p>
                        <p class="email textRight"><a ><strong>Responsable :</strong> {{ transfert?.userDestination?.nomComplet }}</a></p>
                      </div>
                    </div>
                    <br>
                    <!-- table ligne -->
                    <div id="regl" class="col-md-12 table-responsive" *ngIf="lignes?.length>0 ">
                      <h5 class="font-weight-bold">Transfert</h5>
                      <table class="table table-hover mb-4" border="0" cellspacing="0" cellpadding="0">
                        <thead class="bg-gray-300">
                          <tr>
                            <th class="col-1">#</th>
                            <th class="col-7" style='text-align: center;'>Type</th>
                            <th class="col-3" style='text-align: center;'>Montant</th>
                            <th class="col-1" style='text-align: center;'>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let lig of lignes ; let i=index">
                            <td scope="row no" style="cursor: pointer;text-align: center">{{i+1}}</td>
                            <td style='text-align: center;'>
                              <span class=" p-1 badge badge-outline-{{ lig?.type?.style }}" >{{lig?.type?.label }}</span>
                            </td>
                            <td style='text-align: center;' class="font-weight-500 text-primary">
                              <span *ngIf="lig?.montant"> {{ lig?.montant }}</span>
                              <span *ngIf="!lig?.montant">-</span>
                            </td>
                            <td style="text-align: center;">
                              <button *ngIf="lig?.type?.code != 'E0072'" class="btn btn-outline-primary  ladda-button w-auto mr-1"
                                [routerLink]="[ '/syndic/details-reglement/', lig?.cbmarq ]" title='Détails règlement'
                                [ngClass]="{'d-none': viewMode === 'grid'}">
                                Voir Détails
                              </button>
                              <span *ngIf="lig?.type?.code == 'E0072'">----</span>
                            </td>
                          </tr>
                          <tr *ngIf="lignes.length == 0">
                            <td></td>
                            <td></td>
                            <td>Aucune ligne trouvé</td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="1"></td>
                            <td colspan="2">Montant Total</td>
                            <td>{{ transfert?.montant }}</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </ng-template>
    </ngb-tab>
    <!-- tracabilite -->
    <ngb-tab  >
      <ng-template ngbTabTitle>
          <div >Suivi Transfert</div>
      </ng-template>
      <ng-template ngbTabContent>


          <div class="row" style="height: 440px;overflow: scroll; position: relative;background: #6c757d;">
            <app-tracabilite-transfert></app-tracabilite-transfert>
          

          </div>
          <!-- bloc de code actuellement en commentaire -->
          <div class="row" style="margin-top: 12px; margin-left: -30px;  margin-right: -30px;" *ngIf="nodes?.length>0 && false">

            <div id="regl" class="col-md-12 table-responsive"  >

              <table class="table table-hover mb-4" border="0" cellspacing="0" cellpadding="0">
                <thead class="bg-gray-300">
                <tr>
                  <th class="col-1">#</th>
                  <th class="col-3" style='text-align: center;'>Source</th>
                  <th class="col-3" style='text-align: center;'>Destination</th>
                  <th class="col-2" style='text-align: center;'>Date</th>
                  <th class="col-2" style='text-align: center;'>Montant</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let lig of nodesTab ; let i=index">
                  <td scope="row no" style="cursor: pointer;text-align: center">{{i+1}}</td>
                  <td style='text-align: center;'>
                    <span class=" p-1 badge badge-outline" >{{lig?.detail?.caisseSource?.intitule }}</span>
                  </td>

                  <td style='text-align: center;'>
                    <span class=" p-1 badge badge-outline" >{{lig?.detail?.caisseDestination?.intitule }}</span>
                  </td>

                  <td style='text-align: center;' class="font-weight-500 text-primary">
                    <span *ngIf="lig?.detail?.date"> {{ lig?.detail?.date }}</span>
                    <span *ngIf="!lig?.detail?.date">-</span>

                  </td>
                  <td style='text-align: center;' class="font-weight-500 text-primary">
                    <span *ngIf="lig?.detail?.montant"> {{ lig?.detail?.montant }}</span>
                    <span *ngIf="!lig?.detail?.montant">-</span>

                  </td>




                </tr>
                <tr *ngIf="nodesTab.length == 0">
                  <td></td>
                  <td></td>
                  <td>Aucune ligne trouvé</td>
                  <td></td>
                  <td></td>
                </tr>
                </tbody>
                <tfoot>


                </tfoot>
              </table>
            </div>
          </div>

          
      </ng-template>
  </ngb-tab>
  </ngb-tabset>




  


