.badge{
    font-size: 95%;
}



//#4195fc
.boxShadow{
    border: 1px solid #213c7f;
    padding: 10px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 4px #213c7f;
    box-shadow: 0px 0px 4px #213c7f;
  }

  /** wz **/
  @font-face {
      font-family: SourceSansPro;
      src: url(../../../../../assets/fonts/SourceSansPro-Regular.ttf);
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
      padding-top: 10px;
    }

    a {
      color: #0087C3;
      text-decoration: none;
    }

    body {
      position: relative;
      width: 21cm;
      height: 29.7cm;
      margin: 0 auto;
      color: #555555;
      background: #FFFFFF;
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-family: SourceSansPro;
    }

    header {
      padding: 10px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #AAAAAA;
    }

    #logo {
      float: left;
      margin-top: 8px;
    }


    #logo img {
      height: 70px;
    }

    #company {
      float: right;
      text-align: right;
    }


    #details {
      margin-bottom: 50px;
    }

    #client {
      padding-left: 6px;
      border-left: 3px solid #213c7f;
      float: left;
    }

    #client .to {
        font-weight: bold;
        color: #213c7f;
    }

    #destinataire {
        padding-right: 6px;
        border-right: 3px solid #213c7f;
        float: right;
      }

      #destinataire .toDest {
        font-weight: bold;
        color: #213c7f;
      }

    h2.nameDest {
      font-size: 1.4em;
      font-weight: normal;
      margin: 0;
    }

    //========invoice

    #invoice {
      float: right;
      text-align: right;
      margin-top: 8px;
    }

    #logo h1 {
      color: #213c7f;
      font-size: 1.2em;
      line-height: 0.5em;
      font-weight: 500;
      margin: 0  0 10px 0;
    }

    #invoice .date {
      font-size: 1.1em;
      color: #777777;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 20px;
    }

    table th{
      padding: 10px;
      background: #EEEEEE;
      text-align: center;
      border-bottom: 1px solid #FFFFFF;
    }
    table td {
      padding: 10px;
      background: white;
      text-align: center;
      border-bottom: 1px solid #FFFFFF;
    }

    table th {
      white-space: nowrap;
      font-weight: normal;
    }

    table td {
      text-align: right;
    }

    table td h3{
      //color: #57B223;
      color: black;
      font-size: 1.2em;
      font-weight: normal;
      margin: 0 0 0.2em 0;
    }

    table .no {
      color: black;//#FFFFFF;
      font-size: 1.6em;
      background: white;//#81c784

      ;
    }

    table .desc {
      text-align: left;
    }

    table .unit {
      background: #DDDDDD;
    }

    table .qty {
    }

    table .total {
      background: black ;
      //background: #81c784 ;
      color: #FFFFFF;
    }

    table td.unit,
    table td.qty,
    table td.total {
      font-size: 1.2em;
    }

    table tbody tr:last-child td {
      border: none;
    }

    table tfoot td {
      padding: 10px 20px;
      background: #FFFFFF;
      border-bottom: none;
      font-size: 1.2em;
      white-space: nowrap;
      border-top: 1px solid #AAAAAA;
    }

    table tfoot tr:first-child td {
      border-top: none;
    }

    table tfoot tr:last-child td {
      //color: #81c784 ;
      color: black ;
      font-size: 1.4em;
      border-top: 1px solid black;

    }

    table tfoot tr td:first-child {
      border: none;
    }

    #thanks{
      font-size: 2em;
      margin-bottom: 50px;
    }

    #notices{
      padding-left: 6px;
      border-left: 6px solid #0087C3;
    }

    #notices .notice {
      font-size: 1.2em;
    }

    footer {
      color: #777777;
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: 0;
      border-top: 1px solid #AAAAAA;
      padding: 8px 0;
      text-align: center;
    }


    /**** suivi css ***/
    @import "~@angular/material/prebuilt-themes/indigo-pink.css";

    .bodyTransfert {
      font-family: Roboto, Arial, sans-serif;
      margin: 0;
      background: #6c757d;
    }

    .svg-area {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%; //372  440px
        border-radius: 10px;
        .svg-path {
          fill: none;
          stroke-width: 5px;
          stroke: rgba(255, 255, 255, 0.84);
          stroke-opacity: 0.8;
        }
      }

      .full-screen {
        width: 100%;
        height: 100%;
        position: relative;
      }


//scroll design
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; //b5b6b66e
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;//#b5b6b66e;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; //grey
}

//fin scroll design
.textRight{
  text-align: right;
  /*margin: 0px !important;
  line-height: 0px !important;*/
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    height: 6px;
}
