<div class="card col-md p-2 mb-4">
                             
    <div class="d-flex flex-md-row flex-sm-column flex-wrap m-3">
      <div *ngIf="ficheClient.produits==null || ficheClient.produits.length==0" class="col-12 px-0">
          <ngb-alert
              class="alert-card alert-warning mb-4 alert text-primary alert-dismissible"
              role="alert">
              <strong class="text-capitalize">Information !</strong>
               Cet utilisateur ne contient  pas des produits !
          </ngb-alert>
      </div>
      <!-- bien list-->
      <div *ngFor="let app of ficheClient.produits" class="pl-0 col-md-5 mr-2 pt-3">
        <div class="card card-profile-1 p-2 mb-4">
            <i class="cursor-close i-Close-Window at-right m-0"
                *ngIf="can_retireP?.permission"
                ></i>
            <div class="user-profile flex-line">
                <div class="user-info m-0 pb-3 px-2 ">
                    <img *ngIf="app?.photo==null"
                        class="profile-picture box-shadow-1  avatar-lg mb-1"
                        src="assets/images/faces/16.jpg" alt="">
                    <img *ngIf="app?.photo!=null"
                        class="profile-picture box-shadow-2 avatar-lg mb-1"
                        [src]="app.photo" alt="">
                </div>
                <div class="p-1">
                    <h5 class="font-weight-bold m-0">{{app.intitule}}</h5>
                    <p class="m-0">
                        <span class="fa fa-map-marker" aria-hidden="true" style="font-size: 15px;"></span>
                        {{app.adresse}}</p>     
                    
                  
                    <!-- nature-->
                    <p class="m-0" style="font-size: 12px;color: darkgrey !important;">
                    Nbr bloc : {{app.nbrBloc}}</p>

                    <p class="m-0 color-label" style="font-size: 12px;color: darkgrey !important">
                       Nbr appartement : {{app.nbrAppartement}}</p>

                    <button class="btn badge badge-primary px-2"
                        [routerLink]="['/syndic/details-residence/',app.cbmarq]">Détail
                    </button>
                </div>

            </div>
        </div>
    </div>
      <!---->
     
  </div>

     
  </div>
