<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
  <div class="col">
    <div class="row">
      <h1>Trésorerie</h1>
      <ul>
        <li><a routerLink="/syndic/depenses">Dépenses</a></li>
        <li>Détails</li>
      </ul>
    </div>
  </div>

  <div>
    <button class="btn btn-outline-dark mb-3 ml-2 m-1" type="button"
            *ngIf="depense?.statut?.code=='E0035' && can_confirm?.permission"
            (click)="Annulerdepense(depense.cbmarq)">

      Annuler
    </button>
    <button class="btn btn-primary  mb-3 w-2 ml-2 m-1" type="button"
            *ngIf="depense?.statut?.code=='E0035' && can_confirm?.permission"
            (click)="confirmerdepense(depense.cbmarq)">
      <!-- <span class="fa fa-check" aria-hidden="true"></span> -->
      Confirmer

    </button>
  </div>
</div>

  <div class="separator-breadcrumb border-top"></div>

  <!-- end of row-->
  <div class="row mb-4">
    <div class="content-regl col-md-12">
      <!-- toolbar -->
      <div class="row col-12 p-0">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12" style="display: flex;">
          <span class="font-weight-bold" *ngIf="depense?.statut?.code=='E0035'">Cette dépense est nouvellement enregistrée,
            si vous voulez la confirmer, cliquez sur « Confirmer » </span>
          <span class="font-weight-bold" *ngIf="depense?.statut?.code=='E0036'">Cette dépense est confirmée !</span>
          <span class="font-weight-bold" *ngIf="depense?.statut?.code=='E0037'">Cette dépense est annulée, vous ne pouvez pas  la confirmer !
          </span>
        </div>
<!--        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">-->

<!--           <button class="btn py-2 btn-outline-danger mb-3 btn-rounded m-1 alignRight" type="button" title="Annuler"  -->
<!--           *ngIf="depense?.statut?.code=='E0035' && can_confirm?.permission" -->
<!--           (click)="Annulerdepense(depense.cbmarq)">-->
<!--               <span class="fa fa-times font-weight-bold"></span> Annuler-->
<!--           </button>-->

<!--           <button class="btn py-2 btn-outline-success mb-3 btn-rounded m-1 alignRight" type="button" title="Confirmer"  -->
<!--           *ngIf="depense?.statut?.code=='E0035' && can_confirm?.permission" -->
<!--           (click)="confirmerdepense(depense.cbmarq)">-->
<!--               <span class="fa fa-check font-weight-bold"></span> Confirmer-->
<!--           </button>-->

<!--        </div>-->

      <div class="card col-12 p-3 mt-2 clearfix"  >
        <div class="row">
          <div class="col-md-6">
            <h5 class="font-weight-bold">Intitule</h5>
            <p># {{depense?.intitule }}</p>
            <h5 class="font-weight-bold">Description</h5>
            <p class="px-0">{{depense?.description}}</p>
          </div>
          <div class="col-md-6 text-sm-right">




            <p><strong>Statut: </strong>
              <span *ngIf="depense?.statut?.code=='E0035'" class="font-weight-600 text-danger"
                style="font-size: 13px;">{{depense?.statut?.label}}</span>
              <span *ngIf="depense?.statut?.code=='E0037'" class="font-weight-600 text-danger"
                style="font-size: 13px;">{{depense?.statut?.label}}</span>
              <span *ngIf="depense?.statut?.code=='E0036'" class="font-weight-600 text-success"
                style="font-size: 13px;">{{depense?.statut?.label}}</span>
            </p>
            <p><strong>Date création: </strong>{{ depense?.date}}</p>
          </div>
        </div>
        <div class="mt-3 mb-4 border-top"></div>

        <div class="row mb-3 flex-line">
          <div class="col-md-6">
            <div class="mb-3 mb-sm-0" *ngIf="depense?.residence!=null">
              <h5 class="font-weight-bold">Résidence</h5>
              <p><span>{{ depense?.residence?.intitule }}</span></p>
            </div>
            <div class="mb-3 mb-sm-0" *ngIf="depense?.groupement!=null">
              <h5 class="font-weight-bold">Groupement</h5>
              <p>{{ depense?.groupement?.intitule }}</p>
            </div>
            <div class="" *ngIf="depense?.compteur!=null">
              <h5 class="font-weight-bold">Dépense de type Compteur  </h5>
              <p>{{ depense?.compteur?.numero }}</p>
            </div>
            <div class="" *ngIf="depense?.contrat!=null">
              <h5 class="font-weight-bold">Contrat  </h5>
              <p>{{ depense?.contrat?.intitule }}</p>
            </div>
          </div>
          <div class="col-md-6" >
            <h5 class="font-weight-bold text-sm-right">Attachement </h5>
            <form [formGroup]="depenseForm" (ngSubmit)="onSubmit()" novalidate >
              <div class="form-group attachement" >  <!--*ngIf="depense?.statut?.code === 'E0035'"-->
                <div class="col-9 input-group pr-0" >
                  <div class="custom-file" *ngIf="can_edit?.permission || can_add?.permission">
                    <input type="file" class="form-control custom-file-input" required id="importFile"
                      (change)="onFileChange($event.target.files)"
                      [ngClass]="{ 'is-invalid': submitted &&  depenseForm.controls.document.errors || (depenseForm.controls.document.errors  && depenseForm.get('document').touched )}">
                    <label class="custom-file-label" #labelImport for="importFile">
                      <!-- <span class="fa fa-search"></span> *ngIf="!depense?.document"-->
                      <span *ngIf="!filenom" > Aucun fichier choisi ...</span>
                      <span *ngIf="filenom"> {{filenom}}</span>
                    </label>
                  
                  <div class="invalid-feedback col-9 mt-5"
                  *ngIf="submitted &&  depenseForm.controls.document.errors || (depenseForm.controls.document.errors  && depenseForm.get('document').touched )">
                  <div *ngIf="depenseForm.controls.document.errors.required">
                    Veuillez remplir ce champs !
                  </div>
                </div>
              </div>
                  <!--*ngIf="depense?.statut?.code === 'E0035'"-->
                  <button class=" ml-1 btn btn-primary" *ngIf="depense?.document && (can_edit?.permission || can_add?.permission)" title="Ajouter attachement" type="submit"><i title="Ajouter attachement" class="i-Pen-5"></i></button>
                  <button class=" ml-1 btn btn-primary" *ngIf="!depense?.document && (can_edit?.permission || can_add?.permission)" title="Ajouter attachement" type="submit"><i title="Ajouter attachement" class="i-Add"></i></button>
                  <button class=" ml-1 btn btn-outline-primary" *ngIf="can_edit?.permission || can_add?.permission" [disabled]="depense?.document == null" title="Voir attachement" type="button" (click)="openAttachement(depense?.document)"><i title="Voir attachement" class="i-Clouds"></i></button>
                </div>
              </div>
              <div class="py-2 attachement">
<!--                <a class="text-small text-info" *ngIf="depense?.document" type="button" (click)="openAttachement(depense?.document)"><span title="Voir attachement" class="fa fa-2x fa-paperclip text-5"></span> <span> {{depense?.nameDoc}}</span></a>-->
              </div>
            </form>
            <button class=" ml-1 btn btn-outline-primary" style="float: right;" *ngIf="!can_edit?.permission && !can_add?.permission" [disabled]="depense?.document == null" title="Voir attachement" type="button" (click)="openAttachement(depense?.document)"><i title="Voir attachement" class="i-Clouds"></i></button>
          </div>
        </div>
        <div class="row">
          <div id="regl" class="col-md-12 table-responsive">
            <h5 class="font-weight-bold">Lignes</h5>
            <table class="table table-hover mb-4">
              <thead class="bg-gray-300">
                <tr>
                  <th scope="col-1">#</th>
                  <th scope="col" style='text-align: center;'>Intitule</th>
                  <th scope="col" style='text-align: center;'>Montant nom payé</th>
                  <th scope="col" style='text-align: center;'>Montant payé</th>
                  <th scope="col" style='text-align: center;'>Statut</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lig of lignes; let i=index">
                  <th scope="row" style="cursor: pointer">{{i+1}}</th>
                  <td style='text-align: center;'>{{lig?.appartement?.intitule }}</td>
                  <td style='text-align: center;'>
                    <span *ngIf="lig?.montant">{{lig?.montant}}</span>
                    <span *ngIf="!lig?.montant">-</span>
                  </td>
                  <td style='text-align: center;' class="font-weight-500 text-primary">
                    <span> {{ lig?.payed }}</span>


                  </td>
                  <td style='text-align: center;'>

                    <span *ngIf="lig?.statut?.code==='E0028'"
                      class="badge badge-outline-success p-1">{{lig?.statut?.label}}</span>
                    <span *ngIf="lig?.statut?.code==='E0030'"
                      class="badge badge-outline-danger p-1 ">{{lig?.statut?.label}}</span>
                    <span *ngIf="lig?.statut?.code==='E0029'"
                      class="badge badge-outline-warning p-1 ">{{lig?.statut?.label}}</span>
                  </td>
                </tr>
                <tr *ngIf="lignes?.length == 0">
                  <td></td>
                  <td></td>
                  <td>Aucune ligne trouvé</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <div class="invoice-summary w-auto">
              <h5 class="font-weight-bold">Montant Dépense: <span>{{ depense?.montant.toFixed(3) }}  {{infoPref?.devise}} </span></h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<ng-template #modalLong let-modal style="top: 427px;left: 410px;">
  <!--    <div class="modal-dialog modal-lg" >-->
  <!--        <div class="modal-content ">-->
  <div class="modal-header text-center pb-1">
    <h4 class="modal-title  font-weight-bold " id="exampleModalLabel">Ajouter un document au dépense<br>
      <small class="text-muted">(NB: vous pouvez attacher une image )</small>
    </h4>

  </div>
  <div class="modal-body">
    <div>
      <div class=" row">
        <div class="col-12 form-group  mb-1">
          <label class="col-form-label ">Attachement:</label>
          <div class="input-group mb-3">
            <div class="custom-file">
              <div class="input-group col-sm-12">
                <div class="custom-file">
                  <input type="file" class="form-control custom-file-input" id="importFile"
                    (change)="onFileChange($event.target.files)"
                    accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf,image/png, image/jpeg, image/jpg" />
                  <label class="custom-file-label" id="nomfile" #labelImport for="importFile"><i
                      class="fas fa-search"></i>Sèlectionner un document ...</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-profile-1 mb-4">
                <div class="avatar box-shadow-2">
                  <div>
                    <img [src]="imgURL" alt="">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="addFile()">Confirmer</button>
    <button class="btn btn-outline-dark " type="button" (click)="modalService.dismissAll()()">Annuler</button>
  </div>
  <!--        </div>-->
  <!--    </div>-->
</ng-template>
