.custom-file-input ~ .custom-file-label::after {
  content: "Sélectionner";
}
.attachement {
  display: flex;
  justify-content: flex-end;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  padding-top: 10px;
}
