<div class="main-header">
    <div class="logo">
        <img src="./assets/images/syndic/axiasyndic-xl.png" alt="" style="cursor: pointer;" [routerLink]="['/dashboard']">
    </div>

    <div class="menu-toggle" (click)="toggelSidebar()">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="d-flex align-items-center">
        <!-- Mega menu -->
<!--        <div ngbDropdown class="mega-menu d-none d-md-block">-->
<!--            <button ngbDropdownToggle href="#" class="btn text-muted dropdown-toggle mr-3">Mega Menu</button>-->
<!--            <div ngbDropdownMenu perfectScrollbar>-->
<!--                <div class="row m-0">-->
<!--                    <div class="col-md-4 p-4 bg-img">-->
<!--                        <h2 class="title">Mega Menu <br> Sidebar</h2>-->
<!--                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores natus-->
<!--                            laboriosam fugit, consequatur.-->
<!--                        </p>-->
<!--                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit.-->
<!--                            Exercitationem odio amet eos dolore suscipit placeat.</p>-->
<!--                        <button class="btn btn-lg btn-rounded btn-outline-warning">Learn More</button>-->
<!--                    </div>-->
<!--                    <div class="col-md-4 p-4">-->
<!--                        <p class="text-primary text&#45;&#45;cap border-bottom-primary d-inline-block">Features</p>-->
<!--                        <div class="menu-icon-grid w-auto p-0">-->
<!--                            <a href="#"><i class="i-Shop-4"></i> Home</a>-->
<!--                            <a href="#"><i class="i-Library"></i> UI Kits</a>-->
<!--                            <a href="#"><i class="i-Drop"></i> Apps</a>-->
<!--                            <a href="#"><i class="i-File-Clipboard-File&#45;&#45;Text"></i> Forms</a>-->
<!--                            <a href="#"><i class="i-Checked-User"></i> Sessions</a>-->
<!--                            <a href="#"><i class="i-Ambulance"></i> Support</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-4 p-4">-->
<!--                        <p class="text-primary text&#45;&#45;cap border-bottom-primary d-inline-block">Components</p>-->
<!--                        <ul class="links">-->
<!--                            <li><a href="accordion.html">Accordion</a></li>-->
<!--                            <li><a href="alerts.html">Alerts</a></li>-->
<!--                            <li><a href="buttons.html">Buttons</a></li>-->
<!--                            <li><a href="badges.html">Badges</a></li>-->
<!--                            <li><a href="carousel.html">Carousels</a></li>-->
<!--                            <li><a href="lists.html">Lists</a></li>-->
<!--                            <li><a href="popover.html">Popover</a></li>-->
<!--                            <li><a href="tables.html">Tables</a></li>-->
<!--                            <li><a href="datatables.html">Datatables</a></li>-->
<!--                            <li><a href="modals.html">Modals</a></li>-->
<!--                            <li><a href="nouislider.html">Sliders</a></li>-->
<!--                            <li><a href="tabs.html">Tabs</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- Search bar -->
<!--        <div class="search-bar">-->
<!--            <input type="text" placeholder="Rechercher un produit" (focus)="searchService.searchOpen = true">-->
<!--            <i class="search-icon text-muted i-Magnifi-Glass1"></i>-->
<!--        </div>-->
    </div>

    <div style="margin: auto"></div>

    <div class="header-part-right">
        <i class="i-Magnifi-Glass1 header-icon" role="button" (click)="searchService.searchOpen = true" ></i>

        <div ngbDropdown [placement]="'bottom-right'" class="d-none d-sm-inline-block" 
                *ngIf="can_ViewType.permission || can_viewMaintenance.permission || can_ViewNotifications.permission || can_ViewSociete.permission">
            <i ngbDropdownToggle class="i-Gear text-muted header-icon" role="button"></i>
            <div ngbDropdownMenu class="menu-icon-grid-dropdown">
                <div class="menu-icon-grid">
                    <a routerLink="/syndic/config-types" *ngIf="can_ViewType.permission"><i class="i-Shop-4"></i> Types</a>
                    <a routerLink="/syndic/config-maintenance" *ngIf="can_viewMaintenance.permission"><i class="i-Library"></i> Maintenance</a>
                    <a routerLink="/syndic/config-notification" *ngIf="can_ViewNotifications.permission"><i class="i-Drop"></i> Notifications</a>
                    <a routerLink="/syndic/config-societe" *ngIf="can_ViewSociete.permission"><i class="i-File-Clipboard-File--Text"></i> Société</a>


                </div>
            </div>
        </div>

        <!--[placement]="'bottom-right'"-->

        <!-- notif-->
        <div ngbDropdown  >
            <div class="badge-top-container">
                <span class="badge badge-primary">{{lengthAlert}}</span>
                <i ngbDropdownToggle class="i-Bell text-muted header-icon" role="button"></i>
            </div>
            <div ngbDropdownMenu class="notification-dropdown rtl-ps-none" perfectScrollbar>
                <!-- alerte reunion -->
                <div class="dropdown-item d-flex" *ngFor="let item of listInvitReunion"
                    (click)="confirmInvitationReunion(item)">
                    <div class="notification-icon">
                        <i class="i-Mail-Send text-primary mr-1"></i>
                    </div>
                    <div class="notification-details flex-grow-1">
                        <p class="m-0 d-flex align-items-center">
                            <span style="font-weight: 500; color: black;">Invitation de réunion</span>
                            <span class="badge badge-pill badge-success ml-1 mr-1" *ngIf="!item.expirer">new</span>
                            <span class="badge badge-pill badge-danger ml-1 mr-1" *ngIf="item.expirer">expiré</span>
                            <span class="flex-grow-1"></span>
                            <span class="text-small text-muted ml-auto">{{item?.creerLe?.date | timeAgo}}</span>
                        </p>
                        <p class="text-small text-muted m-0 textEllipsis"> <span style="font-weight: 500;">Vers :</span>
                            {{item?.bien?.intitule}}</p>
                        <p class="text-small text-muted m-0 textEllipsis"> <span style="font-weight: 500;">Objet
                                :</span> {{item?.reunion?.Objet}}</p>
                    </div>
                </div>
                <!-- alert contrat-->
                <div class="dropdown-item d-flex" *ngFor="let item of listAlert" (click)="changeStatut(item.cbmarq)"
                    [ngStyle]="{'background-color':item.statut ===false ? '#eaf3fb' : 'white' }"
                    [routerLink]="['/syndic/contrats/alertes']">
                    <div class="notification-icon">
                        <i class="i-Clock text-success mr-1"></i>
                    </div>
                    <div class="notification-details flex-grow-1">
                        <p class="m-0 d-flex align-items-center">
                            <span style="font-weight: 500;">Alerte fin des contrats</span>
                            <span class="flex-grow-1"></span>
                            <span class="text-small text-muted ml-auto">{{item?.dateAlert?.date |
                                relativeTime}}</span>
                        </p>
                        <p class="text-small text-muted m-0">{{item?.intitule | excerpt:50}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div ngbDropdown *ngIf="role.includes('ROLE_ROOT')">
            <div class="badge-top-container">
                <i ngbDropdownToggle class="labelsociete text-mutedheader-icon" role="button"><label
                        class="rounded btn-outline-primary border pt-1 pb-2 pl-2 pr-4 border-primary text-16 mb-0">{{infosociete?.intitule}}</label>
                </i>
            </div>
            <div ngbDropdownMenu>
                <div class="dropdown-item" *ngFor="let item of listSocietes" >
                    <div style="cursor: pointer;" class="notification-details flex-grow-1">
                        <p class="m-0 d-flex align-items-center" (click)="changeSociete(item.cbmarq)">
                            <span style="font-weight: 500;" >{{item.intitule}}</span>
                    </div>


                </div>
            </div>
        </div>
        <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end">
            <img *ngIf="!details?.photo" src="./assets/images/faces/defaultAvatar.png" id="userDropdown" ngbDropdownToggle alt="">
            <img *ngIf="details?.photo" [src]="details?.photo" id="userDropdown" ngbDropdownToggle alt="">
            <div *ngIf="details" ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">
                <!-- <button class="dropdown-item"><i class="i-Lock-User mr-1"></i>{{details?.username}}</button> -->
                <!-- <button class="dropdown-item"> <i class="i-Lock-User mr-1"></i>{{details?.nomComplet}}</button> -->
                <div class="dropdown-item" *ngIf="role.includes('ROLE_ADMIN')" [routerLink]="['/syndic/details-utilisateur-interne',id]"><i class="i-Lock-User mr-1"></i>{{details?.nomComplet}}</div>
                <div class="dropdown-item" *ngIf="role.includes('ROLE_INTERN')" [routerLink]="['/syndic/details-utilisateur-interne',id]"><i class="i-Lock-User mr-1"></i>{{details?.nomComplet}}</div>
                <div class="dropdown-item" *ngIf="role.includes('ROLE_RESIDENT')" [routerLink]="['/syndic/details-utilisateur',id]"><i class="i-Lock-User mr-1"></i>{{details?.nomComplet}}</div>
                <div class="dropdown-item text-primary" (click)="logout()"> <i class="i-Left mr-1"></i> Se déconnecter</div>
            </div>
        </div>
    </div>

</div>
