.swal2-confirm {
    margin-left: 15px;
}

.textEllipsis{
    max-width: 146px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


  .badge {
    font-size: 10px;
}
.header-account-dropdown{
cursor: pointer;
}
