<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>

<div class="breadcrumb">
    <h1>Trésorerie</h1>
    <ul>
        <li><a routerLink="/syndic/transferts">Transferts</a></li>
        <li *ngIf="!modeEdit">Ajout</li>
        <li *ngIf="modeEdit">Modifier</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card px-3 mb-4">
            <div class="card-body pl-0">
                <form [formGroup]="transfertForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="row mx-0 ">
                        <div class="col-sm pr-0 flex-cols">
                            <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations
                                    Source
                                    :</strong></div>

                            <!-- type -->
                            <!--<div class="form-group mb-3">
                                <label>Type Caisse Source</label>
                                <ng-select [items]="typeCaisseSource" formControlName="typeCaisseSource"
                                           bindLabel="label" placeholder="Choisir type caisse" bindValue="cbmarq"
                                           (change)="onchangeTypeCaisseSource($event)"
                                           >
                                </ng-select>
                                <div class="invalid-feedback col-12"
                                     *ngIf="submitted &&  transfertForm.controls.typeCaisseSource.errors || (transfertForm.controls.typeCaisseSource.errors  && transfertForm.get('typeCaisseSource').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>-->

                            <!-- caisse source -->
                            <div class="form-group mb-3">
                                <label>Caisse source (*)</label>
                                <!--<ng-select [items]="listCaisseSource" formControlName="idCaisseSource"
                                           bindLabel="intitule" placeholder="Choisir caisse source" bindValue="cbmarq"
                                           (change)="onchangeCaisseSource($event)"
                                           [ngClass]="{ 'is-invalid': submitted &&  transfertForm.controls.idCaisseSource.errors || (transfertForm.controls.idCaisseSource.errors  && transfertForm.get('idCaisseSource').touched )}">
                                </ng-select>-->
                                <ng-select [items]="listCaisseSource" formControlName="idCaisseSource"
                                    bindLabel="intitule" placeholder="Choisir caisse source" bindValue="cbmarq"
                                    (change)="onchangeCaisseSource($event)" groupBy="groupe" [multiple]="false"
                                    [hideSelected]="false" [closeOnSelect]="true" [selectableGroup]="false"
                                    [clearable]="false"
                                    [ngClass]="{ 'is-invalid': submitted &&  transfertForm.controls.idCaisseSource.errors || (transfertForm.controls.idCaisseSource.errors  && transfertForm.get('idCaisseSource').touched )}">
                                    <ng-template ng-optgroup-tmp let-item="item">
                                        {{item.groupe || 'Unnamed group'}}
                                    </ng-template>
                                </ng-select>
                                <div class="invalid-feedback col-12"
                                    *ngIf="submitted &&  transfertForm.controls.idCaisseSource.errors || (transfertForm.controls.idCaisseSource.errors  && transfertForm.get('idCaisseSource').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                            <!-- resp-->
                            <div class="form-group mb-3">
                                <label>Responsable Caisse Source (*)</label>
                                <ng-select [items]="listResponsableSource" formControlName="userSource"
                                    bindLabel="nomComplet" placeholder="Choisir responsable source" bindValue="id"
                                    [ngClass]="{ 'is-invalid': submitted &&  transfertForm.controls.userSource.errors || (transfertForm.controls.userSource.errors  && transfertForm.get('userSource').touched )}">
                                </ng-select>
                                <div class="invalid-feedback col-12"
                                    *ngIf="submitted &&  transfertForm.controls.userSource.errors || (transfertForm.controls.userSource.errors  && transfertForm.get('userSource').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                        </div>
                        <div class="col-sm pr-0 flex-cols">
                            <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations
                                    Destinataire
                                    :</strong></div>

                            <!-- type -->
                            <!--<div class="form-group mb-3">
                                <label>Type Caisse Destinataire</label>
                                <ng-select [items]="typeCaisseDestinataire" formControlName="typeCaisseDestination"
                                           bindLabel="label" placeholder="Choisir type caisse destinataire"
                                           bindValue="cbmarq"
                                           (change)="onchangeTypeCaisseDestinataire($event)"
                                           [ngClass]="{ 'is-invalid': submitted &&  transfertForm.controls.typeCaisseDestination.errors || (transfertForm.controls.typeCaisseDestination.errors  && transfertForm.get('typeCaisseDestination').touched )}">
                                </ng-select>
                                <div class="invalid-feedback col-12"
                                     *ngIf="submitted &&  transfertForm.controls.typeCaisseDestination.errors || (transfertForm.controls.typeCaisseDestination.errors  && transfertForm.get('typeCaisseDestination').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>-->

                            <!-- caisse dest-->
                            <div class="form-group mb-3">
                                <label>Caisse Destinataire <span *ngIf="destinationIsRequired">(*)</span></label>
                                <!--<ng-select [items]="listCaisseDestinataire" formControlName="idCaisseDestination"
                                           [readonly]="changeCaisseDest=='E0055'" bindLabel="intitule"
                                           placeholder="Choisir caisse destinataire" bindValue="cbmarq"
                                           (change)="onchangeCaisseDestinataire($event)"
                                           [ngClass]="{ 'is-invalid': submitted &&  transfertForm.controls.idCaisseDestination.errors || (transfertForm.controls.idCaisseDestination.errors  && transfertForm.get('idCaisseDestination').touched )}">
                                </ng-select>-->
                                <ng-select [items]="listCaisseDestinataire" formControlName="idCaisseDestination"
                                    name="idCaisseDestination" bindLabel="intitule"
                                    placeholder="Choisir caisse destination" [readonly]="changeCaisseDest=='E0055'"
                                    bindValue="cbmarq" (change)="onchangeCaisseDestinataire($event)" groupBy="groupe"
                                    [multiple]="false" [hideSelected]="false" [closeOnSelect]="true"
                                    [selectableGroup]="false" [clearable]="false"
                                    [ngClass]="{ 'is-invalid': submitted &&  transfertForm.controls.idCaisseDestination.errors || (transfertForm.controls.idCaisseDestination.errors  && transfertForm.get('idCaisseDestination').touched )}">
                                    <ng-template ng-optgroup-tmp let-item="item">
                                        {{item.groupe || 'Unnamed group'}}
                                    </ng-template>
                                </ng-select>

                                <div class="invalid-feedback col-12"
                                     *ngIf="submitted &&  transfertForm.controls.idCaisseDestination.errors || (transfertForm.controls.idCaisseDestination.errors  && transfertForm.get('idCaisseDestination').touched )">
                                    Veuillez remplir ce champs !
                                </div>
                            </div>
                            <!-- responsable dest-->
                            <div class="form-group mb-3">
                                <label>Responsable Caisse Destinataire <span *ngIf="destinationIsRequired">(*)</span></label>
                                <ng-select [items]="listResponsableDestinataire" formControlName="userDestination"
                                           bindLabel="nomComplet" placeholder="Choisir responsable destinataire"
                                           bindValue="id"
                                           [ngClass]="{ 'is-invalid': submitted &&  transfertForm.controls.userDestination.errors || (transfertForm.controls.userDestination.errors  && transfertForm.get('userDestination').touched )}">
                                </ng-select>

                                <div class="invalid-feedback col-12"
                                    *ngIf="submitted &&  transfertForm.controls.userDestination.errors || (transfertForm.controls.userDestination.errors  && transfertForm.get('userDestination').touched )">
                                Veuillez remplir ce champs !
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- <hr style="padding: 0px;margin: 15px;"> -->
                    <!-- info transporteur -->

                    <div class="row mx-0 ">
                        <div class="col-sm-12 pr-0 flex-cols">
                            <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations
                                Transporteur
                                :</strong></div>
                            <div class="form-group mb-3">
                                <label>Transporteur</label>
                                <ng-select [items]="listTransporteur" formControlName="userIntermediere"  (change)="onchangeTransporteur($event)"
                                        bindLabel="nomComplet" placeholder="Choisir un transporteur"  (clear)="clearTransporteur($event)"
                                        bindValue="id"
                                        >
                                </ng-select>

                            </div>
                        </div>

                    </div>

                    <!-- montant-->
                    <div class="row mx-0 ">
                        <div class="col-sm-12 pr-0 flex-cols">
                            <label>Montant</label>
                            <input class="form-control" formControlName="montant" placeholder="ex: 500" type="number"
                                   readonly step="0.01"
                                   [ngClass]="{ 'is-invalid': submitted &&  transfertForm.controls.montant.errors || (transfertForm.controls.montant.errors  && transfertForm.get('montant').touched )}">
                            <div class="invalid-feedback col-12"
                                 *ngIf="submitted &&  transfertForm.controls.montant.errors || (transfertForm.controls.montant.errors  && transfertForm.get('montant').touched )">
                                <div *ngIf="transfertForm.controls.montant.errors.required">
                                    Veuillez remplir ce champs !
                                </div>
                                <div *ngIf="submitted && transfertForm.controls.montant.errors.min ">
                                    Montant de réglement doit étre positive.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 pr-0" [class.disabled-table]="!transfertForm.value.idCaisseSource ">
                        <table class="table table-hover my-3">
                            <thead class="bg-gray-300">
                            <tr>
                                <th scope="col" width="5%">Sélection</th>
                                <th scope="col" style='text-align: center;'>Type</th>
                                <th scope="col" style='text-align: center;width:30%'>Montant</th>
                                <th scope="col" style='text-align: center;'>Montant à transférer</th>
                            </tr>
                            </thead>
                            <tbody formArrayName="lignes" [class.disabled-table]="transfertForm.value.idCaisseSource ">
                            <tr *ngFor="let lig of lignes().controls ; let ligIndex=index"
                                formGroupName="{{ligIndex}}">
                                <td class="text-center">
                                    <label class="checkbox checkbox-outline-primary">
                                        <input type="checkbox" [checked]="true"
                                               (change)="checkCheckBoxvalue($event,ligIndex)" value="{{lig.selected}}"
                                               formControlName="selected">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="text-center">
                                    <!-- <input class="form-control" type="string" formControlName="type" readonly /> -->
                                    <ng-select [items]="listtypetransfert" formControlName="type" [readonly]="true"
                                               [ngClass]="{ 'is-invalid': submitted &&  lig.get('type').errors || (lig.get('type').errors  && lig.get('type').errors.touched )}"
                                               bindLabel="label" bindValue="value"></ng-select>
                                </td>
                                <td class="text-center">
                                    <input class="form-control" type="number" formControlName="montant" readonly
                                           [ngClass]="{ 'is-invalid': submitted &&  lig.get('montant').errors || (lig.get('type').errors  && lig.get('montant').errors.touched )}"/>
                                </td>
                                <td class="text-center">
                                    <input class="form-control" type="number" formControlName="montantTransfert"
                                           (change)="changeMontant($event)" [readonly]="lig.get('type').value!=72 || lig.get('montant').value==null || lig.get('montant').value==0"
                                           [ngClass]="{ 'is-invalid': submitted &&  lig.get('montantTransfert').errors || (lig.get('montantTransfert').errors  && lig.get('montantTransfert').errors.touched )}"/>

                                    <div class="invalid-feedback col-12" *ngIf="submitted &&  lig.get('montantTransfert').errors || (lig.get('montantTransfert').errors  && lig.get('montantTransfert').touched )">
                                        <div *ngIf="lig.get('montantTransfert').errors.required">
                                            Veuillez remplir ce champs !
                                        </div>
                                        <div *ngIf="lig.get('montantTransfert').errors.max ">
                                            Montant invalide .
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            <tr *ngIf="lignes().controls.length == 0">
                                <td></td>
                                <td style='text-align: center;'>Aucune données trouver !!</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 pr-0 my-3 text-right">
                        <button type="button" class="btn btn-dark m-1"
                                [routerLink]="['/syndic/transferts']">Annuler
                        </button>
                        <button class="btn btn-outline-primary " type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
