.flex-cols{
    display: flex;
    flex-direction: column;
}
.flex-rows{
    display: flex;
}
td input { 
    text-align: center; 
}
@media (max-width: 900px) {
    .mobile-label{
        width: auto;
    }

}
