<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>

    <div class="breadcrumb">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a routerlink="/syndic/contrats">Services</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 mb-4">
            <div class="row mb-2 mt-2">
                <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                    <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                    <button class="btn btn-primary mb-sm-0 mb-3 alignRight" *ngIf="can_add?.permission"
                        [routerLink]="['/syndic/ajouter-contrat']">
                        Ajouter
                    </button>
                </div>


            </div>



            <div class="card" *ngIf="can_liste?.permission">
                <div class="example-container mat-elevation-z8">
                    <mat-table class="table" [dataSource]="dataSource" matSort>
                        <!-- Numéro Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef>
                                Type
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Type:</span>
                                <span class="badge badge-pill badge-outline-secondary p-2 ">
                                    {{ row.type }}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Réference colis Column -->
                        <ng-container matColumnDef="intitule">
                            <mat-header-cell *matHeaderCellDef>Intitule</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Intitule:</span>
                                {{ row.intitule }}
                            </mat-cell>
                        </ng-container>
                        <!-- Date Column -->
                        <ng-container matColumnDef="fournisseur">
                            <mat-header-cell *matHeaderCellDef>Fournisseur</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Fournisseur:</span>
                                {{ row.fournisseur }}
                            </mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="montant">
                            <mat-header-cell *matHeaderCellDef>Montant</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Montant:</span>
                                {{ row.montant }}
                            </mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="dateDebut">
                            <mat-header-cell *matHeaderCellDef>Date Debut</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Date Debut:</span>
                                {{ row?.dateDebutList }}
                            </mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="dateFin">
                            <mat-header-cell *matHeaderCellDef>Date Fin</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Date Fin:</span>
                                {{ row?.dateFinList }}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Action:</span>
                                <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1"
                                    *ngIf="can_edit?.permission" title="Modifier"
                                    [routerLink]="['/syndic/modifier-contrat',row.cbmarq]"></span>

                                <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                    *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>



                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Aucune donnée trouvée
                            </td>
                        </tr>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>

</div>
<!--  Modal add reglement -->
<!--<div  class="modal fade" id="exModal" tabindex="-1" role="dialog" >-->
<ng-template #modalLongg let-modal>
    <!--    <div class="modal-dialog modal-lg" >-->
    <!--        <div class="modal-content ">-->
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter un service</h4>
    </div>
    <form [formGroup]="formBasic" (ngSubmit)="onSubmit()" class=" col-md-12">
        <div class="modal-body">
            <div>
                <div class=" row">
                    <div class="col-sm-6 form-group mb-1">
                        <label class="col-form-label ">Résidence *:</label>
                        <ng-select [clearable]="true" [items]="residences" formControlName="residence" bindLabel="label"
                            placeholder="Choisir une résidence" bindValue="value"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )}">
                        </ng-select>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-sm-6 form-group  mb-1">
                        <label class="col-form-label ">Intitule du service :</label>
                        <input class="form-control w-100" formControlName="intitule" placeholder="ex: Contrat ménage"
                            type="text"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.intitule.errors  || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )}">

                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group mb-1">
                        <label class=" col-form-label ">Type du service *:</label>
                        <ng-select [clearable]="true" [items]="types" formControlName="type" bindLabel="label"
                            placeholder="Choisir un type" bindValue="value"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )}">
                        </ng-select>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-6 form-group mb-1">
                        <label class=" col-form-label ml-3">Fournisseur *:</label>
                        <input class="form-control w-100" formControlName="fournisseur" placeholder="ex: ST001245300"
                            type="text"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.fournisseur.errors  || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )}">

                        <div class="invalid-feedback col-12 "
                            *ngIf="submitted &&  formBasic.controls.fournisseur.errors || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>

            </div>
            <div class=" row">
                <div class="col-6 form-group  mb-1">
                    <label class="col-form-label">Périodicité du payement *:</label>
                    <ng-select [clearable]="true" [items]="periodes" formControlName="periode" bindLabel="label"
                        placeholder="Choisir une période" bindValue="cbmarq"
                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.periode.errors || (formBasic.controls.periode.errors  && formBasic.get('periode').touched )}">
                    </ng-select>
                    <div class="invalid-feedback col-12"
                        *ngIf="submitted &&   formBasic.controls.periode.errors || (formBasic.controls.periode.errors  && formBasic.get('periode').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-6 form-group mb-1">
                    <label class=" col-form-label ">Montant par périodicité *:</label>
                    <input class="form-control w-100" formControlName="montant" placeholder="ex: ST001245300"
                        type="text"
                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.montant.errors  || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )}">

                    <div class="invalid-feedback col-12 "
                        *ngIf="submitted &&  formBasic.controls.montant.errors || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>

            </div>
            <!-- <div class=" row">
                    <div class="col-6 form-group  mb-1">
                        <label class="col-form-label  ml-3">Montant du contrat *:</label>
                        <div class="col-sm-12">
                            <input  class="form-control w-100" formControlName="montant" placeholder="ex: Contrat ménage" type="number" step="0.001"
                                    [ngClass]="{'is-invalid':submitted &&  formBasic.controls.montant.errors  || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )}">

                        </div>
                        <div class="invalid-feedback col-12"
                             *ngIf="submitted &&   formBasic.controls.montant.errors || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )">
                            <div *ngIf="formBasic.controls.montant.errors.min">
                                Nombre minimal = 0 !
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group mb-1">
                        <label class=" col-form-label ml-3"  >Fournisseur *:</label>
                        <div class="col-sm-12">
                            <input  class="form-control w-100" formControlName="fournisseur" placeholder="ex: ST001245300" type="text"
                                    [ngClass]="{'is-invalid':submitted &&  formBasic.controls.fournisseur.errors  || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )}">

                        </div>
                        <div class="invalid-feedback col-12 "
                             *ngIf="submitted &&  formBasic.controls.fournisseur.errors || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div> -->
            <div class=" row">
                <div class="col-sm-6 form-group calender mb-1">
                    <label class="col-form-label">Date début du service *:</label>
                    <mat-form-field appearance="fill">
                        <mat-label>Période du service</mat-label>
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date">
                            <input matEndDate formControlName="end" placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start
                            date</mat-error>
                        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date
                        </mat-error>
                    </mat-form-field>
                    <div class="invalid-feedback col-12 calendrr"
                        *ngIf="submitted &&   range.controls.start.errors || (range.controls.start.errors && range.get('start').touched)">
                        Veuillez remplir date debut !
                    </div>
                    <div class="invalid-feedback col-12 calendrr"
                        *ngIf="submitted &&   range.controls.end.errors || (range.controls.end.errors && range.get('end').touched)">
                        Veuillez remplir date fin !
                    </div>
                </div>
                <div class="col-md-6 form-group mb-1">
                    <label class=" col-form-label">Alert avant *:</label>
                    <div class="col-sm-12 pl-0">
                        <input class="form-control w-100" formControlName="dateAlert" type="number"
                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.dateAlert.errors  || (formBasic.controls.dateAlert.errors  && formBasic.get('dateAlert').touched )}">

                    </div>
                    <div class="invalid-feedback col-12 "
                        *ngIf="submitted &&  formBasic.controls.dateAlert.errors || (formBasic.controls.dateAlert.errors  && formBasic.get('dateAlert').touched )">
                        <div *ngIf="formBasic.controls.nbrBloc.errors.required">
                            Veuillez remplir ce champs !
                        </div>
                        <div *ngIf="formBasic.controls.nbrBloc.errors.min">
                            Nombre minimal = 0 !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
            <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
        </div>
    </form>
    <!--        </div>-->
    <!--    </div>-->
</ng-template>
<!--</div>-->
<!-- end modal add reglement -->
<!-- end of row-->
