<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a href="#">Contrats</a></li>
            <li>Alertes</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="row mb-4">
        <div class="col-sm-12 mb-4">
            <div class="card mb-4" *ngFor="let alert of listAlert">
                <div class="card-body" [ngStyle]="{'background-color':alert.statut ===false ? '#eaf3fb' : 'white' }">
                    <div class="col-sm-12 pl-0 flex-line">
                        <span>
                            <label class="mb-0 text-primary "><b>Date alerte </b>&nbsp;&nbsp;</label>
                            <span class="badge badge-primary date p-2 mb-2"> {{alert.date }}</span>
                        </span>
                        <span class="pr-3 item text-green" *ngIf="alert.statut">Vue
                            <span class="pl-1 fa fa-eye text-green"></span>
                            </span>
                        <span class="item text-danger" *ngIf="!alert.statut">Non Vue
                            <span class="pl-3 fa fa-eye-slash text-danger"></span>
                        </span>
                    </div>
                    <div>

                    </div>
                    <h4>{{alert.intitule}}</h4>
                    <div class="separator-breadcrumb border-top my-2"></div>
                </div>
            </div>

        </div>

    </div>
