.flex-line {
    justify-content: space-between;
}
.date {
    font-size: 90%;
}
.item {
    display: flex;
    flex-direction: column-reverse;
}
.text-green {
    color: green;
}
.text-green,
.text-danger {
    font-size: 12px;
    font-style: italic;
}
