<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb" *ngIf="router.url=='/syndic/appartements'">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a routerLink='/syndic/appartements'>Biens</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top" *ngIf="router.url=='/syndic/appartements'"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 mb-4">

            <div class="row mb-2 mt-2">

                <div class="col-xl col-lg col-md col-sm-12 mb-2">
                    <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-12 pl-lg-0">
                    <button class="btn btn-primary mb-sm-0 ml-2 mb-2 alignRight "
                        *ngIf="!typeterrain && can_generate?.permission" (click)="open(modalBasic)">
                        Générer
                    </button>
                    <button class="btn btn-primary mb-sm-0  mb-2 alignRight"   *ngIf="can_add?.permission" (click)="addAppartement()" >
                        Ajouter
                    </button>
                    
                </div>   
                    
   
              
            </div>
            <div class="card" *ngIf="can_liste?.permission">
                <div class="example-container mat-elevation-z8">
                    <mat-table class="table" [dataSource]="dataSource" matSort>
                        <!-- nature Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Type:</span>
                                <!--<span class="badge badge-pill badge-outline-secondary p-2 ">{{ row.type1}}</span>-->
                               <p *ngIf="row.type1==='Habitation'" style="font-weight: 500;"> <span class="fa fa-bed" style="color: #26a69a;" ></span> &nbsp; {{ row.type1}}</p>
                               <p *ngIf="row.type1==='Commercial'" style="font-weight: 500;"> <span class="fa fa-usd" style="color: #ffbb33;" ></span> &nbsp; {{ row.type1}} </p>
                               <p *ngIf="row.type1==='Parking'" style="font-weight: 500;"> <span class="fa fa-car" style="color: black;" ></span> &nbsp; {{ row.type1}} </p>

                            
                            </mat-cell>
                        </ng-container>

                        <!-- intitule Column -->
                        <ng-container matColumnDef="intitule">
                            <mat-header-cell *matHeaderCellDef>Intitule</mat-header-cell>
                            <mat-cell *matCellDef="let row"
                                [routerLink]="can_detail?.permission ? [ '/syndic/details-appartement/', row?.cbmarq] : []"
                                title='Détails'>
                                <span class="mobile-label mr-2">Intitule:</span>
                                {{ row?.intitule }}
                            </mat-cell>
                        </ng-container>

                        <!-- intitule Column -->
                        <ng-container matColumnDef="prop">
                            <mat-header-cell *matHeaderCellDef>Propriétaire</mat-header-cell>
                            <mat-cell *matCellDef="let row"
                                      [routerLink]="can_detail?.permission ? [ '/syndic/details-appartement/', row?.cbmarq] : []"
                                      title='Détails'>
                                <span class="mobile-label mr-2">Intitule:</span>
                               <span style="font-weight: bolder"> {{ row?.prop?.nomComplet }} </span>
                            </mat-cell>
                        </ng-container>
                        <!-- residence Column -->
                        <ng-container matColumnDef="residence">
                            <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
                            <mat-cell *matCellDef="let row"
                                [routerLink]="can_detail?.permission ? [ '/syndic/details-appartement/', row?.cbmarq] : []"
                                title='Détails'>
                                <span class="mobile-label mr-2"> Produit:</span>
                                {{ row.residence1}}
                            </mat-cell>
                        </ng-container>
                        <!-- bloc Column -->
                        <ng-container matColumnDef="bloc">
                            <mat-header-cell *matHeaderCellDef>Bloc</mat-header-cell>
                            <mat-cell *matCellDef="let row"
                                [routerLink]="can_detail?.permission ? [ '/syndic/details-appartement/', row?.cbmarq] : []"
                                title='Détails'>
                                <span class="mobile-label mr-2"> Bloc:</span>
                                {{ row.bloc1}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="statut">
                            <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="mobile-label mr-2"> Statut:</span>
                                <span class=" badge badge-square badge-square-opacity-{{ row?.statut1?.style }} m-1">
                                    {{row.statut}}</span>

                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef
                                [hidden]="can_edit?.permission!=true && can_delete?.permission!=true">Action
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"
                                [hidden]="can_edit?.permission!=true && can_delete?.permission!=true">
                                <span class="mobile-label mr-2"> Action:</span>
                                <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1"
                                    *ngIf="can_edit?.permission" title="Modifier" (click)="editAppartement(row)"></span>

                                <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                    *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>


                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="5">Aucune donnée trouvée
                            </td>
                        </tr>
                        <div *ngIf="dataSource?.data?.length === 0"></div>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- end of row-->

<!--  Modal générer appartement-->
<ng-template #modalBasic class="generer" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title1">Générer Bien</h5>
    </div>
    <form [formGroup]="appartementForm" novalidate (ngSubmit)="onSubmit()" class=" col-md-12">
        <div class="modal-body">
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label>Intitulé produit (*)</label>
                    <ng-select [clearable]="true" [items]="residences" [readonly]="modeResidence"
                        formControlName="residence" bindLabel="label" placeholder="Choisir un produit"
                        bindValue="value" (change)="onchangeResidence($event)"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.residence.errors || (appartementForm.controls.residence.errors  && appartementForm.get('residence').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.residence.errors || (appartementForm.controls.residence.errors  && appartementForm.get('residence').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <label>Intitulé bloc (*)</label>
                    <ng-select [clearable]="true" [items]="blocs" formControlName="bloc" bindLabel="label"
                        placeholder="Choisir un bloc" bindValue="value"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.bloc.errors || (appartementForm.controls.bloc.errors  && appartementForm.get('bloc').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.bloc.errors || (appartementForm.controls.bloc.errors  && appartementForm.get('bloc').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label>Nombre de bien (*)</label>
                    <input type="number" class="form-control form-control-specialiser" formControlName="nbrAppartement"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.nbrAppartement.errors || (appartementForm.controls.nbrAppartement.errors  && appartementForm.get('nbrAppartement').touched )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.nbrAppartement.errors || (appartementForm.controls.nbrAppartement.errors  && appartementForm.get('nbrAppartement').touched )">
                        <div *ngIf=" appartementForm.controls.nbrAppartement.errors.min">
                            Veuillez remplir ce champs !
                        </div>
                        <div *ngIf=" appartementForm.controls.nbrAppartement.errors.min">
                            Nombre minimal = 1 !
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <label>Surface :</label>
                    <input type="number" class="form-control form-control-specialiser" formControlName="surface"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.surface.errors || (appartementForm.controls.surface.errors  && appartementForm.get('surface').touched )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.surface.errors || (appartementForm.controls.surface.errors  && appartementForm.get('surface').touched )">
                        <div *ngIf="appartementForm.controls.surface.errors.min">
                            Nombre minimal = 1 !
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label>Prefix (*)</label>
                    <input type="text" class="form-control form-control-specialiser" formControlName="prefix"
                        placeholder="Ex: A"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.prefix.errors || (appartementForm.controls.prefix.errors  && appartementForm.get('prefix').touched )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.prefix.errors || (appartementForm.controls.prefix.errors  && appartementForm.get('prefix').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <label>Suffix (*)</label>
                    <input type="tel" class="form-control form-control-specialiser" formControlName="suffix"
                        placeholder="Ex: 1"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.suffix.errors || (appartementForm.controls.suffix.errors  && appartementForm.get('suffix').touched )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.suffix.errors || (appartementForm.controls.suffix.errors  && appartementForm.get('suffix').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label>Type (*)</label>
                    <ng-select [clearable]="true" [items]="types" formControlName="type" bindLabel="label"
                        placeholder="Choisir un type" bindValue="value"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.type.errors || (appartementForm.controls.type.errors  && appartementForm.get('type').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.type.errors || (appartementForm.controls.type.errors  && appartementForm.get('type').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <label>Nature (*)</label>
                    <ng-select [clearable]="true" [items]="natures" formControlName="nature" bindLabel="label"
                        placeholder="Choisir une nature" bindValue="value"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.nature.errors || (appartementForm.controls.nature.errors  && appartementForm.get('nature').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.nature.errors || (appartementForm.controls.nature.errors  && appartementForm.get('nature').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3">
                <label>Description</label>
                <textarea class="form-control form-control-specialiser" formControlName="description">
                </textarea>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline-dark " type="button"
                (click)="modal.close();appartementForm.reset()">Annuler</button>
            <button class="btn btn-primary" type="submit">Générer </button>

        </div>
    </form>
</ng-template>
<!-- end modal générer appartement-->
