.flex-line {
    display: flex;
}
.generer .modal-content {
    width: 600px;
}
.badge-pill {
    font-size: 95%;
}
@media (max-width: 900px) {
    .mat-column-type {
        padding-left: 0px;
    }
}
