<ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
<div class="modal-content">

    <div class="modal-header">
        <h4 *ngIf="!defaults?.default" class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter un bien</h4>
        <h4 *ngIf="defaults?.default" class="modal-title font-weight-bold " id="exampleModalLabel">Modifier un bien</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClose('close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="appartementForm" (ngSubmit)="onSubmit()" class="col-md-12">
        <div class="modal-body">
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-12 px-0">
                    <label>Catégorie bien :</label>
                    <ng-select  [clearable]="false" [items]="categorie" formControlName="categorie" [readonly]="defaults?.idres"
                               bindLabel="label" placeholder="Choisir une catégorie" bindValue="value"  [(ngModel)]="selectedCat"
                               (change)="onChangeCat($event)"
                               [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.categorie.errors || (appartementForm.controls.categorie.errors  && appartementForm.get('categorie').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                         *ngIf="submitted &&  appartementForm.controls.categorie.errors || (appartementForm.controls.categorie.errors  && appartementForm.get('categorie').touched )">
                        Veuillez remplir ce champs ! 
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0" [ngClass]="{'col-sm-12':codeCat == 'E0065'}">
                    <label>Intitulé produit (*) </label>
                    <ng-select [clearable]="true" [items]="residences" formControlName="residence" [readonly]="defaults?.idres"
                        bindLabel="label" placeholder="Choisir une résidence" bindValue="value"
                        (change)="onchangeResidence($event)"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.residence.errors || (appartementForm.controls.residence.errors  && appartementForm.get('residence').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.residence.errors || (appartementForm.controls.residence.errors  && appartementForm.get('residence').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
<!--                [readonly]="defaults"-->
                <div class="col-sm-6 px-0" *ngIf="codeCat && codeCat == 'E0064'">
                    <label>Intitulé bloc (*)</label>
                    <ng-select [clearable]="true" [items]="blocs" formControlName="bloc"
                        bindLabel="label" placeholder="Choisir un bloc" bindValue="value"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.bloc.errors || (appartementForm.controls.bloc.errors  && appartementForm.get('bloc').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.bloc.errors || (appartementForm.controls.bloc.errors  && appartementForm.get('bloc').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-12 px-0">
                    <label>Intitulé bien (*)</label>
                    <input type="text" class="form-control form-control-specialiser" formControlName="intitule"
                           [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.intitule.errors || (appartementForm.controls.intitule.errors  && appartementForm.get('intitule').touched )}" />
                    <div class="invalid-feedback "
                         *ngIf="submitted &&  appartementForm.controls.intitule.errors || (appartementForm.controls.intitule.errors  && appartementForm.get('intitule').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label>Surface :</label>
                    <input type="number" class="form-control form-control-specialiser" formControlName="surface"
                           [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.surface.errors || (appartementForm.controls.surface.errors  && appartementForm.get('surface').touched )}" />
                    <div class="invalid-feedback " *ngIf="submitted &&  appartementForm.controls.surface.errors || (appartementForm.controls.surface.errors  && appartementForm.get('surface').touched )">
                        <div *ngIf="appartementForm.controls.surface.errors.min">
                            Nombre minimal = 0 !
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <label>Surface Couvert :</label>
                    <input type="number" class="form-control form-control-specialiser" formControlName="surfaceCouverte"
                           [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.surfaceCouverte.errors || (appartementForm.controls.surfaceCouverte.errors  && appartementForm.get('surfaceCouverte').touched )}" />
                    <div class="invalid-feedback " *ngIf="submitted &&  appartementForm.controls.surfaceCouverte.errors || (appartementForm.controls.surfaceCouverte.errors  && appartementForm.get('surfaceCouverte').touched )">
                        <div *ngIf="appartementForm.controls.surfaceCouverte.errors.min">
                            Nombre minimal = 0 !
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-sm-6 pl-0">
                    <label>Type (*)</label>
                    <ng-select  [items]="types" formControlName="type" bindLabel="label"
                        placeholder="Choisir un type" bindValue="value"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.type.errors || (appartementForm.controls.type.errors  && appartementForm.get('type').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.type.errors || (appartementForm.controls.type.errors  && appartementForm.get('type').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
                <div class="col-sm-6 px-0">
                    <label>Nature (*)</label>
                    <ng-select [clearable]="true" [items]="natures" formControlName="nature" bindLabel="label"
                        placeholder="Choisir une nature" bindValue="value"
                        [ngClass]="{ 'is-invalid': submitted &&  appartementForm.controls.nature.errors || (appartementForm.controls.nature.errors  && appartementForm.get('nature').touched )}">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  appartementForm.controls.nature.errors || (appartementForm.controls.nature.errors  && appartementForm.get('nature').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group mb-3">
                <label>Description</label>
                <textarea class="form-control form-control-specialiser" formControlName="description">
                </textarea>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary ml-2" type="button" (click)="onClose('close')" >Annuler</button>
            <button class="btn btn-primary " id="Valider" type="submit">Enregistrer</button>

        </div>
    </form>
</div>
