<div class="breadcrumb">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
    <h1>Gestion Syndic</h1>
    <ul>
        <li><a routerLink="/syndic/residences">Résidences</a></li>
        <li>Ajout</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations Résidence :</strong></div>
                <form [formGroup]="formBasic" (ngSubmit)="submit()" novalidate>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <label>Intitule de la résidence :</label>
                            <input type="text" class="form-control form-control-specialiser"  formControlName="intitule"
                                   [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )}"/>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Adresse postale :</label>
                            <input type="text" class="form-control form-control-specialiser"  formControlName="adresse"
                                   [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.adresse.errors || (formBasic.controls.adresse.errors  && formBasic.get('adresse').touched )}"/>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.adresse.errors || (formBasic.controls.adresse.errors  && formBasic.get('adresse').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Photo résidence :</label>
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="form-control custom-file-input"   id="importFile"
                                                   (change)="onFileChange($event.target.files)">
                                            <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i>Sèlectionner ...</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre des Blocs :</label>
                            <input type="number" class="form-control form-control-specialiser"  formControlName="nbrBloc"
                                   [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.nbrBloc.errors || (formBasic.controls.nbrBloc.errors  && formBasic.get('nbrBloc').touched )}"/>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.nbrBloc.errors || (formBasic.controls.nbrBloc.errors  && formBasic.get('nbrBloc').touched )">
                                <div *ngIf="formBasic.controls.nbrBloc.errors.required">
                                    Veuillez remplir ce champs !
                                </div>
                                <div *ngIf="formBasic.controls.nbrBloc.errors.min">
                                    Nombre minimal = 1 !
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Nombre des Appartements :</label>
                            <input type="number" class="form-control form-control-specialiser"  formControlName="nbrAppartement"
                                   [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.nbrAppartement.errors || (formBasic.controls.nbrAppartement.errors  && formBasic.get('nbrAppartement').touched )}"/>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.nbrAppartement.errors || (formBasic.controls.nbrAppartement.errors  && formBasic.get('nbrAppartement').touched )">
                                <div *ngIf="formBasic.controls.nbrAppartement.errors.required">
                                    Veuillez remplir ce champs !
                                </div>
                                <div *ngIf="formBasic.controls.nbrAppartement.errors.min">
                                    Nombre minimal = 1 !
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 form-group mb-3">
                            <label>Description</label>
                            <textarea class="form-control form-control-specialiser"  formControlName="description"
                                      [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )}">
                            </textarea>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="card-title col-md-12 border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations Syndic : </strong></div>

                        <div class="col-md-12 form-group mb-3">
                            <label>Président du résidence ( Propriétaire ) :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]=""  formControlName="president"
                                       bindLabel="label"   placeholder="Choisir un propriétaire" bindValue="value"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('president').hasError('required') && formBasic.get('president').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.president.errors || (formBasic.controls.president.errors  && formBasic.get('president').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Vice Président ( Propriétaire ) :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]=""  formControlName="vice"
                                       bindLabel="label"   placeholder="Choisir un propriétaire" bindValue="value"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('vice').hasError('required') && formBasic.get('vice').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.vice.errors || (formBasic.controls.vice.errors  && formBasic.get('vice').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>Trésorerie ( Propriétaire ) :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]=""  formControlName="tresorerie"
                                       bindLabel="label"   placeholder="Choisir un propriétaire" bindValue="value"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('tresorerie').hasError('required') && formBasic.get('tresorerie').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.tresorerie.errors || (formBasic.controls.tresorerie.errors  && formBasic.get('tresorerie').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Caisse du résidence :</label>
                            <ng-select [clearable]="true" [searchable]="true" [items]="listecaisse" required formControlName="caisse"
                                       bindLabel="label"   placeholder="Choisir une caisse" bindValue="value"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'ng-invalid': submitted &&  formBasic.controls.caisse.errors || (formBasic.controls.caisse.errors  && formBasic.get('caisse').touched )}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="(submitted &&  formBasic.controls.caisse.errors) || (formBasic.controls.caisse.errors  && formBasic.get('caisse').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Caisse siege :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]=""  formControlName="caissesiege"
                                       bindLabel="label"   placeholder="Choisir une caisse siege" bindValue="value"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('caissesiege').hasError('required') && formBasic.get('caissesiege').touched}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.caissesiege.errors || (formBasic.controls.caissesiege.errors  && formBasic.get('caissesiege').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button  type="button" routerLink="/syndic/residences" class="btn btn-dark m-1">Annuler</button>
                            <button class="btn btn-outline-primary " type="submit" >Enregistrer</button>
                            <!--                            <btn-loading btnClass="btn-outline-primary "  >Enregistrer</btn-loading>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
