<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Administration </h1>
    <ul>
        <li><a routerLink="/syndic/utilisateurs">Utilisateurs</a></li>
        <li>Détails</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<!-- ***************************New styling******************************************-->
<div class="row pl-0">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 card card-appartement user-profile o-hidden mb-4 px-0">

        <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg')"></div>
        <div class="user-info">
            <label class="iconpencil" for="fileInput">
                <span class="fa fa-pencil text-primary"></span>
                <input id="fileInput" type='file' accept="image/png, image/jpeg,  image/jpg"
                    (change)="onFileChange($event.target.files)">
            </label>
            <div class="profileImage" *ngIf="proprietaire?.photo==null && url==null ">
                {{proprietaire?.nomComplet?.charAt(0)}}</div>
            <img *ngIf="proprietaire?.photo!=null || url!=null" [src]="proprietaire?.photo"
                class="profile-picture avatar-lg mb-2 rounded-circle">
            <p class="title-info m-0">{{proprietaire?.nomComplet}}</p>
            <label class="surface" *ngIf="role.includes('ROLE_RESIDENT')">
                <span class="badge badge-success " *ngIf="proprietaire?.active">Active</span>
                <span class="badge badge-danger " *ngIf="!proprietaire?.active">Inactive</span>
            </label>

        </div>
        <div class="card-body card-body1 my-4">
            <div class="">
                <div class="body-cover appartement-info col-md-11">
                    <div class="appartement-residence">
                        <div class="bloc" *ngIf="proprietaire?.proprietaire || proprietaire?.proprietaire">
                            <span class="badge badge-primary " *ngIf="proprietaire?.proprietaire">Propretaire</span>
                            <span class="badge badge-secondary " *ngIf="!proprietaire?.proprietaire">Non
                                Propretaire</span>
                        </div>
                        <div class="surface" *ngIf="proprietaire?.proprietaire || proprietaire?.proprietaire">
                            <span class="badge badge-primary " *ngIf="proprietaire?.proprietaire">Co-Propretaire</span>
                            <span class="badge badge-secondary " *ngIf="!proprietaire?.proprietaire">Non
                                Co-Propretaire</span>
                        </div>
                        <div class="surface" *ngIf="role.includes('ROLE_RESIDENT')">
                            <span class="badge badge-primary ">Administrateur</span>
                        </div>
                        <div class="surface" *ngIf="role.includes('ROLE_INTERN')">
                            <span class="badge badge-primary ">Utilisateur Interne</span>
                        </div>
                        <label class="surface" *ngIf="!role.includes('ROLE_RESIDENT')">
                            <span class="badge badge-success " *ngIf="proprietaire?.active">Active</span>
                            <span class="badge badge-danger " *ngIf="!proprietaire?.active">Inactive</span>
                        </label>
                    </div>
                </div>

                <div class="separator-breadcrumb separt border-top"></div>
                <div class="col-md-11 px-0 details-bien">
                    <div class="col-md pl-0 spaceBetween">
                        <div class="col-md flex-column">
                            <label class="color-label text-15">Identifiant</label>
                            <label class="color-label text-15">Email</label>
                            <label class="color-label text-15">Mobile 1</label>
                            <label class="color-label py-1 text-15">Mobile 2</label>
                        </div>
                        <div class="col-md flex-column th-right">
                            <label class="text-13">{{proprietaire?.username}}</label>
                            <label class="text-13">{{proprietaire?.email}}</label>
                            <label *ngIf="proprietaire?.telephone1!=null || proprietaire?.telephone1!=''"
                                class="text-13">{{proprietaire?.telephone1}}</label>
                            <label *ngIf="proprietaire?.telephone1==null || proprietaire?.telephone1==''"
                                class="text-13">Non saisie</label>
                            <label *ngIf="proprietaire?.telephone2==null || proprietaire?.telephone2==''"
                                class="text-13">{{proprietaire?.telephone2}}</label>
                            <label *ngIf="proprietaire?.telephone2!=null || proprietaire?.telephone2!=''"
                                class="text-13">Non saisie</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <span>
                            <!--<label class="color-label text-15">Informations: &nbsp;</label>-->
                            <span class="text-13">
                                <!--{{appartement?.description}}-->
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <!-- <button class="btn btn-primary" (click)="">Modifer Mot de passe</button> -->
            <h5 (click)="showcardpawwsord=!showcardpawwsord" class="link_pwd">Modifier mot de passe</h5>
        </div>
    </div>
    <div class="container col-xl-9 col-lg-9 col-md-12 col-sm-12  pr-0">

        <!-- widgets -->
        <div class="row">

            <!--<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="row">
                        <div class="col-4"> <img class="icon-picture m-3" src="assets/images/calender.png" alt=""></div>
                        <div class="col-8 margin-auto">
                            <label class="tex-14 m-0">Aujourd'hui </label>
                            <h3 class="m-0 font-weight-bold">{{currentDate | date : 'fullDate'}} </h3>
                        </div>
                      </div>
                </div>        
            </div>-->
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
              <div class="card">
                  <div class="row">
                      <div class="col-4"> <img class="icon-picture m-3" src="assets/images/appartement.jpg" alt="" style="border-radius: 15px;"></div>
                      <div class="col-8 margin-auto ">
                          <label class="tex-14 m-0">Nombre de produits</label>
                          <h3 class="m-0 font-weight-bold">{{ficheClient?.produits?.length>0?ficheClient?.produits?.length:0}}</h3>
                      </div>
                    </div>
              </div>
           
          </div>

          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
            <div class="card">
                <div class="row">
                    <div class="col-4"> <img class="icon-picture m-3" src="assets/images/idea.png" alt=""></div>
                    <div class="col-8 margin-auto">
                        <label class="tex-14 m-0">Nbr reclamations</label>
                        <h3 class="m-0 font-weight-bold">{{ficheClient?.intervention?.length>0?ficheClient?.intervention?.length:0}} </h3>
                    </div>
                  </div>
            </div>        
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 ">
            <div class="card">
                <div class="row">
                    <div class="col-4"> <img class="icon-picture m-3" src="assets/images/message.png" alt=""></div>
                        <div class="col-8 margin-auto" [routerLink]="['/communite/inbox']">
                        <label class="tex-14 m-0">Messages non lu</label>
                        <h3 class="m-0 font-weight-bold">{{ficheClient.nbreMessageNonLu}} </h3>
                    </div>
                  </div>
            </div>        
        </div>
                  


        </div>
        <!-- tabs-->
        <div class="">
            <div class="px-0 mb-4">
                <app-changepwd *ngIf="showcardpawwsord"></app-changepwd>
            </div>
            <div class=" card appartement">
               
                <ngb-tabset [destroyOnHide]="false" class="nav-fill">
                    <!-- Produits tab -->
                    <ngb-tab title="Produits">
                        <ng-template ngbTabContent class="mx-2">
                            <app-details-produits-user></app-details-produits-user>
                        </ng-template>
                    </ngb-tab>
                    <!-- caisses tab -->
                    <ngb-tab title="Caisses">
                      <ng-template ngbTabContent>
                          <app-details-caisses-user></app-details-caisses-user>                      
  
                      </ng-template>
                    </ngb-tab>
                     <!-- intervention tab -->
                     <ngb-tab title="Interventions">
                      <ng-template ngbTabContent>
                          <app-details-intervention-user></app-details-intervention-user>  
                      </ng-template>
                    </ngb-tab>
                     <!-- transferts tab -->
                     <ngb-tab title="Transferts">
                      <ng-template ngbTabContent>
                          <app-details-transferts-user></app-details-transferts-user>  
                      </ng-template>
                    </ngb-tab>
                    
                     <!-- logs tab -->
                     <ngb-tab title="Logs">
                      <ng-template ngbTabContent>
                          <app-details-logs-user></app-details-logs-user>
                      </ng-template>
                    </ngb-tab>
                   
                </ngb-tabset>
            </div>
        </div>
    </div>
  </div>
