<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a routerLink="/">Configuration Société</a></li>
            <li>Info</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>


    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card cardStyle">
                <div class="card-header">
                    <h4 class="modal-title font-weight-bold " id="exampleModalLabel"> Enregistrer les informations de
                        votre société
                    </h4>
                    <small>Le code de votre societé est : <strong>{{code}}</strong>
                    </small>
                </div>
                <div class="card-body">
                    <form [formGroup]="paramForm" (ngSubmit)="onSubmit()" class="col-md-12">
                        <div class="row">
                            <!-- info générale-->
                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">

                                <div class="row">
                                    <!--Intitulé-->
        
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3" >
                                        <label>Intitulé (*) </label>
                                        <input type="text" class="form-control form-control-specialiser"
                                            formControlName="intitule" name="intitule"
                                            [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.intitule.errors || (paramForm.controls.intitule.errors  && paramForm.get('intitule').touched ) )}" />
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.intitule.errors || (paramForm.controls.intitule.errors  && paramForm.get('intitule').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    
                                    </div>
        
                                    <!-- N° Tel --> 
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3" >
                                        <label>N° Téléphone (*) </label>
                                        <ngx-intl-tel-input [preferredCountries]="preferredCountries"
                                            [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                            [searchCountryFlag]="true"
                                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                            [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Tunisia"
                                            [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                            [numberFormat]="PhoneNumberFormat.National" name="telephone"
                                            formControlName="telephone">
                                        </ngx-intl-tel-input>
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.telephone.errors || (paramForm.controls.telephone.errors  && paramForm.get('telephone').touched )">
                                            Veuillez remplir ce champs !
                                        </div>

                                    </div>
                                    <!-- MAT FISC-->
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                                        <label>Mat. Fiscale (*) </label>
                                        <input type="text" class="form-control form-control-specialiser"
                                            formControlName="matriculeFiscale" name="matriculeFiscale"
                                            [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.matriculeFiscale.errors || (paramForm.controls.matriculeFiscale.errors  && paramForm.get('matriculeFiscale').touched ) )}" />
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.matriculeFiscale.errors || (paramForm.controls.matriculeFiscale.errors  && paramForm.get('matriculeFiscale').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    
                                    </div>
                                </div>
        
                                <div class="row">
                                      <!-- Email --> 
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-3" >
                                        <label>Email (*) </label>
                                        <input type="text" class="form-control form-control-specialiser"
                                            formControlName="email" name="email"
                                            [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.email.errors || (paramForm.controls.email.errors  && paramForm.get('email').touched ) )}" />
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.email.errors || (paramForm.controls.email.errors  && paramForm.get('email').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    
                                    </div>
                                    <!-- Adresse -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-3" >
                                        <label>Adresse (*) </label>
                                        <input type="text" class="form-control form-control-specialiser"
                                            formControlName="adresse" name="adresse"
                                            [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.adresse.errors || (paramForm.controls.adresse.errors  && paramForm.get('adresse').touched ) )}" />
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.adresse.errors || (paramForm.controls.adresse.errors  && paramForm.get('adresse').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    
                                    </div>
        
                                </div>
        
                                <div class="row">
                                    <!-- banque --> 
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-3" >
                                      <label>Banque (*) </label>
                                      <input type="text" class="form-control form-control-specialiser" formControlName="banque" name="banque" 
                                      [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.banque.errors || (paramForm.controls.banque.errors  && paramForm.get('banque').touched ) )}" />
                                      <div class="invalid-feedback "
                                          *ngIf="submitted &&  paramForm.controls.banque.errors || (paramForm.controls.banque.errors  && paramForm.get('banque').touched )">
                                          Veuillez remplir ce champs !
                                      </div>
                                  
                                  </div>
                                  <!-- compte bancaire -->
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb-3" >
                                      <label>Compte bancaire (*) </label>
                                      <input type="text" class="form-control form-control-specialiser" formControlName="compteBanque" name="adrecompteBanquesse" 
                                      [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.compteBanque.errors || (paramForm.controls.compteBanque.errors  && paramForm.get('compteBanque').touched ) )}" />
                                      <div class="invalid-feedback "
                                          *ngIf="submitted &&  paramForm.controls.compteBanque.errors || (paramForm.controls.compteBanque.errors  && paramForm.get('compteBanque').touched )">
                                          Veuillez remplir ce champs !
                                      </div>
                                  
                                  </div>
        
                                </div>
        
                                <div class="row">
                                    <!--Devise-->
        
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3" >
                                        <label>Devise (*) </label>
                                        <input type="text" class="form-control form-control-specialiser"
                                            formControlName="devise" name="devise"
                                            [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.devise.errors || (paramForm.controls.devise.errors  && paramForm.get('devise').touched ) )}" />
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.devise.errors || (paramForm.controls.devise.errors  && paramForm.get('devise').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    
                                    </div>
        
                                    <!-- Arrondissement --> 
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3" >
                                        <label>Arrondissement (*) </label>
                                        <input type="text" class="form-control form-control-specialiser" formControlName="round" name="round" 
                                        [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.round.errors || (paramForm.controls.round.errors  && paramForm.get('round').touched ) )}" />
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.round.errors || (paramForm.controls.round.errors  && paramForm.get('round').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    
                                    </div>
                                    <!-- Affichage tableau-->
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mb-3" >
                                        <label>Affichage tableau (*) </label>
                                        <input type="text" class="form-control form-control-specialiser" formControlName="affichageTableaux" name="affichageTableaux" 
                                        [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.affichageTableaux.errors || (paramForm.controls.affichageTableaux.errors  && paramForm.get('affichageTableaux').touched ) )}" />
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.affichageTableaux.errors || (paramForm.controls.affichageTableaux.errors  && paramForm.get('affichageTableaux').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3" >
                                        <label>Description (*) </label>
                                        <textarea class="form-control form-control-specialiser" rows="4" formControlName="description" name="description"
                                        [ngClass]="{ 'is-invalid':(submitted &&  paramForm.controls.description.errors || (paramForm.controls.description.errors  && paramForm.get('description').touched ) )}" >
                                        </textarea>
        
                                        
                                        <div class="invalid-feedback "
                                            *ngIf="submitted &&  paramForm.controls.description.errors || (paramForm.controls.description.errors  && paramForm.get('description').touched )">
                                            Veuillez remplir ce champs !
                                        </div>
                                    
                                    </div>
                                </div>


                            </div>
                            <!-- photo-->
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">

                                        <label>Logo (*) </label>
                                        <label class="hoverable" for="fileInput">
                                            <img [src]="url ? url : '../../../../assets/images/syndic/axiasyndic-xl.png'">
                                            <div class="hover-text">Choisir un logo</div>
                                            <div class="background"></div>
                                            <button *ngIf="url" (click)="delete()" class="btntrash2" ><span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"></span></button>
                                        </label>
                                        <br/>
                                        <input id="fileInput" type='file'  accept="image/png, image/jpeg,  image/jpg" (change)="onSelectFile($event)">

<!--                                        <div  class="boxPhoto">-->

<!--                                            <span class="fa fa-pencil editPhotoIcon"  aria-hidden="true" >-->
<!--                                            <input type="file" style="display: none"-->
<!--                                                   required id="importFile"-->
<!--                                                   (change)="onFileChange($event.target.files)"-->
<!--                                                   accept="image/png, image/jpeg,  image/jpg">cc-->
<!--                                            </span>-->
<!--                                        </div>-->

                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class=" ">
                            <button class="btn btn-primary ml-2 btnSave" id="Valider" type="submit" style="float: right;">Enregistrer</button>
                            <button class="btn btn-secondary btnCancel" type="button" style="float: right;" >
                                <a  routerLink="/" > Annuler  </a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
