.cardStyle{
    background-color: aliceblue;
}

.btnSave{
  background-color: #2196f3 !important;
  border: aliceblue !important;
}

.btnCancel{
  background-color: white !important;
  border: white !important;
  color: grey !important;
}

.editPhotoIcon{
    float: right;
    margin-top: -17px;
    margin-right: -14px;
    border: 1px solid white;
    padding: 6px;
    border-radius: 25px;
    background-color: white;
    color: grey;
}

.boxPhoto{
  min-height: 110px;
  border: 4px solid white;
  //box-shadow: 0 3px 10px white;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 6px;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border: 1px solid #000;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}
.btntrash2{
  border: none;
  background: transparent;
  float: right;
}
