
<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px"> Chargement en cours ...
</h4>
</ngx-spinner>
<div class="modal-content">
    <div class="modal-header">
        <h4 *ngIf="cbmarq==0" class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter une gamme opératoire</h4>
        <h4 *ngIf="cbmarq!=0" class="modal-title font-weight-bold " id="exampleModalLabel">Modifier une gamme opératoire</h4>
        <button type="button" class="close" aria-label="Close" (click)="gotoListGammeOperatoire()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="col-md-12">
        <div class="modal-body">
          
            <div class="row" >
                <div class="col-md-12 form-group mb-3 flex-line">  
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3">
                        <label>Objet (*) </label>
                        <input type="text" class="form-control form-control-specialiser" formControlName="intitule"
                        [ngClass]="{ 'is-invalid': submitted &&  formGroup.controls.intitule.errors || (formGroup.controls.intitule.errors  && formGroup.get('intitule').touched )}" />
                        <div class="invalid-feedback "
                            *ngIf="submitted &&  formGroup.controls.intitule.errors || (formGroup.controls.intitule.errors  && formGroup.get('intitule').touched )">
                            Veuillez remplir ce champs !
                        </div>  
                    </div>                    
                   
                </div>  
            </div>
                   
           
            
            

            <div class="row" >
                <div class="col-md-12 form-group  mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3">
                        <label >Equipement (*):</label>
                        <ng-select [clearable]="true" [items]="equipementList"
                            formControlName="equipement" 
                            bindLabel="label" bindLabel="label" bindValue="value" placeholder="Choisir un équipement"                           
                            [ngClass]="{'is-invalid':submitted &&  formGroup.controls.equipement.errors || (formGroup.controls.equipement.errors  && formGroup.get('equipement').touched )}">
                        </ng-select>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formGroup.controls.equipement.errors || (formGroup.controls.equipement.errors  && formGroup.get('equipement').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                
                </div>
            </div>

            <!--<div class="row" >
                <div class="col-md-12 form-group mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3">
                        <label>Plus de détails</label>
                        <textarea class="form-control form-control-specialiser" formControlName="plusdetails">
                        </textarea>
                    </div>
    
                </div>
            </div>-->

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary ml-2" id="Valider" type="submit">Enregistrer</button>
            <button class="btn btn-secondary" type="button" (click)="gotoListGammeOperatoire()" >Annuler</button>
        </div>
    </form>
</div>

