img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }
  .container{
    width: 95%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 15px;
  }

  .statutLabel{
    position: absolute;
    right: 0;
    margin-right: 231px;
    font-weight: bold;
    margin-top: 2px;
  }

  .statutBadge{
    position: absolute;right: 0;margin-right: 166px;
  }

  .EtatLabel{
    position: absolute;
    right: 0;
    margin-right: 16vh;
    font-weight: bold;
    margin-top: 2px;
  }
  .etatBadgeEnInstance{
    //position: absolute;right: 0;
    //margin-right: 6vh;
    color: #ffc107;
    border: 1px solid;
    //font-weight: bold;
    //font-size: 13px;
    //padding-top: 7px;//47
  }
  .etatBadgeValide{

    color: #4caf50;
    //font-size: 13px;
    border: 1px solid;

  }
  .etatBadgeNonValide{

    color: #df0029;
    //font-size: 13px;
    //padding: 3px;
    //float: right;
    //background-color: white;
    border: 1px solid;
  }


  .etatBadge{
    position: absolute;right: 0;margin-right: 6vh;font-size: 13px;padding-top: 7px;
  }


.textEllipsis{
  max-width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-validation-message::before {
  display: none;
}

.my-validation-message i {
  margin: 0 .4em;
  color: #f27474;
  font-size: 1.4em;
}

@media (max-width: 900px) {
  .mat-column-responsable {
      padding-left: 0px;
  }
}

