<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Maintenance</h1>
        <ul>

            <li><a routerLink="/communite/preventif">Intervention préventive</a></li>
            <li>Info ( Edit )</li>

        </ul>
    </div>


    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="row mb-4">
        <div class="col-md-12 mb-4">

            <div class="modal-content">
                <div class="modal-header">

                    <div class="row" style="width: 100%;">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm12 col-12">
                            <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Détail opération préventive
                            </h4>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">


                            <!-- valider-->
                            <span class="fa fa-check-circle" (click)="confirmBoxVerififer(preventifModel,'1')"
                                style="padding: 3px;float: right;color: #4caf50;font-size: 30px;cursor: pointer;"
                                title="Valider"
                                *ngIf="(preventifModel?.etat==0 || preventifModel?.etat==2 ) && !viewaddListTache && can_editOp?.permission">
                            </span>
                            <!-- Corriger-->
                            <span class="fa fa-times-circle" (click)="ajouterAction()"
                                style="padding: 3px;float: right;color: #f44336;font-size: 30px;cursor: pointer;"
                                title="Corriger"
                                *ngIf="preventifModel?.etat==0 && !viewaddListTache && can_editOp?.permission">
                            </span>


                            <!-- statut-->
                            <span class="badge badge badge-outline-{{preventifModel?.statut?.style}} p-2 m-1"
                                style="padding: 3px;float: right;">
                                <strong style="color: #6c757d;">Statut :</strong> {{ preventifModel?.statut?.label }}
                            </span>

                            <!-- etat-->
                            <span class="badge badge badge-outline p-2 m-1" style="padding: 3px;float: right;"
                                [ngClass]="{'etatBadgeEnInstance': preventifModel?.etat==0, 'etatBadgeValide': preventifModel?.etat==1, 'etatBadgeNonValide': preventifModel?.etat==2}">
                                <strong style="color: #6c757d;">Etat :</strong> {{ preventifModel?.etat==0?'En
                                instance':preventifModel?.etat==1?'Valide':preventifModel?.etat==2?'Non valide':'' }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="modal-body">
                        <!-- information générale -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                                <!--produit -->
                                <div class="col-12 mb-2">
                                    <label>Produit </label>
                                    <input type="text" class="form-control form-control-specialiser"
                                        [(ngModel)]="preventifModel.gamme.equipement.produit.intitule" name="produit"
                                        [readonly]="true" />
                                </div>
                                <!--Intitule -->
                                <div class="col-12 mb-2">
                                    <label>Intitule </label>
                                    <input type="text" class="form-control form-control-specialiser"
                                        [(ngModel)]="intitulePreventif" name="intitule" [readonly]="true" />
                                </div>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">


                                <!--date exe -->
                                <div class="col-12 mb-2">
                                    <label>Date d'éxecution</label>
                                    <input type="date" class="form-control form-control-specialiser"
                                        [(ngModel)]="preventifModel.dateExecution" name="datedeb" [readonly]="true" />
                                </div>

                                <!--Emplacement -->
                                <div class="col-12 mb-2">
                                    <label>Emplacement</label>
                                    <input type="text" class="form-control form-control-specialiser"
                                        [(ngModel)]="preventifModel.gamme.equipement.emplacement.intitule"
                                        name="emplacement" [readonly]="true" />
                                </div>



                            </div>

                        </div>
                        <hr style="padding: 1px;width: 98%;">
                        <!-- form commentaire & img avant et après-->
                        <form [formGroup]="formOpImages" *ngIf="!viewaddListTache">

                            <!-- row upload image -->
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                                    <!--img avant -->
                                    <div class="col-12 mb-2">
                                        <label>Image avant </label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <div class="input-group">
                                                    <div class="custom-file">

                                                        <input type="file" class="form-control custom-file-input"
                                                            id="importFile" formControlName="imgavant"
                                                            (change)="onFileChange($event.target.files)"
                                                            accept="image/png, image/jpeg">
                                                        <label class="custom-file-label" #labelImport
                                                            for="importFile"><i class="fas fa-search"></i>Sèlectionner
                                                            ...</label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12 mb-2 container" *ngIf="imgSrcAvant">
                                        <img [src]="imgSrcAvant" class="image">
                                    </div>

                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 form-group">
                                    <!--img après -->
                                    <div class="col-12 mb-2">
                                        <label>Image après </label>
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <div class="input-group">
                                                    <div class="custom-file">

                                                        <input type="file" class="form-control custom-file-input"
                                                            id="importFile2" formControlName="imgapres"
                                                            (change)="onFileChange2($event.target.files)"
                                                            accept="image/png, image/jpeg">
                                                        <label class="custom-file-label" #labelImport2
                                                            for="importFile2"><i class="fas fa-search"></i>Sèlectionner
                                                            ...</label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-2 container" *ngIf="imgSrcApres">
                                        <img [src]="imgSrcApres" class="image">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-group">
                                    <!--commentaire -->
                                    <div class="col-12 mb-2">
                                        <label>Commentaire </label>
                                        <textarea rows="3" class="form-control form-control-specialiser"
                                            formControlName="commentaire" name="commentaire"
                                            [readonly]="preventifModel.etat==1">
                                            </textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <hr style="padding: 1px;width: 98%;">
                        <!-- row btn ajout tâche -->
                        <div class="row mb-2" *ngIf="!viewaddListTache">
                            <div class="col-xl col-lg col-md col-sm pr-md-0 ">
                                <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher"
                                    #input>
                            </div>
                            <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto ">
                                <!-- disabled if valid-->
                                <button class="btn btn-primary mb-sm-0 mb-3 alignRight" *ngIf="can_add?.permission"
                                    (click)="ajouterAction()" [disabled]="preventifModel.etat==1">
                                    Ajouter une action
                                </button>
                            </div>
                        </div>
                        <!-- tableau tâches -->
                        <div class="card" *ngIf="!viewaddListTache">
                            <div class="example-container mat-elevation-z8">
                                <mat-table class="table" [dataSource]="dataSource" matSort>
                                    <!-- responsable Column -->
                                    <ng-container matColumnDef="responsable">
                                        <mat-header-cell *matHeaderCellDef>Responsable</mat-header-cell>
                                        <mat-cell *matCellDef="let row" title='Détails'>
                                            <span class="mobile-label mr-2"> Responsable:</span>
                                            {{ row?.responsable }}
                                        </mat-cell>
                                    </ng-container>
                                    <!-- mobile column -->
                                    <ng-container matColumnDef="mobile">
                                        <mat-header-cell *matHeaderCellDef>Téléphone</mat-header-cell>
                                        <mat-cell *matCellDef="let row" title='Détails'>
                                            <span class="mobile-label mr-2"> Téléphone:</span>
                                            {{ row?.telephone}}
                                        </mat-cell>
                                    </ng-container>
                                    <!-- d debut -->
                                    <ng-container matColumnDef="start">
                                        <mat-header-cell *matHeaderCellDef>Date début</mat-header-cell>
                                        <mat-cell *matCellDef="let row" title='Détails'>
                                            <span class="mobile-label mr-2"> Date début:</span>
                                            {{ row?.datedebut?.date | date :'dd-MM-yyyy'}}
                                        </mat-cell>
                                    </ng-container>
                                    <!-- Column -->
                                    <ng-container matColumnDef="end">
                                        <mat-header-cell *matHeaderCellDef>Date fin</mat-header-cell>
                                        <mat-cell *matCellDef="let row" title='Détails'>
                                            <span class="mobile-label mr-2"> Date fin:</span>
                                            {{row?.datefin?.date | date :'dd-MM-yyyy'}}
                                        </mat-cell>
                                    </ng-container>

                                    <!-- Column -->
                                    <ng-container matColumnDef="conclusion">
                                        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                                        <mat-cell *matCellDef="let row" title='Détails'>
                                            <span class="mobile-label mr-2"> Description:</span>
                                            <p class="textEllipsis" placement="bottom" popoverTitle="Description"
                                                [ngbPopover]="row.description">{{ row.description}}</p>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- commentaire Column -->
                                    <ng-container matColumnDef="commentaire">
                                        <mat-header-cell *matHeaderCellDef>Commentaire</mat-header-cell>
                                        <mat-cell *matCellDef="let row" title='Détails'>
                                            <span class="mobile-label mr-2"> Commentaire:</span>
                                            <p class="textEllipsis" placement="bottom" popoverTitle="Commentaire"
                                                [ngbPopover]="row.commentaire">{{ row.commentaire}}</p>
                                        </mat-cell>
                                    </ng-container>
                                    <!-- Column -->
                                    <ng-container matColumnDef="statut">
                                        <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                                        <mat-cell *matCellDef="let row" title='Détails'>
                                            <span class="mobile-label mr-2"> Statut:</span>
                                            <span class=" badge badge-square badge-square-opacity-warning m-1"
                                                *ngIf="row.etat==0">En cours</span>
                                            <span class=" badge badge-square badge-square-opacity-danger m-1"
                                                *ngIf="row.etat==1">Echouer</span>
                                            <span class=" badge badge-square badge-square-opacity-success m-1"
                                                *ngIf="row.etat==2">Valider</span>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <mat-header-cell *matHeaderCellDef style="max-width: 200px;">Action
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" style="max-width: 200px;">
                                            <span class="mobile-label mr-2"> Action:</span>
                                            <!-- OPERATION : 0: En Instance ; 1 : Valide ; 2 : Echouer ||||| TÂCHE : 0 : En Instance ; 1 : Non Valide ; 2 : Valide  -->
                                            <span class="fa fa-pencil-square-o  primaryMaterial mr-1"
                                                *ngIf="can_edit?.permission"
                                                [ngClass]="{'secondaryMaterial': (row.etat!=0 || preventifModel.etat==1) , 'primaryMaterial': (row?.etat==0 &&  preventifModel.etat!=1)}"
                                                title="Modifier" (click)="editLineAction(row)"></span>
                                            <span class="fa fa-trash-o dangerMaterial mr-1"
                                                [ngClass]="{'secondaryMaterial': (row.etat!=0 || preventifModel.etat==1), 'dangerMaterial': (row?.etat==0 &&  preventifModel.etat!=1) }"
                                                title="Supprimer" *ngIf="can_delete?.permission"
                                                (click)="confirmDeleteAction(row)"></span>
                                            <span class="fa fa-check-circle   mr-1"
                                                [ngClass]="{'secondaryMaterial': (row?.etat!=0 ||  preventifModel.etat==1), 'successMaterial': (row?.etat==0 &&  preventifModel.etat!=1) }"
                                                *ngIf="can_cloturer?.permission" title="Cloturer"
                                                (click)="confirmEtatAction(row,'2')"></span>

                                            <span class="fa fa-minus-circle text-danger mr-1"
                                                [ngClass]="{'secondaryMaterial': (row?.etat!=0 || preventifModel.etat==1), 'dangerMaterial': (row?.etat==0 &&  preventifModel.etat!=1) }"
                                                title="Annuler" *ngIf="can_annuler?.permission"
                                                (click)="confirmEtatAction(row,'1')"></span>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="5">Aucune donnée trouvée
                                        </td>
                                    </tr>
                                    <div *ngIf="dataSource?.data?.length === 0"></div>
                                </mat-table>

                                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                                    [showFirstLastButtons]="true"></mat-paginator>
                            </div>
                        </div>
                        <!-- ajout tâche corrective -->
                        <div class="row" style="margin: 15px;" *ngIf="viewaddListTache ">
                            <div class="modal-content" *ngIf="viewaddListTache">
                                <div class="modal-header">
                                    <h4 class="modal-title font-weight-bold " id="exampleModalLabel" *ngIf="idTache==0">
                                        Ajouter une tâche corrective</h4>
                                    <h4 class="modal-title font-weight-bold " id="exampleModalLabel" *ngIf="idTache!=0">
                                        Modifier une tâche corrective</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="gotoListTache()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form [formGroup]="formBasic" (ngSubmit)="onSubmit()" class="col-md-12">
                                    <div class="modal-body">
                                        <!--responsable -->
                                        <div class="col-md-12 form-group mb-3">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">
                                                <label>Responsable (*) </label>
                                                <input type="text" class="form-control form-control-specialiser"
                                                    formControlName="responsable" name="responsable"
                                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.responsable.errors || (formBasic.controls.responsable.errors  && formBasic.get('responsable').touched )}" />
                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  formBasic.controls.responsable.errors || (formBasic.controls.responsable.errors  && formBasic.get('responsable').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>
                                        </div>
                                        <!-- mobile -->
                                        <div class="col-md-12 form-group mb-3">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">

                                                <label>Téléphone</label>
                                                <input type="text" class="form-control form-control-specialiser"
                                                    formControlName="telephone" name="telephone" />
                                            </div>
                                        </div>
                                        <!-- date debut / date fin-->
                                        <div class="col-md-12 form-group mb-3">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">

                                                <mat-form-field appearance="fill" style=" width: 100% !important;">
                                                    <mat-label>Période du tâche</mat-label>
                                                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                                        <input matStartDate formControlName="start"
                                                            (dateChange)="startChange($event)" placeholder="Date Début">
                                                        <input matEndDate formControlName="end" placeholder="Date Fin"
                                                            (dateChange)="endChange($event)">
                                                    </mat-date-range-input>
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                                    <mat-error
                                                        *ngIf="range.controls.start.hasError('matStartDateInvalid')">
                                                        Invalid start
                                                        date</mat-error>
                                                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">
                                                        Invalid
                                                        end date
                                                    </mat-error>
                                                </mat-form-field>
                                                <div class="invalid-feedback col-12 calendrr"
                                                    *ngIf="submitted &&   range.controls.start.errors || (range.controls.start.errors && range.get('start').touched)">
                                                    Veuillez remplir date debut !
                                                </div>
                                                <div class="invalid-feedback col-12 calendrr"
                                                    *ngIf="submitted &&   range.controls.end.errors || (range.controls.end.errors && range.get('end').touched)">
                                                    Veuillez remplir date fin !
                                                </div>
                                            </div>
                                        </div>
                                        <!-- description -->
                                        <div class="col-md-12 form-group mb-3">
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">
                                                <label>Description (*)</label>
                                                <textarea class="form-control form-control-specialiser"
                                                    formControlName="description" name="description"
                                                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )}">
                                        </textarea>

                                                <div class="invalid-feedback "
                                                    *ngIf="submitted &&  formBasic.controls.description.errors || (formBasic.controls.description.errors  && formBasic.get('description').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button"
                                            (click)="gotoListTache()">Annuler</button>
                                        <button class="btn btn-primary ml-2" id="Valider"
                                            type="submit">Enregistrer</button>

                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary ml-2" type="button" (click)="gotoListPreventif()"
                            *ngIf="!viewaddListTache">Annuler</button>
                        <button class="btn btn-primary ml-2" id="Valider" (click)="onSubmitOpImages()"
                            [disabled]="preventifModel.etat==1"
                            *ngIf="!viewaddListTache && can_editOp?.permission">Enregistrer</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
