    
    <div class="row">
        <div class="col-md-12 mb-4">

            <div *ngIf="(dataSource.data==null || dataSource.data?.length==0)" class="col-12 px-0">
                <ngb-alert
                    class="alert-card alert-info mb-4 alert text-primary alert-dismissible"
                    role="alert">
                    <strong class="text-capitalize">Information !</strong> 
                    Cet utilisateur ne contient pas des caisses !
                </ngb-alert>
            </div>

            <div class="mat-elevation-z8" *ngIf="can_liste?.permission" [hidden]="dataSource.data?.length == 0">
            <div class="responsive_table table-responsive"  >

                <!-- affichage table -->
                <mat-table class="table table-striped" [dataSource]="dataSource"  matSort   >
                

                    <!--  caisse Column -->
                    <ng-container  matColumnDef="intitule">
                        <mat-header-cell   *matHeaderCellDef >Intitulé</mat-header-cell>
                        <mat-cell *matCellDef="let row" > {{ row?.intitule }} </mat-cell>
                    </ng-container>
                

                    <!-- solde Column -->
                    <ng-container matColumnDef="solde">
                        <mat-header-cell *matHeaderCellDef >Solde</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row">
                            {{ row?.solde}}
                        </mat-cell>
                    </ng-container>
                
                    <!-- Column -->
                    <ng-container matColumnDef="transfert">
                        <mat-header-cell *matHeaderCellDef >Transfert</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row">                           
                          {{row?.encoursTransfert}}
                        </mat-cell>
                    </ng-container>
                    <!-- Column -->
                    <ng-container matColumnDef="caissesiege">
                        <mat-header-cell *matHeaderCellDef >Caisse Siege</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row">                           
                            {{row?.caisseSiege?.intitule}}
                        </mat-cell>
                    </ng-container>


                
                    

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow >
                        <td class="mat-cell" style="text-align: center" colspan="7">Aucune donnée trouver
                        </td>
                    </tr>
                    <div *ngIf="dataSource.data?.length === 0"></div>
                </mat-table>

                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" ></mat-paginator>

                
                <!-- fin test-->

            </div>
            
            </div>

        </div>
    </div>