<div class="auth-layout-wrap" style="background: url(./assets/images/bien.jpg) no-repeat center center;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
    <div class="auth-content">
        <router-outlet></router-outlet>
    </div>
</div>
