<div class="">
    <div class="breadcrumb">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a routerLink="/">Moniteur de logs</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 mb-4">

            <div class="row mb-2 mt-2">

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                <input  class="form-control"  (keyup)="applyFilter($event)" placeholder="Rechercher" #input >
               </div>                     
   
              
            </div>

         
            <div *ngIf="can_liste?.permission">
                <div class="table-responsive"  >
                    <mat-table class="table table-striped"  [dataSource]="dataSource" matSort>

                        <!-- Numéro Column -->
                        <ng-container matColumnDef="numero">
                            <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef>
                                N°
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <span class="badge badge-pill badge-outline-secondary p-2 ">{{ row.numero }}</span>
                            </mat-cell>
                        </ng-container>

                        <!-- Réference colis Column -->
                        <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{ row.type.label }} </mat-cell>
                        </ng-container>
                        <!-- Date Column -->
                        <ng-container matColumnDef="cbcreation">
                            <mat-header-cell *matHeaderCellDef>Date création</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.cbcreation }}</mat-cell>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="residence">
                            <mat-header-cell *matHeaderCellDef>Résidence</mat-header-cell>
                            <mat-cell class="text-center" *matCellDef="let row"><span *ngIf=" row.residence ">{{
                                    row.residence.intitule }}</span>
                                <span *ngIf="row.residence == ''">-----</span>
                            </mat-cell>
                        </ng-container>
                        <!-- montant Column -->

                        <!-- Date Column -->
                        <ng-container matColumnDef="bloc">
                            <mat-header-cell *matHeaderCellDef>Bloc</mat-header-cell>
                            <mat-cell class="text-center" *matCellDef="let row">
                                <span *ngIf=" row.bloc ">{{ row.bloc.intitule }}</span>
                                <span *ngIf="row.bloc == ''">-----</span>

                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">

                                <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1"  *ngIf="can_edit?.permission" title="Modifier"  [routerLink]="['/syndic/modifier-compteur',row.cbmarq]"></span>

                                <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer" *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>


                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Aucune donnée trouvée
                            </td>
                        </tr>
                        <div *ngIf="dataSource?.data?.length === 0"></div>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>

</div>
