
<div class="breadcrumb">
    <h1>Gestion Sydic</h1>
    <ul>
        <li><a  [routerLink]="['/syndic/residences']">Produits</a></li>
        <li>Génération frais syndic</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>



    
<div class="card" >
    <div class="modal-header">
        <p class="headerCard"  >Générer Frais Syndic Annuel</p>
        
    </div>
    <form [formGroup]="formBasic" (ngSubmit)="onSubmit()" class="col-md-12">

        <div class="modal-body">

             <!-- produit & annee-->   
            <div class="row mb-3">
                

                <!--Produit -->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12  form-group mb-3">

                    <label class="styleLabel">Produit (*) </label>
                    <ng-select [clearable]="true" [items]="residences" formControlName="produit"
                        [multiple]="false"  bindLabel="label" bindValue="value"
                        placeholder="Choisir un/des produit(s)" 
                        [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.produit.errors || (formBasic.controls.produit.errors  && formBasic.get('produit').touched )}">
                    </ng-select>
                
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  formBasic.controls.produit.errors || (formBasic.controls.produit.errors  && formBasic.get('produit').touched )">
                        Veuillez remplir ce champs !
                    </div>


                </div>

                 <!-- annee -->
                 <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12  form-group mb-3">

                    <label class="styleLabel" >Année (*)</label>
                    <ng-select [clearable]="true" [items]="annees" formControlName="annee"
                    [multiple]="false"  bindLabel="label" bindValue="value"
                    placeholder="Choisir une année" 
                    [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.annee.errors || (formBasic.controls.annee.errors  && formBasic.get('annee').touched )}">
                    </ng-select>

                    <div class="invalid-feedback "
                        *ngIf="submitted &&  formBasic.controls.annee.errors || (formBasic.controls.annee.errors  && formBasic.get('annee').touched )">
                        Veuillez remplir ce champs !
                    </div>
            
                </div>

                <!--frais annuelle-->
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12  form-group mb-3">

                    <label class="styleLabel">Frais syndic annuel (*)</label>
                    <div class="input-group ">
                        <input type="number" class="form-control form-control-specialiser" formControlName="fraisAnnuelle" name="fraisAnnuelle"     placeholder="Choisir le frais syndic annuelle"
                        [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.fraisAnnuelle.errors || (formBasic.controls.fraisAnnuelle.errors  && formBasic.get('fraisAnnuelle').touched )}"
                        (blur)='onChangeValue($event.target.value)' />
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">{{infoPref?.devise}} </span>
                        </div>
                        <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.fraisAnnuelle.errors || (formBasic.controls.fraisAnnuelle.errors  && formBasic.get('fraisAnnuelle').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
            
                </div>


            </div>
           

           
            <!-- frais syndic / mois -->
            <label class="styleLabel" style="font-size: 15px;"> Frais par mois </label>
            
            <div class="row">
                                    
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Janvier</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control" formControlName="M01"
                                [ngClass]="{ 'inputMonth': submitted &&  (formBasic.controls.M01.errors || (formBasic.controls.M01.errors  && formBasic.get('M01').touched )) }" />
                            </div>
                           

                            <div class="invalid-feedback "
                            *ngIf="submitted &&  (formBasic.controls.M01.errors || (formBasic.controls.M01.errors  && formBasic.get('M01').touched ))">
                            Veuillez remplir ce champs !
                            </div>
                        </div>
                           
                
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Février</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M02"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M02.errors || (formBasic.controls.M02.errors  && formBasic.get('M02').touched ) }" />
                            </div>
                           
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M02.errors || (formBasic.controls.M02.errors  && formBasic.get('M02').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>

                      

                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Mars</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M03"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M03.errors || (formBasic.controls.M03.errors  && formBasic.get('M03').touched ) }" />
                            </div>
                           
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M03.errors || (formBasic.controls.M03.errors  && formBasic.get('M03').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>
                       
                        
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Avril</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M04"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M04.errors || (formBasic.controls.M04.errors  && formBasic.get('M04').touched ) }" />
                            </div>
                            
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M04.errors || (formBasic.controls.M04.errors  && formBasic.get('M04').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>

                      
                
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Mai</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M05"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M05.errors || (formBasic.controls.M05.errors  && formBasic.get('M05').touched ) }" />
                            </div>
                           
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M05.errors || (formBasic.controls.M05.errors  && formBasic.get('M05').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>

                     
                
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Juin</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M06"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M06.errors || (formBasic.controls.M06.errors  && formBasic.get('M06').touched ) }" />
                            </div>
                            
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M06.errors || (formBasic.controls.M06.errors  && formBasic.get('M06').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>
                       
                
                    </div>
                
            </div>
            
            <div class="row">
                 
                    <!-- 6 autres mois -->
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Juillet</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M07"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M07.errors || (formBasic.controls.M07.errors  && formBasic.get('M07').touched ) }" />
                            </div>
                           
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M07.errors || (formBasic.controls.M07.errors  && formBasic.get('M07').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>

                      
                            
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Août</div>
                            <div style="margin:auto;">
                                <input type="number" class="col-sm frais form-control " formControlName="M08"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M08.errors || (formBasic.controls.M08.errors  && formBasic.get('M08').touched ) }" />
                            </div>
                         
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M08.errors || (formBasic.controls.M08.errors  && formBasic.get('M08').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>
                     
                            
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Septembre</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M09"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M09.errors || (formBasic.controls.M09.errors  && formBasic.get('M09').touched ) }" />
                            </div>
                           
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M09.errors || (formBasic.controls.M09.errors  && formBasic.get('M09').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>
                       
                              
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Octobre</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M10"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M10.errors || (formBasic.controls.M10.errors  && formBasic.get('M10').touched ) }" />
                            </div>
                           
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M10.errors || (formBasic.controls.M10.errors  && formBasic.get('M10').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>
                     
                    
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Novembre</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M11"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M11.errors || (formBasic.controls.M11.errors  && formBasic.get('M11').touched ) }" />
                            </div>
                          
    
                            <div class="invalid-feedback "
                            *ngIf="submitted &&  formBasic.controls.M11.errors || (formBasic.controls.M11.errors  && formBasic.get('M11').touched ) ">
                            Veuillez remplir ce champs !
                            </div>
                        </div>
                       
                            
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="card cardMois">
                            <div class="styleLabelMois">Décembre</div>
                            <div style="margin:auto;">
                                <input type="number" step="0.01" class="col-sm frais form-control " formControlName="M12"
                                [ngClass]="{ 'inputMonth': submitted &&  formBasic.controls.M12.errors || (formBasic.controls.M12.errors  && formBasic.get('M12').touched ) }" />
                            </div>
                           
    
                            <div class="invalid-feedback "
                            *ngIf=" submitted &&  formBasic.controls.M12.errors || (formBasic.controls.M12.errors  && formBasic.get('M12').touched )">
                            Veuillez remplir ce champs !
                            </div>
                        </div>

                     
                            
                    </div>
                
            </div>

           
               

            
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary ml-2" type="button" [routerLink]="['/syndic/residences']" >Annuler</button>
            <button class="btn btn-primary" id="Valider" type="submit">Enregistrer</button>
           </div>
    </form>
</div>

      


