.flex-line{
    justify-content: space-around;
 }
 .flex-line-prop {
     display: flex;
     justify-content: space-between;
 }
 .fraisSyndic .modal-content{
    max-width: 850px !important;
 }
 // .ligne {
 //     background-color: white;
 //     color: #213c7f;
 //     text-align: center;
 // }
 // .colonne {
 //     background-color: #213c7f;
 //     color: white;
 //     text-align: center;
 // }
 .ligne {
     background-color: white;
     color: #213c7f;
     text-align: center;
 }
 .taable{
     display: flex;
 }
 .moi{
     width: auto;
 }
 .colonne {
     //background-color: whitesmoke;
     border-bottom: 1px solid #ced4da;
     text-align: center;
     margin-bottom: 15px;
 }
 // td {
 //     //border: 1px solid #213c7f;
 //     //width: 8%;
 // }
 .btn-outline-default {
     border-color: #9bc615;
     background-color: white;
     color: #9bc615;
 }
 .form-control:disabled,
 .form-control[readonly] {
     background-color: white;
     opacity: 1;
 }
 .btn-outline-default:hover {
     background-color: #9bc615;
     color: white;
 }
 .proprietaire {
     display: flex;
 }
 .input-group .form-control,
 input {
     background-color: white;
 }
 .frais {
     border-top-style: hidden;
     border-right-style: hidden;
     border-left-style: hidden;
     border-bottom-style: hidden;
     text-align: center !important;
 }

 .frais:focus {
     outline: none;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 .line{
     height: a;
 }
 /* Firefox */
 input[type="number"] {
     -moz-appearance: textfield;
 }
 .datecle{
     font-weight: bold;
     font-size: 13px;
 }
 .bc {
     height: 15px;
     width: 40px;
     border: 1px solid rgba(0, 0, 0, 0.12);
   }
   // Small devices (landscape phones, 576px and up)

 /* Galaxy */
 @media screen and (max-width: 700px) {
     .container-page, .container-card,.card{
         padding: 0px;
     }
     .titre-card{
         font-size: 17px;
     }
     .steper-verti{
         padding-top: 4.5rem !important;
     }
     h4{
         font-size: 12px;
     }
     .modal-content {
         width: auto;
     }
     .modal{
         overflow-y: scroll;
     }

  }

 // Medium devices (tablets, 768px and up)
 @media (min-width: 768px) {
     .moi{
         width: auto;
     }
 }

 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {
     .moi{
         width: auto;
     }

  }

 // Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) {
     .moi{
         width: auto;
     }

  }


  .inputMonth{
      border: 1px solid red !important;
  }

  .headerCard{
    font-size: 20px;color: #495057de;
  }

  .styleLabel{
    font-weight: 500;
    color: #61676d !important;
  }

  .styleLabelMois{
      color: #054d95;
      font-weight: 500;
      text-align: center;
      font-size: 20px;
      padding-bottom: 3px;
  }

  .cardMois{
      padding: 15px;
      background-color: #d3d3d37a;
  }