<div class="app-footer">
<!--	<div class="row">-->
<!--		<div class="col-md-9">-->
<!--			<p><strong>Gull - Angular Bootstrap Admin Dashboard Template</strong></p>-->
<!--			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero-->
<!--					quis beatae officia saepe perferendis voluptatum minima eveniet voluptates dolorum,-->
<!--					temporibus nisi maxime-->
<!--					nesciunt totam repudiandae commodi sequi dolor quibusdam sunt.</p>-->
<!--		</div>-->
<!--	</div>  border-top pt-3-->
	<div class="footer-bottom  d-flex flex-column flex-sm-row align-items-center">
<!--		<p>AXIA-SYNDIC</p>-->
<!--		<p><strong>LA SOLUTION POUR VOTRE COPROPRIETE</strong></p>-->
		<div class="d-flex align-items-center">
			<div>
				<p class="m-0">AXIA-SYNDIC</p>
				<p class="m-0"><strong>LA SOLUTION POUR VOTRE COPROPRIETE</strong></p>
			</div>
		</div>
		<span class="flex-grow-1"></span>
		<div class="d-flex align-items-center">
			<img *ngIf="url == null" class="logo w-20" src="../../../../assets/images/syndic/axiasyndic.png" alt="">
			<img *ngIf="url!= null" class="logo2 " [src]="url" alt="">
			<div>
				<p class="m-0">&copy; {{year}} Axia Syndic</p>
				<p class="m-0">All rights reserved</p>
			</div>
		</div>
	</div>
</div>
