    
    <div class="row">
        <div class="col-md-12 mb-4">

            <div *ngIf="(dataSource.data==null || dataSource.data?.length==0)" class="col-12 px-0">
                <ngb-alert
                    class="alert-card alert-info mb-4 alert text-primary alert-dismissible"
                    role="alert">
                    <strong class="text-capitalize">Information !</strong> 
                    Cet utilisateur n'avait pas des interventions !
                </ngb-alert>
            </div>

            <div class="mat-elevation-z8" *ngIf="can_liste?.permission" [hidden]="dataSource.data?.length == 0">
            <div class="responsive_table table-responsive"  >

                <!-- affichage table -->
                <mat-table class="table table-striped" [dataSource]="dataSource"  matSort   >
                

                    <ng-container  matColumnDef="intitule">
                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef  style="min-width: 250px;width: 250px;">
                            Intitulé
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let row" style="min-width: 250px;width: 250px;">{{ row?.gamme?.intitule  }}</mat-cell>
                       
                    </ng-container>
                   <!-- Data Column -->
                   <ng-container matColumnDef="statut">
                        <mat-header-cell *matHeaderCellDef style="min-width: 100px;width: 100px;">Statut</mat-header-cell>
                        <mat-cell class="text-center"  *matCellDef="let row" style="min-width: 100px;width: 100px;">
                            <span class="badge badge-pill badge-outline-{{ row?.statut?.style }} p-2">{{ row?.statut?.label }}</span> 
                        </mat-cell>
                    </ng-container>

                    <!-- equipement -->
                    <ng-container  matColumnDef="equipement" >
                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef  style="min-width: 100px;width: 100px;">
                            Equipement
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let row" style="min-width: 100px;width: 100px;">{{ row?.gamme?.equipement?.intitule  }}</mat-cell>
                       
                    </ng-container>

                    <ng-container  matColumnDef="qte" >
                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef  style="min-width: 50px;width: 50px;">
                            Qte
                        </mat-header-cell >
                        <mat-cell  *matCellDef="let row"  style="min-width: 50px;width: 50px;">{{ row?.gamme?.equipement?.quantite }}</mat-cell>
                       
                    </ng-container>
                    
                    <!-- produit -->
                     <ng-container  matColumnDef="produit">
                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef style="min-width: 100px;width: 100px;" >
                            Produit
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let row"  style="min-width: 100px;width: 100px;">{{ row?.gamme?.equipement?.produit?.intitule  }}</mat-cell>
                       
                    </ng-container> 
                      <!-- emplacement -->
                      <ng-container  matColumnDef="emplacement">
                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef  style="min-width: 100px;width: 100px;">
                            Emplacement
                        </mat-header-cell>
                        <mat-cell  *matCellDef="let row"  style="min-width: 100px;width: 100px;">{{ row?.gamme?.equipement?.emplacement?.intitule  }}</mat-cell>
                       
                    </ng-container> 
                                                         
                    <!-- Date Column -->
                    <ng-container matColumnDef="dateexecution">
                        <mat-header-cell *matHeaderCellDef style="min-width: 100px;width: 100px;">Date d'éxecution</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row" style="min-width: 100px;width: 100px;">
                            {{ row?.dateExecution.date | date : 'dd-MM-yyyy' }}
                        </mat-cell>
                    </ng-container>

                   
                      <!-- etat Column -->
                      <ng-container matColumnDef="etat">
                        <mat-header-cell *matHeaderCellDef  style="min-width: 130px;width: 130px;">Etat</mat-header-cell>
                        <mat-cell class="text-center"  *matCellDef="let row" style="min-width: 130px;width: 130px;">
                            <li class="list-group-item border-0" *ngIf="row?.etat==0" style="padding: 0px;">
                                <span class="fa fa-circle " aria-hidden="true" style="font-size: 12px;color: #ffc107;"></span>
                                En instance 
                            </li>
                            <li class="list-group-item border-0" *ngIf="row?.etat==1" style="padding: 0px;"> 
                                <span class="fa fa-circle " aria-hidden="true" style="font-size: 12px;color: #4caf50;"></span>
                                Valide
                            </li>
                            <li class="list-group-item border-0" *ngIf="row?.etat==2" style="padding: 0px;">
                                <span class="fa fa-circle " aria-hidden="true" style="font-size: 12px;color: #f44336;"></span>
                                Non valide 
                            </li>
                            
                         
                        </mat-cell>
                    </ng-container>
                                   
                    

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow >
                        <td class="mat-cell" style="text-align: center" colspan="7">Aucune donnée trouver
                        </td>
                    </tr>
                    <div *ngIf="dataSource.data?.length === 0"></div>
                </mat-table>

                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" ></mat-paginator>

                
                <!-- fin test-->

            </div>
            
            </div>

        </div>
    </div>