.card-title{
    color: rgb(33, 60, 126);
    font-size: 18px;
    font-weight: bold;
    padding-top: 3px;  

}

.textEllipsis{
    max-width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  

/*.mat-header-cell {
    color: white;
    font-weight: normal;
    font-size: 15px;
    background-color: rgb(33, 60, 126);
    border-left: 0px;
    border-right: 0px;
}

.mat-header-row {
    min-height: 30px;
}*/
.fa-database{
    font-size: 20px;
}
.myHeader{
   
     max-width: 73px;
 }

    
.profileImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #1c7fe0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
  }

  .cdresidense{
      font-size: 15px;
      color: rgb(33, 60, 126);
      font-weight: 500;
      margin-bottom: 0px;
  }
  /**************/
.mailbox .message-center .message-item:hover {
    background: #f8f9fa;
}

.mailbox .message-center .message-item {
    border-bottom: 1px solid #e9ecef;
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}

.mailbox .message-center .message-item .mail-contnet {
    display: inline-block;
    width: 75%;
    padding-left: 10px;
    vertical-align: middle;
   
}

.mail-contnet{
    margin-left: 10px;

}

.mailbox .message-center .message-item .mail-contnet .message-title {
    margin: 5px 0 0;
}
.mailbox .message-center .message-item .message-title {
    color: #212529;
    font-weight: bold;
}
