<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Analytics</h1>
        <ul>
            <li><a routerLink="/">Intérrogation paiement</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>


    <!--widgets-->
    <div class="row mb-2">


        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 ">

            <div class="card bg-dark text-white o-hidden mb-2" style="max-height: 119px;">
                <img class="card-img" src="./assets/images/weather.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <div class="text-center pt-4">
                        <h5 class="card-title mb-2 text-white" style="font-weight: 500;">Date arrêt</h5>
                    </div>
                    <div class="text-center font-weight-light ">
                        <span class=""><i class="i-Calendar-4 mr-2"></i>{{currentDate | date :'dd-MM-yyyy'}}</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row">
                    <div class="col-4">
                        <img class="icon-picture m-3" src="assets/images/totale_impayé.png" alt="">
                    </div>


                    <div class="col-8 margin-auto" style="padding: 25px;">
                        <p class="tex-14 m-0">Total impayé</p>
                        <h3 class="m-0 font-weight-bold">{{objectDataSource?.TtImpaye?.toFixed(3)}} </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row">
                    <div class="col-4"> <img class="icon-picture m-3" src="assets/images/historique_impayé.png" alt="">
                    </div>
                    <div class="col-8 margin-auto" style="padding: 25px;">
                        <p class="tex-14 m-0 textEllipsis" title="Historique impayé">Historique impayé</p>
                        <h3 class="m-0 font-weight-bold">{{objectDataSource?.Tthistorique?.toFixed(3)}} </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
            <div class="card">
                <div class="row">
                    <div class="col-4"> <img class="icon-picture m-3" src="assets/images/appartement.jpg" alt=""
                            style="border-radius: 15px;width: 100px;"></div>
                    <div class="col-8 margin-auto" style="padding: 25px;">
                        <p class="tex-14 m-0 textEllipsis" title="Nbr bien en retard">Nbr bien en retard </p>
                        <h3 class="m-0 font-weight-bold">{{objectDataSource?.NbrRetard}} </h3>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="card mb-2 backgroundToolSearch">
        <div class="card-body">
            <!-- barre de recherche-->
            <form [formGroup]="formGroupSearch" (ngSubmit)="interroger()">
                <div class="row">
                    <div class="col-xl col-lg col-md col-sm mb-2">

                        <h4 class="card-title">Produit</h4>

                        <ng-select [clearable]="false" [items]="listResidence" formControlName="produit" name="produit"
                            bindLabel="intitule" bindValue="cbmarq" placeholder="Veuillez Choisir un produit">
                        </ng-select>
                    </div>


                    <!--Périodicité-->
                    <div class="col-xl col-lg col-md col-sm mb-2">

                        <h4 class="card-title">Périodicité</h4>

                        <ng-select [clearable]="false" [items]="listCategorie" formControlName="periodicite"
                            name="periodicite" bindLabel="label" bindValue="cbmarq"
                            placeholder="Veuillez Choisir un type">
                        </ng-select>


                    </div>
                    <!--btn interroger -->
                    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2" style="margin-top: auto;">
                        <button type="submit" id="interogbtn" class="btn btn-block btn-outline-primary w-100"
                            [disabled]="formGroupSearch?.invalid">
                            <span class="fa fa-database"></span> Intérroger
                        </button>

                    </div>

                </div>
            </form>
        </div>
    </div>

    <!-- card table -->
    <div class="card mb-2">
        <div class="example-container mat-elevation-z8">
            <!-- affichage table -->
            <mat-table class="table" [dataSource]="dataSource" matSort>


                <!-- Bien  Column -->
                <ng-container matColumnDef="Intitulé">
                    <mat-header-cell *matHeaderCellDef style="min-width: 250px;">Bien</mat-header-cell>
                    <mat-cell *matCellDef="let row" style="min-width: 250px;">
                        <span class="mobile-label mr-2"> Bien:</span>
                        <a class="message-item" data-user-id="1" style="cursor: pointer;display: flex;margin-top: 4px;">

                            <span class="profileImage" [ngStyle]="{'background': row.color}">
                                <h5 class="text-white">
                                    {{row?.bien.intitule?.charAt(0)}}{{row?.bien.intitule?.charAt(1)}} </h5>
                            </span>
                            <div class="mail-contnet">
                                <p class="message-title cdresidense m-0"> {{row?.bien?.intitule}} </p>
                                <p class="text-muted m-0">
                                    <span class="fa fa-building-o" aria-hidden="true" style="font-size: 15px;"></span>
                                    {{row?.bien?.Produit}}
                                </p>
                                <p class="text-muted m-0">
                                    <span class="fa fa-key" aria-hidden="true" style="font-size: 15px;"></span>
                                    {{row?.bien?.date?.date | date:'dd-MM-yyyy'}}
                                </p>
                            </div>
                        </a>


                    </mat-cell>
                </ng-container>

                <!-- a payer  Column -->
                <ng-container matColumnDef="apayer">
                    <mat-header-cell *matHeaderCellDef>
                        Total à payer
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Total à payer:</span>
                        <span class="fa fa-spinner" aria-hidden="true"></span>&nbsp;
                        {{row?.apaye.toFixed(3)}}
                    </mat-cell>
                </ng-container>

                <!-- payé  Column -->
                <ng-container matColumnDef="payer">
                    <mat-header-cell *matHeaderCellDef>
                        Total payé
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Total payé:</span>
                        <span class="fa fa-arrow-circle-o-up" aria-hidden="true" style="color: #4db6ac;"></span>&nbsp;
                        {{row?.paye?.toFixed(3)}}
                    </mat-cell>
                </ng-container>
                <!-- impayé  Column -->
                <ng-container matColumnDef="impaye">
                    <mat-header-cell *matHeaderCellDef>
                        Total impayé
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Total impayé:</span>
                        <span class="fa fa-arrow-circle-o-down" aria-hidden="true" style="color: #f44336;"></span>&nbsp;
                        {{row?.impaye?.toFixed(3)}}
                    </mat-cell>
                </ng-container>


                <!-- historique  Column -->
                <ng-container matColumnDef="historique">
                    <mat-header-cell *matHeaderCellDef>
                        Historique impayé
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Historique impayé:</span>
                        <span class="fa fa-exclamation-triangle" aria-hidden="true"
                            style="color: #fdd835;"></span>&nbsp;
                        {{row?.historique?.toFixed(3)}}
                    </mat-cell>
                </ng-container>

                <!-- periodicité  Column -->
                <ng-container matColumnDef="periodicite">
                    <mat-header-cell *matHeaderCellDef>
                        Périodicité
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Périodicité:</span>
                        <span class="fa fa-clock-o" aria-hidden="true"></span>&nbsp;
                        {{row?.nbrperiodeImpaye}} {{row?.periodicite?.label}}
                    </mat-cell>
                </ng-container>

                <!-- action-->
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef class="myHeader">Action </mat-header-cell>
                    <mat-cell *matCellDef="let row;" class="myHeader">
                        <span class="mobile-label mr-2"> Action:</span>
                        <button class="btn btn-outline-primary border-primary  ladda-button w-auto  mr-1"
                            (click)="alertPayement(row)">
                            <span class="fa fa-bell"></span>
                        </button>
                        <!--  cancel devis ,dataSource.data.indexOf(row)-->
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" style="text-align: center" colspan="3">Aucune donnée trouver
                    </td>
                </tr>
                <div *ngIf="dataSource.data?.length === 0"></div>
            </mat-table>

            <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                [showFirstLastButtons]="true"></mat-paginator>


            <!-- fin wz-->
        </div>
    </div>
