
<div class="inbox-details rtl-ps-none" style="margin-bottom: 25%;">
	<div class="p-3 contentEmailMobile">

			<div class="row mb-3"  style="margin-left: 20px;margin-right: 20px;	">


				<ng-select  [items]="listUser" 	ngDefaultControl	 [multiple]="true" [(ngModel)]="selectedUser"  bindLabel="label" style="width: 100%;"
									placeholder="Destinataire(s)" [ngClass]="{ 'is-invalid': submitted && selectedUser.length==0 }">
				</ng-select>


				<div class="invalid-feedback "
					*ngIf="submitted && selectedUser.length==0">
					Veuillez remplir ce champs !
				</div>
			</div>
			<div class="row mb-3" style="margin-left: 20px;margin-right: 20px;	">
				<input type="text" class="form-control" placeholder="Objet"  name="subject" [(ngModel)]="subject" >
			</div>
			<div class="mb-3">

				<quill-editor  id="quill-editor-2"
								customToolbarPosition="top"
								[(ngModel)]="htmlStringModel2"   name="htmlStringModel2"
								format="object" (onContentChanged)="onContentChanged($event)"
								[modules]="modules2" placeholder=" " >
								<div quill-editor-toolbar>
									<span class="ql-formats">
									<button type="button" class="ql-bold"><svg viewBox="0 0 18 18"> <path class="ql-stroke" d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path> <path class="ql-stroke" d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z"></path> </svg></button>
									</span>
									<span class="ql-formats">
										<button class="ql-underline" [title]="'Underline'"></button>
									</span>
									<span class="ql-formats">
										<button class="ql-italic" [title]="'Italic'"></button>
									</span>

									<span class="ql-formats">
										<span class="ql-formats">
											<select class="ql-header">
												<option value="1"></option>
												<option value="2"></option>
												<option value="3"></option>
												<option selected></option>
											</select>
									</span>
									<select class="ql-align" [title]="'Aligment'">
										<option selected></option>
										<option value="center"></option>
										<option value="right"></option>
										<option value="justify"></option>
									</select>
									<select class="ql-align" [title]="'Aligment2'">
										<option selected></option>
										<option value="center"></option>
										<option value="right"></option>
										<option value="justify"></option>
									</select>

									<select class="ql-color" [title]="'Color'">
									</select>

									<select class="ql-background" [title]="'BackgroundColor'">
									</select>
									<span class="ql-formats">
										<button class="ql-link" [title]="'Link'"></button>
									</span>
									<span class="ql-formats">
										<button class="ql-image" [title]="'Image'"></button>
									</span>
									<span class="ql-formats" >
										<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

										<div class="file-upload">

											<button color="primary" class="upload-btn"
											(click)="fileUpload.click()">
												<span class="fa fa-paperclip"></span>
											</button>

										</div>
									</span>




									</span>

								</div>

				</quill-editor>
			</div>
			<div class="row" style="margin-left: 20px;margin-right: 20px;"  *ngIf="attachements?.length>0">
				<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 attachement"  *ngFor="let attachement of attachements;let i=index" style="border: 1px solid lightgrey;padding: 2px;margin-bottom: 2px;">
					<a style="cursor: pointer;text-align: center;" [href]="attachement" target="_blank" >



						<span class="fa fa-file-text" aria-hidden="true" style="font-size: 25px;vertical-align: middle;" *ngIf="getExtension(attachement.name)=='xlsx' || getExtension(attachement.name)=='xls' || getExtension(attachement.name)=='csv' || getExtension(attachement.name)=='csv' || getExtension(attachement.name)=='docx' || getExtension(attachement.name)=='doc'"></span>
						<span class="fa fa-file-pdf-o" aria-hidden="true" style="font-size: 25px;vertical-align: middle;" *ngIf="getExtension(attachement.name)=='pdf'"></span>
						<span class="fa fa-file-image-o" aria-hidden="true" style="font-size: 25px;vertical-align: middle;" *ngIf="getExtension(attachement.name)=='png' || getExtension(attachement.name)=='jpg' || getExtension(attachement.name)=='jpeg'  || getExtension(attachement.name)=='bmp'"></span>


						&nbsp; <p class="textAttachement">{{attachement.name}}</p></a>
						<span class="fa fa-times deleteAtatchement" (click)="deleteFileUpload(attachement)"  ></span>

				</div>
			</div>




			<div class="row" style="float: right;margin-left: 20px;margin-right: 20px;">		
					
				<button type="button" class="btn btn-primary" style="width: 150px;" (click)="submit()">Envoyer</button>			

				
			</div>




	</div>

</div>
