.file-input {
    display: none;
  }

  /*** style for input tags **/
  body {
    font-size: 16px;
  }

  .wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }


  .isInvalidTags{
    border: 5px solid red !important;
    border-width: 1px !important;
    border-radius: 4px !important;
    margin-top: -3px !important;
    margin-bottom: -3px !important;
    margin-right: -5px !important;
    margin-left: -5px !important;
  }

.input {
  display: flex;
  flex-wrap: wrap;
  background: white;
  border: 1px solid rgba(0,0,0,.1);
  padding: 3px 5px;
  position: relative;
  z-index: 2;

  .pill {
    background: rgb(10, 87, 158);
    color: white;
    margin-right: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 2px 4px;
    border-radius: 5px;

    span {
      cursor: pointer;
    }
  }



  input {
    flex: 1;
    border: none;

    &:focus {
      outline: unset;
    }
  }
}

.dropdown {
  list-style: none;
  border: 1px solid rgba(0,0,0,.1);
  padding: 10px;
  margin: -4px 0 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}


.btnToolbarInbox{
  color: grey;margin-left: 10px;margin-right: 10px;cursor: pointer;
}


::ng-deep .ql-container {

  margin-right: 20px;
  margin-left: 20px;

}

::ng-deep.ql-toolbar{
  margin-left: 20px;
  margin-right: 20px;
}


.deleteAtatchement{
  float: right;
    display: block;
    cursor: pointer;
    color: #f44336;
    font-size: 15px;
    margin-top: 3px;
}

.textAttachement{
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
}

@media  (max-width: 986px) {

  .contentEmailMobile{
    padding: 0px !important;
    padding-top:25px !important;
  
  }
}


