<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="row mb-4">
    <div class="col-md-12 mb-4">

        <div class="row mb-2 mt-2">
            <div class="col-lg col-md col-sm col-xs pr-lg-0 pr-md-0 pr-sm-2 mb-2">
                <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-auto col-xs-auto ">

                <button class="btn btn-primary mb-sm-0  mb-2 alignRight" *ngIf="can_add?.permission"
                    (click)="ajouterFamille()">
                    Ajouter
                </button>
            </div>

        </div>



        <div class="mat-elevation-z8"> <!-- *ngIf="can_liste?.permission"-->
            <div class="table-responsive">
                <mat-table class="table table-striped"  [dataSource]="dataSource" matSort >
                   

                    <!-- intitule Column -->
                    <ng-container matColumnDef="intitule">
                        <mat-header-cell *matHeaderCellDef>Intitulé</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Intitule:</span>
                            {{ row?.intitule }}
                        </mat-cell>
                    </ng-container>
                    <!-- residence Column -->
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                        <mat-cell class="text-center" *matCellDef="let row" title='Détails'>
                            <span class="mobile-label mr-2"> Description:</span>
                            {{ row.description}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef style="max-width: 150px;"
                            [hidden]="can_edit?.permission!=true && can_delete?.permission!=true">Action
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"
                            [hidden]="can_edit?.permission!=true && can_delete?.permission!=true"
                            style="max-width: 150px;">
                            <span class="mobile-label mr-2"> Action:</span>
                            <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1" *ngIf="can_edit?.permission"
                                title="Modifier" (click)="editFamille(row.cbmarq)"></span>

                            <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>


                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">Aucune donnée trouvée
                        </td>
                    </tr>
                    <div *ngIf="dataSource?.data?.length === 0"></div>
                </mat-table>

                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                    [showFirstLastButtons]="true"></mat-paginator>
            </div>
        </div>
    </div>

</div>
