<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="modal-content">

    <div class="modal-header">
        <h4 *ngIf="cbmarq==0" class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter une opération</h4>
        <h4 *ngIf="cbmarq!=0" class="modal-title font-weight-bold " id="exampleModalLabel">Modifier une opération</h4>
        <button type="button" class="close" aria-label="Close" (click)="goListeOperation()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="col-md-12">
        <div class="modal-body">


            <div class="row" style="margin:0px;padding: 0px;" [hidden]="cbmarq!=0">
                <div class="col-12  form-group mb-3" >
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0" style="display: inline-flex">
                        <label class="radio radio-outline-primary" *ngFor="let radiobutton of radioItems">
                        <input type="radio" name="options" (click)="model.option = radiobutton"  (change)="changeRadio(radiobutton)"
                        [checked]="radiobutton === model.option"> <span>{{radiobutton}}</span><span class="checkmark"></span> &nbsp;
                      </label>
                    </div>

                </div>
            </div>
           
          
            <div class="row" style="margin:0px;padding: 0px;">
                <div class="col-md-12 form-group mb-3 flex-line">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0" *ngIf="typeOperation=='date'">
                        <label>Fréquence par jour (*) </label>
                        <!-- input date(exp:15j)-->
                        <input type="number" class="form-control form-control-specialiser" formControlName="date" (input)="onchangeValueDate($event.target.value)" [readonly]="cbmarq!=0"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.controls.date.errors || negatifValueDate || (formGroup.controls.date.errors  && formGroup.get('date').touched )}" />
                        <div class="invalid-feedback "
                            *ngIf="submitted && formGroup.controls.date.errors || (formGroup.controls.date.errors  && formGroup.get('date').touched )">
                            Veuillez remplir ce champs !
                        </div>
                        <div class="invalid-feedback "
                            *ngIf="negatifValueDate">
                            Cette valeur doit être supérieur à 0 !
                        </div>
                    </div>
                    <!-- heure-->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0" *ngIf="typeOperation=='heure'">
                        <label>Fréquence par heure (*) </label>
                        <!-- input heure(exp:160h)-->
                        <input type="number" class="form-control form-control-specialiser" formControlName="heure" (input)="onchangeValueHeure($event.target.value)" [readonly]="cbmarq!=0"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.controls.heure.errors || negatifValueHeure || (formGroup.controls.heure.errors  && formGroup.get('heure').touched ) }" />
                        <div class="invalid-feedback "
                            *ngIf="submitted && formGroup.controls.heure.errors || (formGroup.controls.heure.errors  && formGroup.get('heure').touched )">
                            Veuillez remplir ce champs !
                        </div>
                        <div class="invalid-feedback "
                            *ngIf="negatifValueHeure">
                            Cette valeur doit être supérieur à 0 !
                        </div>
                    </div>
                    <!-- km-->
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0" *ngIf="typeOperation=='km' && false">
                        <label>KM (*) </label>
                        <!-- input date(exp:15j)-->
                        <input type="number" class="form-control form-control-specialiser" formControlName="km" (input)="onchangeValueKm($event.target.value)" [readonly]="cbmarq!=0"
                        [ngClass]="{ 'is-invalid': submitted && formGroup.controls.km.errors || negatifValueKm || (formGroup.controls.km.errors  && formGroup.get('km').touched )}" />
                        <div class="invalid-feedback "
                            *ngIf="submitted && formGroup.controls.km.errors || (formGroup.controls.km.errors  && formGroup.get('km').touched )">
                            Veuillez remplir ce champs !
                        </div>
                        <div class="invalid-feedback "
                            *ngIf="negatifValueKm">
                            Cette valeur doit être supérieur à 0 !
                        </div>
                    </div>
                

                
                </div>  
            
            </div>


            <div class="row" style="margin: 0px;padding: 0px;">
                <div class="col-md-12 form-group mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">
                        <label for="picker1">Date Exécution (*) </label>
                        <div class="input-group">

                            <input id="picker1" class="form-control" placeholder="yyyy-mm-dd" [readonly]="cbmarq!=0"
                                name="datedeb" formControlName="datedeb" type="date"
                                [ngModel]="currentDate | date:'yyyy-MM-dd'" 
                                [ngClass]="{ 'is-invalid': submitted &&  formGroup.controls.datedeb.errors || (formGroup.controls.datedeb.errors  && formGroup.get('datedeb').touched ) }">
                                <!-- [ngModel]="currentDate | date:'yyyy-MM-dd'"-->

                            <div class="invalid-feedback "
                                *ngIf="submitted &&  formGroup.controls.datedeb.errors || (formGroup.controls.datedeb.errors  && formGroup.get('datedeb').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin: 0px;padding: 0px;">
                <div class="col-md-12 form-group mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">
                        <label for="picker1">Notifier avant (*) </label>
                        <div class="input-group">

                            <input id="picker1" class="form-control"  (input)="onchangeValueNotifAvant($event.target.value)"
                                name="dp" formControlName="notifavant" type="number"                               
                                [ngClass]="{ 'is-invalid': submitted &&  formGroup.controls.notifavant.errors || negatifValueNotifAvant || (formGroup.controls.notifavant.errors  && formGroup.get('notifavant').touched ) }">

                            <div class="invalid-feedback "
                                *ngIf="submitted &&  formGroup.controls.notifavant.errors || (formGroup.controls.notifavant.errors  && formGroup.get('notifavant').touched )">
                                Veuillez remplir ce champs !
                            </div>
                            <div class="invalid-feedback "
                                *ngIf="negatifValueNotifAvant">
                                Cette valeur doit être supérieur à 0 !
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin:0px;padding: 0px;">
                <div class="col-md-12 form-group  mb-3">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 pl-0">
                        <label >Gamme opératoire (*):</label>
                        <ng-select [clearable]="true" [items]="gammeOperatoireList" [readonly]="cbmarq!=0"
                            formControlName="gamme" 
                            bindLabel="label" placeholder="Choisir une gamme opératoire"
                            bindValue="value" 
                            [ngClass]="{'is-invalid':submitted &&  formGroup.controls.gamme.errors || (formGroup.controls.gamme.errors  && formGroup.get('gamme').touched )}">
                            <ng-template ng-option-tmp let-item="item">
                                <div title="{{item.label}}">{{item.label}}</div>
                            </ng-template>
                          
                        </ng-select>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formGroup.controls.gamme.errors || (formGroup.controls.gamme.errors  && formGroup.get('gamme').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                
                </div>
            </div>
           
           
          
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary ml-2" type="button" (click)="goListeOperation()" >Annuler</button>
            <button class="btn btn-primary" id="Valider" type="submit">Enregistrer</button>
         
        </div>
    </form>
</div>

