<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement" *ngIf="router.url === '/syndic/reglements'">
        <h1>Trésorerie</h1>
        <ul>
            <li><a routerlink="/syndic/reglements">Règlements</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top" *ngIf="router.url === '/syndic/reglements'"></div>

    <!-- end of row-->
    <div class="card cardTablePadding row mb-4">
        <div class="col-md-12 mb-4">

            <!-- row filter-->
            <div class="row">
                <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                    <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
                </div>
                <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                    <button class="btn btn-primary mb-sm-0 mb-3 alignRight" title="Recherche Avancé"
                        [routerLink]="[ '/syndic/ajouter-reglement' ]" *ngIf="can_add?.permission">
                        Ajouter
                    </button>

                </div>
            </div>



            <div class="card" *ngIf="can_liste?.permission">
                <div class="example-container mat-elevation-z8">
                    <mat-table class="table" [dataSource]="dataSource" matSort>
                        <!-- Réference Column -->
                        <ng-container matColumnDef="reference">
                            <mat-header-cell *matHeaderCellDef>Réference</mat-header-cell>
                            <mat-cell *matCellDef="let row" title="Détails"
                                [routerLink]="can_detail?.permission ? ['/syndic/details-reglement',row.cbmarq] : []">
                                <span class="mobile-label mr-2"> Réference:</span>
                                <span class="badge badge-pill badge-outline-secondary p-2 ">{{ row.reference }}</span>

                            </mat-cell>
                        </ng-container>
                        <!-- appartement Column -->
                        <!-- <ng-container matColumnDef="appartement">
                            <mat-header-cell *matHeaderCellDef>Appartement</mat-header-cell>
                            <mat-cell *matCellDef="let row">{{ row.appartement }}
                            </mat-cell>
                        </ng-container> -->
                        <!-- Proprietaire Column -->
                        <ng-container matColumnDef="proprietaire">
                            <mat-header-cell *matHeaderCellDef>Proprietaire</mat-header-cell>
                            <mat-cell *matCellDef="let row" title="Détails"
                                [routerLink]="can_detail?.permission ? ['/syndic/details-reglement',row.cbmarq] : []">
                                <span class="mobile-label mr-2"> Proprietaire:</span>
                                {{ row.proprietaire }}
                            </mat-cell>
                        </ng-container>
                        <!-- Montant Column -->
                        <ng-container matColumnDef="montant">
                            <mat-header-cell *matHeaderCellDef>Montant</mat-header-cell>
                            <mat-cell *matCellDef="let row" title="Détails"
                                [routerLink]="can_detail?.permission ? ['/syndic/details-reglement',row.cbmarq] : []">
                                <span class="mobile-label mr-2"> Montant:</span>
                                {{( row.montant).toFixed(3)}}
                            </mat-cell>
                        </ng-container>
                        <!-- Solde Column -->
                        <ng-container matColumnDef="montantPaye">
                            <mat-header-cell *matHeaderCellDef>Mode </mat-header-cell>
                            <mat-cell *matCellDef="let row" title="Détails"
                                [routerLink]="can_detail?.permission ? ['/syndic/details-reglement',row.cbmarq] : []">
                                <span class="mobile-label mr-2"> Reste:</span>
                                <span>{{ row.mode }}</span>
                            </mat-cell>
                        </ng-container>
                        <!-- Solde Column -->
                        <ng-container matColumnDef="statut">
                            <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                            <mat-cell *matCellDef="let row" title="Détails"
                                [routerLink]="can_detail?.permission ? ['/syndic/details-reglement',row.cbmarq] : []">
                                <span class="mobile-label mr-2"> Statut:</span>

                                <span class=" badge badge-square badge-square-opacity-success m-1"
                                    *ngIf="row.statut.code=='E0036'">{{ row?.statut?.label }}</span>
                                <span class=" badge badge-square badge-square-opacity-danger m-1"
                                    *ngIf="row.statut.code=='E0035'">{{ row?.statut?.label }}</span>
                                <span class=" badge badge-square badge-square-opacity-secondary m-1"
                                    *ngIf="row.statut.code=='E0037'">{{ row?.statut?.label }}</span>


                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef
                                [hidden]="can_edit?.permission!=true && can_delete?.permission!=true"> Action
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"
                                [hidden]="can_edit?.permission!=true && can_delete?.permission!=true">
                                <span class="mobile-label mr-2"> Action </span>
                                <span class="fa fa-pencil-square-o primaryMaterial mr-1 mt-1"
                                    *ngIf="can_edit?.permission" title="Modifier"
                                    (click)="editerReglement(row.cbmarq)"></span>

                                <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                    *ngIf="can_delete?.permission" (click)="confirmBox(row.cbmarq)"></span>


                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">Aucune donnée trouvée
                            </td>
                        </tr>
                    </mat-table>

                    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
