

<ngx-spinner bdColor="rgba(255,255,255,0.7)"
template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
[fullScreen]="true">

<h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px"> Chargement en cours ...
</h4>
</ngx-spinner>
<div class="modal-content">
    <div class="modal-header">
        <h4 *ngIf="cbmarq==0" class="modal-title font-weight-bold " id="exampleModalLabel">Ajouter une famille</h4>
        <h4 *ngIf="cbmarq!=0" class="modal-title font-weight-bold " id="exampleModalLabel">Modifier une famille</h4>
        <button type="button" class="close" aria-label="Close" (click)="gotoListFamille()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="familleForm" (ngSubmit)="onSubmit()" class="col-md-12">
        <div class="modal-body">
          
            <div class="col-md-12 form-group mb-3 flex-line">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3" >
                    <label>Intitulé (*) </label>
                    <input type="text" class="form-control form-control-specialiser" formControlName="intitule" name="intitule" [(ngModel)]="familleEquipementModel.intitule" (input)="onchangeValueFamille($event.target.value)"
                    [ngClass]="{ 'is-invalid':(existFamille && this.cbmarq==0) || (submitted &&  familleForm.controls.intitule.errors || (familleForm.controls.intitule.errors  && familleForm.get('intitule').touched ) )}" />
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  familleForm.controls.intitule.errors || (familleForm.controls.intitule.errors  && familleForm.get('intitule').touched )">
                        Veuillez remplir ce champs !
                    </div>
                    <div class="invalid-feedback "
                        *ngIf="existFamille && cbmarq==0">
                        Ce champs existe déjà !
                    </div>
                </div>

               
            </div>          
           
           
            <!--<div class="col-md-12 form-group mb-3">
                <div class="col-sm-6 pl-0" >
                    <label>Description</label>
                    <textarea class="form-control form-control-specialiser" formControlName="description">
                    </textarea>
                </div>

            </div>-->
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary ml-2" id="Valider" type="submit">Enregistrer</button>
            <button class="btn btn-secondary" type="button" (click)="gotoListFamille()" >Annuler</button>
        </div>
    </form>
</div>
