.user-profile .user-info {
    //background-color: aliceblue;
    //background-color: #213c7f1c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: -50px;
    z-index: 9;
    flex-direction: initial;
    justify-content: space-between;
}
.paragraph {
    display: flex;
    justify-content: space-between;
}
.text-orange {
    color: orange;
}
::ng-deep .cdk-overlay-container mat-datepicker-content{
    z-index:2000;
  }
.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    z-index: 1151 !important;
}
.reporter:hover {
    color: white;
}
.print-invoice {
  // margin-left: 5px !important;
  font-size: 11px;
}
.btn > i {
  font-size: 20px;
}
.spaceBetween {
  display: flex;
  justify-content: space-between !important;
}
.btn-outline-orange {
  border-color: orange;
  background: transparent;
}
.profile-picture {
  position: absolute;
  left: 37%;
  top: 2%;
  background: #edeff8;
  width: 95px;
  height: 95px;
  line-height: 1.4;
}
.user-profile .user-info {
  margin-top: -85px;
}
.appartement-info {
  background-color: #edeff8;
  border-radius: 25px;
  height: 215px;
  width: 280px;
  // margin-top: 20%;
  padding: 40px 15px 20px 15px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #f0f8ff;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #f0f8ff;
}
.details {
  z-index: 10;
}

.user-profile .header-cover {
  position: relative;
  border-radius: 10px;
  height: auto;
  background-color: aliceblue;
}
.user-profile .header-cover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: aliceblue;
  border-radius: 10px;
}
.card-profile-1 .doc {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: auto;
  border-radius: 0%;
}
::ng-deep .mat-form-field-infix{
  padding-top: 0px !important;
  border-top-width: 0px;
}
.timer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1em;
  //font-size: 1.4em;
  //letter-spacing: -1px;
}
.timer span {
  font-size: 1em;
  //font-size: 2em;
  //margin: 0 3px 0 15px;
}




.la-ball-fussion,
.la-ball-fussion > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-fussion {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-fussion.la-dark {
    color: #333;
}
.la-ball-fussion > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-fussion {
    width: 8px;
    height: 8px;
}
.la-ball-fussion > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: ball-fussion-ball1 1s 0s ease infinite;
       -moz-animation: ball-fussion-ball1 1s 0s ease infinite;
         -o-animation: ball-fussion-ball1 1s 0s ease infinite;
            animation: ball-fussion-ball1 1s 0s ease infinite;
}
.la-ball-fussion > div:nth-child(1) {
    top: 0;
    left: 50%;
    z-index: 1;
}
.la-ball-fussion > div:nth-child(2) {
    top: 50%;
    left: 100%;
    z-index: 2;
    -webkit-animation-name: ball-fussion-ball2;
       -moz-animation-name: ball-fussion-ball2;
         -o-animation-name: ball-fussion-ball2;
            animation-name: ball-fussion-ball2;
}
.la-ball-fussion > div:nth-child(3) {
    top: 100%;
    left: 50%;
    z-index: 1;
    -webkit-animation-name: ball-fussion-ball3;
       -moz-animation-name: ball-fussion-ball3;
         -o-animation-name: ball-fussion-ball3;
            animation-name: ball-fussion-ball3;
}
.la-ball-fussion > div:nth-child(4) {
    top: 50%;
    left: 0;
    z-index: 2;
    -webkit-animation-name: ball-fussion-ball4;
       -moz-animation-name: ball-fussion-ball4;
         -o-animation-name: ball-fussion-ball4;
            animation-name: ball-fussion-ball4;
}
.la-ball-fussion.la-sm {
    width: 4px;
    height: 4px;
}
.la-ball-fussion.la-sm > div {
    width: 6px;
    height: 6px;
}
.la-ball-fussion.la-2x {
    width: 16px;
    height: 16px;
}
.la-ball-fussion.la-2x > div {
    width: 24px;
    height: 24px;
}
.la-ball-fussion.la-3x {
    width: 24px;
    height: 24px;
}
.la-ball-fussion.la-3x > div {
    width: 36px;
    height: 36px;
}
/*
 * Animations
 */
@-webkit-keyframes ball-fussion-ball1 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 2;
        opacity: 0.35;
    }
}
@-moz-keyframes ball-fussion-ball1 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 2;
        opacity: 0.35;
    }
}
@-o-keyframes ball-fussion-ball1 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 2;
        opacity: 0.35;
    }
}
@keyframes ball-fussion-ball1 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: -100%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 100%;
        z-index: 2;
        opacity: 0.35;
    }
}
@-webkit-keyframes ball-fussion-ball2 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 1;
        opacity: 0.35;
    }
}
@-moz-keyframes ball-fussion-ball2 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 1;
        opacity: 0.35;
    }
}
@-o-keyframes ball-fussion-ball2 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 1;
        opacity: 0.35;
    }
}
@keyframes ball-fussion-ball2 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: 200%;
        left: 200%;
        opacity: 1;
    }
    100% {
        top: 100%;
        left: 50%;
        z-index: 1;
        opacity: 0.35;
    }
}
@-webkit-keyframes ball-fussion-ball3 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 2;
        opacity: 0.35;
    }
}
@-moz-keyframes ball-fussion-ball3 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 2;
        opacity: 0.35;
    }
}
@-o-keyframes ball-fussion-ball3 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 2;
        opacity: 0.35;
    }
}
@keyframes ball-fussion-ball3 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: 200%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 50%;
        left: 0;
        z-index: 2;
        opacity: 0.35;
    }
}
@-webkit-keyframes ball-fussion-ball4 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: 0.35;
    }
}
@-moz-keyframes ball-fussion-ball4 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: 0.35;
    }
}
@-o-keyframes ball-fussion-ball4 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: 0.35;
    }
}
@keyframes ball-fussion-ball4 {
    0% {
        opacity: 0.35;
    }
    50% {
        top: -100%;
        left: -100%;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 50%;
        z-index: 1;
        opacity: 0.35;
    }
}
