<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Communité</h1>
    <ul>
        <li><a routerLink="/communite/reunions">Réunions</a></li>
        <li>Détails</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<!-- widgets-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-md-12 mb-4 px-1">
                        <div class="p-2 rounded d-flex align-items-center bg-primary text-white">
                            <i class="i-Sand-watch-2 text-32 mr-3"></i>
                            <div>
                                <div class="timer mb-1">
                                    <span id="days"> {{daysToDday}} </span>Jour(s)
                                    <span id="hours"> {{hoursToDday}} </span>Hrs
                                    <span id="minutes"> {{minutesToDday}} </span>Min
                                    <span id="seconds"> {{secondsToDday}} </span>S
                                </div>
                                <span>commencer le {{reunion?.dateDebut}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-4 px-1">
                        <div class="p-2 rounded d-flex align-items-center bg-primary text-white">
                            <i class="i-Conference text-32 mr-3"></i>
                            <div>
                                <h4 class="text-18 mb-1 text-white">Intvitations</h4>
                                <span>Total: {{reunion?.nbr_invi}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-4 px-1">
                        <div class="p-2 border border-primary rounded d-flex align-items-center text-primary">
                            <i class="i-Over-Time text-32 mr-3"></i>
                            <div>
                                <h4 class="text-18 text-primary mb-1">En Attente</h4>
                                <span>Total: {{reunion?.nbr_attente}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 mb-4 px-1">
                        <div class="p-2 border border-primary rounded d-flex align-items-center text-primary">
                            <i class="i-Thumbs-Up-Smiley text-32 mr-3"></i>
                            <div>
                                <h4 class="text-18 text-primary mb-1">Participants</h4>
                                <span>Total accepte: {{reunion?.nbr_accept}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-xl-3 col-lg-4 col-md-12 user-profile card mr-lg-3 mr-sm-0 mb-sm-3 mb-md-0">
        <div class="mx-auto profile-picture avatar-lg mb-3 font-large text-center text-primary text-20 py-1">
            <h3 class="text-center mt-4 text-{{reunion?.statut?.style}}" style="font-size: large;">
                {{reunion?.statut?.label}}</h3>
        </div>
        <div class="body-cover appartement-info w-100 mt-5 p-2 pt-4 mb-3">
            <div class="pt-4 my-3">
                <p class="paragraph">
                    <strong>Objet du réunion : </strong> {{reunion?.objet}}
                </p>
                <p class="paragraph"> <strong>Créer par : </strong> {{reunion?.cbcreateur?.nomComplet}}</p>
                <p class="paragraph"><strong>Début :</strong> {{reunion?.dateDebut2?.date | date: 'dd/MM/yyyy HH:mm'}}
                </p>
                <p class="paragraph"><strong>Fin : </strong> {{reunion?.dateFin2?.date | date: 'dd/MM/yyyy HH:mm'}} </p>
            </div>

        </div>
        <div class=" mb-3" *ngIf="reunion?.statut?.code != 'E0041'">
            <div class="d-flex " *ngIf="reunion?.statut?.code =='E0042'">
                <button class="col btn btn-outline-primary text-small mr-1 w-100 mb-2"
                    *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user) && reunion?.statut?.code=='E0042'"
                    [disabled]="reunion?.statut?.code!='E0042'" (click)="GenererPV()"> <i
                        class="i-File-CSV d-block"></i>
                    Générer PV
                </button>
                <button *ngIf="reunion?.cbcreateur?.id!=id_current_user && !role.includes('ROLE_ADMIN')"
                    class="col btn btn-primary text-small mr-1 w-100 mb-2" (click)="GenererPV()">
                    <i class="i-File-CSV d-block"></i>
                    Voir PV
                </button>
            </div>

            <div class="d-flex " *ngIf="reunion?.statut?.code != 'E0042'">
                <button class="col btn btn-outline-primary text-small mr-1 w-auto mb-2"
                    [disabled]="reunion?.invitation != 0 && reunion?.statut?.code != 'E0038' "
                    *ngIf="reunion?.cbcreateur?.id==id_current_user || role.includes('ROLE_ADMIN')"
                    (click)="sendInvitation(reunion?.cbmarq)"><i class="i-Mail-Send d-block">
                    </i> Envoyer invitations
                </button>

                <button class="col btn btn-outline-success w-auto ml-1 mb-2"
                    *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user) && reunion?.statut?.code=='E0039'"
                    [disabled]="(isReunionExpire || reunion?.invitation == 0 || datedujour<dateDebut )"
                    (click)="commencerreunion()" [routerLink]="[ '/communite/room-reunion/', reunion?.cbmarq  ]"><i
                        class="i-Start-2 d-block"></i>
                    Commencer réunion
                </button>
                <button class="col btn btn-outline-success w-auto ml-1 mb-2"
                    *ngIf="(!isReunionExpire && reunion?.statut?.code=='E0040') && (reunion?.cbcreateur?.id==id_current_user || role.includes('ROLE_ADMIN')) "
                    [disabled]="isReunionExpire || reunion?.invitation == 0"
                    [routerLink]="[ '/communite/room-reunion/', reunion?.cbmarq  ]"><i class="i-Start-2 d-block"></i>
                    Rejoindre réunion
                </button>

            </div>
            <div class="d-flex " *ngIf="reunion?.statut?.code != 'E0042'">
                <!-- [disabled]="reunion?.cbcreateur?.id!=id_current_user || role!='ROLE_ADMIN'" -->
                <button (click)="openmodalreunion(reunion.cbmarq,modalLongReunion)"
                    [disabled]="reunion.statut?.code!='E0039'"
                    *ngIf="role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user"
                    class="reporter col py-2 btn btn-outline-warning print-invoice w-100 mr-1 mb-2">
                    <i class="i-Clock-Forward pr-1 d-block "></i>
                    Reporter Réunion
                </button>
                <button class="col btn btn-danger w-100 ml-1 mb-2"
                    *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user)&& reunion.statut?.code=='E0040'"
                    (click)="openmodalterminer(reunion?.cbmarq,modalTerminer)"><i class="i-Stop-2  d-block"></i>
                    Terminer réunion
                </button>
                <!-- || reunion?.invitation == 0-->
                <button class="col btn btn-outline-danger w-100  ml-1 mb-2"
                    *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user) && (reunion.statut?.code=='E0039' || reunion.statut?.code=='E0038')"
                    (click)="AnnulerReunion()"><i class="i-Power-2 d-block"></i> Annuler réunion
                </button>

                <button class="col px-0 aaa btn btn-outline-success w-100 ml-1 mb-2"
                    *ngIf="reunion?.statut?.code == 'E0040' && (reunion?.cbcreateur?.id!=id_current_user && !role.includes('ROLE_ADMIN')) "
                    [disabled]="isReunionExpire || reunion?.invitation == 0"
                    (click)="joindreReunion(reunion?.cbmarq,reunion?.mode)"
                    [routerLink]="[ '/communite/room-reunion/', reunion?.cbmarq]">
                    <i class="i-Start-2 d-block"></i> Joindre la réunion
                </button>

            </div>


        </div>
    </div>
    <div class="card col-xl col-lg col-md-12 px-0">
        <div class="card-body">
            <ngb-tabset class="nav-fill">
                <ngb-tab title="Informations génerales">
                    <ng-template ngbTabContent>

                        <div class=" user-profile row">
                            <div class="m-2 pt-3 row w-100 header-cover">
                                <div class="col details mb-4">
                                    <p class="font-weight-bold text-primary mb-1"><i
                                            class="i-Receipt-3 text-16 mr-1"></i> Type</p>
                                    <span>{{reunion.type?.label}}</span>
                                </div>
                                <!-- <div class="col details mb-4">
                                    <p class="font-weight-bold text-primary mb-1"><i
                                            class="i-Cursor-Click-2 text-16 mr-1"></i> Objet</p>
                                    <span>{{reunion.objet}}</span>
                                </div> -->

                                <div class="col details mb-4">
                                    <p class="font-weight-bold text-primary mb-1"><i
                                            class="i-Sand-watch-2 text-16 mr-1"></i>Durant</p>
                                    <span>{{reunion.duree}}h</span>
                                </div>


                                <!-- <div class="col details mb-4">
                                    <p class="font-weight-bold text-primary mb-1 text-nowrap"><i
                                            class="i-Calendar text-16 mr-1"></i> Commencer le
                                    </p>
                                    <span>{{reunion.dateDebut}}</span>
                                </div>
                                <div class="col details mb-4">
                                    <p class="font-weight-bold text-primary mb-1 text-nowrap"><i
                                            class="i-Over-Time-2 text-16 mr-1"></i> Jusqu'à</p>
                                    <span>{{reunion.dateFin}}</span>
                                </div> -->
                                <div class="col details mb-4">
                                    <p class="font-weight-bold text-primary mb-1"><i class="i-Map2 text-16 mr-1"></i>
                                        Emplacement</p>
                                    <span>{{reunion.emplacement}}</span>
                                </div>
                                <div class="col details mb-4">
                                    <p class="font-weight-bold text-primary mb-1"><i
                                            class="i-Network-Window text-16 mr-1"></i>
                                        Réunion à distance</p>
                                    <span *ngIf="reunion.enligne">Visioconférence</span>
                                    <span *ngIf="!reunion.enligne">Non</span>
                                </div>
                            </div>
                            <div class="col px-0 m-3">
                                <div class="row mx-0">
                                    <h3 class="mb-1">Description du réunion </h3>
                                    <div class="col-12 px-0">
                                        <p class="text-justify mb-4">
                                            {{reunion.description}}
                                        </p>

                                    </div>

                                </div>
                                <div class="col px-0">
                                    <h3 class="mb-1">Participants au réunion </h3>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-4"
                                            *ngFor="let item of reunion?.biens; let i = index">
                                            <div class="">
                                                <strong> <i class="i-Building text-16"></i>
                                                    {{item?.groupement?.intitule}}
                                                    <i class="i-Arrow-Forward-2" *ngIf="item?.groupement?.intitule"></i>
                                                    {{item?.residence?.intitule}} <i class="i-Arrow-Forward-2"
                                                        *ngIf="item?.bloc?.intitule"></i>
                                                    {{item?.bloc?.intitule}} <i class="i-Arrow-Forward-2"
                                                        *ngIf="item?.bloc?.intitule"></i>
                                                    {{item?.appartement?.intitule}} </strong>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Documents">
                    <ng-template ngbTabContent>
                        <div class="col-md-12 px-0 form-group mb-3"
                            *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user)">
                            <label>Documents partagés :</label>
                            <input type="text" #namedoc placeholder="Nom attachement" class="form-control mb-2"
                                (blur)="blurEvent($event)">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="form-control custom-file-input" id="importFile"
                                                (change)="onFileChange($event.target.files)"
                                                accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain">
                                            <label class="custom-file-label" #labelImport for="importFile"><i
                                                    class="fas fa-search"></i>Sèlectionner
                                                ...</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" title="Enregistrer attachement"
                                    class="btn btn-primary float-right ml-2 mb-4" (click)="AddAttachement()"><i
                                        style="font-size: 15px;" class="i-Add"></i></button>
                            </div>

                        </div>
                        <div class="row">
                            <div *ngIf="reunion?.attachements?.length === 0" class="col text-center">
                                <img src="../../../assets/images/messagerie/pasmsg.jpg" alt=""
                                    style="display: block; width: 23%; margin: auto">
                                <p style="text-align: center;font-weight: 500;">Aucune donnée trouvée</p>

                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12"
                                *ngFor="let item of reunion?.attachements; let i = index">
                                <div class="card card-profile-1 mb-4">
                                    <div class="p-3 card-body text-center">
                                        <div class="avatar doc box-shadow-2 mb-3">
                                            <div
                                                *ngIf="(getExstendsion(item?.attachement) === 'jpg') || getExstendsion(item?.attachement) === 'png'; else elseBlock">
                                                <img *ngIf="(getExstendsion(item?.attachement) === 'jpg') || getExstendsion(item?.attachement) === 'png'"
                                                    [src]="item?.attachement" alt="">
                                            </div>
                                            <ng-template #elseBlock>
                                                <img *ngIf="(getExstendsion(item?.attachement) !== 'jpg') || getExstendsion(item?.attachement) !== 'png'"
                                                    [src]="'./assets/images/doc3.jpg'" alt="">
                                            </ng-template>
                                        </div>
                                        <h4 class="mb-2">{{item.intitule}}</h4>
                                        <button class="btn btn-sm btn-outline-primary btn-rounded mr-2"
                                            (click)="openAttachement(item?.attachement)">Voir détails</button>

                                        <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                                            [disabled]="reunion?.statut?.code === 'E0041' || isReunionExpire"
                                            (click)="confirmerDeleteAttachement(item.cbmarq)"></span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Points à discuté">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover mb-4">
                                    <thead class="bg-gray-300" style="background-color: aliceblue!important;">
                                        <tr>
                                            <th scope="col" style="width: 5%">#</th>
                                            <th scope="col" style="width: 20%">Type</th>
                                            <th scope="col">Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of reunion?.notes; let i = index">
                                            <th scope="row">{{i + 1}}</th>
                                            <td>{{item.type.label}}</td>
                                            <td>{{item.description}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Mes invitations">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover mb-4"
                                    *ngIf="reunion?.statut?.code==='E0039' ||reunion?.statut?.code==='E0040' ||reunion?.statut?.code==='E0042' ">
                                    <thead class="bg-gray-300" style="background-color: aliceblue!important;">
                                        <tr>
                                            <th scope="col" style="width: 5%">#</th>
                                            <th scope="col">Réunion</th>
                                            <th scope="col">Adresse</th>
                                            <th scope="col">Envoyé vers</th>
                                            <th scope="col">Statut</th>
                                            <th scope="col">Raison</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listInvitation; let i = index">
                                            <th>{{i + 1}}</th>
                                            <td>{{item?.reunion?.Objet}}</td>
                                            <td>{{item?.reunion?.emplacement}}</td>
                                            <td>
                                                {{item.bien!=null?item?.bien?.intitule:''}}

                                            </td>
                                            <td>
                                                <span class="fa fa-circle successMaterial" *ngIf="item.presence==1"
                                                    style="font-size: 12px;"></span> <span *ngIf="item.presence==1">
                                                    Participé</span>
                                                <span class="fa fa-circle dangerMaterial" *ngIf="item.presence==2"
                                                    style="font-size: 12px;"></span> <span *ngIf="item.presence==2">
                                                    Réfusé</span>
                                                <span class="fa fa-circle warningMaterial" *ngIf="item.presence==0"
                                                    style="font-size: 12px;"></span> <span *ngIf="item.presence==0">
                                                    En attente</span>

                                            </td>
                                            <td>
                                                <span *ngIf="item?.commentaire!=null && item?.commentaire!=''">
                                                    {{item?.commentaire}}</span>
                                                <span *ngIf="item?.commentaire==null || item?.commentaire==''">
                                                    Aucun raison</span>

                                            </td>
                                        </tr>
                                        <tr class="text-center" *ngIf="listInvitation.length==0">
                                            <td colspan="6"><span>Auncune donnée trouvée</span></td>
                                        </tr>
                                    </tbody>
                                    <tfoot
                                        *ngIf="(daysToDday>0 || hoursToDday>0 || minutesToDday>0 || secondsToDday>0) &&  !role.includes('ROLE_ADMIN')"
                                        style="background-color: aliceblue;">
                                        <tr class="text-center" *ngIf="!acceptedAllInvitation">
                                            <td colspan="6">
                                                <button class="btn btn-success mb-sm-0 mb-3 mr-2"
                                                    (click)="confirmInvitationReunion(reunion.cbmarq,1)">
                                                    Accepter Tous
                                                </button>

                                                <button class="btn btn-danger mb-sm-0 mb-3"
                                                    (click)="confirmInvitationReunion(reunion.cbmarq,2)">
                                                    Refuser Tous
                                                </button>
                                            </td>
                                        </tr>
                                    </tfoot>

                                </table>
                                <!-- <span></span> -->
                                <!-- table vide -->
                                <!-- Etat Reunion saisie-->
                                <table class="table table-hover mb-4" *ngIf="reunion?.statut?.code==='E0038'">
                                    <thead class="bg-gray-300" style="background-color: aliceblue!important;">
                                        <tr>
                                            <th scope="col" style="width: 5%">#</th>
                                            <th scope="col">Réunion</th>
                                            <th scope="col">Adresse</th>
                                            <th scope="col">Envoyé vers</th>
                                            <th scope="col">Statut</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td colspan="5">
                                                Aucune donnée trouvée
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Invités">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-md-12">
                                <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            <span> <b>Propriétaires</b> </span>
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <div
                                                [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                                <h4 *ngIf="reunion?.invitation == 0 "
                                                    class="text-uppercase text-center">
                                                    Veuillez envoyer les invitations !!! </h4>
                                                <div class="row" *ngIf="reunion?.invitation != 0">
                                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
                                                        *ngFor="let item of reunion?.proprietaire; let i = index">
                                                        <div class="card card-profile-1 mb-4">
                                                            <div class="card-body text-center">
                                                                <div class="avatar box-shadow-2 mb-3 text-center">
                                                                    <div class="text-center text-primary"
                                                                        style="background: #dbe4ee; width: 100px;height: 100px; line-height: 1.4">
                                                                        <h2 style="cursor: pointer;" class="text-center  pt-4 mr-4 text-primary" [routerLink]="['/syndic/details-appartement/',item?.bien?.cbmarq]"
                                                                            style="font-size: x-large;">
                                                                            {{item?.bien?.intitule}}</h2>
                                                                    </div>
                                                                </div>
                                                                <h4 style="cursor: pointer;" class="m-0" [routerLink]="['/syndic/details-proprietaire/',item?.user?.id]">{{item?.user?.nomComplet}}</h4>
                                                                <h5 style="cursor: pointer;" class="m-0">{{item?.bien?.residence?.intitule}}
                                                                </h5>
                                                                <p class="mt-0">{{item?.commentaire}}</p>
                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-primary m-1"
                                                                    *ngIf="item?.presence == 0">En Attente</span>
                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-danger m-1"
                                                                    *ngIf="item?.presence == 2">Refus</span>
                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-success m-1"
                                                                    *ngIf="item?.presence == 1">Accepte</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            <span> <b>Invités Internes</b> </span>
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <div
                                                [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                                <h4 *ngIf="reunion?.invitation == 0" class="text-uppercase text-center">
                                                    Veuillez envoyer les invitations !!! </h4>
                                                <div class="row" *ngIf="reunion?.invitation != 0">
                                                    <div class="col-md-3"
                                                        *ngFor="let item of reunion?.interne; let i = index">
                                                        <div class="card card-profile-1 mb-4">
                                                            <div class="card-body text-center">
                                                                <div class="avatar box-shadow-2 mb-3 text-center">
                                                                    <div class="text-center text-primary"
                                                                        style="background: #c0eecf; width: 100px;height: 100px; line-height: 1.4">
                                                                        <h2 class="text-center  pt-4 mr-4 text-success"
                                                                            style="font-size: x-large;">IN</h2>
                                                                    </div>
                                                                </div>
                                                                <h5 class="m-0">{{item?.user?.nomComplet}}</h5>
                                                                <p class="mt-0">{{item?.commentaire}}</p>

                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-primary m-1"
                                                                    *ngIf="item?.presence == 0">En Attente</span>
                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-danger m-1"
                                                                    *ngIf="item?.presence == 2">Refus</span>
                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-success m-1"
                                                                    *ngIf="item?.presence == 1">Accepte</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                    <ngb-panel>
                                        <ng-template ngbPanelTitle>
                                            <span> <b>Invités Externes</b> </span>
                                        </ng-template>
                                        <ng-template ngbPanelContent>
                                            <div
                                                [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
                                                <h4 *ngIf="reunion?.invitation == 0" class="text-uppercase text-center">
                                                    Veuillez envoyer les invitations !!! </h4>
                                                <div class="row" *ngIf="reunion?.invitation != 0">
                                                    <div class="col-md-3"
                                                        *ngFor="let item of reunion?.externe; let i = index">
                                                        <div class="card card-profile-1 mb-4">
                                                            <div class="card-body text-center">
                                                                <div class="avatar box-shadow-2 mb-3 text-center">
                                                                    <div class="text-center text-primary"
                                                                        style="background: #f7d3a6; width: 100px;height: 100px; line-height: 1.4">
                                                                        <h2 class="text-center  pt-4 mr-4  "
                                                                            style="font-size: x-large;color: orange;">EX
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                                <h5 class="m-0">{{item?.email}}</h5>
                                                                <p class="mt-0">{{item?.commentaire}}</p>

                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-primary m-1"
                                                                    *ngIf="item?.presence == 0">En Attente</span>
                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-danger m-1"
                                                                    *ngIf="item?.presence == 2">Refus</span>
                                                                <span
                                                                    class=" badge badge-square badge-square-opacity-success m-1"
                                                                    *ngIf="item?.presence == 1">Accepte</span>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </ngb-panel>
                                </ngb-accordion>
                                <div class="row mx-0">
                                    <button class="btn btn-outline-primary w-100 my-2"
                                        *ngIf="(reunion?.cbcreateur?.id==id_current_user || role.includes('ROLE_ADMIN')) && (reunion?.statut?.code=='E0039' || reunion?.statut?.code=='E0040')"
                                        (click)="open(modalLong)">
                                        <i class="i-Mail-Send mr-2"></i>
                                        <span> Inviter autres participants</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
<!-- <div class="card user-profile o-hidden mb-4">
    <div class="header-cover m-2"></div>
    <div class="user-info col-md-12">
        <div class="col-md-4" style="margin-top: -138px;">


        </div>
        
        <div class="col-md-4 " style="margin-top: -109px;">
            <div class="d-flex flex-column flex-sm-row align-items-sm-center mb-3"
                *ngIf="reunion?.statut?.code != 'E0041'" style="float: right">
                <div class="flex-grow-1">




                </div>
            </div>
        </div>
    </div>



</div> -->
<!-- Modal Reporter réunion -->
<ng-template #modalLongReunion let-modal>
    <div class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Reporter Réunion<br>
        </h4>
    </div>
    <form (ngSubmit)="submitrapportrer()" [formGroup]="formrapportReunion" class=" col-md-12">
        <div class="modal-body px-0">
            <div class="col px-0 form-group mb-3">
                <label for="picker1">Date *</label>
                <div class="input-group">
                    <mat-form-field class="form-control col px-0">
                        <!-- placeholder="Jour du réunion & heure de debut" -->
                        <input matInput [ngxMatDatetimePicker]="picker" formControlName="dateDebut"
                            (click)="console(picker)" [min]="today"
                            [ngClass]="{ 'is-invalid': submitted &&  formrapportReunion.controls.dateDebut.errors || (formrapportReunion.controls.dateDebut.errors  && formrapportReunion.get('dateDebut').touched ) }">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                            [stepMinute]="1" [stepSecond]="10" [touchUi]="false" [color]="color"
                            [enableMeridian]="false" [disableMinute]="false">
                            <ng-template>
                                <span>OK</span>
                            </ng-template>
                        </ngx-mat-datetime-picker>
                    </mat-form-field>

                    <!-- <input id="picker1" class="form-control" name="dp" formControlName="date" type="date"
                        [ngClass]="{ 'is-invalid': submitted &&  formrapportReunion.controls.date.errors || (formrapportReunion.controls.date.errors  && formrapportReunion.get('date').touched ) }"> -->

                    <div class="invalid-feedback "
                        *ngIf="submitted &&  formrapportReunion.controls.dateDebut.errors || (formrapportReunion.controls.dateDebut.errors  && formrapportReunion.get('dateDebut').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="col-12 form-group px-0 mb-2">
                <label>Raison *</label>
                <textarea rows="3" class="form-control form-control-specialiser" formControlName="raisonreport"
                    placeholder="La réunion a été reportée en raison de . . ."
                    [ngClass]="{ 'is-invalid': submitted &&  formrapportReunion.controls.raisonreport.errors || (formrapportReunion.controls.raisonreport.errors  && formrapportReunion.get('raisonreport').touched ) }">
                  <input type="text" readonly value="La réunion a été reportée en raison de"/>
                </textarea>
                <div class="invalid-feedback "
                    *ngIf="submitted &&  formrapportReunion.controls.raisonreport.errors || (formrapportReunion.controls.raisonreport.errors  && formrapportReunion.get('raisonreport').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>
        </div>
        <div class="modal-footer px-0">
            <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
            <button class="btn btn-primary" type="submit">Enregistrer </button>
        </div>
    </form>
</ng-template>
<!-- end Reporter réunion -->

<ng-template #modalLong let-modal>
    <div class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Invité un autre appartement<br>
            <small class="text-muted">(Veuillez spécifier l'appartement à inviter )</small>
        </h4>

    </div>
    <form (ngSubmit)="submit()" [formGroup]="formBasic" class=" col-md-12">
        <div class="modal-body">
            <div>
                <div class=" row">
                    <div class="col-12 form-group mb-1">
                        <label class="py-0 col-form-label ">Résidence *:</label>
                        <div class="col-sm-12 px-0">
                            <ng-select [clearable]="true" [items]="residences" (change)="OnchangeResidence($event)"
                                formControlName="residence" bindLabel="label" placeholder="Choisir une résidence"
                                bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>

                    <div class="col-12 form-group  mb-1">
                        <label class="pb-0 col-form-label ">Bloc:</label>
                        <div class="col-sm-12 px-0">
                            <ng-select [clearable]="true" [items]="blocs" formControlName="bloc"
                                (change)="OnchangeBloc($event)" bindLabel="label" placeholder="Choisir un bloc"
                                bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                    <div class="col-12 form-group  mb-1">
                        <label class="pb-0 col-form-label ">Appartement:</label>
                        <div class="col-sm-12 px-0">
                            <ng-select [clearable]="true" [items]="appartement" formControlName="appartement"
                                bindLabel="label" placeholder="Choisir un bloc" bindValue="value"
                                [ngClass]="{'is-invalid':submitted &&  formBasic.controls.appartement.errors || (formBasic.controls.appartement.errors  && formBasic.get('appartement').touched )}">
                            </ng-select>
                        </div>
                        <div class="invalid-feedback col-12"
                            *ngIf="submitted &&   formBasic.controls.appartement.errors || (formBasic.controls.appartement.errors  && formBasic.get('appartement').touched )">
                            Veuillez remplir ce champs !
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
            <button class="btn btn-primary" type="submit">Inviter </button>
        </div>
    </form>
</ng-template>
<!-- Modal Conclusion réunion -->
<ng-template #modalTerminer let-modal>
    <div class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Conclusion Réunion<br>
        </h4>
    </div>
    <form (ngSubmit)="submitterminer()" [formGroup]="formterminer" class=" col-md-12">
        <!-- <h5 class="mb-0 mt-2"><span> Veuillez conclure la réunion ! </span></h5> -->
        <div class="modal-body col d-flex px-0 ">
            <div class="form-group col px-0 mb-2">

                <label>Conlusion </label>
                <textarea class="form-control " formControlName="conclusion"
                    [ngClass]="{ 'is-invalid': submitted &&  formterminer.controls.conclusion.errors || (formterminer.controls.conclusion.errors  && formterminer.get('conclusion').touched )}"
                    placeholder="Noter la conclusion de la réunion" rows="7">
                    </textarea>

                <div class="invalid-feedback "
                    *ngIf="submitted &&  formterminer.controls.conclusion.errors || (formterminer.controls.conclusion.errors  && formterminer.get('conclusion').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>


        </div>
        <div class="modal-footer px-0">
            <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
            <button class="btn btn-primary" type="submit">Enregistrer </button>
        </div>
    </form>
</ng-template>
<!-- end Conclusion réunion -->
