<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>

<div class="breadcrumb">
    <h1>Administration</h1>
    <ul>
        <li *ngIf="!utilisateur"><a routerLink="/syndic/proprietaires">Proprietaires</a></li>
        <li *ngIf="utilisateur"><a routerLink="/syndic/utilisateurs">Utilisateurs</a></li>
        <li *ngIf="!modeEdit">Ajout</li>
        <li *ngIf="modeEdit">Modifier</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="proprietaireForm" (ngSubmit)="onSubmit()" novalidate>
                    <div *ngIf="!utilisateur" class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i>
                            Informations
                            propriètaire</strong></div>
                    <div *ngIf="utilisateur" class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i>
                            Informations
                            utilisateur</strong></div>
                    <div class="row">
                        <div class="col form-group mb-3">
                            <label for="intitule">Nom & Prénom (*)</label>
                            <input class="form-control" placeholder="ex: Foulen ben Foulen" formControlName="nomComplet"
                                type="string"
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.nomComplet.errors || (proprietaireForm.controls.nomComplet.errors  && proprietaireForm.get('nomComplet').touched ) }">

                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.nomComplet.errors || (proprietaireForm.controls.nomComplet.errors  && proprietaireForm.get('nomComplet').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div *ngIf="!utilisateur" class="col form-group mb-3">
                            <label> Affecter Appartement (*)</label>
                            <!-- (change)="onselect($event)" -->
                            <ng-select multiple="true" [items]="listAppartement" formControlName="objects"
                                [searchable]="true" [clearable]="true" bindLabel="intitule" [readonly]="modeAppartement"
                                placeholder="Choisir un objects" bindValue="cbmarq" (add)="onAddproduit($event)" (remove)="onRemoveProduit($event)"
                                notFoundText="Aucune données trouver."
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.objects.errors || (proprietaireForm.controls.objects.errors  && proprietaireForm.get('objects').touched ) }">
                            </ng-select>
                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.objects.errors || (proprietaireForm.controls.objects.errors  && proprietaireForm.get('objects').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div *ngIf="utilisateur" class="col form-group mb-3">
                            <label> Affecter Produit </label>
                            <!-- (change)="onselect($event)" -->
                            <ng-select multiple="true" [items]="listproduits" formControlName="objects"
                                [searchable]="true" [clearable]="true" bindLabel="intitule" [readonly]="modeAppartement"
                                placeholder="Choisir un produit" bindValue="cbmarq"
                                notFoundText="Aucune données trouver."
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.objects.errors || (proprietaireForm.controls.objects.errors  && proprietaireForm.get('objects').touched ) }">
                            </ng-select>
                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.objects.errors || (proprietaireForm.controls.objects.errors  && proprietaireForm.get('objects').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group mb-3">
                            <label for="identifiant">Identifiant </label>
                            <input class="form-control" placeholder="ex: CIN, matricule, référence, etc .."
                                formControlName="identifiant" type="string"
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.identifiant.errors || (proprietaireForm.controls.identifiant.errors  && proprietaireForm.get('identifiant').touched ) }">

                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.identifiant.errors || (proprietaireForm.controls.identifiant.errors  && proprietaireForm.get('identifiant').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-sm-6 form-group mb-3">
                            <label for="profession">Profession </label>
                            <input class="form-control" placeholder="ex: Avocat" formControlName="profession"
                                type="string"
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.profession.errors || (proprietaireForm.controls.profession.errors  && proprietaireForm.get('profession').touched ) }">

                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.profession.errors || (proprietaireForm.controls.profession.errors  && proprietaireForm.get('profession').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group mb-3">
                            <label for="intitule">Numéro de téléphone (*)</label>
                            <ngx-intl-tel-input [preferredCountries]="preferredCountries"

                                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Tunisia"
                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National" name="telephone1"
                                formControlName="telephone1">
                            </ngx-intl-tel-input>
                            <!-- <input class="form-control" placeholder="ex: 99111222" formControlName="telephone1"
                                type="tel" minlength="8"
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.telephone1.errors || (proprietaireForm.controls.telephone1.errors  && proprietaireForm.get('telephone1').touched ) }"> -->
                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.telephone1.errors || (proprietaireForm.controls.telephone1.errors  && proprietaireForm.get('telephone1').touched )">
                                <div *ngIf="proprietaireForm.controls.telephone1.errors.required">Veuillez remplir ce
                                    champs !</div>
                                <div *ngIf="proprietaireForm.controls.telephone1.errors">Veuillez respecter le format !
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group mb-3">
                            <label for="intitule">Numéro de téléphone2 </label>
                            <!-- <input class="form-control" placeholder="ex: 99111222" formControlName="telephone2"
                                type="tel" minlength="8"
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.telephone2.errors || (proprietaireForm.controls.telephone2.errors  && proprietaireForm.get('telephone2').touched ) }"> -->
                            <ngx-intl-tel-input [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Tunisia"
                                [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National" name="telephone2"
                                formControlName="telephone2">
                            </ngx-intl-tel-input>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  proprietaireForm.controls.telephone2.errors || (proprietaireForm.controls.telephone2.errors  && proprietaireForm.get('telephone2').touched )">

                                <div *ngIf="proprietaireForm.controls.telephone2.errors">Veuillez respecter le format !
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col form-group mb-3">
                            <label for="type">Nature utilisateur</label>
                            <ng-select [items]="typeUser" formControlName="type" [searchable]="true" [clearable]="true"
                                bindLabel="label" placeholder="Choisir un type" bindValue="value"
                                notFoundText="Aucune données trouver."
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.type.errors || (proprietaireForm.controls.type.errors  && proprietaireForm.get('type').touched ) }">
                            </ng-select>
                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.type.errors || (proprietaireForm.controls.type.errors  && proprietaireForm.get('type').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group mb-3">
                            <label for="adresse">Adresse </label>
                            <textarea class="form-control" placeholder="ex: Sousse - Tunisie" formControlName="adresse"
                                type="string">
                            </textarea>
                        </div>
                    </div>
                    <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i>Informations
                            Compte</strong></div>
                    <div class="row">
                        <div class="col-sm-6 form-group mb-3">
                            <label for="intitule">Nom d'utilisateur (*)</label>
                            <input class="form-control" placeholder="ex: User" formControlName="login" type="string"
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.login.errors || (proprietaireForm.controls.login.errors  && proprietaireForm.get('login').touched ) }">

                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.login.errors || (proprietaireForm.controls.login.errors  && proprietaireForm.get('login').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-sm-6 form-group mb-3">
                            <label for="intitule">Adresse email (*)</label>
                            <input class="form-control" placeholder="ex: foulen@gmail.com" formControlName="email"
                                type="email"
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.email.errors || (proprietaireForm.controls.email.errors  && proprietaireForm.get('email').touched ) }">

                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.email.errors || (proprietaireForm.controls.email.errors  && proprietaireForm.get('email').touched )">
                                <div *ngIf="proprietaireForm.controls.email.errors.required">Veuillez remplir ce champs
                                    !</div>
                                <div *ngIf="proprietaireForm.controls.email.errors.email">Invalid adresse email !</div>
                            </div>
                        </div>

                    </div>
                    <div *ngIf="!modeEdit" class="row">
                        <div class="col-sm-6 form-group mb-3">
                            <label for="password">Mot de passe (*)</label>
                            <input class="form-control" formControlName="pwd" placeholder="ex: ******** "
                                type="password" minlength="8" id="pwd"
                                [ngClass]="{'is-invalid': submitted && proprietaireForm.controls.pwd.errors }">
                            <div *ngIf="submitted && proprietaireForm.controls.pwd.errors" class="invalid-feedback">
                                <div *ngIf="proprietaireForm.controls.pwd.errors.required">Veuillez remplir ce
                                    champs !
                                </div>
                                <div *ngIf="proprietaireForm.controls.pwd.errors.minlength">8 Caractères au minimum
                                    !
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 form-group mb-3">
                            <label for="confirmpassword">Confirmation (*)</label>
                            <input class="form-control" formControlName="confirmpassword" placeholder="ex: ******** "
                                type="password" minlength="8" id="confirmpassword"
                                [ngClass]="{'is-invalid': submitted && proprietaireForm.controls.confirmpassword.errors }">
                            <span (click)="myFunction()" class="p-viewer2">
                                <span class="fa fa-eye" aria-hidden="true"></span>
                            </span>
                            <div *ngIf="submitted && proprietaireForm.controls.confirmpassword.errors"
                                class="invalid-feedback">

                                <div *ngIf="proprietaireForm.controls.confirmpassword.errors.mustMatch">Mots de passe ne
                                    correspondent pas ! </div>
                                <div *ngIf="proprietaireForm.controls.confirmpassword.errors.required">Veuillez repmlir
                                    ce
                                    champs !
                                </div>
                                <div *ngIf="proprietaireForm.controls.confirmpassword.errors.minlength">8 caractères au
                                    minimum
                                    !
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--wz-->
                    <div class="card-title border-bottom mb-3" *ngIf="haveNoProprietaire && !modeEdit"><strong><i
                                class="i-Pulse"></i>Informations
                            Bien</strong>
                    </div>
                    <div class="row" *ngIf="haveNoProprietaire && !modeEdit">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-group mb-3">
                            <label for="intitule">Date remise de clé (*)</label>
                            <input class="form-control" formControlName="dateremisebien" type="date"
                                [ngClass]="{ 'is-invalid': submitted &&  proprietaireForm.controls.dateremisebien.errors || (proprietaireForm.controls.dateremisebien.errors  && proprietaireForm.get('dateremisebien').touched ) }">

                            <div class="invalid-feedback "
                                *ngIf="submitted &&  proprietaireForm.controls.dateremisebien.errors || (proprietaireForm.controls.dateremisebien.errors  && proprietaireForm.get('dateremisebien').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="mb-3 text-right">
                        <button type="button" class="btn btn-dark m-1" *ngIf="!utilisateur  && !Resident"
                            [routerLink]="['/syndic/proprietaires']">Annuler</button>
                        <button type="button" class="btn btn-dark m-1" *ngIf="utilisateur"
                            [routerLink]="['/syndic/utilisateurs']">Annuler</button>
                        <button type="button" class="btn btn-dark m-1" *ngIf="!utilisateur && Resident"
                            [routerLink]="['/syndic/details-appartement/', cbmarq]">Annuler</button>
                        <button class="btn btn-outline-primary " type="submit">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
