.p-viewer2 {
    float: right;
    top: -25px;
    right: 12px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.fa-eye {
    color: #000;
}
.custom-file-input ~ .custom-file-label::after {
    content: "Sélectionner";
  }