th {
    border: none;
    padding: 20px;
}
td {
    border: none;
    padding: 15px;
}
#table tr:nth-child(even) {
    background-color: #f2f2f2;
}
@media (max-width: 900px) {
    td {
        padding: 25px;
    }
    .mat-row {
        padding-bottom: 25px !important;
    }
}
