@media screen and (min-width: 200px) and (max-width: 966px) {
   .blocVide {
      display: none !important;
    }
  }
  @media (max-width: 900px) {
    .mat-column-produit {
      padding-left: 0px;
    }
    .mobile-label {
        width: auto

   }
  }
