// #055aa5

.iconmedia {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: aquamarine;
  padding: 13px 10px 0px;
}
.bgneutreactive {
  background-color: #ffb822;
  color: white !important;
}
.neutreactive {
  background-color: white;
  color: #ffb822 !important;
}
.bgouiactive {
  background-color: green;
  color: white !important;
}
.ouiactive {
  background-color: white;
  color: green !important;
}
.bgnonactive {
  background-color: red;
  color: white !important;
}
.bg-default {
  background-color: #e8ebf2;
}
.nonactive {
  background-color: white;
  color: red !important;
}
.labelfile {
  padding: 5px;
  border-radius: 5px;
  background: #9e9e9e24;
}
//debut video
/*.video-div {
	border-radius: 5px;
	border: 1px solid black;
	margin: 0 5px;
	width: 320px;
	overflow: hidden;
	display: inline-block;
}*/
.card-profile-1 .doc {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: auto;
  border-radius: 0%;
}
.user-profile {
  cursor: default;
}
.user-profile .header-cover {
  position: relative;
  border-radius: 10px;
  height: auto;
  background-color: aliceblue;
}
.user-profile .header-cover2 {
  position: relative;
  border-radius: 10px;
  height: auto;
  background-color: transparent;
  border: 1px solid aliceblue;
}
.user-profile .header-cover::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: aliceblue;
  border-radius: 10px;
}
.border-success {
  border: 1px solid green;
}
.border-danger {
  border: 1px solid red;
}
.border-warning {
  border: 1px solid #ffb822;
}
// .iconactive:active {
//   .fa-thumbs-o-up {
//     background-color: green;
//     color: #dee2e6 !important;
//   }
// }
.fa-thumbs-o-down {
  color: red;
  cursor: pointer;
}
.fa-hand-grab-o {
  cursor: pointer;
  color: #ffb822;
}
.fa-thumbs-o-up {
  cursor: pointer;
  color: green;
}
.yes:hover {
  cursor: pointer;
  border: none;
  padding: 6px 10px;
  background-color: green;
  color: #dee2e6 !important;
}
.fa-user-circle-o {
  padding-top: 9px;
}
.no:hover {
  cursor: pointer;
  border: none;
  padding: 6px 10px;
  background-color: red;
  color: #dee2e6 !important;
}
.none:hover {
  cursor: pointer;
  border: none;
  padding: 6px 10px;
  background-color: #ffb822;
  color: #dee2e6 !important;
}
.input-vote {
  height: 50px;
  font-size: 25px;
  border: none;
}
.text-vert {
  color: #9fb18c;
}
.details {
  z-index: 10;
}
.video-div video {
  width: 450px;
  border-radius: 15px;
}

/*.video-div h2 {
	border-top: 5px solid #080808;
    padding: 5px 10px;
    margin: 0;
    margin-top: -4px;
    overflow: hidden;
}*/

#videos-container {
  text-align: center;
}
//fin
.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
  height: 450px;
}
.card-img-top {
  height: 100px;
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.videomobile {
  width: 100% !important;
  height: 912px !important;
  border-radius: 0px !important;
}
video {
  width: 100% !important;
  height: 450px !important;
}
.iconrightbar {
  top: 30px;
  right: 0px;
  color: #f5faff;
  padding: 5px 5px;
  background: #e8ebf2;
  border-radius: 7px 0px 0px 7px;
}
.iconchatrightbar {
  top: 67px;
  right: 0px;
  font-size: 20px;
  color: #f5faff;
  padding: 5px 3px 8px 5px;
  background: #e8ebf2;
  border-radius: 7px 0px 0px 7px;
}
.card-img-overlay {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  overflow-x: scroll;
  //padding: 1.25rem;
}
#videocontainer video {
  width: 100%;
  height: 100%;
}
#propvideo video {
  width: 15% !important;
  height: 150px !important;
}

//////////////////////////////
.darkMode {
  background-color: #2b2b2b;
  color: white;

  .titleheaderCard {
    background-color: #5e5e5e;
    color: #e5e5e5;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
  }

  .textColor {
    color: #e5e5e5;
    word-break: break-all;
  }

  .titleheaderCardChat {
    background-color: #5e5e5e;
    color: #e5e5e5;
    padding: 10px;
  }
}
.lightMode {
  background-color: white;
  color: #2b2b2b;

  .titleheaderCard {
    background-color: #f3f3f3;
    color: #838383;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
  }

  .textColor {
    color: #838383;
    word-break: break-all;
  }

  .titleheaderCardChat {
    background-color: #f3f3f3;
    color: #838383;
    padding: 10px;
  }
}
.description-meeting {
  border: 1px solid white;
  border-radius: 15px;
}
.colorIcon {
  color: #5e5e5e;
  cursor: pointer;
}
.icon_conf_audio {
  bottom: 2px;
  left: 0px;
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
  // background-color: rgba(255, 255, 255, 0.945);
  color: #5e5e5e;
}
.icon_conf_video {
  bottom: 0px;
  right: 0px;
  font-size: 15px;
  padding: 4px;
  border-radius: 5px;
  // background-color: rgba(255, 255, 255, 0.945);
  color: #5e5e5e;
}
.textNameParticip {
  color: white;
  padding: 3px;
  position: absolute;
  left: 1.5vw;
  border-radius: 5px;
  margin-top: -33px;
  background-color: #0000006b;
  font-size: 11px;
  min-width: 89px;
  width: 100%;
}
#main-video {
  border: 1px solid white;
  border-radius: 15px;
}

#footer {
  background-color: #f3e5f5;
  padding: 20px;
}
.microPartcipListPrincipale {
  padding: 2px 3px 2px 3px;
  position: absolute;
  right: 1vw;
  margin-top: -33px;
  background-color: #1b67b5;
  color: white;
  border-radius: 5px;
  z-index: 1;
}
.headerdiscussion {
  background-color: #1b67b5;
  color: white;
}
.discusion-body {
  position: fixed;
  bottom: 0px;
  right: 100px;
  height: 350px;
  background-color: white;
  border: 1px solid #1b67b53b;
  // border-radius: 10px 10px 0px 0px;
}
.footdiscussion {
  position: fixed;
  bottom: 0px;
}
.icondiscussion {
  position: fixed;
  bottom: 0px;
  right: 15px;
}
.discussion {
  position: fixed;
  bottom: 20px;
  right: 15px;
  //padding: 5px 5px;
}
.fa-comments-o {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 55px;
  color: #1b67b5;
  background-color: #c0cedb;
  border-radius: 10px;
}
.fa.slashvideo:after {
  position: absolute;
  content: "/";
  font-weight: bold;
  font-size: 25px;
  left: 0;
  top: 0;
  color: #df0029;
  text-shadow: 1px 0px 0px #ffffffe3;
  line-height: 30px;
  left: 45%;
  font-family: Arial;
}
.textEllipsis {
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.borderRadiusCard {
  border-radius: 18px !important;
}

//scroll design
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; //b5b6b66e
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; //#b5b6b66e;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; //grey
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}

/********* card item ***/

.mailbox .message-center .message-item:hover {
  background: #f8f9fa;
}

.mailbox .message-center .message-item {
  border-bottom: 1px solid #e9ecef;
  display: block;
  text-decoration: none;
  padding: 9px 15px;
}

.mailbox .message-center .message-item .mail-contnet {
  display: inline-block;
  width: 75%;
  padding-left: 10px;
  vertical-align: middle;
}

.mail-contnet {
  margin-left: 10px;
}

.mailbox .message-center .message-item .mail-contnet .message-title {
  margin: 5px 0 0;
}
.mailbox .message-center .message-item .message-title {
  color: #212529;
  font-weight: bold;
}

.profileImage {
  width: 45px;
  height: 45px;
  border-radius: 25%;
  background: #1c7fe0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  display: inline-block;
}

.cdresidense {
  font-size: 15px;
  color: white;
  padding-top: 9px;
  // padding-left: 30px;
}

.toolbarParticipant {
  position: absolute;
  right: 0;
  padding-top: 10px;
}

.fa.fa-video-camera .slash::after {
  position: absolute;
  content: "/";
  color: #5e5e5e;
  font-weight: 700;
  font-size: 1.7em;
  left: 47px;
  top: -4px;
  cursor: pointer;
}

/**************************/
@media (max-width: 1100px) {
  .card-profile-1 .doc {
    width: 100px;
    height: 100px;
  }
}
/********************************* timer *******************************************/
.modal-timer-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
  background: #00000066;
}

.modal-timer-text {
  height: 500px;
}
#modal-timer-div {
  background: #396aa1;
  font-size: 10px;
  box-shadow: 0 0 9px #000010a1;
  box-sizing: border-box;
  margin: auto;
  border-radius: 5px;
  margin-top: 10%;
}

/********************************* end timer *******************************************/
button.chatbox-maximize,
button.chatbox-panel-close {
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0 !important;
  cursor: pointer;
}
button.chatbox-close {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 52px;
  height: 52px;
  color: #fff;
  background-color: #055aa5;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 #2e3d4933;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  margin: 16px calc(2 * 16px + 52px) 16px 16px;
}
button.chatbox-open {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 52px;
  height: 52px;
  color: #fff;
  background-color: #055aa5;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 #2e3d4933;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin: 16px;
}
.chatbox-popup-mobile {
  bottom: calc(2 * 16px + 85px) !important;
  right: 0px !important;
}
.chatbox-popup {
  visibility: visible;
  opacity: 1;
  display: flex;
  position: fixed;
  box-shadow: 5px 5px 25px 0 #2e3d4933;
  flex-direction: column;
  display: none;
  bottom: calc(2 * 16px + 52px);
  right: 16px;
  width: 377px;
  height: auto;
  background-color: #fff;
  border-radius: 16px;
  z-index: 9999;
}
.fa-4x {
  font-size: 4em !important;
}
.fa-3x {
  font-size: 3em !important;
}
.chatbox-popup .chatbox-popup__header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  color: #fff;
  background-color: #055aa5;
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.votemodal {
  // display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
}
.spantextmsg {
  color: #055aa5;
  font-weight: bold;
  float: left;
}
.chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
  margin-top: -32px;
  // background-color: #9bc615d4;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.chatbox-popup__avatar {
  margin-top: -32px;
  // background-color: #9bc615d4;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.chatbox-popup .chatbox-popup__main {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  line-height: calc(16px + 16px / 2);
  color: #888;
  text-align: center;
}
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
legend,
main,
nav,
section {
  display: block;
}
.chat-logs {
  padding: 15px;
  height: 370px;
  overflow-y: scroll !important;
  /* transform: scale(1, -1); */
}
.image-upload > input {
  display: none;
}
.chatbox-popup .chatbox-popup__footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
textarea.textchat {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: calc(16px + 16px / 2);
  padding: 0 calc(16px / 2);
  font-family: inherit;
  font-size: 16px;
  line-height: calc(16px + 16px / 2);
  color: #888;
  background-color: none;
  border: 0;
  outline: 0 !important;
  resize: none;
  overflow: hidden;
}
.chat-msg {
  clear: both;
  position: relative;
  /* transform: scale(1, -1); */
}
.self > .cm-msg-text {
  float: right;
  background: #055aa5;
  color: white;
}
.cm-msg-text {
  background: #c2c2c254;
  padding: 10px 15px 10px 15px;
  color: #212020;
  max-width: 75%;
  float: left;
  margin-left: -11px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 30px;
  word-break: break-all;
}
.chatbox-panel {
  visibility: visible;
  opacity: 1;
  display: flex;
  position: fixed;
  box-shadow: 5px 5px 25px 0 #2e3d4933;
  flex-direction: column;
  display: none;
  //  height: 772px;
  right: 0;
  bottom: 0;
  width: 377px;
  background-color: #fff;
  z-index: 9999;
}
.chatbox-panel .chatbox-panel__header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 16px;
  color: #fff;
  background-color: #055aa5;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
}
.chatbox-panel .chatbox-panel__main {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  line-height: calc(16px + 16px / 2);
  color: #888;
  text-align: center;
  flex: 1 1 auto;
}
.chat-logspanel {
  padding: 15px;
  height: 570px;
  overflow-y: scroll;
  /* transform: scale(1, -1); */
}
.chatbox-panel .chatbox-panel__footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 14px;
  border-top: 1px solid #ddd;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
}
.visuallyhidden {
  visibility: hidden;
  // opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.notification.show-count::before {
  transform: scale(1);
  opacity: 1;
}
.notification.show-count::after {
  transform: scale(1);
  opacity: 1;
}
.notification.notif::after {
  font-family: Arial;
  font-size: 0.7em;
  font-weight: 700;
  position: absolute;
  top: -12px;
  right: -6px;
  padding: 5px 8px;
  line-height: 100%;
  border: 2px #fff solid;
  border-radius: 60px;
  background: #3498db;
  opacity: 0;
  content: attr(data-count);
  opacity: 0;
  transform: scale(0.5);
  transition: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.bg-default {
  background-color: #e8ebf2;
}
.borderRadiusCard {
  border-radius: 18px !important;
}
.i-Arrow-Up {
  font-weight: bold;
  font-size: 30px;
}
.stylePhone {
  font-size: 20px;
  width: 35px;
  color: white;
  background: red;
  padding: 5px 10px 0px 10px;
}

.fa-rotate-90 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
