<!--<script src="./node_modules/fbr/FileBufferReader.js"></script>-->

<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">
    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85 "> Chargement en cours ... </h4>
</ngx-spinner>
<div id="globalcontainer">
    <div class="breadcrumb justify-content-between mb-2">
        <div class="col-4 d-flex px-0">
            <h1>Communité</h1>
            <ul>
                <li><a routerLink="/communite/reunions">Réunion</a></li>
                <li>Détails</li>
            </ul>
        </div>
        <!--             (click)="openmodalterminer(reunion?.cbmarq,modalTerminer)"-->
        <div class="col-8 text-right px-0">
            <button class="col btn btn-outline-danger w-auto ml-2"
                    (click)="closeallroom()"
                *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user)"
                [disabled]="reunion?.statut?.code=='E0042'">
                <span style="font-size: 17px;" class="fa fa-stop d-block"></span>
                Terminer réunion
            </button>
            <button class="col btn btn-outline-danger w-auto ml-2 "
                [routerLink]="[ '/communite/detail-reunion/', reunion?.cbmarq  ]"
                [disabled]="reunion?.statut?.code=='E0042'"
                *ngIf="(!role.includes('ROLE_ADMIN') && reunion?.cbcreateur?.id!=id_current_user) ">
                <span style="font-size: 17px;" class="fa fa-stop d-block"></span>
                Quitter réunion
            </button>
            <button class="col btn btn-primary w-auto ml-2 text-white"
                *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user)"
                [disabled]="reunion?.statut?.code!='E0042'" (click)="GenererPV()">
                <i style="font-size: 17px;" class="i-File-CSV d-block"></i>
                Générer PV
            </button>
        </div>

    </div>
    <div class="separator-breadcrumb border-top"></div>
    <!-- standard view mode visioconférance -->
    <div class="row" [hidden]="maximaseWindowsRoom" *ngIf="reunion?.enligne==true">
        <!-- left side mode visioconférance-->
        <div class="col-xl-9 col-lg-9 col-md-6 col-sm-12 mb-2 ">

            <div class="card" [ngClass]="{darkMode : isdarkMode , lightMode: !isdarkMode}" style="min-height: 741px;">
                <!-- vu utilisateur principale mode visioconférance-->
                <div class="row mb-2 mt-2">
                    <div class="col-xl-12 px-4 col-12  my-2">
                        <div class="row justify-content-center mx-2">
                            <div class="col-6 px-0 d-flex mx-2 ">
                                <div class="col px-0">
                                    <span class="text-15">{{name_current_user}}</span>
                                    <span class="pl-2 fa fa-circle"
                                        [ngClass]="{'text-danger':reunion?.statut?.code!='E0040','text-success':reunion?.statut?.code=='E0040'}"
                                        style="font-size: 16px;"></span>
                                </div>
                                <!-- <div class="col-auto px-2">
                                <span class="fa fa-microphone colorIcon  ml-2 mr-2"
                                    style="padding: 2px 5px 2px 5px !important;" (click)="muteActiveMicAdmin()"
                                    *ngIf="isActiveMicAdmin"></span>
                                <span class="fa fa-microphone-slash  colorIcon ml-2 mr-2"
                                    style="padding: 2px 5px 2px 5px !important;" *ngIf="!isActiveMicAdmin"
                                    (click)="muteActiveMicAdmin()"></span>
                                <span class="fa fa-video-camera colorIcon slash mr-2"
                                    [ngStyle]="{'color':isActiveCamAdmin ? '#5e5e5e':'#f50e0e99' }"
                                    (click)="muteActiveCamAdmin()"></span>
                            </div> -->
                            </div>
                            <!-- fa fa-window-maximize  ////  (click)="minimiseMaximiseWindows()" -->
                            <span class="col px-0  mr-2 text-right"></span>
                        </div>
                    </div>
                    <div class="row mx-4 px-2 w-100">
                        <!-- video admin mode visioconférance-->
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0 w-100 borderRadiusCard"
                            id="videos-container">
                            <video id="main-video" controls playsinline autoplay></video>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 px-0">
                            <div class="ml-sm-0 ml-lg-2 mx-md-0 ml-xs-0 h-100 description-meeting px-1"
                                [ngClass]="{'border' : !isdarkMode ? '1px solid #213C7F' : 'white'}">
                                <div class="pt-3 pl-2 row w-100 mb-3"
                                    [ngClass]="{'header-cover' : !isdarkMode , 'header-cover2': isdarkMode}">
                                    <div class="col-6 details mb-4">
                                        <p class="font-weight-bold text-primary mb-1"
                                            [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                                class="i-Cursor-Click-2 text-16 mr-1"></i>
                                            Objet</p>
                                        <span>{{reunion.objet}}</span>
                                    </div>
                                    <div class="col details mb-4">
                                        <p class="font-weight-bold text-primary mb-1"
                                            [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                                class="i-Male text-16 mr-1"></i>
                                            Présentée par</p>
                                        <span>{{reunion.cbcreateur?.nomComplet}}</span>
                                    </div>
                                    <div class="col-6 details mb-4">
                                        <p class="font-weight-bold text-primary mb-1"
                                            [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                                class="i-Map2 text-16 mr-1"></i>
                                            Emplacement</p>
                                        <span>{{reunion.emplacement}}</span>
                                    </div>
                                    <div class="col-6 details mb-4">
                                        <p class="font-weight-bold text-primary mb-1"
                                            [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                                class="i-Sand-watch-2 text-16 mr-1"></i>Durant</p>
                                        <span>{{reunion.duree}}h</span>
                                    </div>
                                    <div class="col-6 details mb-4">
                                        <p class="font-weight-bold text-primary mb-1 text-nowrap"
                                            [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                                class="i-Calendar text-16 mr-1"></i> Commencer le
                                        </p>
                                        <span>{{reunion.dateDebut}}</span>
                                    </div>
                                    <div class="col-6 details mb-4">
                                        <p class="font-weight-bold text-primary mb-1 text-nowrap"
                                            [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                                class="i-Over-Time-2 text-16 mr-1"></i> Jusqu'à</p>
                                        <span>{{reunion.dateFin}}</span>
                                    </div>

                                </div>
                                <div class="row mx-2  mb-3">
                                    <h3 class="mb-1"
                                        [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}">
                                        <i class="i-File-Horizontal-Text text-16 mr-1"></i> Description
                                    </h3>
                                    <div class="col-12 px-0">
                                        <p class="text-justify mb-2">
                                            {{reunion.description}}
                                        </p>

                                    </div>
                                </div>
                                <div class="row mx-2  mb-3" *ngIf="role.includes('ROLE_ADMIN')">
                                    <button class="col btn btn-outline-danger w-auto" *ngIf="allCam" disabled>
                                        <span style="font-size: 17px;"
                                            class="fa fa-video-camera slashvideo d-block"></span>
                                        Désactiver Caméras
                                    </button>
                                    <button class="col btn btn-primary w-auto ml-2 text-white" *ngIf="!allCam" disabled
                                        (click)="GenererPV()">
                                        <span style="font-size: 17px;" class="fa fa-video-camera d-block"></span>
                                        Activer Caméras
                                    </button>
                                    <button class="col btn btn-danger w-auto ml-2 text-white" *ngIf="!allAudio"
                                        (click)="muteall()">
                                        <span style="font-size: 17px;" class="fa fa-microphone-slash d-block"></span>
                                        Désactiver Audios
                                    </button>
                                    <button class="col btn btn-primary w-auto ml-2 text-white" *ngIf="allAudio"
                                        (click)="unmuteall()">
                                        <span style="font-size: 17px;" class="fa fa-microphone d-block"></span>
                                        Activer Audios
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mx-4 w-100 my-2">
                        <div class="col-auto px-0 m-1" *ngFor="let participant of allparticipants;let i=index">
                            <img *ngIf="participant?.user?.photo!=null" [src]="participant?.user?.photo" width="120px"
                                height="100px" class="col-auto px-0 position-relative rounded" />
                            <img style="background: #045aa5;" *ngIf="participant?.user?.photo==null"
                                src="../../../../../assets/images/faces/defaultAvatar.png" width="120px" height="100px"
                                class="col-auto px-0 position-relative rounded" />
                            <!-- video remote mode visioconférance-->
                            <div class="px-0  rounded w-100 borderRadiusCard" id="videos-container-Local">

                            </div>
                            <div class="w-100 position-absolute" style="top:0px;left: 2px;font-size: 9px;">
                                <span class=" px-1 text-left text-wrap">{{participant?.user?.nomComplet}}</span>
                                <!-- [ngStyle]="{'color':participant.pointage ? 'chartreuse':'#FF2222' }" -->
                                <span class="pl-2 fa fa-circle participt particip{{participant?.user?.id}}"
                                    style="position:absolute;right:10px;top:4px;font-size: 10px;"></span>
                            </div>
                            <span class="position-absolute fa fa-microphone colorIcon icon_conf_audio"
                                (click)="muteparticip(participant?.user?.id)" *ngIf="isActiveMicRemote">
                            </span>
                            <span class="position-absolute fa fa-microphone-slash icon_conf_audio colorIcon "
                                *ngIf="!isActiveMicRemote" (click)="muteActiveMicparticipant(i)">
                            </span>
                            <span class="position-absolute fa fa-video-camera icon_conf_video colorIcon slash pr-1"
                                [ngStyle]="{'color':isActiveCamRemote ? '#5e5e5e':'#FF2222' }"
                                (click)="muteActiveCamParticipant(i)">
                            </span>
                        </div>
                    </div>

                </div>

                <div class="mb-1">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 mb-2"
                        *ngFor="let participant of listParticipant; ">
                        <div class="hhhhhhhhh col">
                            <img *ngIf="participant?.user?.photo!=null" [src]="participant?.user?.photo"
                                class="d-block w-100 borderRadiusCard">
                            <img *ngIf="participant?.user?.photo==null"
                                src="../../../../../assets/images/faces/defaultAvatar.png"
                                class="d-block w-100 borderRadiusCard">
                            <p class="textNameParticip textEllipsis">{{participant.name}}</p>
                            <span class="fa fa-microphone colorIcon microPartcipListPrincipale ml-2 mr-2"
                                (click)="muteActiveMicParticip(participant)" *ngIf="participant.isMicActivated"></span>
                            <span class="fa fa-microphone-slash microPartcipListPrincipale colorIcon ml-2 mr-2"
                                (click)="muteActiveMicParticip(participant)" *ngIf="!participant.isMicActivated"></span>
                        </div>
                    </div>
                </div>
                <!-- toolbar -->
                <div class="col mb-2 px-1 " style="display: inline-table;">
                    <div class="card col-lg col-md-12 px-0" style="background: transparent;">
                        <div class="card-body">
                            <ngb-tabset class="nav-fill">
                                <ngb-tab title="Point à discuté">
                                    <ng-template ngbTabContent>
                                        <div class="row">
                                            <!--
                                            [ngStyle]="{'pointer-events': reunion?.cbcreateur?.id!=id_current_user ? 'none': 'auto'}"
                                        -->
                                            <div class="col-md-12" id="voteconferance">
                                                <table class="table table-hover">
                                                    <thead class="bg-gray-300"
                                                        style="background-color: transparent!important;">
                                                        <tr>
                                                            <th scope="col" class="text-center" style="width: 20%">Type
                                                            </th>
                                                            <th scope="col" class="text-center">Description</th>
                                                            <th scope="col" class="text-center">Vote</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let itemnote of reunion?.notes; let i = index">
                                                            <td class="col-3 text-center px-0">{{itemnote.type.label}}
                                                            </td>
                                                            <td class="col-auto text-justify px-0 ">
                                                                {{itemnote.description}}
                                                            </td>
                                                            <!-- vote -->
                                                            <td class="col-5 px-0 text-center"
                                                                (click)="openmodalvote(reunion.cbmarq,itemnote,modal)"
                                                                *ngIf="itemnote?.v_oui!=0 && itemnote?.v_non!=0 && itemnote?.v_neutre!=0 && itemnote?.type?.code!='E0026' && reunion.mode==1">
                                                                <div class="row justify-content-center">
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mr-1 input-group border-success rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-thumbs-o-up yes text-success border-right border-success py-2 px-2"></span>
                                                                        <input type="number" [value]="itemnote?.v_oui"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 text-white"
                                                                            readonly />
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mr-1 input-group border-danger rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-thumbs-o-down no text-danger border-right border-danger py-2 px-2"></span>
                                                                        <input type="number" [value]="itemnote?.v_non"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 text-white"
                                                                            readonly />
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 input-group border-warning rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-hand-grab-o none text-warning text-warning border-right border-warning py-2 px-2"></span>
                                                                        <input type="number"
                                                                            [value]="itemnote?.v_neutre"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 "
                                                                            readonly />
                                                                    </div>
                                                                </div>

                                                            </td>


                                                            <td *ngIf="(itemnote?.v_oui==0 && itemnote?.v_non==0 && itemnote?.v_neutre==0) && (itemnote?.type?.code!='E0026' && reunion?.mode==1)"
                                                                [ngClass]="{'unselectable':reunion?.statut?.code === 'E0042'}"
                                                                (click)="openmodalvote(reunion.cbmarq,itemnote,modal)"
                                                                class="col-3 px-0 text-center ">
                                                                <span
                                                                    class="fa fa-thumbs-o-up yes text-success border-success rounded py-1 px-2 mr-2 mb-2"></span>
                                                                <span
                                                                    class="fa fa-thumbs-o-down no  text-danger border-danger rounded py-1 px-2 mr-2 mb-2"></span>
                                                                <span
                                                                    class="fa fa-hand-grab-o none text-warning border-warning rounded py-1 px-2 mr-2 mb-2"></span>
                                                            </td>
                                                            <!-- vote par  prop/user -->
                                                            <td [ngClass]="{'unselectable':reunion?.statut?.code === 'E0042'}"
                                                                *ngIf="(reunion?.cbcreateur?.id!=id_current_user && !role.includes('ROLE_ADMIN')) && itemnote?.type?.code=='E0027' && reunion?.mode==2 && itemnote.VStatut==1"
                                                                class="col-3 px-0 text-center ">
                                                                <span id="oui{{i}}"
                                                                    (click)="voteauto(reunion?.cbmarq,itemnote.cbmarq,1,i)"
                                                                    class="fa fa-thumbs-o-up yes  border-success rounded py-1 px-2 mr-2 mb-2">
                                                                </span>

                                                                <span id="non{{i}}"
                                                                    class="fa fa-thumbs-o-down no  border-danger rounded py-1 px-2 mr-2 mb-2"
                                                                    (click)="voteauto(reunion?.cbmarq,itemnote.cbmarq,2,i)"></span>
                                                                <span id="neutre{{i}}"
                                                                    class="fa fa-hand-grab-o none  border-warning rounded py-1 px-2 mr-2 mb-2"
                                                                    (click)="voteauto(reunion?.cbmarq,itemnote.cbmarq,0,i)"></span>

                                                            </td>
                                                            <!-- vote automatique   visionconférance  -->
                                                            <td *ngIf="reunion?.mode==2 && itemnote?.type?.code=='E0027' && itemnote?.VStatut==0 && reunion?.statut?.code=='E0040' && (reunion?.cbcreateur?.id==id_current_user || role.includes('ROLE_ADMIN'))"
                                                                class="col-3 px-0 text-center ">
                                                                <button class="btn btn-primary "
                                                                    (click)="lancerVote(itemnote)">Commencer Vote
                                                                </button>
                                                            </td>
                                                            <!-- -->
                                                            <td class="col-3 px-0 text-center "
                                                                *ngIf="itemnote?.type?.code=='E0027' && (itemnote?.VStatut==0 ||itemnote?.VStatut==null ) && (reunion?.cbcreateur?.id!=id_current_user && !role.includes('ROLE_ADMIN')) ">
                                                                <span>Non disponible</span>
                                                            </td>
                                                            <td class="col-3 px-0 text-center "
                                                                *ngIf="itemnote?.type?.code=='E0027' && (itemnote?.VStatut==0 ||itemnote?.VStatut==null ) && (reunion?.cbcreateur?.id==id_current_user && role.includes('ROLE_ADMIN')) && reunion?.statut.code=='E0042'">
                                                                <span>Non disponible</span>
                                                            </td>
                                                            <td class="col-5 px-0 text-center"
                                                                *ngIf="itemnote?.type?.code=='E0027' && reunion.mode==2 && itemnote.VStatut==2">
                                                                <div class="row justify-content-center">
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mr-1 input-group border-success rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-thumbs-o-up yes text-success border-right border-success py-2 px-2"></span>
                                                                        <input type="number" [value]="itemnote?.v_oui"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 text-white"
                                                                            readonly />
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mr-1 input-group border-danger rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-thumbs-o-down no  text-danger border-right border-danger py-2 px-2"></span>
                                                                        <input type="number" [value]="itemnote?.v_non"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 text-white"
                                                                            readonly />
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 input-group border-warning rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-hand-grab-o none text-warning text-warning border-right border-warning py-2 px-2"></span>
                                                                        <input type="number"
                                                                            [value]="itemnote?.v_neutre"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 "
                                                                            readonly />
                                                                    </div>
                                                                </div>

                                                            </td>
                                                            <td class="col-3 px-0 text-center "
                                                                *ngIf="itemnote?.type?.code=='E0026'">
                                                                <span>Non disponible</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Documents">
                                    <ng-template ngbTabContent>
                                        <div class="col-md-12 px-0 form-group mb-3"
                                            *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user)">
                                            <label>Documents partagés :</label>
                                            <input type="text" #namedoc placeholder="Nom attachement"
                                                class="form-control mb-2" (blur)="blurEvent($event)">
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="form-control custom-file-input"
                                                                id="importFile"
                                                                (change)="onFileChange($event.target.files)"
                                                                accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain">
                                                            <label class="custom-file-label" #labelImport
                                                                for="importFile"><i
                                                                    class="fas fa-search"></i>Sèlectionner
                                                                ...</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" title="Enregistrer attachement"
                                                    class="btn btn-primary float-right ml-2 mb-4"
                                                    (click)="AddAttachement()"><i class="i-Add"></i></button>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col px-0 text-center"
                                                *ngIf="reunion?.attachements?.length === 0">
                                                <img src="../../../assets/images/messagerie/pasmsg.jpg" alt=""
                                                    style="display: block; width: 23%; margin: auto">
                                                <p style="text-align: center;font-weight: 500;">Aucune donnée trouvée
                                                </p>

                                            </div>

                                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"
                                                *ngFor="let item of reunion?.attachements; let i = index">
                                                <div class="card card-profile-1 mb-4">
                                                    <div class="p-3 card-body text-center">
                                                        <div class="avatar doc box-shadow-2 mb-3">
                                                            <div
                                                                *ngIf="(getExstendsion(item?.attachement) === 'jpg') || getExstendsion(item?.attachement) === 'png'; else elseBlock">
                                                                <img *ngIf="(getExstendsion(item?.attachement) === 'jpg') || getExstendsion(item?.attachement) === 'png'"
                                                                    [src]="item?.attachement" alt="">
                                                            </div>
                                                            <ng-template #elseBlock>
                                                                <img *ngIf="(getExstendsion(item?.attachement) !== 'jpg') || getExstendsion(item?.attachement) !== 'png'"
                                                                    [src]="'./assets/images/doc3.jpg'" alt="">
                                                            </ng-template>
                                                        </div>
                                                        <h4 class="mb-2">{{item.intitule}}</h4>
                                                        <button class="btn btn-sm btn-outline-primary btn-rounded mr-2"
                                                            (click)="openAttachement(item?.attachement)">Voir
                                                            détails</button>

                                                        <span class="fa fa-trash-o dangerMaterial  mr-1"
                                                            title="Supprimer"
                                                            [disabled]="reunion?.statut?.code === 'E0041' || isReunionExpire"
                                                            (click)="confirmerDeleteAttachement(item.cbmarq)"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>

                            </ngb-tabset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- right side (participant + chat)  mode visioconférance-->
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2 ccc">
            <div class="h-100 card" [ngClass]="{darkMode : isdarkMode , lightMode: !isdarkMode}">
                <!-- Header -->
                <div class="titleheaderCard">
                    <span> Chat </span>
                    <label class="switch switch-primary" style="float: right;font-weight: 500;"><span>Dark Mode</span>
                        <input type="checkbox" checked="darkMode" (change)="onChangeMode()"><span class="slider"></span>
                    </label>
                </div>
                <!-- Chats -->
                <div style="padding: 5px 0px 0px 10px;overflow-y: scroll;height:100%;">
                    <a class="message-item" style="cursor: pointer;display: flex;margin-top: 4px;"
                        *ngFor="let participant of allparticipants">

                        <div class="col-auto">
                            <img *ngIf="participant?.user?.photo!=null" [src]="participant?.user?.photo"
                                class="profileImage" style="padding-top: 0px !important;">
                            <img *ngIf="participant?.user?.photo==null"
                                src="../../../../../assets/images/faces/defaultAvatar.png" class="profileImage"
                                style="padding-top: 0px !important;">
                        </div>
                        <div class="col" (click)="pointageparticipant(participant.idparticipantsreunion)">
                            <p *ngIf="participant?.user" class="textColor cdresidense m-0">
                                {{participant?.user?.nomComplet}} </p>
                            <p *ngIf="!participant?.user" class="textColor cdresidense m-0"> {{participant?.email}} </p>
                            <small class="text-vert">{{participant?.residence}}</small>
                        </div>
                        <!-- [ngClass]="{'text-success' : participant?.pointage!=0 , 'text-danger': participant?.pointage==0}" -->
                        <div class="col-xl-2 col-2" style="display: flex;">
                            <span id="{{participant?.user?.id}}"
                                class="fa fa-user-circle-o part{{participant?.user?.id}} text-16 mr-2 colorIcon"></span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- standard view mode automatique -->
    <div class="row" [hidden]="maximaseWindowsRoom" *ngIf="reunion?.enligne==false">
        <!-- left side -->
        <div class="col-xl-8 col-lg-8 col-md-6 col-sm-12 pr-lg-0 pr-md-0 pr-xs-2 mb-2 ">
            <div class="card" [ngClass]="{darkMode : isdarkMode , lightMode: !isdarkMode}" style="min-height: 741px;">
                <div class="" style="overflow-x: scroll;">
                    <div class=" user-profile row mx-0">
                        <div class="m-2 pt-3 row w-100 "
                            [ngClass]="{'header-cover' : !isdarkMode , 'header-cover2': isdarkMode}">
                            <div class="col details mb-4">
                                <p class="font-weight-bold  mb-1"
                                    [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                        class="i-Receipt-3 text-16 mr-1"></i> Type
                                </p>
                                <span>{{reunion.type?.label}}</span>
                            </div>
                            <div class="col details mb-4">
                                <p class="font-weight-bold text-primary mb-1"
                                    [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                        class="i-Cursor-Click-2 text-16 mr-1"></i>
                                    Objet</p>
                                <span>{{reunion.objet}}</span>
                            </div>

                            <div class="col details mb-4">
                                <p class="font-weight-bold text-primary mb-1"
                                    [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                        class="i-Sand-watch-2 text-16 mr-1"></i>Durant</p>
                                <span>{{reunion.duree}}h</span>
                            </div>
                            <div class="col details mb-4">
                                <p class="font-weight-bold text-primary mb-1 text-nowrap"
                                    [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                        class="i-Calendar text-16 mr-1"></i> Commencer le
                                </p>
                                <span>{{reunion.dateDebut}}</span>
                            </div>
                            <div class="col details mb-4">
                                <p class="font-weight-bold text-primary mb-1 text-nowrap"
                                    [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                        class="i-Over-Time-2 text-16 mr-1"></i> Jusqu'à</p>
                                <span>{{reunion.dateFin}}</span>
                            </div>

                            <div class="col details mb-4">
                                <p class="font-weight-bold text-primary mb-1"
                                    [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}"><i
                                        class="i-Map2 text-16 mr-1"></i>
                                    Emplacement</p>
                                <span>{{reunion.emplacement}}</span>
                            </div>
                            <div class="col details mb-4">
                                <p class="font-weight-bold text-primary mb-1"
                                    [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}">
                                    <i class="i-Network-Window text-16 mr-1"></i>
                                    Réunion à distance
                                </p>
                                <span *ngIf="reunion.enligne">Visioconférence</span>
                                <span *ngIf="!reunion.enligne">Non</span>
                            </div>

                        </div>
                        <div class="col px-0 m-3">
                            <div class="row mx-0">
                                <h3 class="mb-1" [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}">
                                    Description du réunion </h3>
                                <div class="col-12 px-0">
                                    <p class="text-justify mb-4">
                                        {{reunion.description}}
                                    </p>
                                </div>
                            </div>
                            <div class="col px-0">
                                <h3 class="mb-1" [ngClass]="{'text-primary' : !isdarkMode , 'text-vert': isdarkMode}">
                                    Participants au réunion </h3>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4"
                                        *ngFor="let item of reunion?.biens; let i = index">
                                        <div class="">
                                            <span> <i class="i-Building text-16"></i>
                                                {{item?.groupement?.intitule}}
                                                <i class="i-Arrow-Forward-2" *ngIf="item?.groupement?.intitule"></i>
                                                {{item?.residence?.intitule}} <i class="i-Arrow-Forward-2"
                                                    *ngIf="item?.bloc?.intitule"></i>
                                                {{item?.bloc?.intitule}} <i class="i-Arrow-Forward-2"
                                                    *ngIf="item?.bloc?.intitule"></i>
                                                {{item?.appartement?.intitule}} </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- toolbar mode automatique -->
                <div class="col mb-2 px-1 " style="display: inline-table;">
                    <div class="card col-lg col-md-12 px-0" style="background: transparent;">
                        <div class="card-body">
                            <ngb-tabset class="nav-fill">
                                <ngb-tab title="Point à discuté">
                                    <ng-template ngbTabContent>
                                        <div class="row">
                                            <!--
                                            [ngStyle]="{'pointer-events': reunion?.cbcreateur?.id!=id_current_user ? 'none': 'auto'}"
                                        -->
                                            <div class="col-md-12">
                                                <table class="table table-hover">
                                                    <thead class="bg-gray-300"
                                                        style="background-color: transparent!important;">
                                                        <tr>
                                                            <!-- <th scope="col" style="width: 5%">#</th> -->
                                                            <th scope="col" class="text-center" style="width: 20%">Type
                                                            </th>
                                                            <th scope="col" class="text-center">Description</th>
                                                            <th scope="col" class="text-center">Vote</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let itemnote of reunion?.notes; let i = index">
                                                            <!-- <th scope="row">{{i + 1}}</th> -->
                                                            <td class="col-3 text-center px-0">{{itemnote.type.label}}
                                                            </td>
                                                            <td class="col-auto text-justify px-0 ">
                                                                {{itemnote.description}}
                                                            </td>
                                                            <!-- vote -->
                                                            <td class="col-5 px-0 text-center"
                                                                *ngIf="(itemnote?.v_oui!=0 || itemnote?.v_non!=0 || itemnote?.v_neutre!=0) && itemnote?.type?.code!='E0026' && reunion.mode==1">
                                                                <div class="row justify-content-center">
                                                                    <!-- oui -->
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mr-1 input-group border-success rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-thumbs-o-up yes text-success border-right border-success py-2 px-2"></span>
                                                                        <input type="number" [value]="itemnote?.v_oui"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 text-white"
                                                                            readonly />
                                                                    </div>
                                                                    <!-- non -->
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mr-1 input-group border-danger rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-thumbs-o-down no  text-danger border-right border-danger py-2 px-2"></span>
                                                                        <input type="number" [value]="itemnote?.v_non"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 text-white"
                                                                            readonly />
                                                                    </div>
                                                                    <!-- neutre -->
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 input-group border-warning rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-hand-grab-o none text-warning text-warning border-right border-warning py-2 px-2"></span>
                                                                        <input type="number"
                                                                            [value]="itemnote?.v_neutre"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 "
                                                                            readonly />
                                                                    </div>
                                                                </div>

                                                            </td>


                                                            <td *ngIf="(itemnote?.v_oui==0 && itemnote?.v_non==0 && itemnote?.v_neutre==0)
                                                         && (itemnote?.type?.code!='E0026' && reunion?.mode==1)
                                                         && reunion?.cbcreateur?.id==id_current_user"
                                                                [ngClass]="{'unselectable':reunion?.statut?.code === 'E0042'}"
                                                                (click)="openmodalvote(reunion.cbmarq,itemnote,modal)"
                                                                class="col-3 px-0 text-center ">
                                                                <span
                                                                    class="fa fa-thumbs-o-up yes text-success border-success rounded py-1 px-2 mr-2 mb-2"></span>
                                                                <span
                                                                    class="fa fa-thumbs-o-down no  text-danger border-danger rounded py-1 px-2 mr-2 mb-2"></span>
                                                                <span
                                                                    class="fa fa-hand-grab-o none text-warning border-warning rounded py-1 px-2 mr-2 mb-2"></span>
                                                            </td>
                                                            <!-- vote par  prop/user -->
                                                            <td [ngClass]="{'unselectable':reunion?.statut?.code === 'E0042'}"
                                                                *ngIf="(reunion?.cbcreateur?.id!=id_current_user && !role.includes('ROLE_ADMIN')) && itemnote?.type?.code=='E0027' && reunion?.mode==2 && itemnote.VStatut==1"
                                                                class="col-3 px-0 text-center ">
                                                                <span id="oui{{i}}"
                                                                    (click)="voteauto(reunion?.cbmarq,itemnote.cbmarq,1,i)"
                                                                    class="fa fa-thumbs-o-up yes  border-success rounded py-1 px-2 mr-2 mb-2">
                                                                </span>

                                                                <span id="non{{i}}"
                                                                    class="fa fa-thumbs-o-down no  border-danger rounded py-1 px-2 mr-2 mb-2"
                                                                    (click)="voteauto(reunion?.cbmarq,itemnote.cbmarq,2,i)"></span>
                                                                <span id="neutre{{i}}"
                                                                    class="fa fa-hand-grab-o none  border-warning rounded py-1 px-2 mr-2 mb-2"
                                                                    (click)="voteauto(reunion?.cbmarq,itemnote.cbmarq,0,i)"></span>

                                                            </td>
                                                            <!-- vote automatique     -->
                                                            <td *ngIf="reunion?.mode==2 && itemnote?.type?.code=='E0027' && itemnote?.VStatut==0
                                                        && reunion?.statut?.code=='E0040' && (reunion?.cbcreateur?.id==id_current_user || role.includes('ROLE_ADMIN'))"
                                                                class="col-3 px-0 text-center ">
                                                                <button class="btn btn-primary "
                                                                    (click)="commencerVote(reunion.cbmarq,itemnote.cbmarq)">Commencer
                                                                    Vote </button>
                                                            </td>
                                                            <!-- -->
                                                            <td class="col-3 px-0 text-center "
                                                                *ngIf="itemnote?.type?.code=='E0027' && (itemnote?.VStatut==0 ||itemnote?.VStatut==null ) && (reunion?.cbcreateur?.id!=id_current_user && !role.includes('ROLE_ADMIN')) ">
                                                                <span>Non disponible</span>
                                                            </td>
                                                            <td class="col-3 px-0 text-center "
                                                                *ngIf="itemnote?.type?.code=='E0027' && (itemnote?.VStatut==0 ||itemnote?.VStatut==null ) && (reunion?.cbcreateur?.id==id_current_user && role.includes('ROLE_ADMIN')) && reunion?.statut.code=='E0042'">
                                                                <span>Non disponible</span>
                                                            </td>
                                                            <td class="col-5 px-0 text-center"
                                                                *ngIf="itemnote?.type?.code=='E0027' && reunion.mode==2 && itemnote.VStatut==2">
                                                                <div class="row justify-content-center">
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mr-1 input-group border-success rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-thumbs-o-up yes text-success border-right border-success py-2 px-2"></span>
                                                                        <input type="number" [value]="itemnote?.v_oui"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 text-white"
                                                                            readonly />
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 mr-1 input-group border-danger rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-thumbs-o-down no  text-danger border-right border-danger py-2 px-2"></span>
                                                                        <input type="number" [value]="itemnote?.v_non"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 text-white"
                                                                            readonly />
                                                                    </div>
                                                                    <div
                                                                        class="col-lg-3 col-md-6 col-sm-12 col-xs-12 px-0 input-group border-warning rounded ">
                                                                        <span style="border:none;font-size: 20px;"
                                                                            class="fa fa-hand-grab-o none text-warning text-warning border-right border-warning py-2 px-2"></span>
                                                                        <input type="number"
                                                                            [value]="itemnote?.v_neutre"
                                                                            [ngClass]="{'text-dark' : !isdarkMode , 'text-white': isdarkMode}"
                                                                            class="bg-transparent px-2 form-control border-0 "
                                                                            readonly />
                                                                    </div>
                                                                </div>

                                                            </td>
                                                            <td class="col-3 px-0 text-center "
                                                                *ngIf="itemnote?.type?.code=='E0026'">
                                                                <span>Non disponible</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Documents">
                                    <ng-template ngbTabContent>
                                        <div class="col-md-12 px-0 form-group mb-3"
                                            *ngIf="(role.includes('ROLE_ADMIN') || reunion?.cbcreateur?.id==id_current_user)">
                                            <label>Documents partagés :</label>
                                            <input type="text" #namedoc placeholder="Nom attachement"
                                                class="form-control mb-2" (blur)="blurEvent($event)">
                                            <div class="input-group mb-3">
                                                <div class="custom-file">
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="form-control custom-file-input"
                                                                id="importFile"
                                                                (change)="onFileChange($event.target.files)"
                                                                accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain">
                                                            <label class="custom-file-label" #labelImport
                                                                for="importFile"><i
                                                                    class="fas fa-search"></i>Sèlectionner
                                                                ...</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" title="Enregistrer attachement"
                                                    class="btn btn-primary float-right ml-2 mb-4"
                                                    (click)="AddAttachement()"><i class="i-Add"></i></button>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col px-0 text-center"
                                                *ngIf="reunion?.attachements?.length === 0">
                                                <img src="../../../assets/images/messagerie/pasmsg.jpg" alt=""
                                                    style="display: block; width: 23%; margin: auto">
                                                <p style="text-align: center;font-weight: 500;">Aucune donnée trouvée
                                                </p>

                                            </div>

                                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"
                                                *ngFor="let item of reunion?.attachements; let i = index">
                                                <div class="card card-profile-1 mb-4">
                                                    <div class="p-3 card-body text-center">
                                                        <div class="avatar doc box-shadow-2 mb-3">
                                                            <div
                                                                *ngIf="(getExstendsion(item?.attachement) === 'jpg') || getExstendsion(item?.attachement) === 'png'; else elseBlock">
                                                                <img *ngIf="(getExstendsion(item?.attachement) === 'jpg') || getExstendsion(item?.attachement) === 'png'"
                                                                    [src]="item?.attachement" alt="">
                                                            </div>
                                                            <ng-template #elseBlock>
                                                                <img *ngIf="(getExstendsion(item?.attachement) !== 'jpg') || getExstendsion(item?.attachement) !== 'png'"
                                                                    [src]="'./assets/images/doc3.jpg'" alt="">
                                                            </ng-template>
                                                        </div>
                                                        <h4 class="mb-2">{{item.intitule}}</h4>
                                                        <button class="btn btn-sm btn-outline-primary btn-rounded mr-2"
                                                            (click)="openAttachement(item?.attachement)">Voir
                                                            détails</button>

                                                        <span class="fa fa-trash-o dangerMaterial  mr-1"
                                                            title="Supprimer"
                                                            [disabled]="reunion?.statut?.code === 'E0041' || isReunionExpire"
                                                            (click)="confirmerDeleteAttachement(item.cbmarq)"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>

                            </ngb-tabset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- right side (participant + chat) mode automatique -->
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-2">
            <div class="card" [ngClass]="{darkMode : isdarkMode , lightMode: !isdarkMode}" style="min-height: 741px;">
                <!-- Header -->
                <div class="titleheaderCard">
                    <span> Invités </span>
                    <label class="switch switch-primary" style="float: right;font-weight: 500;"><span>Dark Mode</span>
                        <input type="checkbox" checked="darkMode" (change)="onChangeMode()"><span class="slider"></span>
                    </label>
                </div>
                <!-- Invités mode automatique -->
                <div style="padding: 5px 0px 0px 10px;overflow-y: scroll;height: 300px;">
                    <a class="message-item" style="cursor: pointer;display: flex;margin-top: 4px;"
                        *ngFor="let participant of participantsnonpresents">

                        <div class="col-xl-2 col-2">
                            <img *ngIf="participant?.user?.photo!=null" [src]="participant?.user?.photo"
                                class="profileImage" style="padding-top: 0px !important;">
                            <img *ngIf="participant?.user?.photo==null"
                                src="../../../../../assets/images/faces/defaultAvatar.png" class="profileImage"
                                style="padding-top: 0px !important;">
                        </div>
                        <div class="col-xl-8 col-8" (click)="pointageparticipant(participant.idparticipantsreunion)">
                            <p *ngIf="participant?.user" class="textColor cdresidense m-0">
                                {{participant?.user?.nomComplet}} </p>
                            <p *ngIf="!participant?.user" class="textColor cdresidense m-0"> {{participant?.email}} </p>
                            <small class="text-vert">{{participant?.residence}}</small>
                        </div>
                        <div class="col-xl-2 col-2" style="display: flex;">
                            <span class="fa fa-user-circle-o text-16 mr-2 colorIcon"
                                [ngClass]="{'text-success' : participant?.pointage!=false , 'text-danger': participant?.pointage==false}"></span>
                        </div>
                    </a>
                </div>
                <!-- Participants présenters mode automatique -->
                <div class="titleheaderCardChat">
                    <span>Participants</span>
                </div>
                <div style="padding: 5px 0px 0px 10px;overflow-y: scroll;height: 360px;">
                    <a class="message-item" style="cursor: pointer;display: flex;margin-top: 4px;"
                        *ngFor="let participant of participantspresents">

                        <div class="col-xl-2 col-2">
                            <img *ngIf="participant?.user?.photo!=null" [src]="participant?.user?.photo"
                                class="profileImage" style="padding-top: 0px !important;">
                            <img *ngIf="participant?.user?.photo==null"
                                src="../../../../../assets/images/faces/defaultAvatar.png" class="profileImage"
                                style="padding-top: 0px !important;">
                        </div>
                        <div class="col-xl-8 col-8" (click)="pointageparticipant(participant.idparticipantsreunion)">
                            <p *ngIf="participant?.user" class="textColor cdresidense m-0">
                                {{participant?.user?.nomComplet}} </p>
                            <p *ngIf="!participant?.user" class="textColor cdresidense m-0"> {{participant?.email}} </p>
                            <small class="text-vert">{{participant?.residence}}</small>
                        </div>
                        <div class="col-xl-2 col-2" style="display: flex;">
                            <span class="fa fa-user-circle-o  text-16 mr-2 colorIcon"
                                [ngClass]="{'text-success' : participant?.pointage!=0 , 'text-danger': participant?.pointage==0}"></span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- maximise view -->
    <div class="row" [hidden]="!maximaseWindowsRoom">
        <!-- top side mode manuel -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 aaaaaaa">
            <div class="card" [ngClass]="{darkMode : isdarkMode , lightMode: !isdarkMode}">
                <!-- vu utilisateur principale -->
                <div class="row ml-2 mb-2 mt-2">
                    <div class="col-xl-12 col-12 mb-2">
                        <span class="fa fa-window-minimize mr-2" style="float: right;"
                            (click)="minimiseMaximiseWindows()"></span>

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                        <img [src]="defaultLogo" class="d-block w-100 borderRadiusCard">
                        <p class="textNameParticip textEllipsis">{{name_current_user}}
                            <span class="fa fa-circle" style="color: chartreuse;float: right;"></span>

                        </p>

                        <span class="fa fa-microphone colorIcon microPartcipListPrincipale ml-2 mr-2"
                            style="background-color: #495057 !important;padding: 2px 5px 2px 5px !important;"
                            (click)="muteActiveMicAdmin()" *ngIf="isActiveMicAdmin"></span>
                        <span class="fa fa-microphone-slash microPartcipListPrincipale colorIcon ml-2 mr-2"
                            style="background-color: #495057 !important;padding: 2px 5px 2px 5px !important;"
                            (click)="muteActiveMicAdmin()" *ngIf="!isActiveMicAdmin"></span>



                        <!-- toolbar mode manuel -->
                        <div class="row mt-4 ml-2 mb-2">

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <span class="fa fa-microphone colorIcon ml-2 mr-2" (click)="muteActiveMicAdmin()"
                                    *ngIf="isActiveMicAdmin"></span>
                                <span class="fa fa-microphone-slash  colorIcon ml-2 mr-2" (click)="muteActiveMicAdmin()"
                                    *ngIf="!isActiveMicAdmin"></span>
                                <span class="fa fa-video-camera colorIcon mr-2" (click)="muteActiveCamAdmin()"
                                    *ngIf="isActiveCamAdmin"></span>
                                <span class="fa fa-video-camera colorIcon slash mr-2" (click)="muteActiveCamAdmin()"
                                    *ngIf="!isActiveCamAdmin"></span>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <button class="btn btn-danger " style="float: right;"> Terminer Réunion</button>

                            </div>

                        </div>

                    </div>

                    <!-- liste participant mode manuel-->
                    <div class=" col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 mb-2">
                        <div class="row" style="overflow-y: scroll; max-height: 529px;">
                            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 mb-2"
                                *ngFor="let participant of listParticipant">
                                <div>
                                    <img [src]="participant.photo" class="d-block w-100 borderRadiusCard">
                                    <p class="textNameParticip textEllipsis">{{participant.name}}</p>
                                    <span class="fa fa-microphone colorIcon microPartcipListPrincipale ml-2 mr-2"
                                        (click)="muteActiveMicParticip(participant)"
                                        *ngIf="participant.isMicActivated"></span>
                                    <span class="fa fa-microphone-slash microPartcipListPrincipale colorIcon ml-2 mr-2"
                                        (click)="muteActiveMicParticip(participant)"
                                        *ngIf="!participant.isMicActivated"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom side (chat) -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 ">
            <div class="card" [ngClass]="{darkMode : isdarkMode , lightMode: !isdarkMode}" style="min-height: 100px;">
                <!-- Header -->
                <div class="titleheaderCard">
                    <span>
                        Chat
                    </span>

                    <label class="switch switch-primary" style="float: right;font-weight: 500;"><span>Dark Mode</span>
                        <input type="checkbox" checked="darkMode" (change)="onChangeMode()"><span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- <button class="btn chatbox-close" style="display: inline-block;">
    <span class="fa fa-times" aria-hidden="true"></span>
</button> -->
    <button *ngIf="reunion.enligne" class="btn chatbox-open notification show-count notif" data-count="8"
        (click)="openpanel()" [ngClass]="{'chat_open':btnmsg, 'chat_close':!btnmsg}">
        <span class="fa fa-comment fa-2x" aria-hidden="true"></span>
    </button>
    <!-- <button class="btn chatbox-open notification show-count notif" (click)="lancerVote()">
        <span class="fa fa-vimeo fa-2x" aria-hidden="true"></span>
    </button> -->
    <section class="chatbox-popup" [@enterAnimation]="btnmsg ? !btnmsg : ''"
        [ngStyle]="{'display': btnmsg ? 'block':'none' }"
        [ngClass]="{'chatbox-panel':!maximizewindow, 'chatbox-popup':maximizewindow}">
        <header id="headwindow" class="chatbox-popup__header"
            [ngClass]="{'chatbox-panel__header':!maximizewindow, 'chatbox-popup__header':maximizewindow}">
            <aside style="flex:3">
                <span [ngClass]="{'fa-3x':!maximizewindow, 'fa-4x':maximizewindow}" *ngIf="details?.photo==null"
                    class="fa fa-user-circle fa-4x  chatbox-popup__avatar" aria-hidden="true"></span>

                <img *ngIf="details?.photo!=null"
                    [ngClass]="{'fa-3x':!maximizewindow, 'fa-4x':maximizewindow, 'bg-danger':reunion?.statut?.code!='E0040','bg-success':reunion?.statut?.code=='E0040'}"
                    [src]="details?.photo" class=" fa-4x  chatbox-popup__avatar" />
            </aside>
            <aside style="flex:8; cursor: pointer;" (click)="btnmsg=!btnmsg">
                <h2 class="text-white ml-3 mb-0">
                    <!-- <span class="pr-2 fa fa-circle participt particip text-success"
                    style="font-size: 10px;">
                </span> -->
                    {{name_current_user}}
                </h2>
            </aside>
            <aside style="flex:1" (click)="maximizewindow=!maximizewindow">
                <button class="chatbox-maximize"><span
                        [ngClass]="{'fa-window-restore':!maximizewindow,'fa-window-maximize':maximizewindow}"
                        class="fa fa-window-maximize" aria-hidden="true"></span></button>
                <!-- <button class="btn chatbox-panel-close">
                <span class="fa fa-close" aria-hidden="true"></span></button> -->
            </aside>
        </header>
        <main class="chatbox-popup__main"
            [ngClass]="{'chatbox-panel__main':!maximizewindow, 'chatbox-popup__main':maximizewindow}">
            <div class="chat-logs" id="idscrl" #targetscroll (click)="onpanelopened()"
                [ngClass]="{'chat-logspanel':!maximizewindow, 'chat-logs':maximizewindow}">
                <div id="cm-msg-1" class="chat-msg" *ngFor="let msg of datachat;"
                    [ngClass]="{'self': msg.iduser==id_current_user, 'user': msg.iduser!=id_current_user}">
                    <div class="cm-msg-text text-justify">
                        <b><span [ngStyle]="{'color':msg.iduser!=id_current_user ? '#055aa5':'white'}"
                                style="font-weight: bold;float: left;">{{msg.nom}} :</span></b>
                        <span *ngIf="today!=(msg.cbcreation.date |
                    date:'dd/MM/yyyy')" style="font-size: x-small;float: right;color: #9c9a9a;margin-left: 5px;">
                            {{msg.cbcreation.date | date:'dd/MM/yyyy HH:mm'}}
                        </span>
                        <span *ngIf="today==(msg.cbcreation.date |
                    date:'dd/MM/yyyy')" style="font-size: x-small;float: right;color: #9c9a9a;margin-left: 5px;">
                            {{msg.cbcreation.date | date:' HH:mm'}}
                        </span>
                        <br>
                        <span class="font-weight-normal"> {{msg.message}}</span>
                        <br>

                        <span class="msg-avatar" (click)="openAttachement(msg.attachement)"
                            style="font-size: x-small;float: right;color: #8bc34a;cursor:default">
                            {{msg.filename}}
                        </span>
                    </div>
                </div>
            </div>
        </main>
        <footer class="chatbox-popup__footer"
            [ngClass]="{'chatbox-panel__footer':!maximizewindow, 'chatbox-popup__footer':maximizewindow}">
            <div class="image-upload">
                <label class="labelfile" for="datafile">
                    <aside style="flex:1;color:#888;text-align:center;">
                        <span class="fa fa-paperclip" aria-hidden="true"></span>
                        <span #labelImportchat class=""></span>
                    </aside>
                </label>
                <input id="datafile" (change)="onFileChangeChat($event.target.files)" type="file"
                    accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel,application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain">
            </div>
            <aside style="flex:10">
                <textarea class="textchat" id="mytextarea" type="text" [(ngModel)]="msgtext" (click)="textfocus()"
                    placeholder="Taper votre message..."></textarea>
            </aside>
            <aside style="flex:1;color:#888;text-align:center;">
                <span id="btn-chat-message" class="fa fa-paper-plane" (click)="ecriremessage()"
                    aria-hidden="true"></span>
            </aside>
        </footer>
    </section>
</div>
<ng-template #modal let-modal>
    <div class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Vote pour {{notevote?.type?.label}}<br>
        </h4>
    </div>
    <form (ngSubmit)="submitvote()" [formGroup]="formvote" class=" col-md-12">
        <h5 class="mb-0 mt-2"><span> Veuillez remplir les champs pour voter ! </span></h5>
        <div class="modal-body col d-flex px-0 ">
            <div class="form-group px-0 mr-2 mb-2">
                <div class="input-group border-success rounded ">
                    <span style="font-size: 35px;border:none;;background-color: green; color: white !important;"
                        class="fa fa-thumbs-o-up yes text-success border-right border-success  py-2 px-3"></span>
                    <input type="number" step="0.05" class="px-2 form-control input-vote " formControlName="oui"
                        placeholder="Ex: 1"
                        [ngClass]="{ 'is-invalid': submitted &&  formvote.controls.oui.errors || (formvote.controls.oui.errors  && formvote.get('oui').touched )}" />

                </div>
                <div class="invalid-feedback "
                    *ngIf="submitted &&  formvote.controls.oui.errors || (formvote.controls.oui.errors  && formvote.get('oui').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>
            <div class="form-group px-0 mr-2 mb-2">
                <div class="input-group border-danger rounded">
                    <span style="font-size: 35px;border:none;background-color: red; color: white !important;"
                        class="fa fa-thumbs-o-down no  border-right text-danger border-danger py-2 px-3"></span>
                    <input type="number" step="0.05" class="px-2 form-control input-vote" formControlName="non"
                        placeholder="Ex: 1"
                        [ngClass]="{ 'is-invalid': submitted &&  formvote.controls.non.errors || (formvote.controls.non.errors  && formvote.get('non').touched )}" />
                </div>
                <div class="col invalid-feedback "
                    *ngIf="submitted &&  formvote.controls.non.errors || (formvote.controls.non.errors  && formvote.get('non').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>
            <div class="form-group px-0 mb-2">
                <div class="input-group border-warning rounded">
                    <span style="font-size: 35px;border:none;background-color: #ffb822; color: white !important;"
                        class="fa fa-hand-grab-o none border-right text-warning border-warning py-2 px-3"></span>
                    <input type="number" step="0.05" class="px-2 form-control input-vote" formControlName="neutre"
                        placeholder="Ex: 1"
                        [ngClass]="{ 'is-invalid': submitted &&  formvote.controls.neutre.errors || (formvote.controls.neutre.errors  && formvote.get('neutre').touched )}" />

                </div>
                <div class="invalid-feedback "
                    *ngIf="submitted &&  formvote.controls.neutre.errors || (formvote.controls.neutre.errors  && formvote.get('neutre').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>
        </div>
        <div class="modal-footer px-0">
            <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
            <button class="btn btn-primary" type="submit">Enregistrer </button>
        </div>
    </form>
</ng-template>
<!-- end Reporter réunion -->

<!-- Modal Conclusion réunion -->
<ng-template #modalTerminer let-modal>
    <div class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Conclusion Réunion<br>
        </h4>
    </div>
    <form (ngSubmit)="submitterminer()" [formGroup]="formterminer" class=" col-md-12">
        <!-- <h5 class="mb-0 mt-2"><span> Veuillez conclure la réunion ! </span></h5> -->
        <div class="modal-body col d-flex px-0 ">
            <div class="form-group col px-0 mb-2">

                <label>Conlusion </label>
                <textarea class="form-control " formControlName="conclusion"
                    [ngClass]="{ 'is-invalid': submitted &&  formterminer.controls.conclusion.errors || (formterminer.controls.conclusion.errors  && formterminer.get('conclusion').touched )}"
                    placeholder="Noter la conclusion de la réunion" rows="7">
                    </textarea>

                <div class="invalid-feedback "
                    *ngIf="submitted &&  formterminer.controls.conclusion.errors || (formterminer.controls.conclusion.errors  && formterminer.get('conclusion').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>


        </div>
        <div class="modal-footer px-0">
            <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
            <button class="btn btn-primary" type="submit">Enregistrer </button>
        </div>
    </form>
</ng-template>
<!-- end Conclusion réunion -->

<!--start timer-->
<div class="col modal-timer-container text-center" id="modal-alert">
    <div id="modal-timer-div" class="col-md-4">
        <div class="row mx-0 modal-timer-text">
            <div id="circle-timer" class="col-6 m-auto rounded-circle  text-white" style="height: 55%;"
                (click)="starttimer()">
                <div class="text-center py-5 my-5">
                    <p class="m-auto text-dark" style="font-size: 70px;"> {{timerduration }}<br><br><span
                            class="mt-3 text-32 ">secondes</span></p>
                </div>
            </div>

        </div>

    </div>
</div>
<!--end timer-->

<!--modal vote-->
<ng-template #modalVote let-modal>
    <div class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold " id="exampleModalLabel">Vote<br>
        </h4>
    </div>
    <div class="modal-body col d-flex px-0 ">
        <div class="form-group col px-0 mb-2">
            fsdfdfdfgdgfghfghfghfhg
        </div>
    </div>
    <div class="modal-footer px-0">
        <button class="btn btn-outline-dark " type="button" (click)="onclose()">Annuler</button>
        <button class="btn btn-primary" type="submit">Enregistrer </button>
    </div>
</ng-template>

<!-- vote conferance -->
<div style="visibility:hidden;" class="votemodal col-lg-4 col-md-4 col-sm-6 col-xs-10 card p-0" id="modalmodalvote">
    <div style="background: #213c7f;color: white;" class="modal-header pb-1">
        <h4 class="modal-title font-weight-bold text-white" id="exampleModalLabel">
        </h4>
        <!-- <span style="font-size: 12px;font-weight: normal;" class="pt-2 fa fa-times" (click)="closeVote()"
            aria-hidden="true"></span> -->
    </div>
    <div class="modal-body d-flex justify-content-center mx-0 text-center">
        <div class="row m-2 ">
            <div class="d-flex flex-column">
                <span id="oui" style=" font-size: 70px;"
                    class="oui fa fa-thumbs-o-up text-success rounded m-1 border-success py-2 mx-2 px-2"></span>
                <span id="oui" class="  m-1 text-20 py-2 mx-2 px-2">Oui</span>
            </div>

            <div class="d-flex flex-column">
                <span id="non" style="font-size: 70px;"
                    class="non fa fa-thumbs-o-down  text-danger rounded border-danger m-1 py-2 mx-2 px-2"></span>
                <span id="non" class="text-20 m-1 py-2 mx-2 px-2">Non </span>
            </div>

            <div class="d-flex flex-column">
                <span id="neutre" style="font-size: 70px;"
                    class="neutre fa fa-hand-grab-o text-warning rounded text-warning m-1 border-warning mx-2 py-2 px-2"></span>
                <span id="neutre" class="text-20 m-1 mx-2 py-2 px-2">Neutre</span>
            </div>
        </div>

    </div>
    <!-- <div class="modal-footer px-0">
        <button class="btn btn-outline-dark " type="button" (click)="closeVote()">Annuler</button>
    </div> -->
</div>
<!--end modal vote-->
