<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Gestion Syndic</h1>
    <ul>
        <li><a routerLink="/syndic/groupements">Groupement Résidence</a></li>
        <li *ngIf="!cbmarq">Ajout</li>
        <li *ngIf="cbmarq">Modification</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">

    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title border-bottom mb-3"><strong><i class="i-Pulse"></i> Informations Groupement des résidence :</strong></div>
                <form [formGroup]="formBasic" (ngSubmit)="submit()" novalidate>
                    <div class="row">
                        <div class="col-md-12 form-group mb-3">
                            <label>Intitule *:</label>
                            <input type="text" class="form-control form-control-specialiser"  formControlName="intitule"
                                   [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )}"/>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-12 form-group mb-3">
                            <label>Résidences *:</label>
                            <ng-select [clearable]="true" [searchable]="true" [items]="listeresidence"  [(ngModel)]="selected" multiple="true"   formControlName="residences"
                                       bindLabel="label"   placeholder="Choisir des produits"     (add)="onAdd($event)" (remove)="onRemove($event)"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': formBasic.get('residences').hasError('required') && formBasic.get('residences').touched}">
                            </ng-select><!--(change)="onchangeResidence($event)"-->
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.residences.errors || (formBasic.controls.residences.errors  && formBasic.get('residences').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="form-group col-md-12 mb-3">
                            <label>Délégué(s) :</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]="listeprops" formControlName="delegues" bindLabel="nomComplet" multiple="true"
                                placeholder="Choisir un/des délégué(s)" [(ngModel)]="selected1" 
                                notFoundText="Aucune données trouver.">
                            </ng-select>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Caisse *:</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]="listecaisse" formControlName="caisse"
                                       bindLabel="label"   placeholder="Choisir une caisse" bindValue="value" (change)="onchangeCaisse($event)"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid': submitted &&  formBasic.controls.caisse.errors || (formBasic.controls.caisse.errors  && formBasic.get('caisse').touched )}">
                            </ng-select>
                            <div class="invalid-feedback"
                                 *ngIf="(submitted &&  formBasic.controls.caisse.errors) || (formBasic.controls.caisse.errors  && formBasic.get('caisse').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>Caisse siege *:</label>
                            <ng-select [clearable]="false" [searchable]="true" [items]="listecaisseSiege" formControlName="caisseSiege"
                                       bindLabel="label"   placeholder="Choisir une caisse siege" bindValue="value" [readonly]="formBasic.value.caisse != 0"
                                       notFoundText="Aucune données trouver." [ngClass]="{ 'is-invalid':submitted &&  formBasic.controls.caisseSiege.errors || (formBasic.controls.caisseSiege.errors  && formBasic.get('caisseSiege').touched )}">
                            </ng-select>
                            <div class="invalid-feedback "
                                 *ngIf="submitted &&  formBasic.controls.caisseSiege.errors || (formBasic.controls.caisseSiege.errors  && formBasic.get('caisseSiege').touched )">
                                Veuillez remplir ce champs !
                            </div>
                        </div>

                        <div class="col-md-12 text-right">
                            <button  type="button"  class="btn btn-secondary" (click)="gotoGroupement()">                              
                                Annuler                            
                            </button>
                            <button class="btn btn-primary ml-2" type="submit" >Enregistrer</button>
                            <!--                            <btn-loading btnClass="btn-outline-primary "  >Enregistrer</btn-loading>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
