.output-socket {
    position: absolute;
    display: none;
    //display: flex;
    align-items: center;
    top: calc(50% - 10px);
    right: 0px;
    width: 20px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
    box-sizing: border-box;
    background: orange;
    border: 2px solid black;
    border-radius: 50%;
  }
