<!-- liste transfert -->
<div class="col-md-12 mb-4">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>
    <!-- row filter-->
    <div class="row">
        <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
            <input class="form-control" (keyup)="applyFilter($event)" placeholder="Rechercher" #input>
        </div>
        <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
            <button class="btn btn-primary mb-sm-0 mb-3 alignRight" title="Ajouter"
                [routerLink]="[ '/syndic/ajouter-transfert' ]" *ngIf="can_add?.permission">
                Ajouter
            </button>

        </div>
    </div>
    <!---->





    <div class="card">
        <div class="example-container mat-elevation-z8">
            <mat-table class="table" [dataSource]="dataSource" matSort>

                <!-- Réference Column -->
                <ng-container matColumnDef="reference">
                    <mat-header-cell *matHeaderCellDef>Réference</mat-header-cell>
                    <mat-cell *matCellDef="let row" title='Détails'
                        [routerLink]="[ '/syndic/details-transfert/', row.cbmarq  ]">
                        <span class="mobile-label mr-2"> Réference:</span>
                        <span class="badge badge-pill badge-outline-secondary p-2 ">

                            {{row.reference}}</span>
                    </mat-cell>
                </ng-container>
                <!-- Proprietaire Column -->
                <ng-container matColumnDef="userSource">
                    <mat-header-cell *matHeaderCellDef>Initiateur</mat-header-cell>
                    <mat-cell *matCellDef="let row" title='Détails'
                        [routerLink]="[ '/syndic/details-transfert/', row.cbmarq  ]">
                        <span class="mobile-label mr-2"> Initiateur:</span>
                        {{row.userSource}}
                    </mat-cell>
                </ng-container>
                <!-- caisseSource Column -->
                <ng-container matColumnDef="caisseSource">
                    <mat-header-cell *matHeaderCellDef>Caisse source</mat-header-cell>
                    <mat-cell *matCellDef="let row" title='Détails'
                        [routerLink]="[ '/syndic/details-transfert/', row.cbmarq  ]">
                        <span class="mobile-label mr-2"> Caisse source:</span>
                        <span>{{row.caisseSource}}</span>
                    </mat-cell>
                </ng-container>
                <!-- caisseDestination Column -->
                <ng-container matColumnDef="userDestination">
                    <mat-header-cell class="text-center" *matHeaderCellDef>Récepteur</mat-header-cell>
                    <mat-cell *matCellDef="let row" title='Détails'
                        [routerLink]="[ '/syndic/details-transfert/', row.cbmarq  ]">
                        <span class="mobile-label mr-2"> Récepteur:</span>
                        <span>{{row.userDestination}}</span>
                    </mat-cell>
                </ng-container>
                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Date Transfert</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Date Transfert:</span>
                        {{row.date}}
                    </mat-cell>
                </ng-container>

                <!-- Montant Column -->
                <ng-container matColumnDef="montant">
                    <mat-header-cell *matHeaderCellDef>Montant</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Montant:</span>
                        {{row.montant.toFixed(3)}}
                    </mat-cell>
                </ng-container>

                <!-- Solde Column -->
                <ng-container matColumnDef="statut">
                    <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Statut:</span>

                        <span class=" badge badge-square badge-square-opacity-{{ row?.statut?.style }} m-1"
                            *ngIf="row.statut.code!='E0057'">{{ row?.statut?.label }}</span>
                        <span class=" badge badge-square badge-square-opacity-{{ row?.statut?.style }} m-1"
                            *ngIf="admin && row.statut.code=='E0057'">{{ row?.statut?.label }}</span>
                        <span class=" badge badge-square badge-square-opacity-{{ row?.statut?.style }} m-1"
                            *ngIf="!admin && row.userDestination!=username && row.statut.code=='E0057'">{{
                            row?.statut?.label }}</span>
                        <span class=" badge badge-square badge-square-opacity-warning m-1"
                            *ngIf="!admin && row.userDestination==username && row.statut.code=='E0057'">En
                            attente</span>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span class="mobile-label mr-2"> Action:</span>
                        <span class="fa fa-pencil-square-o primaryMaterial mr-1 mt-1" *ngIf="can_edit?.permission"
                            title="Modifier" (click)="editerTransfert(row.cbmarq)"></span>

                        <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer"
                            *ngIf="can_delete?.permission" (click)="deleteTransfert(row.cbmarq)"></span>

                        <span class="fa fa-check successMaterial  mr-1" title="Accepter"
                            *ngIf="can_edit?.permission && !admin  && row.userDestination==username && row.statut.code=='E0057'"
                            (click)="acceptTransfert(row.cbmarq)"></span>


                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Aucune donnée trouvée
                    </td>
                </tr>
                <div *ngIf="dataSource?.data?.length === 0"></div>
            </mat-table>

            <mat-paginator #paginator [pageSize]="pageSize" [length]="dataSource.data?.length"
                [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </div>
</div>
