.dispo .fa-circle {
    color: green;
    font-size: 9px;
}
.fa-circle {
    color: red;
}
.cover {
    background-color: #e8ebf28a;
}
.icon-size {
    font-size: 35px;
    padding-right: 5px;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.bg-default {
    background-color: #e8ebf2;
}
.title-info {
    color: #213c7f;
    font-weight: bold;
}
.cover1 {
    display: none;
}
.cover2 {
    display: block;
}
.at-right {
    text-align: right;
}
.vertical {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    height: 200px;
    margin-top: 55px;
}
.cursor {
    cursor: pointer;
}
/******************new styling appartment **********************/
.card-appartement {
    border-radius: 25px;
    height: 600px;
}
.user-profile .header-cover {
    height: 165px;
}
.user-profile .user-info {
    margin-top: -85px;
}
.sous-card {
    background-color: #f3f4f8;
    border-radius: 25px;
    // height: 230px;
    // top: 230;
}
.sous-cover {
    position: inherit;
    top: -95px;
}
.sous-card {
    height: 175px;
}
.spaceBetween {
    display: flex;
    justify-content: space-between !important;
}
.appartement-residence {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 130px;
}
.bloc,
.surface {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.avatar-lg {
    width: 100px;
    height: 100px;
}
.icon-picture {
    height: 70px;
    width: 70px;
}

.margin-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.box-shadow-2 {
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.06), 0 1px 6px rgba(0, 0, 0, 0.04);
}
.appartement-info {
    background-color: #edeff8;
    border-radius: 25px;
    height: 185px;
    position: relative;
    top: -140px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.card-body1 {
    position: relative;
    height: 210px;
}
.separt {
    position: relative;
    top: -110px;
}
.details-bien {
    position: absolute;
    top: 130px;
}
.color-label {
    color: gray;
}
.color-block1 {
    background-color: #e9f0ff;
    color: #5a8efc !important;
}
.color-b1 {
    color: #5a8efc;
}
.color-b2 {
    color: #b484d4;
}
.color-block2 {
    background-color: #f6f0fa;
    color: #b484d4 !important;
}
.color-block3 {
    background-color: #dee2e6;
    color: #213c7f !important;
}
.alert {
    background-color: #edeff8;
}
.alert-warning {
    // box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 $warning;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 #edeff8 !important;
}

.textEllipsis{
    max-width: 98%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-16{
 font-size: 16px !important;
}
/*************************************************/

/* Galaxy */
@media screen and (max-width: 700px) {
    .container-page,
    .container-card,
    .card {
        padding: 0px;
    }
    .titre-card {
        font-size: 17px;
    }
    .steper-verti {
        padding-top: 4.5rem !important;
    }
    .cover1 {
        display: block;
    }
    .cover2 {
        display: none;
    }
}

.moreOptionsPeriodicite{
    display: block;
    float: right;
    margin-top: -23px;
    margin-right: 12px;
}



@media screen and (max-width: 700px) {   
   
    
}

.paddingTableRegl{
    padding: 0px 30px 0px 30px;
}

.borderSeparatorYearReglmRight{
    border-right: 1px solid #dee2e6;
}
