<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
        Chargement en
        cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
    <h1>Gestion Sydic</h1>
    <ul>
        <li><a [routerLink]="['/syndic/appartements']">Biens</a></li>
        <li>Détails bien</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<!-- ***************************New styling******************************************-->
<div class="row pl-0">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 card card-appartement user-profile o-hidden mb-4 px-0">
        <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg')"></div>
        <div class="user-info">
            <img class="profile-picture avatar-lg mb-2" src="assets/images/appartement.jpg" alt="">
            <p class="m-0 text-18">{{appartement.intitule}}</p>
            <p class="title-info m-0">{{appartement?.residence?.intitule}}</p>
        </div>
        <div class="card-body card-body1 my-4">
            <div class="">
                <div class="body-cover appartement-info col-md-11">
                    <div class="appartement-residence">
                        <div class="bloc">
                            <span class="text-primary font-weight-bold"> {{appartement?.bloc?.intitule}}</span>
                            <span>Bloc</span>
                        </div>
                        <div class="surface">
                            <span class="text-primary font-weight-bold"> {{appartement?.surface }} m²</span>
                            <span>Surface</span>
                        </div>
                    </div>
                </div>

                <div class="separator-breadcrumb separt border-top"></div>

                <div class="col-md-11 px-0 details-bien">
                    <div class="col-md pl-0 spaceBetween">
                        <div class="col-md flex-column">
                            <label class="color-label text-15">Disponibilité</label>
                            <label class="color-label text-15">Remise de clé</label>
                            <label class="color-label text-15">Nature</label>
                            <label class="color-label py-1 text-15">Type</label>
                        </div>
                        <div class="col-md flex-column th-right">
                           <label ><span  class="badge badge-{{appartement?.statut?.style}} ">{{appartement?.statut?.label}}</span></label>
                           <label class="text-13">{{appartement?.dateremisebien!=null?(appartement?.dateremisebien?.date | date:'dd-MM-yyyy') : 'Non disponible' }}
                           </label>
                            <label class="text-13">{{appartement?.nature?.label}}</label>
                            <label class="text-13">{{appartement?.type?.label}}</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <span>
                            <label class="color-label text-15">Informations: &nbsp;</label>
                            <span class="text-13">{{appartement?.description}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-xl-9 col-lg-9 col-md-12 col-sm-12  pr-0">

        <!-- widget-->
        <div class="row" >
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-4"> <img class="icon-picture m-3" src="assets/images/solde_avance.png" alt=""></div>
                        <div class="col-8 margin-auto"><label class="tex-14 m-0">Solde Appartement </label>
                            <h3 class="m-0 font-weight-bold">{{solvabilite?.Solde | number}} {{infoPref?.devise}} </h3>
                        </div>

                    </div>
                </div>


            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12  mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-4">
                            <img class="icon-picture m-3" src="assets/images/solde.png" alt="" >

                        </div>
                        <div class="col-8 margin-auto ">
                            <span class="fa fa-ellipsis-h moreOptionsPeriodicite" aria-hidden="true" (click)="moreOptionPeriodicite(modalBasic3)" style="cursor: pointer;"></span>
                            <label class="tex-14 m-0">Périodicité de paiement</label>
                            <h3 class="m-0 font-weight-bold">Par {{appartement?.periodicite?.label}}</h3>
                        </div>
                      </div>
                </div>


            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12  mb-3">
                <div class="card">
                    <div class="row">
                        <div class="col-4"> <img class="icon-picture m-3" src="assets/images/calender.png" alt=""></div>
                        <div class="col-8 margin-auto">
                            <label class="tex-14 m-0">Retard Payement</label>
                            <h3 class="m-0 font-weight-bold">3 {{appartement?.periodicite?.label}} </h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-3">
            <div class=" card appartement">
                <!--                (tabChange)="tabChangeEvent($event)"-->
                <ngb-tabset [destroyOnHide]="false" class="nav-fill">
                    <!-- Propriétaire tab -->
                    <ngb-tab title="Propriétaire">
                        <ng-template ngbTabContent>
                            <div class="col-md p-2 mb-4">
                                <div class="container pl-0 ml-3">
                                    <div class="d-flex ml-0 pl-0">
                                        <div class="btn-group ml-0 pl-0 col-sm-3">
                                            <button type="button" *ngIf="can_addP?.permission"
                                                [routerLink]="['/syndic/ajouter-proprietaire-appartement/',appartement.cbmarq]"
                                                class="btn btn-outline-primary btn-rounded m-1">Ajouter un
                                                nouveau</button>

                                            <button *ngIf="can_addP?.permission" type="button"
                                                class="btn btn-primary btn-rounded m-1"
                                                (click)="openPro(modalBasic)">Choisir un
                                                existant</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-md-row flex-sm-column flex-wrap m-3">
                                    <div *ngIf="appartement?.proprietaire?.length==0" class="col-12 px-0">
                                        <ngb-alert
                                            class="alert-card alert-warning mb-4 alert text-primary alert-dismissible"
                                            role="alert">
                                            <strong class="text-capitalize">Information !</strong> Cet appartement ne
                                            contient
                                            pas des propriétaires !
                                        </ngb-alert>
                                    </div>
                                    <div *ngFor="let prop of appartement?.proprietaire" class="pl-0 col-md-5 mr-2 pt-3">
                                        <div class="card card-profile-1 p-2 mb-4">
                                            <i class="cursor-close i-Close-Window at-right m-0"
                                                *ngIf="can_retireP?.permission"
                                                (click)="retirerProp(appartement.cbmarq,prop.id)"></i>
                                            <div class="user-profile flex-line">
                                                <div class="user-info m-0 pb-3 px-2 ">
                                                    <img *ngIf="prop.photo==null"
                                                        class="profile-picture box-shadow-1  avatar-lg mb-1"
                                                        src="assets/images/faces/defaultAvatar.png" alt="">
                                                    <img *ngIf="prop.photo!=null"
                                                        class="profile-picture box-shadow-2 avatar-lg mb-1"
                                                        [src]="prop.photo" alt="">
                                                </div>
                                                <div class="p-1">
                                                    <h5 class="font-weight-bold m-0">{{prop.nomComplet}}</h5>
                                                    <p class="m-0">{{prop.email}}</p>
                                                    <p class="m-0">{{prop.telephone1}} <span *ngIf="prop.telephone2"> /
                                                            {{prop.telephone2}}</span></p>
                                                    <p *ngIf="prop.adresse!=null" class="m-0">{{prop.adresse}}</p>
                                                    <button class="btn badge badge-primary px-2"
                                                        [routerLink]="['/syndic/details-proprietaire/',prop.id]">Profil
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!-- Co-Propriétaire tab -->
                    <ngb-tab title="Co-Propriétaire">
                        <ng-template ngbTabContent>
                            <div class="col-md p-2 mb-4">
                                <div class="container pl-0 ml-3">
                                    <div class="d-flex ml-0 pl-0">
                                        <div class="btn-group ml-0 pl-0 col-sm-3"
                                            *ngIf="appartement?.proprietaire?.length!=0">
                                            <button type="button" *ngIf="can_addC?.permission"
                                                [routerLink]="['/syndic/ajouter-coproprietaire-appartement/',appartement.cbmarq]"
                                                class="btn btn-outline-primary btn-rounded m-1">Ajouter un
                                                nouveau</button>

                                            <button *ngIf="can_addC?.permission" type="button"
                                                (click)="openCoprop(modalBasic)"
                                                class="btn btn-primary btn-rounded m-1">Choisir un existant</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-md-row flex-sm-column flex-wrap m-3">
                                    <div *ngIf="!copropAppartment?.length" class="col-12 px-0">
                                        <ngb-alert class="alert-card mb-4 alert text-primary alert-dismissible"
                                            role="alert">
                                            <strong class="text-capitalize">Information !</strong>
                                            Cet appartement ne contient pas des copropriétaires !
                                        </ngb-alert>
                                    </div>
                                    <div *ngFor="let prop of copropAppartment" class="col-md-5 pl-0 pt-3">
                                        <div class="card card-profile-1 p-2 mb-4">
                                            <i class="cursor-close i-Close-Window at-right m-0"
                                                *ngIf="can_retireC?.permission"
                                                (click)="removeCoprop(appartement.cbmarq,prop.id)"></i>
                                            <div class="user-profile flex-line">
                                                <div class="user-info m-0 pb-3 px-2 ">
                                                    <img *ngIf="prop.photo==null"
                                                        class="profile-picture box-shadow-1  avatar-lg mb-1"
                                                        src="assets/images/faces/16.jpg" alt="">
                                                    <img *ngIf="prop.photo!=null"
                                                        class="profile-picture box-shadow-2 avatar-lg mb-1"
                                                        [src]="prop.photo" alt="">
                                                </div>
                                                <div class="p-1">
                                                    <h5 class="font-weight-bold m-0">{{prop.nomComplet}}</h5>
                                                    <p class="m-0">{{prop.email}}</p>
                                                    <p class="m-0">{{prop.telephone1}} <span *ngIf="prop.telephone2"> /
                                                            {{prop.telephone2}}</span></p>
                                                    <p *ngIf="prop.adresse!=null" class="m-0">{{prop.adresse}}</p>
                                                    <button class="btn badge badge-primary px-2"
                                                        [routerLink]="['/syndic/details-coproprietaire/',prop.id]">Profil
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                    </ngb-tab>
                    <!-- Frais Syndic tab -->
                    <ngb-tab >
                        <ng-template ngbTabTitle>
                            <div (click)="emitEventToChild()">Frais Syndic</div>
                        </ng-template>

                        <ng-template ngbTabContent>
                            <app-echeance-appartement [id]="appartement.cbmarq" (dateRemiseCleChanged)="changeDateRemiseCle($event)" [events]="eventsSubject.asObservable()"> </app-echeance-appartement>

                        </ng-template>
                    </ngb-tab>
                    <!-- Règlement tab -->
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div (click)="updatetableC()">Règlement</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="row mb-4">
                                <!-- left side list of years-->
                                <div class="col-xl-2 col.lg-2 col-md-2 col-sm-12 col-12 mb-2 borderSeparatorYearReglmRight paddingTableRegl">
                                    <div class="table-responsive">
                                        <table class="table  mb-2">
                                            <thead class="bg-gray-300" style="background-color: aliceblue!important;">
                                                <tr>
                                                    <th scope="col">Année</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of exerciceReglement | keyvalue; let i = index">
                                                    <td class="cursor" (click)="getDataExercice(item)"> {{item.key}}</td>
                                                </tr>
                                            </tbody>
    
                                        </table>
                                    </div>
                                   
                                </div>

                                <!-- right side list reglement -->
                                <div class="col-xl-10 col.lg-10 col-md-10 col-sm-12 col-12 mb-2 paddingTableRegl">
                                    <!-- toolbar -->
                                    <div class="row mb-2 mt-2">

                                        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 mb-2">
                                            <input  class="form-control"  (keyup)="applyFilter($event)" placeholder="Rechercher" #input >
                                       </div>
                                       
                                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 mb-2">
                                            <button class="btn btn-primary mb-sm-0 mb-3 alignRight"   *ngIf="can_addReg?.permission" (click)="addReglement()" style="width: inherit;">
                                                Ajouter
                                            </button>
                                        </div>      
                           
                                      
                                    </div>
                                   

                                    <!-- fin -->
                                    <div >
                                        <div class="table-responsive">
                                            <mat-table class="table table-striped" [dataSource]="dataSource" matSort>
                                                <!-- Réference Column -->
                                                <ng-container matColumnDef="reference">
                                                    <mat-header-cell *matHeaderCellDef>Réference</mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <span class="badge badge-pill badge-outline-secondary p-2 ">{{
                                                            row.reference
                                                            }}</span>
                                                    </mat-cell>
                                                </ng-container>
                                                <!-- Proprietaire Column -->
                                                <ng-container matColumnDef="proprietaire">
                                                    <mat-header-cell *matHeaderCellDef>Proprietaire</mat-header-cell>
                                                    <mat-cell class="text-center" *matCellDef="let row">{{
                                                        row.proprietaire
                                                        }}
                                                    </mat-cell>
                                                </ng-container>
                                                <!-- Montant Column -->
                                                <ng-container matColumnDef="montant">
                                                    <mat-header-cell *matHeaderCellDef>Montant</mat-header-cell>
                                                    <mat-cell class="text-center" *matCellDef="let row">{{ row.montant}}
                                                    </mat-cell>
                                                </ng-container>
                                                <!-- Solde Column -->
                                                <!--<ng-container matColumnDef="montantPaye">
                                                    <mat-header-cell *matHeaderCellDef>Reste</mat-header-cell>
                                                    <mat-cell class="text-center" *matCellDef="let row">
                                                        <span>{{ row.rest}}</span>
                                                    </mat-cell>
                                                </ng-container>-->
                                                <!-- Solde Column -->
                                                <ng-container matColumnDef="statut">
                                                    <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                                                    <mat-cell class="text-center" *matCellDef="let row">

                                                        <span class=" badge badge-square badge-square-opacity-success m-1"   *ngIf="row.statut.code=='E0036'"> {{row.statut.label}}</span>
                                                        <span class=" badge badge-square badge-square-opacity-danger m-1"    *ngIf="row.statut.code=='E0035'"> {{row.statut.label}}</span>
                                                        <span class=" badge badge-square badge-square-opacity-secondary m-1" *ngIf="row.statut.code=='E0037'"> {{row.statut.label}}</span>


                                                    </mat-cell>
                                                </ng-container>
                                                <!-- [routerLink]="[ '/syndic/details-reglement/', row.cbmarq  ]"  -->

                                                <ng-container matColumnDef="action">
                                                    <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <!------------------>
                                                        <span class="fa fa-info-circle" title="Détails" *ngIf="can_detailReg?.permission"
                                                        (click)="getDetails(row.cbmarq)"></span>

                                                        <span class="fa fa-pencil-square-o primaryMaterial  mr-1 mt-1"  *ngIf="can_editReg?.permission" title="Modifier" 
                                                        (click)="editerReglement(row.cbmarq)"></span>
                        
                                                        <span class="fa fa-trash-o dangerMaterial  mr-1" title="Supprimer" *ngIf="can_deleteReg?.permission" (click)="confirmBox(row.cbmarq)"></span>



                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                                                <tr class="mat-row" *matNoDataRow>
                                                    <td class="mat-cell" colspan="4">Aucune donnée trouvée                                                      
                                                    </td>
                                                </tr>
                                            </mat-table>

                                            <mat-paginator #paginator [pageSize]="5"
                                                [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                                            </mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!-- Solvabilité tab -->
                    <ngb-tab >
                        <ng-template ngbTabTitle>
                            <div (click)="getSolvabilite()">Solvabilité</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                           
                               
                            <div class="card-body" style="padding: 0.7rem !important">
                                <div class="card-title m-0">Frais Syndic</div>
                                <p class="text-small text-muted">Informations des frais syndic d'appartement
                                    correspondant.
                                </p>

                                <!-- widget-->
                                <div class="row">
                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-2">
                                        <div class="rounded align-items-center color-block2" style="text-align: center;padding: 6px !important">
                                            <i class="i-Data-Backup text-32 mr-3"></i>                                                        
                                            <p class="text-16 mb-1 font-weight-bold color-b2 textEllipsis">Total Frais Courant </p>
                                            <span>
                                                {{ConvertToFloat(solvabilite?.TotalFraisCourant)}}
                                                {{infoPref?.devise}} 
                                            </span>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-2">
                                        <div class="rounded align-items-center color-block1" style="text-align: center;padding: 6px !important">
                                            <i class="i-Big-Data text-32 mr-3"></i>
                                            
                                            <p class="text-16 mb-1 color-b1 font-weight-bold textEllipsis">Total Réglement Courant
                                            </p>
                                            <span>
                                                {{ ConvertToFloat(solvabilite?.TotalMontantReglementsCourant)}}
                                                {{infoPref?.devise}} 
                                            </span>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-2">
                                        <div
                                            class="color-block3 rounded align-items-center" style="text-align: center;padding: 6px !important">
                                            <i class="i-Data-Cloud text-32 mr-3"></i>                                                       
                                            <p class="text-16 mb-1 font-weight-bold textEllipsis">Total Report</p>
                                            <span>
                                                {{ConvertToFloat(solvabilite?.TotalReport)}}
                                                {{infoPref?.devise}}
                                                </span>
                                            
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-6 mb-2">
                                        <div
                                            class="color-block3 rounded align-items-center" style="text-align: center;padding: 6px !important">
                                            <i class="i-Data-Download text-32 mr-3"></i>
                                            <div>
                                                <p class="text-16 mb-1 font-weight-bold textEllipsis">Solde Bien</p>
                                                <span>
                                                    {{ConvertToFloat(solvabilite?.Solde)}}
                                                    {{infoPref?.devise}} </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                   
                            <!-- table solvabilité -->
                            <div class="table-responsive" >
                                <mat-table class="table table-striped"  [dataSource]="dataSourceSolv"  >

                                    <ng-container  matColumnDef="date">
                                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef  >
                                        Date
                                        </mat-header-cell>
                                        <mat-cell  *matCellDef="let row">
                                            {{row.date}}
                                        </mat-cell>
                                    </ng-container>
                                    <!--  Column -->
                                    <ng-container  matColumnDef="type">
                                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef  >
                                            Type
                                        </mat-header-cell>
                                        <mat-cell  *matCellDef="let row">
                                            <span class="badge badge-pill badge-outline-secondary p-2">{{row.typeDepense.label}}</span>

                                        </mat-cell>
                                    </ng-container>
            
                                    <!--  Column -->
                                    <ng-container matColumnDef="montantAPayer">
                                        <mat-header-cell *matHeaderCellDef >Montant à payé</mat-header-cell>
                                        <mat-cell  *matCellDef="let row">
                                            {{row.montant}} {{infoPref?.devise}}
                                        </mat-cell>
                                    </ng-container>
            
                                    <!-- Column -->
                                    <ng-container  matColumnDef="montantPaye">
                                        <mat-header-cell   *matHeaderCellDef >Montant payé</mat-header-cell>
                                        <mat-cell *matCellDef="let row" >
                                            {{row.payed}} {{infoPref?.devise}}
                                        </mat-cell>
                                    </ng-container>
            
                                        
                                    <!-- Data Column -->
                                    <ng-container matColumnDef="statut">
                                        <mat-header-cell *matHeaderCellDef >Statut</mat-header-cell>
                                        <mat-cell class="text-center"  *matCellDef="let row">
            
                                            <span class=" badge badge-square badge-square-opacity-danger m-1" *ngIf="row.statut.code=='E0030'">{{ row?.statut?.label }}</span>
                                            <span class=" badge badge-square badge-square-opacity-success m-1" *ngIf="row.statut.code=='E0028'">{{ row?.statut?.label }}</span>
                                            <span class=" badge badge-square badge-square-opacity-warning m-1" *ngIf="row.statut.code=='E0029'">{{ row?.statut?.label }}</span>

                                        </mat-cell>
                                    </ng-container>        
                                
            
                                    <mat-header-row *matHeaderRowDef="displayedColumnsSolv"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsSolv"></mat-row>
            
                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow >
                                        <td class="mat-cell" style="text-align: center" colspan="8">Aucune donnée trouvée
                                        </td>
                                    </tr>
                                    <div *ngIf="dataSourceSolv.data?.length === 0"></div>
                                </mat-table>
            
                                <mat-paginator #MatPaginatorSolv [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" ></mat-paginator>
                            </div>

                           
                        </ng-template>
                    </ngb-tab>
                    <!-- Historique tab -->
                    <ngb-tab >
                        <ng-template ngbTabTitle>
                            <div (click)="getLogProp()">Historique</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="table-responsive  p-2 mb-4">

                                <mat-table class="table table-striped"  [dataSource]="dataSourceHist"  >

                                    <ng-container  matColumnDef="dateSortie">
                                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef  >
                                            Date Sortie
                                        </mat-header-cell>
                                        <mat-cell  *matCellDef="let row">
                                            {{row?.dateretire?.date| date:'dd-MM-yyyy'}}
                                        </mat-cell>
                                    </ng-container>
                                    <!--  Column -->
                                    <ng-container  matColumnDef="resident">
                                        <mat-header-cell [ngClass]="'wt-75 th-left'" *matHeaderCellDef  >
                                            Résident
                                        </mat-header-cell>
                                        <mat-cell  *matCellDef="let row">
                                            <span class="badge badge-pill badge-outline-secondary p-2">
                                                {{row?.resident?.nomComplet}}
                                            </span>

                                        </mat-cell>
                                    </ng-container>
            
                                    <!--  Column -->
                                    <ng-container matColumnDef="raison">
                                        <mat-header-cell *matHeaderCellDef >Raison</mat-header-cell>
                                        <mat-cell  *matCellDef="let row">
                                            <span *ngIf="info?.raison!=null">{{info?.raison}}</span>
                                            <span *ngIf="info?.raison==null ||info?.raison=='' ">N'est pas déclarée</span>
                                        </mat-cell>
                                    </ng-container>
            
                                    <!-- Column -->
                                    <ng-container  matColumnDef="type">
                                        <mat-header-cell   *matHeaderCellDef >Type</mat-header-cell>
                                        <mat-cell *matCellDef="let row" >
                                                <span *ngIf="info?.type==2"
                                                    class="badge badge-outline-primary p-2">Copropriétaire
                                                </span>
                                                <span *ngIf="info?.type==1"
                                                    class="badge badge-outline-success p-2">Propriétaire
                                                </span>
                                        </mat-cell>
                                    </ng-container>
            
                                        
                                    <!-- Data Column -->
                                    <ng-container matColumnDef="telephone">
                                        <mat-header-cell *matHeaderCellDef >Téléphone</mat-header-cell>
                                        <mat-cell class="text-center"  *matCellDef="let row">            
                                            {{row?.resident?.telephone1}}
                                        </mat-cell>
                                    </ng-container>        
                                
            
                                    <mat-header-row *matHeaderRowDef="displayedColumnsHist"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumnsHist"></mat-row>
            
                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow >
                                        <td class="mat-cell" style="text-align: center" colspan="8">Aucune donnée trouvée
                                        </td>
                                    </tr>
                                    <div *ngIf="dataSourceHist.data?.length === 0"></div>
                                </mat-table>
            
                                <mat-paginator #MatPaginatorHist [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" ></mat-paginator>


                              
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>



<!-- ****************************************************************************-->


<!--  Modal Choisir proprietaire pour un appartement-->
<ng-template #modalBasic class="AjouterProp" let-modal>
    <div class="modal-header">
        <h5 *ngIf="!coProp" class="modal-title" id="modal-basic-title">Ajouter proprietaire(s) au bien</h5>
        <h5 *ngIf="coProp" class="modal-title" id="modal-basic-title">Ajouter Co-proprietaire(s) au bien</h5>
    </div>
    <form [formGroup]="propAppartementForm" (ngSubmit)="onSubmit()" class=" col-md-12">
        <div class="modal-body">
            <div class="form-group mb-3 flex-line">
                <div class="col-sm-12 pl-0">
                    <label *ngIf="!coProp">Liste proprietaires (*):</label>
                    <label *ngIf="coProp">Liste Co-proprietaires (*):</label>
                    <ng-select [clearable]="true" [items]="proprietaires" formControlName="proprietaire"
                        [multiple]="true" *ngIf="!coProp" bindLabel="nomComplet"
                        placeholder="Choisir un/des proprietaire(s)" bindValue="id"
                        [ngClass]="{ 'is-invalid': submitted && (propAppartementForm.controls.proprietaire.errors || (propAppartementForm.controls.proprietaire.errors  && propAppartementForm.get('proprietaire').touched ))}">
                    </ng-select>
                    <ng-select [clearable]="true" [items]="proprietaires" formControlName="proprietaire"
                        [multiple]="true" *ngIf="coProp" bindLabel="nomComplet"
                        placeholder="Choisir un/des co-proprietaire(s)" bindValue="id"
                        [ngClass]="{ 'is-invalid': submitted &&  (propAppartementForm.controls.proprietaire.errors || (propAppartementForm.controls.proprietaire.errors  && propAppartementForm.get('proprietaire').touched )) }">
                    </ng-select>
                    <div class="invalid-feedback "
                        *ngIf="submitted &&  (propAppartementForm.controls.proprietaire.errors || (propAppartementForm.controls.proprietaire.errors  && propAppartementForm.get('proprietaire').touched ))">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>

            <div class="form-group mb-3 flex-line" *ngIf="appartement?.proprietaire.length==0">
                <div class="col-sm-12 pl-0">
                    <label >Date remise de clé (*)</label>
                    <input class="form-control"  formControlName="dateremisebien" type="date"
                    [ngClass]="{ 'is-invalid': submitted &&  propAppartementForm.controls.dateremisebien.errors || (propAppartementForm.controls.dateremisebien.errors  && propAppartementForm.get('dateremisebien').touched ) }">

                    <div class="invalid-feedback "
                        *ngIf="submitted &&  propAppartementForm.controls.dateremisebien.errors || (propAppartementForm.controls.dateremisebien.errors  && propAppartementForm.get('dateremisebien').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Enregistrer </button>
                <button class="btn btn-outline-dark " type="button" (click)="modal.close()">Annuler</button>
            </div>
        </div>
    </form>
</ng-template>
<!-- end Modal Choisir proprietaire pour un appartement -->

<!-- Modal supprimer prop-->
<ng-template #modalBasic1 class="suppProp" let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">Supprimer Propriétaire</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="suppPropForm" (ngSubmit)="supPropSubmit()" class="px-0 col-md-12">
            <h5>Veuillez indiquer la raison de votre suppression !</h5>
            <div class="col-md-12 form-group mb-3 pl-0 flex-line">
                <label class="font-weight-bold" for="raison">Raison</label>
                <textarea class="form-control" formControlName="raison" name="raison" id="raison" cols="30" rows="4">

            </textarea>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Enregistrer </button>
                <button class="btn btn-outline-dark " type="button" (click)="modal.close()">Annuler</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- end Modal supprimer prop -->

<!-- modal periodicité-->
<ng-template #modalBasic3 class="Changement de périodicité" let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Changer la périodicité</h4>
    </div>
    <form [formGroup]="periodiciteForm" (ngSubmit)="onSubmitPeriodicite()" class=" col-md-12">
        <div class="modal-body">
            <div class="form-group mb-3 flex-line">
                <div class="col-sm-12 pl-0">
                    <ng-select [clearable]="true" [items]="listPeriodicite" formControlName="periodicite"
                        [multiple]="false"  bindLabel="label"
                        placeholder="Choisir une périodicité" bindValue="value"
                        [ngClass]="{ 'is-invalid': submittedPeriodicite &&  periodiciteForm.controls.periodicite.errors || (periodiciteForm.controls.periodicite.errors  && periodiciteForm.get('periodicite').touched )}">
                    </ng-select>

                    <div class="invalid-feedback "
                        *ngIf="submittedPeriodicite &&  periodiciteForm.controls.periodicite.errors || (periodiciteForm.controls.periodicite.errors  && periodiciteForm.get('periodicite').touched )">
                        Veuillez remplir ce champs !
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Enregistrer </button>
                <button class="btn btn-outline-dark " type="button" (click)="modal.close()">Annuler</button>
            </div>
        </div>
    </form>
</ng-template>
