<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">
<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en cours ...
    </h4>
</ngx-spinner>
<div class="breadcrumb">
  <h1>Communité</h1>
  <ul>
    <li><a routerlink="/communite/inbox">Messagerie</a></li>
    <li>Boite</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="content-wrapper">
  <div class="email-wrapper wrapper">

    <!-- View 1 - XL Screen -->
    <div class="row mx-0 largeScreenView">
      <!-- SIDE BAR large -->
      <div class="col-3 px-0 mail-sidebar card d-none d-lg-block d-xl-block d-md-none pt-3 bg-white"
        style="height: 698px;">
        <div class="menu-bar">
          <!-- Entete profile Inbox-->
          <div class="row" style="margin-left: 0px;">
            <div class="col-12">
              <div class="input-group mb-3 ">
                <div>
                  <span class="comment-avatar float-left">
                    <a>
                      <div class="profileImage" *ngIf="proprietaire.photo==null">{{proprietaire.logoText}}</div>
                      <img *ngIf="proprietaire.photo!=null" [src]="imgSrc" alt="proprietaire" class="profileImage"
                        style="padding-top: 0px !important;">
                    </a>
                  </span>
                </div>
                <div style="display: grid;padding-left: 10px;">
                  <span class="float-left" style="font-weight: 500;color: #5CBDEA;">
                    {{proprietaire.nomComplet}}
                  </span>
                  <span class="float-left" style="font-size: 12px;">
                    {{proprietaire.email}}
                  </span>
                </div>


              </div>

              <hr class="px-2">
            </div>
          </div>

          <ul class="menu-items">
            <li class="compose mb-3" *ngIf="can_add?.permission"><button class="btn btn-primary btn-block"
                (click)="openComposeModal()">NOUVEAU MESSAGE</button></li>

            <li (click)="selectReception()" *ngIf="can_liste?.permission" style="cursor: pointer;"
              [ngStyle]="{'border-left':isInbox ? '8px solid #5CBDEA' : '8px solid white' }">
              <a [ngStyle]="{'color':isInbox ? 'black' : '' }">

                <img class="icon-picture" src="assets/images/messagerie/received.png" alt="" *ngIf="!isInbox">
                <img class="icon-picture" src="assets/images/messagerie/received_colored.png" alt="" *ngIf="isInbox">

                <span style="font-size: 15px;font-weight: 500;"> Boîte de réception </span>
            
              </a>
              <span class="badge badge-pill badgenvxMsg p-2 m-1">{{inboxModel.nonlu}}</span>

            </li>

            <li (click)="selectSended()" *ngIf="can_liste?.permission" style="cursor: pointer"
              [ngStyle]="{'border-left':isSended ? '8px solid #5CBDEA' : '8px solid white' }">
              <a [ngStyle]="{'color':isSended ? 'black' : '' }">

                <img class="icon-picture" src="assets/images/messagerie/send.png" alt="" *ngIf="!isSended">
                <img class="icon-picture" src="assets/images/messagerie/send_colored.png" alt="" *ngIf="isSended">
                <span style="font-size: 15px;font-weight: 500;"> Messages envoyés </span>

              
              </a>
            </li>

            <li (click)="selectTrash()" *ngIf="can_liste?.permission" style="cursor: pointer"
              [ngStyle]="{'border-left':isTrash ? '8px solid #5CBDEA' : '8px solid white' }">
              <a [ngStyle]="{'color':isTrash ? 'black' : '' }">

                <img class="icon-picture" src="assets/images/messagerie/trash.png" alt="" *ngIf="!isTrash">
                <img class="icon-picture" src="assets/images/messagerie/trash_colored.png" alt="" *ngIf="isTrash">
                <span style="font-size: 15px;font-weight: 500;"> Corbeille </span>


                <!--<b> ( {{inboxModel?.trash?.length>0?inboxModel?.trash?.length:0}} )</b>-->
              </a>
            </li>

          </ul>

        </div>
      </div>
      <!-- SIDE BAR min-->
      <div class=" mail-sidebar card col-1 px-2 d-none d-lg-none d-sm-block d-md-block pt-3 bg-white"
        style="height: 698px;">
        <div class="menu-bar">
          <!-- Entete profile && toolbar Inbox-->
          <div class="row" style="margin-left: 0px;">
            <div class="profileImage" *ngIf="proprietaire.photo==null">{{proprietaire.logoText}}</div>
            <img *ngIf="proprietaire.photo!=null" [src]="imgSrc" alt="proprietaire" class="profileImage"
              style="padding-top: 0px !important;">

          </div>

          <hr style="margin: 11px;padding:0px;width:98%;margin-left: 0px;">
          <!--left side toolbar-->
          <div class="row" style="margin-left: 0px;">
            <button *ngIf="can_add?.permission" class="btn btn-primary btn-block  mb-3" style="width: 75%;"
              (click)="openComposeModal()">+</button>
          </div>
          <div class="row" style="margin-left: 0px;" *ngIf="can_liste?.permission">
            <a [ngStyle]="{'color':isInbox ? 'black' : '' }" (click)="selectReception()">
              <img class="icon-pictureMedium" src="assets/images/messagerie/received.png" alt="" *ngIf="!isInbox">
              <img class="icon-pictureMedium" src="assets/images/messagerie/received_colored.png" alt=""
                *ngIf="isInbox">
              <span class="badge badge-pill badgenvxMsgMedium p-2 m-1">{{inboxModel.nonlu}}</span>
            </a>
          </div>
          <div class="row" style="margin-left: 0px;margin-top: 15px;" *ngIf="can_liste?.permission">
            <a [ngStyle]="{'color':isSended ? 'black' : '' }" (click)="selectSended()">
              <img class="icon-pictureMedium" src="assets/images/messagerie/send.png" alt="" *ngIf="!isSended">
              <img class="icon-pictureMedium" src="assets/images/messagerie/send_colored.png" alt="" *ngIf="isSended">
            </a>
          </div>
          <div class="row" style="margin-left: 0px;margin-top: 15px;">
            <a [ngStyle]="{'color':isTrash ? 'black' : '' }" (click)="selectTrash()" *ngIf="can_liste?.permission">
              <img class="icon-pictureMedium" src="assets/images/messagerie/trash.png" alt="" *ngIf="!isTrash">
              <img class="icon-pictureMedium" src="assets/images/messagerie/trash_colored.png" alt="" *ngIf="isTrash">
            </a>
          </div>
        </div>
      </div>
      <!-- Liste des Emails-->
      <div class="col-3 px-0 mail-list-container card col-3 pt-4 pb-4 border-right bg-grey">
        <div class="mb-3 px-3 ">

          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" placeholder="Recherche"
              id="example-search-input" [(ngModel)]="searchEmail" (ngModelChange)="filterEmail()">
            <span class="input-group-append">
              <div class="input-group-text" style="background-color: white;"><span class="fa fa-search"></span></div>
            </span>
          </div>

        </div>

        <div style="overflow-y: scroll;height: 600px;background-color: #EFEFEF !important"
          *ngIf="(isInbox || isSended || isTrash) && can_liste?.permission">

          <div *ngIf="listMessagerie.length>0">
            <div class="mail-list" *ngFor="let m of listMessagerie " (click)="selectEmail(m)">

              <div class="card col-12 paddingcardListMsgXL" [ngClass]="{'nonlus':m?.statut==0 && isInbox}"
                [ngStyle]="{'border':m.cbmarq==currentEmail.cbmarq? '1px solid #5cbdea' : ''}">
                <div class="row" style="margin: 0px;">
                  <div class="col-auto px-0">
                    <div class="form-check" style="padding: 0px;margin: 0px;width: auto;">
                      <img *ngIf="m?.cbcreateur?.photo!=undefined && m?.cbcreateur?.photo!=null"
                        [src]="m?.cbcreateur?.photo" alt="" class="rounded-circle mr-1" style="height: 45px;width: 45px;">
                      <div class="profileMessage mr-1 "
                        *ngIf="m?.cbcreateur?.photo==null || m?.cbcreateur?.photo==undefined">
                        {{m?.logoText}}</div>
                    </div>
                  </div>
                  <div class="col-10 px-0">
                    <div class="content">
                      <p class="sender-name d-flex justify-content-between">{{m?.cbcreateur?.nomComplet}}
                        <img src="assets/images/messagerie/delete.png" alt="Supprimer" style="cursor: pointer;"
                          title="Supprimer" (click)="confirmBox()"
                          *ngIf="(isInbox || isSended) && can_delete?.permission">
                      </p>
                      <small>{{m?.cbcreation?.date | date : 'EEEE d MMMM y, HH:mm' }}</small>

                      <p class="message_text">Objet : {{m?.objet}}</p>
                      <p class="message_Content textEllipsis mt-2" [innerHTML]="m?.message"
                        style="margin-bottom: -15px !important;"></p>
                      <p *ngIf="m?.attachement" class="mt-2 mb-0">
                        <img style="width: 11px !important" src="assets/images/messagerie/attachement.png"
                          *ngIf="m?.attachement!=null">&nbsp;
                        <span style="font-size: 11px;"
                          *ngIf="m?.attachement!=null && m?.attachement.length>1">{{m?.attachement?.length}}
                          Attachements</span>
                        <span style="font-size: 11px;"
                          *ngIf="m?.attachement!=null && m?.attachement.length==1">Attachement</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="listMessagerie.length==0">
            <div class="mail-list">

              <div class="card col-12" style="padding: 12px;">
                <h4 style="text-align: center;">Aucune donnée trouvé</h4>
              </div>
            </div>

          </div>

        </div>


      </div> <!-- fin liste email-->

      <!-- DETAILS -->
      <div class="col px-0 mail-view py-3 card d-md-block  bg-white">
        <!-- VIEW  -->
        <div class="message-body largeScreenView textMsgXl p-1"
          *ngIf="selected && !isnewEmail && can_detail?.permission">
          <!-- start -->
          <div class="row mx-2 ">
            <div class="col-auto mr-2 px-0">
              <img class="img-sm  mr-3"
                *ngIf="currentEmail?.cbcreateur?.photo!=undefined && currentEmail?.cbcreateur?.photo!=null"
                class="rounded-circle mr-1" style="height: 60px;width: 60px;" [src]="currentEmail?.cbcreateur?.photo" alt="">
              <div class="profileEditMessage"
                *ngIf="currentEmail?.cbcreateur?.photo==null || currentEmail?.cbcreateur?.photo==undefined">
                {{currentEmail?.logoText}}</div>

            </div>
            <div class="col px-0">
              <div style="display: inline-flex;">
                <p class="sender-email" style="font-weight: 600;">
                  {{currentEmail?.cbcreateur?.nomComplet}}

                </p>
                &nbsp;
                <span class=" fa fa-arrow-up" title="s" *ngIf="moreDetails"
                  style="cursor: pointer;font-size: 13px !important;margin-top: 2px;" (click)="viewMoreDetail()">
                </span>
                <span class="fa fa-arrow-down" title="Destinataires" *ngIf="!moreDetails"
                  style="cursor: pointer;font-size: 13px !important;margin-top: 2px" (click)="viewMoreDetail()"> </span>

              </div>
              <!-- destinataire -->
              <div class="row" *ngIf="moreDetails" style="margin-left: 0px; margin-right: 0px;margin-top:-15px">
                <p style="color: #213c7f;">
                  <small style="font-weight: 500;">Destinataire : </small> <small
                    *ngFor="let destin of currentEmail.destinateur" class="mr-2"> {{destin?.nomComplet}} ;</small>
                </p>
              </div>
              <p class="msg-subject">
                Objet : {{currentEmail?.objet}}
              </p>
              <div [innerHTML]="currentEmail?.message">
              </div>
              <div class="row mb-2" style="margin: 0px; padding: 0px;" *ngIf="currentEmail.attachement">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 attachement"
                  *ngFor="let attach of currentEmail.attachement ;let i=index" style="text-align: center;">
                  <a style="cursor: pointer;padding: 10px;" [href]="attach" target="_blank"
                    *ngIf="attach!='' && attach!=undefined">

                    <span class="fa fa-file-text ml-2" aria-hidden="true"
                      *ngIf="attach.substring(attach.lastIndexOf('.')+1) =='xlsx' || attach.substring(attach.lastIndexOf('.')+1)=='xls' || attach.substring(attach.lastIndexOf('.')+1)=='csv' || attach.substring(attach.lastIndexOf('.')+1)=='csv' || attach.substring(attach.lastIndexOf('.')+1)=='docx' || attach.substring(attach.lastIndexOf('.')+1)=='doc'"></span>
                    <span class="fa fa-file-pdf-o ml-2" aria-hidden="true"
                      *ngIf="attach.substring(attach.lastIndexOf('.')+1)=='pdf'"></span>
                    <span class="fa fa-file-image-o ml-2" aria-hidden="true"
                      *ngIf="attach.substring(attach.lastIndexOf('.')+1)=='png' || attach.substring(attach.lastIndexOf('.')+1)=='jpg' || attach.substring(attach.lastIndexOf('.')+1)=='jpeg'  || attach.substring(attach.lastIndexOf('.')+1)=='bmp'"></span>

                    <span class="ml-2">Attachement {{i+1}}</span>
                    <span class="fa fa-download ml-2" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--fin-->
        </div>
        <!-- view acces interdit-->
        <div *ngIf="selected && !isnewEmail && !can_detail?.permission">
          <p style="font-size: 24px;color: grey;text-align: center;">403</p>
          <p style="font-size: 18px;color: grey;text-align: center;margin-top: 30px;"> Accès Interdit</p>
        </div>
        <!-- EDIT -->
        <div class="message-body" *ngIf="isnewEmail && !selected ">
          <app-compose-dialog (onBackToList)="refreshViewListInbox($event)"></app-compose-dialog>
        </div>
        <!-- DEFAULT -->
        <div class="message-body " style="text-align: center;" *ngIf="!isnewEmail && !selected">
          <!--app-inro-circle inbox-intro-->
          <img src="../../../../assets/images/messagerie/msg.jpg" alt="" class="rounded-circle">
        </div>
      </div>
    </div>

  </div>
  <!-- view 3 - SM XS mobile screen -->
  <div class="row align-items-stretch mobileScreenView ">
    <!-- SIDE BAR -->
    <div class="mail-sidebar card col-12 pt-3 bg-white">
      <div class="menu-bar">
        <!-- Entete profile Inbox-->
        <div class="row mb-4 mx-0">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 px-0 input-group mb-3 ">
            <div>
              <span class="comment-avatar float-left">
                <a>
                  <div class="profileImage" *ngIf="proprietaire.photo==null">{{proprietaire.logoText}}</div>
                  <img *ngIf="proprietaire.photo!=null" [src]="imgSrc" alt="proprietaire" class="profileImage"
                    style="padding-top: 0px !important;">
                </a>
              </span>
            </div>
            <div style="display: grid;padding-left: 10px;">
              <span class="float-left" style="font-weight: 500;color: #5CBDEA;">
                {{proprietaire.nomComplet}}
              </span>
              <span class="float-left" style="font-size: 12px;">
                {{proprietaire.email}}
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 px-0 text-right">
            <button *ngIf="can_add?.permission" class="btn btn-outline-dark mr-2" (click)="openComposeModal()">
              <span style="font-size: 17px;" class="pr-2 fa fa-reply"></span>retour
            </button>
            <button *ngIf="can_add?.permission" class="btn btn-primary" (click)="openComposeModal()">
              <span style="font-size: 17px;" class="pr-2 fa fa-plus"></span>Nouveau
            </button>

          </div>
        </div>
        <!-- toolbar-->
        <div class="row mb-2" style="margin-right: 0px; margin-left: 0px; margin-top: 13px; margin-bottom: 13px;">
          <ul class="nav nav-pills nav-fill">
            <li (click)="selectReception()" *ngIf="can_liste?.permission" class="nav-item mb-4 mr-4"
              [ngStyle]="{'border-bottom':isInbox ? '4px solid #5CBDEA' : '4px solid white' }">
              <a [ngStyle]="{'color':isInbox ? 'black' : '' }">

                <img class="icon-picture" src="assets/images/messagerie/received.png" alt="" *ngIf="!isInbox">
                <img class="icon-picture" src="assets/images/messagerie/received_colored.png" alt="" *ngIf="isInbox">

                <span style="font-size: 15px;font-weight: 500;"> Boîte de réception </span>

              </a>
              <span class="badge badge-pill badgenvxMsgmobile p-2 m-1">{{inboxModel.nonlu}}</span>

            </li>

            <li (click)="selectSended()" *ngIf="can_liste?.permission" class="nav-item mb-4 mr-4"
              [ngStyle]="{'border-bottom':isSended ? '4px solid #5CBDEA' : '4px solid white' }">
              <a [ngStyle]="{'color':isSended ? 'black' : '' }">

                <img class="icon-picture" src="assets/images/messagerie/send.png" alt="" *ngIf="!isSended">
                <img class="icon-picture" src="assets/images/messagerie/send_colored.png" alt="" *ngIf="isSended">
                <span style="font-size: 15px;font-weight: 500;"> Messages envoyés </span>

              </a>
            </li>

            <li (click)="selectTrash()" *ngIf="can_liste?.permission" class="nav-item mb-4"
              [ngStyle]="{'border-bottom':isTrash ? '4px solid #5CBDEA' : '4px solid white' }">
              <a [ngStyle]="{'color':isTrash ? 'black' : '' }">

                <img class="icon-picture" src="assets/images/messagerie/trash.png" alt="" *ngIf="!isTrash">
                <img class="icon-picture" src="assets/images/messagerie/trash_colored.png" alt="" *ngIf="isTrash">
                <span style="font-size: 15px;font-weight: 500;"> Corbeille </span>


              </a>
            </li>

          </ul>


        </div>


      </div>
    </div>
    <!-- Liste des Emails-->
    <div class="mail-list-container card col-12 pt-4 pb-4 border-right bg-grey"
      *ngIf="!selected && isnewEmail">
      <div class="border-bottom mb-3 px-3 ">

        <div class="input-group">
          <input class="form-control py-2 border-right-0 border" type="search" placeholder="Recherche"
            id="example-search-input" [(ngModel)]="searchEmail" (ngModelChange)="filterEmail()">
          <span class="input-group-append">
            <div class="input-group-text" style="background-color: white;"><span class="fa fa-search"></span></div>
          </span>
        </div>

      </div>

      <div style="overflow-y: scroll;height: 600px;background-color: #EFEFEF !important"
        *ngIf="(isInbox || isSended || isTrash) && can_liste?.permission">

        <div *ngIf="listMessagerie.length>0">
          <div class="mail-list" *ngFor="let m of listMessagerie " (click)="selectEmail(m)">

            <div class="card col-12 paddingcardListMsgXL" [ngClass]="{'nonlus':m?.statut==0 && isInbox}"
              [ngStyle]="{'border':m.cbmarq==currentEmail.cbmarq? '1px solid #5cbdea' : ''}">
              <div class="row" style="margin:0px;">
                <div style="width: 45px;">

                  <img *ngIf="m?.cbcreateur?.photo!=undefined && m?.cbcreateur?.photo!=null"
                    [src]="m?.cbcreateur?.photo" alt="" class="rounded-circle" style="height: 35px;width: 35px;">

                  <div class="profileMessage" *ngIf="m?.cbcreateur?.photo==null || m?.cbcreateur?.photo==undefined">
                    {{m?.logoText}}</div>


                </div>
                <div style="width: 76%;padding: 0px;">
                  <div class="content">
                    <p class="sender-name">{{m?.cbcreateur?.nomComplet}}</p>
                    <p style="font-size: 12px;top: 10px;right: 30px; position: absolute;">{{m?.cbcreation?.date | date
                      : 'EEEE d MMMM y, HH:mm'}}</p>
                    <p class="message_text">Objet : {{m?.objet}}</p>

                    <p class="message_Content textEllipsis mt-2" [innerHTML]="m?.message"
                      style="margin-bottom: -15px !important;"></p>

                    <p *ngIf="m?.attachement" class="mt-2 mb-0">
                      <img style="width: 11px !important" src="assets/images/messagerie/attachement.png"
                        *ngIf="m?.attachement!=null">&nbsp;
                      <span style="font-size: 11px;"
                        *ngIf="m?.attachement!=null && m?.attachement.length>1">{{m?.attachement?.length}}
                        Attachements</span>
                      <span style="font-size: 11px;"
                        *ngIf="m?.attachement!=null && m?.attachement.length==1">Attachement</span>


                    </p>



                  </div>
                </div>


              </div>



            </div>

          </div>
        </div>
        <div *ngIf="listMessagerie.length==0">
          <div class="mail-list">

            <div class="card col-12" style="padding: 12px;">
              <h4 style="text-align: center;">Aucune donnée trouvé</h4>
            </div>
          </div>

        </div>

      </div>


    </div> <!-- fin liste email-->

    <!-- DETAILS -->
    <div class="mail-view py-2 card  col-12 bg-white"
      *ngIf="(selected || isnewEmail)">

      <!-- VIEW  -->
      <div class="message-body" *ngIf="selected && !isnewEmail && can_detail?.permission">
        <!-- start -->
        <div class="col pl-0 d-flex">
          <div class="col-auto px-0 mr-2">
            <img class="img-sm"
              *ngIf="currentEmail?.cbcreateur?.photo!=undefined && currentEmail?.cbcreateur?.photo!=null"
              class="rounded-circle" [src]="currentEmail?.cbcreateur?.photo" style="width: 47px;height: 50px;">
            <div class="profileEditMessageMobile"
              *ngIf="currentEmail?.cbcreateur?.photo==null || currentEmail?.cbcreateur?.photo==undefined">
              {{currentEmail?.logoText}}</div>

          </div>
          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 px-0 ">
            <div class="row mx-0">
              <div class="col px-0 d-inline-flex">
                <p class="sender-email" style="font-weight: 600;">
                  {{currentEmail?.cbcreateur?.nomComplet}}
                </p>
                <span class=" fa fa-arrow-up" title="Destinataires" *ngIf="moreDetails"
                  style="cursor: pointer;font-size: 13px !important;margin-top: 2px;" (click)="viewMoreDetail()">
                </span>
                <span class="fa fa-arrow-down" title="Destinataires" *ngIf="!moreDetails"
                  style="cursor: pointer;font-size: 13px !important;margin-top: 2px" (click)="viewMoreDetail()">
                </span>
              </div>
              <div class="col-auto pt-2 px-0">
                <img src="assets/images/messagerie/delete.png" alt="Supprimer" style="cursor: pointer;"
                  title="Supprimer" (click)="confirmBox()" *ngIf="(isInbox || isSended) && can_delete?.permission">
              </div>


            </div>

            <!-- destinataire -->
            <div class="row" *ngIf="moreDetails" style="margin-left: 0px; margin-right: 0px;margin-top:-15px">
              <p style="color: #213c7f;">
                <small style="font-weight: 500;">Destinataire : </small> <small
                  *ngFor="let destin of currentEmail.destinateur" class="mr-2"> {{destin?.nomComplet}} ;</small>
              </p>

            </div>

            <p class="msg-subject">
              Objet: {{currentEmail?.objet}}
            </p>
            <div [innerHTML]="currentEmail?.message">
            </div>

            <div class="row mb-4" style="margin: 0px; padding: 0px;">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 attachement"
                *ngFor="let attach of currentEmail.attachement ;let i=index" style="text-align: center;">
                <a style="cursor: pointer;padding: 10px;" [href]="attach" target="_blank"
                  *ngIf="attach!='' && attach!=undefined">

                  <span class="fa fa-file-text ml-2" aria-hidden="true"
                    *ngIf="attach.substring(attach.lastIndexOf('.')+1) =='xlsx' || attach.substring(attach.lastIndexOf('.')+1)=='xls' || attach.substring(attach.lastIndexOf('.')+1)=='csv' || attach.substring(attach.lastIndexOf('.')+1)=='csv' || attach.substring(attach.lastIndexOf('.')+1)=='docx' || attach.substring(attach.lastIndexOf('.')+1)=='doc'"></span>
                  <span class="fa fa-file-pdf-o ml-2" aria-hidden="true"
                    *ngIf="attach.substring(attach.lastIndexOf('.')+1)=='pdf'"></span>
                  <span class="fa fa-file-image-o ml-2" aria-hidden="true"
                    *ngIf="attach.substring(attach.lastIndexOf('.')+1)=='png' || attach.substring(attach.lastIndexOf('.')+1)=='jpg' || attach.substring(attach.lastIndexOf('.')+1)=='jpeg'  || attach.substring(attach.lastIndexOf('.')+1)=='bmp'"></span>



                  <span class="ml-2">Attachement {{i+1}}</span>
                  <span class="fa fa-download ml-2" aria-hidden="true"></span>


                </a>





              </div>
            </div>
            <br>

          </div>
        </div>
        <!--fin-->





      </div>

      <!-- view acces interdit-->
      <div *ngIf="selected && !isnewEmail && !can_detail?.permission">
        <p style="font-size: 24px;color: grey;text-align: center;">403</p>
        <p style="font-size: 18px;color: grey;text-align: center;margin-top: 30px;"> Accès Interdit</p>
      </div>

      <!-- EDIT -->
      <div class="message-body" *ngIf="isnewEmail && !selected ">

        <app-compose-dialog (onBackToList)="refreshViewListInbox($event)"></app-compose-dialog>

      </div>
      <!-- DEFAULT -->
      <div class="message-body " style="text-align: center;" *ngIf="!isnewEmail && !selected">
        <!--app-inro-circle inbox-intro-->


        <img src="../../../../assets/images/icons/messagerie.png" alt="" class="rounded-circle"
          style="height: 200px;width: 200px;">


      </div>

    </div>

  </div>

</div>
