.nonLu {
  font-weight: bold !important;
}
.lu {
  background-color: white !important;
}

.mobileScreenView {
  display: none;
}
.attachement {
  border: 1px solid #495057;
  background-color: white;
  padding: 3px;
  border-radius: 8px;
  margin-right: 6px;
  margin-bottom: 5px;
}
.fa {
  font-size: 20px;
}
.badge {
  font-size: 12px;
}
.textAttachement {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
}

.textEllipsis {
  max-width: 98%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
}

//scroll design
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; //b5b6b66e
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white; //#b5b6b66e;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; //grey
}

body {
  margin-top: 20px;
  background: #eee;
}
.email-wrapper .mail-sidebar .menu-bar {
  width: 100%;
  float: right;
  height: 100%;
  min-height: 100%;
}

.email-wrapper .mail-sidebar .menu-bar .menu-items {
  padding: 0;
  margin-bottom: 0;
  height: auto;
  list-style-type: none;
}

.email-wrapper .mail-sidebar .menu-bar .menu-items li {
  padding: 10px 15px;
  transition: 0.4s;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.email-wrapper .mail-sidebar .menu-bar .menu-items li:hover {
  background: rgba(240, 244, 249, 0.8);
}

.email-wrapper .mail-sidebar .menu-bar .menu-items li a {
  color: #303a40;
  font-size: 0.75rem;
  text-decoration: none;
}

.email-wrapper .mail-sidebar .menu-bar .menu-items li a i {
  margin-right: 8px;
  font-size: 0.75rem;
  line-height: 1.5;
}

.email-wrapper .mail-sidebar .menu-bar .menu-items li.active {
  background: #e6e9ed;
  border-radius: 4px;
}

.email-wrapper .mail-sidebar .menu-bar .menu-items li.active a {
  color: #464dee;
}

.email-wrapper .mail-sidebar .menu-bar .menu-items li.compose:hover {
  background: transparent;
}

.email-wrapper .mail-sidebar .menu-bar .online-status {
  margin-top: 1rem;
}

.email-wrapper .mail-sidebar .menu-bar .online-status .chat {
  font-size: 0.75rem;
  color: #464dee;
  margin-bottom: 0;
  font-weight: 600;
}

.email-wrapper .mail-sidebar .menu-bar .online-status .status {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: flex-start;
  transform: translateX(-43px) translateY(2px);
}

.email-wrapper .mail-sidebar .menu-bar .online-status .status:after {
  font-size: 12px;
  color: #2e383e;
  margin: -5px 0 0 18px;
}

.email-wrapper .mail-sidebar .menu-bar .online-status .status.offline {
  background: #ef5958;
}

.email-wrapper .mail-sidebar .menu-bar .online-status .status.offline:after {
  content: "Offline";
}

.email-wrapper .mail-sidebar .menu-bar .online-status .status.online {
  background: #0ddbb9;
}

.email-wrapper .mail-sidebar .menu-bar .online-status .status.online:after {
  content: "Online";
}

.email-wrapper .mail-sidebar .menu-bar .profile-list {
  padding: 10px 0;
}

.email-wrapper .mail-sidebar .menu-bar .profile-list-item {
  border-bottom: 1px solid #e9e9e9;
  padding: 6px 0;
  display: block;
}

.email-wrapper .mail-sidebar .menu-bar .profile-list-item:last-child {
  border-bottom: 0;
}

.email-wrapper .mail-sidebar .menu-bar .profile-list-item a {
  text-decoration: none;
}

.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .pro-pic {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
  width: 20%;
  max-width: 40px;
}

.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .pro-pic img {
  max-width: 100%;
  width: 100%;
  border-radius: 100%;
}

.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user {
  width: 100%;
  padding: 5px 10px 0 15px;
}

.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-name {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1;
  color: #000000;
}

.email-wrapper .mail-sidebar .menu-bar .profile-list-item a .user .u-designation {
  font-size: calc(0.75rem - 0.1rem);
  margin-bottom: 0;
}

.email-wrapper .sidebar.open {
  left: 0;
}

/* Mail List Container */
.email-wrapper .mail-list-container {
  border-left: 1px solid #e9e9e9;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

.email-wrapper .mail-list-container a {
  text-decoration: none;
}

.email-wrapper .mail-list-container .mail-list {
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  width: 100%;
}

.email-wrapper .mail-list-container .mail-list:last-child {
  border-bottom: none;
}

.email-wrapper .mail-list-container .mail-list .form-check {
  margin-top: 12px;
  width: 11%;
  min-width: 20px;
}

.email-wrapper .mail-list-container .mail-list .content {
  // width: 83%;
  padding-left: 0;
  padding-right: 0;
}

.email-wrapper .mail-list-container .mail-list .content .sender-name {
  font-size: 0.9rem;
  font-weight: 600;
  // max-width: 95%;
  margin: 0px;
  color: rgb(39, 39, 39);
}

.email-wrapper .mail-list-container .mail-list .content .message_object {
  margin: 0;
  max-width: 93%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}

.email-wrapper .mail-list-container .mail-list .content .message_text {
  margin: 0;
  max-width: 93%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: grey;
}

.email-wrapper .mail-list-container .mail-list .content .message_Content {
  margin: 0;
  max-width: 93%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: grey;
}

.email-wrapper .mail-list-container .mail-list .details {
  width: 5.5%;
}

.email-wrapper .mail-list-container .mail-list .details .date {
  text-align: right;
  margin: auto 15px auto 0;
  white-space: nowrap;
}

.email-wrapper .mail-list-container .mail-list .details i {
  margin: auto 0;
  color: #ddd;
}

.email-wrapper .mail-list-container .mail-list .details i.favorite {
  color: #fcd539;
}

.email-wrapper .mail-list-container .mail-list.new_mail {
  background: #e6e9ed;
}

.email-wrapper .mail-list-container .mail-list.new_mail .details .date {
  color: #000000;
}

/* Message Content */
.email-wrapper .message-body .sender-details {
  padding: 20px 15px 0;
  border-bottom: 1px solid #e9e9e9;
  display: -webkit-flex;
  display: flex;
}

.email-wrapper .message-body .sender-details .details {
  padding-bottom: 0;
}

.email-wrapper .message-body .sender-details .details .msg-subject {
  font-weight: 600;
}

.email-wrapper .message-body .sender-details .details .sender-email {
  margin-bottom: 20px;
  font-weight: 400;
}

.email-wrapper .message-body .sender-details .details .sender-email i {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1px 0 7px;
}

.email-wrapper .message-body .message-content {
  padding: 20px 15px;
}

.email-wrapper .message-body .attachments-sections ul {
  list-style: none;
  border-top: 1px solid #e9e9e9;
  padding: 30px 15px 20px;
}

.email-wrapper .message-body .attachments-sections ul li {
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.email-wrapper .message-body .attachments-sections ul li .thumb {
  display: inline-block;
  margin-right: 10px;
}

.email-wrapper .message-body .attachments-sections ul li .thumb i {
  font-size: 30px;
  margin: 0;
  color: #2e383e;
}

.email-wrapper .message-body .attachments-sections ul li .details p.file-name {
  display: block;
  margin-bottom: 0;
  color: #2e383e;
}

.email-wrapper .message-body .attachments-sections ul li .details .buttons .file-size {
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 13px;
}

.email-wrapper .message-body .attachments-sections ul li .details .buttons a {
  font-size: 13px;
  margin-right: 10px;
}

.email-wrapper .message-body .attachments-sections ul li .details .buttons a:last-child {
  margin-right: 0;
}

.profileImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #063577;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

.profileMessage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #063577;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 7px;
}

.profileEditMessage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #063577;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 19px;
}

.profileEditMessageMobile {
  width: 47px;
  height: 50px;
  border-radius: 50%;
  background: #063577;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 16px;
}

.profileShowDest {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #063577;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 2px;
  display: inline-block;
}

.nameProfileDest {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 96px;
  display: inline-block;
  vertical-align: middle;
}

.btnToolbarInbox {
  color: grey;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1380px) {
  // .mobileScreenView{
  //   display: none;
  // }
  .textMsgMD {
    height: 636px;
    overflow-y: scroll;
  }
}

.nav-link {
  border: 1px solid;
}

.badgenvxMsg {
  min-width: 38px;
  background-color: #f44336;
  color: white;
  font-weight: 500 !important;
}
.badgenvxMsgmobile {
  min-width: 16px;
  font-size: 13px;
  margin: 0px !important;
  padding: 1px !important;
  background-color: #f44336;
  color: white;
  font-weight: 500 !important;
}
.badgenvxMsgMedium {
  position: absolute;
  left: 30px;
  top: 128px;
  min-width: 16px;
  font-size: 13px;
  margin: 0px !important;
  padding: 1px !important;
  background-color: #f44336;
  color: white;
  font-weight: 500 !important;
}
.nonlus {
  background-color: #8cd4f557;
}
.icon-picture {
  width: 18px;
}

.bg-white {
  background-color: white !important;
}
.bg-grey {
  background-color: #efefef !important;
}

.icon-pictureMedium {
  position: relative;
  width: 32px;
  margin-left: auto;
  margin-right: auto;
}

.paddingcardListMsgXL {
  padding: 12px;
}
/* Galaxy */
@media screen and (max-width: 700px) {
  .largeScreenView {
    display: none;
  }
  .mobileScreenView {
    display: block;
  }
}
