    
    <div class="row">
        <div class="col-md-12 mb-4">

            <div *ngIf="(dataSource.data==null || dataSource.data?.length==0)" class="col-12 px-0">
                <ngb-alert
                    class="alert-card alert-info mb-4 alert text-primary alert-dismissible"
                    role="alert">
                    <strong class="text-capitalize">Information !</strong> 
                    Cet utilisateur n'avait pas des transferts !
                </ngb-alert>
            </div>

            <div class="mat-elevation-z8" *ngIf="can_liste?.permission" [hidden]="dataSource.data?.length == 0">
            <div class="responsive_table table-responsive"  >

                <!-- affichage table -->
                <mat-table class="table table-striped" [dataSource]="dataSource"  matSort   >
                

                    <!-- Réference Column -->
                    <ng-container matColumnDef="reference">
                        <mat-header-cell *matHeaderCellDef style="min-width: 165px;width: 165px;">Réference</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails' style="min-width: 165px;width: 165px;"
                                  [routerLink]="[ '/syndic/details-transfert/', row.cbmarq  ]">
                            <span class="badge badge-pill badge-outline-secondary p-2 ">{{row.reference}}</span>
                        </mat-cell>
                    </ng-container>
                    <!-- Proprietaire Column -->
                    <ng-container matColumnDef="userSource">
                        <mat-header-cell *matHeaderCellDef style="min-width: 165px;width: 165px;">Initiateur</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails' style="min-width: 165px;width: 165px;"
                                  [routerLink]="[ '/syndic/details-transfert/', row.cbmarq  ]">{{row.userSource?.nomComplet}}
                        </mat-cell>
                    </ng-container>
                    <!-- caisseSource Column -->
                    <ng-container matColumnDef="caisseSource">
                        <mat-header-cell *matHeaderCellDef style="min-width: 165px;width: 165px;">Caisse source</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails' style="min-width: 165px;width: 165px;"
                                  [routerLink]="[ '/syndic/details-transfert/', row.cbmarq  ]">
                            <span>{{row.caisseSource?.intitule}}</span>
                        </mat-cell>
                    </ng-container>
                    <!-- caisseDestination Column -->
                    <ng-container matColumnDef="userDestination">
                        <mat-header-cell class="text-center" *matHeaderCellDef style="min-width: 165px;width: 165px;">Récepteur</mat-header-cell>
                        <mat-cell *matCellDef="let row" title='Détails' style="min-width: 165px;width: 165px;"
                                  [routerLink]="[ '/syndic/details-transfert/', row.cbmarq  ]">
                            <span>{{row.userDestination?.nomComplet}}</span>
                        </mat-cell>
                    </ng-container>
                    <!-- Date Column -->
                    <ng-container matColumnDef="date" >
                        <mat-header-cell *matHeaderCellDef style="min-width: 100px;width: 100px;">Date Transfert</mat-header-cell>
                        <mat-cell *matCellDef="let row" style="min-width: 100px;width: 100px;">{{row.date}}</mat-cell>
                    </ng-container>

                    <!-- Montant Column -->
                    <ng-container matColumnDef="montant">
                        <mat-header-cell *matHeaderCellDef style="min-width: 100px;width: 100px;">Montant</mat-header-cell>
                        <mat-cell *matCellDef="let row" style="min-width: 100px;width: 100px;">{{row.montant.toFixed(3)}}</mat-cell>
                    </ng-container>

                    <!-- Solde Column -->
                    <ng-container matColumnDef="statut">
                        <mat-header-cell *matHeaderCellDef style="min-width: 100px;width: 100px;">Statut</mat-header-cell>
                        <mat-cell *matCellDef="let row" style="min-width: 100px;width: 100px;">
                            <span *ngIf="row.statut.code!='E0057'"
                                  class=" p-1 badge badge-outline-{{ row?.statut?.style }}">{{row.statut.label}}</span>
                            <span *ngIf="admin && row.statut.code=='E0057'"
                                  class=" p-1 badge badge-outline-{{ row?.statut?.style }}">{{row.statut.label}}</span>
                            <span *ngIf="!admin && row.userDestination!=username && row.statut.code=='E0057'"
                                  class=" p-1 badge badge-outline-{{ row?.statut?.style }}">{{row.statut.label}}</span>
                            <span *ngIf="!admin && row.userDestination==username && row.statut.code=='E0057'"
                                  class=" p-1 badge badge-outline-warning">En attente</span>
                        </mat-cell>
                    </ng-container>
                                   
                    

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow >
                        <td class="mat-cell" style="text-align: center" colspan="7">Aucune donnée trouver
                        </td>
                    </tr>
                    <div *ngIf="dataSource.data?.length === 0"></div>
                </mat-table>

                <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" ></mat-paginator>

                
                <!-- fin test-->

            </div>
            
            </div>

        </div>
    </div>