<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb ">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a routerLink="/syndic/contrats">Services</a></li>
            <li *ngIf="!modeEdit">Ajouter</li>
            <li *ngIf="modeEdit">Modifier</li>
        </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <!-- end of row-->
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="formBasic" (ngSubmit)="onSubmit()" class=" col-md-12">
                    <ngb-tabset #tabset="ngbTabset" class="nav-fill">
                        <ngb-tab id="info" title="Informations Service">
                            <ng-template ngbTabContent>
                                <div class="tab-pane active" id="litaDados" role="tabpanel">
                                    <div class="modal-body">
                                        <!-- <div class="card-title border-bottom mb-3">
                                            <strong><i class="i-Pulse"></i>Informations Contrat :</strong>
                                        </div> -->
                                        <div>
                                            <div class=" row">
                                                <div class="col-sm-6 form-group mb-2">
                                                    <label class="col-form-label mb-0 ">Produit (*):</label>
                                                    <ng-select [clearable]="true" [items]="residences"
                                                        (change)="onchangeResidence($event,true)" formControlName="residence"
                                                        groupBy="type" [multiple]="false" [selectableGroup]="false"
                                                        bindLabel="label" placeholder="Choisir un produit"
                                                        bindValue="value"
                                                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )}">
                                                        <ng-template ng-optgroup-tmp let-item="item">
                                                            {{item.type}}
                                                        </ng-template>
                                                        <ng-template ng-option-tmp let-item="item">
                                                            {{item.label}}
                                                        </ng-template>
                                                    </ng-select>
                                                    <div class="invalid-feedback col-12"
                                                        *ngIf="submitted &&   formBasic.controls.residence.errors || (formBasic.controls.residence.errors  && formBasic.get('residence').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 form-group  mb-2">
                                                    <label class="col-form-label mb-0">Intitule du service (*):</label>
                                                    <input class="form-control w-100" formControlName="intitule"
                                                        placeholder="ex: Contrat ménage" type="text"
                                                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.intitule.errors  || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )}">

                                                    <div class="invalid-feedback col-12"
                                                        *ngIf="submitted &&   formBasic.controls.intitule.errors || (formBasic.controls.intitule.errors  && formBasic.get('intitule').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 form-group mb-2">
                                                    <label class=" col-form-label mb-0">Type du service (*):</label>
                                                    <ng-select [clearable]="true" [items]="types" formControlName="type"
                                                        bindLabel="label" placeholder="Choisir un type"
                                                        bindValue="value"
                                                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )}">
                                                    </ng-select>
                                                    <div class="invalid-feedback col-12"
                                                        *ngIf="submitted &&   formBasic.controls.type.errors || (formBasic.controls.type.errors  && formBasic.get('type').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                                <div class="col-6 form-group mb-2">
                                                    <label class=" col-form-label mb-0">Fournisseur (*):</label>
                                                    <input class="form-control w-100" formControlName="fournisseur"
                                                        placeholder="ex: ST001245300" type="text"
                                                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.fournisseur.errors  || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )}">

                                                    <div class="invalid-feedback col-12 "
                                                        *ngIf="submitted &&  formBasic.controls.fournisseur.errors || (formBasic.controls.fournisseur.errors  && formBasic.get('fournisseur').touched )">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <div class="col-sm-6 form-group calender mb-0">
                                                <label class="col-form-label mb-0">Date du service (*):</label>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Période du service</mat-label>
                                                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                                                        <input matStartDate formControlName="start" (dateChange)="startChange($event)"
                                                            placeholder="Date Début">
                                                        <input matEndDate formControlName="end" placeholder="Date Fin" (dateChange)="endChange($event)">
                                                    </mat-date-range-input>
                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                    </mat-datepicker-toggle>
                                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                                    <mat-error
                                                        *ngIf="range.controls.start.hasError('matStartDateInvalid')">
                                                        Invalid start
                                                        date</mat-error>
                                                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">
                                                        Invalid
                                                        end date
                                                    </mat-error>
                                                </mat-form-field>
                                                <div class="invalid-feedback col-12 calendrr"
                                                    *ngIf="submitted &&   range.controls.start.errors || (range.controls.start.errors && range.get('start').touched)">
                                                    Veuillez remplir date debut !
                                                </div>
                                                <div class="invalid-feedback col-12 calendrr"
                                                    *ngIf="submitted &&   range.controls.end.errors || (range.controls.end.errors && range.get('end').touched)">
                                                    Veuillez remplir date fin !
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group mb-2">
                                                <label class=" col-form-label mb-0">Notification du date (*):</label>
                                                <div class="col-sm-12 px-0">
                                                    <input class="form-control w-100" formControlName="dateAlert"
                                                        type="number" (change)="testDateContrat($event.target.value)"
                                                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.dateAlert.errors  || (formBasic.controls.dateAlert.errors  && formBasic.get('dateAlert').touched )}">
                                                    <small class="text-small text-black-50">Alerte avant la fin du service (Unite par jour).</small>
                                                </div>
                                                <div class="invalid-feedback col-12 "
                                                    *ngIf="submitted &&  formBasic.controls.dateAlert.errors || (formBasic.controls.dateAlert.errors  && formBasic.get('dateAlert').touched )">
                                                    <div *ngIf="formBasic.controls.dateAlert.errors.required">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                    <div *ngIf="formBasic.controls.dateAlert.errors.min">
                                                        Nombre minimal = 0 !
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" row">
                                            <div class="col-6 form-group  mb-2">
                                                <label class="col-form-label mb-0">Périodicité du payement (*):</label>
                                                <ng-select [clearable]="true" [items]="periodes"
                                                    formControlName="periode" bindLabel="label"
                                                    (change)="periodParjour($event)" placeholder="Choisir une période"
                                                    bindValue="cbmarq"
                                                    [ngClass]="{'is-invalid':submitted &&  formBasic.controls.periode.errors || (formBasic.controls.periode.errors  && formBasic.get('periode').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback col-12"
                                                    *ngIf="submitted &&   formBasic.controls.periode.errors || (formBasic.controls.periode.errors  && formBasic.get('periode').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group mb-2">
                                                <label class=" col-form-label mb-0">Notification du périodicité (*):</label>
                                                <div class="col-sm-12 px-0">
                                                    <input class="form-control w-100" formControlName="dateAlertPeriode"
                                                        type="number" (blur)="testDate($event.target.value)"
                                                        [ngClass]="{'is-invalid':submitted &&  formBasic.controls.dateAlertPeriode.errors  || (formBasic.controls.dateAlertPeriode.errors  && formBasic.get('dateAlertPeriode').touched )}">
                                                    <small class="text-small text-black-50">Alerte avant le debut de la périodicité (Unite par jour).</small>
                                                </div>
                                                <div class="invalid-feedback col-12 "
                                                    *ngIf="submitted &&  formBasic.controls.dateAlertPeriode.errors || (formBasic.controls.dateAlertPeriode.errors  && formBasic.get('dateAlertPeriode').touched )">
                                                    <div *ngIf="formBasic.controls.dateAlertPeriode.errors.required">
                                                        Veuillez remplir ce champs !
                                                    </div>
                                                    <div *ngIf="formBasic.controls.dateAlertPeriode.errors.min">
                                                        Nombre minimal = 0 !
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6 form-group mb-2">
                                                <label class=" col-form-label mb-0">Montant par périodicité (*):</label>
                                                <input class="form-control w-100" formControlName="montant"
                                                    placeholder="ex: 100" type="number"
                                                    [ngClass]="{'is-invalid':submitted &&  formBasic.controls.montant.errors  || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )}">

                                                <div class="invalid-feedback col-12 "
                                                    *ngIf="submitted &&  formBasic.controls.montant.errors || (formBasic.controls.montant.errors  && formBasic.get('montant').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>
                                            <div class="col-6 form-group mb-2">
                                                <label class=" col-form-label mb-0">Affecter à (*):</label>
                                                <ng-select [clearable]="true" [items]="affecters" [readonly]="usedContrat"
                                                    formControlName="repartition" (change)="onchangeAffectation($event)"
                                                    bindLabel="label" placeholder="Choisir une affectation"
                                                    bindValue="value"
                                                    [ngClass]="{'is-invalid':submitted &&  formBasic.controls.repartition.errors || (formBasic.controls.repartition.errors  && formBasic.get('repartition').touched )}">
                                                </ng-select>
                                                <div class="invalid-feedback col-12"
                                                    *ngIf="submitted &&   formBasic.controls.repartition.errors || (formBasic.controls.repartition.errors  && formBasic.get('repartition').touched )">
                                                    Veuillez remplir ce champs !
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 mb-3 footer">
                                        <button class="btn btn-outline-dark " (click)="gotoListe()"
                                            type="button">Annuler</button>
                                        <button class="btn btn-primary ml-2" *ngIf="formBasic.value.repartition!=1"
                                            type="submit">Enregistrer</button>
                                        <button class="btn btn-primary ml-2" *ngIf="formBasic.value.repartition==1"
                                            (click)="tabset.select('details')" type="button">Suivant</button>

                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <!-- [ngStyle]="{'display': formBasic.value.repartition==1 ? 'none' : 'block'}" -->
                        <ngb-tab id="details" title="Détails Service"  *ngIf="hideThisDiv || this.formBasic.value.repartition==1">
                            <ng-template ngbTabContent>
                                <div class="tab-pane active" id="litaDados1" role="tabpanel">
                                    <!-- <div *ngIf="formBasic.value.repartition==1" class="card-title border-bottom my-3">
                                        <strong><i class="i-Pulse"></i> Détails Contrat</strong>
                                    </div> -->
                                    <div *ngIf="formBasic.value.repartition==1" class="col-12 px-0 mb-3">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class=" row">
                                                    <div class=" col-sm-12 form-group  mb-2" *ngIf="typeProduit=='Résidence'">
                                                        <label class="col-form-label mb-0">Liste des
                                                            biens(*):</label>
                                                        <ng-select [clearable]="true" [items]="listBlocs"
                                                            bindLabel="label" (change)="onchange($event)"
                                                            formControlName="bloc" placeholder="Choisir un bloc"
                                                            bindValue="value"
                                                            [ngClass]="{'is-invalid':submitted &&  formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )}">
                                                        </ng-select>
                                                        <div class="invalid-feedback col-12"
                                                            *ngIf="submitted &&   formBasic.controls.bloc.errors || (formBasic.controls.bloc.errors  && formBasic.get('bloc').touched )">
                                                            Veuillez remplir ce champs !
                                                        </div>
                                                        <label class="col-form-label font-weight-bold pt-0 mb-0">NB: Si
                                                            vous basculez par un bloc, vous perdrez la liste
                                                            séléctionnée !</label>
                                                    </div>

                                                </div>
                                                <div class=" row">
                                                    <div class="col-md-12"
                                                        [class.disabled-table]="formBasic.value.repartition==1 ">
                                                        <table class="table table-hover mb-3">
                                                            <thead class="bg-gray-300">
                                                                <tr>
                                                                    <th scope="col" width="5%">Sélection</th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="10%">
                                                                        Nature de
                                                                        bien</th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="10%">
                                                                        Intitule
                                                                    </th>
                                                                    <th scope="col" style='text-align: center;'
                                                                        width="10%">
                                                                        Pourcentage
                                                                        de paiment</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody formArrayName="lignes">
                                                                <tr *ngFor="let lig of lignes().controls; let ligIndex=index"
                                                                    formGroupName="{{ligIndex}}">
                                                                    <td>
                                                                        <label
                                                                            class="checkbox checkbox-outline-primary">
                                                                            <input type="checkbox" [checked]="true"
                                                                                (change)="checkCheckBoxvalue($event,ligIndex)"
                                                                                value="{{lig.get('appartement')}}"
                                                                                formControlName="selected"><span
                                                                                class="checkmark"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>
                                                                        <input class="form-control" type="text"
                                                                            formControlName="nature" readonly />

                                                                    </td>

                                                                    <td>
                                                                        <input class="form-control"
                                                                            formControlName="intitule" type="text"
                                                                            readonly />

                                                                    </td>
                                                                    <td>
                                                                        <!-- <input class="form-control" type="number" step="0.001"
                                                        formControlName="pourcentage" /> -->
                                                                        <div class="input-group">
                                                                            <input id="picker1" class="form-control "
                                                                                 placeholder="20%"
                                                                                formControlName="pourcentage">
                                                                            <div class="input-group-append">
                                                                                <button class="btn btn-secondary "
                                                                                    type="button">
                                                                                    %
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                                <tr *ngIf="lignes().controls.length == 0">
                                                                    <td></td>
                                                                    <td>Aucune données trouver !!</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 mb-3 pr-0 footer">
                                        <button class="btn btn-outline-dark "  (click)="tabset.select('info');hideThisDiv=false"
                                            type="button">Annuler</button>
                                        <button class="btn btn-primary ml-2" type="submit">Enregistrer</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </form>
            </div>
        </div>
    </div>
</div>
