<div class="card o-hidden">
    <div class="d-flex flex-md-row-reverse">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="p-4">
                <div class="auth-logo text-center mb-4">
                    <img src="assets/images/syndic/mini-logo.png" alt="">
                </div>
                <h1 class="mb-3 text-18">Connexion</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Identifiant</label>
                        <input id="username" class="form-control form-control-rounded" formControlName="username"
                            type="text" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    </div>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Nom utilisateur obligatoire</div>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input id="password" class="form-control form-control-rounded" formControlName="password"
                            type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Mot de passe obligatoire</div>
                        <div *ngIf="f.password.errors.minlength">8 Caractères au minimum !</div>
                    </div>
                    <button type="submit" class="btn btn-rounded btn-primary btn-block mt-2">Se connecter</button>
                    <!-- <button class="btn btn-rounded btn-primary btn-block mt-2">Sign In</button> -->

                </form>

                <div class="mt-3 text-center">
                    <!--<a href="" class="text-muted" routerLink="/sessions/forgot"><u>Mot de passe oublié</u></a>-->
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-center "
            style="background-size: cover;background-image: url(./assets/images/key.jpg)">
            <div class="title-login">
                <h2 class="font-weight-bold title-log text-white"></h2>
            </div>
        </div>
    </div>
</div>
