/* You can add global styles to this file, and also import other style files */
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "assets/styles/app/allKendo.css";
@import '~ngx-bar-rating/themes/br-default-theme.css';
@import '~ngx-bar-rating/themes/br-bootstrap-theme.css';
@import '~ngx-bar-rating/themes/br-horizontal-theme.css';
@import "~quill/dist/quill.bubble.css"; 
@import "~quill/dist/quill.snow.css";
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/*@import '~ngx-bar-rating/themes/br-horizontal-theme';*/
/*@import "./assets/styles/app/globals/views/_chat.scss";*/
/* Border Color */
/*.ng-select.ng-invalid.ng-touched .ng-select-container{*/
/*    border-color: red;*/
/*}*/
/*!* Arrow Color *!*/
/*.ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow{*/
/*    border-color: red transparent transparent*/
/*}*/
/*!* Placeholder Color *!*/
/*.ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder{*/
/*    color: red;*/
/*}*/

.mat-dialog-actions {
    padding: 0 5px 0 0!important;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    box-sizing: content-box;
    margin-bottom: 0px!important;
}
.mat-dialog-title {
    margin: 0 0 0px!important;
    display: block;
}

.full-width-dialog .mat-dialog-container {

    width: 70vw!important;

}
ngx-intl-tel-input {
    padding-left: 0px;
    padding-right: 0px;
}
ngx-intl-tel-input .iti {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    width: 100%;
    min-height: 1px;
}
ngx-intl-tel-input input {
    height: 44px;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #c7cace;
    border-radius: 4px;
    font-size: 18px;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
    border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
    outline: none !important;
    border-color: #3498db;
    box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
    color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
    background-color: #e5eaf1;
}

/******************* Search highlight ********************/
::ng-deep .highlight {
    background-color: yellow;
}
mark {
    outline: 1px solid yellow;
    font-weight: bold;
}
.module-loader {
    position: fixed;
    background: rgba(255, 255, 255, 0.91);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
}
.unselectable {
    pointer-events: none;
}
.disabled {
    pointer-events: none;
    display: none;
    color: #ccc !important;
}
.loadscreenr .logo {
    text-align: center;
    position: absolute;
    /*width: 100%;*/
    left: 122px;
    right: 0;
    margin: auto;
    top: calc(47% - 100px);
    display: inline-block !important;
    width: 80px;
    height: 80px;
}
/******************* Search highlight ********************/
/******************* bar rating ********************/
.br-horizontal .br-unit {
    display: block;
    width: 32px!important;
    height: 10px!important;
    float: left;
    background-color: #213c7f94;
    margin: 1px;
    text-align: center;
}
.br-horizontal.br-readonly .br-unit.br-active, .br-horizontal.br-readonly .br-unit.br-selected {
    background-color: #213c7e;
}
/*******bar rating style *********/
/*******Radio style *********/
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #213c7e !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #213c7e !important;
}
/*******Radio style *********/

/*::ng-deep .mat-horizontal-stepper-header{*/
/*    pointer-events: none !important;*/
/*}*/

/*.mat-horizontal-stepper-header {*/
/*    display: inline!important;*/
/*    height: 72px;*/
/*    overflow: hidden;*/
/*    align-items: center;*/
/*    padding: 0 24px;*/
/*}*/
/*******************end chat**************/

/******************* réunion ********************/

#videocontainer video {
    width: 100% !important;
    height: 100%!important;
}
#propvideo video {
    width: 15%!important;
    height: 150px!important;
    padding-right: 4px;
}
/******************* end réunion ********************/

ng-select.is-invalid .ng-select-container {
    border-color: #f44336;
    box-shadow: 0 0 0 0.2rem rgba(244, 67, 54, 0.25);
}
.ng-select .ng-clear-wrapper:hover .ng-clear {
    color: #e43c3a;
}
.invalid-feedback {
    color: #e43734;
    display: block;
    text-align: end;
}
.fa {
    font-size: 25px;
}
/* 03a9f4 */
.fa-info-circle {
    font-size: 26px;
    color: #3f51b5;
}
.fa-edit{
    color: green;
}
.fa-times-circle-o{
    color: red;
}
.form-control-specialiser {
    background: #ffffff;
}
.mat-cell, .mat-footer-cell {
    color: #424242;
}
.mat-header-cell {
    color: black;
    font-weight: 500;
    font-size: 18px;
    /*15px;*/
}
.mat-stepper-horizontal .mat-horizontal-content-container {
    min-height: 250px;
}
.flex-line{
    display: flex;
    }

.mat-horizontal-content-container {
    overflow: visible!important;
    padding: 0 24px 24px 24px;
}
/*mat-cell:nth-child(1),*/
/*mat-header-cell:nth-child(1) {*/
/*    padding-left: 15px!important;*/
/*    flex: 0 0 10%;*/
/*}*/



.wt-75{
    width: 75px;
}

.wt-100{
    width: 100px;
}

.th-center{
    text-align: center;
}
.th-left{
    text-align: left;
}
.th-right{
    text-align: right;
}

/*.table thead,*/
/*.mat-row {*/
/*    border: none;*/
/*    background-color: #F5F6FA;*/
/*}*/

/*.table tbody tr td,*/
/*.table tbody .mat-row .mat-cell {*/
/*    padding-left: 45px;*/
/*}*/

/*.mat-header-cell {*/
/*    padding-left: 50px !important;*/
/*}*/
.jp-year-picker .mat-calendar-period-button, .jp-month-picker .mat-calendar-period-button {
    pointer-events: none;
}
.jp-year-picker .mat-calendar-arrow, .jp-month-picker .mat-calendar-arrow {
    display: none;
}

.action {
    display: flex;
    justify-content: center;
}

.mat-paginator-container {
    justify-content: space-between !important;
    /*color: #102758;*/
}

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

@media(max-width: 800px) {
    .responsive_table {
        overflow-x: auto !important;
    }

    /* .mat-table {
        min-width:800px;
    } */
}

.btn-spesific {
    float: right;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 0px;
}

.btn-spesific:hover {
    color: #213C7F;
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 0px;
}

.btn-outline-pistach {
    color: #9bc714;
    background-color: #ffb82200;
    border-color: #9bc714;
}
.btn-outline-pistach:hover {
    color: white;
    background-color: #9bc714;
    border-color: #9bc714;
}

.mat-h4, .mat-subheading-1, .mat-typography h4 {
    font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
     margin: 0 0 0px;
    color: #0C0C3C;
}

.mat-dialog-container {
    display: block;
    /*padding: 0px!important;*/
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    /*width: 100%;*/
    height: 100%;
    /*width: 900px !important;*/
    min-height: inherit;
    max-height: inherit;

    padding: 0 !important;
    width: 900px !important;
    overflow: inherit!important;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1050;
}


#choicesDisplay {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}
.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;
}

.form-control {
    background: #ffffff;
}


.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    /*width: 100%;*/
}


#ngb-panel-0-header {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
     background-color: aliceblue;
}#ngb-panel-1-header {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
     background-color: aliceblue;
}#ngb-panel-2-header {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
     background-color: aliceblue;
}

/**************************ines styling ********************************* Ines *********************************************/
/**************************ines styling ********************************* Ines *********************************************/
.mat-row {
    border-bottom-color: transparent;
}
.table {
    margin-bottom: 0px;
}
.mat-row:nth-child(n + 1) {
    background-color: #f5f6fa;
}
.mat-header-row {
    background-color: #f5f6fa;
    border-bottom-color: transparent;
}
@media (max-width: 576px) {
    .mat-paginator-range-label {
        margin: 0 10px 0 10px !important;
    }
}
.example-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mat-table {
    overflow: auto;
    /* max-height: 500px; */
}

.mobile-label {
    display: none;
}
@media (max-width: 900px) {
    .mobile-label {
        width: 120px;
        display: inline-block;
        font-weight: bold;
    }
    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
    .mat-header-row {
        display: none;
    }
    .mat-cell {
        padding-left: 0px;
    }
}
/***---------------------------------------------------**************/
.swal2-icon.swal2-info {
    border-color: #2778c4 !important;
    color: #2778c4 !important;
}
.bg-month-warning {
    background-color: #ff99007a !important;
}
.bg-month-success {
    background-color: rgb(76 175 80 / 36%)!important;
}
.bg-month-danger {
    background-color: rgb(244 67 54 / 24%) !important;
}
.cdk-overlay-pane {
    background: white;
}
.md-drppicker .btn.btn-default {
border: 1px solid#3f51b5  !important;
color: #3f51b5 !important;
margin-right: 10px;
}
.md-drppicker .clear svg {
display: none;
}
.header-title-step {
    position: absolute;
    top: 50px;
    /*top: 13px;*/
}
.mat-horizontal-stepper-header {
    padding: 0px 0px 0px 15px !important;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #213c7f !important;
    color: #213c7f !important;
}

.mat-horizontal-stepper-header-container {
    justify-content: center !important;
    margin-top: 20px !important;
}
.mat-step-icon-content,
.mat-step-icon .mat-icon {
    display: none !important;
}
.custom-class-modal {
    float: top;
    top: -20px;
}
/*********************** style calendrier *******************************/
.calender .mat-form-field {
    width: 100% !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 5px !important;
    padding: 0px 0px 0px 10px !important;
    background-color: #f5f6fa !important;
    color: #102758 !important;
}
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    width: 3.5em !important;
}
.mat-form-field-wrapper {
    padding-bottom: 15px !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    height: 37px !important;
    border: 1px solid #ced4da;

}
.remarque {
    color: #102758;
    font-size: 10px;
    font-style: italic;
    float: right;
}
/*************************************************************************/

/*.tab-content {*/
/*    border: 1px solid #dee2e6 !important;*/
/*}*/
.flex-column{
    display: flex;
    flex-direction: column;
}
.appartement .nav-tabs .nav-item .nav-link:not(.disabled){
    padding: 10px 0px;
    margin: 15px;
    font-size: 16px;
}
.appartement .nav-tabs .nav-item .nav-link.active {
    border-bottom: 3px solid black;
    background: transparent;
    font-weight: bold;
    font-size: 16px;
    color: black;
    padding: 10px 0px;
    margin: 15px;
}
.appartement .justify-content-start {
    justify-content: flex-start !important;
}
.residence .justify-content-start {
    justify-content: center !important;
}
.justify-content-start,
.caisse .justify-content-start {
    justify-content: flex-end !important;
}
/*.nav-tabs .nav-link {*/
/*    border: 1px solid #dee2e6 !important;*/
/*    border-top-left-radius: 0;*/
/*    border-top-right-radius: 0;*/
/*}*/
.paragraphe {
    text-align: justify;
}
.content-regl .tab-content,
.caisse .tab-content,
.proprietaire .tab-content,
.nav-fill .tab-content {
    padding: 0.5rem 0px !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
    background-color: #1f4bb340 !important;
    color: black;
}
.mat-row,
.mat-header-row,
.cursor-close,
.mat-footer-row {
    cursor: pointer;
}

/* .select-delegue .ng-dropdown-panel.ng-select-bottom  {
    z-index:1 !important;
    position:relative;
} */


/*** new style of badge **/
.badge-square.badge-square-opacity-primary {
    /*background: #ccb3e673;
    color: #663399;*/
    background: #8fdcf7;
    color: #054b93;
}

.badge-square.badge-square-opacity-secondary {
    background: #b8b0bf6b;
    color: #52495a;
}

.badge-square.badge-square-opacity-success {
    background: #d9eeda8c;
    color: #4caf50;
}

.badge-square.badge-square-opacity-danger {
    background: #f9e0dcbf;
    color: #f44336;
}

.badge-square.badge-square-opacity-warning {
    background: #fff4d3a3;
    color: #ffc107;
}

.badge-square.badge-square-opacity-info {
    background: #4096ff54;
    color: #003473;
}

.badge-square.badge-square-opacity-dark {
    background: #ada5b6;
    color: #47404f;
}

.badge-square {   
    line-height: 15px;
    font-size: 15px;
    font-weight: 500 !important;
}

.primaryDarkMaterial{
    color: #054b93;
    cursor: pointer;
}
.primaryMaterial {
    color: #213c7f;
    cursor: pointer;
}

.dangerMaterial {
    color: red;
    cursor: pointer;
}

.successMaterial {
    color: green;
    cursor: pointer;
    font-size: 25px;
}

.warningMaterial{
    color: #ffbb33;
    cursor: pointer;
    font-size: 25px;
}

.secondaryMaterial{    
    color: #b8b0bf6b;
}
.alignRight{
    float: right;
}

@media screen and (max-width: 600px) {
    .alignRight{
        float: right;
        width: inherit;
    }
}

.cardTablePadding{
    padding: 10px;
}

.mat-row:nth-child(n + 1) {
    background-color: #f5f6fa;
}

.mat-row:not(:nth-child(2n + 1)) {
    background-color: #ffffff;
}

.iconInfoSize{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.iconCircleSize{
    font-size: 12px !important;
}

.backgroundToolSearch{
    background-color: aliceblue;
}

.text-muted {
    color: #70657b !important;
}

.text-small {
    font-size: 0.75rem;
}

/**** CSS CALENDER *****/

.fc-toolbar-title {
    font-weight: 500 !important;
    font-size: 1.3rem !important;
    margin-left: 1em !important;
}



.fc .fc-scrollgrid-liquid{
    margin-top: -21px;
}


.fc-daygrid-day-bottom{
    margin-top: -7px !important;
}



