<!--<div class="bodyTransfert">-->
    <div class="svg-area bodyTransfert">
        <svg class="full-screen">
            <path *ngFor="let path of paths" class="svg-path" stroke-dasharray="7, 5" [attr.d]="getD(path)" />
        </svg>
    </div>

    <app-node-transfert *ngFor="let node of nodes" [node]="node"  (changePosition)="handleChangeNodePosition($event)">
        <!--(click)="openDialog(node)"-->
    </app-node-transfert>
<!--</div>-->
