@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bodyTransfert {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background: #eeeff1;
  //background: #d9dbdf;
}

.svg-area {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    .svg-path {
      fill: none;
      stroke-width: 5px;
      stroke: rgba(255, 255, 255, 0.84);
      stroke-opacity: 0.8;
    }
  }
  
  .full-screen {
    width: 100%;
    height: 100%;
    position: relative;
  }
