<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Gestion Syndic</h1>
        <ul>
            <li><a routerLink="/syndic/config-maintenance">Configuration Maintenance</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>


    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px"> Chargement en cours ...
        </h4>
    </ngx-spinner>
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
             <!-- start tabset-->
            <ngb-tabset #tabset="ngbTabset" class="nav-fill">

                 <!-- famille equipement -->
                 <ngb-tab id="famille" title="Familles Equipements" *ngIf="can_viewFamille.permission">
                    <ng-template ngbTabContent>
                        <div class="tab-pane active" id="familleEq" role="tabpanel">
                            <div class="modal-body">
                                <app-list-famille-equipement *ngIf="!viewListFamilleEquipement"></app-list-famille-equipement>
                                <app-info-famille-equipement *ngIf="viewListFamilleEquipement"></app-info-famille-equipement>

                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                 <!-- emplacement -->
                 <ngb-tab id="emplacement" title="Emplacements" *ngIf="can_ViewEmplacement.permission">
                    <ng-template ngbTabContent>
                        <div class="tab-pane active" id="emplacementEq" role="tabpanel">
                            <div class="modal-body">
                                <app-list-emplacement *ngIf="!viewListEmplacement"></app-list-emplacement>
                                <app-info-emplacement *ngIf="viewListEmplacement"></app-info-emplacement>

                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <!--equipement-->
                <ngb-tab id="equipement" title="Equipements" *ngIf="can_ViewEquipement.permission">
                    <ng-template ngbTabContent>
                        <div class="tab-pane active" id="eq" role="tabpanel">
                            <div class="modal-body">
                            
                                <app-list-equipement *ngIf="!viewListEquipement"></app-list-equipement>
                                <app-info-equipement *ngIf="viewListEquipement"></app-info-equipement>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <!--Gamme operatoire-->
                <ngb-tab id="gammeOp" title="Gammes Opératoires" *ngIf="can_ViewGamme.permission">
                    <ng-template ngbTabContent>
                        <div class="tab-pane active" id="go" role="tabpanel">
                            <div class="modal-body">
                                
                                <app-list-gamme-operatoire *ngIf="!viewListGammeOperatoire"></app-list-gamme-operatoire>
                                <app-info-gamme-operatoire *ngIf="viewListGammeOperatoire"></app-info-gamme-operatoire>

                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <!--Gamme operatoire-->
                <ngb-tab id="op" title="Opérations" *ngIf="can_ViewOperation.permission">
                    <ng-template ngbTabContent>
                        <div class="tab-pane active" id="o" role="tabpanel">
                            <div class="modal-body">
                                
                               <app-list-operation *ngIf="!viewListOperation"></app-list-operation>
                               <app-info-operation *ngIf="viewListOperation"></app-info-operation>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
             <!-- end of tabset-->
        </div>
    </div>

</div><!-- fin class-->
