.badge {
  font-size: 80%;
}
.btn-group .header-icon {
  font-size: 19px;
  cursor: pointer;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  margin: 0 2px;
}
.residence {
  background-color: #4caf50;
  color: #fff;
  display: block;
  position: absolute;
  font-weight: 700;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 2px 30px;
  //top: 25px;
  //left: -31px;
  top: 13px;
  left: -41px;
  width: 140px;
  text-align: center;
  font-size: 13px;
}
.terrain {
  background-color: #663399;
  color: #fff;
  display: block;
  position: absolute;
  font-weight: 700;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 2px 30px;
  //top: 25px;
  //left: -31px;
  top: 13px;
  left: -44px;
  width: 140px;
  text-align: center;
  font-size: 13px;
}
