<ngx-spinner bdColor="rgba(255,255,255,0.7)"
    template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
    [fullScreen]="true">

    <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
        cours ...
    </h4>
</ngx-spinner>

<div class="breadcrumb">
    <h1>Gestion Sydic</h1>
    <ul>
        <li><a routerlink="/syndic/residences">Produits</a></li>
        <li>Liste</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row mb-4">
    <!-- GRID AND LIST BUTTONS -->
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
        <button class="btn btn-sm btn-outline-light btn-svg mr-2 mt-2"
            [ngClass]="{active: viewMode === 'grid'}" (click)="viewMode = 'grid'">
            <svg version="1.1" width="16px" id="grid" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 369.946 369.946"
                style="enable-background:new 0 0 369.946 369.946;" xml:space="preserve">
                <path d="M250.609,0h-11.934H131.271h-11.934H0v119.337v11.934v107.404v11.934v119.337h119.337h11.934
            h107.404h11.934h119.337V250.609v-11.934V131.271v-11.934V0H250.609z M238.675,11.934v107.404H131.271V11.934H238.675z
             M238.675,131.271v107.404H131.271V131.271H238.675z M11.934,11.934h107.404v107.404H11.934V11.934z M11.934,131.271h107.404
            v107.404H11.934V131.271z M11.934,358.012V250.609h107.404v107.404H11.934z M131.271,358.012V250.609h107.404v107.404H131.271z
             M358.012,358.012H250.609V250.609h107.404V358.012z M358.012,238.675H250.609V131.271h107.404V238.675z M250.609,119.337V11.934
            h107.404v107.404H250.609z" />
            </svg>
        </button>
        <button class="btn btn-sm btn-outline-light btn-svg mr-2 mt-2" [ngClass]="{active: viewMode === 'list'}"
            (click)="viewMode = 'list'">
            <svg version="1.1" id="list" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" width="16px" height="16px" viewBox="0 0 612 612"
                style="enable-background:new 0 0 612 612;" xml:space="preserve">
                <path d="M0,97.92v24.48h612V97.92H0z M0,318.24h612v-24.48H0V318.24z M0,514.08h612V489.6H0V514.08z" />
            </svg>
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary mt-2" (click)="searchres()">
            <i class="i-Magnifi-Glass1 header-icon" role="button" ></i>
        </button>
    </div>
    <!-- SELECT CEHECKBOX btn-group  -->
    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
             
        <button *ngIf="desactive" class="btn btn-primary m-1 alignRight" (click)="desactive=false">
            Produits Activés
        </button>
        <button *ngIf="!desactive" class="btn btn-primary m-1 alignRight" (click)="listeresidenceDesactiver()">
            Produits Désactivés
        </button>
        
        <button type="button" *ngIf="this.can_Gen?.permission"
        class="btn btn-outline-primary m-1 alignRight" [routerLink]="['/syndic/gen-frais-syndic']">Générer frais syndic</button>

       
        <button type="button" *ngIf="this.can_add?.permission" [routerLink]="['/syndic/addresidence']"
        class="btn btn-outline-primary m-1 alignRight">Ajouter un Produit</button>
        
    </div>
</div>

<div class="text-center" *ngIf="!residences?.length">
    <!--    <i class="i-Cloud text-75 text-primary mb-3"></i>-->
    <img src="../../assets/images/syndic/noData.png" class="w-25">
    <h5 class="text-primary">Aucun Produits trouver</h5>
    <p>Veuillez ajouter des produits pour profiter de nos services</p>

</div>
<!-- DATA LIST -->
<div *ngIf="!desactive" class="row" [ngClass]="{'list-horizontal': viewMode === 'list', 'list-grid': viewMode === 'grid'}">
    <!-- SINGLE LIST ITEM -->
    <div *ngFor="let item of residences | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index"
        class="list-item" [ngClass]="{'col-md-12': viewMode === 'list', 'col-md-3': viewMode === 'grid'}"
        [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
        <div class="card o-hidden mb-4 d-flex"
            [ngClass]="{'flex-row': viewMode === 'list', 'flex-column': viewMode === 'grid'}"
             [ngStyle]="{'background': item?.active == false ? 'rgb(238 240 243)':'transparent'}"
        >
            <div class="list-thumb d-flex">
                <!-- TUMBNAIL -->
                <div class="li-item-list-img" style="width: 100%;">
                    <span class="residence" *ngIf="item?.type?.code === 'E0062'">{{item?.type?.label}}</span>
                    <span class="terrain" *ngIf="item?.type?.code === 'E0063'">{{item?.type?.label}}</span>
                    <img *ngIf="item.photo" [src]="item?.photo" alt="">
                    <img *ngIf="!item.photo"  [src]="'./assets/images/products/speaker-1.jpg'" alt="">
                </div>
            </div>

            <div class="flex-grow-1" [ngClass]="{'pl-2 d-flex': viewMode === 'list', 'd-bock': viewMode === 'grid'}">
                <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center"
                    [ngClass]="{'flex-lg-row': viewMode === 'list'}">
                    <!-- OTHER DATA -->
                    <a href="" class="w-15 w-sm-100" [routerLink]="this.can_detail?.permission ? ['/syndic/details-residence',encodeService.encode(item.cbmarq) ] : []" style="cursor: pointer;max-width: 150px;width: 150px;">
                        <div class="item-title">{{item.intitule}}
                        </div>
                    </a>
                    <p class="m-0 text-muted text-center text-small w-sm-100" style="max-width: 100px;width: 100px;"
                        [ngClass]="{'w-25': viewMode === 'list', 'w-29': viewMode === 'grid'}">{{item.adresse}}</p>

                    <p class="m-0 text-muted text-center text-small w-5 w-sm-100" style="max-width: 100px;width: 100px;">
                        <span *ngIf="item?.type?.code === 'E0062'" >	{{item?.nbrAppartement}} Appartements</span>
                        <span *ngIf="item?.type?.code === 'E0063'" >	{{item?.nbrAppartement}} Lots</span>
                    </p>
                    <p class="ml-0 text-muted text-center  w-15 w-sm-100  d-lg-block item-badges " style="max-width: 100px;width: 100px;">
                        <bar-rating [rate]="item?.etape - 1" [readOnly]="true" [theme]="'horizontal'" [max]="item?.type?.description" [ngClass]="{'d-none': viewMode === 'grid'}"></bar-rating>
                    </p>
                    <p class="m-0 text-muted text-center text-small w-15 w-sm-100  d-lg-block item-actions" style="max-width: 100px;width: 100px;">

                        <span class="fa fa-pencil-square-o primaryMaterial  mr-1"  *ngIf="can_edit?.permission" [disabled]="desactive" title="Modifier" (click)="modifierResidence(item?.cbmarq)"></span>
                        <!-- power-off // ban-->
                        <span class="fa fa-power-off dangerMaterial  mr-1"  *ngIf="can_active?.permission" (click)="confirmBox(item.cbmarq,!item.active)" title="Désactiver"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3" *ngIf="residences?.length">
        <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>
<div *ngIf="desactive" class="row" [ngClass]="{'list-horizontal': viewMode === 'list', 'list-grid': viewMode === 'grid'}">
    <!-- SINGLE LIST ITEM -->
    <div *ngFor="let item of residencesDesactives | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index"
        class="list-item" [ngClass]="{'col-md-12': viewMode === 'list', 'col-md-3': viewMode === 'grid'}"
        [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
        <div class="card o-hidden mb-4 d-flex"
            [ngClass]="{'flex-row': viewMode === 'list', 'flex-column': viewMode === 'grid'}"
             [ngStyle]="{'background': item?.active == false ? 'rgb(238 240 243)':'transparent'}"
        >
            <div class="list-thumb d-flex">
                <!-- TUMBNAIL -->

                <div class="li-item-list-img" style="width: 100%;">
                    <span class="residence" *ngIf="item?.type?.code === 'E0062'">{{item?.type?.label}}</span>
                    <span class="terrain" *ngIf="item?.type?.code === 'E0063'">{{item?.type?.label}}</span>
                    <img *ngIf="item.photo" [src]="item?.photo" alt="">
                    <img *ngIf="!item.photo"  [src]="'./assets/images/products/speaker-1.jpg'" alt="">
                </div>
            </div>

            <div class="flex-grow-1" [ngClass]="{'pl-2 d-flex': viewMode === 'list', 'd-bock': viewMode === 'grid'}">
                <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center"
                    [ngClass]="{'flex-lg-row': viewMode === 'list'}">
                    <!-- OTHER DATA -->
                    <a href="" class="w-15 w-sm-100" [routerLink]="this.can_detail?.permission ? ['/syndic/details-residence',item.cbmarq ] : []" style="cursor: pointer;max-width: 150px;width: 150px;">
                        <div class="item-title">{{item.intitule}}
                        </div>
                    </a>
                    <p class="m-0 text-muted text-center text-small w-sm-100" style="max-width: 100px;width: 100px;"
                        [ngClass]="{'w-25': viewMode === 'list', 'w-29': viewMode === 'grid'}">{{item.adresse}}</p>

                    <p class="m-0 text-muted text-center text-small w-5 w-sm-100" style="max-width: 100px;width: 100px;">
                        <span *ngIf="item?.type?.code === 'E0062'" >	{{item?.nbrAppartement}} Appartements</span>
                        <span *ngIf="item?.type?.code === 'E0063'" >	{{item?.nbrAppartement}} Lots</span>
                    </p>
                    <p class="ml-0 text-muted text-center  w-15 w-sm-100  d-lg-block item-badges " style="max-width: 100px;width: 100px;">
                        <bar-rating [rate]="item?.etape - 1" [readOnly]="true" [theme]="'horizontal'" [max]="item?.type?.description" [ngClass]="{'d-none': viewMode === 'grid'}"></bar-rating>
                    </p>
                    <p class="m-0 text-muted text-center text-small w-15 w-sm-100  d-lg-block item-actions" style="max-width: 100px;width: 100px;"><!-- d-none-->

                        
                        <span class="fa fa-power-off successMaterial  mr-1"  *ngIf="can_active?.permission && desactive" (click)="confirmBox(item.cbmarq,!item.active)" title="Activer"></span>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="(residencesDesactives==null || residences==null) ">
        Aucune donnée trouver
    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3" *ngIf="residencesDesactives?.length">
        <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
    </div>
</div>
