<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;">
            Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb list-reglement">
        <h1>Administration</h1>
        <ul>
            <li><a routerLink="/syndic/proprietaires">Proprietaires</a></li>
            <li>Liste</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <!-- end of row-->
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card-body proprietaire">
                <ngb-tabset class="nav-fill">
                    <!-- Propriétaire tab -->
                    <ngb-tab *ngIf="can_listeP?.permission">
                        <ng-template ngbTabTitle>
                            <div (click)="updatetableP()">Propriétaire</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="card p-4">

                                <!-- row filter-->
                                <div class="row">
                                    <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                                        <input class="form-control" (keyup)="applyFilter($event)"
                                            placeholder="Rechercher" #input>
                                    </div>
                                    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                                        <button class="btn btn-primary mb-sm-0 mb-3 alignRight" title="Ajouter"
                                            [routerLink]="[ '/syndic/ajouter-proprietaire' ]"
                                            *ngIf="can_addP?.permission">
                                            Ajouter
                                        </button>

                                    </div>
                                </div>
                                <div class="card" *ngIf="can_listeP?.permission">
                                    <div class="example-container mat-elevation-z8">
                                        <mat-table class="table" [dataSource]="dataSource" matSort>
                                            <!-- nomcomplet Column -->
                                            <ng-container matColumnDef="nomcomplet">
                                                <mat-header-cell *matHeaderCellDef>Nom & prenom</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="['/syndic/details-proprietaire',row.id]">
                                                    <span class="mobile-label mr-2"> Nom & prenom:</span>
                                                    {{
                                                    row.nomComplet }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- username Column -->
                                            <ng-container matColumnDef="username">
                                                <mat-header-cell *matHeaderCellDef>Nom d'utilisateur</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="['/syndic/details-proprietaire',row.id]">
                                                    <span class="mobile-label mr-2"> Nom d'utilisateur:</span>
                                                    {{
                                                    row.username }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- email Column -->
                                            <ng-container matColumnDef="email">
                                                <mat-header-cell *matHeaderCellDef>Adresse Email</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="['/syndic/details-proprietaire',row.id]">
                                                    <span class="mobile-label mr-2"> Adresse Email:</span>
                                                    {{ row.email
                                                    }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- proprietaire Column -->
                                            <ng-container matColumnDef="telephone">
                                                <mat-header-cell *matHeaderCellDef>Numéro Téléphone</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="['/syndic/details-proprietaire',row.id]">
                                                    <span class="mobile-label mr-2"> Numéro Téléphone:</span>
                                                    {{
                                                    row.telephone1}}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- statut Column -->
                                            <ng-container matColumnDef="statut">
                                                <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <span class="mobile-label mr-2"> Statut:</span>
                                                    <span class=" badge badge-square badge-square-opacity-success m-1"
                                                        *ngIf="row.active==true">Activé</span>
                                                    <span class=" badge badge-square badge-square-opacity-danger m-1"
                                                        *ngIf="row.active==false">Désactivé</span>

                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="action">
                                                <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <span class="mobile-label mr-2"> Action:</span>

                                                    <span class="fa fa-pencil-square-o primaryMaterial mr-1 mt-1"
                                                        *ngIf="can_edit?.permission" title="Modifier"
                                                        [routerLink]="['/syndic/modifier-proprietaire',row.id]"></span>

                                                    <span class="fa fa-power-off dangerMaterial   mr-1"
                                                        title="Désactiver"
                                                        *ngIf="row.active==true && can_active?.permission"
                                                        (click)="cancelProp(row.id)"></span>

                                                    <span class="fa fa-power-off successMaterial  mr-1" title="Activer"
                                                        *ngIf="row.active!=true && can_active?.permission"
                                                        (click)="activeProp(row.id)"></span>


                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="4">Aucune donnée trouvée

                                                </td>
                                            </tr>
                                        </mat-table>

                                        <mat-paginator #paginator [pageSize]="pageSize"
                                            [pageSizeOptions]="[5, 10, 25, 100]" [length]="dataSource.data.length"
                                            [showFirstLastButtons]="true">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!-- Co-Propriétaire tab -->
                    <ngb-tab *ngIf="can_listeC?.permission">
                        <ng-template ngbTabTitle>
                            <div (click)="updatetableC()">Co-propriétaire</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="card p-4">

                                <!-- row filter-->
                                <div class="row">
                                    <div class="col-xl col-lg col-md col-sm mb-2 pr-md-0">
                                        <input class="form-control" (keyup)="applyFilter1($event)"
                                            placeholder="Rechercher" #input>
                                    </div>
                                    <div class="col-xl-auto col-lg-auto col-md-auto col-sm-auto mb-2">
                                        <button class="btn btn-primary mb-sm-0 mb-3 alignRight" title="Ajouter"
                                            [routerLink]="[ '/syndic/ajouter-Coproprietaire' ]"
                                            *ngIf="can_addC?.permission">
                                            Ajouter
                                        </button>

                                    </div>
                                </div>


                                <div class="card" *ngIf="can_listeC?.permission">
                                    <div class="example-container mat-elevation-z8">
                                        <mat-table class="table" [dataSource]="dataSource1" matSort>

                                            <!-- nomcomplet Column -->
                                            <ng-container matColumnDef="nomcomplet">
                                                <mat-header-cell *matHeaderCellDef>Nom & prenom</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="['/syndic/details-proprietaire',row.id]">
                                                    <span class="mobile-label mr-2">Nom & prenom:</span>
                                                    {{ row.nomComplet }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- username Column -->
                                            <ng-container matColumnDef="username">
                                                <mat-header-cell *matHeaderCellDef>Nom d'utilisateur</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="['/syndic/details-proprietaire',row.id]">
                                                    <span class="mobile-label mr-2"> Nom d'utilisateur:</span>
                                                    {{
                                                    row.username }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- email Column -->
                                            <ng-container matColumnDef="email">
                                                <mat-header-cell *matHeaderCellDef>Adresse Email</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="['/syndic/details-proprietaire',row.id]">
                                                    <span class="mobile-label mr-2"> Adresse Email:</span>
                                                    {{ row.email
                                                    }}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- proprietaire Column -->
                                            <ng-container matColumnDef="telephone">
                                                <mat-header-cell *matHeaderCellDef>Numéro Téléphone</mat-header-cell>
                                                <mat-cell *matCellDef="let row"
                                                    [routerLink]="['/syndic/details-proprietaire',row.id]">
                                                    <span class="mobile-label mr-2"> Numéro Téléphone:</span>
                                                    {{row.telephone1}}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- statut Column -->
                                            <ng-container matColumnDef="statut">
                                                <mat-header-cell *matHeaderCellDef>Statut</mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <span class="mobile-label mr-2"> Statut:</span>
                                                    <span class=" badge badge-square badge-square-opacity-success m-1"
                                                        *ngIf="row.active==true">Activé</span>
                                                    <span class=" badge badge-square badge-square-opacity-danger m-1"
                                                        *ngIf="row.active==false">Désactivé</span>

                                                </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="action">
                                                <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                                                <mat-cell *matCellDef="let row">
                                                    <span class="mobile-label mr-2"> Action:</span>

                                                    <span class="fa fa-pencil-square-o primaryMaterial mr-1 mt-1"
                                                        *ngIf="can_edit?.permission" title="Modifier"
                                                        [routerLink]="['/syndic/modifier-proprietaire',row.id]"></span>

                                                    <span class="fa fa-power-off dangerMaterial   mr-1"
                                                        title="Désactiver"
                                                        *ngIf="row.active==true && can_active?.permission"
                                                        (click)="cancelCoProp(row.id)"></span>

                                                    <span class="fa fa-power-off successMaterial  mr-1" title="Activer"
                                                        *ngIf="row.active!=true && can_active?.permission"
                                                        (click)="activeCoProp(row.id)"></span>


                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns1"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns1"></mat-row>

                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="4">Aucune donnée trouvée

                                                </td>
                                            </tr>
                                        </mat-table>

                                        <mat-paginator #paginator1 [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                                            [length]="dataSource1.data.length" [showFirstLastButtons]="true">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>

                </ngb-tabset>
            </div>

        </div>
    </div>
</div>
