<div class="search-ui rtl-ps-none" perfectScrollbar [@animate]="{value:'*',params:{y:'120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
	<div class="search-header">
		<img src="./assets/images/syndic/axiasyndic-xl.png" alt="" class="logo">
		<button class="btn btn-icon bg-transparent float-right mt-2" (click)="searchService.searchOpen = false">
			<i class="i-Close-Window text-22 text-muted"></i>
		</button>
	</div>

	<input type="text" placeholder="Chercher ici" class="search-input" [formControl]="searchCtrl"  (input)="updateSearch($event)" autofocus>

	<div class="search-title">
		<span class="text-muted">Résultat de la recherche</span>
	</div>

	<div class="search-results list-horizontal">
		<div *ngFor="let item of results$ | async | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;"
			class="list-item col-md-12 p-0"
			[@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
			<div class="card o-hidden flex-row mb-4 d-flex">
				<div class="list-thumb d-flex">
					<!-- TUMBNAIL -->
					<div class="li-item-list-img">
						<span class="residence" *ngIf="item?.type?.code === 'E0062'" [innerHTML]="item?.type?.label | highlight: searchTerm">{{item?.type?.label}}</span>
						<span class="terrain" *ngIf="item?.type?.code === 'E0063'" [innerHTML]="item?.type?.label | highlight: searchTerm">{{item?.type?.label}}</span>
						<img *ngIf="item.photo" [src]="item?.photo" alt="">
						<img *ngIf="!item.photo"  [src]="'./assets/images/products/speaker-1.jpg'" alt="">
					</div>
				</div>
				<div class="flex-grow-1 pl-2 d-flex">
					<div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
						<!-- OTHER DATA -->
						<a href="/syndic/details-residence/{{item.cbmarq}}" class="w-30 w-sm-100" style="cursor: pointer">
						<div class="item-title" >
							<span [innerHTML]="item.intitule | highlight: searchTerm">{{item.intitule}}</span>
						</div>
						</a>
						<p class="m-0 text-muted text-small w-20 w-sm-100" [innerHTML]="item?.adresse | highlight: searchTerm">{{item.adresse}}</p>
						<p class="m-0 text-muted text-small w-15 w-sm-100">
						<span *ngIf="item?.type?.code === 'E0062'" >	{{item?.nbrAppartement}} Appartements</span>
						<span *ngIf="item?.type?.code === 'E0063'" >	{{item?.nbrAppartement}} Lots</span>
						</p>
						<!-- <p class="m-0 text-muted text-center text-small w-15 w-sm-100  d-lg-block item-actions">
							<a href="/syndic/modifier-residence/{{item.cbmarq}}" class="btn btn-primary border-primary btn-rounded ladda-button w-auto  mr-1"
									title="Modifier">
								<i class="nav-icon i-Pen-4 text-white font-weight-bold"></i>
							</a>
							<button class="btn btn-danger border-danger btn-rounded ladda-button w-auto" title="Supprimer">
								<i class="i-Close font-weight-bold"></i>
							</button>
						</p> -->
						<p class="m-0 text-muted text-center text-small w-15 w-sm-100  d-lg-block item-actions">

							<span class="fa fa-pencil-square-o primaryMaterial  mr-1"  *ngIf="can_edit?.permission"  title="Modifier" (click)="searchService.searchOpen = false" [routerLink]="['/syndic/modifier-residence',item.cbmarq ]" ></span>
							<!-- power-off // ban-->
							<span class="fa fa-power-off dangerMaterial  mr-1"  *ngIf="can_active?.permission" (click)="confirmBox(item.cbmarq,!item.active)" title="Désactiver"></span>
						</p>
					</div>
				
				</div>
			</div>
		</div>
	</div>
	<!-- PAGINATION CONTROL -->
	<div class="col-md-12 mt-3" *ngIf="results$ | async">
		<pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel=""></pagination-controls>
	</div>
</div>
