.residence {
  background-color: #4caf50;
  color: #fff;
  display: block;
  position: absolute;
  font-weight: 700;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 2px 30px;
  //top: 25px;
  //left: -31px;
  top: 13px;
  left: -41px;
  width: 140px;
  text-align: center;
  font-size: 13px;
}
.terrain {
  background-color: #663399;
  color: #fff;
  display: block;
  position: absolute;
  font-weight: 700;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  padding: 2px 30px;
  //top: 25px;
  //left: -31px;
  top: 13px;
  left: -44px;
  width: 140px;
  text-align: center;
  font-size: 13px;
}
