.at-right {
    text-align: right;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.title-info {
    color: #213c7f;
    font-weight: bold;
}
.cover {
    background-color: #e8ebf28a;
}
.icon-size {
    font-size: 35px;
    padding-right: 5px;
}
.alert{
    background-color: #edeff8;
}
.alert-warning {
    // box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 $warning;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.1), inset 0 2px 0 0 #edeff8 !important;
}
@media (max-width: 900px) {
    .mat-column-Nature {
        padding-left: 0px;
    }
  }
