<div class="">
    <ngx-spinner bdColor="rgba(255,255,255,0.7)"
        template="<img src='../../../../../assets/images/icons/loading-unscreen.gif'  width='350px' height='350px'/>"
        [fullScreen]="true">

        <h4 class="font-weight-bold" style="font-weight:bold;color: #1d4a85;margin-top: -35px!important;"> Chargement en
            cours ...
        </h4>
    </ngx-spinner>
    <div class="breadcrumb">
        <h1>Trésorerie</h1>
        <ul>
            <li><a [routerLink]="['/syndic/caisses']">Caisses</a></li>
            <li>Détails</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <!-- end of row-->
            <div class="card-body caisse">
                <ngb-tabset class="nav-fill">
                    <!-- Caisse -->
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div (click)="getListResponsables()">Responsable</div>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="card p-4">
                                <div class="cover cover1 pt-3 mb-3">
                                    <div class="card-body">
                                        <div class="row pb-3">

                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Cash-register-2"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Caisse</label>
                                                    <h5 class="title-info">{{detailsCaisse?.intitule}}</h5>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Cash-register-2"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Caisse Siège</label>
                                                    <h5 class="title-info">{{detailsCaisse?.caisseSiege?.intitule}}</h5>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Coins"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Solde</label>
                                                    <h5 class="title-info">{{detailsCaisse?.solde.toFixed(3)}}
                                                        {{infoPref?.devise}} </h5>
                                                </div>
                                            </div>


                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Car-Coins"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Transfert Encours</label>
                                                    <h5 class="title-info">
                                                        {{detailsCaisse?.encoursTransfert.toFixed(3)}}
                                                        {{infoPref?.devise}} </h5>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Financial"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Tolal Décaissement</label>
                                                    <h5 class="title-info">
                                                        {{detailsCaisse?.totalDecaissement?.toFixed(3)}}
                                                        {{infoPref?.devise}} </h5>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Money-Bag"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Tolal Encaissement</label>
                                                    <h5 class="title-info">
                                                        {{detailsCaisse?.totalEncaissement?.toFixed(3)}}
                                                        {{infoPref?.devise}} </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mr-0 pr-0 at-right">
                                    <div class="btn-groupcol-sm-1 ">
                                        <button type="button" class="btn btn-primary m-1"
                                            (click)="openResponsable(modalBasic,cbmarq)">Choisir
                                            Responsable</button>
                                    </div>
                                </div>
                                <div class="row d-flex flex-md-row flex-sm-column px-0">
                                    <div *ngIf="detailsCaisse?.responsables.length==0" class="col-md-12 px-0 mx-0 my-3">
                                        <ngb-alert
                                            class="alert-card alert-warning mb-4 alert text-primary alert-dismissible"
                                            role="alert">
                                            <strong class="text-capitalize">Information !</strong> Cette caisse ne
                                            contient
                                            pas des responsables !
                                        </ngb-alert>
                                    </div>
                                    <div *ngFor="let responsable of detailsCaisse?.responsables" class="col-md-3 col-sm-4 col-xs-12 pt-3">
                                        <div class="card card-profile-1 mb-4">
                                            <i class="cursor-close i-Close-Window at-right m-2"
                                                (click)="confirmBox(typeCaisse,cbmarq,responsable.id)"></i>
                                            <div class="card-body text-center">
                                                <div class="avatar box-shadow-2 mb-3">
                                                    <img *ngIf="responsable?.photo==null"
                                                        src="assets/images/faces/16.jpg" alt="">
                                                    <img *ngIf="responsable?.photo!=null" [src]="responsable?.photo"
                                                        alt="">
                                                </div>
                                                <h5 class="m-0">{{responsable?.nomComplet}}</h5>
                                                <p class="mt-0">{{responsable?.email}}</p>
                                                <p class="mt-0">N° tel :{{responsable?.telephone1}}</p>
                                                <button class="btn btn-primary"
                                                    [routerLink]="['/syndic/details-utilisateur/',responsable.id]">Profil
                                                    {{responsable?.nomComplet}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <div>Mouvement</div>
                            <!--(click)="getMouvement()"-->
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="card p-4">
                                <div class="cover cover1 pt-3 mb-3 pb-4">
                                    <div class="card-body">
                                        <div class="row pb-3">

                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Cash-register-2"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Caisse</label>
                                                    <h5 class="title-info">{{detailsCaisse?.intitule}}</h5>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Cash-register-2"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Caisse Siège</label>
                                                    <h5 class="title-info">{{detailsCaisse?.caisseSiege?.intitule}}</h5>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Coins"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Solde</label>
                                                    <h5 class="title-info">{{detailsCaisse?.solde.toFixed(3)}}
                                                        {{infoPref?.devise}} </h5>
                                                </div>
                                            </div>


                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Car-Coins"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Transfert Encours</label>
                                                    <h5 class="title-info">
                                                        {{detailsCaisse?.encoursTransfert.toFixed(3)}}
                                                        {{infoPref?.devise}} </h5>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Financial"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Tolal Décaissement</label>
                                                    <h5 class="title-info">
                                                        {{detailsCaisse?.totalDecaissement?.toFixed(3)}}
                                                        {{infoPref?.devise}} </h5>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 flex-row mb-2">
                                                <i class="nav-icon icon-size i-Money-Bag"></i>
                                                <div class="item-info">
                                                    <label class="mb-0">Tolal Encaissement</label>
                                                    <h5 class="title-info">{{detailsCaisse?.totalEncaissement}}
                                                        {{infoPref?.devise}} </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mr-0 px-0 ">
                                    <div class="row mx-0 form-group">
                                        <label
                                            class="col-lg-auto col-xl-auto col-md-auto col-sm-auto font-weight-bold text-primary text-18 col-form-label pl-0 pr-3 ">Filtre
                                            de la recherche </label>
                                        <!-- <input type="text" name="daterange" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control" /> -->
                                        <input type="text" ngxDaterangepickerMd [(ngModel)]="selected"
                                            [autoApply]="false" [showCustomRangeLabel]="true" [options]="singlePicker"
                                            (ngModelChange)="onChange($event)" [alwaysShowCalendars]="true"
                                            [ranges]="ranges" [linkedCalendars]="true" [showClearButton]="true"
                                            class="col-xl col-lg col-md col-sm-12 form-control" [keepCalendarOpeningWithRange]="true"
                                            placeholder="Choisir la date ..." />
                                    </div>
                                    <div class="card">
                                        <!-- new table -->
                                        <div class="example-container mat-elevation-z8">
                                            <!-- tableau  -->
                                            <mat-table class="table" [dataSource]="dataSource" matSort>

                                                <!--  Column -->
                                                <ng-container matColumnDef="Nature">
                                                    <mat-header-cell [ngClass]="'th-left'" *matHeaderCellDef>
                                                        Nature
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <span class="mobile-label mr-2"> Nature:</span>
                                                        <span
                                                            class=" badge badge-square badge-square-opacity-{{row.nature?.style}} m-1">{{row.nature?.label}}</span>

                                                    </mat-cell>

                                                </ng-container>
                                                <!--  Column -->
                                                <ng-container matColumnDef="Type">
                                                    <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <span class="mobile-label mr-2"> Type:</span>
                                                        <span
                                                            class=" badge badge-square badge-square-opacity-{{row.type?.style}} m-1">{{row.type?.label}}</span>

                                                    </mat-cell>
                                                </ng-container>

                                                <!-- Montant -->
                                                <ng-container matColumnDef="Montant">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Montant
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <span class="mobile-label mr-2"> Montant:</span>
                                                        <span>{{row.montant}} {{infoPref?.devise}} </span>
                                                    </mat-cell>

                                                </ng-container>
                                                <!-- date -->
                                                <ng-container matColumnDef="Date">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Date
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <span class="mobile-label mr-2"> Date:</span>
                                                        <span>{{row.date}}</span>
                                                    </mat-cell>

                                                </ng-container>

                                                <ng-container matColumnDef="Mode de payement">
                                                    <mat-header-cell *matHeaderCellDef>
                                                        Mode de payement
                                                    </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <span class="mobile-label mr-2"> Mode de payement:</span>
                                                        <span
                                                            class="font-weight-500 badge badge-outline-success text-center text-{{row.modepayement?.style}}">{{row.modepayement?.label}}</span>
                                                    </mat-cell>

                                                </ng-container>
                                                <ng-container matColumnDef="Action">
                                                    <mat-header-cell *matHeaderCellDef>Action </mat-header-cell>
                                                    <mat-cell *matCellDef="let row">
                                                        <span class="mobile-label mr-2"> Action:</span>
                                                        <span class="fa fa-info-circle mr-1" title='Détails règlement'
                                                            *ngIf="row.type.code=='E0070'"
                                                            [routerLink]="[ '/syndic/details-reglement/', row?.source ]">
                                                        </span>
                                                        <span class="fa fa-info-circle mr-1" title='Détails transfert'
                                                            *ngIf="row.type.code=='E0068'"
                                                            [routerLink]="[ '/syndic/details-transfert/', row?.source ]">
                                                        </span>
                                                        <span class="fa fa-info-circle mr-1" title='Détails règlement'
                                                            *ngIf="row.type.code=='E0069'"
                                                            [routerLink]="[ '/syndic/details-depense/', row?.source ]">
                                                        </span>


                                                        <!------------------------------->


                                                    </mat-cell>
                                                </ng-container>

                                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                                                <!-- Row shown when there is no matching data. -->
                                                <tr class="mat-row" *matNoDataRow>
                                                    <td class="mat-cell" style="text-align: center" colspan="8">Aucune
                                                        donnée trouvée
                                                    </td>
                                                </tr>
                                                <div *ngIf="dataSource.data?.length === 0"></div>
                                            </mat-table>

                                            <mat-paginator #paginator [pageSize]="pageSize"
                                                [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
                                            </mat-paginator>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add Responsables -->
<ng-template #modalBasic let-modal>
    <div class="modal-header">
        <h4 *ngIf="!modeEdit" class="modal-title font-weight-bold " id="modal-basic-title3">Ajouter responsable(s) de la
            caisse
        </h4>
        <h4 *ngIf="modeEdit" class="modal-title font-weight-bold " id="modal-basic-title3">Modifier une caisse Siège
        </h4>
    </div>
    <form (ngSubmit)="submitResponsable()" [formGroup]="formResponsable" class=" col-md-12">
        <div class="modal-body">
            <div class="col-sm form-group ">
                <label class=" col-form-label ">Responsables </label>
                <div class="col-sm-12 pl-0">
                    <ng-select [clearable]="true" [items]="listResponsables" formControlName="responsabels"
                        [multiple]="true" bindLabel="nomComplet" placeholder="Choisir un/des responsable(s) "
                        bindValue="id"
                        [ngClass]="{'is-invalid':submitted &&  formResponsable.controls.responsabels.errors  || (formResponsable.controls.responsabels.errors  && formResponsable.get('responsabels').touched )}">
                    </ng-select>
                </div>
                <div class="invalid-feedback col-12 "
                    *ngIf="submitted &&  formResponsable.controls.responsabels.errors || (formResponsable.controls.responsabels.errors  && formResponsable.get('responsabels').touched )">
                    Veuillez remplir ce champs !
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Enregistrer </button>
            <button class="btn btn-outline-dark " type="reset" (click)="modal.close()">Annuler</button>
        </div>
    </form>
</ng-template>
<!-- end Modal  Add Responsables -->
